[2019-12-23 19:38] #2264 closed

[2019-12-23 19:40] tlei123 commented on #3586
@mmiddaugh , for your review, here's the [Test Plan](https://dsvavsp.testrail.io/index.php?/plans/view/38) on TestRail.com (our online Test Case Management System (TCMS)).

I just emailed login credentials to you separately.

Please ping me on Slack when you're ready, and I'll walk you through TestRail.com.

Thanks much!

[2019-12-23 20:02] jason-gcio commented on #4301
Looks good @sporeboy, nice job.

[2019-12-23 20:02] #4301 closed

[2019-12-23 20:08] thatmattjohnson commented on #2655
PR review/UAT completed; all looks good. Closing this issue.

[2019-12-23 20:08] #2655 closed

[2019-12-23 20:08] ccruzgra commented on #4394
Discovery artifacts: https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/education-careers/stem/research/wizard-update/discovery-artifacts

Looks like the last 1995 application process flow we have does not include the STEM questions.

[2019-12-23 20:22] billfienberg commented on #4410
Now that the last of the migration PRs have been merged, the [`find-vets-links` script](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/scripts/find-vets-links.sh) has been run on both the `va.gov-team` and `va.gov-team-sensitive` repos.

I uploaded the files to Slack because I wasn't able to drag and drop a `.csv` file to ZenHub.

[2019-12-23 20:49] cohnjesse opened #4412 "Make UI Updates to "View Dependents" Based on New Design"
## Goal
We have received a round of UI updates from design based on their own internal reviews and we need to update the front end to reflect these changes.

## Considerations
- [Updated mockup](https://xd.adobe.com/view/8cdfe895-c907-4662-7234-305056778b2a-faee/screen/61211510-a9de-477c-950c-ae7fe5d2ce65/View-Dependents-2/)

## Tasks
The tasks to update include:
- text changes,
- adding a button

[2019-12-23 21:24] omgitsbillryan opened #4413 "Notifications for Unrecognized Source-App-Name Headers"
## The Problem
When `vets-website` sends a `Source-App-Name` header with a value that is not in the whitelist, we don't currently have any notifications for it. This scenario can indicate a mismatch between `vets-website` & `vets-api` config.

Logging this event to Sentry could expose `vets-api` to an attack where a malicious client overloads our sidekiq worker queues.

## Additional Context
`vets

[2019-12-24 14:55] nedierecel commented on #406
@amycesal @jonwehausen @joanneesteban I followed up with Domo yesterday by phone and email for clarity on how pricing/tracking works for the embedded users. I imagine with the holidays that he is out, but I'll check in when I return.

[2019-12-24 15:25] johnpaulashenfelter opened #4414 "PPMS data for Lance Sanchez"
Provide staging data for Lance, https://dsva.slack.com/archives/CBU0KDSB1/p1576616060074600

JP Started on 12/18, no luck on staging server with provided curl commands.

[2019-12-24 15:26] johnpaulashenfelter commented on #4414
Got updated info on 12/20 for a different set of parameters.

[2019-12-24 15:26] johnpaulashenfelter commented on #4414
Supplied info to Lance from staging using the new parameters on 12/23

[2019-12-24 15:26] #4414 closed

[2019-12-24 15:29] nedierecel commented on #3043
@jonwehausen For your review, may you please copy and paste this beta funnel into your Custom Reports: https://analytics.google.com/analytics/web/template?uid=z2FHa7DBRrO32jWLrdBiPw

This funnel is based on this request from the report mockup:![image.png](https://images.zenhubusercontent.com/5b295b9ff378ea1890b3d77e/9f1172cd-703f-4b26-8a73-82dd68cf1767)

**Modifications:**
1. First step in this fu

[2019-12-24 15:50] nedierecel commented on #2919
@joanneesteban I sent a calendar invitation for 1/7 for a 90-minute session. Two follow-ups please:

- [ ] May I grab your Zoom?
- [ ] I have not followed up with pre-work if you can please distribute.

[2019-12-24 15:51] nedierecel commented on #3771
@joanneesteban This is scheduled for Alayna and team on 1/3 from 2-4. Similar to the BAM2 workshop:

- [ ] May I grab your Zoom link?
- [ ] I have not followed up with pre-work if you can please distribute.

[2019-12-24 16:50] alexpappasoddball opened #4415 "Aggregate & Collect down time data for external services"
## Problem
In our current architecture we do not aggregate or store down time experienced by external services (outside of vets-api).  As we work towards building dashboards to expose these metrics, the first step will be to identify the external services and the metrics required, aggregate that data for a period of time so that we can easily view/report on this data.

## VSP Q1 + Q2 2020 OKRs
O3:

[2019-12-24 16:59] alexpappasoddball opened #4416 "Rails Engine vs Gems Discovery"
## Problem

We are currently using Rails Engine to power our front end applications which the platform team is supporting, which means we support all the FE applications utilizing it.  This increases our PR load and complexity to support each team (and will grow as more VFS teams are added to the platform).  Ultimately we want the application team to be responsible for the development and support

[2019-12-24 17:07] alexpappasoddball opened #4417 "Update API documentation to be OpenAPI 3.0 standard compliant"
## Problem
We are currently using OpenAPI 2.0, and OpenAPI 3.0 has been released some major updates.  It would be a worth while investigation to see if these updates are valuable to our application and what the feasibility of upgrading would be.

## VSP Q1 + Q2 2020 OKRs
O5: All customers comply with the Platform's standards.

## Measuring Success

## Details and Notes

- There are rumors that Lig

[2019-12-24 17:13] alexpappasoddball opened #4418 "Document Strategy to Iterate API V0 to V1 for vets-api"
# Problem
There is currently no official strategy or guidelines around creating new (V1) endpoints.  Without a defined strategy we will certainly run into issues with existing apps utilizing deprecated end points.  There needs to be clear guidelines to when and how a new (V1) endpoint is created, when and how existing apps switch where they point, and when that old end point is deprecated.

## VSP

[2019-12-24 17:19] alexpappasoddball opened #4419 "Implement new backend mock data strategy"
# Problem

It is difficult for front end developers to test their application using the current mock data solution (betamocks) that we have provided them.  It is time consuming to configure and utilize.  We need to provide an easier way for front end developers to test an endpoint with very little, to no configuration required.  Simply send a request to an endpoint in the correct format and receiv

[2019-12-24 17:24] alexpappasoddball opened #4420 "Provide a Backend Demo App to VFS teams"
# Problem

There are no standards for building end points.  A lot of our backends are built differently and in order to grow the platform in a reliable manner we need to have some commonality in our backend services.

## VSP Q1 + Q2 2020 OKRs

O5: All customers comply with the Platform's standards.

## Measuring Success

# Details and Notes

### Hypothesis

### Areas for Discovery

[2019-12-24 17:29] ccruzgra commented on #4406
Prototype link (WIP): https://bahdigital.invisionapp.com/share/YUIACDIH34S

[2019-12-24 19:26] #3975 closed

[2019-12-26 14:37] rianfowler commented on #1676
@brandonrapp @jhonnyoddball:

@jenstrickland pointed out this Tweet to me: https://twitter.com/kavih/status/1203065786664833024?s=11

basically, USWDS has a [font](https://github.com/uswds/public-sans) we may be able to use in place of the [Source Sans Pro](https://design.va.gov/design/typography#fonts) currently in the VA design system. that might save us a few kb.

[2019-12-26 15:49] #4283 closed

[2019-12-26 15:57] omgitsbillryan opened #4421 "Configuration for Source-App-Name Header Whitelist"
## The Problem
`vets-api` currently maintains a whitelist of `Source-App-Name` header values. These values are generated within `vets-website` (using `yarn apps`). These two sources of truth are not connected in any way and will diverge over time.

## Additional Context
`vets-website` includes a header in each API request named `Source-App-Name` with a value that represents the front-end app that

[2019-12-26 16:03] rianfowler opened #4422 "Discovery: Develop a backup strategy for generating downtime notifications when vets-api is not available"
# Overview

- an AWS migration requires downtime of vets-api (likely downtime: 10 minutes, max downtime: 2 hours)
- changes need to be made to vets-website to properly inform veterans about the downtime
  - downtime notifications do not support the required scope, messaging, or behavior
  - downtime notifications rely on vets-api for their display state

# Desired behavior

- [ ] schedule display

[2019-12-26 16:04] #4297 closed

[2019-12-26 18:02] tlei123 opened #4423 "Update VSA-QA Process further"
Update VSA-QA Process to change how QA Engineers get advance notice of upcoming QA test planning & manual UI testing needs from VSA teams.

The current VSA-QA Process stipulates opening a Test Plan Issue by VSA product teams at least 2 Sprints ahead of when manual UI-testing should start.  However, per VSA Authenticated Experience team PM @Justin-Pickett, Issues should not last more than a Sprint.

[2019-12-26 18:44] joanneesteban commented on #2919
@nedierecel
Following up here (also from our Slack convo)
- The Google event won't allow me to edit, so we can use the same Zoom info from the Caregiver workshop:

- Nick has the pre-work from our initial conversations with him earlier in the Fall, but I'll remind him of that portion on Slack

[2019-12-26 18:54] camerontesterman commented on #4165
Blocked as Niranjan is out for the holidays, will need to discuss BIP Claims Status API with him after he returns.

[2019-12-26 19:00] joanneesteban commented on #2935
@Kimberley2019 @clantosswett As we set up the process, one thing we can do is add the Call Center process to the [Analytics & Insights onboarding](https://docs.google.com/presentation/d/1TKYK88pHqNAJ0HrGtXIjnDYPQT-ccBQcOTy64kd0cd4/edit#slide=id.g5f29ec5fc2_4_71) that we do for each onboarding VFS team so we can reduce the amount of meetings/bloat for VFS teams. The onboarding sessions are schedule

[2019-12-26 19:06] AnneHurley commented on #3020
@RLHecht  The main HMM page, with the new accordion info about replacements in the Q&A is approved to go live.

[2019-12-26 19:10] jhonnyoddball commented on #4187
### **Prometheus - Web Performance Monitoring**

it does not provide any real and liable data to be used for performance metrics

[2019-12-26 19:13] rileyorr commented on #3425
@wygonikGCIO Our synthesis can be viewed here: https://miro.com/welcomeonboard/2iapiLjAIxEYf4gZo8PQERDx47gOJ3XJEWJ2QAHzI93nyvh0BN0Yw50oVd34PqS8

[2019-12-26 19:25] AnneHurley commented on #2215
@mnorthuis @Karak888 @RLHecht  All Burials redirects are mapped and ready to go live. These are the only Team Site pages we are keeping on "cem.va.gov" because they have images:

1. Types https://www.cem.va.gov/cem/hmm/types.asp
2. Pre WWI era https://www.cem.va.gov/cem/hmm/pre_WWI_era.asp
3. Emblems https://www.cem.va.gov/cem/hmm/emblems.asp

4. Replacements: https://www.cem.va.gov/cem/hmm/replac

[2019-12-26 19:26] AnneHurley commented on #2964
@RLHecht  This is ready to go live when content freeze is lifted; no longer waiting to push all Burials content live together.

[2019-12-26 19:28] joanneesteban commented on #2506
High priority Backend data request already sent to the Backend Tools team. Will be in discussion with BE on future data points. Closing this ticket.

[2019-12-26 19:28] #2506 closed

[2019-12-26 19:29] joanneesteban commented on #460
@nedierecel Yup! Closing this ticket.

[2019-12-26 19:29] #460 closed

[2019-12-26 19:30] joanneesteban commented on #459
Will repurpose this ticket to finish the export of 2017-2019 ForeSee data.

[2019-12-26 19:50] AnneHurley commented on #3022
@RLHecht  Ready to go live when freeze is lifted.

[2019-12-26 19:59] AnneHurley commented on #3020
@mnorthuis  @Karak888 @RLHecht
The main HMM page, preview-prod.vfs.va.gov/preview?nodeId=859, is ready to go live when content freeze is lifted.

As noted in #2215, Several legacy pages are not being redirected at this time. They include:
https://www.cem.va.gov/cem/hmm/types.asp
https://www.cem.va.gov/cem/hmm/pre_WWI_era.asp
https://www.cem.va.gov/cem/hmm/emblems.asp
^ these three are staying on T

[2019-12-26 20:38] 1Copenut opened #4425 "Create a TestRail test case for teams to run preliminary 508 testing"

[2019-12-26 20:47] RLHecht opened #4426 "Documenting content team workflow process"
## User Story or Problem Statement
As a member of the Public Websites content team, I need to understand the workflow process of pages from creation to publication so I can better do my job.

## Goal
Create a document that all content team members can refer to when working on new or revised pages for VA.gov. This will be a step-by-step guide of how to take a Tier 1 page from concept to publication

[2019-12-26 21:09] meganhkelley opened #4427 "Customer Support KPI Tracking - per VSP Team"
## Problem Statement

How might we implement tracking of customer support for VFS teams, so that we can identify areas with high burdens of manual support for improvement and so that we can track volume of support by team and practice area over time?

## VSP Objective (Q1 & Q2 2020)

O4: All of the Platform’s KPIs are easily measured and shared openly.

## Measuring Success (KRs/KPIs)

- [VSP KR]

[2019-12-26 21:42] jhonnyoddball commented on #4187
### **Web Performance Monitoring Tools**

**Synthetic Monitoring** - The site receives a check once a minute or so
**RUM** - Receives the data directly from the site because the script runs on the page.

| Monitoring Tool | RUM | Synthetic | Price | Score |
| :--- | :---: | :---: | :--- | :---: |
| [Akamai - mPulse](https://www.akamai.com/us/en/products/performance/mpulse-real-user-monitoring.jsp)

[2019-12-26 22:08] meganhkelley commented on #3676
Initial ideas from @mnorthuis: A few options for testing site IA —

- Analytics should be tracked for % of unique users that use top nav and % of unique users that use search. This number wouldn't be used on its own, but would be used as a benchmark and trending tool and as supplemental data.
- To test straight up core IA (as in the organization of content on the site), I would recommend a tree te

[2019-12-26 22:23] Mottie commented on #3801
The context of this ticket makes it seem like changing the wording would be the best way to fix this issue; e.g. "Please go back to the start of step 2 and add it."

But since the step to add a new condition is about 8 steps prior to this page, depending on the choices in-between, I think a better solution would be to add a link that takes the user back to that specific step.

![Screen Shot 2019-1

[2019-12-26 22:25] jchasia-adhoc opened #4429 "VA.gov Testing Tools - Assess external service providers' staging backends"
**Problem Statement**
We need to ensure the availability of staging backends is at high enough level to meet VFS and VSP teams’ QA and demo needs.

**Hypothesis**
The current set of staging test accounts will meet teams’ QA and demo needs if we ensure availability of staging backends is at an acceptable level.

**Goal**
Validate hypothesis by having key external service providers confirm:
- Availa

[2019-12-26 23:08] jchasia-adhoc opened #4430 "Documentation - Update user story template to address QA pain points"
**Problem Statement**
VFS QA does not receive robust user stories with user scenarios and flows full defined which leads to testing . gaps.

**Goal**
Update the [user story template](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/.github/ISSUE_TEMPLATE/user-story-template.md) to provide QA with sufficient information to successfully create e2e test cases for every user p

[2019-12-27 13:27] artistgreen commented on #4386
@Justin-Pickett @bradl3yC - I removed the benefit form screens - this ticket focuses on the profile form.

[2019-12-27 14:12] amyknox commented on #4396
Booz team to reach out to DEPO analytics folks for insights into Wizard tracking.

[2019-12-27 14:12] RLHecht commented on #4426
@peggygannon @AnneHurley Here is the Word doc for the copy flow process. Can you both take a look and let me know what's missing or unclear? I also highlighted some questions I didn't know the answers to. Thanks![https://app.zenhub.com/files/133843125/82beee36-639e-4d52-93ae-f4766ecfd25d/download](https://app.zenhub.com/files/133843125/82beee36-639e-4d52-93ae-f4766ecfd25d/download)

[2019-12-27 14:13] ccruzgra commented on #4394
Updated process flow: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/education-careers/stem/research/wizard-update/VA%20Form%2022-1995%20with%20STEM%20Process%20Flow%20122419%20v0.3.pdf

[2019-12-27 15:02] sporeboy opened #4431 "Request Design Intent Review for "View Dependents" (eBenefits)"
## eBenefits

View Dependents page

## Checkpoint stage

- **Design Intent** (for early discussions about needs, priorities, concepts, research planning, and direction)

### Where in the process is this?

- Initial mockups

## Link to mockups

[Initial mockups](https://xd.adobe.com/view/8cdfe895-c907-4662-7234-305056778b2a-faee/screen/61211510-a9de-477c-950c-ae7fe5d2ce65/View-Dependents-2)

## Poi

[2019-12-27 15:06] sporeboy commented on #4126
Design intent review scheduled per Jennifer Strickland's process outline; issue #4431 generated: https://github.com/department-of-veterans-affairs/va.gov-team/issues/4431

[2019-12-27 16:03] #4243 closed

[2019-12-27 16:07] jhonnyoddball commented on #4187
### **AKAMAI - MPULSE**

https://www.akamai.com/us/en/products/performance/mpulse-real-user-monitoring.jsp
https://developer.akamai.com/akamai-mpulse-real-user-monitoring-solution

- Mainly a RUM solution
- Most information can be found in GA
- Act on Problematic Resources
- Provide alerts

**PRICE**: Upon request
**DEMO**: Upon request.
**SCORE**: 1

[2019-12-27 16:09] meganhkelley opened #4432 "Documentation site - iterate on large file support solution"
## User Story

As a team member building on or in support of VA.gov, I need a place other than GitHub to host large files, so that I can share design, video, and other large files with my team members and publicly.

## VSP Objective (Q1 & Q2 2020)

O1: Any volume of simultaneous customers have a delightful, self-service, end-to-end experience using the Platform to build on VA.gov.

## Measuring Su

[2019-12-27 16:15] erikphansen opened #4433 "address validation modal radio button selection disappears (again)"
![movie.gif.gif](https://images.zenhubusercontent.com/5b4d0309a8d8be5bda39303e/bfb4fe58-5291-4c81-81cd-a849be2c96e6)

[2019-12-27 16:21] jhonnyoddball commented on #4187
### **DOTCOM-MONITOR**

https://www.dotcom-monitor.com/website-speed-monitoring/

- Mostly RUM with a little of Synthetic
- Detailed waterfall charts show root cause of issues.
- Video playback and screenshots of errors.
- Historical & real-time element reporting.
- Provide alerts

**PRICE**: Confusing (https://www.dotcom-monitor.com/pricing/)
**DEMO**: Upon request.
**SCORE**: 1

[2019-12-27 16:22] jhonnyoddball commented on #4187
### **UPTRENDS**

https://www.uptrends.com/products/web-performance-monitoring

- Includes RUM and Synthetic
- Get alerted on website speed, the total number of bytes, or missing content
- Third party monitoring
- Provide alerts

**PRICE**: Varies, $50 p/m + RUM usage  (https://www.uptrends.com/pricing)
**DEMO**: Upon request.
**SCORE**: 2

[2019-12-27 16:26] jhonnyoddball commented on #4187
### **DAREBOOST**

https://www.dareboost.com/en

- Website Speed Test
- Installation-free (only Synthetic)
- HTML, images, JavaScript, CSS analysis
- Tool provides solutions, ordered by priority
- Comparison feature
- Performance budget tool
- Custom alerts
- User Journey - Allows you to replicate any user navigation scenario

**PRICE**: $356 p/m (https://www.dareboost.com/en/offers#ifbefs_nfov)
*

[2019-12-27 16:36] jhonnyoddball commented on #4187
### **RAYGUN**

https://raygun.com/

- Real User Monitoring in minutes using a lightweight library
- Automatically identify front-end performance issues causing slow and frustrating load times.
- Mobile app performance

**PRICE**: $649 p/m (https://raygun.com/platform/real-user-monitoring#rum-business)
**DEMO**: Upon request.
**SCORE**: 1

[2019-12-27 16:37] jhonnyoddball commented on #4187
### **RIGOR**

https://rigor.com/

- Synthetic monitoring with an intelligent optimization engine
- Integrate Performance Management Throughout the DevOps Lifecycle
- Seamless Integration with Your Favorite Real User Monitoring (RUM) Solution
- Test Performance in Your Jenkins Build with the New Rigor Optimization Plugin

**PRICE**: No pricing. Only after trial.
**DEMO**: Upon request.
**SCORE**:

[2019-12-27 16:38] LindseySaari commented on #4415
As a start: We currently have "uptime" metrics (percentages) for our backend services by endpoint. The data may need to be aggregated for a longer period of time. http://grafana.vfs.va.gov/d/000000050/backend-service-report?orgId=1

[2019-12-27 16:42] jhonnyoddball commented on #4187
### **DATADOG**

https://www.datadoghq.com

**RUM** (https://www.datadoghq.com/rum/)

- Visualize load times, frontend errors, and page dependencies
- Correlate business and application metrics
- Troubleshoot quickly with app, infrastructure, and business metrics in a single dashboard
- Uncover an incident's root cause with full-stack context

**Synthetic** (https://www.datadoghq.com/synthetics/)

[2019-12-27 17:01] jason-gcio commented on #4104
@peggygannon I think we are good to close this, thanks again!

[2019-12-27 17:01] #4126 closed

[2019-12-27 17:09] Mottie commented on #3814
The ITF component doesn't appear to check the expiration date. It searches through all ITFs, but only checks if there is an active ITF. If an active ITF is not found, it _uses the last ITF entry_. This entry is then set as the current ITF ([ref](https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/applications/disability-benefits/all-claims/reducers/itf.js)) .

Once the c

[2019-12-27 17:10] AnneHurley commented on #3019
@RLHecht  This is ready to publish when freeze is lifted.

[2019-12-27 17:21] AnneHurley commented on #3040
@Karak888  @jenniferlee-dsva  @RLHecht  @mnorthuis  - I checked and have not heard back from Angie and team, so I re-sent the email with the Prod links and asking for feedback on the two new DIC pages. I will check back in with them Monday.

[2019-12-27 17:33] AnneHurley opened #4480 "Plain Language writing exercises for VA.gov writers, editors, and job candidates"
This issue can host writing exercises/tests given to new writers, editors, and job candidates for VA.gov content roles. The first document is a legacy page in Burials. We are tasked with taking that content and rewriting/editing it into plain language according to our VA stylebook, and adding it into an existing page as an accordion question and answer.

@AnneHurley  can review and give feedback o

[2019-12-27 18:00] jhonnyoddball commented on #4187
### **SPEEDCURVE**

It is by far the most complete of all. It has both RUM and synthetic monitoring.  It has most of all competitor's features and more.

**RUM** (https://speedcurve.com/features/lux/)

- A lot of metrics
- Page Details
- Navigation timing
- Paint timing
- CPU time
- User timing
- Page design
- Interaction Metrics
- Customer Data
- Javascript Errors

Data collected by RUM:
https://

[2019-12-27 18:30] AnneHurley commented on #4426
New step
***Depending on the extent of the revisions, the writer may need to create copy decks for the SMEs/stakeholders to review. See sample template attached. Be sure to include:

- - The correct naming convention (see example)
- - The official Veterans Affairs logo
- - Introductory copy that sets up the why and how of “plain language” and specific questions/background if applicable
- - Links t

[2019-12-27 19:01] ambikaroos opened #4434 "3901"

[2019-12-27 19:01] ambikaroos opened #4435 "[Login/SSO] Complete SSOe integration work"

[2019-12-27 19:20] ambikaroos opened #4436 "[SSO-Login] Standalone login page"
**User Story**
As a Veteran receiving some or all of my health records via Cerner's portal (HealtheLife), I need a login URL so that I can sign in from one centralized location even if I try to access HealtheLife directly.

[2019-12-27 19:21] ambikaroos opened #4437 "[SSO-Login] Alert box updates on VA.gov Health pages"
**User Story**
As a Veteran who is a patient at a facility using Cerner, I need the alert boxes on VA.gov health pages (Messaging, Medical Records, Prescriptions, Scheduling, Test Results) to show me which patient portal I need to go to in the alert box after I've authenticated

[2019-12-27 19:21] ambikaroos opened #4438 "[SSO-Login] My VA dashboard updates"
**User Story**
As a Veteran receiving some or all of my health records via Cerner's portal (HealtheLife), I need My VA (https://www.va.gov/my-va/) dashboard experience to give me correct patient portal information after I have logged in.

_Note that this epic used to include work needed to My Health (va.gov/my-health) which is no longer needed_

[2019-12-27 19:26] ambikaroos opened #4439 "Frontend app with self-contained URL"
Implement frontend app reachable at self-contained URL that initiates sign-in flow

[2019-12-27 19:26] ambikaroos opened #4440 "Parameters to identify invoking application and state"
When My VA Health (Cerner) triggers the standalone login page, they need to at a minimum pass a parameter that identifies the application. Additionally they may desire a state/relaystate type parameter that can be echoed back so that they can return user to any specific state/context that they were in before redirecting.

Assumption: the base callback URL will be statically configured for each app

[2019-12-27 19:27] ambikaroos opened #4441 "V1 sessions controller"
We need to redirect users back to where they came; need to maintain the state across redirects.
Implement/update v1 sessions controller - may need stateful mapping in redis for callback state.

[2019-12-27 19:28] ambikaroos opened #4442 "Per-app callback config"
Add configuration for per-app callback/redirect URL

[2019-12-27 19:29] ambikaroos opened #4443 "Audit sign-in page"
Audit implementation of multi-app standalone sign-in page to make sure we're not introducing any open redirect/cross site request forgery scenarios.

[2019-12-27 19:29] ambikaroos opened #4444 "Reusable alert component"
Implement reusable alert component to be embedded in health tools that presents destination selection as needed. Needs to have options navigating to appropriate services (HEL/MHV) based on user profile.

[2019-12-27 19:30] ambikaroos opened #4445 "Update existing frontend app"
Update existing frontend app to have authenticated logic that redirects or presents destination selection dialog as needed.

[2019-12-27 19:35] ccruzgra commented on #4406
We shared some of our initial explorations on the Search Results page for both desktop and mobile displays with DEPO for an initial design review. Based on their feedback, we will update the prototype, as necessary.

[2019-12-27 19:38] ccruzgra commented on #4397
Reviewed plan and shared back with Amy Knox earlier today.

[2019-12-27 19:40] ccruzgra commented on #4406
Github documentation for prototypes: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/education-careers/school-comparison-tool/design/caution-flags/ui/readme.md

[2019-12-27 20:08] pjhill opened #4446 "Explore integration between TestRail and Jenkins"
As a tester on VSP, my test plans and test reporting would benefit from an integration between output from Jenkins tasks like E2E test results and TestRail test plans.  With such an integration, a tester would be able to rely on automated testing to provide coverage for portions of the changes being tested.

- [ ] Consider using [Pangolin](https://www.agiletestware.com/docs/pangolin-docs/en/latest

[2019-12-27 20:47] ccruzgra opened #4447 "STEM: Update Form 22-1995 Process Flow"
- [x] Update VA Form 22-1995 process flow to include STEM questions.

[2019-12-27 20:48] ccruzgra commented on #4447
Closed and set to zero points previous issue created in vets.gov-team repo: #20090

[2019-12-27 20:48] #4447 closed

[2019-12-27 20:50] ccruzgra commented on #4401
Held meeting with Kevin, and he offered some feedback on our initial mockups for the caution flags on the search results page.

[2019-12-27 20:52] #4401 closed

[2019-12-27 21:00] ccruzgra opened #4448 "Caution Flags: Update Prototypes"
- [x] Incorporate DEPO input and update mockups/interactions
- [x] Review with UX team
- [x] Review with B.A. /Tech Lead

[2019-12-27 21:01] #4406 closed

[2019-12-27 21:05] #4400 closed

[2019-12-27 21:10] amyknox commented on #4396
@amyknox - early monday, submit METRICS story to DEPO for their help with this.

[2019-12-27 21:33] amyknox commented on #4396
From Analytics Slack (via Andrea)

You can find avg time on page, bounce rates, and exit % here:
https://analytics.google.com/analytics/web/#/report/content-drilldown/a50123418w177519031p184334251/_u.date00=20191101&_u.date01=20191130&explorer-table.plotKeys=%5B%5D&_r.drilldown=analytics.pagePathLevel1:~2Feducation~2F,analytics.pagePathLevel2:~2Fapply-for-education-benefits~2F

And funneling for t

[2019-12-27 21:36] amyknox commented on #4358
Thanks @jonwehausen - I'll get someone on this Monday!

[2019-12-27 21:44] jason-gcio commented on #3099
Hey @tlei123!
I think we are ready to pick this back up.  Please let me know if you would like to chat further!

[2019-12-27 23:30] wygonikGCIO opened #4449 "Wireframe: Veteran information"
## User Story:
As a Veteran I need to be able to review my personal information on the VA.gov so that I can confirm that the hearing aid information from the DLC is my information.

## Tasks
- [ ] Design a screen element that displays the correct veteran information : name, SSN, Address, Phone # and email#
- [ ] Design a screen that enables the veteran to edit their address.
- [ ] Attend ideation/

[2019-12-27 23:42] wygonikGCIO opened #4450 "Wireframe: Order Confirmation page"
## User Story:
As a Veteran, I need to make sure my order went through so that I can have peace of mind.

## Tasks
- [ ] Design a page that confirms the order.
- [ ] Meet with the BAM2 Team and/or DLC team to confirm the design address the items in the Content inventory

## Acceptance Criteria:
Given: That the veteran has correctly completed an order
When: The submit button is clicked
Then: A Orde

[2019-12-28 05:52] wygonikGCIO opened #4451 "Wireframe: Allow the veteran a way to exit the ordering process at any point"
## User Story:
As a Veteran I need to be able to exit the ordering flow so that I can exit the ordering process.

## Tasks
- [ ] look up the design system's patter for exiting form flows.
- [ ] Design a screen element that allows the veteran to exit their order.

## Acceptance Criteria:
Given: That the veteran has correctly logged in to their VA account
When: the MDT screen is displayed
Then: The

[2019-12-28 06:05] wygonikGCIO opened #4452 "Wireframe: DLC contact information"
## User Story:
As a Veteran I need to be able to easly find the contact # of the DLC so that if I have trouble with my order I can call someone to assit me.

## Tasks
- [ ] Design a screen element that displays the DLC contact information for Call Center rep.
- [ ] Design a screen element that displays the DLC email.
- [ ] Design a screen element that displays the DLC hours of Call Centers operati

[2019-12-28 06:35] wygonikGCIO opened #4453 "SEO Keywords"
## User Story:
As a __Veteran I need to easily search and find the Medical Device Tool's url_______ so that I can _easily order my items _________.

## Tasks
_The steps that must be done by the team to complete the acceptance criteria_
- [ ] Meet with IA & Content team to define best URL name for the medical device tool
- [ ] Meet with IA & Content team to define best SEO keywords for the medical

[2019-12-28 07:15] wygonikGCIO opened #4454 "Update Order hearing aid batteries and prosthetic socks from page VA"
## User Story:
As a __Veteran I need  VA.gov page where I can get a high level understanding of how to order Hearing aid and prostheitc sock items _______ so that I can find answer to my questions about ordering items_________.

## Tasks
_The steps that must be done by the team to complete the acceptance criteria_
- [ ] meet and review with the Content team about updated items and features
- [ ] =

[2019-12-28 07:36] wygonikGCIO opened #4455 "Customer Journey for Batteries and accessories"
## User Story:
As a Member of the BAM2 team, I need to better understand the Veterans thoughts and emotions while ordering an hearing aid items and or prosthetic socks items  so that I can build a more intuitive process for the veterans.

## Tasks
_The steps that must be done by the team to complete the acceptance criteria_
- [ ] Review synthesis data from interviews and DLC metrics
- [ ] Create a

[2019-12-30 11:07] kfrz commented on #4417
Lighthouse has merged changes to bring their work up to OAS3, and I definitely think we should make time for this effort in Q1 2020.

[2019-12-30 14:35] jenstrickland commented on #1676
I did a quick webpagetest on the homepage, and on that page, the heaviest is font-awesome. I'm not sure the homepage is the best spot to measure.

<img width="951" alt="Screen Shot 2019-12-23 at 9 49 08 AM" src="https://user-images.githubusercontent.com/57469/71586271-a0b12f80-2ae7-11ea-8429-9186b99a1894.png">

[2019-12-30 15:13] Kimberley2019 commented on #3757
As of 12/30/2019, no updates after reaching out to @YanaRoy due to the Holidays and team members being out of the office.  @YanaRoy will verify once she is back in the office.

[2019-12-30 15:37] mmiddaugh commented on #3564
Closing as duplicate

[2019-12-30 15:41] sporeboy commented on #4300
Rated Disabilities Content Edits from 12/20 (per Peggy Gannon)

Your combined disability rating and Your individual ratings section will not have intro copy below their headers.

Right Sidebar, top paragraph: add comma after “sources” so the line reads:
“…and information from the sources, like federal agencies.”

Right Sidebar, middle paragraph: move “VA” to before “combined” so the line reads:
“…

[2019-12-30 15:41] mmiddaugh commented on #3049
We can change the text but the definition of what will be more helpful to the Veteran is still unknown.
Many services are buried in that category right now: service vs provider.
Needs research/discovery

[2019-12-30 15:43] #4385 closed

[2019-12-30 15:43] mmiddaugh commented on #1693
Will revisit after MVP redesign

[2019-12-30 15:45] mmiddaugh commented on #2792
Revisit after MVP redesign

[2019-12-30 15:48] mmiddaugh commented on #529
@brangi to investigate before grooming

[2019-12-30 15:50] mmiddaugh commented on #515
May be more than one issue
Needs discovery and/or conversation with Trevor
@brangi

[2019-12-30 15:54] mmiddaugh commented on #713
Will keep track of this during UX redesign/MVP

[2019-12-30 15:55] mmiddaugh commented on #2701
Keep an eye on with Mapbox/redesign

[2019-12-30 15:55] nedierecel commented on #3527
@jason-gcio @micahchiang Do you know when the static page might be placed onto staging:

`/disability/view-disability-rating/`

I am trying to reach it but hitting a 404. Is the launch plan to redirect it once it is live? I wanted to do a test to ensure it's getting captured in Google Analytics. Thanks!

[2019-12-30 15:57] mmiddaugh commented on #2754
Need to get more information on Mapbox obligations/talk with Sim
@davidconlon

[2019-12-30 15:58] rileyorr commented on #3439
@wygonikGCIO @rebeccawalsh The markdown file can be found [here](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/medical-device-tool/research/discovery-nov19/discovery-readout.md). I will add another comment once the presentation deck is complete.

[2019-12-30 15:58] #3802 closed

[2019-12-30 16:00] mmiddaugh commented on #2694
Double check functionality after MVP redesign

[2019-12-30 16:06] mmiddaugh commented on #2275
Closing as unresolved/unable to reproduce

[2019-12-30 16:06] #2275 closed

[2019-12-30 16:06] mmiddaugh commented on #2752
Merged.
Closing

[2019-12-30 16:06] #2752 closed

[2019-12-30 16:07] mmiddaugh commented on #4321
@arickalewis1 please attach artifact

[2019-12-30 16:19] #4405 closed

[2019-12-30 16:19] delli-gatti-michael commented on #4277
These changes are now present in staging. Closing this issue

[2019-12-30 16:19] #4277 closed

[2019-12-30 16:28] mmiddaugh commented on #3911
Need to coordinate with OCC/Microsoft in Jan 2020

[2019-12-30 16:45] jason-gcio commented on #3527
@nedierecel That page is being created by Public Websites - I think they are wrapping it up so I will follow up with them next chance I get.

Yes, I believe that is the plan, but will also confirm that with Steve.  We definitely want to track that as well.

[2019-12-30 17:00] nedierecel opened #4456 "Build Proof of Concept for Product Success Tool MVP in Domo"
## User Story or Problem Statement
As an Education Product Owner, I want to test the Product Success Tool MVP within Domo so I can make decisions and iterate on my products.

## Goal
- Recreate custom Product Success Tool MVP within Domo to see how close we can make it to the custom approach

## Objectives or Key Results this is meant to further
O2: Customers use qualitative and quantitative user

[2019-12-30 17:34] AZSchneider commented on #3801
This looks like the right place to take the user @Mottie

[2019-12-30 17:41] Clark-W-Griswold opened #4457 "Access for Dan Shank"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Add a comment @department-of-veterans-affairs/vsp-operations to ping the operations team
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please

[2019-12-30 17:44] erikphansen commented on #4386
@artistgreen I was just reviewing the work @bradl3yC had done on this and wonder if we should remove the AA/AE/AP options from the `state` dropdown when the user has not selected the checkbox indicating that they are on an overseas military base.

[2019-12-30 17:48] erikphansen commented on #4433
Can @artistgreen @Justin-Pickett or @Samara-Strauss confirm that the radio selection buttons work again? I'd fixed them but then another change broke them again. They should be all good now.

[2019-12-30 17:49] erikphansen commented on #4271
@artistgreen @Justin-Pickett @Samara-Strauss can you validate that going back to edit an address from the validation screen works as expected now?

[2019-12-30 17:50] erikphansen commented on #2009
@Samara-Strauss @Justin-Pickett I can merge in this work at any time. But maybe we should just wait until direct deposit has been removed from eBenefits? Your call!

[2019-12-30 17:58] Samara-Strauss commented on #4433
It's not working for me. The Suggested Address radio button was filled in, but then the blue circle in the radio button disappeared when I clicked the originally entered address.

[2019-12-30 17:58] nedierecel commented on #3527
Thanks @jason-gcio!

[2019-12-30 17:59] Samara-Strauss commented on #2009
I think you can remove this any time, though prob won't go out until after the code freeze is lifted.

[2019-12-30 18:10] Samara-Strauss commented on #4271
This looks good to me. I think it's OK that it shows the old address since the new address would not have saved yet.

[2019-12-30 18:10] erikphansen commented on #4433
awesome, the site isn't building in Jenkins so new stuff hasn't rolled out for at least a couple of hours

[2019-12-30 18:12] Samara-Strauss commented on #4433
OK, so should I check back later?

[2019-12-30 18:12] erikphansen commented on #4433
yeah I'll ping you

[2019-12-30 18:18] arickalewis1 commented on #4321
Attaching flow for search criteria.
[FL-Search-Flow-Content.pdf](https://github.com/department-of-veterans-affairs/va.gov-team/files/4010603/FL-Search-Flow-Content.pdf)

[2019-12-30 18:18] #4321 closed

[2019-12-30 18:19] cohnjesse commented on #4300
@sporeboy Just made these updates and pushed to the branch, let me know if it looks like it's good to go and I can merge to master.

[2019-12-30 18:41] erikphansen commented on #2009
Okay, I'll merge.

[2019-12-30 19:02] bkjohnson commented on #3335
Closed by https://github.com/department-of-veterans-affairs/vets-website/pull/11340

[2019-12-30 19:02] #3335 closed

[2019-12-30 19:03] bkjohnson commented on #3313
Closed by https://github.com/department-of-veterans-affairs/vets-website/pull/11315

[2019-12-30 19:03] #3313 closed

[2019-12-30 19:23] erikphansen commented on #4433
@Samara-Strauss this works on staging now

[2019-12-30 19:25] erikphansen commented on #4271
@Samara-Strauss this should work as intended now

[2019-12-30 19:37] jhonnyoddball commented on #1676
### **Source Sans Pro vs Public Sans - File sizes**

I downloaded the Public Sans fonts and compared the sizes of the .woff and .woff2 files. These are the results:

**REGULAR**
<img width="656" alt="Public Sans Regular" src="https://user-images.githubusercontent.com/55560129/71597494-62c90100-2b11-11ea-988c-807e6b494e75.png">
<img width="665" alt="Source Sans Pro Regular" src="https://user-images

[2019-12-30 19:39] ncksllvn commented on #3606
@jenniferlee-dsva Should we keep this ticket scoped to just the search page? I'm not completely in the loop on the master detail landing pages, and I'm not sure if we want that to hold this ticket/launch up because of that.

[2019-12-30 19:44] ncksllvn opened #4458 "Analytics Implementation or QA Support for Find VA Forms"
# Analytics Implementation or QA Request

## Description
- Is this request for Google Analytics implementation or QA?

This is a request for determining GA events that should be captured for our upcoming content page (which also contains a React widget) for searching VA forms.

The Epic for this work is here, https://github.com/department-of-veterans-affairs/va.gov-team/issues/1632, and the ticket

[2019-12-30 19:45] mnorthuis commented on #2215
@AnneHurley Can you go ahead and submit a redirect request with the list of pages that you want to have redirected so we have clean direction for Nick?

[2019-12-30 19:45] ncksllvn commented on #3606
I'm not sure if it was done already or not, but I submitted a request to the analytics team to define the analytics requirements for this page. That ticket is here, https://github.com/department-of-veterans-affairs/va.gov-team/issues/4458.

[2019-12-30 19:54] Samara-Strauss commented on #4433
Validated!

[2019-12-30 19:54] #4433 closed

[2019-12-30 19:55] Samara-Strauss commented on #4271
Validated!

[2019-12-30 20:04] #2009 closed

[2019-12-30 20:07] Samara-Strauss commented on #4264
Duplicate of #4271 which is done. Closing.

[2019-12-30 20:07] #4264 closed

[2019-12-30 20:08] artistgreen commented on #4386
@erikphansen - Good point -  I agree that we should remove those options from the state drop down if the checkbox for overseas military base is not checked.

[2019-12-30 20:10] kelsonic commented on #4150
Currently, there is no validation on the query the user can send to the `/forms` API endpoint, which is fine and means that there will be no user-created validation errors that I can think of.

However, the API could return back 500 errors currently in the case that the service is down for whatever reason. As a result, we should surface these errors to the UI so the user does not think they are do

[2019-12-30 20:19] ricetj commented on #4457
@Jeff-Hayter
COR: Yourself
User: Dan Shank

[2019-12-30 20:45] jenstrickland commented on #1676
@jhonnyoddball The tweet said, _"It’s an infinitesimal 701k for 18 different styles. Compare that to Source Sans Pro (4.33B for 12 styles)  Open Sans (30.9B for 10) & Roboto (63.0B for 12)."_ That measurement includes all the style variations within the font package. On VA.gov, we also use Bitter, with its style variants, and we were including multiple types of Font-awesome, too.

[2019-12-30 20:47] mmiddaugh commented on #2701
Closing this issue as this has been added as acceptance criteria for [#4324].

[2019-12-30 20:47] #2701 closed

[2019-12-30 20:50] mmiddaugh commented on #492
Closing this issue as the acceptance criteria has been added to [#4324].

[2019-12-30 20:50] #492 closed

[2019-12-30 21:02] rileyorr commented on #3439
[20191227 MDT Discovery Research Readout.pdf](https://github.com/department-of-veterans-affairs/va.gov-team/files/4011005/20191227.MDT.Discovery.Research.Readout.pdf)
I've attached the discovery research deck and have linked it in the BaM2 channel. I will upload it to GitHub once any edits from the team have been incorporated.

[2019-12-30 21:06] #4397 closed

[2019-12-30 21:11] amyknox commented on #4396
@nedierecel - I just remembered that long ago (this past summer) we worked on an update to the 22-1995 funnel that was supposed to do a better job of tracking STEM responses.  If we could revisit this later this week (I'm out Tu/Wed), that would be really helpful!

[2019-12-30 21:12] amyknox commented on #4399
Submitted recruiting request 12/30.

[2019-12-30 21:15] amyknox commented on #4395
From EDU...

Data update:

1.	So it appears that the only way to view the answers to the questions would be to go into each individual applicant’s record in TIMS and transcribe that data into a spreadsheet or database.  Currently the application responses are captured into TIMS, but you cannot export or view all the applications…
  a.	Recommendation: we have received 10358 applications.  I do not

[2019-12-30 21:15] amyknox commented on #4395
![image.png](https://images.zenhubusercontent.com/5b51ea398c1a7628d9218a42/d0f1c07e-e636-4539-83a4-fcf4a2c2cd6e)

[2019-12-30 21:18] rroueche commented on #3449
## Teaming on Platform side:
-

## Roadmap

In terms of roadmap, there are 2 possible routes, the priority of which has not yet been decided by DEPO:

1) Collaboration with the Caregiver Team to enhance the current version of login to allow Caregivers to also log in (and track the status of their applications, etc). Note: in order for a Caregiver to submit an application, they do not necessarily n

[2019-12-30 21:21] amyknox commented on #4402
@ccruzgra - this is a story you could dig into on 12/31.  Dustin or Matt may be able to help you identify schools with caution flags, then you could look to see if they're getting more or less than average # of pageviews in the GIBCT.

[2019-12-30 21:38] ncksllvn commented on #3606
We've started coordinating on this w/VSP Analytics, so I'm gonna go ahead and move this into Ready w/the blocked label

[2019-12-30 22:08] kimmueller1 opened #4459 "[CONTENT] Plain Language Exercise [CONTENT]"
### **Goal**
Develop efficient and clear content writing using Plain Language and VA stylebook

### **Objectives** or Key Results
To further understand the VA and Plain Language writing style by completing the writing exercise provided by GCIO Content Writer Anne Hurley. The assignment is to rewrite and edit Burials legacy page content using the VA Style book and unwritten Plain Language guideline

[2019-12-30 22:43] joanneesteban opened #4460 "[Ongoing Service] User Surveys - Implement Medallia for VFS Work"
## High Level User Story
As a VFS team, I need support for adding veteran user survey analytics tracking to my launches and enhancements so I can track the health and growth of my products.

## Hypothesis/(es)
**If**  we support product teams in adding Medallia analytics tracking to their product launches and iterations **then**  we expect platform products to record the data needed for KPIs and p

[2019-12-30 22:46] 1Copenut commented on #482
Moving to close as the audit has been completed and new work is underway.

[2019-12-30 22:46] #482 closed

[2019-12-30 23:13] kathleencrawford commented on #2358
Documentation added here:
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/ebenefits/features/view-update-dependents/engineering/686-back-end-research.md

[2019-12-30 23:27] SMLuthi commented on #3909
This has been looked into a bit in the backend. It has been verified that the document upload to S3 works correctly and the job that submits these docs does run as intended. EVSS has mentioned that they want to setup a meeting time to look into these matters and verify that they are, indeed, seeing these files being submitted. As far as I can see, the files are being submitted properly and veteran

[2019-12-30 23:30] SMLuthi commented on #3939
This issue continues to be a debug fest via email. Progress has been made in that we have cured some error responses we've seen. However, currently, we are seeing a very generic `Internal Error (from server)` coming back from MVI. They are looking in to what this could mean (they surmise it has something to do with our XML headers and how they are setup).

I've proposed a debug meeting to them whe

[2019-12-30 23:30] SMLuthi commented on #3476
Due to holiday and other work constraints, this ticket is rolling over to the next sprint.

[2019-12-31 00:34] Mottie commented on #3700
After attempting to duplicate this issue on the local server, the only way I could get the submit button to get stuck in progress (grayed out), was to prevent the API call from completing - in dev talk, we prevent the `submitFormFor` promise from resolving or rejecting. I have not been successful at trying to duplicate this issue from entering "similar" data into the form - it's essentially guess-

[2019-12-31 01:22] joanneesteban opened #4461 "[Ongoing Service] Workshop KPI Setting with VFS Teams"
## High Level User Story
As a VFS team, I need to track KPIs so I can make data driven product decisions.

## Hypothesis/(es)
**If** _we help teams set and track KPIs_ **then** _we expect va.gov to have data- and user-driven goals across the va.gov platform_.

## Assumptions
- VFS teams are willing to use data on a consistent basis to drive decision making
- VFS teams are willing to work with VSP

[2019-12-31 01:26] joanneesteban commented on #4218
Duplicated on https://github.com/department-of-veterans-affairs/va.gov-team/issues/4461
Closing this super epic.

[2019-12-31 01:26] #4218 closed

[2019-12-31 01:49] tlei123 opened #4462 "[Bug] Rated Disabilities - Dynamic page copy doesn't match design comp"
On Staging's [Rated Disabilities dynamic page](https://staging.va.gov/disability/view-disability-rating/rating/), the actual copy doesn't match the copy shown in the [design comp](https://xd.adobe.com/view/0db723ac-52ff-48b3-4877-9d5882cb2e1f-7b86/screen/90b2e033-e56a-4634-91ff-b694b46d2097/RD-Screen-Tool-FINAL):

NOTE: The **bolding** below highlights specific COPY mismatches, not styling.

1. In

[2019-12-31 06:17] wygonikGCIO opened #4463 "Wireframe- Accessories"
## User Story:
As a Veteran I need to be able review my hearing aid accessories on the VA.gov so that I can choose the right accessories that is/are for my hearing aid .

## Tasks
- [ ] Design a screen element that displays the correct accessories available for that particular veteran
- [ ] Design a screen that enables the veteran to select their accessories for reorder.
- [ ] Attend ideation/whit

[2019-12-31 06:22] tlei123 commented on #3099
Modified test cases after bugfix #4222 closed.  Started a new test-run -- planning to complete new run by end of tomorrow (Tuesday).

New defect(s) logged so far:
 * Copy: #4462.

[2019-12-31 12:40] lwalsh617 commented on #4169
@jenniferlee-dsva @Karak888 - Hello! Here is the complete copy deck. A few things to note:
- Helpful links section
Jen, per our last phone convo, I customized the "helpful links" by page, using 1-2 highly relevant links rather than the 4 standard ones (which were dwarfing the page content in some cases). There are a few instances in which where there was no highly related link, so I left the 4 sta

[2019-12-31 14:11] kfrz opened #4464 "Optimize vets-api build time"
## Background

Our vets-api builds are painfully slow for how little changes. Other variables such as dependabot (or other automatic builds) also slow things down.

We should identify work paths to improve this build time, thereby improving the E2E data-driven happiness of those devs working on this codebase.

**This epic needs grooming and further issue definition. Opening as placeholder for disc

[2019-12-31 14:19] kfrz commented on #1023
Closing, this has no objectives or child issues and triage is no longer an established team.

[2019-12-31 14:19] #1023 closed

[2019-12-31 14:42] kfrz commented on #2504
Closing as this is no longer a priority based on discussion we had long ago on triage team when it existed.

[2019-12-31 14:42] #2504 closed

[2019-12-31 14:43] kfrz commented on #456
Closing per thread above. Operations and BE engineers can find more information about ServiceNow by logging into the VA network.

[2019-12-31 14:43] #456 closed

[2019-12-31 14:48] mmiddaugh opened #4465 "Adjust default drive time radius (BE)"
## Problem Statement
The current default drive time radius of 10000 minutes does not address a business or user need and is contributing to Facility Locator's latency issue.

FYI from [Health Care Options through VA](https://missionact.va.gov/library/files/MISSION_Act_Community_Care_Booklet.pdf)

- Mission Act designated access standards:
   - within 30 minutes average driving time for primary car

[2019-12-31 14:53] kfrz commented on #3004
@wyattwalter I don't recall any more specifics but looks like the incident commanders are appropriately set in [PagerDuty](https://dsva.pagerduty.com/escalation_policies#P10V3E0).
![screenshot-dsva pagerduty com-2019 12 31-08_50_32](https://user-images.githubusercontent.com/11085141/71624957-d3702c00-2baa-11ea-9f7c-a9dbcc53037e.png)

[Incident Commander](https://dsva.pagerduty.com/escalation_polic

[2019-12-31 14:53] #3004 closed

[2019-12-31 14:59] delli-gatti-michael opened #4466 "GIBCT: Wrapped Extension Campus Names Are Not Indented Properly"
When viewing a profile page for an institution that has extensions, all of the extensions are listed in the "School Locations" section. Some of the institution names are long enough to wrap. The second line of an institution's name should be indented the same amount as the first line. Currently, the second line is not indented enough. Examples are highlighted in red below:

![Screen Shot 2019-12-3

[2019-12-31 15:02] hughes-dustin commented on #4383
branch: bah-4383
PR: https://github.com/department-of-veterans-affairs/vets-website/pull/11397

[2019-12-31 15:08] #2358 closed

[2019-12-31 15:38] rroueche commented on #3732
@batemapf any findings from your DevOps presentation that are relevant to our continued "one pager" efforts?

[2019-12-31 15:39] rroueche commented on #3728
Ideas:
- Diplomacy deck

[2019-12-31 15:45] kevinstachura commented on #4347
Research Plan has been created!

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/decision-reviews/research/website-research/research-plan.md

@AZSchneider would you be so kind as to review and suggest edits or approve as is? Thank you!!

[2019-12-31 15:52] sporeboy commented on #4462
Copy should match after text revisions hit staging. There is an outstanding PR for #4300 (content adj, for Rated Disabilities).

[2019-12-31 15:58] kfrz commented on #1616
This WIP [PR](https://github.com/department-of-veterans-affairs/vets-api/pull/3060) from @lihanli has some logic that could be useful for tracking DSLogon stats.

[2019-12-31 16:00] erikphansen opened #4468 "Raise address confidence threshold from 80 to 90"
## Issue
If the user enters an address and the validation/suggestion API returns a single confirmed address with a confidence score >80, we go ahead and save that suggested address for the user. This mirrors the existing behavior on VA.gov. However, in testing we found that there is a `575 20th St, San Francisco CA` 94107 and a `575 20th Ave, San Francisco CA 94121`. Same number and same street na

[2019-12-31 16:01] erikphansen commented on #4468
@Justin-Pickett @Samara-Strauss This would be a quick fix on my end.

[2019-12-31 16:02] kfrz commented on #4416
I'd argue this doesn't need to be an epic. It should be a single discovery issue which then would result in a formal problem statement and proposed solution. The discovery could include both research and an RFC.

Additionally, I think it would be less fitting for O1 and more for O5

@alexpappasoddball @johnpaulashenfelter @annaswims

[2019-12-31 16:03] #4271 closed

[2019-12-31 16:04] #4373 closed

[2019-12-31 16:05] Samara-Strauss opened #4469 "[Design] Profile 2.0: Initial design explorations"
## User Story:

As a user, I need to be able to easily find and manage my personal information.

## Tasks

In Sprint 12, Tressa will revisit the initial Profile 2.0 designs created by Samara.

- [x] Initial design explorations/vision - 16 hours - 20 hours
- [x] Share initial proposal with Samara, get feedback, and make updates -  3 - 4 hours

## Acceptance Criteria:

- [x] Initial design explorati

[2019-12-31 16:08] kfrz commented on #4417
Steps we should take for grooming this IMO:

- [ ] Proper discovery of our (non-DVP) endpoints to see the "lay of the land,"
- [ ] Ticket work required to:
    - [ ] update swagger_blocks to 3.0
    - [ ] update api endpoint swagger docs to be OAS 3 compliant

[2019-12-31 16:11] Samara-Strauss commented on #2453
Closing this ticket. Will create separate tickets for Tressa as necessary, as she is now taking over the project.

[2019-12-31 16:11] #2453 closed

[2019-12-31 16:12] kfrz commented on #4418
A few thoughts for further discussion:

- V1 should only really be used if we introduce a breaking change. As our api doesn't really follow semantic versioning in the codebase, though this may be somewhat moot.

- Should V1 even be a Rails API? Do we have an argument for migrating to a different architectural pattern altogether? Is this worth talking about?

[2019-12-31 16:15] #4409 closed

[2019-12-31 16:15] #4298 closed

[2019-12-31 16:15] #4155 closed

[2019-12-31 16:15] #3439 closed

[2019-12-31 16:16] #3464 closed

[2019-12-31 16:16] #3425 closed

[2019-12-31 16:37] Samara-Strauss commented on #4468
Sounds good to me!

[2019-12-31 16:46] nedierecel commented on #406
@joanneesteban

### Domo Updates
- Received responses from Domo rep. My question:

His response:

- I also requested that the trial domain shift from Empirical Path to a VA-branded domain. My request:

His response:

[2019-12-31 16:47] sonntag-adam commented on #4383
![Screen Shot 2019-12-31 at 11.38.26 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/524192c9-255f-4bce-b4d0-92eba0a17970)
##
![Screen Shot 2019-12-31 at 11.38.35 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/3df599fe-d3be-4f84-b7b7-2dac9b77eeed)
##
![Screen Shot 2019-12-31 at 11.38.41 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8

[2019-12-31 16:48] kfrz commented on #933
@alexpappasoddball @rianfowler I suggest we move this to the tools-fe

[2019-12-31 16:53] ncksllvn commented on #4377
Email has been sent to Lighthouse API team. Now, we wait :hourglass:

[2019-12-31 16:57] sporeboy commented on #3959
XD walkthrough for Add Dependent workflow is here: https://xd.adobe.com/view/ffffe536-2ba5-47c6-4c4b-ac1679179973-89ce/

[2019-12-31 17:03] ncksllvn commented on #3767
I implemented a CTA widget for the Disability Ratings page. Two things -

1. Similar to other CTA widgets and the disability rating calculator, you'll need to add it as content in the Drupal page. See the [change-direct-deposit](https://prod.cms.va.gov/change-direct-deposit) page for an example. The only difference is that the `WIDGET TYPE` field should be `disability-ratings`, instead of `direct-

[2019-12-31 17:04] RLHecht commented on #4426
Attached is the new Word doc with Anne's additional step on copy decks. @peggygannon can you also please review and let me know if there are any steps that are missing or unclear? There are some questions I still have, which I highlighted in the doc.
[Workflow Process Doc.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/4013139/Workflow.Process.Doc.docx)

[2019-12-31 17:06] #4262 closed

[2019-12-31 17:10] brangi commented on #3586
Hi @tlei123 ,

There is no backend dependency, all the changes are done in the front end application.

The PR has the conditional `if(environment.staging) { run new SDK version } else { run current  SDK version}` so that we can test it on staging once it is merged.

[2019-12-31 17:22] chrvalla commented on #3965
HLR Research plan drafted

[2019-12-31 17:33] Samara-Strauss commented on #4374
@Justin-Pickett @artistgreen can I please see a draft of the ticket template you're creating for each application?

[2019-12-31 17:41] mmiddaugh commented on #4325
[DRAFT Urgent Care Printable Document_102319.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/4013203/DRAFT.Urgent.Care.Printable.Document_102319.docx)

[2019-12-31 17:42] 1Copenut commented on #1062
@desireeturner I'm going through our 508 issue backlog and re-assigning these for GIBCT. Please let me know if they should go to another person or group. Thank you.

[2019-12-31 17:47] andaleliz opened #4470 "Request design intent Check-in for Yellow Ribbon Migration"
## Product Name

Doesn't really have a name that I'm aware of... Yellow Ribbon School Explorer is what I'm calling it in my mind :)
## Checkpoint Stage

[x] **Design Intent** (for early discussions about needs, priorities, concepts, research planning, and direction)

[ ] **Pre-usability testing Review** (for prototype and testing validation of best practices, alignment with va design system, and i

[2019-12-31 17:47] mmiddaugh commented on #713
Moved this acceptance criteria to [#4324] and will close this.

[2019-12-31 17:47] #713 closed

[2019-12-31 17:50] mmiddaugh commented on #2694
moving this acceptance criteria into [#4322] and closing this issue.

[2019-12-31 17:50] #2694 closed

[2019-12-31 17:56] #4138 closed

[2019-12-31 17:58] RLHecht commented on #3668
This work was completed. Closing issue. @Karak888

[2019-12-31 17:58] #3668 closed

[2019-12-31 17:59] mmiddaugh commented on #4323
Per conversation yesterday:
- "Emergency care" and "In VA Network urgent care pharmacy" should be available as service types under VA Health

[2019-12-31 18:07] bkjohnson commented on #3315
I think we might actually need this.  Check out `paragraph.4e82ea70-a633-47f4-b0b3-5bcc2e32507d.json`:

[code]

The `field_staff_profile` points to `node.01486a41-0a4b-4332-98a8-20794cd24bd0.json`:

[code]

And Matt Bloom, the social work case manager shows up in `pages.json`:

[code]

[2019-12-31 18:15] sonntag-adam commented on #4383
Does not show in a production build.

[2019-12-31 18:21] #3700 closed

[2019-12-31 18:32] Samara-Strauss commented on #3471
Closing. Looks like a duplicate of #4386.

[2019-12-31 18:32] #3471 closed

[2019-12-31 18:32] YanaRoy opened #4471 "[Build] Resolution of "stuck" state when submitting 526"
## User Story:
As a system user, I need to be able to finish submitting my 526 form even if it ends in an error so that I am not left wondering if my form was submitted when the submit button was clicked but remained grayed out for an endless period of time.

## Background:
Original Ticket #3700
- In order to prevent this process from getting stuck, I think adding a timer for about 10 (or more) se

[2019-12-31 18:51] Justin-Pickett commented on #4374
@Samara-Strauss sure thing -  Below is a concept of how the tickets will be constructed for "each" benefit form that will be impacted by the changes for the APO/FPO/DPO work. Please let share you suggestions or thoughts on this approach. I will be working with @artistgreen to get each ticket groomed to house the appropriate info and mock ups needed for each ticket.

## Background:
Propose solution

[2019-12-31 18:53] SgardnerPMP opened #4472 "[DISCOVERY] Create new "Altoona" tab in VISN 4 Content Stack and validate content web pages and types [BA]"
## User Story or Problem Statement
As a Content writer and Business Analyst, I need to know the name, type, and number of content web pages, so I can map the web pages and create content for those paged determined by their type.

## Goal
_Complete a content spreadsheet following and using the Pittsburgh, PA pilot design tab as a reference source_

## Objectives or Key Results this is meant to furt

[2019-12-31 18:53] #4459 closed

[2019-12-31 18:56] SgardnerPMP opened #4473 "[DISCOVERY] Create new "Coatesville" tab in VISN 4 Content Stack and validate content web pages and types [BA]"
## User Story or Problem Statement
As a Content writer and Business Analyst, I need to know the name, type, and number of content web pages, so I can map the web pages and create content for those paged determined by their type.

## Goal
_Complete a content spreadsheet following and using the Pittsburgh, PA pilot design tab as a reference source_

## Objectives or Key Results this is meant to furt

[2019-12-31 18:58] SgardnerPMP opened #4474 "[DISCOVERY] Create new "Erie" tab in VISN 4 Content Stack and validate content web pages and types [BA]"
## User Story or Problem Statement
As a Content writer and Business Analyst, I need to know the name, type, and number of content web pages, so I can map the web pages and create content for those paged determined by their type.

## Goal
_Complete a content spreadsheet following using the Pittsburgh, PA pilot design tab as a reference source_

## Objectives or Key Results this is meant to further

[2019-12-31 19:00] wyattwalter commented on #4185
I've spent a good deal of time trying to figure out if and how this cert was ever used, but haven't really come up with a lot so far.

In the git history, it looks like it was included in a commit while setting up MVI initially. But, it was included in a ball of certs at once. I've checked the chains of all the certs we have in our repo as well as the chains of everything we connect to from the fw

[2019-12-31 19:00] SgardnerPMP opened #4475 "[DISCOVERY] Create new "Butler" tab in VISN 4 Content Stack and validate content web pages and types [BA]"
## User Story or Problem Statement
As a Content writer and Business Analyst, I need to know the name, type, and number of content web pages, so I can map the web pages and create content for those paged determined by their type.

## Goal
_Complete a content spreadsheet following and using the Pittsburgh, PA pilot design tab as a reference source_

## Objectives or Key Results this is meant to furt

[2019-12-31 19:01] SgardnerPMP opened #4476 "[DISCOVERY] Create new "Wilkes-Barre" tab in VISN 4 Content Stack and validate content web pages and types [BA]"
## User Story or Problem Statement
As a Content writer and Business Analyst, I need to know the name, type, and number of content web pages, so I can map the web pages and create content for those paged determined by their type.

## Goal
_Complete a content spreadsheet following using the Pittsburgh, PA pilot design tab as a reference source_

## Objectives or Key Results this is meant to further

[2019-12-31 19:03] SgardnerPMP opened #4477 "[DISCOVERY] Create new "Wilmington" tab in VISN 4 Content Stack and validate content web pages and types [BA]"
## User Story or Problem Statement
As a Content writer and Business Analyst, I need to know the name, type, and number of content web pages, so I can map the web pages and create content for those paged determined by their type.

## Goal
_Complete a content spreadsheet following and using the Pittsburgh, PA pilot design tab as a reference source_

## Objectives or Key Results this is meant to furt

[2019-12-31 19:05] SgardnerPMP opened #4478 "[DISCOVERY] Create new "Philadelphia" tab in VISN 4 Content Stack and validate content web pages and types [BA]"
## User Story or Problem Statement
As a Content writer and Business Analyst, I need to know the name, type, and number of content web pages, so I can map the web pages and create content for those paged determined by their type.

## Goal
_Complete a content spreadsheet following using the Pittsburgh, PA pilot design tab as a reference source_

## Objectives or Key Results this is meant to further

[2019-12-31 19:09] SgardnerPMP opened #4479 "[DISCOVERY] Create a new VISN 19 Content Stack starting with Montana and validate content web pages and types [BA]"
## User Story or Problem Statement
As a Content writer and Business Analyst, I need to know the name, type, and number of content web pages, so I can map the web pages and create content for those paged determined by their type.

## Goal
_Complete a content spreadsheet following and using the VISN 4 Content Stack design as a reference source_

## Objectives or Key Results this is meant to further

[2019-12-31 19:29] erikphansen opened #4481 "Log "bad" addresses a veteran tries to save"
## Summary
We should use Sentry or Google Analytics to track the addresses that the VA Profile flags as bad and doesn't allow the user to save.

## Details
When the address validation API gives us an address validation error or does not return a validation key along with suggested addresses, we should log the address that was sent to the validation API. Will determine what data to send to GA and f

[2019-12-31 19:31] #3959 closed

[2019-12-31 19:32] erikphansen commented on #4386
@artistgreen We merged without that last change we talked about so that we could get it out on staging. And now that I've played more with the work Brad did I don't think we need to remove the AA/AE/AP states from the dropdown. The state dropdown only appears if the user has selected USA as their country (otherwise it becomes a text field). So keeping those options in the dropdown will simply give

[2019-12-31 19:33] erikphansen commented on #4386
@Justin-Pickett @artistgreen @Samara-Strauss this can be validated on staging now.

[2019-12-31 19:35] mmiddaugh opened #4482 "Develop research plan for urgent care PDF"
## User Story or Problem Statement
* As a veteran, I need to know how to verify my eligibility for urgent care so I can obtain service from a urgent care facility without being charged.
* As a veteran, I need to know that I do not pay a copay for urgent care services so I can obtain service from a urgent care facility so that I don't pay twice (as the VA will bill me separately).
* As a Veteran, I

[2019-12-31 19:39] erikphansen opened #4483 "Disable "update" button if no address is selected"
The UPDATE button should not be enable until the user has selected an address option

The UPDATE button in this screenshot should not be enabled.
![disable this.png](https://images.zenhubusercontent.com/5b4d0309a8d8be5bda39303e/21fa4dcc-48f0-4d99-a94a-e537f2292299)

[2019-12-31 19:41] erikphansen opened #4484 "Make "edit address" text clickable in address validation alert texts"
In all cases where we ask a user to go back and edit their address, the text that tells them to do so should be clickable.

![bad unit edit.png](https://images.zenhubusercontent.com/5b4d0309a8d8be5bda39303e/0c9b4933-8049-45fd-afc5-81383a351a8f)

[2019-12-31 19:46] erikphansen opened #4485 "Show spinner when talking to address validation API"
When hitting the UPDATE button from the address form, we first call the validation API and then if the address is good we call the SAVE/UPDATE endpoint. The UPDATE button only shows the spinner when talking to the SAVE/UPDATE endpoint. It should also show a spinner when waiting on the validation API.

This GIF show the UPDATE button unchanged while it waits on the call to the validation API and th

[2019-12-31 19:47] mmiddaugh opened #4486 "VBA service taxonomy"
This is a placeholder issue for the following:

## Problem Statement
How might we improve the drop down for benefit service types?

## Goal
- Improved user experience when searching for benefits

## Objectives or Key Results this is meant to further
- _lorem ipsum_

## Acceptance Criteria
- [ ] _What needs to happen or be created?_

## How to configure this issue
- [ ] **Attached to a Milestone**

[2019-12-31 19:48] nedierecel commented on #4396
@amyknox Thanks for the refresher on the earlier ticket to track VET TEC engagement within 22-1995. Correcting my statement in our Slack thread--we are capturing radio selections for form 22-1995 upon submission of the form.

I worked on a funnel today to review users who selected "Yes" to the STEM question in 22-1995 and then proceeded to complete Form 22-0994 whether in the same session or anoth

[2019-12-31 19:49] erikphansen opened #4487 "Address suggestion bug"
To reproduce:
1. first enter 575 20th San Francisco.
2. then enter 37312 coronado

(that gives an error) but it offers the 575 20th suggestions! so we need to clear the redux state!

![image.png](https://images.zenhubusercontent.com/5b4d0309a8d8be5bda39303e/de6edfed-70d3-4a85-81f8-8f93d3a6e876)

[2019-12-31 19:50] Samara-Strauss commented on #4374
@Justin-Pickett @artistgreen

1. @Justin-Pickett I have mentioned this before, but remember a user story should *NEVER* be from the perspective of the contractor doing the work. They are *ALWAYS* from the perspective of the end user on VA.gov, which is a veteran or service member in most cases unless specified otherwise. Please review with Adam or Mickin if you are unclear on how to do this.
2. I

[2019-12-31 19:55] mmiddaugh commented on #489
This acceptance criteria has been added to [#4322] and this issue will be closed.

[2019-12-31 19:55] #489 closed

[2019-12-31 19:55] mmiddaugh commented on #2751
This acceptance criteria has been added to [#4322] and this issue will be closed

[2019-12-31 19:55] #2751 closed

[2019-12-31 19:57] Samara-Strauss commented on #4386
Looks good to me at an initial glance! @artistgreen should more fully validate this work as the designer, then feel free to close out this ticket!

[2019-12-31 19:57] mmiddaugh commented on #514
This acceptance criteria has been moved to [#4324] and this issue will be closed.

[2019-12-31 19:57] #514 closed

[2019-12-31 19:58] erikphansen commented on #4468
It looks like making this change will also prevent the profile from changing zip codes at all, which I think is a good thing. It seems right to confirm with a user before we make a change to the zip code as they entered it.

[2019-12-31 19:58] mmiddaugh commented on #2696
Closing this epic as it duplicates the prioritized issues found in [#4027]

[2019-12-31 19:58] #2696 closed

[2019-12-31 20:02] Samara-Strauss commented on #4483
Question: Shouldn't the address be pre-selected if there is only one option like in the screenshot shown above? I would have imagined there wasn't a use case where the radio button could be deselected/was unselected.

cc/ @artistgreen to weigh in here

[2019-12-31 20:03] mmiddaugh commented on #4075
Closing this Epic as it is a duplicate

[2019-12-31 20:03] #4075 closed

[2019-12-31 20:05] mmiddaugh commented on #3648
closing as a duplicate of [#4193]

[2019-12-31 20:05] #3648 closed

[2019-12-31 20:07] mmiddaugh commented on #4200
Please see extensive history and backstory documented in [#1961]

[2019-12-31 20:08] mmiddaugh commented on #1961
Linked for reference in [#4200] so this backstory/history is not lost.
Otherwise, this work has been broken down into other issues.
Closing as duplicate.

[2019-12-31 20:08] #1961 closed

[2019-12-31 20:21] artistgreen commented on #4483
@Samara-Strauss - it should be pre-selected in this case.  And I think you're right about not being to un-select it.

[2019-12-31 20:33] nedierecel commented on #3403
@joanneesteban I am going to close this issue and insert remaining notes into #1843

[2019-12-31 20:33] #3403 closed

[2019-12-31 20:34] nedierecel commented on #1843
@joanneesteban It's still very rough, but I am inserting a list of to-do's that we can map more concretely against our sprints and epics. This can be found in our team's [Data Warehouse and BI Tool Google doc](https://docs.google.com/document/d/1ucllAvbzH6IpnZBmQ0eNOZayQS6IQiyFZ5OqcKBWcdU/edit#bookmark=id.s1rcwoi5m3or).

[2019-12-31 20:57] Samara-Strauss commented on #4483
@erikphansen does that sound good? In cases where there is only one option to update (ie. no suggested addresses), the original address should be pre-selected.

[2019-12-31 21:08] #3830 closed

[2019-12-31 21:39] #3865 closed

[2019-12-31 21:47] LouCarlozo63 commented on #4480
Thanks for this Anne!

[2019-12-31 21:53] nedierecel commented on #4458
@ncksllvn Thanks for looping us in. I tweaked the acceptance criteria to include a few items we need to tackle on our end. For your reference:

1. Capturing the search term - Since `q` has been used as another search parameter, this is already established. If you think the parameter might change, please let us know and we can update before launch.

- For Public Websites Team Analysis: Once live, t

[2019-12-31 22:10] billfienberg opened #4488 "PDF files should be LFS but are not LFS when uploaded via GitHub website"
![github-direct-upload-of-pdf-file](https://user-images.githubusercontent.com/6130520/71635188-f79e2e00-2be7-11ea-9545-a379a225b514.gif)

[2019-12-31 22:10] #4488 closed

[2019-12-31 23:38] jenstrickland opened #4489 "Formation - CSS issue for checkboxes and radio inputs, text should be inset"
## What happened?

The label for checkboxes and bullets should indent consistently. This creates a confusing experience, and may look like an error.

For example:

- [ ] This is how text should left-align, rather than <br/>wrap beneath the checkbox input.

However, this is what we're seeing in staging and in the VA design system:
<img width="457" alt="authd-exp-address-validation-ui-question02" sr

[2020-01-01 03:04] erikphansen commented on #4483
It only preselects _suggested_ addresses. In this case this is the "bad" address the user entered and there were no suggestions. I don't think we want to encourage users to force through a potentially erroneous address by preselecting it for them.

[2020-01-01 03:04] erikphansen commented on #4483
And, yes, once you select it here you can't deselect it unless you selected another option.

[2020-01-01 16:06] tskinn commented on #3852
I don't know that having GIDs behind vets-api is beneficial but I still lean in that direction because it seems more consistent with what we already have setup. I'm not convinced that is the best reason.

One concern that I don't know much about, is the ATO of GIDs. If we expose the service directly through the revproxy how does that affect ATO?

At first pass I think that exposing GIDS directly m

[2020-01-01 21:06] #3414 closed

[2020-01-01 21:06] #3755 closed

[2020-01-01 21:06] #4287 closed

[2020-01-01 21:07] #2537 closed

[2020-01-01 21:07] #4295 closed

[2020-01-02 03:47] kevinstachura commented on #3947
Design Intent document has been created and is located here: https://app.mural.co/t/vsa8243/m/vsa8243/1574193061780/6424902fd07999e3388f34a872ebdc1c62450f63

[2020-01-02 03:47] #3947 closed

[2020-01-02 12:39] lwalsh617 commented on #3692
@jenniferlee-dsva @peggygannon @Karak888 -- I made the edits to the about page. Am looping in @RLHecht to get it into Drupal.
[va-aboutdisabilityratings-rwupdate-v2-010220.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/4015876/va-aboutdisabilityratings-rwupdate-v2-010220.docx)

[2020-01-02 13:52] sonntag-adam opened #4490 "Test Case and Test Execution for CT: Update School Locations Section to page when there are more than 10 locations #4383"
As a member of the BAH development team, I need to make sure that we have traceability between our stories and test case execution so that we can easily see what test cases were executed against our functional work and when those cases were executed.

Assumptions:

1. All test cases pass
2. All defects resulting from test case execution have been resolved before this story and #4383
 are closed.
3

[2020-01-02 14:11] amyknox commented on #4448
Prototypes
Desktop: https://bahdigital.invisionapp.com/share/SCIACE37P2J#/screens/296027207
Mobile:  https://bahdigital.invisionapp.com/share/CRIACEMVQD9#/screens

[2020-01-02 14:38] Karak888 commented on #3812
@andaleliz these wireframes are complete correct?  That's what I saw from your email link, just wanted to check so we can remove any blockers, etc.  Thanks!

[2020-01-02 14:39] Samara-Strauss commented on #4483
Ah, good point. I'm torn here. On one hand, we definitely don't want to encourage someone to choose a bad address. On the other, people are going to do what they want to do, and if they want to move forward with the address they entered, they'll do this whether we preselect the radio button or not. It's not common in UX to have unselected radio buttons; however, there are some use cases that make

[2020-01-02 14:42] andaleliz commented on #3812
This ticket may be too broad. Do we need a separate issue for each version of wireframes?

What I have completed now is a lo-fi version that I'm ready to share via a VSP/VSA Design Intent review.  If they are good with them, I'd like to show to the larger team and then we could move to hi-fi before development.

[2020-01-02 15:04] Mottie opened #4491 "HLR: Code cleanup"
## User Story or Problem Statement

As a developer, I need to perform code cleanup (per recommendations) so I can made the resulting code easier to understand.

## Goal

Follow a common code pattern so that any developer can look at the code and easily understand it.

## Objectives or Key Results this is meant to further

Maintain coding standard

## Acceptance Criteria
- [ ] Recommendations from

[2020-01-02 15:05] #4315 closed

[2020-01-02 15:05] #3502 closed

[2020-01-02 15:41] 1Copenut commented on #1331
@Justin-Pickett Is this on a roadmap for work in the new year? I'm revising the product 508 list and asking about open items.

[2020-01-02 15:45] Justin-Pickett opened #4492 "Sprint 12 Objectives"
## Sprint 12 (1/2 - 1/14)

Note: Code freeze still in effect 1/2 - 1/3.

### Time off

Sprint 12 is 9 days with the New Year's Day holiday.

### Order of priorities

**Required to meet sprint objectives**

1. Get address validation ready for QA
2. Design exploration for Profile 2.0 & Initial technical discovery questions for Profile 2.0
3. Write APO/FPO/DPO tickets for benefits and memorials teams

[2020-01-02 15:48] desireeturner commented on #3536
@KevinMHoffmanUSDS We have this on our radar and in our backlog. We will pick it up as soon as we have the capacity.

[2020-01-02 15:51] Justin-Pickett commented on #4213
@bradl3yC any progress on this being able to work in staging?

[2020-01-02 15:52] Justin-Pickett commented on #4360
@artistgreen can you validate that these have been corrected in staging?

[2020-01-02 15:54] Justin-Pickett commented on #4086
@Samara-Strauss  and @tressaellen There is only a "IA" intro outstanding according to this ticket. So i will close this ticket and consider it done for Sprint 11 and work with VSP and Tressa to be sure she  completes her IA intro.

[2020-01-02 15:54] #4086 closed

[2020-01-02 15:55] rianfowler opened #4493 "Check node version before running install script"
- check node version matches requirement when running `yarn install`
- halt installation and inform when mismatched

[2020-01-02 15:57] andaleliz commented on #4349
Outcome of this work: We've decided to move forward with providing a front end UX solution to replace the static state pages (ex: https://www.benefits.va.gov/gibill/yellow_ribbon/2019/states/va.asp).

Since GIDS YR data will be regularly updated once everything is gets into SharePoint, we will connect to GIDS as source of data for our solution.  This will mean no more manual updates for Tammy.  It

[2020-01-02 15:57] #4349 closed

[2020-01-02 16:04] KevinMHoffmanUSDS commented on #3243
Interviewed three different DEPO product leads before the holidaze, the results are in MURAL here, but I've also added text in this comment.

MURAL Capture: https://app.mural.co/invitation/mural/departmentofveteransaffairs9999/1577112054308?sender=kevinhoffman16624&key=3bdbc34a-d9d2-4c3c-9bcc-a3a13a274e07

What are some of the specific benefits you've experienced by receiving support or working wi

[2020-01-02 16:06] LindseySaari commented on #2226
Not seeing this as an issue in the GIBCT repo, closing the test PR. https://github.com/department-of-veterans-affairs/gibct-data-service/pull/532

[2020-01-02 16:06] #2226 closed

[2020-01-02 16:28] YanaRoy commented on #3909
Primary discovery has been completed for this ticket. Additional BE and FE discovery and resulting work will be identified in separate tickets.

[2020-01-02 16:28] #3909 closed

[2020-01-02 16:29] 1Copenut commented on #3919
@desireeturner Is there a person we can assign this issue, #3918, #3917, and #3869?

[2020-01-02 16:31] jason-gcio commented on #3099
@tlei123 since those changes related to #4462 are already in place waiting for a PR, I am going to move this to Validate for now and we can close it once the PR comes in.

[2020-01-02 16:43] batemapf commented on #3732
Requested relevant feedback from the organizers, still waiting...

[2020-01-02 16:47] #4491 closed

[2020-01-02 16:54] ncksllvn commented on #3703
Hey @kelsonic, assigning us to this Epic for visibility

[2020-01-02 17:06] steve-gov commented on #4319
ESCP SR-002823 created and sent to triage.

[2020-01-02 17:06] #4319 closed

[2020-01-02 17:06] #4318 closed

[2020-01-02 17:13] steve-gov commented on #3958
Had kickoff meeting, will schedule new meetings going forward

[2020-01-02 17:13] #3958 closed

[2020-01-02 17:21] benniemosher commented on #3509
Code ready to be merged, currently sitting in code freeze:

https://github.com/department-of-veterans-affairs/devops/pull/6157

[2020-01-02 17:24] jason-gcio opened #4494 "Vets JSON Schema Reconciliation"
## Goal
There needs to be a 1-1 mapping of fields in the paper form to schema properties in the schema file for the 686, for the existing workflow. This ticket is to add the fields that are missing to the schema file as well as to create a generic location schema that can be used for multiple location inputs on the form, including the location(s) of marriage(s).

## Tasks
- Step through the paper

[2020-01-02 17:26] #2274 closed

[2020-01-02 17:27] benniemosher commented on #2274
we’re working on splitting out these application deploys from the infrastructure so this shouldn’t be a problem as we go forward

[2020-01-02 17:28] ricetj commented on #3000
Reach out to Taylor for help

[2020-01-02 17:30] #2602 closed

[2020-01-02 17:32] SgardnerPMP opened #4495 "[RESEARCH] Review and determine approximate LOE for creation of remaining VISN 4 Sites [PO]"
## User Story or Problem Statement
As a Product Owner, I need to know the approximate level of effort needed, so I can apply the approapiate resources and time in completing the stories needed to complete the product at hand.

## Goal
_Complete a LOE analysis and spread sheet to determine resources and resource types required to complete the Product in the alotted timeline_

## Objectives or Key R

[2020-01-02 17:35] nwalke opened #4496 "Use EFS or something similar to save Atlantis plans between Atlantis instance rotations"
Atlantis creates plan files for PRs, if an instance rotates (or if there's more than one Atlantis server running) these plan files are lost and creates a poor user experience from the associated PR thread.  We should utilize something like EFS to create a shared directory of Atlantis plan files between running Atlantis servers.

## Goal
- Atlantis server rotations do not result in lost plan files

[2020-01-02 17:39] jonwehausen opened #4497 "[GTM Implementation Support] Education - How to Apply Wizard Tracking"
# Analytics Implementation or QA Request

## Description
As an education benefits SME, I want to be able to understand how users are engaging with form wizards -- specifically here the [how to apply wizard. ](https://staging.va.gov/education/how-to-apply/)

## Resources + Notes
- Latest InvisionApp here: https://bahdigital.invisionapp.com/share/9GIACS4WX82#/screens
- Launch Date: March 13, 2020

#

[2020-01-02 17:50] jonwehausen commented on #4458
Hi @nedierecel ,

### **Regarding No. 2**

- I was seeing PDF download events for all of the forms listed in the table on that [page](https://dev.va.gov/find-va-forms-beta/?q=test). Could you clarify a bit more where the break is occuring?

### **Regarding No. 3**
Sure -- The top tasks component is considered '[Featured content](https://design.va.gov/components/featured-content)' according to the

[2020-01-02 17:52] Karak888 commented on #4378
Validated and moving to close

[2020-01-02 17:52] #4378 closed

[2020-01-02 17:53] #4149 closed

[2020-01-02 17:53] #4150 closed

[2020-01-02 17:53] Karak888 commented on #4149
Validated and moving to close.  Thanks!

[2020-01-02 17:53] jonwehausen commented on #4358
Hi team,

Do we have an update here on the DL needs?

Thanks in advance.

Best,
Jon Wehausen

[2020-01-02 17:53] #4367 closed

[2020-01-02 17:53] #4375 closed

[2020-01-02 17:53] #4351 closed

[2020-01-02 17:54] #4352 closed

[2020-01-02 17:54] #4345 closed

[2020-01-02 17:54] #4366 closed

[2020-01-02 17:54] #4299 closed

[2020-01-02 17:54] #4365 closed

[2020-01-02 17:54] #4363 closed

[2020-01-02 17:54] #4353 closed

[2020-01-02 17:54] #4368 closed

[2020-01-02 17:54] #4350 closed

[2020-01-02 17:54] #3139 closed

[2020-01-02 17:57] YanaRoy opened #4498 "Additional Evidence Documents don't display after upload"
## User Story:
As a Back-end Engineer on the Benefits and Memorials team, I need to confirm that the additional evidence documents are being properly uploaded within the Claim Status Tool so that I can identify and fix any issues that exist.

## Original Bug Ticket
#3909

## Tasks
_The steps that must be done by the team to complete the acceptance criteria_
- [x] Test upload jobs
- [x] Test S3 cle

[2020-01-02 17:59] amyknox commented on #4358
@jonwehausen - we were light on devs earlier this week.  Back in full force and this story has been prioritized.  I'll let you know when it's picked up.

[2020-01-02 18:06] jason-gcio opened #4499 "Perform Live UAT for Rated Disabilities (Phase 2)"
## Goal
Prior to release, we want to make sure that the feature we created is what was intended and expected by the end user.

## Tasks
Put the feature in front of real users for them to see their own data
- Push RD to production behind a gated environment using Flipper

- [ ] Recruit users and walk them through user stories used to make the product
- [ ] Solicit feedback from that

## Acceptance

[2020-01-02 18:14] andaleliz commented on #3703
@jenniferlee-dsva and @Karak888 FYI I updated the description to remove Drupal from the goals and acceptance criteria since we have determined that isn't a viable solution for this.

[2020-01-02 18:34] #3456 closed

[2020-01-02 18:34] ccruzgra commented on #4448
Reviewed with BA/Dev Lead. Dev Lead will do further research into items concerning Caution Flags and School Closures which may require further prototype updates.

[2020-01-02 18:35] #4213 closed

[2020-01-02 18:35] #4360 closed

[2020-01-02 18:36] Justin-Pickett commented on #4360
Closing this ticket. This ticket is linked to #4485.

[2020-01-02 18:37] jason-gcio opened #4500 "Refine Initial Mockup for "Add Dependent" Workflow to Show Stakeholders"
## Goal
Ensure that we are going down the right path and what we are producing is what is expected by the stakeholders.

## Tasks
- Clean up and reorganize the starting path for Add Dependents
- Include paper form field mappings on right side
- Share with stakeholders with some written guidance about viewing the mockup and its mapping to the paper form

## Acceptance Criteria
- [ ] First version h

[2020-01-02 18:37] tlei123 commented on #3099
All test-runs except Win IE11\* are now complete.

@jason-gcio , here a link to the Test Plan Summary report on our TestRail.com test case mgmt sytem (TCMS): https://dsvavsp.testrail.io/index.php?/reports/view/24
[VSA shared-account credentials emailed to you separately]

I'll walk though this report in our upcoming online chat/mtg.  There's a truckload of available reports available on TestRail,

[2020-01-02 18:37] Justin-Pickett commented on #4213
This ticket is closed. This ticket is linked to #4483

[2020-01-02 18:38] #4386 closed

[2020-01-02 18:44] YanaRoy opened #4501 "[Development] Create Higher Level Review contestable issues endpoint"
## User Story or Problem Statement
As a developer, I want to send requests to the Caseflow API so I can access the resources needed to carry out the Higher Level Review contestable issues function.

## Goal
Create a contestable issues endpoint on vets-api

## Objectives or Key Results this is meant to further
- Will provide a `GET /contestable_issues` endpoint to the API which will display all con

[2020-01-02 18:45] wygonikGCIO opened #4502 "Thumbnail mapping"
## User Story:
As a __ Desigenr_______, I need ____thumbnail map____ so that I can _have a better understanding of what steps Veteran's take when ordering an item from the Medical Device tool_________.

## Tasks
_The steps that must be done by the team to complete the acceptance criteria_
- [ ] Create thumbnail maps (low fidelity wires presented in a flow) - 40 hours per designer - Riley & Becca

[2020-01-02 18:46] Karak888 commented on #4169
I am moving this to close for copy deck for Search landing pages.  If new edits are needed we can track/ take care of them at that time.  Thanks

[2020-01-02 18:48] jjulian opened #4503 "Pension Automation Onboarding - bshyong"
## User Story
As a new VA.gov team member, I need to complete onboarding activities so I can successfully work on my project.

## Acceptance Criteria
- [ ] Ben has completed each item in the onboarding checklist below.

## Onboarding Checklist

- [ ] PM: Attend intro meeting with product support PM
- [ ] Attend general onboarding meeting
- [ ] [Request Access to Tools](https://github.com/departmen

[2020-01-02 18:50] jjulian opened #4504 "New Team Onboarding - jjulian"
## User Story
As a new VA.gov team member, I need to complete onboarding activities so I can successfully work on my project.

## Acceptance Criteria
- [ ] Jonathan has completed each item in the onboarding checklist below.

## Onboarding Checklist

- [ ] PM: Attend intro meeting with product support PM
- [ ] Attend general onboarding meeting
- [ ] [Request Access to Tools](https://github.com/depa

[2020-01-02 18:51] YanaRoy opened #4505 "Additional Evidence Documents don't display after upload"
## User Story:
As a Front-end Engineer on the Benefits and Memorials team, I need to finalize research and fix any issues for the additional evidence documents within the Claim Status Tool functionality so that it is performing properly.

## Original Bug Ticket
#3909

## Tasks
- [ ] If back end code/endpoints for documents changes, adjust any front end code required to properly display uploaded do

[2020-01-02 18:54] jason-gcio opened #4506 "Create a Working Prototype for "Add Dependent""
## Goal
Internally, we need a working prototype that will allow us to reference and agree on how the 686 form would work.

## Tasks
- [ ] Likely after stakeholders have weighed in on the flat mockup with the field mapping, add conditions to mockup for different scenarios within the initial workflow

## Acceptance Criteria
- [x] A working prototype is shared in GitHub

[2020-01-02 18:55] jbalboni commented on #4102
Hi @peggygannon, on the https://staging.va.gov/health-care/schedule-view-va-appointments/appointments/new-appointment/reason-appointment page, I think the text box label needs to have updated content for this flow.

Right now that label says: "Please give us more detail about why you’re making this appointment. This will help us schedule your appointment with the right provider or facility. Please

[2020-01-02 18:56] bradl3yC commented on #4481
@erikphansen I don't think sentry would be right for this.  Perhaps google analytics.  Is there some conversation we can link for this request?

[2020-01-02 18:57] jenstrickland opened #4507 "[SCREENREADER]: VA is read phonetically instead of as the abbreviation"
## Description

In the main navigation, the nav items, "VA Benefits and Health Care," "About VA," and "Find a VA Location," in JAWS IE11, it reads phonetically, VAH - instead of V A. For screenreader users, this is confusing. For those with cognitive issues as well, it might be very difficult to overcome.

## Point of Contact

Jennifer, Trevor

## Acceptance Criteria

As a screenreader user, I wan

[2020-01-02 19:00] #3525 closed

[2020-01-02 19:00] #2155 closed

[2020-01-02 19:00] #3526 closed

[2020-01-02 19:01] Justin-Pickett commented on #4468
@Justin-Pickett Need to validate -

Enter home address zip code incorrectly.
Verify if you receive a suggestion to verify the correct address  works the way its intended.

[2020-01-02 19:06] Justin-Pickett commented on #4068
Revisit this ticket to figure out what the execution of this work would entail. Determine if this needs to be considered an epic or not. Breakdown accordingly.

[2020-01-02 19:07] jason-gcio opened #4508 "Research Workflow Implementation for Multiple Tasks While Leveraging Rainbows Work"
## Goal
Investigate Form Configuration Tool options and how they can be used to leverage existing rainbows work

## Considerations
- Chapter/wizarding approach (ask before) vs control panel approach (lists functions after you get passed the first profile section)

## Tasks
- Investigate what the Form Configuration Tool can do
- Determine what the best way to implement a solution for when a user wa

[2020-01-02 19:07] Karak888 commented on #3077
@Karak888 to fill out redirect request for Mikki.  Closing this issue but will refer to it for URLs to be redirected.

[2020-01-02 19:07] #3077 closed

[2020-01-02 19:08] nathanhruby opened #4509 "test nathan"
---
name: Standard Issue Template
about: For filing standard issues on VSP.
title: ''
labels: ''
assignees: ''

---
test
## User Story or Problem Statement
As a _____, I need _____ so I can _____.

or

Problem description. How might we _____________ ?

## Goal
_What outcome(s) do we want to see?_

## Objectives or Key Results this is meant to further
- _lorem ipsum_

## Acceptance Criteria
- [ ] _

[2020-01-02 19:09] Karak888 commented on #2215
@AnneHurley to send @Karak888 URL's once pages have been rewritten and approved by SMEs.  Some redirects will be on hold as to how to get content into drupal because of images.

[2020-01-02 19:10] #3801 closed

[2020-01-02 19:12] jason-gcio opened #4510 "Complete TMS Rational Training"
## Goal
It is a requirement that this be completed before gaining access to the EBN codebase.

## Acceptance Criteria
- [x] Attend and complete online training courses

[2020-01-02 19:13] Justin-Pickett commented on #2115
Closing this ticket out.

[2020-01-02 19:13] #2115 closed

[2020-01-02 19:13] Karak888 commented on #3040
@AnneHurley to double check with SMEs (out for holidays).

[2020-01-02 19:17] nedierecel commented on #4458
Thanks @jonwehausen - For #1, can you please attempt to download file 10-0137?

Both the link click and click did not trigger the File Download:
![image](https://user-images.githubusercontent.com/24525739/71686942-9f436980-2d6a-11ea-83ad-08dd4d8d274c.png)

[2020-01-02 19:18] Justin-Pickett commented on #2074
@lihanli will update this ticket with the list of errors. Validate if these errors are still happening. Open new ticket to address outstanding errors that may still be present.

[2020-01-02 19:18] YanaRoy opened #4511 "[Usability Testing] Decision Review: User Interview Conversation Guide"
## User Story
As a UX designer, I need to create a user testing conversation guide so I can ensure that all necessary questions are documented in one place and can be referenced during user interviews.

## Goal
_A document to serve as a user interview conversation guide._

## Objectives or Key Results this is meant to further
- This furthers the discovery effort to understand more about the produc

[2020-01-02 19:18] RLHecht commented on #3692
@lwalsh617 The react widget was added to this Drupal page and all the other changes have been made. Note that the right text for the widget won't appear until after the code freeze. Here's the preview ID to send to the SMEs: preview-prod.vfs.va.gov/preview?nodeId=2408

[2020-01-02 19:19] erikphansen commented on #4481
We still need to determine the best path forward with this and likely coordinate with the analytics folks. My main concern is determining how we can easily get a list of all the bad addresses that we've logged.

[2020-01-02 19:21] Karak888 commented on #2040
waiting on FAQs and these pages may have been moved to Drupal.  HTML could have been modified or previous version were ported (potential)- schema.org was implemented on some of this pages as a small experience.  Work has been eclipsed by drupal pages..  @Karak888 what is most effective way to implement schema.org on series of pages.  extremely difficult to evaluate google schema.org.

[2020-01-02 19:21] jjulian opened #4512 "New Team Onboarding - keithdadkins"
## User Story
As a new VA.gov team member, I need to complete onboarding activities so I can successfully work on my project.

## Acceptance Criteria
- [ ] keithdadkins has completed each item in the onboarding checklist below.

## Onboarding Checklist

- [ ] PM: Attend intro meeting with product support PM
- [ ] Attend general onboarding meeting
- [ ] [Request Access to Tools](https://github.com/

[2020-01-02 19:23] nedierecel commented on #4456
### Domo Progress
- Failure Rate: The failure rate in our custom MVP proved to be the more problematic of the calculations. I am using Domo's Magic ETL to perform some transformations and see if we can calculate this. [For visibility, the steps so far are can be found in this data flow](https://empiricalpath.domo.com/datacenter/dataflows/1/graph):

   - Filter by Submissions and Failures
   - Grou

[2020-01-02 19:25] Justin-Pickett commented on #4481
@erikphansen will groom this out a bit more.

[2020-01-02 19:29] YanaRoy opened #4513 "[Technical discovery] Form 8940: Review BAH documentation in GH"
## User Story:
As a Front-end engineer on the Benefits and Memorials Team, I need to review the code written for form 8940 by Booz Allen team so that I can make sure it is in working order.

## Tasks
_The steps that must be done by the team to complete the acceptance criteria_
- [ ] Locate GH folder
- [ ] Review code for 8940
- [ ] Identify gaps that need to be updated/completed

## Acceptance Cri

[2020-01-02 19:33] Karak888 commented on #3836
@peggygannon @lwalsh617 @jenniferlee-dsva - Laura to get together a meeting to determine helpful links on forms pages.

@Karak888 to create a ticket for usability study, PDFs to @1Copenut  for screenreaders.

[2020-01-02 19:36] andaleliz commented on #3812
Closing this out as it will only cover initial wireframes and we will create more specific tickets for future work per @Karak888

[2020-01-02 19:36] #3812 closed

[2020-01-02 19:37] Karak888 commented on #3548
need to determine IA piece and how to review.  @Karak888 to follow up with @mnorthuis

[2020-01-02 19:40] Karak888 commented on #3198
@RLHecht and @AnneHurley  to have a conversation about what happens next, who does what....

[2020-01-02 19:41] Karak888 commented on #4140
@lwalsh617 to look into REACT tool to see if it has been represented in screenshot as don't need to go live with REACT piece NOW..

[2020-01-02 19:44] Karak888 commented on #4141
@jenniferlee-dsva can we please pull up about this one to see what needs to happen next.  Thanks

[2020-01-02 19:53] Samara-Strauss commented on #4468
Validated!

[2020-01-02 19:53] #4468 closed

[2020-01-02 19:56] Samara-Strauss commented on #4481
Samara will check in with the VA team on privacy concerns here.

[2020-01-02 19:58] wygonikGCIO opened #4514 "Redux DevTools Bug"
## User Story:
As a front end developer, I want to see my Redux action dispatched in Redux DevTools, when I click on a checkbox,  so that I know the Redux state has been updated correctly.

## Tasks
- [ ] Identify what is causing my Redux DevTools to crash when the action is dispatched - 3 hour(s) - Mahariel
- [ ] Implement solution/ work around - 1 hour(s) - Mahariel

## Next Steps
- [ ] Identify

[2020-01-02 20:01] Karak888 commented on #4152
We will need to create any follow-up tickets - those that are dev can go to FE but will need any info coming out of this to create new tickets to work as needed.

@KevinMHoffmanUSDS @jenniferlee-dsva @kelsonic @ncksllvn

[2020-01-02 20:09] erikphansen commented on #4481
@nedierecel If we wanted to use GA to log "bad" addresses (ie, addresses that the user is prevented from saving to their profile) how could we go about doing that? I'm thinking we could send something like this to GA:

[code]

Once we start saving addresses to GA, would there be an easy way to get a list of all the addresses that users were unable to save to their profile?

[2020-01-02 20:13] jbalboni commented on #4100
@peggygannon For, "Make New appointment sentence-cased. No all caps" I'm going to defer to @rtwell. We have header text that's all upper case in a few locations in the app and it's an intentional pattern. It's upper-cased using CSS, so screen readers will read it normally.

[2020-01-02 20:15] erikphansen commented on #4481
@bradl3yC I am curious why you think Sentry isn't the right choice for this. There are times when we explicitly report to Sentry from the FE so this wouldn't be a new thing. But I'm also a noob with both Sentry and GA and my skills at digging through the collected data need a lot of help.

[2020-01-02 20:32] nedierecel commented on #4481
@erikphansen Unfortunately, this would violate GA's storage of PII, so we couldn't store it within Google Analytics. Here's the documentation: https://support.google.com/analytics/answer/7686480?hl=en

[2020-01-02 20:34] desireeturner opened #4515 "Team members needs updated access to va.gov-team repo"
The following individuals need updated access to the va.gov-team repo. They will need both read and write access. I'm currently unable to assign issues to them in this repo.

- GH username: TamGIBill
- GH username: josephpreisser
- GH username: lucastickner

They currently have access to vagov-content and vets-website repos. Their access was originally granted as part of this issue: https://github

[2020-01-02 20:45] #4012 closed

[2020-01-02 20:49] ccruzgra commented on #4448
@amyknox Shall we delete the final task for this story or modify it to say "Update, as needed" especially if Dan/Darrell learn something new that affects our proposed enhancements?

[2020-01-02 20:50] ccruzgra commented on #4398
GitHub file: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/education-careers/stem/research/wizard-update/stem-wizard-update-discovery-research-discussion-guide.md

[2020-01-02 20:53] peggygannon commented on #4100
@jbalboni ok, thanks for the update.

[2020-01-02 21:09] kelsonic commented on #2040
It looks like our schema.org implementation is not making its way to Google or, if it is, Google is straight up ignoring it and using their own Q&As on SERPs.

#### Search Engine Results:
![image](https://user-images.githubusercontent.com/12773166/71693025-a8333b80-2d68-11ea-98ce-a78fa265e948.png)

#### Our Code:
![image](https://user-images.githubusercontent.com/12773166/71693113-e16bab80-2d68-11

[2020-01-02 21:10] erikphansen commented on #4481
@nedierecel thanks for catching that early :) @Samara-Strauss FYI ☝️ So maybe this whole idea is a no-go, which kinda sucks IMO

[2020-01-02 21:13] peggygannon commented on #4102
@jbalboni OK, thanks. So for Direct Flow screen, please let me know if this updated content would work?

Please provide any additional details you'd like to share with your provider about this appointment.

[2020-01-02 21:24] jbalboni commented on #4102
@peggygannon That works for me, thanks!

[2020-01-02 21:25] Samara-Strauss commented on #4481
@erik @bradl3yC just heard back from @boris-ning-usds (developer on the VA.gov team) about saving bad addresses and he said the following:

So I don't know that it's entirely a "no" that we can't do this, but it would probably take a lot of work that might not be worth it. Let me know your thoughts.

[2020-01-02 21:28] #1572 closed

[2020-01-02 21:29] ncksllvn opened #4516 "Fix column widths of search results table"
After performing a search on the [Find VA Forms React widget](https://dev.va.gov/find-va-forms-beta/), the column widths of the results table could use some adjusting. Specifically, the values of the Form Number, Issue Date, and Revision Date fields wrap to the next line, making the cells look weird. The column widths also fluctuate after performing a click on one of the column headers to sort the

[2020-01-02 21:30] amyknox commented on #4448
Yes, let's remove that last task.  We'll share with them next sprint.  Thanks!

[2020-01-02 21:30] erikphansen commented on #4481
Maybe we should just track when these errors happen without recoding the address that caused the error. At least we can get a sense of how often users are told their address is bad.

[2020-01-02 21:31] #4448 closed

[2020-01-02 21:32] #4399 closed

[2020-01-02 21:32] ccruzgra commented on #4399
@amyknox Looks like we can close this now that we're starting to get participants scheduled by Perigean.

[2020-01-02 21:34] Samara-Strauss commented on #4481
@erikphansen I think that is probably the best move going forward.

[2020-01-02 21:34] lisac-usds commented on #4481
if it's a Sentry server hosted in VA's cloud, that might be eligible for storing PII.  Although, would need to be cautious of any integrations (e.g. slack->sentry) that might allow content to be leaked.

Inconvenient, but with SaaS we have to verify its fedramp authorization when we consider using it to store PII. GitHub, for instance, meets the "low impact software-as-a-service" (LI-SaaS) baselin

[2020-01-02 21:35] amyknox commented on #4396
@nedierecel - great news. Thanks for looking into this.  Do you have time on Friday that we could review this info?

[2020-01-02 21:37] #4300 closed

[2020-01-02 21:41] amyknox commented on #4396
From Jon Wehausen via Slack

Confirmed the request is to understand engagement with the radio buttons that dropdown after clicking on the "Find your education benefits form" green call-to-action button. Analytics is currently not tracking activity with those.

Put story 4497 in the backlog to support this need.

[2020-01-02 21:42] #4509 closed

[2020-01-02 21:50] #4412 closed

[2020-01-02 21:54] rroueche commented on #2783
@brandonrapp could you add KPIs to the description when you get a chance? what data will you be measuring to understand if this is useful for users?

[2020-01-02 21:54] jason-gcio commented on #3099
@tlei123:
#4300 is all set so once it gets through its next build it should be ready for those last two checks to be run.  Keeping this in Icebox for now.
cc: @micahchiang

[2020-01-02 21:56] rroueche commented on #2130
I thought this was squarely a Content & IA team super epic, is there a reason FE Tools is on it as well?

@brandonrapp @meganhkelley

[2020-01-02 21:58] rroueche commented on #2239
@brandonrapp could you add KPIs to the description? what data will you be looking at to understand if these guides are improving the problem they're meant to improve?

[2020-01-02 22:03] rroueche commented on #131
@alexpappasoddball please add KPIs to the description. What data will you be measuring to understand whether you have improved what you hypothesized this work would improve?

[2020-01-02 22:04] rroueche commented on #131
Also which Objective does this work drive? Please add that to the description as well. @alexpappasoddball

[2020-01-02 22:06] rroueche commented on #1026
@alexpappasoddball please add KPIs to the description. what data do you plan to measure to understand whether this work is improving what you hypothesize it will improve?

[2020-01-02 22:07] rroueche commented on #2232
@meganhkelley and @alexpappasoddball is this definitely still a BE Tools initiative as well? I know we have engineering talent on Content & IA now, so am just curious if this is still cross-team or not.

[2020-01-02 22:08] YanaRoy opened #4517 "[Development] Finalize va.gov integrations with the lighthouse changes"
## User Story:
As a Back-end engineer, I need to finalize va.gov integrations with the Lighthouse team's changes so that I can ensure they are aligned.

## Tasks
_The steps that must be done by the team to complete the acceptance criteria_
- [x] Identify changes to be made after lighthouses most recent update
- [x] Remove legacy appeal endpoint integration
- [x] Update other endpoints if necessary

[2020-01-02 22:12] YanaRoy opened #4518 "[Technical Discovery] Forms 4192: Review BAH documentation in GH"
## User Story:
As a Front-end engineer on the Benefits and Memorials Team, I need to review the code written for forms 4192 by Booz Allen team so that I can make sure it is in working order.

## Tasks
_The steps that must be done by the team to complete the acceptance criteria_
- [ ] Locate GH folder
- [ ] Review code for 4192
- [ ] Identify gaps that need to be updated/completed

## Acceptance Cr

[2020-01-02 22:12] peggygannon commented on #4426
@RLHecht @AnneHurley Hello, here is the workflow process doc with some feedback from me. I'm also uploading the former website team content process document created in 2018. You might want to integrate some steps or formatting from that document into your new one?

[Workflow.Process.pgedits.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/4017533/Workflow.Process.pgedits.d

[2020-01-02 22:19] Karak888 commented on #3703
re-opening after closing to ensure estimates for tickets included within this Epic were accounted for.

[2020-01-02 22:24] YanaRoy opened #4519 "[Design] NOD: Conduct Design Review of Design Intent"
## User Story:
As a designer on the BaM team, I need to conduct a review of the design intent for Notice of Disagreement with the VSP team so that I can ensure I am following the design principals identified by VSP.

## Design Intent
https://app.mural.co/t/vsa8243/m/vsa8243/1574193061780/6424902fd07999e3388f34a872ebdc1c62450f63

## Tasks
- [ ] Schedule review of Design Intent
- [ ] Conduct review

[2020-01-02 22:26] andaleliz opened #4520 "Complete Design Intent review on initial wireframes for Yellow Ribbon"
Have initial wireframes reviewed by VSP, Accessibility, Content and IA.

Meeting scheduled for 1/6

Incorporate changes into hi-fi designs

[2020-01-02 22:28] ncksllvn opened #4521 "Force the reindexing of va.gov pages from search.gov"
Currently, if you search ["Blue Water" on VA.gov](https://www.va.gov/search/?page=1&query=blue+water), there is a result that reads `Blue Water Veterans and Agent Orange Exposure - Public Health`. The correct term is __Blue Water Navy Veterans__. This has been corrected already in the page source for that [page](https://www.publichealth.va.gov/exposures/agentorange/locations/blue-water-veterans.as

[2020-01-02 22:30] andaleliz opened #4522 "Create high-fi wireframes for Yellow Ribbon MVP"
## User Story:
As a developer, I need high fidelity screens so that I know which design system components to leverage for this product, and which components I need to build.

As a designer/researcher, I need screens that can create a reasonably realistic experience so that I can test our ideas and see how users react to our solution.

## Tasks
_The steps that must be done by the designer to comple

[2020-01-02 22:31] ncksllvn commented on #4521
CC: @Karak888

Also, linking to additional tasks - https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/public-websites/va.gov_site_search_brainstorm_list.md

[2020-01-02 22:37] rroueche commented on #4177
@andreahewitt-odd I think the product here is the React Library, not our "Support" service. Open to push back though if you want to make a different case. And I think a more descriptive word than "overhaul" is ideal, perhaps "enact usability improvements for customers" or something -- if I understand this work correctly.

[2020-01-02 22:41] rroueche commented on #3666
@andreahewitt-odd  I think the product here is the "Sample Project" not Support, but again open to pushback if you want to make the case for the other way!

[2020-01-02 22:43] rroueche commented on #2741
@andreahewitt-odd I updated the language to "proof of concept" instead of MVP, since we already have the other manual google sheet launch tracker MVP.

[2020-01-02 23:04] rroueche commented on #3085
@joanneesteban I feel this is more for O3: resiliency of our systems and teams, than O1: delightful customer experience. what are your thoughts?

[2020-01-02 23:07] rroueche commented on #4091
@brandonrapp don't we already automatically enforce code quality in a lot of ways? what is unique about this initiative that you'd like to take on "NEXT"?

[2020-01-02 23:12] rroueche commented on #157
@brandonrapp and @ricetj I see this as being more related to O3: stability and resiliency of our systems and teams, but curious to hear your thoughts

[2020-01-02 23:14] rroueche commented on #3742
@alexpappasoddball what objective is this in pursuit of? please add to the description.

[2020-01-02 23:17] rroueche commented on #4392
@alexpappasoddball what objective is this in pursuit of? please add to the description.

[2020-01-02 23:19] bkjohnson commented on #4081
It looks like the metatags are there to create the "cards" on social sites like twitter & facebook.  From twitter's [docs](https://developer.twitter.com/en/docs/tweets/optimize-with-cards/overview/abouts-cards):

And the docs go on to [describe how to properly use the meta tags](https://developer.twitter.com/en/docs/tweets/optimize-with-cards/overview/markup).

The metatags with the `og:*` keys ar

[2020-01-02 23:20] joanneesteban commented on #3085
@rroueche I think that makes sense if the focus is on the Google Tag Manager side, which will continue under the GTM super epic: https://github.com/department-of-veterans-affairs/va.gov-team/issues/265. I would say that this is more focused on automating that process/reducing time to implement GTM for the clients, which I think falls more under O1 - but happy to change the Objective if we think an

[2020-01-02 23:38] rroueche commented on #4178
@jkassemi I see this more as a NOW or NEXT need than Future, what are your thoughts?

[2020-01-02 23:44] meganhkelley commented on #2130
@rroueche I think that's primarily a holdover bc FE Tools was so involved in current Gatsby docs. I'm fine with removing FE tools label if @brandonrapp is as well :thumbsup:

[2020-01-02 23:47] meganhkelley commented on #2232
@rroueche I would advocate for keeping this as a shared BE Tools/Content & IA initiative. Keifer is still heavily involved and a lot of this is BE work (which we do not have a resource for on Content & IA). C&IA should own the product roadmap etc but I still anticipate needing collaboration from BE Tools.

[2020-01-03 00:25] #4223 closed

[2020-01-03 00:25] #4224 closed

[2020-01-03 00:25] #4259 closed

[2020-01-03 00:25] #4261 closed

[2020-01-03 00:25] #4263 closed

[2020-01-03 00:25] #4265 closed

[2020-01-03 00:25] #4266 closed

[2020-01-03 00:25] #4267 closed

[2020-01-03 00:25] #4268 closed

[2020-01-03 00:26] #4269 closed

[2020-01-03 00:26] #4270 closed

[2020-01-03 00:26] #4272 closed

[2020-01-03 00:26] #4273 closed

[2020-01-03 00:26] #4274 closed

[2020-01-03 00:26] #4290 closed

[2020-01-03 00:26] #4291 closed

[2020-01-03 00:26] #4303 closed

[2020-01-03 00:26] #4304 closed

[2020-01-03 00:56] erikphansen commented on #2427
It looks like the behavior for the Direct Deposit modal is correct; when you close the modal the focus is on the edit button that spawned the modal. Looking into why that works but it doesn't work for any of the contact info modals might be helpful.

[2020-01-03 02:05] erikphansen commented on #4487
@Justin-Pickett @Samara-Strauss Feel free to validation this on staging. The steps above to reproduce the bug shown above should no longer result in the described bug.

[2020-01-03 04:58] SgardnerPMP opened #4523 "[CONTENT] Translate legacy Lebanon, PA "ABOUT" web page into "New" plain language Web Page [CONTENT]"
## User Story or Problem Statement
As a Veteran Web user, I need a need a plain language description of services in the "ABOUT", web page for Lebanon, PA website so I can quickly understand the services and service location for my needs.

## Goal
_Efficient and clear content describing local About Page?_

## Objectives or Key Results this is meant to further
- _Reduced word count and improved plai

[2020-01-03 05:12] SgardnerPMP opened #4524 "[ENGINEER] Create NEW VAMC - Lebanon, PA System (Site) and validate pages [BE ENGINEER]"
## User Story
As a Drupal Engineer, I need to test and review creation of a new Pre-Production Drupal system/site, so I can repeat the website template creation process for each of the VISN 4 websites.

## Goal
_Review process step-by-step so it can be recreated again for each system and then begin determining additional dynamic pages and scalability_

## Objectives or Key Results (OKR) this is me

[2020-01-03 13:34] lwalsh617 commented on #4139
@ncksllvn @kelsonic -- Hey Guys, not sure which one of you is taking this on, and there was confusion about the tix so am flagging you both.
- I made the necessary copy changes in Git Hub (with help from Kelson and Randi!)
- Original page is here: https://github.com/department-of-veterans-affairs/vagov-content/blob/master/pages/decision-reviews/higher-level-review.md
- Preview of edited page (whic

[2020-01-03 14:06] Samara-Strauss commented on #4481
@erikphansen any thoughts on @lisac-usds  post above?

[2020-01-03 14:15] sonntag-adam commented on #4383
In staging, closing out story. Testing passes QA

[2020-01-03 14:16] #4383 closed

[2020-01-03 14:16] #4490 closed

[2020-01-03 14:17] ccruzgra commented on #4395
@amyknox  I'll document what they shared with us in GitHub.

[2020-01-03 14:17] #3274 closed

[2020-01-03 14:21] Samara-Strauss commented on #4487
I am still seeing this. GitHub isn't allowing me to add a screenshot, so I'll Slack you the screenshot.

[2020-01-03 14:33] rianfowler opened #4525 "Refactor external services and downtime notifications"
# Overview

External services and downtime notifications components significantly overlap. Refactor to use a single component, reducer, and set of actions.

[2020-01-03 14:35] jenstrickland commented on #4489
@Samara-Strauss - For the checkbox label issue, here's the design system bug to address it. cc @Justin-Pickett

[2020-01-03 14:48] jenstrickland opened #4526 "[COGNITION, SEMANTIC]: Radio inputs are to be used for groups of options where only one choice may be selected"
# [COGNITION, SEMANTIC]: Radio inputs are to be used for groups of options where only one choice may be selected

## Description

[SEMANTIC] In this mockup there is data presented with a single radio input. Radio inputs should be presented in a group of options where only one may be selected.
[COGNITION] In this area's design, there is a radio input along with a text link within the text to edit t

[2020-01-03 14:49] Samara-Strauss commented on #4489
@bradl3yC can you take a look at this?

[2020-01-03 14:56] Samara-Strauss commented on #4526
This design was intentional. People have two options here — to save the address they originally entered, which might be problematic (but might not be — the user knows best) or to edit the address and update it. Without the radio button, there's no way to really acknowledge that you've selected this address and intend to save it as-is. We talked about having the radio button pre-filled in instead o

[2020-01-03 14:59] jenstrickland commented on #4526
This is still a cognition issue, as well as a semantic markup issue. It may be clearer to present the options explicitly.

- Use the address as entered
- Edit address

[2020-01-03 15:06] rtwell commented on #4100
hi @peggygannon and @jbalboni — thanks for looping me in!

Jeff is correct—that's a new format we're using for what i believe is known as a "super-header". It'll be showing up across a bunch of different card designs across VA.gov.

[2020-01-03 15:23] jbalboni opened #4527 "Refactor facility components to remove use of Lodash"
We copied some code over from the FL tool that use Lodash unnecessarily, we should refactor those components.

[2020-01-03 15:25] nedierecel commented on #4396
@amyknox Jon has a conflict today, but we're both free Monday, 12/6 at 12:30-1 EST. Please advise if your team is free next week. Thanks!

[2020-01-03 15:27] Samara-Strauss commented on #4526
We are not going to change the CTAs as they are consistent with the rest of the design/use cases.

[2020-01-03 15:28] Samara-Strauss commented on #4526
Actually, I would consider an update to the "update" button, but we are not going to change the Edit Address link.

[2020-01-03 15:31] jenstrickland commented on #4526
I'm sorry, I guess the bulleted list wasn't clear.

* radio input - Use the address as entered
* radio input - Edit the address

Button - Update (for input 1 — proceed; for input 2 — go back to edit)
Button - Cancel

[2020-01-03 15:32] erikphansen commented on #4487
@Samara-Strauss sorry `master` broke and the change didn't get pushed out :( I'll let you know when it's really up.

[2020-01-03 15:36] erikphansen commented on #4481
@Samara-Strauss I'm asking on Slack to see if someone more qualified than me knows if we've done this in Sentry.

[2020-01-03 15:36] Samara-Strauss commented on #1129
We have deleted all comments in this thread that included addresses for PII concerns.

[2020-01-03 15:44] rtwell commented on #4100
@peggygannon quick question—i noticed that you're recommending **Your phone number** (and other similar labels elsewhere), but that seems inconsistent with what I'm seeing [documented here](https://github.com/department-of-veterans-affairs/vets.gov-content/blob/master/site-wide-issues/Form%20label%20masterlist.xlsx). Just wanted to make sure we're staying consistent, but if VAOS needs special labe

[2020-01-03 15:45] #1129 closed

[2020-01-03 15:46] jenniferlee-dsva commented on #4141
@Karak888 Hello! Do you mean sync up? Yes. The convo w/Andrea and Kevin Satchura and Laura wrt nav was that we would circle up with Kevin once his user research was completed and get his input re labels and Veteran mental model for HLR, appeals and DRs in general. Then take another look at the previous IA recommendation (which was made several months ago prior to research) and implement as-is or w

[2020-01-03 15:53] hughes-dustin commented on #4466
branch: bah-4466
PR:  https://github.com/department-of-veterans-affairs/vets-website/pull/11415

[2020-01-03 15:54] amyknox commented on #4396
@nedierecel - that works for us.  Please send an invite for that time.  Look forward to chatting with you both.

[2020-01-03 16:01] Samara-Strauss commented on #4526
@jenstrickland what do you think of this? I think it addresses the radio button issue while also not breaking too far from the overall pattern we have set up for the rest of our use cases. I'm hoping it will both work for people who do and do not need screenreaders.

BTW button copy for the main CTA isn't final. If this design is good, I'll work with copy to get the final wording.

![13  Scenario

[2020-01-03 16:08] sonntag-adam commented on #4466
![Screen Shot 2020-01-03 at 11.08.18 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/2fc00e48-e9b8-4aee-8fb3-32de49c3b805)

[2020-01-03 16:10] rtwell opened #4528 "Add space to the "Need help" pseudo-footer on short pages"
There are some pages that have a single short-n-sweet question on VAOS, and the "Need help?" section is too close to the Back/Next buttons, which makes it hard to scan the page, for example:

![image.png](https://images.zenhubusercontent.com/5568d4774f7a08fbb7f30688/0db95d99-e868-4344-ab12-77e8b7260e02)

We need to add about 2x or 3x the space below the buttons on those shorter pages.

[2020-01-03 16:10] bobrox1973 commented on #4515
I have added the users below to the vets.gov-write team, which has write access to the va.gov-team repo. there was no user with the username - lucastickner, so I did a search and added the user - LTickner to the repo. In the future please verify the username prior to submitting the request.
GH username: TamGIBill
GH username: josephpreisser
GH username: lucastickner

[2020-01-03 16:10] #4515 closed

[2020-01-03 16:11] sonntag-adam commented on #4466
Testing passes QA

[2020-01-03 16:14] jenstrickland commented on #4526
This is much clearer. Thanks! 👍

[2020-01-03 16:15] desireeturner commented on #3919
@1Copenut I've confirmed that @TamGIBill is working this as well as #3918, #3917, and #3869 and have assigned them to her. @TamGIBill please let @1Copenut know when all of these updates are live so he can re-test. Thank you both.

[2020-01-03 16:15] Samara-Strauss commented on #4526
Great. I will work with copy to get button copy updated.

[2020-01-03 16:36] Samara-Strauss opened #4529 "[Copy] Button copy update for address validation where there is only one option"
## User Story:

As a person using a screenreader, I need the CTAs to be clearer when I am trying to update my address, address validation is triggered, and there is only one address to save.

## Background

This issue was originally brought up in #4526.  TL; DR is that we have two states that are a problem:

- One is for address validation where a user is allowed to override the determination that

[2020-01-03 16:37] Samara-Strauss commented on #4526
Working on copy in #4529

[2020-01-03 16:37] delli-gatti-michael opened #4530 "Elements in GIDS do not have sufficient color contrast"
### The following elements in GIDS do not meet WCAG AA Contrast Ratio requirements:

## Dashboard Page
- The word "Dashboard" in the header
![Screen Shot 2020-01-03 at 11.22.37 AM.png](https://images.zenhubusercontent.com/5c07f000391a6f6357adc430/24a95629-5515-49b4-9254-e7f33e287d1d)

- Show GIBCT and Download Export CSV buttons under Latest Production version
![Screen Shot 2020-01-03 at 10.54.10

[2020-01-03 16:42] Samara-Strauss commented on #4487
@erikphansen noted and thanks! I will be happy to verify it when it's ready.

[2020-01-03 16:49] bradl3yC commented on #2427
@erikphansen I've noticed that even though using ```document.activeElement``` returns the body, just hitting tab DOES go to the next tab element - its not lost on the body somewhere.

[2020-01-03 16:52] kfrz commented on #2545
Closing

[2020-01-03 16:52] #2545 closed

[2020-01-03 16:52] #4113 closed

[2020-01-03 17:00] erikphansen commented on #4487
@Samara-Strauss okay it's actually fixed now

[2020-01-03 17:01] lihanli commented on #2074
the majority of the errors we're still seeing are `Routing number related to potential fraud`
but the `Generic CnP payment update error. Update response: Update Failed: Night area number is invalid, must be 3 digits` errors are still happening

[2020-01-03 17:03] erikphansen commented on #2427
I noticed the same thing. But it works differently (and better) with the DD modals. Any clue why? The biggest problem with the current not-100%-correct implementation is that the user can't immediately hit spacebar again to reopen the modal they just closed. So both visually and functionally it isn't quite right.

[2020-01-03 17:06] #4396 closed

[2020-01-03 17:16] 1Copenut commented on #2427
@erikphansen Right on point with your comment here. Users should be able to re-open the modal as soon as it's closed by pressing `SPACE` or `TAB`. That's one of the core tenets of modals.

@bradl3yC Focus being returned to the `body` element can be deceiving. Technically modern browsers remember where focus was when it was lost, and returns the body element, but IE11 is bad about setting focus rig

[2020-01-03 17:19] #4395 closed

[2020-01-03 17:20] #4394 closed

[2020-01-03 17:21] patrickvinograd commented on #3852
GIDS is considered part of the vets.gov/VA.gov system for ATO purposes. I don't foresee any issues there.

[2020-01-03 17:23] brandonrapp commented on #4091
@rroueche We currently leverage code climate but we have concerns about how it is being used. We don't have a clear understanding of what it is "getting us". Part of this work is that we need to agree on what success looks like. We are more trialing code climate rather than implementing it. It is going to involve some upfront discussions about what we want to accomplish and we can then measure tha

[2020-01-03 17:23] patrickvinograd commented on #3852
There was some response rewriting happening, mainly around the JSON API `link` metadata for paginated results, e.g. to make the base hostname and resource path correct. Other than that it was mostly a pass-through last time I  looked at it. (But do your own investigation).

[2020-01-03 17:23] jenniferlee-dsva commented on #4139
@lwalsh617 - per convo, and attaching here as well.

![HLR-heroku-header-feedback-010320.gif](https://images.zenhubusercontent.com/5bb2975c143b4d2ee7a35ef6/c07e2db3-be3f-4e6c-a1b2-5cc733cdfd40)

[2020-01-03 17:25] brandonrapp commented on #2130
We included it in ours as well because more than likely we would be the
development team that would support the implementation of any agreed upon
documentation tool. I am totally fine removing us from the ticket.

On Thu, Jan 2, 2020 at 6:44 PM meganhkelley <notifications@github.com>
wrote:

[2020-01-03 17:28] erikphansen commented on #4481
@Samara-Strauss in this slack thread Alastair recommended creating a temp database table to store the logged PII. Which also means it's something that @lihanli would have to do since all the logging would happen on the backend. https://dsva.slack.com/archives/CBU0KDSB1/p1578066013119600

[2020-01-03 17:29] nedierecel commented on #4456
### Domo Follow-Up Notes for Sprint 17:

- I'll request a time with Domo to review mapping form names more easily and calculating form failures; tentative hold for 1/9 at 3:30-4
-  We'll use this discovery to see how to map the event names (e.g. `edu--submission`) to a Form; the objective is to allow us to filter at a dashboard level across all data sources
- Amy will review the Domo MVP to figure

[2020-01-03 18:01] dneel-bah opened #4531 "CT: Remove Prod/Feature flag for "Cautionary information" section update"
As a developer, I need to remove the feature flag so that the Veteran Programs section updates are available in the production environment.

## Assumptions:
1. This work has been reviewed by EDU and signed off on as of 01/03/2020.
2. The updated data has been loaded into GIDS as of 02/18/2020.

## Acceptance Criteria:
1. The work completed in #4277 is available in production.

## Supporting Artifa

[2020-01-03 18:02] amyknox commented on #4402
Schools with multiple (the most!!) caution flags

24902428 - Art Institute of Las Vegas:  Probation or Equivalent or a More Severe Status: Warning (Significantly out of compliance - student achievement), Settlement with U.S. Government, Upcoming Campus Closure (Details Posted on Institution Website), Assigned receiver has motioned court for an emergency closure of compus. Immenent closure is a dis

[2020-01-03 18:03] thatmattjohnson commented on #4410
remediation source files with statuses:

https://docs.google.com/spreadsheets/d/1w-ox9_vFaWQkMa9LVgd4djwoR--4Ce4yBeNEJhAZu-E/edit#gid=2057929502
https://docs.google.com/spreadsheets/d/1OMF77aF-7O6wM0M6EV5Org3RZzxdsrxNgWe0s7VZ9o4/edit#gid=279070905
https://docs.google.com/spreadsheets/d/1RjCAoEgc9VmR8lnlpkzsira09rtB1qJu_1fichHoDH0/edit#gid=1711595673
https://docs.google.com/spreadsheets/d/1yN3oQPcb

[2020-01-03 18:04] lihanli commented on #4481
i looked in the code and i think we're already logging addresses that couldn't update, let me know what you want me to do with them

[2020-01-03 18:06] thatmattjohnson commented on #4410
remediation completed for all above files. closing this issue.

[2020-01-03 18:06] #4410 closed

[2020-01-03 18:11] erikphansen commented on #4481
sweet. at this point I'm not sure but this seems like data worth having in case there is a useful way to help improve the validation API.

[2020-01-03 18:12] erikphansen commented on #4481
since it appears we are storing "bad" addresses already, I'm gonna close this and make a new ticket to simply track _when_ users are told they entered an invalid address in GA.

[2020-01-03 18:19] delli-gatti-michael opened #4532 "Test Case and Test Execution for CT 116: Remove SCO Email & Phone Number from VET TEC Profile Page #20018"
@delli-gatti-michael commented on [Tue Nov 26 2019](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/20042)

As a member of the BAH development team, I need to make sure that we have traceability between our stories and test case execution so that we can easily see what test cases were executed against our functional work and when those cases were executed.

Assumptions:

1.

[2020-01-03 18:20] jenniferlee-dsva commented on #4339
Hi @lunascoop - I'd love to check in about ^. LMK.

[2020-01-03 18:21] #4305 closed

[2020-01-03 18:21] #4532 closed

[2020-01-03 18:28] ccruzgra commented on #4395
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/education-careers/stem/research/wizard-update/discovery-artifacts/EDU-stats-for-wizard-1995.md

[2020-01-03 18:30] andaleliz commented on #4516
@kelsonic I've been thinking about your suggestion to update the column heading `VA Form number` to `Form #`.

I'm all for improving the column widths, but I don't think using the `#` for number is acceptable, as I believe a screen reader will read that as "hash" or "pound" and not the word "number". Plus, it might confuse some people who aren't familiar with that abbreviation/nomenclature.

I don

[2020-01-03 18:30] Samara-Strauss commented on #4487
Validated!

[2020-01-03 18:30] #4487 closed

[2020-01-03 18:31] SgardnerPMP opened #4533 "[CONTENT] Translate legacy Lebanon, PA "Work With US" web page into "New" plain language Web Page [CONTENT]"
## User Story or Problem Statement
As a Veteran Web user, I need a need a plain language description of services in the "Work With US", web page for Lebanon, PA website so I can quickly understand the services and service location for my needs.

## Goal
_Efficient and clear content describing local Work With US Page?_

## Objectives or Key Results this is meant to further
-To inspire applicants to

[2020-01-03 18:33] joanneesteban commented on #4456
### ForeSee Comment Card 2019 Added:

![image](https://user-images.githubusercontent.com/48964695/71741530-222cf880-2e2d-11ea-876a-37cdd3aff16c.png)

Played around the with data here:
[ForeSee_Comment_Card_Education_2019.xlsx](https://github.com/department-of-veterans-affairs/va.gov-team/files/4020394/ForeSee_Comment_Card_Education_2019.xlsx)

Ex:
![image](https://user-images.githubusercontent.com

[2020-01-03 18:36] Samara-Strauss commented on #4481
Reopening temporarily. @boris-ning-usds @lisac-usds can you confirm this approach does not violate any privacy rules? It looks like we are already tracking addresses in Sentry. I'm genuinely unsure how to determine if this is OK or if we need to stop doing this. Any guidance would be helpful.

From Erik:

From Lihan:

[2020-01-03 18:39] Karak888 commented on #3606
@ncksllvn I agree with you that we should have a separate ticket for the work you are doing on the VA Forms REACT for search, so I will create a ticket for you for that and revise this one so we don't have to wait until FE is done to add Analytics.  I will follow up with Nedie and make sure she is clear on both analytics requests.

[2020-01-03 18:40] erikphansen commented on #4481
@lihanli can you verify where/how the addresses are being logged? In Sentry or a temp DB table outside of sentry?

[2020-01-03 18:44] lihanli commented on #4481
the addresses are stored in the `personal_information_logs` table in the database, not in sentry, we are already storing SSNs and other PII in the database, it's my understanding that we are allowed to store PII in the database as long as we delete it after a certain amount of time. `personal_information_logs` records get deleted after 2 weeks

[2020-01-03 18:46] Samara-Strauss commented on #4481
@boris-ning-usds or @lisac-usds can you confirm this is correct? If so, we can close out this ticket.

[2020-01-03 18:46] jason-gcio opened #4534 "Content Revisions for "View Dependents" Page"
## Goal
Update content (text and/or links) on the View Dependents page per Content Team's direction, so that the page aligns with the VA.gov content style guide.

## Tasks
- [x] Present View Dependents revisions to Content Team (Peggy)
- [x] Receive and incorporate [feedback](https://github.com/department-of-veterans-affairs/va.gov-team/issues/4702) into the View Dependents screen design

## Accep

[2020-01-03 18:50] desireeturner opened #4535 "Adding new BAH team to DSVA Slack"
The following individuals need to be added to multiple slack channels as they begin research in support of claims:
- Christopher.Gilbert@va.gov
- william.jackson2@va.gov
- michael.nuss@va.gov
- nathanael.burns@va.gov

What channel(s) do they need to be added to?
#vfs-platform-support
#vfs-all-team

[2020-01-03 18:54] tlei123 commented on #3099
Blocked/untested/failed Test-Runs now all Passed, after PR merged for bugfix #4300 ...

@jason-gcio , [Test Plan 2.1 Summary Report](https://dsvavsp.testrail.io/index.php?/reports/view/26) is now available on TestRail -- [PDF export](https://github.com/department-of-veterans-affairs/va.gov-team/files/4020475/rated-disabilities-test-plan-2.1-summary-report.pdf) is attached.

Feel free to Close this

[2020-01-03 18:58] jason-gcio commented on #3099
Awesome, thanks @tlei123!

[2020-01-03 18:58] #3099 closed

[2020-01-03 18:59] jason-gcio opened #4536 "Create a User Flow Diagram for "View Dependents" Screen"
## Goal
Present viable options of various user flows within VA.gov to the proposed "View Dependents" page. Outline suggested inbound links from VA.gov to proposed "Dependents" screen.

## Tasks
- [x] Research existing VA.gov content pages, including authenticated pages
- [x] Create diagram illustrating various user flows
- [x] Consult with other VSA/VSP teams/members for input and/or validation

#

[2020-01-03 19:15] jason-gcio commented on #4317
@clantosswett Just wanted to touch base and see if there was anything else we could add to this documentation?

[2020-01-03 19:31] AnneHurley commented on #4480
[Writer-editor plain language writing test]
(https://app.zenhub.com/files/133843125/727cc19d-9b6e-4411-af5b-635696bb318f/download)
@larrywest52 @kimmueller1 @psanders86 @LouCarlozo63 @lunascoop  @lwalsh617 @Karak888  @SgardnerPMP

Hi all, @RLHecht  found the writer-editor test we took when we were hired to work on this project. It would be great for all writers and editors to take this test/exerci

[2020-01-03 19:32] Justin-Pickett opened #4537 "[Development] Overseas military addresses: Update 526 disability form"
## User Story:

As a person who lives on an overseas military base, I should not be able to list any other country besides the United States in my address in the VA.gov profile or on any VA benefit applications.

## Background:

The authenticated experience team has made an update to the user profile that will allow for better error handling of overseas military base addresses ([details here](http

[2020-01-03 19:32] jenstrickland commented on #4431
_Accessibility Notes_

- What is the context/purpose for each page? What is the purpose of the person using this page?

**Page 1**

- I wonder if the right rail content would be helpful an the Additional Info show/hide component above the "Dependents on your award" heading. At a minimum, that they collapse into that area on mobile. Mobile and screenreader users are unlikely to access that informat

[2020-01-03 19:34] jonathanjnelson opened #4538 "Request design review for Caregiver Form 10-10CG"
## Instructions

1. Click or press the gear icon next to the "Labels" heading on the right. Search for your team in the labels list. If your team is not listed in the Labels menu, please leave a comment after you have created this issue. The Product Support team will create a new label for your team.
2. Text inside `<-- comment -->` blocks will not appear in your issue ticket. These comments offer

[2020-01-03 19:40] ccruzgra commented on #4402
@amyknox https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/education-careers/school-comparison-tool/research/caution-flags/institutions-with-caution-flags-v0.1.xlsx

Anything else we can include before we close?

[2020-01-03 19:42] jason-gcio opened #4539 "Design Intent Review of "Add Dependents""
## Goal
Present "View Dependents" screen layout to Design community.

## Task
- [ ] Schedule time with **Shawna, Jennifer Strickland, **and** Emily W.** for review and feedback of  latest mockup for the "View Dependents."
- [ ] Gather and incorporate feedback to ensure consistent application of design system components. Troubleshoot potential design/development related issues.
- [ ] Communicate co

[2020-01-03 19:46] 1Copenut commented on #4431
Trevor's feedback from design intent review 1/3/2019:

**Page 2 of 8**
* Was there a sentiment to show the entire social security number? The previous iteration X'ed out all of the number except last four. Maybe I'm reading too much, but I trend toward private, and don't like to expose things like SSN/EIN unless it's user-initiated.
* Dependents... feels like an `<h2>` and the persons' names shoul

[2020-01-03 19:46] Justin-Pickett opened #4540 "Education forms changes for address modal"
## User Story:

As a person who lives on an overseas military base, I should not be able to list any other country besides the United States in my address in the VA.gov profile or on any VA benefit applications.

## Background:

The authenticated experience team has been working on an update to the user profile that will allow for better error handling of overseas military base addresses ([details

[2020-01-03 19:51] jenstrickland commented on #4538
_Accessibility / previous discovery team notes_

- definitions - rather than modals; use tooltip (unless this ends up only being available for acronyms)

- in this flow, each individual has to complete their info in a chain, or together. It's not likely the Vets and Caregivers will do this together.

- what is the envisioned flow for this form?

- Suggest separating each person and having their ce

[2020-01-03 19:52] delli-gatti-michael opened #4541 "GIDS Dashboard - heading level is skipped"
On the dashboard page of GIDS, The main heading is heading level one and the following three sections are heading level three. Heading levels should not be skipped. Changing the H3s to H2s would comply with best practices.

The current state of all headings on this page:
[code]

This defect can be reproduced using any of the following tools:
- [Axe](https://www.deque.com/axe/)
- [ANDI](https://www

[2020-01-03 19:55] desireeturner opened #4542 "New Users GitHub Request"
The following individuals need to be added to the BAH-526 team with read and write access (va.gov-team repo).
GH username: cgilbert1
VA email: Christopher.Gilbert@va.gov

GH Username: wjackson2
VA Email: william.jackson2@va.gov

GH username: randomUser132
VA Email: nathanael.burns@va.gov

[2020-01-03 19:57] Justin-Pickett opened #4543 "Burials forms changes for address modal"
## User Story:

As a person who lives on an overseas military base, I should not be able to list any other country besides the United States in my address in the VA.gov profile or on any VA benefit applications.

## Background:

The authenticated experience team has been working on an update to the user profile that will allow for better error handling of overseas military base addresses ([details

[2020-01-03 20:03] bradl3yC opened #4544 "Update react-formation version"
This is related to ticket #2427.  Changes were required on react-formation.

[2020-01-03 20:05] jason-gcio opened #4545 "IA Review: View Dependents"
## Goal
The eBenefits Team would like some guidance on where the "View Dependents" tool will reside so that we can make accurate adjustments to the mockups, frontend and to inform Public Websites about where to create the unauthenticated landing page.

## Required
- **Description and goals of the page/tool or link to a product outline**
  - [Link to feature outline](https://github.com/department-o

[2020-01-03 20:05] arickalewis1 commented on #4323
A few comments as I review this:

- My understanding was that we will not link to the detail pages for this MVP.
- Cemeteries do not currently list the phone number (do we have this information?)
- I was also assuming that "in VA network urgent care pharmacy" would actually be a location type and not a service type

[2020-01-03 20:05] tlei123 commented on #4462
All copy mismatches now fixed via #4300.  Closing this now.

[2020-01-03 20:05] #4462 closed

[2020-01-03 20:08] #4104 closed

[2020-01-03 20:10] jenniferlee-dsva commented on #4169
@Karak888 - this ticket has not been completed and should remain open. Laura has been sidetracked to meet HLR and View Disability Ratings static launch pages, but this item is the next priority to finish. You can put it in ready column instead of in progress to better reflect status.

[2020-01-03 20:11] jason-gcio opened #4546 "Create Research Plan for "686c Submission Dependents""
## Story
As a design researcher, I want to create a consistent plan that encompasses the guidance of approved methods and all the components for the item I am researching.

## Goal
To validate my hypothesis and ensure that I am applying user centered designs before engineers start to build.

## Considerations
- [Previous Research Plans used](https://github.com/department-of-veterans-affairs/va.gov

[2020-01-03 20:11] Karak888 opened #4547 "Implement Google Analytics for VA Forms Search Page Body Content Links"
### **Why:**
We'll need Google Analytics added into our **Search Page Body Content Links** to capture key events, so that we know how our widget is being used. We may also want to record clicks to download forms, so that we know what forms are most popular.  We also need Google Analytics added to the links on the page content (outside of the REACT widget).

[Analytics ticket for VA Forms Search Pa

[2020-01-03 20:12] jholton opened #4548 "Update GIBFT Salesforce consumer keys for non-prod environments"
GIBFT = GI Bill Feedback Tool.

[2020-01-03 20:13] jason-gcio opened #4549 "Create Conversation Guide for "686c Submission Dependents""
## Goal
We want to create a consistent conversation guide that encompasses the guidance of approved methods and all the components for the users we will be communicating with.

## Considerations
Conversation guides are usually incorporated into Research Plans but because they are large enough, we seperate them.  Both are considered deliverables.

## Task
- [x] Coordinate with @mnorthuis on some of

[2020-01-03 20:18] delli-gatti-michael opened #4550 "GIDS Upload Page - Form elements are missing labels"
When attempting to upload a new version of any file in GIDS, the user is presented with the file upload page. Three of the fields on this page are missing labels and are therefore not being properly read by a screen reader.
- Csv file type
- Skip lines before header
- Column separator

Labels must be added to these fields to ensure section 508 compliance.

![Screen Shot 2020-01-03 at 3.08.40 PM.pn

[2020-01-03 20:20] amyknox commented on #4402
@ccruzgra - with the udpated excel sheet, I think we're good. Close this story!!

[2020-01-03 20:21] bobrox1973 commented on #4542
Please see my email.

[2020-01-03 20:22] jason-gcio opened #4551 "Content Review: "Add or remove dependents""
##  Goal
- We need to our content reviewed before moving forward with "Add Dependents" (starting with "Add Dependents") to ensure it's accurate, aligns with VA style, and is error-free.
- After stakeholders/usability sessions

## Acceptance Criteria
- [ ] Feedback has been shared with the eBenefits Team for implementation

**Request feedback after usability sessions:**
Team/Practice Area label ( c

[2020-01-03 20:26] Karak888 opened #4552 "Analytics Implementation for Form Detail Landing Pages"
<details>
<summary> Original GH Issue Content</summary>
### **Purpose:**
The primary purpose of this MVP is to increase conversions to digital tools, so we definitely want to track clicks not just to forms but to our digital products via page links. Some of the form detail landing pages will also have CTA buttons to the online tool, and we'll definitely want to track clicks to the tools when appli

[2020-01-03 20:28] Samara-Strauss opened #4553 "[Analytics] Help the auth exp team figure out a direct deposit error is recurring for users or not"
## Description

This request is for the authenticated experience team. We are trying to determine if one of our errors for the direct deposit feature is something individual users see multiple times, or if they see the error once, are able to make the fixes suggested in the error message, and then they are able to move on.

## Timeframe for Analytics Requested

Preferably some time the week of Jan

[2020-01-03 20:29] Samara-Strauss commented on #2074
Tracking down the final questions we have about the home phone number/address error in #4553.

[2020-01-03 20:30] LindseySaari commented on #4391
At first glance, the [config docs](https://dependabot.com/docs/config-file/) don't specify a rate limiting config setting.

[2020-01-03 20:38] ncksllvn commented on #4547
Is this different from https://github.com/department-of-veterans-affairs/va.gov-team/issues/3606?

[2020-01-03 20:39] wyattwalter commented on #3852
+1 to what Patrick said here.

I think the biggest benefits to having it in the fwdproxy is that we get built-in health checking and can potentially do some tuning of connection limits to the backend.

During the investigation, I've noticed that some of request/response cycles have different endpoints to the GIDS backend as well, so I think it's changed a bit recently in terms of being "mostly pas

[2020-01-03 20:41] #4402 closed

[2020-01-03 20:59] Karak888 commented on #4547
Yes- just clarifying that this work is for VA forms search as opposed to Master Detail Pages for campaign landing pages (outside of REACT)-

[2020-01-03 21:01] ncksllvn commented on #2199
@andrewlewandowski So sorry for just now seeing this! But yes, I think we could pretty easily add the slow-scroll behavior globally by a shared JS helper. The flow would be - anchor link clicked -> event is spotted by JS -> the JS does a slow scroll via the native browser function, [scrollIntoView](https://developer.mozilla.org/en-US/docs/Web/API/Element/scrollIntoView). I would love for our team

[2020-01-03 21:04] arickalewis1 commented on #4323
Uploading a revised search flow including @mmiddaugh comments above
Also uploading the card type content
[FL-MVP-Card-Types.pdf](https://github.com/department-of-veterans-affairs/va.gov-team/files/4020910/FL-MVP-Card-Types.pdf)
[FL-MVP-Search-Flow-Content.pdf](https://github.com/department-of-veterans-affairs/va.gov-team/files/4020911/FL-MVP-Search-Flow-Content.pdf)

[2020-01-03 21:06] 1Copenut commented on #4538
_Accessibility / previous discovery team notes_

**Page 1 of 11**
* The first line of text after the `<h1>` and before the introductory paragraph has a low visual hierarchy. I get the sense this information is important. Is there a way it could be rolled into the introductory paragraph or a sub-heading display?
* Are there ways to revise the modal links to use our [Additional Info](https://design.

[2020-01-03 21:08] AnneHurley commented on #4480
Plain language demo from 12/31/19 retro presentation: https://zoom.us/rec/play/7MUodO6sqT43HIeU5QSDVvJxW9TuKKKs13Md8_oImEbgVyMGNVX0brYTYuZZAsUCxSDfL4XnzOGHqVOJ?continueMode=true

[2020-01-03 21:12] saneshark opened #4554 "Refactor Services to inherit base functionality"
Introduce a parent or base service class and try to make the various things we do more consistent.

[2020-01-03 21:14] saneshark opened #4555 "Load Testing"
For now need to discuss with VAMF and VSP on how to best coordinate all of this. And we can update this ticket with more details.

[2020-01-03 21:14] #4555 closed

[2020-01-03 21:15] saneshark commented on #4175
I'll work with VAMF and VSP on getting more clarity on how to proceed here this week. (Jan 3 currently)

[2020-01-03 21:20] lunascoop commented on #4339
@jenniferlee-dsva Let me know your availability to chat about it. Here's a draft version.
[5b4186dd-72a9-471f-88ce-8958949a4407.xlsx](https://github.com/department-of-veterans-affairs/va.gov-team/files/4020946/5b4186dd-72a9-471f-88ce-8958949a4407.xlsx)

[2020-01-03 21:32] saneshark commented on #4555
closed because its a duplicate

[2020-01-03 21:35] kelsonic commented on #4516
@andaleliz I was also thinking that `Form #` may be confusing! I really like your idea of having that be `Form ID` as that's actually what that field is called, plus it's still brief enough to not make the column width arbitrarily long. Should we go with that then for the column title?

[2020-01-03 21:36] kelsonic commented on #4516
That seems reasonable! It would be helpful if the design spec could be updated so I can get an idea of exactly what you are envisioning 🙂

[2020-01-03 21:38] #4398 closed

[2020-01-03 21:38] kelsonic commented on #4516
I would need to change this [in our formation-react npm package](https://github.com/department-of-veterans-affairs/veteran-facing-services-tools/blob/master/packages/formation-react/src/components/SortableTable/SortableTable.jsx#L82), but this certainly can be done.

[2020-01-03 21:49] saneshark commented on #3733
If this requires design work, we probably need to prioritize getting that done soon just FYI.

[2020-01-03 21:51] saneshark commented on #2126
I moved this into the backlog pending: https://github.com/department-of-veterans-affairs/va.gov-team/issues/3733 as this will inform the direction that the other one takes. We can probably end up closing this ticket, but I'll let you advise Mark.

[2020-01-03 21:52] saneshark commented on #4225
Can we have a sync Monday with you, me, and Jeff about this? This is probably important part of roll-out strategy and might be super-ceded.

[2020-01-03 21:53] sporeboy commented on #4500
21-686c paper form mapped to initial static mockups. Ready for team review and presentation to VBA stakeholders.

[2020-01-03 21:53] kelsonic commented on #4516
@andaleliz We can but then it's not as responsive as it was:
![image](https://user-images.githubusercontent.com/12773166/71751451-d7b17900-2e38-11ea-8c1d-15db993597ff.png)

[2020-01-03 21:54] sporeboy commented on #2470
Review conducted 1/3. Ten participants in attendance. No direct feedback as of EOD 1/3.

[2020-01-03 22:00] saneshark opened #4556 "Fine tune data sent from BE to FE for Systems (and possibly others) -- Pre-launch"
Prior to launch, we need to fine tune the data that backend sends to FE

1. Don't send PII such as ICN, EDIPI, patient id. (This is the priority though)
2. Remove any unneeded random data that the FE does not consume now and has no expectation of needing in the future.

The biggest one is the systems endpoint, can open separate tickets for anywhere else that this is a problem (This should probably

[2020-01-03 22:03] Karak888 commented on #3548
@mnorthuis I totally forgot to ask you about this and find out what needs to happen next.  Do I need to fill out a request form or something?  just clueless here so anything you can provide me would be much appreciated.  If yout want to pull up next week that is fine as well.  Thanks @mnorthuis

[2020-01-03 22:13] Mottie opened #4557 "HLR: Remove forwarding address block"
## User Story or Problem Statement

To maintain a consistent experience with our VA forms, the Higher-Level Review (HLR) form forwarding address block is to be disabled (see #3283 where we disabled this in form 526)

## Goal

If the user needs to add a temporary (forwarding) address, they should use the veteran profile. Removing it here prevents confusion that this temporary address change would a

[2020-01-03 22:16] ncksllvn commented on #3548
@Karak888 I think this is our request - https://github.com/department-of-veterans-affairs/va.gov-team/issues/3887. Maybe we should add that to our epic?

[2020-01-03 22:24] kelsonic opened #4558 "Swap <a /> with <button /> for <SortableTable />"
# Description
The `<SortableTable />` component from the [`formation-react`](https://department-of-veterans-affairs.github.io/veteran-facing-services-tools/visual-design/components/sortabletable/) library has a potential accessibility issue. Its table header cells are anchor tags instead of buttons, despite not utilizing an `href`.

## Tasks
- [x] Increment package JSON version in formation and VE

[2020-01-03 22:25] kelsonic commented on #4516
Created an issue for this: https://github.com/department-of-veterans-affairs/va.gov-team/issues/4558

[2020-01-03 23:13] joanneesteban opened #4559 "Medallia - Establish Implementation Guidelines & Strategy"
## High Level User Story
As a VFS team, I need to understand how Medallia will support veteran user survey analytics on my applications so I can track the health and growth of my products.

As VSP Analytics & Insights, I need to understand how Medallia will be implemented and determine the strategy behind the new survey tool so that I can determine how to add the metrics to the Product Support Too

[2020-01-03 23:32] jenniferlee-dsva commented on #4169
@lwalsh617 - doh. Just saw your upload of final deck. Will take a closer look, but on glance wrt the forms you couldn't locate - could you go back to Nedie's Google Analytics (GA) spreadsheet that listed the forms URLs and landing page URLs?  I assume those 2 forms (22-0094 and 10-0137 are included in the copydeck bc they were either on the list of GA top searched forms or are somehow mapped to on

[2020-01-04 00:22] SMLuthi commented on #3909
@YanaRoy @AZSchneider @ricetj I wanted to give an update on this since I've been working on this all day.

First of all, I want to describe the current procedure on how documents are uploaded and how they are retrieved. All claims are retrieved from an EVSS Service (appropriately named `EVSS::ClaimsService`) and stored in a database table (per user). This is done when a user navigates to the claim

[2020-01-04 01:39] erikphansen opened #4560 "Revert change to Modal component teardown"
We need to revert this change (https://github.com/department-of-veterans-affairs/veteran-facing-services-tools/pull/201) as it introduces a new little bug where the Modal will remember which element _first_ spawned it and always return focus to that element when the Modal closes.

In this GIF notice how the focus always returns to the second Direct Deposit EDIT button since that was the button tha

[2020-01-04 01:46] SMLuthi commented on #4498
Reposted to this ticket since the other one was closed:

@YanaRoy @AZSchneider @ricetj I wanted to give an update on this since I've been working on this all day.

First of all, I want to describe the current procedure on how documents are uploaded and how they are retrieved. All claims are retrieved from an EVSS Service (appropriately named `EVSS::ClaimsService`) and stored in a database table (p

[2020-01-04 01:49] SMLuthi commented on #3939
Update:

Connectivity has been established and requests are passing the MVI VAAFI lair. Another error response has been encountered due to the search token functionality. Apparently some changes need to be made on how we make a `find_profile` call since it returns a search token. But the search itself must contain specific data that will all the `add_person` call to function properly.

A meeting h

[2020-01-04 03:59] nedierecel commented on #4553
@Samara-Strauss Confirming I see this and reviewing the request. I'll be back in touch with further questions, if we have any!

[2020-01-05 17:27] kevinmirc opened #4561 "Create Endpoint for 1010-CG Submission"
Create an endpoint for the front-end to submit 1010-CG form data.

**Related Work**:
- This endpoint should have form data validation (return errors for data that doesn't fit the form's schema).
- This endpoint should delete the related in-progress form if the form if it exists and the form was submitted successfully.
- This endpoint should increment StatsD for successful and unsuccessful form sub

[2020-01-05 18:15] Kimberley2019 commented on #2935
Slack messages were sent to Justin Pickett (authenticated experience), Kara Kemahli (public websites), and Matt Self (education) to verify that they are still the accurate POCs for these teams.  The product org chart may be outdated since the product team point for education was originally listed as Dan Ziober, but his account has been deactivated.
Once we receive confirmation we will schedule mee

[2020-01-05 18:57] jenniferlee-dsva commented on #4169
@lwalsh617 - I located the page and form for 10-0137. It's the health care advance directive/living will form. This form does not get a lot of searches (according to the data Nedie shared with us), so I'm assuming we are including a form landing page for it because it is associated or incorporated into our digital health care benefit application -- is that right?

Here is the form landing page tha

[2020-01-06 12:29] ksantiagomorgan6 commented on #4276
Pull request:

https://github.com/department-of-veterans-affairs/vets-website/pull/11419

[2020-01-06 13:37] Samara-Strauss commented on #3967
Still waiting to hear back. I reached out last week but never heard anything. Going to reach out again today.

[2020-01-06 13:43] Samara-Strauss commented on #4393
@tressaellen are we good to close this?

[2020-01-06 14:05] desireeturner opened #4562 "Caution Flag Search Results: Discovery Findings Collection"
- [x] Replicate Findings Mural Board
Discovery findings board https://app.mural.co/t/bahdigitalexperience6902/m/bahdigitalexperience6902/1578343997580/439d55c32c55bc88a9a79d82d4c488d4e30cdd43

- [x] Share findings

[2020-01-06 14:06] desireeturner opened #4563 "Caution Flag Search Results: Discovery Findings Synthesis"
Mtg to align on findings

[2020-01-06 14:07] desireeturner opened #4564 "Caution Flag Search Results: Discovery Checkpoint Deck"
Include Discovery Findings as part of checkpoint deck in lieu of Research Readout

[2020-01-06 14:10] desireeturner opened #4565 "Caution Flag Search Results: Discovery Checkpoint"
(Check prototype checkpoint to see if we can combine or what's outstanding)

[2020-01-06 14:11] desireeturner opened #4566 "Caution Flag Search Results: Design Reviews"
- [x] Review with DEPO
- [x] Review with VA Design

[2020-01-06 14:12] desireeturner opened #4567 "Caution Flag Search Results: Design Updates Reviews"
Incorporate feedback from stakeholders, as appropriate

[2020-01-06 14:13] desireeturner opened #4568 "Caution Flag Search Results: Alert Language Updates"
- [ ] Review alert language
- [ ] Identify options for updates
- [ ] Draft Content

[2020-01-06 14:13] desireeturner opened #4569 "Caution Flag Search Results: Alert Language Updates / DEPO Review"
Work with DEPO Content team to refine labels / language

[2020-01-06 14:15] desireeturner opened #4570 "STEM Wizard: Interviews"

[2020-01-06 14:16] desireeturner opened #4571 "STEM Wizard: Interview Synthesis"
- [x] Consolidate UX Findings & Recommendations
- [x] Consolidate relevant findings from other parties
- [ ] Identify Recommendations & Future Enhancements

[2020-01-06 14:17] desireeturner opened #4572 "STEM Wizard: Compile Session Notes"
Compile session notes
Identify top findings
Upload notes to GitHub Research folder

Uploaded interview notes to Github:
- [x] TM
- [x] AK
- [ ] CC

Session notes online here: https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/education-careers/stem/research/wizard-update/discovery-phase/session-notes

[2020-01-06 14:18] desireeturner opened #4573 "STEM Wizard: Research Readout"
Create presentation deck with observations, findings, recommendations & quotes
Include participant info.
Review with team

[2020-01-06 14:18] desireeturner opened #4574 "STEM Wizard: Discovery Checkpoint Deck"
Draft Checkpoint Deck Review with team
Update as necessary

Note:
STEM page on VA.gov STEM eligibility included on eligibility page

[2020-01-06 14:19] desireeturner opened #4575 "STEM Wizard: Discovery Checkpoint"
Conduct Checkpoint
Post deliverable to GH

[2020-01-06 14:20] desireeturner opened #4576 "STEM: Wizard & Application Content Updates"
- [x] Draft initial content
- [x] Review w UX team
- [x] Incorporate input

[2020-01-06 14:21] desireeturner opened #4577 "STEM: Content Reviews - External"
- [x] Review with VA / DEPO Content
- [ ] Update GH content doc, as necessary

[2020-01-06 14:21] desireeturner opened #4578 "STEM: Content Updates - PostReview Updates"
Update content for Wizard & Application as necessary - after UX team reviews, initial BA & Dev Review

[2020-01-06 14:22] desireeturner opened #4579 "STEM Wizard: Draft Prototype"
Rough in screens for new UI
Build screens
Build interactions

[2020-01-06 14:22] Justin-Pickett opened #4580 "Pension form changes for address modal"
## User Story:

As a person who lives on an overseas military base, I should not be able to list any other country besides the United States in my address in the VA.gov profile or on any VA benefit applications.

## Background:

The authenticated experience team has been working on an update to the user profile that will allow for better error handling of overseas military base addresses ([details

[2020-01-06 14:23] desireeturner opened #4581 "STEM Wizard: Draft Prototype Review with DEPO"
Review Draft Prototype with DEPO
Incorporate input

[2020-01-06 14:24] desireeturner opened #4582 "STEM Wizard: Research Plan (prototype)"
Draft initial research plan

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/education-careers/stem/research/wizard-update/prototype-phase/prototype-research-plan.md

[2020-01-06 14:24] jonwehausen commented on #3238
Hi @ncksllvn ,

In order to future-fit for future promo banners stood up, would it be possible to get a sample banner stood up in staging?

If so, we would like to move forward with DL implementation for the promo banner.

[code]

[2020-01-06 14:24] Justin-Pickett opened #4583 "[FE] Overseas military addresses: Update health care (10-10EZ) form"
## User Story:

As a person who lives on an overseas military base, I should not be able to list any other country besides the United States in my address in the VA.gov profile or on any VA benefit applications.

## Background:

The authenticated experience team has made an update to the user profile that will allow for better error handling of overseas military base addresses ([details here](http

[2020-01-06 14:29] Justin-Pickett opened #4584 "VA Records form changes to the address modal"
## User Story:

As a person who lives on an overseas military base, I should not be able to list any other country besides the United States in my address in the VA.gov profile or on any VA benefit applications.

## Background:

The authenticated experience team has made an update to the user profile that will allow for better error handling of overseas military base addresses ([details here](http

[2020-01-06 14:29] clantosswett commented on #4317
@jason-gcio Sorry for the delay on responding to this. Everything looks good to me but I did have a one question about the call center numbers provided. In the video, you highlighted two numbers. The one listed under the "What if I have questions" heading makes sense, but I wasn't sure what the other number was and where it pointed to. If you could just clarify that, we will move forward with gett

[2020-01-06 14:34] Justin-Pickett commented on #2483
@lihanli you can grab this ticket and began the technical discovery on this endpoint work.

[2020-01-06 14:54] andrewlewandowski commented on #2199
@ncksllvn - Yes, please!

@Karak888 - Can you please add this to the Public Website backlog? Let's start with adding the JS helper to jump links, but also consider other interactions to add this to. Could @LizCallaghan help with identifying these interactions? A couple I can think of off the top of my head: new page load, and accordion open/close.

@jenniferlee-dsva - FYI, to be prioritized to pic

[2020-01-06 14:54] RLHecht commented on #4426
@peggygannon and @AnneHurley Here is my edited document with Peggy's changes from last week. I still have a few questions highlighted in yellow. Also, Peggy you can add your review steps in as well. Thanks![https://app.zenhub.com/files/133843125/47c1365c-9a03-4e83-93a3-d29041ade767/download](https://app.zenhub.com/files/133843125/47c1365c-9a03-4e83-93a3-d29041ade767/download)

[2020-01-06 14:57] #3851 closed

[2020-01-06 14:58] desireeturner opened #4585 "STEM: Discussion Guide for Testing"
Create interview discussion guide
Review with UX team
- [ ] CC
- [ ] AK
Update based on feedback

Discussion Guide:
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/education-careers/stem/research/wizard-update/prototype-phase/stem-wizard-update-prototype-research-discussion-guide.md

[2020-01-06 14:59] desireeturner opened #4586 "STEM Wizard: Recruiting for Testing"
Work with DEPO to recruit usability testing participants

[2020-01-06 14:59] desireeturner opened #4587 "STEM Wizard: Pilot Test"
Conduct Pilot test w/ team member or other
Incorporate any updates (script, prototype) based on pilot

[2020-01-06 15:06] andaleliz commented on #4516
Where is the design spec to update, @kelsonic ? Would be glad to do that if it is appropriate. I'm not sure of the origination of this work and who was involved in the OG design.

If `Form I.D.` is an acceptable label, then we don't need to mess with the CSS for the second column. Who can we check with to be sure that's okay (probably whoever said to use `VA form number`)?

[2020-01-06 15:09] joanneesteban commented on #4125
Report sent week of 12/30-1/3/20

[2020-01-06 15:09] #4125 closed

[2020-01-06 15:09] #3524 closed

[2020-01-06 15:16] Kimberley2019 commented on #3757
Slacked @YanaRoy for a status update on ticket.

[2020-01-06 15:17] kelsonic commented on #4516
I think @jenniferlee-dsva!

[2020-01-06 15:18] nedierecel commented on #4456
@amycesal @joanneesteban @jonwehausen

1/6/2020 - I requested updates on the new subdomain and the extended trial. Our technical follow-up is scheduled for 1/9 at 3:30-4 EST

[2020-01-06 15:19] nedierecel commented on #406
@joanneesteban Shifting this work to closed as we have made our recommendation. Additional Proof of Concept work is outlined in #4456.

[2020-01-06 15:19] #406 closed

[2020-01-06 15:19] tressaellen commented on #4393
@Samara-Strauss Yep, we're all good to close this.

[2020-01-06 15:19] #4393 closed

[2020-01-06 15:38] sonntag-adam commented on #4466
Changes are in staging. Closing bug.

[2020-01-06 15:38] #4466 closed

[2020-01-06 15:41] sporeboy commented on #4536
Researched VA.gov for potential inbound links to "View Dependents" page. Candidates include:

VA.gov Home / included with Disability links / goes to unauthenticated state or landing page
Mega dropdown / under Get disability benefits / goes to unauthenticated state or landing page
MyVA / in section "Manage benefits of request records"
VA.gov/disability/add-remove-dependent
VA.gov/disability/eligibi

[2020-01-06 15:49] andaleliz opened #4588 "Create Research Plan and Conversation Guide for Yellow Ribbon MVP"
Create research plan and conversation guide according to VSA process outlined here:
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/design/vsa-research-process.md

[2020-01-06 16:13] #3789 closed

[2020-01-06 16:13] #3792 closed

[2020-01-06 16:14] ricetj commented on #1940
@ElijahLynn is this something that still needs done?

[2020-01-06 16:15] joanneesteban opened #4589 "Test New Sprint Reporting Github Methodology"
## User Story or Problem Statement
How might we test Platform sprint reporting on Github so that we can understand how to better communicate with our stakeholders and also reduce workflow?

## Goal
_Experiment Goals_
- VSP govt clients want to be closer to the work
- VSP govt clients want to reduce additional, unnecessary work for teams
- VSP govt clients need to coordinate with other teams throug

[2020-01-06 16:27] joanneesteban opened #4590 "Establish Discovery Criteria & Roadmap for Medallia"
## Problem Statement
How might we map out discovery for Medallia so that we can determine goals, objectives, and corresponding work for Platform and Applications?

## Goal
Determine the body of work for Medallia strategy and implementation discovery.

## Objectives or Key Results this is meant to further
- Work with VSA Leadership and Jeff Barnes to start discovery on Medallia strategy and impleme

[2020-01-06 16:58] lunascoop commented on #4339
Here is an updated draft[ version](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/find-va-forms-redesign/VA-forms-mvp-redesign-new-db-field-010620.xlsm) with multi-selection features enabled (for Column D of Top forms for MVP 1.0 sheet).

[2020-01-06 17:08] peggygannon commented on #3862
@jenniferlee-dsva @RLHecht

Please see below for some recommendations for iterations on the following error messages. Please let me know if you have any questions or feedback.

Recommendations for downtime banners will be coming, after I get more information on the following issue/epic: https://github.com/department-of-veterans-affairs/va.gov-team/issues/4422

**Downtime banners**

-------

**We'r

[2020-01-06 17:24] mnorthuis commented on #885
Looks like #247 has been handled. Closing this issue.

[2020-01-06 17:24] #885 closed

[2020-01-06 17:25] bradl3yC commented on #4560
Notes:

A change was made to formation-react that caused this bug, but it did not make it into staging yet.  It was also discovered that this breaking change did not fix the original bug.  After some assistance getting set up locally from @erikphansen , I was able to link formation locally and test the fix in the attached PR.  The change fixes the bug addressed in this card and the original bug th

[2020-01-06 17:26] #2750 closed

[2020-01-06 17:35] RLHecht commented on #3040
@anne Here are the new preview links to send to the SMEs. I am slacking you Word docs with screen shots of both pages for you to look over before we send them to them.

preview-prod.vfs.va.gov/preview?nodeId=1012 (rates for spouses and dependents)
preview-prod.vfs.va.gov/preview?nodeId=1013 (rates for parents)

[2020-01-06 17:41] #4238 closed

[2020-01-06 17:45] jbalboni opened #4591 "Community care requests are sent to VA endpoint"
Regardless of the `type` param, CC appointment request POSTs are being sent to the VA endpoint on the VAMF side instead of `/VeteranAppointmentRequestService/v4/rest/appointment-service/patient/{assigning-authority}/{patient-id}/community-care-appointment`.

[2020-01-06 17:47] AnneHurley commented on #2800
@Karak888  @jenniferlee-dsva  Can we close this ticket? We may still want a ticket to address the search results, but I think this work is done ^ yes?

[2020-01-06 17:50] AnneHurley commented on #3198
@lunascoop @jenniferlee-dsva @Karak888  Hoping Selina can pick up these final edits, etc., on this page. We may need a short meeting/call with Jen to go over the issues from SMEs so both Selina and I are aware of them. I can do the dev edit on Selina's doc when it's done.

[2020-01-06 18:10] bshyong opened #4592 "Access for Ben Shyong"
# Description
- Please provide your Contracting Officer's Representative (COR) name.
Dan Navarra

- Please provide your name.
   Ben Shyong
- Please provide the name of your team, your role on that team, and the name of the company you work for.
Pension Automation team; Engineer, Ad Hoc LLC.

- [if requesting SSH key authorization] What is the **public** SSH key?

[code]

- [Grant AWS Console acce

[2020-01-06 18:10] bshyong commented on #4592
ping @department-of-veterans-affairs/vsp-operations for visibility

[2020-01-06 18:12] lisac-usds commented on #4481
Lihan's description seems reasonable to me, but I'm not able to confirm the implementation or whether it supports PII appropriately, I'm sorry. I'll try to find someone who can advise.

[2020-01-06 18:22] annaswims commented on #1411
## Merged PR's
Bump memoist from 0.15.0 to 0.16.2  dependencies  https://github.com/department-of-veterans-affairs/vets-api/pull/3669
Bump dry-types from 1.1.0 to 1.2.2  dependencies  https://github.com/department-of-veterans-affairs/vets-api/pull/3660
Bump rack from 2.0.7 to 2.0.8  dependencies security  https://github.com/department-of-veterans-affairs/vets-api/pull/3666 by dependab
Bump shrine

[2020-01-06 18:22] joanneesteban commented on #4590
[VSA Strategy Doc:](https://docs.google.com/document/d/1KCvHwlIaoEzpg9xjUsGu1raEORXh1jJKyWULi7jZMUw/edit)

**VSP Next Steps:**
1. Set up meeting with Henna
2. Determine how Medallia functions
3. Determine any Strategy blockers or pivots from implementation
4. Use Strategy to define implementation requirements

[2020-01-06 18:40] kreek commented on #3602
@jbalboni using https://veteran.apps.va.gov/cdw/v2/facilities/442/clinics?pageSize=0 as an example the first record is
[code]
The `institutionCode` field is also the facilityId (442, aka the systemId) what field, or combination of fields, is the full institution code to send to the facilities api for the real address?

[2020-01-06 18:45] jbalboni commented on #3602
@kreek `institutionCode` or `sta6aid` is the id we care about. If you search through the data from that service for `442GD`, you'll see one where those fields are different from `facilityId`. 442 is both a system id and also a valid institution code, so there are some clinics where that is the correct id.

[2020-01-06 18:49] #1771 closed

[2020-01-06 19:19] Jeff-Hayter commented on #4182
@ricetj Approved for SOCKS.

[2020-01-06 19:23] omgitsbillryan opened #4594 "HCA Attachments NoMethodError: undefined method `[]' for nil:NilClass"
## The Problem
The following issue showed up as a Sentry alert
- http://sentry.vfs.va.gov/vets-gov/platform-api-production/issues/90775/?referrer=slack
- https://dsva.slack.com/archives/CJTDG22NM/p1577829060009100

[code]

## Work to Be Done
Add input validation to the controller to validate for nil input params rather than allowing the app code to raise `NoMethodError`.

[2020-01-06 19:27] erikphansen opened #4595 "Update formation-react docs"
1. on this page (https://department-of-veterans-affairs.github.io/veteran-facing-services-tools/getting-started/common-tasks/updating-formation) the link to https://department-of-veterans-affairs.github.io/veteran-facing-services-tools/getting-started/common-tasks/previewing-changes/ is broken.
2. Also, the format of the ordered lists on https://department-of-veterans-affairs.github.io/veteran-fac

[2020-01-06 19:28] Jeff-Hayter commented on #4457
@ricetj Approved for SOCKS.

[2020-01-06 19:30] #2470 closed

[2020-01-06 19:36] Samara-Strauss commented on #3967
We received confirmation from Melissa Rebstock today that direct deposit will be removed in the 1/29 release. Closing!

[2020-01-06 19:36] #3967 closed

[2020-01-06 19:38] omgitsbillryan opened #4596 "Support VAOS: `Error: unrecognized cop ThreadSafety`"
## The Problem
A VAOS team member was running into an error in their PR for rubocop - the ThreadSafety cop was failing for them.

## Work Done
Investigate root cause of the failure and recommend solution. That solution was then also shared in slack channel `#vfs-engineers` ([link](https://dsva.slack.com/archives/C0MQ281DJ/p1578001582020200))

## Root Cause
The VAOS engineer was running our rubocop

[2020-01-06 19:39] #4596 closed

[2020-01-06 19:45] erikphansen opened #4597 "Log when users attempt to save "bad" addresses"
## Summary
We should use Google Analytics to track when a user is told their address is invalid and can't be saved to their profile. This way we can understand how often this happens.

## Details
We currently track when a transaction fails with:

[code]

When we add the new address validation flow we should see a sizeable reduction in these save/update failures as many of them were caused by the u

[2020-01-06 19:46] joanneesteban commented on #4589
**Question:**

In what way can we track out of offices? (or personnel breaks in the sprint workflow that might affect completed work)

[2020-01-06 19:46] erikphansen commented on #4597
@nedierecel Can you help us determine which data to send to GA when a user is told they entered an invalid address via the new address validation/suggestion flow? Let me know if you have any questions. Thanks!

[2020-01-06 19:48] erikphansen commented on #4597
Tagging @Samara-Strauss for awareness.

[2020-01-06 19:55] Samara-Strauss commented on #4597
Thanks for the tag! Post QA, we should talk about what other metrics we'd like to gather as part of this effort.

[2020-01-06 19:57] RLHecht commented on #2964
This has been published. Moving to validate and will close when on live site. @Karak888

[2020-01-06 20:00] RLHecht commented on #3020
@AnneHurley This page has been published. I'm moving this ticket to validate and will close once it's live on the site. @Karak888

[2020-01-06 20:01] RLHecht commented on #3019
This page has been published. I'm moving to validate and will close ticket when live on site. @Karak888 @AnneHurley

[2020-01-06 20:03] RLHecht commented on #3022
This page has been published. Moving to validate and will close once it's live on the site. @AnneHurley @Karak888

[2020-01-06 20:04] jason-gcio commented on #4317
@clantosswett The second number (855-574-7286) is the VA.gov Help Desk number and is used on other pages/error notifications as well.  We tested it as live, although we were put on hold before hanging up.
cc: @sporeboy

[2020-01-06 20:09] jenstrickland commented on #4470
**_VSA Accessibility Notes_**

_Mobile_
- LOVE THAT YOU STARTED WITH MOBILE! THANK YOU, FROM THE USERS OF AT & MOBILE!

- How did the card presentation come about? Was a table considered? It sounds like the data could be tabular, which adds semantic context for the users. For those who may be using translation software having that semantic info is also helpful, as it is for the most active non-sig

[2020-01-06 20:15] erikphansen opened #4598 "Fix validation modal proptypes"
We're seeing this console warning that should be resolved:
[code]

[2020-01-06 20:20] ElijahLynn commented on #1940
Yeah, right now I am the only one with the 2fa access. I do believe it is in our credstash already. I think I need to do a transfer to @wyattwalter.

[2020-01-06 20:20] andaleliz commented on #4470
@jenstrickland Thanks for your thoughtful reply! Answers below:

(this is also in response to your question on tables for desktop) Card presentation came about from a desire align more with the GIBCT as I have a hypothesis that users will have seen that, and to consolidate the information,  into what I _think_ is more digestible. The repeated school names in the existing tables seems very, well, r

[2020-01-06 20:27] desireeturner commented on #4542
@bobrox1973 regarding your email, it is not critical that they be added to the BAH-526 team, just that they have read/write access to va.gov-team. If there is another group they can be added too or if access can be added ad-hoc that is fine. Sorry for the confusion. Let me know if there are further questions.

[2020-01-06 20:36] bobrox1973 commented on #4542
All users have been invited to the vets.gov-write team that has write access to the repository requested.

[2020-01-06 20:36] #4542 closed

[2020-01-06 20:38] #1991 closed

[2020-01-06 20:38] brandonrapp opened #4599 "Revamp Forms library capabilities to better meet the needs of VFS Teams"
## Product Outline
VFS teams require more capabilities from the form library as it is an integral part of many of their applications. Additional discovery should be peformed related to the VFS teams' pain points so that work can be prioritized accordingly.

## High Level User Story/ies
As a VSA developer, I need the the form system to be made more flexible and powerful so I can build better applic

[2020-01-06 20:38] #2693 closed

[2020-01-06 20:42] nedierecel commented on #3043
@amyknox @ccruzgra and Theresa - Thank you for the time today. Please see the list of resources from our call:

#### Resources

- [Zoom Recording Link](https://zoom.us/rec/share/xNV0K-_R7F1Je6P000XUa6I-FYvueaa81CMa8vMLzkkmALAVXVqywaWegB8iw8Fv)
- [Existing VET TEC GIBCT Dashboard with Updated Trendline Visuals](https://analytics.google.com/analytics/web/?authuser=0#/dashboard/TT52avPURam05B0aRxyz5g

[2020-01-06 20:47] ccruzgra commented on #4566
Reviewed Caution Flag Search Results work today with VA.gov design teams.

[2020-01-06 20:51] amyknox commented on #4571
Mural board for synthesis https://app.mural.co/t/bahdigitalexperience6902/m/bahdigitalexperience6902/1578085758227/ffa456d1551536247697c713c6d92734db40d61e

[2020-01-06 20:54] clantosswett commented on #4317
@jason-gcio that is an old number is not used anymore for VA.gov support. We should instead direct them to 844-698-2311. Thanks!

[2020-01-06 21:02] nedierecel commented on #4597
@erikphansen To confirm my understanding, the `save-failure` would only be reserved for backend, not user error. Is this correct?

The naming convention seems straightforward unless you want to keep the prefix consistent:
- `save-failure-backend`
- `save-failure-invalid-address`

[2020-01-06 21:02] sporeboy commented on #4536
Outbound links from the View Dependents page:

Home
VA.gov/disability/add-remove-dependent
VA.gov/disability/get-help-filing-claim
www.eBenefits.VA.gov/ebenefits/about/feature?feature=dependent-compensation

[2020-01-06 21:03] kevinstachura opened #4600 "[Discovery] Recruit for Research Sessions"
## Goal
We want to recruit participants for our Claim Status Tool research study

## Acceptance Criteria
- [x] The research plan has been attached to this ticket
- [x] The conversation guide has been attached to this ticket
- [x] Lauren Alexanderson has been assigned
- [x] Identify available dates / times for the sessions
- [x] Identify observers to Perigean (in Slack)
- [x] Recruiting has been ki

[2020-01-06 21:03] sporeboy commented on #4536
![View_Dependents_User_Paths_1.png](https://images.zenhubusercontent.com/5d6ec7967521390001c3e794/17a5b36c-55a4-43da-8c41-dd92152f614c)

[2020-01-06 21:13] jason-gcio commented on #4317
@clantosswett Ok, sounds good. We will updated that number.  I think the video is non-specific so we shouldn't need to re-create that.  If we update it, can we proceed?

[2020-01-06 21:14] erikphansen commented on #4597
@nedierecel Correct. We report a save failure when VA Profile/Vet360 fails to make the update.

For this new issue we'd like the track I don't think that using a `save-failure` prefix is ideal because it really isn't a save that failed; with the new address validation flow we're adding they're actually getting blocked from even trying to save the address.

[2020-01-06 21:16] clantosswett commented on #4317
Yep! No need to redo the video. Is there a target date for the launch?

[2020-01-06 21:16] Samara-Strauss commented on #4597
Just want to make sure I understand this:

- save-failure-backend = when a valid address fails to save
- save-failure-invalid-address = when an address doesn't save because we determined it's invalid

Is this correct?

[2020-01-06 21:18] erikphansen commented on #4597
And I don't think we should use `save-failure-invalid-address` when a user has been told their address is invalid because it technically didn't fail to save. The save failures we record are based on when we actually sent data to VA Profile and they couldn't save it for some reason.

[2020-01-06 21:19] davidconlon commented on #3268
Updated version of PDF (as of 1/6/2020) attached

[https://app.zenhub.com/files/133843125/29c78cf4-1b29-4b39-8a76-1eefa5356f82/download](https://app.zenhub.com/files/133843125/29c78cf4-1b29-4b39-8a76-1eefa5356f82/download)

[2020-01-06 21:29] jason-gcio opened #4601 "[DESIGN] Update the Help Desk Number"
## Goal
The number on the red error message for "View your VA disability ratings" has an old number on it and it needs to be updated to **844-698-2311** within the mockup to keep it current.

## Tasks
- [x] Update the current red error message, within the mockup, that appears for any "broken" component to 844-698-2311.

## Acceptance Criteria
- [x] In the mockup, when a red error message appears,

[2020-01-06 21:29] peggygannon commented on #4139
@lwalsh617 Here some feedback/content recommendations from me for this page. Let me know if you have any questions or want to discuss the feedback in a call.

- General question: When I was editing the HLR form, it said that the online form could be used for disability comp and pension claims. But the static page only mentions using the online tool for disability comp claims. I wanted to raise thi

[2020-01-06 21:35] peggygannon commented on #4140
@Karak888 @lwalsh617 I posted my feedback in https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/4139 ,as well as below:

 Here some feedback/content recommendations from me for this page. Let me know if you have any questions or want to discuss the feedback in a call.

General question: When I was editing the HLR form, it said that the

[2020-01-06 21:35] sporeboy commented on #4601
Rated Disabilities revised: https://xd.adobe.com/view/0db723ac-52ff-48b3-4877-9d5882cb2e1f-7b86/screen/5973de59-34ae-46ce-8aca-e41d8f73f3d6/RD-Screen-Tool-4
https://xd.adobe.com/view/0db723ac-52ff-48b3-4877-9d5882cb2e1f-7b86/screen/06fe86e9-9efe-44b3-89ea-2bac9f433e10/RD-Screen-Tool-5

View Dependents revised: https://xd.adobe.com/view/8cdfe895-c907-4662-7234-305056778b2a-faee/screen/237c9936-10b0

[2020-01-06 21:38] #4601 closed

[2020-01-06 21:49] jason-gcio opened #4602 "[FRONTEND] Update the Help Desk Number"
## Goal
The number on the red error message for "View your VA disability ratings" has an old number on it and it needs to be updated to **844-698-2311** within staging .

## Tasks
- [ ] Update the current red error message, within staging, that appears for any "broken" component to **844-698-2311**.
  - [Example](https://xd.adobe.com/view/0db723ac-52ff-48b3-4877-9d5882cb2e1f-7b86/screen/5973de59-3

[2020-01-06 21:53] Samara-Strauss commented on #4481
If this isn't raising any red flags and we're following all the rules or temp. storage of PII in Sentry, then we should be good. Closing.

[2020-01-06 21:53] #4481 closed

[2020-01-06 21:58] #4591 closed

[2020-01-06 22:00] lunascoop commented on #1986
@kelsonic @ncksllvn @mnorthuis I have validated that these redirects have gone live and will notify the stakeholders. Closing ticket.

[2020-01-06 22:00] johnpaulashenfelter commented on #3738
https://docs.google.com/document/d/1JWjP-o3MO7BdKEftJ8jRaWONn4UaMbHtKDnrbCunnYo/edit

[2020-01-06 22:01] lwalsh617 commented on #4139
@jenniferlee-dsva -- Could you please take a look at Peggy's feedback above? Just want to make sure we're all on the same page before I make the edits. Thank you!

[2020-01-06 22:03] wyattwalter opened #4603 "GIDS CI failure due to permissions error"
## What happened?

The CI runs for GIDS have been failing occasionally where the job complains that the database already exists, but the `make down` at the end of the CI run doesn't complete.

The initial error looks like:

[code]

Then it can't cleanup that directory because:

[code]

## Specs:

VSP Jenkins

## Steps to Reproduce

Unknown, but the CI job has gotten into this state a few times ove

[2020-01-06 22:05] nedierecel commented on #4597
Noted - thanks @erikphansen for clarifying the distinction. Let's keep the `save-failure` as-is then as you noted with this definition:

I think this is fine then to use `invalid-address` to denote user error for invalid addresses.

[2020-01-06 22:09] wyattwalter commented on #4603
This was raised by Matt here: https://dsva.slack.com/archives/CBU0KDSB1/p1578342622184500

He indicated it has happened a few times recently with a link to a previous conversation in the thread.

[2020-01-06 22:09] wyattwalter commented on #4603
Pretty sure this is fixed with: https://github.com/department-of-veterans-affairs/gibct-data-service/pull/538

[2020-01-06 22:09] patrickvinograd opened #4604 "Write SSO rollout FAQ"
Address:
* how SSO will function from a user perspective
* Impact on developers
* Operations concerns

Target audience:
VSP and VFS teams (primarily VSA and VAOS right now)

[2020-01-06 22:09] erikphansen commented on #4597
@nedierecel thanks. We'll proceed with sending analytics data in this format when the validation API tells them their address is invalid:

[code]

[2020-01-06 22:11] CrystabelReiter commented on #4470
I think this is going in the right direction.

I really like the solution for the mobile compare tool and I'm interested to see how it tests

I agree with you about the desktop version, I think the bottom drawer (or separate page) would be better than the mobile compare tool pattern on the lefthand side.

[2020-01-06 22:13] peggygannon commented on #4529
@Samara-Strauss
Button CTA recommendations below. I tweaked the button language to keep wording succinct and parallel:

For 1st scenario, Override allowed/no suggestion:
{button} Use entered address

For 2nd scenario, override isn't allowed/one suggestion:
{button} Use suggested address

---

Question: for 2nd scenario, would there ever be a use case where more than one suggested is given to the u

[2020-01-06 22:13] #3322 closed

[2020-01-06 22:14] jenniferlee-dsva commented on #4516
@kelsonic:

1. I'm okay with column labels wrapping to 2nd line. However, I'm @rtwell to confirm that this isn't breaking with our design system. Please check me @rtwell!
2. Column labels should be sentence case.
3. Per recent reqs changes discussed with you, Nick, et al previously: For launching in staging, use the following columns:
- Form number
- Form name
- Issue date
- Revision date

[ ^ Rem

[2020-01-06 22:15] #4257 closed

[2020-01-06 22:16] jenniferlee-dsva commented on #4516
@andaleliz - original design mocks (prior to temporary reqs changes) are located here: https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/find-va-forms-redesign

[2020-01-06 22:29] #4603 closed