[2019-11-19 23:20] cvalarida opened #3599 "Modify Tome Sync output to include entityId"
## Problem Statement
The current `tome-sync` output doesn't include `entity_id`, but we [use it in the templates](https://github.com/department-of-veterans-affairs/vets-website/pull/11123/files#diff-0fb338986febdf5448b268aa1b330778R238).

## Acceptance Criteria
- [ ] The `entity_id` is exported from the CMS

[2019-11-19 23:24] ElijahLynn commented on #3599
Hrm, I discussed the Entity ID early on with the Tome Sync maintainer (@mortenson) and I _think_ he said there would be too many content collisions. But I think since we use a "content edit lock" system to prevent editors from editing the same content that we should be able to add this safely.

I'll dig into this at least as a PoC.

[2019-11-19 23:25] cvalarida commented on #3599
Interesting. Alternatively, we'll have to modify the templates to use a different field.

CC @ethanteague for visibility.

[2019-11-19 23:29] ElijahLynn commented on #3599
K, found it. https://twitter.com/DrupalSAM/status/1186793434213863424

So the main use case for Tome Sync was for putting content into version control, which we are not doing. This should work out fine to add this in our case, especially since we have https://www.drupal.org/project/content_lock enabled.

[2019-11-19 23:31] steve-gov commented on #2932
Duplicate of #3237 ?

[2019-11-19 23:38] #3138 closed

[2019-11-19 23:39] #3168 closed

[2019-11-19 23:39] #3171 closed

[2019-11-20 00:29] lunascoop commented on #3273
Here is the Google sheets version: https://docs.google.com/spreadsheets/d/1-fEDCKfrBwz-g4_VhB-lyo2HtbG5RGCHK0uL4iCMeqk/edit#gid=39961378

Here is the excel spreadsheet version:
[Legacy Page Status Tracker.xlsx](https://github.com/department-of-veterans-affairs/va.gov-team/files/3866707/Legacy.Page.Status.Tracker.xlsx)

[2019-11-20 01:02] micahchiang opened #3600 "Add fetchTotalDisabilityRating to props for RatedDisabilityView"
## What happened?
Rated Disabilities is throwing an error in staging because `fetchTotalDisabilityRating` needs to be passed as a prop to `RatedDisabilityView`.

## Steps to Reproduce
- URL: staging.va.gov/disability/view-disability-rating/rating

## Desired behavior
The browser console should not throw an error.

## Acceptance Criteria
- [ ] Accessing the above URL should present the user with di

[2019-11-20 03:09] boris-ning-usds commented on #3500
Ah, @lkoenigsberg, this is the wrong ticket for the resolution. You should be resolving #3499
ESD also routed me two tickets, so I created two github issues to match them; one with Bill's issue (#3499 ), the other with Shawn's issue (#3500).

@shawn-adams I believe that the MHV team has fixed this issue, regarding an API that the va.gov team uses. I know that you have already stated that you no lo

[2019-11-20 03:10] boris-ning-usds commented on #3499
This issue has been resolved thanks to the ID.me team. The resolution involved a browser update. 2FA worked just fine after that.

[2019-11-20 03:10] #3499 closed

[2019-11-20 13:35] jonwehausen commented on #3048
Hi @desireeturner and @sonntag-adam,

Thanks to you both for getting this in quickly.

Per your screenshot, I noticed for the accordion expands, I see your screenshot has ```nav-accordion-expanded``` rather than ```nav-accordion-expand```.

### SIDE NOTES:

- **Regarding the accordion** -- I actually saw the push correct [here in staging](https://staging.va.gov/school-administrators/) in my most r

[2019-11-20 13:47] jenstrickland commented on #3521
@jason-gcio I'm trying to access the link [https://staging.va.gov/disability/check-disability-rating/rating/](https://staging.va.gov/disability/check-disability-rating/rating/) but getting an error using the login provided. Perhaps we should schedule a quick call to review accessing the page?

[2019-11-20 14:05] joanneesteban commented on #3238
Banner no longer on VA.gov. Iceboxing and setting a reminder to review any potential banners the sprint before Veterans Day 2020.

[2019-11-20 14:08] RLHecht commented on #2612
@jenniferlee-dsva The above changes have been made with @AnneHurley and I doing a screen share. When reviewed we can publish! @Karak888 fyi

[2019-11-20 14:29] Mottie commented on #3591
I've been discussing a similar issue with @kevinstachura where validation messages aren't shown & related subsequent steps aren't being handled or updated properly (related issue: https://github.com/department-of-veterans-affairs/va.gov-team/issues/2138). For example, on the review page, all rated disabilities can be unselected with no warnings or error messages showing.

I think this is an issue

[2019-11-20 14:32] RLHecht commented on #2612
Page now published through Drupal. Moving to validate and will close once confirmed live on site later this afternoon 11/20.

[2019-11-20 14:32] batemapf commented on #3238
I'd still like to move forward with instrumenting the promo banner, even if it's not being used currently. It will definitely be used before next Veteran's Day (prior to Veteran's Day it had been used to promote the MISSION Act for months) and I'd like to have analytics in place ahead of time.

[2019-11-20 14:34] jenniferlee-dsva commented on #2098
As part of every content parity/legacy rewrite or updating, please create a subtask to retire the legacy pages that have been fully 'migrated' into our hub. @AnneHurley @Karak888  - please let @lunascoop know when the redirects have been implemented, so she can add them to the consolidated redirect spreadsheet she's creating.

This is a messy process right now, so we'll figure out something more s

[2019-11-20 14:35] RLHecht commented on #3578
Moving to validate. Page set to publish 11/20. fyi @Karak888

[2019-11-20 14:35] #3203 closed

[2019-11-20 14:37] jonwehausen commented on #3055
Thanks so much for your work @zurbergram

Staging QA:

### ✅ Jumplinks - "On this page" bullets
![image](https://user-images.githubusercontent.com/48527022/69245083-2bf7e680-0b74-11ea-9185-84f73833ad8b.png)

### ✅ Featured Content - Light Blue Box Clicks -  "Latest announcements from VA"
![image](https://user-images.githubusercontent.com/48527022/69245227-724d4580-0b74-11ea-8aaf-95fcaacc81ed.png)

[2019-11-20 14:38] Justin-Pickett commented on #3116
Closing Ticket

[2019-11-20 14:40] #3444 closed

[2019-11-20 14:43] jonwehausen commented on #3527
@micahchiang Also receiving a 404 for a couple different users.

[2019-11-20 14:48] lkoenigsberg commented on #3592
Created an associated DEPO Board issue for decision.  https://github.com/department-of-veterans-affairs/digitalservice/issues/1018

[2019-11-20 15:02] jonwehausen commented on #2181
@joanneesteban @nedierecel

I spoke with @Samara-Strauss this morning and confirmed the profile/account that this POC was for is currently on hold.

For now, here is a [custom report](https://analytics.google.com/analytics/web/template?uid=SveMOlEaTGu7NdqtS-disw) (work-in-progress) that represents this functionality:
![image](https://user-images.githubusercontent.com/48527022/69249857-9dd42e00-0b7

[2019-11-20 15:04] jbalboni opened #3601 "Address is incorrect for some VA facility appointments"
We have reports from UAT that the facility address is incorrect in some cases.

[2019-11-20 15:05] jonwehausen commented on #2181
@nedierecel Could you give me head-sake on the calculated metric "Elapsed Time Between Events"?

[2019-11-20 15:18] #3144 closed

[2019-11-20 15:24] jbalboni opened #3602 "Display correct facility information on appointment list page"
The data we get back from the appointment service contains a facility id and a clinic id. VAOS uses `facilityId` to mean either the 3 digit system id or the full 5 digit id. In this case, it's the former, which means that we need more information than the id to figure out the location of the appt.

The legacy app uses a bolted-on custom text solution, where in VATS you configure the facility name

[2019-11-20 15:25] jbalboni commented on #3602
cc @markgreenburg

[2019-11-20 15:30] ltrombley commented on #3171
Hi Stan,

I have one more thing to add to the backlog.  I think we need to have that
meeting with our stakeholders to review the Crossmatrix and determine which
items to keep and which will be dropped. I understand that Jenny wants us
to focus on the Services for this Sprint, but I don’t want to lose sight of
the Crossmatrix task.

Please let me know if you have any questions.  Thank you!

*Lisa T

[2019-11-20 15:31] joanneesteban commented on #3403
@nedierecel please add spreadsheet!

[2019-11-20 15:33] joanneesteban commented on #849
@joanneesteban help with readme.md for top level platform analytics folder.a

[2019-11-20 15:41] alexpappasoddball opened #3603 "Documentation Mapping (Table of Contents)"
## User Story or Problem Statement
As a _____, I need _____ so I can _____.
As a new member of the Backend Tools team, I need a one pager (table of contents) that links me to all the relevant documents that I need so I can be be more productive in finding information across the different repos.

## Goal
To create a one page document that is broken out into sections that assists us as a new team in

[2019-11-20 15:42] joanneesteban commented on #3412
@nedierecel & @jonwehausen to huddle with @deweydell on error rate chart.

[2019-11-20 15:49] ncksllvn opened #3604 "[Drupal] Create landing page for "Find a VA Form" as a draft in Drupal"
The page itself contains quite a bit of content, most of which should be managed by the content team via Drupal. If not, content editors would have to go through an engineer to make any content adjustments, which is not ideal. So, we should create this page from Drupal, with a React widget added for the gray box area containing the search input and search results. This page should be created as a

[2019-11-20 15:50] rileyorr commented on #3567
@peggygannon All updates have been incorporated except one on screen 3, which I've responded to and tagged Robin in case he has more insight. LMK if you wanna hop on a call to discuss at some point!

[2019-11-20 15:52] nedierecel commented on #3403
@joanneesteban Updated the summary with the tooling sheet

[2019-11-20 15:54] ncksllvn commented on #3604
@jenniferlee-dsva Are there any concerns with creating the page for Find a VA Form as a Drupal draft? We can also create it first on GitHub, but then we'll sort of have to do the work twice - first in Markdown on GitHub, then from Drupal.

[2019-11-20 15:55] rileyorr commented on #3566
I've updated the ticket with the 3 screens that we will be reviewing!

[2019-11-20 16:00] Samara-Strauss commented on #3023
I'm sorry — do we have final designs?

[2019-11-20 16:02] davem-va commented on #3385
@davidconlon I think your last response is more for the facility-locator implementation rather than a confirmation response to @jeff2d2, correct?  If Jeff good to go with the API changes he mentioned above?

[2019-11-20 16:02] lwalsh617 commented on #2839
Posting content deck.
[Campaign LP Template_Placeholder copy v3_11-20-19.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/3870128/Campaign.LP.Template_Placeholder.copy.v3_11-20-19.docx)

[2019-11-20 16:02] delli-gatti-michael commented on #3580
Passes local testing

[2019-11-20 16:06] ncksllvn opened #3605 "[Front-End] Create a prototype for the React widget"
The gray box area containing the search input and the search results will be a React widget, containing its own actions and reducer(s), that will be rendered from the `static-pages` bundle entry like our other widgets.

A few key points -

1. In the beginning, we can assume that it's okay to just load up all of the forms data into the memory, and handle queries purely from the client-side. This ma

[2019-11-20 16:09] lwalsh617 commented on #2020
@Karak888 I'm posting the latest copy deck here. Next--which may be a new ticket or new task on current ticket is SEO which I'm currently working on.
[VA Forms LP WIP copy_v0.4_11-19-19.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/3870162/VA.Forms.LP.WIP.copy_v0.4_11-19-19.docx)

[2019-11-20 16:11] ncksllvn opened #3606 "[Analytics] Determine and implement Google Analytics for React widget"
We'll need Google Analytics added into our React widget to capture key events, so that we know how our widget is being used. We may also want to record clicks to download forms, so that we know what forms are most popular.

We also need Google Analytics added to the links on the page content (outside of the REACT widget). The primary purpose of this MVP is to increase conversions to digital tools,

[2019-11-20 16:15] ncksllvn commented on #3605
Response JSON from `https://dev-api.va.gov/services/va_forms/v0/forms`:

[va_forms.json.txt](https://github.com/department-of-veterans-affairs/va.gov-team/files/3870190/va_forms.json.txt)

[2019-11-20 16:20] micahchiang commented on #3527
@nedierecel, @jonwehausen - I _think_ rated disabilities on staging might currently be broken due to a recent PR we did. Standby and I'll let you know what that piece is resolved. In the meantime, a couple of other things I wanted to talk about with you:

1. Heads up, the URL is changing / could be changed already, to /disability/view-disability-rating/rating.

2. The 404s you bring up remind me o

[2019-11-20 16:22] Justin-Pickett opened #3607 "Unit Test Coverage for Address Validation Modal"
## User Story

As an engineer, I want to write unit test for the completed modal development work, so I can verify it is meets the design and works as intended.

## Goal
Write clear unit tests so we can merge the dev work to be validated by QA.

## Definition of Done

- [x] Unit test have been completed
- [ ] Ticket has been created for QA team member to test the modal development work

[2019-11-20 16:24] ncksllvn commented on #2340
I took this as more of a discovery ticket, since building this page entails quite a bit. So, I broke out our tasks into a series of tickers associated with the Epic, and now I think we can close this. We can check out the Epic for what those tickets are - https://github.com/department-of-veterans-affairs/va.gov-team/issues/1632.

Also, the acceptance criteria is just about the mockups, and we defi

[2019-11-20 16:25] Karak888 opened #3608 "Website Redirects: Create Email Template for Communicating with Stakeholders"
### **Overview:**
As the Public Websites team moves forward with redirecting legacy benefit Hub URLs, there will be a need to communicate with the respective VA stakeholder when a redirect is happening so that they are aware that they are moving to VA.gov.

### **Task:**
- [ ] Create a generic email message template that can be used to alert VA stakeholder's when we are ready to redirect their URL

[2019-11-20 16:27] ncksllvn commented on #3563
I think the best approach here is option 2, with the most decisive reason being to avoid increasing our front-end deployment times, but also because this will help define a pattern for future work with integrating the front-end with a Lighthouse API.

[2019-11-20 16:29] kelsonic commented on #2554
I put this ticket back in the Icebox since I think we should wait until the SideNav has a finalized design spec so as not to do this work twice! :)

[2019-11-20 16:29] YanaRoy opened #3609 "Request Content Review: 526 Original Claim Messaging for Missing IDs"
**User story**
As a member of Benefits and Memorials team building on VSP, I need my content reviewed to ensure it's accurate, aligns with VA style, and is error-free.

**Screenshot and Links**
- [Design ticket for reference](https://github.com/department-of-veterans-affairs/va.gov-team/issues/3285)
- [InVision Design](https://vsateams.invisionapp.com/share/JNUPVDECGFK#/393288220_526_Gating_-_Edge

[2019-11-20 16:32] #3279 closed

[2019-11-20 16:32] #3281 closed

[2019-11-20 16:34] #3285 closed

[2019-11-20 16:36] #3275 closed

[2019-11-20 16:37] #1536 closed

[2019-11-20 16:37] erikphansen commented on #3573
@nedierecel @clantosswett I have a PR up that will expand the list of possible error keys we'll send GA when Direct Deposit saves fail.

The full list will be:
- `'mailing-address-error'`
- `'home-phone-error'`
- `'work-phone-error'`
- `'flagged-for-fraud-error'`
- `'invalid-routing-number-error'`
- `'payment-restriction-indicators-error'`
- `'other-error'`

[2019-11-20 16:37] ncksllvn commented on #3145
Hey @amyknox, it's pretty simple. In our front-end project, we have a static file in the form of [JSON](https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/applications/proxy-rewrite/redirects/disabilityRedirects.json), we're we'll just add the redirect source and destination. This redirect will be deployed during our daily deployments. If there's front-end work that you

[2019-11-20 16:38] tlei123 commented on #3593
Changes made & [PR](https://github.com/department-of-veterans-affairs/va.gov-team/pull/3610) opened for @jcosta-gcio’s review.

[2019-11-20 16:42] amyknox commented on #3145
Thanks @ncksllvn. If I'm understanding the process correctly, we give you the redirects & targets (listed in the initial story description above) and tell you when we want them implemented.  Sounds like you need about a day to implement the redirects.

[2019-11-20 16:43] davidconlon commented on #3385
Hey @davem-va and @jeff2d2
Those URLs look correct but we're holding on those until we get the green light from @andrewlewandowski.

This issue is actually tracking what the FL needs to do on our front-end on our search results page that (current state) links to a facility detail page but (future state) will link directly to the VAMC Facility Page from search results as they roll out.

[2019-11-20 16:44] YanaRoy commented on #3120
@rileyorr

[2019-11-20 16:46] ncksllvn commented on #3145
It'll only take a sec - I can open a PR to implement the redirects, assign your team for review, and then your team members can merge the work when ready?

[2019-11-20 16:48] ncksllvn commented on #3145
Or I can open the PR, leave it until [data of launch], then I'll wait til that day to merge unless you tell us to hold off.

[2019-11-20 16:49] Mottie commented on #3124
Merging this issue with #3532 - I will update the content and associate it with that issue.

[2019-11-20 16:49] #3124 closed

[2019-11-20 16:50] jenniferlee-dsva commented on #3145
@Karak888 please work with Nick  to size this, and put it in the website team's backlog.

•	Note: Amy has a request-by date; if our sprint is full and we cannot meet her request-by date for implementation, please let her know what sprint we’ll add it.
@amyknox - is your new page's launch blocked if the redirect is implemented later than your launch date?
3/ RE SME and stakeholder communication – A

[2019-11-20 16:59] joanneesteban commented on #3238
Good to know! Removing from ice box and putting into Ready.

@batemapf do you have the specs for the promo banner?

[2019-11-20 16:59] ncksllvn opened #3611 "[HOLD until 11/22/19] Implement client-side redirects per request va.gov-team-3145"
Per this [request](https://github.com/department-of-veterans-affairs/va.gov-team/issues/3145), we need to implement some client-side redirects via this [data list](https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/applications/proxy-rewrite/redirects/disabilityRedirects.json). These redirects go live following our regular deployment schedule, so every weekday at 3 PM.

[2019-11-20 16:59] sonntag-adam commented on #3571
@1Copenut change is in staging.

[2019-11-20 17:01] Mottie opened #3612 "Prevent rendering empty content on review page"
## User Story or Problem Statement

After opening a review accordion on a form's review page, content that was presented to the veteran to review, but not editable takes up space in the review accordion. This PR prevents rendering of those empty elements since their class also includes a substantial bottom margin

This gap can be seen in both form 526 & 996 (HLR)
![](https://user-images.githubuser

[2019-11-20 17:01] ncksllvn commented on #3145
I created this ticket to track our implementation - https://github.com/department-of-veterans-affairs/va.gov-team/issues/3611.

I marked it as due by 11/22, meaning that the redirects will be put in place on that date at approximately 3 PM ET. However, this isn't difficult, so if 11/21 is preferred, we can do that. Either way, it's on our team's radar - please let us know!

[2019-11-20 17:04] #3517 closed

[2019-11-20 17:04] #2145 closed

[2019-11-20 17:05] wygonikGCIO opened #3613 "Discovery - Front end confirming Schematic Diagram"
# User Story:
As a Front-end developer I need to better document the Front-end calls and end points of the Medical procurement devices tools so that I can ensure that the Front-end will be able to build a modern tool to help increase usability for Veterans.

# Acceptance Criteria:
The requirements that must be met in order to mark this user story as completed
- [ ] Confirm diagram is correct with

[2019-11-20 17:08] kfrz commented on #2403
Goal for sprint 13 is to get this into a state where the work can be smoothly handed off to the Content/IA team.

[2019-11-20 17:11] wygonikGCIO opened #3614 "Discovery Mock up of Medical Device Tool"
# User Story or Problem Statement:
As a Front-end Developer, I need to build a mock up of the future medial procurement tool to so that I can better understand the steps need to completely build a modern Medical Procurement Device tool  that address the needs of the Veterans.

# Goal:
To create a mock up and have the DLC stakeholder review the mock to augment gaps in our understanding of the medic

[2019-11-20 17:16] lunascoop commented on #3427
@lwalsh617
[VA.Forms.LP.WIP.copy_v0.3_11-20-19-1.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/3870431/VA.Forms.LP.WIP.copy_v0.3_11-20-19-1.docx)

[2019-11-20 17:17] #3600 closed

[2019-11-20 17:20] YanaRoy opened #3615 "[Technical Discovery] NOD | HLR Comparison"
## User Story or Problem Statement
As a Front-end developer on the Benefits and Memorials team, I need to identify similarities between the Notice of Disagreement claim form and the Higher Level Review form so that I can easily recreate the digital steps of the HLR form as it relates to the NOD form.

## Goal
_Identify the NOD steps that would be duplicative of HLR online steps_

## Acceptance Cri

[2019-11-20 17:27] Justin-Pickett opened #3616 "QA Testing for Address Validation Modal"
## Info
Add the vsa-qa label  [Yana, Michelle: this is a change from qa to vsa-qa]
Select the Milestone sprint, or otherwise provide due-date for testing results.

Provide the following info to support testing (via links if documented elsewhere):

## Staging URL of product/feature

## UX Design wireframes/comps

## Finalized copy

## Test-accounts** (usernames) for all UX scenarios/flows.

[2019-11-20 17:29] saman-moshafi-va opened #3617 "Access for Saman Moshafi saman-moshafi-va"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Add a comment @department-of-veterans-affairs/vsp-operations to ping the operations team
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please

[2019-11-20 17:29] saman-moshafi-va commented on #3617
@department-of-veterans-affairs/vsp-operations

[2019-11-20 17:29] marisahoenig opened #3618 "Access for Marisa Hoenig"
# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please provide the name of your team, your role on that team, and the name of the company you work for.

- [if requesting SSH key authorization] What is the **public** SSH key? If you don't have a SSH Key or know how to find it [click here](https://github.com/department-of-veterans-

[2019-11-20 17:29] marisahoenig commented on #3618
@department-of-veterans-affairs/vsp-operations

[2019-11-20 17:33] SMLuthi commented on #3163
This ticket has been changed to more properly reflect the MVI testing process. The integration has been completed (barring and changes dues to testing on the upper environments) but responses need to be received on the dev (and staging environment). But to do this, we need to work closer with MVI and hear from them whether our requests are being build correctly. This will be reflected in another t

[2019-11-20 17:35] SMLuthi commented on #1757
The lighthouse has "finished" their integration of their endpoints on staging. This ticket is now unblocked and can hopefully be completed.

[2019-11-20 17:36] SMLuthi commented on #2035
MVI will by pass this testing step due us not having access to their pre-prod environment.

[2019-11-20 17:40] SMLuthi opened #3619 "[Development] Testing in MVI Development Environment"
## User Story or Problem Statement
As the Backend Engineer on the Benefits and Memorials team, I need to complete a series of tasks identified during endpoint implementation development so I can establish the implementation and complete the integration with MVI.

## Goal
_Test the MVI proxy add endpoint implementation in the dev env_

## Tasks
- [ ] Move integration on to a dev box
- [ ] Login as

[2019-11-20 17:42] Justin-Pickett opened #3620 "Sprint 9 Objectives"
## Direct Deposit
- Add "add direct deposit" functionality and and new associated analytics. Track/measure error rates as input to next steps and actions. (#3504)

- Finalize designs for ID.me & DS Logon and determine what sprint 10 work will need to be (#2884 and #1798)
- If needed, re-open call center guide and apply additional updates (#2901)
- Improve DD error analytics (#3573)

## Address Val

[2019-11-20 17:46] #3163 closed

[2019-11-20 17:51] tlei123 commented on #3099
@jason-gcio , beyond the design comps provided, are there any clickable wireframes (like in InVision?) that clearly delineate the user stories/scenarios?

For starters, I was looking at the first two design comps, and couldn't figure out how the User navigates from the initial landing page to the following page.

Please let me know.  Thanks much!  :)

[2019-11-20 17:53] YanaRoy opened #3621 "[Discovery] BDD Claims Submission Process"
## User Story or Problem Statement
As a researcher/designer on the Benefits and Memorials team, I need to understand how the current Benefits Delivery at Discharge Claims submission process works so I can incorporate the findings in my research.

## Goal
_Identify current BDD process via conversations with BDD SMEs_

## Tasks
- [x] Meet with BDD SMEs (scheduled for 11/25)
- [x] Record findings in

[2019-11-20 17:54] mortenson commented on #3599
I don't think the content collisions will be a problem for you since you're never doing an import and you only have one site - the collisions happens in cases where two editors use the site in separate editing environments, create a Node (both with the same ID), then try to commit.

[2019-11-20 17:59] amyknox commented on #3145
@ncksllvn Great to know the turn around is so quick!  I'll confirm the date with our client on the EDU side.  Please don't redirect until we have a final answer from them.

@jenniferlee-dsva -We are not blocked if the redirect is implemented later than launch date.

[2019-11-20 18:00] YanaRoy opened #3622 "Update Health check va.gov sends to EVSS Common Service"
## User Story
As a Back-end Developer on the Benefits and Memorials team, I need to update the Health check va.gov send to EVSS Common Service so I can .

## Goal
_Update Health check va.gov sends to EVSS Common Service_

## Acceptance Criteria
- [ ] _Health check updated_

[2019-11-20 18:01] ksantiagomorgan6 commented on #3048
Pull request for text change https://github.com/department-of-veterans-affairs/vets-website/pull/11153

[2019-11-20 18:10] Karak888 commented on #2278
moving to close this issue as it is encapsulated elsewhere,

[2019-11-20 18:10] #2278 closed

[2019-11-20 18:12] #2639 closed

[2019-11-20 18:14] ncksllvn commented on #3145
Gotcha - I marked the ticket as on-hold, so we are awaiting your confirmation for the date!

[2019-11-20 18:16] Karak888 commented on #3273
this should encompass all redirect URLS she has captured in her tickets.  This spreadsheet is an attempt to consolidated document.  This will be used as the master redirect.  Legacy page tracker is just for remaining legacy page

@jenniferlee-dsva

[2019-11-20 18:17] Karak888 commented on #3427
@lwalsh617 please review this one!

[2019-11-20 18:19] #3608 closed

[2019-11-20 18:21] Karak888 commented on #2340
We have design and API direction so moving to close.

[2019-11-20 18:21] #2340 closed

[2019-11-20 18:27] #1889 closed

[2019-11-20 18:29] Karak888 commented on #3010
This is closed as part of first iteration.  New changes in new ticket.

[2019-11-20 18:29] #3010 closed

[2019-11-20 18:29] #3504 closed

[2019-11-20 18:30] CrystabelReiter commented on #3125
@amyknox Thanks for updating me and answering my question about the location icon. This is fine as is.

The spacing of the dollar values are fine and thanks for alluding to testing results that helped make your decision.

Please let us know when the things that we agreed upon and discussed are updated in the future.

[2019-11-20 18:30] Karak888 commented on #3077
@peggy to follow up again this week, pending final feedback.

[2019-11-20 18:32] jenniemc commented on #2863
based on design changes, we don't have Pending pages anymore

[2019-11-20 18:32] Karak888 commented on #2964
@AnneHurley to pick back up

[2019-11-20 18:33] YanaRoy commented on #3543
@rileyorr this is discovery only - one of the other VSA teams said they were working on this page. Not sure which team.

[2019-11-20 18:34] Karak888 commented on #2964
@AnneHurley to bundle up ones she is finished.

[2019-11-20 18:37] Karak888 commented on #2760
@peggygannon please review and another version as necessary.

[2019-11-20 18:44] peggygannon commented on #2760
Thanks, @jenniferlee-dsva for your feedback. Below is updated copy for the Error message landing page.If all looks good, it's ready for @RLHecht to put into the content section of design system.

Re: I can provide additional guidance on "We're sorry". I've been asked to also providing additional guidance on "downtime messaging", so I will create an issue for both of these:
Provide additional error

[2019-11-20 18:44] Karak888 commented on #3605
foundation prototype to start.

[2019-11-20 18:50] #2326 closed

[2019-11-20 18:53] #3292 closed

[2019-11-20 18:53] Justin-Pickett commented on #1129
follow up with @erikphansen to see if he can validate the above addresses. Will bring this up in Vet360 call on this upcoming friday with possible suggestion on how to flag these instances.

[2019-11-20 18:54] ricetj commented on #3617
@Jeff-Hayter
COR: Michael Domanski
User: Saman Moshafi

[2019-11-20 18:55] lwalsh617 commented on #3427
Looks good. Thanks, @lunascoop. :) Am adding to my master deck and will find SEO keywords.

[2019-11-20 18:57] ricetj commented on #3618
@Jeff-Hayter
COR: Michael Domanski
User: Marisa Hoenig

[2019-11-20 18:57] kathleencrawford commented on #2487
the new endpoint within vets-api is:

.../v0/disability_compensation_form/find_rating_info_pid

[2019-11-20 19:00] davidconlon commented on #2701
This issue may be usurped by the desire for the industry standard "search this area"

![image.png](https://images.zenhubusercontent.com/5d93a452c8e4d80001227a6c/7d02cb54-058a-4a1b-8bc9-cbfff937eae9)

[2019-11-20 19:01] tlei123 opened #3623 "Update Pull Request process doc"
## Update VSA Engineering Pull Request Process documentation

A [Pull Request Process page](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/engineering/pull-request-process.md) has just been added to the VSA Engineering teams section by VSA Engineering Lead @jcosta-gcio, and further changes have been requested:

1. Under Pre Pull Request Checklist, change

[2019-11-20 19:02] YanaRoy commented on #2454
moving to benefits sprint 9 to allow for resolution of errors

[2019-11-20 19:03] SgardnerPMP opened #3624 "[DISCOVERY] Identify Services (From Master List) that are utilized across VISN 4 MC-West [BA & Content]"
## User Story or Problem Statement
As a vamc web user, I need to see all of the local services provided in a listing so I can quickly determine the information and direction I need to go to obtain my needed service at the local Medical Center level.

## Goal
_Identify, confirm, and list all services for the medical centers in Western VISN 4 medical Centers_
_To include:
- [x] Altoona, PA	https://w

[2019-11-20 19:05] Justin-Pickett opened #3625 "Sprint 9 objectives"
## Direct Deposit

Added "add direct deposit" functionality and and new associated analytics (Associated PR #11151)(#3573). Track/measure error rates as input to next steps and actions. (#3504)

Targeting finalizing the approach we will utilize. Will target to finalize designs/copy needed for ID.me & DS Logon and determine what sprint 10 work will need to be (#2844 and #1798) -Samara finalize info

[2019-11-20 19:09] jenniferlee-dsva commented on #2760
@peggygannon - th u. Looking at it in whole, I think my feedback incorporated introduced some unfortunate redundancy.  Can we go back where you first had your CTA links, but incorporate as embedded link, reference link to design section in 2nd para?

Like this...

**Error messages**

Error messages tell the user that something has gone wrong. These messages should be clear, direct, and have an act

[2019-11-20 19:09] Karak888 commented on #3145
Thanks @ncksllvn but for future reference @amyknox we will require more time in advance (you got lucky that a.) you had @ncksllvn and b.) you got this in as we were defining our redirecting process).
thanks for your patience.

[2019-11-20 19:13] ncksllvn commented on #3145
Haha, we also just had sprint planning today, so good timing 😄

[2019-11-20 19:13] joanneesteban commented on #3146
@amycesal can you document the suggestions on this issue?

[2019-11-20 19:16] SgardnerPMP opened #3626 "[DISCOVERY] Identify common services list (From Master 95 List) that are utilized across VISN 4 & Montana [BA & Content]"
## User Story or Problem Statement
As a web administrator, I need to determine the common services provided across the VISN so that a standardized content can be created for use with API selection for these services across the medical center websites.

## Goal
_Review all services listed for all VISN 4 medical center websites and create listing of common services across multiple sites.

## Depende

[2019-11-20 19:23] tlei123 commented on #3623
Changes made and [PR](https://github.com/department-of-veterans-affairs/va.gov-team/pull/3627) opened for @jcosta-gcio’s review.

[2019-11-20 19:25] mojaray2k commented on #3614
Adding @MRosari0 as a participant

[2019-11-20 19:27] SgardnerPMP opened #3628 "[Research] Create a personal Bio that can be used for presentations to the PAO teams {vamc-team]"
## User Story
_As a product owner, I need team bios so I can present the teams experience and back ground to our Public Affairs Officers and their teams during kick off and introductions_

## User Story or Problem Statement
As a web administrator, I need to determine the common services provided across the VISN so that a standardized content can be created for use with API selection for these serv

[2019-11-20 19:34] amyknox commented on #3055
@jonwehausen thanks for the setting expectations.

Key Resources, a general question... those items are all links that appear elsewhere on the page.  If we track them (whatever the format), would it show which of the links on the page the user engaged with?  And, if we wanted to say "these are the most frequently used resources" would we be able to look at a report of "next pages" or something sim

[2019-11-20 19:37] amyknox commented on #3048
@jonwehausen re the provider filters
The provider filters were removed pending resolution of the defects.  They will be re-deployed post launch.

[2019-11-20 19:41] Justin-Pickett opened #3629 "Candidate Address/Override: Usability Testing Summary"
- [x] [Summary of Usability testing outcomes](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/change-address/address-validation/user%20testing/Research%20Summary.md#people-mentioned-the-800-number-would-be-helpful-on-screens-where-you-cant-select-the-original-address-entered)
- [x] Circulate to team

[2019-11-20 20:02] Samara-Strauss commented on #3023
One more thing — this was estimated as a 1 but has open for almost 3 weeks. Justin/Arthur – can you please adjust the estimate as you see fit for this ticket? I am assuming that the benefits and memorials related discussion/work is being tracked in another ticket (which is what Justin mentioned above), so that probably does not need to be factored in to this estimate.

[2019-11-20 20:15] peggygannon commented on #3077
**11/20/19 update** Followup email sent to VA stakeholders, requesting final approval by Friday 11/22. We want to publish this hub by Monday 11/25.

[2019-11-20 20:20] Samara-Strauss commented on #2198
Arthur and I met over Slack today. I wanted to get my design feedback documented here so it doesn't get lost. Here is what we talked about:

- We have very few emails we send now (two confirmation emails— one is an email if health care apps fail to submit, and the second is a confirmation for direct deposit). I think sending an email to make people aware  that we have flagged their address is a so

[2019-11-20 20:21] Samara-Strauss commented on #2198
Also, I would recommend adjusting the estimate on this ticket. It's currently a 3 but has been open for well over a month.

[2019-11-20 20:23] mmiddaugh commented on #3419
![image.png](https://images.zenhubusercontent.com/5d8a47393ac3440001d1a2ed/292c16c0-9eba-4188-8b4d-fe2e57388263)

@davidconlon the image above shows the classifications affiliated with each type of facility in the Facilities API (as found in the DSVA Airtable)
We may want to
1- confirm that all are also available in the vets-api
2- confirm that the Facility Locator should surface all classificatio

[2019-11-20 20:30] Karak888 commented on #3514
@lunascoop - Please check with Mikki as this should encompass all redirect URLS she has captured in her tickets (consolidated into one spreadsheet).  The intent of this spreadsheet is to become the master tracker of all benefit Hub URLs to be redirected.

[2019-11-20 20:42] jason-gcio commented on #3521
@jenstrickland Sure we can...are you able to see it at this url?
https://staging.va.gov/disability/view-disability-rating/rating/

[2019-11-20 20:47] RLHecht commented on #2612
Validated on live site. Closing ticket.

[2019-11-20 20:47] #2612 closed

[2019-11-20 20:54] brandonrapp opened #3630 "Adding "Application" names to headers to assist with data endpoint mapping"
As part of the endpoint mapping we be adding the "application" name to each request that is made.

We will be leveraging the list of "app" names stored in the manifest files.

[2019-11-20 21:00] #2700 closed

[2019-11-20 21:01] jenstrickland commented on #3521
@jason-gcio Thank you, it's working now. Jim said there was an issue yesterday, so maybe it's resolved now.

[2019-11-20 21:06] #3601 closed

[2019-11-20 21:09] peggygannon opened #3631 "Content edits: VAOS VA Request flow screens"
## User Story or Problem Statement
As a member of a team building with or on VSP, content needs to be reviewed to ensure it's accurate, aligns with VA style, and is error-free.

## Acceptance Criteria
 VAOS team to implement content edits (below) in time for UAT testing of VA request flow screens.

https://staging.va.gov/health-care/schedule-view-va-appointments/appointments

**Content edits for V

[2019-11-20 21:15] ncksllvn commented on #3563
The source code for the Lighthouse API is [here](https://github.com/department-of-veterans-affairs/vets-api/tree/master/modules/va_forms). Hopefully, we'll be able to import and reuse most of that code for our purposes.

Essentially, the workflow will be -

1. Create an `apiKey` stored [here](https://github.com/department-of-veterans-affairs/devops)
1. Create a route in vets-api at `v0/va_forms`
1

[2019-11-20 21:17] #3178 closed

[2019-11-20 21:18] ncksllvn commented on #3605
@jenniferlee-dsva Should search results for this be bookmark-able? As in, after a user searches for a form with title `disability`, should the URL update to `www.va.gov/find-va-form?q=disability`, or something like that?

[2019-11-20 21:25] amyknox commented on #3145
Folks - our client in EDU mentioned that they "have people in Philly" who can help with the redirects on their side.  Curious if you've worked with Philip Spillaine (?) in Philly?  Maybe he's on your team and we're duplicating efforts.

In the event he's not on your team, is there an issue with him handling the redirects for the EDU pages?  If yes, could someone on this thread be available for a c

[2019-11-20 21:34] jenstrickland commented on #3521
Updated url to test: https://staging.va.gov/disability/view-disability-rating/rating/

[2019-11-20 21:44] jenstrickland opened #3632 "[SCREENREADER, AXE-CORE Serious]: Links must have their visible text as part of their accessible name"
## Description
**[SCREENREADER, AXE-CORE]: Links must have their visible text as part of their accessible name**

It is confusing to speech input users when they say a visible text label they see, but the speech command does not work because the component's accessible (programmatic) name does not match the visible label. When a user interface component has a visible text label — whether it be real

[2019-11-20 21:52] jenstrickland opened #3633 "[AXE-CORE Medium]: Heading levels should increase by one"
## Description

**[AXE-CORE Medium]: Heading levels should increase by one**

Ensure the order of headings is semantically correct. This h3 follows the h1.

[code]

## Point of Contact

Jennifer

## Acceptance Criteria

As a screenreader user, I want to navigate the heading hierarchy so I may understand the content of the page.

## Environment

* Operating System: all
* Browser: all

## Steps to R

[2019-11-20 21:53] peggygannon commented on #3384
I'm closing this issue, as the edit to Podiatry is now captured in this ticket: https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/3631

[2019-11-20 21:53] #3384 closed

[2019-11-20 21:56] andrewlewandowski opened #3634 "Create new facility product sitemaps"
We need product sitemaps created for the four new VA facility products:
- VA Medical Center (VAMC) facility system site (all of VHA's VAMC facilities; 144 VAMC systems with ~1,050 health clinics)
- Regional Office (RO) facility system site (all VBA facilities; 60 RO systems with ~300 intake sites)
- Vet Center facility (all of VHA's Vet Centers; 300 Vet Centers)
- VA cemetery (all of NCA's cemeter

[2019-11-20 22:04] peggygannon commented on #2760
@jenniferlee-dsva Yes, this looks good...  Is this ready for @RLHecht to implement?

fyi for you both, I'll be creating a separate issue for the "We're sorry" guidance.

[2019-11-20 22:32] MRosari0 commented on #3073
@wygonikGCIO Adding more points to the acceptance criteria.

[2019-11-20 22:35] joanneesteban commented on #3412
Checking in on the following deliverables for this sprint:

@amycesal
- Help text for:
   - Page Views on Introduction Page
   - Paper Form Submissions
   - Downtime Percent
   - Backend Systems
   (/work with @deweydell on the missing help texts or contact info for our blank charts)
- GA Access: Matt and Kevin have GA access, but if there are other stakeholders for testing Education who need GA a

[2019-11-20 22:45] rileyorr commented on #3543
@YanaRoy I believe the eBenefits team is working on this page. I've started a convo between me, Jason, Robin, Kevin to see where that team is at in the design process and whether or not our design needs to change for the time being. I will keep you updated as I get more info

[2019-11-20 22:49] mmiddaugh commented on #3584
@brangi what should we say are your goals for this part of the mapbox upgrade?

[2019-11-20 22:57] mmiddaugh opened #3635 "Gain access to PPMS data"
**As the Facility Locator team, we need to have access to the PPMS data set so that we can analyze data quality issues and make recommendations for improvements.

## Task
Obtain access to PPMS data so that the data can be evaluated as outlined in [#3051]

## Background [#1961]
Following the work to consolidate the urgent/emergency/pharmacy/Community Care facility locators into Facility Finder, the

[2019-11-20 22:58] mnorthuis commented on #3634
@andrewlewandowski converted this to an epic and added the template documentation we discussed as well.  I will create issues for each deliverable as needed.

[2019-11-20 23:02] mnorthuis opened #3636 "Create VAMC Sitemaps"
Need a visual base sitemap for the VAMC facility system sites - showing core pages.

[2019-11-20 23:15] rileyorr commented on #3543
@YanaRoy The eBenefits team _is_ working on this page and it is [currently in staging](https://staging.va.gov/disability/view-disability-rating/rating/) undergoing review. @Mottie has the link, so we may be good to close this ticket unless you need anything else from me!

[2019-11-20 23:20] rileyorr commented on #3120
@YanaRoy @kevinstachura I don't think I have access to update this screen. Do you know what Invision workspace this mockup exists in? It seems like an older version exists in the Invision workspace all the other HLR screens live in.

[2019-11-20 23:22] 1Copenut opened #3637 "Revise the VSP 508 ROE's"

[2019-11-20 23:26] 1Copenut commented on #3580
@delli-gatti-michael Thank you for the follow up. LMK when it's in staging and we'll spot test quick and close.

[2019-11-20 23:26] mmiddaugh commented on #3051
**Known issue:**
- Community Care responses do not distinguish between POS 17 and POS 20 facilities (i.e urgent care and pharmacy), which is leading to different data between Facility Locator and the TriWest locator.

@darkbushido the document with the data referenced (and embedded) in the description above can be found at: https://drive.google.com/file/d/1458gMt1loCfah1AzzkVVNBzG-QGz32Zq/view?usp

[2019-11-20 23:28] #1943 closed

[2019-11-20 23:30] 1Copenut commented on #3571
@sonntag-adam I spot-checked with JAWS + IE11 on Staging. Verified the fix and am moving this ticket to close.

[2019-11-20 23:30] #3571 closed

[2019-11-20 23:41] shawn-adams commented on #3500
close

[2019-11-20 23:52] 1Copenut opened #3639 "Port link and button research from the previous repo"
I previously captured research about when to use links and when to use buttons. Recapturing it and creating a new `/research` folder for the Accessibility group in Platform.

[2019-11-20 23:53] cvalarida commented on #3599
Thanks for that context, @mortenson!

@ElijahLynn Any idea how making this change might prevent us from evolving the CMS in the future? It sounds like it will limit some changes we may have down the road. (Mind you at this point, I have mostly no idea what I'm talking about. I don't have a clue what our plans are for the far-flung future or if we're already pretty well pigeon-holed into one specif

[2019-11-21 02:29] erikphansen commented on #2708
@ndsprinkle I'm afraid this might actually affect any Vet who has not been initialized in Vet360 (now known as VA Profile). If the `vet360ContactInformation` that comes back from the `GET user` endpoint is populated with null values:

![image](https://user-images.githubusercontent.com/20728956/69298748-a56af580-0bc3-11ea-8f96-1079470b3339.png)

the `user.profile.vet360` Redux data will also be nul

[2019-11-21 02:50] erikphansen opened #3640 "Add time zone to Direct Deposit call center hours"
Change the copy of the Direct Deposit help text from `We’re here Monday through Friday, 8:00 a.m. to 9:00 p.m.` to `We’re here Monday through Friday, 8:00 a.m. to 9:00 p.m. ET`, adding `ET` to the call center hours.

[2019-11-21 06:32] narin commented on #3549
Bundled with other content update ticket in PR https://github.com/department-of-veterans-affairs/vets-website/pull/11158

[2019-11-21 12:28] sonntag-adam commented on #3048
Filters
![Screen Shot 2019-11-21 at 7.22.57 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/1fac060c-4513-4a37-beb1-032023871b54)
##
Accordions expanded and collapsed
![Screen Shot 2019-11-21 at 7.26.33 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/4d88d45f-8a2a-4917-a170-eba7f368c701)
![Screen Shot 2019-11-21 at 7.26.45 AM.png](https://images.zenhubus

[2019-11-21 12:55] ndsprinkle commented on #3119
@YanaRoy @kevinstachura

I have investigated the appeals/claims and have some interesting finds. Currently, the list of appeals/claims on /track-claims/your-claims IS actually being sorted. They are being sorted by which appeal/claim was last updated. This sounds like a useful way to sort them, but seems quite confusing to a user considering the only date we display is the date the appeal/claim wa

[2019-11-21 13:30] davidconlon commented on #3419
1. We need to also be tracking VACO Administration like the one I work in. These are, I believe, labelled as offices now but appear as cemeteries.  Low priority in terms of flushing these out, but we should have the delineation present.

2. Regional Benefit Office is listed twice, is that an error or is there a difference between the two in unseen column attributes.

3. I believe that Vets-API and

[2019-11-21 13:38] sonntag-adam commented on #3540
![Screen Shot 2019-11-21 at 8.38.37 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/aa7894f6-17b7-42c3-9c7b-82f9c07f0756)

[2019-11-21 13:40] sonntag-adam commented on #3540
![Screen Shot 2019-11-21 at 8.40.10 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/c9fb5776-a5f4-49cd-af4d-921e6e4d2215)

[2019-11-21 13:40] sonntag-adam commented on #3540
@1Copenut

[2019-11-21 14:05] MRosari0 commented on #3073
@wygonikGCIO Making a note about meeting with DLC to avoid confusion with #3614

[2019-11-21 14:11] ricetj opened #3641 "Platform - Establish Game-day and Stress Test Protocols"
Establish gameday to test an aspect of or assertion against the platform. This will include learnings and remediation items as needed

[2019-11-21 14:14] kelsonic commented on #2556
**WARNING**: This PR will affect the current SideNav and not just the new SideNav. This will likely want to be merged once the new SideNav is going to production.

[2019-11-21 14:29] nedierecel commented on #3527
Thanks @micahchiang - we'll keep the blocked label on until Staging is resolved.

1. Appreciate the heads-up on IA change. That does impact one of our settings, so I will update the AC to reflect that.
2. I think that would be a great idea. Google Analytics and Google Tag Manager are set up to catch the events, so long as the pattern follows `disability` and ends with `failed`. The `error-key` can

[2019-11-21 14:37] jenniferlee-dsva commented on #3604
Per slack convos, we will build the content in Drupal as draft; and build the dynamic search/results funcationality on GH (and include the blue top task card content in the REACT for now.)

When those top task card components on the the Pittsburgh site become available on non-VAMC pages, we can move that content into Drupal.

Thx @ncksllvn

[2019-11-21 14:49] jenniferlee-dsva opened #3642 "Drupal practice VBA: Update pension rates on benefit hub pages"
**User story 1:** As a pension beneficiary, I want to know the most recent and correct pension rates information.

**User story 2:** As a VBA VACO digital media stakeholder, I want to be able to make simple updates in Drupal, using the new editorial review process.

**Action item:**  The pension rates on the below 2 pages need to be updated for **December 1.**
(Note from stakeholder: "....the rate

[2019-11-21 14:51] amycesal commented on #3412
### Help text for:
#### Page Views on Introduction Page
Total number of page views on the introduction page of the form for unauthenticated users per month. Source: Google Analytics

#### Paper Form Submissions
Total number of forms submitted on paper per month. Source: PA&I data
^ @joanneesteban is that correct?

#### Downtime Percent
The percent of time per month the form has been unable to be s

[2019-11-21 15:00] desireeturner commented on #3580
@1Copenut this is now on staging.

[2019-11-21 15:14] sonntag-adam commented on #3540
In staging.

[2019-11-21 15:25] RLHecht commented on #3578
Page published and looks good. Closing this issue. Added a note that I reached out to Jenny HL to have these forms added to the forms database as well. FYI @Karak888 @jenniferlee-dsva

[2019-11-21 15:25] #3578 closed

[2019-11-21 15:27] ncksllvn commented on #3145
@amyknox 😮Hm I haven't worked with Philip, but that makes me think that he can implement a server-side redirect from benefits.va.gov to www.va.gov. Is that correct? If so, that would be super useful for us on some related work.

[2019-11-21 15:27] ncksllvn commented on #3145
I don't see an issue with that at all, sounds very promising. But if it is the case that Philip can implement a server-side redirect on benefits.va.gov, I would for our team to get in touch with him for some related work.

[2019-11-21 15:27] tlei123 commented on #3623
PR merged.  Closing ticket.

[2019-11-21 15:27] #3623 closed

[2019-11-21 15:30] amyknox commented on #3145
@ncksllvn - Phil in Philly can do *client* side redirects.  That was the solution for our page all along. At this point, I'm not sure who has right of way WRT this redirect process.  The EDU team is happy to handle it but I've been under the impression DSVA had to.

[2019-11-21 15:34] gstevenson-va opened #3643 "PR metrics"
Write a console app that can be run to pull information via the Git API about PRs and drop that information into a CSV file.

Estimated Time to Completion: COB Wednesday 11/27.

[2019-11-21 15:34] ncksllvn commented on #3145
If Phil was able to do a server-side redirect, then I would be all-in and have our team w/DSVA get in touch with him. But since it's also client-side, and we already maintain a list of client-side redirects for benefits.va.gov, it might be better to do it on our side

[2019-11-21 15:36] annaswims opened #3644 "update code.gov"
https://code.gov/ is a  designed to support reuse and public access to custom-developed Federal source code. As open-source developers for the federal government we should keep our entry up to date  so that more developers may find our code.

The vets.gov entry should be removed, the va.gov entry should be updated as well as the url in the Gi bill comparison tool.
https://code.gov/projects/va_oit_

[2019-11-21 15:40] ncksllvn commented on #1328
@Karak888 Our current sprint might be pretty busy with dev work between the sidebar and Find a VA Form, but before our next sprint, we should definitely have a kickoff-ish meeting to help us organize our thoughts on search.gov and get some of these on our plate.

[2019-11-21 15:57] sporeboy commented on #3415
Preliminary mockup here: https://xd.adobe.com/view/0db723ac-52ff-48b3-4877-9d5882cb2e1f-7b86/screen/1d4fafce-8d16-4a89-a14b-97d795772b74/RD-Screen-Tool-2ALT

[2019-11-21 16:12] amyknox commented on #3145
@ncksllvn - sounds like it will be better for your team to handle it.  Just chatted with Kevin Hoffman & he's on board with this plan as well. We have a call with the client at 3pm and will brief them then.

LATE BREAKING UPDATE...
We need to update a link on the va.gov/education page to direct to the new page.

In the Not a veteran? sidebar widget, the link text "school administrators" should be

[2019-11-21 16:16] andreahewitt-odd opened #3645 "Complete General onboarding Phase 1 with Caregivers team"
Members onboarding in phase 1:
Alayna Abel - PM
Lance Sanchez- BE
Justin Linn -- FE

[2019-11-21 16:17] #3645 closed

[2019-11-21 16:19] mmiddaugh commented on #2734
@brangi

We need to treat this work as a full release and follow the process on our way to moving it into Production.

### Usability
- [ ] Create a [test plan](https://github.com/department-of-veterans-affairs/vets.gov-team/blob/master/Products/Identity/Personalization/Profile/Direct%20Deposit/Discovery%20&%20Research/Research/Usability%20testing/Research%20Plan.md)
  - [ ] Is the entry point esta

[2019-11-21 16:19] andreahewitt-odd opened #3646 "Complete General onboarding Phase 2 with Caregivers team"
Still waiting to hire these positions
Content Writer
Design/research
Design/research

[2019-11-21 16:20] andreahewitt-odd opened #3647 "Engineering break out with Caregivers team"
Lance Sanchez- BE
Justin Linn -- FE

[2019-11-21 16:22] mmiddaugh opened #3648 "Facility Locator UX Redesign"
This Epic will track the work and process for the Facility Locator UX Redesign

## Discovery
- [ ] [Review the Discovery How-to Guide](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/research/discovery-sprints/how-to-run-discovery-sprint.md) as well as the [Discovery Toolkit](https://github.com/department-of-veterans-affairs/vets.gov-team/blob/master/Practice%20A

[2019-11-21 16:29] cvalarida commented on #3308
cc @ElijahLynn

[2019-11-21 16:39] andaleliz opened #3649 "Character of service field should not be conditional, or it should have the same visual treatment as other conditional fields in the form"
## What happened?
Step 2 of Form 10-10EZ has 3 questions when the step loads:

1. Last Branch of Service
2. Service Start Date
3. Service End Date

After you answer Service End Date, the Character of Service field appears below.  It doesn't disappear when responses to the above question are changed like our other conditional fields do, and the options make me think this is required regardless of t

[2019-11-21 16:42] tlei123 commented on #3416
These PR-template updates will be rolled-back, per @jcosta-gcio’s request.

New, separate, VSA-specific PR templates will be created so that VSP PR’s would not be impacted.

[2019-11-21 16:43] andreahewitt-odd opened #3650 "Zenhub tutorial for caregivers"

[2019-11-21 16:44] micahchiang commented on #1665
@jason-gcio - I was able to complete setup for internal tools yesterday, so feel free to close this out.

[2019-11-21 16:49] tlei123 opened #3651 "Roll back recent vets-website Pull Request template changes"
## Roll back the recent PR-template changes made via #3416

Per @jcosta-gcio, the recent PR-template changes need to be rolled back, because they impact both VSP/VSA PRs.

NOTE: No need to roll-back vets-api's PR-template updates, as [the relevant PR](https://github.com/department-of-veterans-affairs/vets-api/pull/3555) was not fully-approved and was simply Closed without merging into master branc

[2019-11-21 17:11] ncksllvn commented on #3572
Hey @kevwalsh @jefflbrauer, it looks like we want to start excluding the `Home` link from the breadcrumbs. We have a PR ready in vets-website to skip that link from the Drupal breadcrumbs data, but I'm wondering if we could do that on the Drupal side. What do you think?

[2019-11-21 17:15] ncksllvn commented on #1632
Hey @rtwell, any chance you can provide the text from the mockups so that I can copy them into Drupal?

[2019-11-21 17:17] ncksllvn commented on #1632
(Actually, if you could follow-up over at https://github.com/department-of-veterans-affairs/va.gov-team/issues/3604, that would be awesome. That's the ticket for creating this page as a draft in Drupal.)

[2019-11-21 17:20] Justin-Pickett commented on #3649
@bradl3yC can you take a look into this bug?

[2019-11-21 17:22] 1Copenut commented on #3580
@desireeturner I verified this on Staging with IE11. Moving to close.

[2019-11-21 17:22] #3580 closed

[2019-11-21 17:29] 1Copenut commented on #3540
@sonntag-adam I verified this in Staging using the listed Acceptance Criteria. Moving to close.

[2019-11-21 17:29] #3540 closed

[2019-11-21 17:29] delli-gatti-michael commented on #3537
@1Copenut This is now in staging

[2019-11-21 17:34] 1Copenut commented on #3537
@delli-gatti-michael I verified in Staging with VO. Moving to close.

[2019-11-21 17:34] #3537 closed

[2019-11-21 17:35] micahchiang opened #3653 "Update GA events to more accurately reflect errors"
## User Story
As an engineer, I want analytics to accurately reflect what errors may be getting sent to the frontend, so I can better understand the health of vets-website/api ecosystem.

## Considerations
- There has been ongoing discussion [here](https://github.com/department-of-veterans-affairs/va.gov-team/issues/3527) about how to make events for rated disabilities a little more flexible in ca

[2019-11-21 17:45] RLHecht commented on #3021
This page is now built in Drupal: preview-prod.vfs.va.gov/preview?

[2019-11-21 18:03] annaswims commented on #242
This ticket is not a duplicate and should be completed.  This work was not completed and we had an additional inciden https://dsva.slack.com/archives/C30LCU8S3/p1574355738471100

[2019-11-21 18:04] annaswims commented on #242
#241 is an additional ticket to mitigate

[2019-11-21 18:23] tlei123 opened #3654 "Discover GitHub support for multiple Pull-Request templates"
\[Low priority - Work on this as time allows]
## User Story
As a VSA Engineering team member, I want to open a PR and see boilerplate guidelines/content specific to VSA PRs (as distinquished from VSP or other non-VSA PRs).

## Goal
Determine possibility/feasibility of hosting two separate PR-templates in a GitHub repository -- one for non-VSA PRs and one for VSA-specific PRs.

## Objectives or Key

[2019-11-21 18:28] AnneHurley commented on #1727
@mnorthuis @RLHecht @ncksllvn  - Question re the deploy date of 11/22 - has this list of URLs been sent to the SMEs, and who's shepherding it?

[2019-11-21 18:31] AnneHurley commented on #3022
@Karak888 @mnorthuis  Do I need to do anything more with this other than send the screen shots of the page, with its new URL, to the stakeholders? Heroku is https://vagov-content-pr-463.herokuapp.com/records/discharge-documents/

[2019-11-21 18:35] Samara-Strauss commented on #3649
@bradl3yC please hold off until I confirm who should be fielding health care application related questions.

[2019-11-21 18:54] tlei123 commented on #3654
GitHub does have support for multiple PR-templates.

So far, however, the only relevant GH documentation I've found describes accessing the different templates via URL-parameters \[see links below].

See these two different PR-templates created in my test-repo:

- PR-template 1: [https://github.com/Tze1/test-repo/compare/master...test-pr-templates/?expand=1&template=pr-1.md](https://github.com/Tze

[2019-11-21 19:12] billfienberg commented on #2661
`vets.gov-team` PR: https://github.com/department-of-veterans-affairs/vets.gov-team/pull/20015
`va.gov-team` PR: https://github.com/department-of-veterans-affairs/va.gov-team/pull/3655

The spreadsheet had 1,089 URLs listed, but the `va.gov-team` PR only has 1,034 files. I'm currently investigating that discrepancy. I suspect that it's possible some of the files in the spreadsheet have been delete

[2019-11-21 19:23] billfienberg commented on #2661
I think this is the same file, but one of them has an extra `Ratings` directory.
`https://github.com/department-of-veterans-affairs/vets.gov-team/blob/master/Products/Education/GIBCT/Visual%20Design/Ratings/Ratings/Source%20Files/Ratings%20vectors%20-%20Mortar%20Boards.ai`

`https://github.com/department-of-veterans-affairs/vets.gov-team/blob/master/Products/Education/GIBCT/Visual%20Design/Ratings

[2019-11-21 19:23] clantosswett commented on #3400
I have created a document with all all the call center related document across triage, insights, and a few other places. Next steps will be to review the documentation and determine which articles are redundant, figure out ways to consolidate, and then determine where the final list of documentation should live.

https://docs.google.com/spreadsheets/d/1y6gWc6lHvCOYoKxgM13wZwiSyt1yppiyjwv5Ar2eJvc/e

[2019-11-21 19:28] amycesal commented on #3412
## User research for beta users

#### Time:
One month after onboarding beta users

#### Hypothesis:
If VFS teams have an easier to read metrics targeting tool, then they will use that data to guide their product strategy.

#### Research Question:
- Did they check in with the tool after we onboarded them?
- Do they have questions on the result of their data in relation to their target?
- If their r

[2019-11-21 19:30] rtwell commented on #1632
Find VA forms

Search for a VA form by keyword, form name, or form number. Many form tasks can now be done online like requesting a copy of your medical record or updating your address for your VA prescriptions.

Top tasks for frequently downloaded VA forms

Whether you’re looking for a form to file a disability claim or apply for the GI Bill, many top tasks are now also available as secure online

[2019-11-21 19:32] brandonrapp commented on #3513
CMS Superteam information related to this work can be found here - https://github.com/department-of-veterans-affairs/va.gov-team/issues/2778

[2019-11-21 19:33] billfienberg commented on #2661
I think the `Ratings vectors - Mortar Boards.ai` file currently exists in three different directors in `vets.gov-team`.

1. https://github.com/department-of-veterans-affairs/vets.gov-team/blob/master/Products/Education/GIBCT/Visual%20Design/Ratings/Ratings/Source%20Files/Ratings%20vectors%20-%20Mortar%20Boards.ai
2. https://github.com/department-of-veterans-affairs/vets.gov-team/blob/master/Produc

[2019-11-21 19:37] ncksllvn commented on #1632
You rock @rtwell!

[2019-11-21 19:41] jenniferlee-dsva commented on #1632
The mockups do not have the latest copy @ncksllvn. Per somewhere else (lol), you can find the copydoc here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/find-va-forms-redesign/VA-forms-slp-conversion-paths-110519.docx

[2019-11-21 19:43] ncksllvn commented on #1632
Thanks @jenniferlee-dsva! I'm not worried about it being anywhere close to final or anything right now. I just need something to help scaffold the content in Drupal.

[2019-11-21 19:44] steve-gov commented on #2931
For reference, Caseflow integrates directly with BGS: https://github.com/department-of-veterans-affairs/caseflow/search?q=bgs&unscoped_q=bgs

[2019-11-21 19:46] #3612 closed

[2019-11-21 19:48] erikphansen opened #3656 "Track if DD errors occur during DD setup or update"
We currently report the following error types to Google Analytics when there is an error in saving/updating Direct Deposit bank info:

- 'mailing-address-error'
- 'home-phone-error'
- 'work-phone-error'
- 'flagged-for-fraud-error'
- 'invalid-routing-number-error'
- 'payment-restriction-indicators-error'
- 'other-error'

But we don't know if those errors happen for users who are _updating_ their ex

[2019-11-21 19:49] ncksllvn commented on #3145
We need to update a link on the va.gov/education page to direct to the new page.

Hm, so this is a Drupal task, not a redirect. Does this need to go tomorrow as well? As in, is it a launch-stopper?

[2019-11-21 19:51] #2692 closed

[2019-11-21 19:51] ncksllvn commented on #3145
![image.png](https://images.zenhubusercontent.com/59cb9de1b0222d5de47953d8/5dd30cf7-b617-4a1e-8d13-c742445c3981)

The good news is that the link points to https://www.benefits.va.gov/gibill/school_resources.asp, which we'll be redirecting anyway, so if the link isn't updated the user will just be redirected.

[2019-11-21 19:51] erikphansen commented on #3656
@nedierecel @clantosswett For now I'll plan to change the strings that we send as the `error-key` when DD save errors happen, as described above. Let me know if you want to instead add a additional key to the object we send to GA when the errors happen.

[2019-11-21 19:57] clantosswett commented on #3146
Did you find this report helpful?
◯ Yes
◯ Somewhat
◯ No

What are you going to do with this information?
[open ended box]

Is there feedback you would like to provide to improve this report?
[open ended box]

Thank you for your feedback, if you want to chat directly please talk to Chante.

[2019-11-21 20:02] YanaRoy commented on #3119
@kevinstachura based on your research, what seems like the best design path forward following @ndsprinkle's discovery?

[2019-11-21 20:12] jason-gcio commented on #2487
This still says it’s blocked, but I think it isn't anymore, correct?  We can take the dependency piece off if so.

[2019-11-21 20:15] jonwehausen commented on #3055
@amyknox Thanks for your input and confirmations here.

## Here's a summary of the remaining action items:

1) **To record the links associated with links embedded within accordions, this is the DL code we'll need**:
[code]
**We will need this on EACH of the links inside accordions on the page, see screenshot for the "Essentials for SCO's example**

![image](https://user-images.githubusercontent.c

[2019-11-21 20:18] AZSchneider commented on #3649
It looks like this probably shouldn't be conditional. A veteran needs to have separated from service to be eligible for healthcare, and the terms of discharge may affect eligibility, so I'd say it's a bug. It's not preventing the form from being submitted, it doesn't seem, so we can look at prioritizing fixing it, but it doesn't look urgent to me.

[2019-11-21 20:18] #3543 closed

[2019-11-21 20:18] jonwehausen commented on #3048
Hi @sonntag-adam,

Thanks again for your corrections here, this looks great.

Per @amyknox and I's conversation, our team can stage the tag based on these screenshots that will be used for the Provider Filters, but we would like to refrain from pushing that piece to production until we can confirm live in staging with a legitimate filter -- which @amyknox mentioned may not be until December.

[2019-11-21 20:18] Karak888 opened #3657 "Content work to complete for the new "view your disability rating feature"
### **Overview:**
This feature displays the Veteran's total VA combined rating plus list of all of their disabilities that are related.

Tasks:
- [ ] Revise and write new additional copy for the static landing page (see mockups from apps team in Epic)
Content notes for assigned web content person
disability-view-rating-static-landing-pg-ticket-content-notes-111319.docx

### **For reference:**
Mock

[2019-11-21 20:29] jenniferlee-dsva commented on #1727
@AnneHurley re your Q - the list of URLs in Randi's above message are not being redirected. (At least in this ticket.)

[2019-11-21 20:31] davidconlon opened #3658 "Facility Locator: State Veterans Cemetery Information"
## User Story or Problem Statement
Problem description. How might we include the State Veterans Cemetery Information on the Facility Locator?

## Goal
_State Veterans Cemetery Information (e.g. https://m.va.gov/stateCemDetail.cfm?id=1009 or list like https://m.va.gov/cemeteryList.cfm) _

## Objectives or Key Results this is meant to further
- _Brand consolidation/Facility Locator Consolidation_

#

[2019-11-21 20:35] kevinstachura commented on #3119
@YanaRoy @ndsprinkle Will talk to Nick and provide design recommendation. Have a couple questions beforehand!

[2019-11-21 20:40] mnorthuis commented on #2051
I have removed the redirect for Beneficiary travel in the list above, all others are ready for redirect.

Assigning ticket over to you @Karak888 to schedule and implement.

[2019-11-21 20:42] peggygannon commented on #3391
@markgreenburg @rtwell
Please see below for updated messaging for the podiatry follow-up screen/modal

**You can’t schedule a podiatry appointment right now**
At this time, podiatry appointments can only be scheduled online for Community Care appointments. To schedule a podiatry appointment at a VA facility, please call your local VA medical center, or use the [facility locator tool to find your n

[2019-11-21 20:43] mnorthuis commented on #2049
Removed the protected pension rate page from list above.  All remaining work is complete and legacy pages are ready for redirect.

Assigning to you @Karak888 to schedule.  Please use this issue to complete implementation.

[2019-11-21 20:45] rileyorr commented on #3544
@YanaRoy Where is the current screenshot coming from? The mockup I see for this page already has the correct message: https://vsateams.invisionapp.com/share/W5U21BDFTQK#/385994366_Signed_In-File_A_Higher_Level_Review_

[2019-11-21 20:46] rileyorr commented on #3544
<img width="832" alt="Screen Shot 2019-11-21 at 3 44 16 PM" src="https://user-images.githubusercontent.com/46329147/69375314-0d7a1400-0c76-11ea-831d-0fa74aafb1bf.png">

Screenshot from the education benefits form for reference

[2019-11-21 20:47] zurbergram commented on #3055
https://github.com/department-of-veterans-affairs/vagov-content/pull/601 for https://github.com/department-of-veterans-affairs/va.gov-team/issues/3055#issuecomment-557254189

[2019-11-21 20:49] mnorthuis commented on #2053
All items (not crossed out) in the list above can be redirected once stakeholders are notified.

Assigning to you @Karak888 so it can be scheduled.  Please use this ticket to complete implementation.

[2019-11-21 20:50] annaswims commented on #242
on a call with @mattpointzxer0 and @wyattwalter we settled on a 1s timeout.  it's 10x the slowest typical response.  Currently timeout is 15s

[2019-11-21 20:52] micahchiang commented on #3653
PR here: https://github.com/department-of-veterans-affairs/vets-website/pull/11171

[2019-11-21 20:53] peggygannon commented on #3567
thanks, @rileyorr I reviewed your updated mockup and the changes look good. I don't have anything else to add to this issue, so I think we can close this one.

cc @YanaRoy

[2019-11-21 20:56] rileyorr commented on #3544
@Mottie pls see above comments, you may know more about this

[2019-11-21 20:56] brandonrapp opened #3659 "FE Best Practice Guide - Launch MVP on Performance Optimization"
Leveraging data from their Google Analytics, VFS can implement optimizations that will increase the FE performance of their application.

[2019-11-21 20:56] AnneHurley commented on #3022
@RLHecht  @jenniferlee-dsva  I did a copyedit pass on this page ^ and don't see any edits that are necessary. It's essentially a super large/long table. I would say it's good to go. I will add the Heroku link to my list of Drupal Prod/Preview links to send to SMEs. Sound ok?

[2019-11-21 20:58] peggygannon commented on #3589
@markgreenburg @rtwell @narin

Here's my recommended content for the Help component. (this aligns with the wording of other form Help components):

**Need help?**
For help scheduling an appointment, or if you have questions about enrollment or eligibility, please call:

Please change VA facility and Community Care appointments TO:
**VA or Community Care appointments:**

All other copy in the mocku

[2019-11-21 21:00] mnorthuis commented on #2052
I can find confirmation of all of the above pages being ready with the exception of these 4.

@Karak888 I am assign this ticket to you, all have been vetted and documented.  You can schedule these to be done once the below pages are also ready.

legacy URL |  Redirect to
-- | --
www.benefits.va.gov/gibill/post911_gibill.asp | /education/about-gi-bill-benefits/post-9-11/
www.benefits.va.gov/gibill/

[2019-11-21 21:01] batemapf commented on #3238
as much as i hate to pull him into more things... @ncksllvn might be your best bet here. cc @jenniferlee-dsva for awareness.

[2019-11-21 21:04] mnorthuis commented on #1986
@Karak888 these redirects are vetted and can be scheduled for implementation once your team has communicated to the stakeholder.   Please use this issue for implementation.

[2019-11-21 21:11] RLHecht commented on #1727
@AnneHurley Right. That's just a list of all the places the DIC page is mentioned on other pages, so we need to make sure when the page gets moved to disability that those links get updated to point to disability/dependency-indemnity-compensation instead of burials-memorials/dependency-indemnity-compensation. Not sure that needs to be shared with SMEs. It's just a way for us to keep track of the p

[2019-11-21 21:12] ncksllvn commented on #3604
I created this page in Drupal at `https://prod.cms.va.gov/find-va-forms`. It's also editable using its node ID at `https://prod.cms.va.gov/node/2352`.

@kelsonic there isn't a great way to work with this page right now, because it's a draft in Drupal production. If we create it in Drupal Dev, it'll eventually be overwritten as the data is synced from Prod downwards. I think the easiest way is to j

[2019-11-21 21:13] ncksllvn commented on #3604
Here's the preview - http://preview-prod.vfs.va.gov/preview?nodeId=2352 -

![image.png](https://images.zenhubusercontent.com/59cb9de1b0222d5de47953d8/5ae02129-58e5-4f40-b1ea-dc3c5f7ed9d2)

Not the prettiest page in the world right now, but enough to get us started.

[2019-11-21 21:15] ncksllvn commented on #3604
@Karak888 We'll definitely have to adjust the content for this page via Drupal as we go forward, but we have a start. I think we can close this :smile:

[2019-11-21 21:15] jonwehausen commented on #3055
Hi @amyknox,

After further looking at the HTML structure on this page and chatting with @nedierecel for the **Key Resources link tracking**, we think it's best to do this within the DL as well.

For **EACH** link in the key resources list, we'll need the following DL code:

[code]
CC: @zurbergram
![image](https://user-images.githubusercontent.com/48527022/69377149-a78f8b80-0c79-11ea-9402-026287c6

[2019-11-21 21:18] RLHecht commented on #3022
@AnneHurley I just made a few minor copyediting tweaks. (hyphenated "active-duty" and lowercased "federal." I can build this page in Drupal and will send you the preview link when it's done.

[2019-11-21 21:19] Justin-Pickett opened #3660 "[Design] Bad Unit Number design flow Mock Up"
## User Story

As a designer I need to create a design mock up to show the flow to account for a veteran needing to input a missing unit number into the form.

## User Goal

To account for a missing unit number on the form being flagged and prompting the user with the correct messaging to correct their missing unit number.

## Acceptance Criteria

If the response is a single suggestion with a "del

[2019-11-21 21:27] ncksllvn commented on #3238
Ah yep, this is probably overdue.

@nedierecel @jonwehausen  I think this ties into your [Epic](https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/1531) - `UX Standardized Datalayer Analytics`. It calls for implementing analytics into the [PromoBanner](https://design.va.gov/components/promo-banners), a design system component.

[2019-11-21 21:37] peggygannon commented on #1965
Hello! @jason-gcio Do you think we can close this ticket? If there are further content updates based on the user research sessions, I recommend that we track those updates in a new ticket.

[2019-11-21 21:41] zurbergram commented on #3055
https://github.com/department-of-veterans-affairs/vagov-content/pull/601 for https://github.com/department-of-veterans-affairs/va.gov-team/issues/3055#issuecomment-557275130

[2019-11-21 21:49] wyattwalter opened #3661 "Network - update error page on TIC gateway"
## User Story or Problem Statement
At the TIC gateway, there's a configuration for a page to serve to users when the gateway can't reach our systems and the app has to be marked as down. The current web flow has a VBA error page configured, and the TIC will redirect users there instead of proxying it. Additionally, static assets on the error page are served from www.va.gov and that doesn't work wh

[2019-11-21 21:49] wyattwalter commented on #3661
@ricetj is there an epic that this could fall under?

[2019-11-21 21:52] wyattwalter commented on #2971
We're now cutover and routing traffic through the TGW. Cleanup tasks that need to be finished before closing:

- [ ] Change route53 endpoints to point at VAEC DNS across the board (sounds like dev and prod already do this)
- [ ] ticket exploring reducing route tables to 1 for each environment
- [ ] remove old VGW’s
- [ ] remove VPC peering with transit gateway VPC and cleanup any extra routes that

[2019-11-21 21:57] nedierecel commented on #3656
Thanks @erikphansen - Based on our chat, we can append `update` or `enroll` to the error key in lieu of creating a new key to the object.

[2019-11-21 22:00] andaleliz opened #3662 "Discovery: Improving UX for tables"
This issue covers discovery work need to scope out improving the UX for tabular information on legacy VA pages (examples below) and create the epic, issues, and figure out what needs to be done to move toward MVP 1.0

We currently have tables on legacy pages that are being manually maintained via spreadsheets and displayed as static content online.  Keeping the content up to date is a challenge an

[2019-11-21 22:02] Justin-Pickett opened #3663 "Internal Testing with Address Validation Modal"
## Background

This is ticket serves as  internal testing ticket for the work completed for the Address Validation Modal.

## Goal

To test in staging the address validation modal and validate the dev work is working as intended.

## Acceptance Criteria

1. Team has tested the modal on staging
2. Ready to send to QA to be tested

[2019-11-21 22:06] Karak888 commented on #2051
thanks @mnorthuis !!

[2019-11-21 22:07] jobro commented on #3349
All complete, up to needing clearance to access the SOCK proxy.

[2019-11-21 22:11] jobro commented on #3298
Accepted invite for Tuesday, Nov 26.

[2019-11-21 22:39] jobro commented on #3358
Done

[2019-11-21 22:48] jobro commented on #3368
Done

[2019-11-21 22:50] jobro commented on #3372
Done

[2019-11-21 22:54] jobro commented on #3376
This documentation link does not point to the GH Markdown CheatSheet.  Can you help me find the right document?

[2019-11-21 22:56] jobro commented on #3386
Done

[2019-11-21 23:18] jobro commented on #3376
Found it.  https://help.github.com/en/github/writing-on-github

Done.

[2019-11-21 23:28] erikphansen opened #3664 "Letters app Edit Address modal overflows small screens"
The Edit Address modal on the Letters app can vertically overflow short/small screens.

Steps to reproduce:
- sign into staging with user 37
- go to https://staging.va.gov/records/download-va-letters/ and click the `Get Your VA Benefit Letters` button
- click the edit button next to Mailing Address

Vertically shrink the screen and notice that the modal's top and bottom edges fall off the screen.

[2019-11-21 23:29] erikphansen commented on #3664
@ndsprinkle I'm not sure who should be assigned to this, but I know you worked in this area so am tagging you so you can bring it to your team. Thanks!

[2019-11-21 23:57] tlei123 commented on #3654
Nothing in the GitHub repository settings enables any UI-support of multiple PR-templates.  The templates-selection screen was only implemented in GitHub for issue-templates.

I'll start researching customizing the PR buttons via a custom browser extension (the same way ZenHub customizes GH screens with added PM/CI/CD features).  Hopefully, the PR buttons can be customized into a "pull-down" butto

[2019-11-22 00:16] kathleencrawford commented on #2932
submitted PR https://github.com/department-of-veterans-affairs/vets-api-mockdata/pull/107 to merge betamocks files into vets-api-mockdata repo

[2019-11-22 00:17] erikphansen commented on #3654
@tlei123 I am an absolute noob at browser extension development but it seems like it might be feasible to do. BUT, it would probably be fragile (GitHub might change something in the page we're modifying and our extension would break) and we'd also need a Firefox extension that does the same thing. It would be a fun thing to look into, but my gut tells me that it might not be worth the effort.

Als

[2019-11-22 02:29] tlei123 commented on #3654
Thanks, @erikphansen !  I will start looking into Hub..

I think both browser-extension and Hub implementations are going to be brittle code-wise, but just having a PR-process doc & email telling contributors to manually add a pr-template url-parameter is probably going to be even more brittle process-wise.

I will also start researching GitHub-App implementation to see if robust access to GitHub

[2019-11-22 03:57] nedierecel commented on #3238
Thanks @ncksllvn - we'll tackle this post-Thanksgiving but can begin giving it some thought.

Let's also think through a QA plan as other teams use this component (and other standardized UX analytics). I am thinking particularly of the `accordion-expand|collapse` issue we ran into a few weeks ago with it breaking the mobile footer.

[2019-11-22 03:57] #3256 closed

[2019-11-22 03:58] #3597 closed

[2019-11-22 04:01] #3549 closed

[2019-11-22 05:25] narin commented on #3589
@rtwell @peggygannon @markgreenburg What URL should the "leave feedback" link lead to?

[2019-11-22 06:31] #3237 closed

[2019-11-22 13:41] jbritt1 commented on #3508
[https://app.zenhub.com/files/133843125/ae0821b6-341f-4301-a54b-885c5ae298ab/download](https://app.zenhub.com/files/133843125/ae0821b6-341f-4301-a54b-885c5ae298ab/download)

[2019-11-22 13:45] ricetj commented on #3661
@wyattwalter, not one that can fit cleanly. Do you think there is enough work here for it to be its own epic?

[2019-11-22 13:47] jenniferlee-dsva commented on #1632
@ncksllvn @rtwell - Sorry for scope creep, but there are 2 more elements that we need to include in the design and build of the forms search/results page.

**1/ Email mechanism that lets ppl email the VA forms managers VaFormsManagers@va.gov.**
@rtwell - I don't know what the design should be for this or if it should just be a text link at the bottom of the page. (On the current live page, they ha

[2019-11-22 13:53] rtwell commented on #3589
@lalexanderson-dsva knows this

[2019-11-22 14:03] rtwell commented on #1632
imo email interaction should be a link at the bottom of the page. Lemme know what the words should be and i'll find a home for it ❤️

[2019-11-22 14:23] kevwalsh commented on #3572
This is a simple change on Drupal end. I'll see if I can get this into today's CMS deploy, but it might be for Monday

[2019-11-22 14:26] kevwalsh commented on #3572
@kelsonic @ncksllvn this is site wide right? At least, all CMS hosted products? Benefits hubs, VAMC, outreach materials...

[2019-11-22 14:30] goldenmeanie opened #3665 "Analytics Reporting Request for Pension and Burials"
# Metrics Reporting Request

## What this form is for

Use this template to request performance, usability, or outcomes va.gov metrics that is difficult to access or that needs analytics interpretation.

Insights will usually provide data reports within the current sprint, but if there is time-sensitivity, please note them in "additional comments."

## Instructions

Please fill out the following s

[2019-11-22 14:34] ncksllvn commented on #3238
@nedierecel Sounds good.

That issue, btw, came as a side effect of this work - https://github.com/department-of-veterans-affairs/va.gov-team/issues/1846 - not the accordion standardization. An event was explicitly added into the footer, for some reason. I reviewed the corresponding PR, but I didn't understand the scope of the work, so I thought it was intentional.

[2019-11-22 14:37] ncksllvn commented on #3572
@kevwalsh Yep, that's my understanding! @jenniferlee-dsva do you want to provide any more context?

[2019-11-22 14:39] #2423 closed

[2019-11-22 14:44] jenniferlee-dsva commented on #1727
Also - just remembered - in Drupal, if we were already using the node Ids, instead of the literal URLs, those text links should automagically point to the new location. (I think.)

[2019-11-22 14:51] amyknox commented on #3048
@jonwehausen  - confirming
1. we're good to go for the GA datalaye code for accordions and
2. we'll revisit the GA datalayer code for Provider filters prior to that functionality going live.

[2019-11-22 14:59] RLHecht commented on #1727
@jenniferlee-dsva I think that is the case too but will confirm with Kevin. I will also check all these pages to make sure the Node ID was actually used.

[2019-11-22 15:03] andreahewitt-odd opened #3666 "Support - Create Robust Sample Project for VFS teams"
## User Story and/or Problem Statement

### User Story

As a VFS team, I want a sample project to look to for guidance so that I know what we are creating is inline with VSP's expectations.

### Problem Statement

Right now, we don’t have an example new or old VFS teams can turn to and get a perfect example of all our practice areas best practices.

## VSP Objective (Q1 & Q2 2020)

O5: All custome

[2019-11-22 15:04] jonwehausen commented on #3048
Yes correct - we would like to keep the DL code for the provider filters in staging until we have a live provider filter we can test with in staging.

[2019-11-22 15:07] #2746 closed

[2019-11-22 15:22] erikphansen commented on #2708
I mentioned above:

_That is definitely the case_.

Not only to hopefully resolve the bug that I opened this issue for. But also because the behavior of editing addresses will change with this PR https://github.com/department-of-veterans-affairs/vets-website/pull/11091. When that PR is merged, address changes will no longer be submitted directly to  VA Profile (formerly Vet360) save/update endpoin

[2019-11-22 15:26] erikphansen commented on #3640
@Justin-Pickett can you validate this one? I just merge it so it should be on staging now. You can sign in with user 1 and go to https://staging.va.gov/profile/#direct-deposit to see the change.

[2019-11-22 15:28] erikphansen commented on #3573
@nedierecel @clantosswett Can either of you verify that you are seeing the new error keys in GA and close this issue if you do? There should definitely be some `flagged-for-fraud-error` errors in there since this went live yesterday at 3ET. Thank you.

[2019-11-22 15:33] omgitsbillryan commented on #242
IIRC we changed the FE bounce interval from 2 to 5s. If we set the BE timeout from 15 down to 1s, I think we should change that FE interval back down to 2s.

It will feel snappier for end users, and if one of their autocomplete requests happens to drop out, then so what, another request will be sent 2s later.

Also probably need to update alerting. Given the 1s timeout, we'd probably want to allow

[2019-11-22 15:38] Mottie commented on #3544
That component is shared across all forms. I think we're not seeing the "prefill" message because we're not hooked into an API yet. Once we are, then we can revisit this issue.

[2019-11-22 15:53] Mottie commented on #3120
@rileyorr https://vsateams.invisionapp.com/share/W5U21BDFTQK#/screens/392996930

[2019-11-22 15:55] jason-gcio commented on #2489
Excellent!

[2019-11-22 15:55] #2489 closed

[2019-11-22 15:56] desireeturner commented on #1251
@1Copenut Any updates on this issue and path forward?

[2019-11-22 15:57] ndsprinkle commented on #3457
Design ticket: #3455

[2019-11-22 15:58] ncksllvn commented on #3145
@amyknox Can you confirm that you want the redirects in place this afternoon? I'm ready to merge the work to do so.

[2019-11-22 16:03] 1Copenut commented on #1251
@desireeturner We're in use testing of a new design way this week and next. After that we'll collect the data and make recommendations for keeping existing or making a new component.

[2019-11-22 16:13] jbalboni opened #3667 "VAOS facilities endpoint should accept multiple facility ids"
The VAOS `parent-sites` endpoint allows you to send multiple `facility-code` query params and get information for multiple facilities back in one call. The vets-api endpoint (`vaos/facilities`) does not support this currently.

[2019-11-22 16:19] #1102 closed

[2019-11-22 16:20] RLHecht commented on #3022
@AnneHurley This page is now built in Drupal as well: preview-prod.vfs.va.gov/preview?nodeId=2354

[2019-11-22 16:22] ndsprinkle commented on #3457
Invision: https://vsateams.invisionapp.com/share/S2U2NQZZ76A

[2019-11-22 16:22] jenniferlee-dsva opened #3668 "Send GovDelivery email to content style guide subscribers about recent updates"
User story: As a subscriber to the VA.gov content style guide newsletter (via GovDelivery), I want to be notified when significant changes or updates are made to the content style guide.

[ ] Add updated info to the What's new section of the design system: https://design.va.gov/documentation/whats-new.html  [See example screenshot.]

[ ] Write and send GovDelivery email. ( @RLHecht - set up a time

[2019-11-22 16:28] peggygannon commented on #3609
@YanaRoy Hi, Yana for this gating message, do we want to let the user know that it's their *VA ID* that they're missing, or do you want to keep this message more general?

[2019-11-22 16:33] Justin-Pickett commented on #3640
## Screenshot of change on staging

![Screen Shot 2019-11-22 at 10.32.13 AM.png](https://images.zenhubusercontent.com/5d49a29bd20fa472c4995d30/474ec21a-ca19-4b3d-b981-5d074152916a)

@erikphansen I have validated this in staging. Closing this ticket

[2019-11-22 16:33] #3640 closed

[2019-11-22 16:35] Justin-Pickett commented on #3607
This has been completed in [ PR #11091 ](https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/vets-website/11091)

[2019-11-22 16:49] jenstrickland commented on #3577
Trevor and I are capturing web performance in our audits, since perf has an impact on the ability of assistive technology to connect to web pages and apps.

![3577-perf-profile.png](https://images.zenhubusercontent.com/5d6685f1a77bcf04870bc81c/67fe7c98-dea3-434f-b149-f27a2f10a43d)

![3577-lighthouse-perf.png](https://images.zenhubusercontent.com/5d6685f1a77bcf04870bc81c/ba98390d-eb75-4e0d-8225-896

[2019-11-22 16:51] jenstrickland commented on #3577
Trevor and I are capturing web performance in our audits, since perf has an impact on the ability of assistive technology to connect to web pages and apps.

![3577-perf-profile.png](https://images.zenhubusercontent.com/5d6685f1a77bcf04870bc81c/fa2ff8b0-aa5d-4eb5-8e15-a4c651f89640)

![3577-lighthouse-perf.png](https://images.zenhubusercontent.com/5d6685f1a77bcf04870bc81c/178b27f2-0c10-4feb-8c9d-567

[2019-11-22 16:58] peggygannon commented on #3609
@YanaRoy Here's my content recommendation for the 526 gating message. I kept it more general. Please let me know if you want me to add in detail that they are missing their VA ID.

also, can we make the link a jump link so it takes user to the right spot on the How to file page?

**You can’t file a claim online right now**
It looks like we’re missing some information needed for you to file your cl

[2019-11-22 16:59] YanaRoy commented on #3609
it's not the VA ID they are missing when they get this message - it's a BIRLS ID. @peggygannon

[2019-11-22 17:10] YanaRoy commented on #3161
@SMLuthi Andrea is emailing back and forth with VBMS re testing needed to be done on 11/25. I'll forward to you once they have decided on which IDs to use.

[2019-11-22 17:10] bradl3yC opened #3669 "Validation Modal shows undefined"
![Screen Shot 2019-11-22 at 11.55.54 AM.png](https://images.zenhubusercontent.com/5450f83c7c6ccc6277a5c4b7/63bbd7d0-112d-4be3-a3b6-4744f76b8965)

[2019-11-22 17:27] annaswims commented on #3603
There's room for improvement, but this is a start https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/backend/README.md

[2019-11-22 17:28] amyknox commented on #3145
@ncksllvn - YES, redirects please!

I am _just_ seeing the note you made about the Not a Veteran / School Administrators link.  Good point about it not being a redirect... We do need it updated though.  Is that something your team handles?

[2019-11-22 17:28] joanneesteban commented on #2925
### Team Meeting 11/12/19

**Approach**

The Insights team individually contributed to potential new names.
![image](https://user-images.githubusercontent.com/48964695/69445053-8da88400-0d1f-11ea-8ba5-6ab0c62229ef.png)

We met at the end of the sprint to vote and discuss.

![image](https://user-images.githubusercontent.com/48964695/69445030-82edef00-0d1f-11ea-92a1-73c17ef21fa5.png)

There was diff

[2019-11-22 17:56] joanneesteban opened #3670 "Product Success Tool - Iterate to include Predictive Analytics"
## High Level User Story/ies
As a VFS product owner/manager, I need to easily use data to predict Veteran usability of my product so I can prioritize product decisions better.

## Hypothesis or Bet
**If** _we add predictive analytics to the Metrics Dashboard_ **then** _we expect teams to make easier data-informed decisions that make Veteran experience on VA.gov better_.

## Assumptions
- We will h

[2019-11-22 17:57] ncksllvn commented on #3145
@amyknox Merged! They'll go live with the rest of our FE code, at 3 PM ET.

Not sure about that link... @jenniferlee-dsva what do you think?

[2019-11-22 18:13] #3532 closed

[2019-11-22 18:17] SgardnerPMP opened #3671 "[ENGINEERING] Review Drupal Assets and files, and test accounts and creation of pre-production pages [Engineer]"
## User Story
As a Drupal Engineer, I need to test and review the create of a new Pre-Production Drupal Web Site/Page , so I can repeat the website template creation process for each of the VISN 4 websites.

## Goal
_Review Repo, global files, images, media, and API assets, needed in create of Medical Center Drupal Site_

## Objectives or Key Results (OKR) this is meant to further
- _Determine Sca

[2019-11-22 18:18] mmiddaugh commented on #3553
@davidconlon @arickalewis1 not sure where to put this but also don't want to lose track of it.

Dave M mentioned that "drive time" (rather than mileage) is available for VHA but not for VBA or NCA (and guessing not for Community Care).

We heard user feedback about how important this is but I don't know how to handle it if the data is different for non-VHA....

[2019-11-22 18:21] delli-gatti-michael commented on #3055
Just confirmed that this is all live in Staging

[2019-11-22 18:22] kevinstachura commented on #3609
Thanks @peggygannon ! The content changes have been reflected in the Invision link: https://vsateams.invisionapp.com/share/JNUPVDECGFK#/393288220_526_Gating_-_Edge_Case_Alert

Please let me know if there is anything further you'd like to change.

@YanaRoy - I will comment and reference this updated design within the associated frontend ticket for awareness.

[2019-11-22 18:25] kevinstachura commented on #3284
@ndsprinkle the design for this is located here: https://vsateams.invisionapp.com/share/JNUPVDECGFK#/393288220_526_Gating_-_Edge_Case_Alert

[2019-11-22 18:32] #3336 closed

[2019-11-22 18:43] steve-gov opened #3672 "Migrate "View and Update My Representative" from eBenefits to va.gov"
# _[FEATURE TITLE]_

Documentation: https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/teams/vsa/teams/ebenefits/features/view-update-POA

eBenefits URL: https://www.ebenefits.va.gov/ebenefits/representative

## Story

As a Veteran I want to view and update my representative so that I can get professional help in obtaining the benefits that I've earned.

## Considerations

-

[2019-11-22 18:57] jenstrickland opened #3673 "[SCREENREADER]: VoiceOver in Safari, page load time interferes with access to Skip to Content link"
## Description

**[SCREENREADER]: VoiceOver in Safari, page load time interferes with access to Skip to Content link**

In other screen readers, when the page loads, tab reveals Skip to Content link. On VA.gov home, the Skip to Content link is immediately available. However, on this page, the Skip to Content link isn't available on tab, unless user waits 20 seconds.

## Point of Contact

Jennifer

[2019-11-22 19:01] wyattwalter opened #3674 "consolidate route table configuration"
## User Story or Problem Statement
While doing the cutover for the Transit Gateway work, I noticed that we had separate route tables in AWS for some reason for each AZ, but they all seem to be identical. How might we consolidate these into a single entity so we don't have to update multiple (and potentially cause conflicts between them) per VPC?

## Goal
De-duplicated route table configuration.

#

[2019-11-22 19:01] thatmattjohnson commented on #2895
link to migration plan: https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/global/sip-prefill

[2019-11-22 19:04] desireeturner commented on #558
This issue hasn't risen again. Closing this out.

[2019-11-22 19:04] #558 closed

[2019-11-22 19:06] wyattwalter commented on #2971
Ticket for route table cleanup: https://github.com/department-of-veterans-affairs/va.gov-team/issues/3674

[2019-11-22 19:12] jason-gcio commented on #3099
@tlei123, we don't have the unauthenticated page in place yet as Public Websites is creating that.  Presumably, once Authenticated Experience determines the best home for where this page gets linked from we will know more about how this page gets accessed.  As you can see in the mockup, the initial landing page, if already logged in, would take the user directly to the tool page.  If not, they sho

[2019-11-22 19:29] nedierecel commented on #3665
Thanks @goldenmeanie - Confirming we have received this and thanks for sharing that picture!  To make sure we're aligned with your pension and burial discovery, are the forms that would be in question the following: 527EZ for Pension, 40-10007 for Pre-Need, and Form 530 for Burial submissions?

Many of the metrics our team compiles will compare the modernized versions of the forms that were on vet

[2019-11-22 19:31] ricetj opened #3675 "Customer Support"

[2019-11-22 19:33] goldenmeanie commented on #3665
@nedierecel not listing the forms was an oversight on my part!
527EZ and 530 are the two relevant to us.
If the 40-10007 is commingled in that burial stat in the slide, that would be good to know.

[2019-11-22 19:52] wyattwalter commented on #3674
@ricetj do you have a good epic to put this under? It's a small-ish cleanup item.

[2019-11-22 20:07] Justin-Pickett commented on #3280
This wrapped up. Closing ticket.

[2019-11-22 20:07] #3280 closed

[2019-11-22 20:15] kevinstachura commented on #3457
https://vsateams.invisionapp.com/share/S2U2NQZZ76A#/screens/394760072 <--- more direct  🙂

[2019-11-22 20:23] #3119 closed

[2019-11-22 20:24] meganhkelley opened #3676 "KPI Tracking - Implement measurement of Information Architecture health of VA.gov"
## User Story and/or Problem Statement

### User Story

As a Veteran using VA.gov, I want to be able to find the tool or service I’m looking for, so that I can efficiently access information about my benefits.

### Problem Statement

How might we as VSP regularly track the information architecture “health” of VA.gov, so that we can set baseline standards and identify problem areas for remediation?

[2019-11-22 20:48] Mottie opened #3677 "Prevent invalid selector error in review form"
## What happened?

On the Higher-Level Review review page, when the contested issue followup is edited, a JS error reporting an invalid selector is seen

![issue-update](https://user-images.githubusercontent.com/136959/69449181-e37d2c00-0d1f-11ea-9bbb-b187b266d5d8.gif)

The HLR form config schema includes a `'view:contestedIssueFollowup'` page.

The [`ReviewCollapsibleChapter.jsx`](https://github.

[2019-11-22 21:07] nedierecel opened #3678 "Analytics Implementation or QA Support for YouTube Video Tracking"
# Analytics Implementation or QA Request
As a content producer, I want to understand the engagement of YouTube hosted videos that appear on the va.gov domain.

## Description
- Is this request for Google Analytics implementation or QA?
Implementation

- Who is this request for?
David Watson at MHV

    _Provide any relevant contact information and link this issue to the insights team on the DSVA S

[2019-11-22 21:11] peggygannon opened #3679 "Content edits: VAOS Community Care request flow screens"
## User Story or Problem Statement
As a member of a team building with or on VSP, content needs to be reviewed to ensure it's accurate, aligns with VA style, and is error-free.

## Acceptance Criteria
 VAOS team to implement content edits (below) in time for UAT testing of Community Care request flow screens.

https://staging.va.gov/health-care/schedule-view-va-appointments/appointments

**Content

[2019-11-22 21:16] nedierecel commented on #3678
@jonwehausen This is the request that David Watson from MHV asked for. The time sensitivity is before his 12/4 campaign launch, so publishing on 12/3 is ideal. Let me know if you need a GTM recipe.

[2019-11-22 21:17] amycesal opened #3680 "Design bugs on Product Success Tool"
## User Story or Problem Statement
Problem description. How might we make sure the tool aligns with the VA Design System and the information is clearly communicated?

## Acceptance Criteria
- [ ] **Change the wording "previous month" to the actual month.** Ex. November 2019
<img width="261" alt="Screen Shot 2019-11-22 at 2 53 38 PM" src="https://user-images.githubusercontent.com/1656046/69460896-d

[2019-11-22 21:21] peggygannon commented on #3609
thanks, @kevinstachura the update looks good. I do have one more edit. In the header, can we change
"a claim" to "your claim"?
so the header would read: **You can't file your claim online right now**

sorry, I missed this in my first edit.

[2019-11-22 21:24] Samara-Strauss commented on #2844
OK, after having talked through the craziness that is log on and a bunch of super complex paths we could take, we decided on this: require that DS logon users sign in with ID.me or MHV to access the direct deposit feature.

We chose this approach for three reasons:

1. The other solutions we talked about that had to do with detecting ID.me verification for DS Logon users were super complicated and

[2019-11-22 21:29] nedierecel commented on #3573
@erikphansen Of the 3 new error keys, I see the `flagged-for-fraud-error`. I can continue to monitor through Monday and see if the additional errors appear.

[2019-11-22 21:30] Samara-Strauss commented on #1798
@lkoenigsberg — After talking with Erik and Anna, we decided that the best way to handle this would be to require DS logon user to sign in with MHV or ID.me to access direct deposit. We talked through other flows that were super complex from a technical perspective, and I think this solution makes the most sense from both a UX and technical perspective. Let me know if you have any questions. We ca

[2019-11-22 21:33] nedierecel commented on #3238
Thanks @ncksllvn - Ah, good point on the #1846 issue not being specific to standardization!

[2019-11-22 21:36] cvalarida commented on #2835
# Table of Contents

1.  [How to migrate a CMS content model](#org8249465)
    1.  [Steps](#org4c0cd01)
    2.  [Testing](#orgb211a23)

<a id="org8249465"></a>

# How to migrate a CMS content model

The current build uses GraphQL to fetch and transform CMS
content. This documentation outlines the steps required to duplicate
the transformation done in the CMS using the new tome-sync export
data.

F

[2019-11-22 21:40] #3653 closed

[2019-11-22 21:40] #2932 closed

[2019-11-22 21:44] kevinstachura commented on #3609
No problem! Change is now reflected in the Invision proto: https://vsateams.invisionapp.com/share/JNUPVDECGFK#/393288220_526_Gating_-_Edge_Case_Alert

[2019-11-22 21:45] Justin-Pickett commented on #1798
@Samara-Strauss okay thank you will do.

[2019-11-22 21:52] nedierecel commented on #3527
@micahchiang Happy early Thanksgiving week. Please ping us when the new link structure is up, and we can QA.

[2019-11-22 22:01] kevinstachura commented on #3456
Hi @peggygannon  - Can you please take a look at the checkbox label and accompanying text (beneath it) for content quality? Thank you!

Link: https://vsateams.invisionapp.com/share/S2U2NQZZ76A#/394760072_Upload_Additional_Evidence_-_Checkbox_-_Revised

[2019-11-22 22:05] micahchiang commented on #3527
@nedierecel - Hey! The new link structure is up, and you should be able to access the page via staging.va.gov/disability/view-disability-rating/rating. I don't believe my newest changes to the GA event structures have been deployed to staging yet (they were just merged into master this morning), so those might be up by next Monday.

[2019-11-22 22:07] #3544 closed

[2019-11-22 22:07] billfienberg commented on #2895
`vets.gov-team` PR: https://github.com/department-of-veterans-affairs/vets.gov-team/pull/20023
`va.gov-team` PR: https://github.com/department-of-veterans-affairs/va.gov-team/pull/3681

ZH: https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/2895

One file was being problematic when running the migration script: https://github.com/depart

[2019-11-22 22:38] mmiddaugh commented on #3419
Regarding 2. above: thanks for catching that. Completely my error.

[2019-11-22 22:54] nathanhruby commented on #3512
As noted in first pass PR, we need to check the call to deploy in the prod deploy Jenkinsfile to use ref to download form s3 (since that is how the patching work in the bucket)

[2019-11-22 23:17] jenstrickland opened #3682 "[SCREENREADER, COGNITIVE]: Content for each disability lacks context when read by screenreader"
## Description

**[SCREENREADER]: Content for each disability lacks context when read by screenreader**

When the screen reader reads the content for each of the disabilities there is nothing indicating what each of the items are. It would help the screen reader experience to have semantic context (such as a table or list items) with labels associated for each data point. The visual presentation o

[2019-11-22 23:33] jenstrickland opened #3683 "[SCREENREADER]: Decorative icons should be suppressed for screenreaders"
## Description

**[SCREENREADER]: Decorative icons should be suppressed for screenreaders**

For screenreaders, decorative icons are generally suppressed, so that the inserted text won't be read by screenreaders if the font fails to render.

## Point of Contact

Jennifer

## Acceptance Criteria

As a screenreader user, I want to understand the content of the page without  insertion of random chara

[2019-11-22 23:45] cohnjesse opened #3684 "Update TotalRatedDisabilities component to use number instead of string for disability rating and update API endpoint"
## User Story or Problem Statement
The API endpoint for the TotalRatedDisabilites component is being updated to return a number instead of a string. We need to update the front end component and its unit tests to use a number instead of a string.

As part of the PR process for the API endpoint a reviewer informed @kathleencrawford that she needed to transform the string that EVSS returns into a nu

[2019-11-23 00:58] erikphansen commented on #3664
These are the rules that make it behave properly on the Profile app:

[code]

https://github.com/department-of-veterans-affairs/vets-website/blob/30111e803248afa1773c40334b0a01fb4121a669/src/applications/personalization/profile360/sass/profile-360.scss#L7-L11

[2019-11-24 20:55] #3358 closed

[2019-11-24 20:55] #3368 closed

[2019-11-24 20:55] #3372 closed

[2019-11-24 20:55] #3386 closed

[2019-11-24 20:56] #3376 closed

[2019-11-24 20:58] wygonikGCIO commented on #3364
Is this task completed? I see on all the other validated tickets you had "done" commented. However I do not see it on this one.

[2019-11-24 20:59] wygonikGCIO commented on #3349
Let me see what Joe and Andre say about getting socks. I have already noted that you need access to Socks.

[2019-11-25 00:34] peggygannon commented on #3609
@kevinstachura OK, thank you. The update looks good.

[2019-11-25 03:29] saneshark opened #3685 "AppointmentRequest object should use an array for option date and times"
We currently have something like the following:

    attribute :option_date1, String
    attribute :option_time1, String
    attribute :option_date2, String
    attribute :option_time2, String
    attribute :option_date3, String
    attribute :option_time3, String

Need to investigate a better format for sending these. If VAMF requires it in this format that's ok, but ideally we wouldn't expose fu

[2019-11-25 03:32] saneshark opened #3686 "AppointmentRequest Patient ID always EDIPI?"
Need to discovery to see if the patient_id provided in POST and PUT is always going to be EDIPI. This seems suspicious and might just be how the examples I've seen had it. Right now it's hardcoded to EDIPI but might cause problems.

cc: @jbalboni @markgreenburg

[2019-11-25 03:39] saneshark opened #3687 "AppointmentRequest Validations"
We're currently not doing any validations server side before sending the request to VAMF. We should do this. Need to start doing some discovery to see what some validations are that we think we'd like to add, but the only way I can think of doing this is by trial and error since the API is not documented.

@jbalboni or @narin can you keep a running list of validation issues or Bad Requests that yo

[2019-11-25 03:42] saneshark opened #3688 "Introduce a middleware that logs all VAMF requests. Add JTI as a tag."
We need to make sure we are logging the JTI and every request we make into VAMF idempotent or non idempotent.

@kreek or @saneshark will tackle this once we've built out all integrations. This is a high priority before broader production release.

[2019-11-25 03:45] saneshark opened #3689 "Add ruby documentation for all classes"
Add Yardocs and Rubydocs and everything else VSP requires.

This is along the lines of the same exemption we basically have for Swagger and schemas. We need to revisit this shortly after launch.

@alastair or @saneshark will tackle this when we're done with other stuff.

[2019-11-25 14:20] annaswims commented on #141
I'm not convinced that this is worth doing.  I don't think we create enough servicenow tickets to justify the effort or that the tickets we do create are repetitive enough to be automatable.

[2019-11-25 14:31] annaswims commented on #192
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/backend/tutorials/endpoint-punch-list-presentation.md

[2019-11-25 14:31] #192 closed

[2019-11-25 14:33] clantosswett commented on #3524
11/22/2019 - Held the weekly sync with the WHVAH. I received a lot of push back from Rebecca about the feasibility of the plan to have the WHVAH ready to handle direct deposit calls by January 2nd. We provided them with materials and information at the beginning of the week but they never got back to us with feedback on the content. I expressed me concern to Charles who has escalated to VEO.

[2019-11-25 14:41] #1885 closed

[2019-11-25 14:45] annaswims commented on #1763
If you use the "Percentage of Logged in Users" conditional toggle it will always be the same x % of users.
<img width="358" alt="Screen Shot 2019-11-25 at 9 41 03 AM" src="https://user-images.githubusercontent.com/19188/69549712-ccc91600-0f67-11ea-886b-7cd9332408bb.png">

The algorithm works by converting the user's email address into a number between 0-100 and comparing it to the value of "Percen

[2019-11-25 14:49] #1765 closed

[2019-11-25 14:57] desireeturner opened #3690 "Team members need read/write access to vagov-content, vets-website repos"
The following team members need read and write access to the vagov-content, vets-website repos:
- tammy.hurley1@va.gov; GH: TamGIBill
- Joseph.Preisser@va.gov; GH: josephpreisser
- lucas.tickner@va.gov; GH: lucastickner
- lori.record@va.gov; GH: ??

Thank you!

[2019-11-25 15:02] bobrox1973 commented on #3690
@desireeturner, I need a team to assign them to, can you please provide that for me? Also, do you have Github usernames for the users?

[2019-11-25 15:05] ncksllvn commented on #2627
I'm not sure if it's the same "Card", but on our upcoming widget on our Find VA Forms work, we have some blue boxes that I thought I heard referred to as Cards.

![Find VA Forms screenshot](https://user-images.githubusercontent.com/1915775/69464289-e7bf3e80-0d4b-11ea-9165-9aa5535b1e42.png)

So potentially, this is another app that could leverage this Design System component.

[2019-11-25 15:05] ncksllvn commented on #2627
Oh nvm, looking at your screenshot under `Acceptance Criteria`, they look quite a bit different. Disregard 😄

[2019-11-25 15:07] ncksllvn commented on #1632
@rtwell should the blue boxes under the `Top tasks` section be considered for the Design System at all?

![image.png](https://images.zenhubusercontent.com/59cb9de1b0222d5de47953d8/a4a6fc49-056c-4f8a-8bf4-000cbf37a89f)

(Ignore the purple color - this is the "visited" state that I just haven't overridden yet.)

[2019-11-25 15:11] rtwell commented on #1632
they are in the queue! tyvm @ncksllvn

[2019-11-25 15:16] ncksllvn commented on #1632
Awesome! I built these so that they should be pretty easy to pull out of the rest of the code. Should the whole blue be a link, or just the heading? I was thinking the whole thing with a hover effect on the background. Doesn't need an answer right this second though!

[2019-11-25 15:22] rtwell commented on #1632
hmmmm good question! i was also entertaining the idea of the entire bkgd as a clickable area.

a quick nit-picky note: could we equalize the space above/below the rule? i know the underline throws off the visual, but it still looks uneven.

also, any chance we can make the headers a lil smaller, and Source Sans (like the mock)? i think we have a `h style` that should work

[2019-11-25 15:30] ncksllvn commented on #1632
Do you mean to add some more margin above the underline? I can do that.

Sorry, the mockup images I found were a little grainy, so I couldn't tell. I'll update that.

Is this better?

![image](https://user-images.githubusercontent.com/1915775/69553655-862aea00-0f6e-11ea-8648-9425023264cf.png)

[2019-11-25 15:39] sporeboy commented on #3415
Link to Disability Ratings Calculator page added to new Rated Disabilities screen: https://xd.adobe.com/view/0db723ac-52ff-48b3-4877-9d5882cb2e1f-7b86/screen/1d4fafce-8d16-4a89-a14b-97d795772b74/RD-Screen-Tool-2ALT

**Removed:** "What if I don't see the disability rating I was expecting" section. Some of this copy was moved to intro text.

**Added:** "Learn about VA disability Ratings" section wit

[2019-11-25 15:40] #3415 closed

[2019-11-25 15:41] #3567 closed

[2019-11-25 16:15] bobrox1973 commented on #3690
All 4 users have been invited to the BAH-526-developers team which has write access to the repos requested. I invited 3 users with their GH username and the last user by email address (no GH username was provided.)

[2019-11-25 16:15] #3690 closed

[2019-11-25 16:22] kevinstachura commented on #3141
Notes for meeting are located here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/decision-reviews/research/notes/legacy-vs-ama-content.md

[2019-11-25 16:23] #3141 closed

[2019-11-25 16:24] sjbrush opened #3691 "Access for [individual] Steven Brush"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)  --  i believe it's just VAOS
3. Add a comment @department-of-veterans-affairs/vsp-operations to ping the operations team
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please

[2019-11-25 16:24] sjbrush commented on #3691
@department-of-veterans-affairs/vsp-operations  please process.  Thanks.

[2019-11-25 16:25] Karak888 opened #3692 "Add and Update Web Content for the new 'View your disability rating' feature"
### **High Level User Story**
As a Veteran with a rated disability (or multiple rated disabilities), I need an easy way to see my combined VA rating and know that I can do this online, instead of calling VA or looking for my VA letters.

**Feature**
This feature displays the Veteran's total VA combined rating + list of all of their disabilities that are rated.

### **Content Tasks:**
- [ ] Revise

[2019-11-25 16:40] #3146 closed

[2019-11-25 16:41] tlei123 commented on #3099
@jason-gcio, re. @jcosta-gcio’s load-testing question, I'm just trying to see if I can actually take on the security & load testing you mentioned in the Description...

I am not aware of any UI available to QA for validating security or load performance, but Joe wants to make sure.  These 2 types of testing are usually conducted without QA involvement.

That said, even if no UI exists for me to ac

[2019-11-25 16:41] #3609 closed

[2019-11-25 16:44] annaswims opened #3693 "ensure that we don't reference personal gists in vets-api"
Move the script referenced by to a place owned by department-of-veterans-affairs (likely vets-api)
https://github.com/department-of-veterans-affairs/vets-api/blame/1764473084fd135d723f62546c12594eb16b672d/bin/setup-osx#L127

[2019-11-25 16:48] steve-gov opened #3694 "Conduct user research for View and Modify Representative"
Placeholder issue for conducting user research sessions, which will inform and guide the View/ Modify Representative work.

Understand:
- How Veterans understand the representative/ POA relationship
- When in their claims/ appeals process they look for POA
- What they look for in a POA
- How they use the OGC accreditation database (GCLAWS)
- (more)

[2019-11-25 16:48] YanaRoy opened #3695 "[Development] Move HLR schema to JSON schema repo"
## User Story or Problem Statement
As a Front-end developer on the Benefits and Memorials team, I need move the HLR schema to JSON schema repo so the Back-end developer can be able to provide data to the front-end.

## Goal
_HLR schema needs to be on the JSON schema repo_

Before moving:
- [ ] Add necessary changes for the redesigned opt out of legacy issues step
- [ ] Validate schema to make sure

[2019-11-25 16:50] Karak888 commented on #3247
@lwalsh617  just tagging you for this ticket per our standup this morning.

[2019-11-25 16:51] annaswims commented on #3693
It appears that the gist no longer works, perhaps due to an OS upgrade.
and maybe we just need to get rid of pdftk https://github.com/department-of-veterans-affairs/va.gov-team/issues/3032

[2019-11-25 16:53] cvalarida commented on #1676
Seems like the first win might be stopping webfonts from blocking rendering text on the page.

Also, have we explored using a CDN for webfonts?

[2019-11-25 16:56] steve-gov opened #3696 "Create initial design mockup for "View Representative""
[WIP]

Create a wireframe or low-fi mockup for View Representative based on existing research, so that FE engineering can make a first product pass.

[2019-11-25 16:57] annaswims commented on #242
I think we need to dig a bit deeper before we would increase the number of requests to GIDS.  The root cause of this all was database response time.  I think we increased the instance size, but I'd like to make sure we have proper indexing first.

[2019-11-25 16:58] steve-gov opened #3697 "Create Initial Mockup for "Modify Representative" (Submit 22/22a)"
## Goal
Based on research findings and existing product documentation, we want to create an initial mockup of the feature to start iterating.

## Considerations
Because this a form, it should have its own pathway, ergo, its own tracking

## Tasks
- [x] Create a mockup for Modify Representative based on existing research, so that FE engineering can make a first product pass.

## Acceptance Criteria

[2019-11-25 17:07] #2863 closed

[2019-11-25 17:27] annaswims opened #3699 "Audit/move Be documetation"
https://docs.google.com/spreadsheets/d/1JUdlm9U3MWMOrXOvwRnK85MRUOjbIwRUC5f7EYWtwF0/edit?ts=5dced5b2#gid=0

[2019-11-25 17:30] micahchiang commented on #3099
Hey @tlei123 - We have #2951 which I am currently starting work on. I was just planning on following the steps you've laid out in [this document](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/quality-assurance/auth-session-loadtest.md), and the document it links through to.

Is this ticket something different when it comes to load performance? I'm a little conf

[2019-11-25 17:32] YanaRoy opened #3700 "Residual discovery following Veteran session on 11/20"
## Problem Statement
During a screen sharing session with a Veteran on 11/20, the team was unable to identify what was preventing the user from submitting a claim.

## Goal
_Identify what caused the FE issue for the user_

## Acceptance Criteria
- [x] Issue identified
- [x] Front-end issue created with work needed to resolve the problem _(if needed)_

[2019-11-25 17:37] joanneesteban commented on #3412
@clantosswett Can you add help text for the Call Center items on the Tool? (Adding to contact Insights or you / @Kimberley2019 for more info)
- HRC Call Center Calls
- White House Call Center Calls
- Tier 1 Call Center Calls
- Tier 2 Call Center Calls (we should actually change this to "Tier 3 Call Center Calls" @deweydell @amycesal  )

[2019-11-25 17:40] joanneesteban commented on #3412
@amycesal @deweydell Re: Paper form submissions - that's right. We're hoping to get more info, like time to complete/time to benefits, but total submissions is probably most likely.

[2019-11-25 17:42] #3669 closed

[2019-11-25 17:44] ncksllvn commented on #2268
Update on this - this unexpectedly appears to be an API issue. When the page loads, the front-end sends a request the API at `https://api.va.gov/v0/search?query=test&page=100`. It then responds with this data -

![image.png](https://images.zenhubusercontent.com/59cb9de1b0222d5de47953d8/dde1091d-f1f4-4e76-8c2b-7e6344173b0e)

This is what we see rendered on the front-end, so seems like the paginatio

[2019-11-25 17:52] tlei123 commented on #3099
@jason-gcio, per @micahchiang’s comment above re. that separate load-testing ticket #2951, do you think we can remove load-testing from this ticket here?

Not sure if the two tickets are talking about the same load-testing requirement, so I thought I would double-check with you.

Please let us know.  Thanks much!

[2019-11-25 17:56] ncksllvn opened #3701 "[Front-End] Implement the SearchResults panel of widget"
We now have a start on our Find VA Forms widget, but we still need to implement the search behavior.

1. On `componentDidMount`, if the URL has a `q` query param with a non-nullish value, we should:
    1. The front-end issues an API request - `api.va.gov/v0/va_forms.` Until we have an actual API endpoint though, just query the `example.json` file and return the results async using `setTimeout`.
1

[2019-11-25 17:57] kelsonic commented on #2268
I think if `totalPages` remains the same, that's fine for our current UI/UX. But perhaps we can update `totalEntries` on the API to reflect the actual total amount of entries!

[2019-11-25 17:59] mmiddaugh opened #3702 "Migrate from Vets API to Facilities API"
## User Story:
As the Facility Locator team, we want to migrate from the Vets API to the Facilities API so that we can ensure timely and accurate data is available to our users.

## Acceptance Criteria:
_The requirements that must be met in order to mark this user story as completed_
- [ ] Zero loss of data when compared to Vets-API
- [ ] Zero latency issues when compared to Vets-API

## Tasks
_Th

[2019-11-25 18:00] ncksllvn commented on #3605
This work is being done in the connected PR, but I chunked out part of this and created a follow-up ticket for the search behavior - https://github.com/department-of-veterans-affairs/va.gov-team/issues/3701.

[2019-11-25 18:07] ncksllvn commented on #2268
Funny, there's a [comment in Vets-API](https://github.com/department-of-veterans-affairs/vets-api/blob/b1f7613b5aa568cdb81c5f76223cf18479d13883/lib/search/pagination.rb#L17) that describes this issue -

[code]

Since we're on page 100, and there are 10 results per page, I think we're running into the mysteriousness of that limit on the offset max. I also notice weirdness on page 99.

https://www.v

[2019-11-25 18:09] ncksllvn commented on #2268
So I guess the proper behavior of this app would be to show an error if we manually navigate past page 99, or to validate the page number by defaulting to 99 if greater.

[2019-11-25 18:33] jenniferlee-dsva commented on #2020
I'm looking at your copydeck ^ @lwalsh617

[2019-11-25 18:36] jonwehausen commented on #3055
Confirming dataLayer code looks good here for the accordion embedded links and the "Key Resources" list. 👍

[2019-11-25 18:40] mmiddaugh commented on #3385
**Acceptance criteria:**
- When University Drive (vha_646) is selected from the search results, the user should be directed to https://www.va.gov/pittsburgh-health-care/locations/pittsburgh-va-medical-center-university-drive/

- When H. John Heinz III (vha_646A4) is selected from the search results, the user should be directed to: -> https://www.va.gov/pittsburgh-health-care/locations/h-john-heinz

[2019-11-25 18:57] peggygannon commented on #3414
thanks, @narin I'll take another look at this. I'm out of the office starting tomorrow. Is it ok for me to give you feedback after the Thanksgiving holiday?

[2019-11-25 19:00] peggygannon commented on #2903
**11/25/19 update** After syncing with Samara, content updates on on hold pending feedback from eBenefits. I will pick this back up once we have more direction about switching paper checks to direct deposit.

[2019-11-25 19:00] #3628 closed

[2019-11-25 19:05] #3272 closed

[2019-11-25 19:07] #3090 closed

[2019-11-25 19:07] andaleliz opened #3703 "Create an MVP FE UX solution for Yellow Ribbon participating schools table data"
## Problem Statement

How might we make the Yellow Ribbon (YR) participating schools table information more useful for Veterans and more easily kept accurate by stakeholders?

## Goal
- Bring YR participating school information into the benefit hub as a more dynamic, user-friendly content than the current experience of 50+ manual table pages.
- Improve UX for YR tables so that users can easily fin

[2019-11-25 19:10] annaswims opened #3704 "Support lighthouse team with Sandbox MVI connection"
An overview of the lighthouse plan is  here https://docs.google.com/document/d/1-XISZ7Q_h7PfOu9EalFYAvCTEg61IMQSBeeZCj0oEWk/edit#
and in the temp-mvi-sandbox-connect slack channel

[2019-11-25 19:13] bradl3yC commented on #3663
Save/Update API is not using addresses from the validation endpoint in the condition there is only 1 CONFIRMED address

[2019-11-25 19:15] thatmattjohnson commented on #2895
UAT completed for #3618 and #20023; all looks good. Closing this issue.

[2019-11-25 19:15] #2895 closed

[2019-11-25 19:35] Mottie commented on #3615
NOD Similarities to HLR:

- [x] Veteran details
  - Veteran's Name (first, middle & last)
  - Veteran's SSN and VA file number
  - Veteran's date of birth
- [x] Veteran contact information (or person filling out form)
  - Mailing address (street, City, State, ZIP & Country)
  - Email address
  - Phone number
- [x] Issues
  - Choose specific issues
  - Issue date of decision (not on HLR, but we sho

[2019-11-25 19:50] annaswims opened #3706 "Upgrading postgresql"
Postgres 12 was release in October. [We use](https://github.com/department-of-veterans-affairs/devops/blob/master/ansible/roles/postgresql/tasks/main.yml#L36) postgresql ~~9.6~~ 9.4 .

According to https://www.postgresql.org/support/versioning/  the final release of  Postgres 9.6 will be November 11, 2021 .   But most urgently, the final release of pg 9.4 is February 13, 2020

Consider features of

[2019-11-25 19:53] nedierecel commented on #849
@joanneesteban We can wrap further documentation updates into an Epic, however, please see the latest documentation for the Google Analytics platform folder. The readme in the `/platform/analytics/google-analytics` folder includes several .md files organized by how the VFS team should work through the documentation, from onboarding to build to analysis.

https://github.com/department-of-veterans-a

[2019-11-25 19:53] #849 closed

[2019-11-25 20:07] thatmattjohnson commented on #2661
It appears that the differential file counts between the migration plan and the migration PR is indeed largely attributable to duplicate files in the migration plan.  Those plus the 6 problematic LFS files total 44; that's not quite the same as the observed difference in count (n = 56) but it's close enough that I don't think it warrants further investigation. I'm going to go ahead and approve bot

[2019-11-25 20:18] rileyorr commented on #3120
@carolynwill & @peggygannon I have updated everything except for two comments. I tagged you both in comment #5 because I am confused where it's supposed to be pointing to. Additionally, I didn't resolved #2 because I am unsure if the left nav is correct.

[2019-11-25 20:28] davidconlon opened #3707 "Migrate VHA Facility data endpoint to Facilities API"
## User Story or Problem Statement
### Problem Statement
How might we migrate the VHA Facility Data Endpoint to the official Lighthouse Facilities API from unofficial beta we currently use on Vets-API?

This may include Vet Center data [#3716]

https://developer.va.gov/explore/facilities/docs/facilities?version=current

## Goal
_What outcome(s) do we want to see?_
- [ ] Utilize the official Lighth

[2019-11-25 20:35] YanaRoy opened #3708 "Update DevOps repo with Decision Review API Settings"
## User Story or Problem Statement
As a Back-end engineer on the Benefits and Memorials team, I need update the devops repo api settings with Decision Review settings, including a working api-key so I can move forward in establishing a connection for Higher Level Review.

## Goal
_Decision Review API settings updated on DevOps repo_

## Acceptance Criteria
- [ ] DevOps repo API settings have been

[2019-11-25 20:42] thatmattjohnson commented on #2661
UAT completed for #3655 and #20015; all looks good. Closing this issue.

[2019-11-25 20:42] #2661 closed

[2019-11-25 20:48] thatmattjohnson opened #3709 "[repo-migration]: Product Support - Accessibility"
- [x] Review vets.gov-team documentation with SME
- [x] Generate migration plan based on SME feedback; link to issue
- [x] Run migration script on linked migration plan file (dev)
- [x] PR for va.gov-team (dev)
- [x] PR for vets.gov-team (dev)
- [x] Review/approve PRs
- [x] Merge va.gov-team PR (dev)
- [x] Merge vets.gov-team PR (dev)
- [x] Complete Part 1 of [migration UAT checklist](https://gith

[2019-11-25 20:50] thatmattjohnson opened #3710 "[repo-migration]: Product Support - QA"
- [x] Review vets.gov-team documentation with SME
- [x] Generate migration plan based on SME feedback; link to issue
- [x] Run migration script on linked migration plan file (dev)
- [x] PR for va.gov-team (dev)
- [x] PR for vets.gov-team (dev)
- [x] Review/approve PRs
- [x] Merge va.gov-team PR (dev)
- [x] Merge vets.gov-team PR (dev)
- [x] Complete Part 1 of [migration UAT checklist](https://gith

[2019-11-25 20:52] alexpappasoddball commented on #3556
@Karak888 Do you have eyes on this one?

[2019-11-25 20:52] thatmattjohnson opened #3711 "[repo-migration]: Product Support - Engineering - DS"
- [x] Review vets.gov-team documentation with SME
- [x] Generate migration plan based on SME feedback; link to issue
- [x] Run migration script on linked migration plan file (dev)
- [x] PR for va.gov-team (dev)
- [x] PR for vets.gov-team (dev)
- [x] Review/approve PRs
- [x] Merge va.gov-team PR (dev)
- [x] Merge vets.gov-team PR (dev)
- [ ] Complete Part 1 of [migration UAT checklist](https://gith

[2019-11-25 20:53] thatmattjohnson opened #3712 "[repo-migration]: Product Support - Engineering - JPA"
- [x] Review vets.gov-team documentation with SME
- [x] Generate migration plan based on SME feedback; link to issue
- [x] Run migration script on linked migration plan file (dev)
- [x] PR for va.gov-team (dev)
- [x] PR for vets.gov-team (dev)
- [x] Review/approve PRs
- [ ] Merge va.gov-team PR (dev)
- [ ] Merge vets.gov-team PR (dev)
- [ ] Complete Part 1 of [migration UAT checklist](https://gith

[2019-11-25 20:54] thatmattjohnson opened #3713 "[repo-migration]: Product Support - Administrative"
- [x] Review vets.gov-team documentation with SME
- [x] Generate migration plan based on SME feedback; link to issue
- [x] Run migration script on linked migration plan file (dev)
- [x] PR for va.gov-team (dev)
- [x] PR for vets.gov-team (dev)
- [x] Review/approve PRs
- [x] Merge va.gov-team PR (dev)
- [x] Merge vets.gov-team PR (dev)
- [x] Complete Part 1 of [migration UAT checklist](https://gith

[2019-11-25 20:59] annaswims commented on #3706
@tskinn says "It seems like we would need to upgrade to postgresql 11 to get the ability to export the logs to cloudwatch"

[2019-11-25 21:16] sporeboy commented on #2930
Posting WIP link to form flows: https://xd.adobe.com/view/380c70df-eb96-4008-79af-c210c9c795c1-4e3d/

[2019-11-25 21:17] annaswims commented on #2369
I've approved https://github.com/department-of-veterans-affairs/breakers/pull/12 and
https://github.com/department-of-veterans-affairs/betamocks/pull/17

Let me know if you need more access to merge.

[2019-11-25 21:25] emilywaggoner commented on #3566
Hey @rileyorr here is a list of the feedback items we discussed on Friday:

- Having multiple address fields is a little confusing to confirm. **Recommendation**: What do you think about adding a header or separating this into its own section, or modifying the form labels?
- Start date and end date labels seems a little confusing in this context. Screenshot:
<img width="642" alt="Screen Shot 2019-

[2019-11-25 21:34] Samara-Strauss commented on #2903
Adding the blocked label. This will be unblocked as soon as we determine whether we're keeping the new "Add" functionality. We'll be making this determination the week of 12/2.

[2019-11-25 21:35] kfrz commented on #2268
Ah yes, now I am recalling implementation from many months ago... implementation which I did. Just a cursory glance over their docs seems nothing has changed. Happy to pitch in on the API changes if need be.

[2019-11-25 21:48] Karak888 commented on #3703
you have done awesome with this! You can just delete that objecties part

[2019-11-25 21:48] davidconlon opened #3714 "Migrate VA Benefits Facilities data endpoint to Facilities API"
## User Story or Problem Statement
### Problem Statement
How might we migrate the VA Benefits Facilities Data Endpoint to the official Lighthouse Facilities API from unofficial beta we currently use on Vets-API?

https://developer.va.gov/explore/facilities/docs/facilities?version=current

## Goal
_What outcome(s) do we want to see?_
- [ ] Utilize the official Lighthouse Facilities API for VA Benef

[2019-11-25 21:51] davidconlon opened #3715 "Migrate Cemetery Facilities data endpoint to Facilities API"
## User Story or Problem Statement
### Problem Statement
How might we migrate the Cemetery Facilities Data Endpoint to the official Lighthouse Facilities API from unofficial beta we currently use on Vets-API?

https://developer.va.gov/explore/facilities/docs/facilities?version=current

## Goal
_What outcome(s) do we want to see?_
- [ ] Utilize the official Lighthouse Facilities API for Cemetery Fa

[2019-11-25 21:53] davidconlon opened #3716 "Migrate Vet Center Facilities data endpoint to Facilities API"
## User Story or Problem Statement
### Problem Statement
How might we migrate the Vet Center Facilities Data Endpoint to the official Lighthouse Facilities API from unofficial beta we currently use on Vets-API?

This work may be done with VHA effort in [#3707]

https://developer.va.gov/explore/facilities/docs/facilities?version=current

## Goal
_What outcome(s) do we want to see?_
- [ ] Utilize th

[2019-11-25 21:56] Karak888 commented on #3556
hmm @alexpappasoddball will check with @andaleliz about this one as she is on my team. .:)  thanks!

[2019-11-25 21:56] nedierecel commented on #3412
@deweydell From our Slack thread, here is the format for pulling goalXXConversionRate using Form 1990 as an example.

https://ga-dev-tools.appspot.com/query-explorer/?start-date=2018-11-08&end-date=2019-11-05&metrics=ga%3Agoal1ConversionRate&dimensions=ga%3AyearMonth&samplingLevel=higher_precision

[2019-11-25 22:04] davidconlon commented on #3268
This is blocked until we receive the actual form, but we should think about how we can move this forward as it's critical for the Optum stuff

[2019-11-25 22:04] AnneHurley commented on #3021
@Karak888  @jenniferlee-dsva  This is temporarily blocked while SME's have sent it to Andy to fix the location finder. Propose we do this in 2 phases. phase 1, take out the location finder tool and publish with a link to the list of cemeteries by state, and the 2, later, when locator tool is fixed, add that back to the page.

[2019-11-25 22:09] AnneHurley commented on #3020
@mnorthuis  @jenniferlee-dsva  @RLHecht Hi all - what do you recommend? I'm open to whatever you decide - would like to keep moving forward on these. Should we hop on a call?
cc @Karak888  FYI

[2019-11-25 22:11] davidconlon commented on #2775
@mmiddaugh Did we ever determine if this was still relevant? I'm not sure if this is ours or for lighthouse.

[2019-11-25 22:17] ncksllvn commented on #2268
Thanks @kfrz! What would you advise here? Throw an error from the API if the pagination limit is exceeded?

[2019-11-25 22:19] annaswims opened #3717 "review indexes in GIDS"
in relation to 11/21 outage.
I know that the indexes are not properly reflected in schema.rb

[2019-11-25 22:29] mmiddaugh commented on #2775
I think we still need to learn more to determine where this belongs, @davidconlon

[2019-11-25 22:37] #3327 closed

[2019-11-25 22:40] joanneesteban commented on #2185
Reviewed by Peggy & sent to Jeff for PRA approval on 11/25/19 (2 week turnaround - might be more given the Thanksgiving holiday): [Suggested ForeSee VA Comment Card Updates.xlsx](https://github.com/department-of-veterans-affairs/va.gov-team/files/3889059/Suggested.ForeSee.VA.Comment.Card.Updates.xlsx)

[2019-11-25 22:40] #2185 closed

[2019-11-25 22:50] cohnjesse commented on #3134
@sporeboy Can you attach the mockup for this?

[2019-11-25 23:18] joanneesteban commented on #3412
**Summary from meeting with Kevin H on 11/22/19**:

- Metrics will trend based on the time of year
- Usage metrics have had an upward trend year after year
- Setting targets requires more nuance than looking at previous three months: Education has PA&I data and can incorporate VA.gov usage vs. Benefit usage vs. Time of Year into target setting

**Insights/Next Steps:**
- We will need to journey ma

[2019-11-26 00:31] jenniferlee-dsva commented on #3020
The abbreviations content (if extracted out of PDFs) is A LOT of content. I could imagine that it might be helpful to have this information as more easily chunked up web content, but I have zero context about how Veterans or family member USE this information.

@AnneHurley - I recommend a Q/A session with the right SME about the abbreviations content to learn more about how this info is actually u

[2019-11-26 00:47] jenniferlee-dsva commented on #3020
RE ^ Mikki's comment about Replacements content being very minimal: https://www.cem.va.gov/cem/hmm/replacements.asp

Agree - this content seems easily incorporated into our main headstones page: https://www.va.gov/burials-memorials/memorial-items/headstones-markers-medallions/
as a new FAQ under the **More information about headstones and markers** section - like 'what if there's a mistake on the

[2019-11-26 00:53] cohnjesse opened #3719 "Add RequiredLoginView component to View Dependents"
## User Story or Problem Statement
As a front end engineer, I need to add the `RequiredLoginView` component to the View Dependents page so that users are required to sign in to see their dependents.

For VA.gov we require that users log in to view sensitive information, such as which dependents they have on file. The process of logging in is made possible through the use of a pre-built React compo

[2019-11-26 01:05] johnpaulashenfelter commented on #3440
@andreahewitt-odd @meganhkelley can we call this done?

[2019-11-26 01:07] johnpaulashenfelter commented on #2643
@andreahewitt-odd this has been done for a while.

31ece1e6 [4 weeks ago] (John Paul Ashenfelter) Migrate personalization files (#2841)
47a9232a [4 weeks ago] (John Paul Ashenfelter) Call Center migration (#2840)

[2019-11-26 02:49] #2643 closed

[2019-11-26 03:55] nedierecel commented on #3527
Thanks @micahchiang - I was able to see the new IA and see the success events. I pushed some changes to Staging to allow us to see the failed events+error key. I'll review this data to ensure I see the error keys as expected.

I also tried to access the unauthenticated view, which was previously listed in #2072. I tried `/disability/check-disability-rating/` and `/disability/view-disability-rating

[2019-11-26 05:37] nedierecel commented on #3528
@joanneesteban Using the eBenefits metrics as a starting point, here are some considerations when tracking pre- and post-launch.

- Users: Though we can pull users separately from eBen, MHV, and vets.gov pre-launch, the sum of these users will not be de-duped. Prior to WBC, each of the sections were tracked in their own silo and would not fully be deduped until the Nov. 2018 date.
- Pageviews: Thi

[2019-11-26 13:46] RLHecht commented on #2760
@jenniferlee-dsva and @peggygannon Checking back in on this. Are there any more edits that need to happen or should I create the error landing page?

[2019-11-26 14:32] markgreenburg opened #3721 "Integrate CDW"
As a veteran, I want to see as much information about my appointments and clinics as possible. I also want to only see relevant options when I do things like pick a clinic for self-scheduling, so that I have the best possible chance of booking the appointment I need and knowing enough about it to not miss it.

AC
- [ ] Integrate CDW
- [ ] document which places would benefit from this integration (

[2019-11-26 14:49] tlei123 commented on #3593
PR merged; closing ticket.

[2019-11-26 14:49] #3593 closed

[2019-11-26 14:53] thatmattjohnson commented on #3710
link to migration plan: https://docs.google.com/spreadsheets/d/1pKR1bZqxNR0kF8bKATMjvR5CU1iKOxfacQPhQU5nF2Q/edit#gid=1416971709

[2019-11-26 14:56] jbalboni opened #3722 "Requests are missing ccAppointmentRequest data"
The request data returned from the appointment requests service should have a `ccAppointmentRequest` object for requests that are CC. You can tell these requests by their type of care id, which starts with `CC`.

Here's an example of the data in the cc appointment request object: https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/applications/vaos/api/requests.json#L65

[2019-11-26 15:03] thatmattjohnson commented on #3709
link to migration plan: https://docs.google.com/spreadsheets/d/1Bn5Aym9NE6qM0MLMsRVxOk1nmn0jCdJxvbYzV4VWC8k/edit#gid=1543607318

[2019-11-26 15:26] wyattwalter commented on #242
The bounce went from 150ms to 333ms. https://github.com/department-of-veterans-affairs/vets-website/pull/10320/files

That's a good point about alerting. We may see more 5xx responses which would indicate that the system is kicking in to protect itself. Probably still worth investigation if that happens, but worth updating wording on any text that comes out at a minimum.

[2019-11-26 15:30] #3125 closed

[2019-11-26 15:33] bradl3yC opened #3723 "Call createTransaction directly if only 1 confirmed address is returned"
The assumption that Vet360 save/update address API would use a suggested address if there was only 1 with a high confidence score seems incorrect.

[2019-11-26 15:44] thatmattjohnson commented on #3712
link to migration plan: https://docs.google.com/spreadsheets/d/1od5Zjr9CCyH9JsBucCdrKy4gikG05u585DPaNa7k2_c/edit#gid=1858382522

[2019-11-26 15:58] hughes-dustin commented on #3542
branch: bah-3542
PR: https://github.com/department-of-veterans-affairs/vets-website/pull/11197

[2019-11-26 16:07] jhonnyoddball commented on #1676
### **PROBLEM**

Fonts are blocking text rendering

<img width="1325" alt="cssBlockingFonts" src="https://user-images.githubusercontent.com/55560129/69645325-ffd8db80-1033-11ea-970f-eb7bcd1b1e05.png">

### **GOALS**

- Improving First Contentful Paint
- Improve loading time

### **Possible solutions**

- [ ]  Adding `font-display: swap;` to all webfonts
- [ ] Splitting the webfonts into their own

[2019-11-26 16:15] nedierecel commented on #3573
@erikphansen @Justin-Pickett @Samara-Strauss

Confirming I see `invalid-routing-number-error` as well, but I have not seen an instance of `payment-restriction-indicators-error` yet.

**More Research**: After our Slack thread last week, I did more digging on the mismatch with Sentry. As DD and any other features grow in Audience size, granular reports within Google Analytics may be sampled as we fi

[2019-11-26 16:24] ncksllvn commented on #3145
These have been implemented! @Karak888

[2019-11-26 16:25] #3611 closed

[2019-11-26 16:26] jenstrickland commented on #3677
go to [https://staging.va.gov/disability-benefits/apply/form-0996-higher-level-review](https://staging.va.gov/disability-benefits/apply/form-0996-higher-level-review) and step through the form... it's mostly already populated with mock data

[2019-11-26 16:30] brandonrapp commented on #3501
### Findings
We worked hard to identify ways that we could set a baseline for page performance, but we were not able to find accurate page performance metrics.

- Google Analytics "Google Analytics randomly selects the sessions at a 1% sampling rate and also has restrictions on the amount of data processed. GA also doesn’t expose the granular page load time per sample and there isn’t a way to get

[2019-11-26 16:44] kevinstachura commented on #3565
Meeting with Nedie scheduled for Tuesday, December 3rd at 10:30am.

[2019-11-26 16:46] RLHecht commented on #1727
@Karak888 Should this move to icebox until the bug is fixed? Or leave here with a note that we are waiting on the fix before moving ahead with this ticket?

[2019-11-26 16:50] Karak888 commented on #3145
thank you @ncksllvn ! @amyknox can you verify that everything is working as expected?  Thanks

[2019-11-26 17:11] tlei123 opened #3724 "Update VSA-QA process further"
## Description
Add/update VSA-QA Process doc further:

- Add mention of & link to Product Development Checklist
- Clarify unit/e2e tests creation/execution during Build phase
- Fix broken sample test plan link.

## Acceptance Criteria
- [x] PR of changes approved by VSA Engineering Lead (@jcosta-gcio)

## How to configure this issue
- [x] **Labeled with Team** (`product support`, `analytics-insigh

[2019-11-26 17:24] kelsonic opened #3725 "Remove warning banner on Pittsburgh Health Care"
# Description
The warning banner [here](https://va.gov/pittsburgh-health-care) should be removed on non-prod environments.

# Acceptance Criteria
- [x] Removed the warning banner [here](https://va.gov/pittsburgh-health-care).

[2019-11-26 17:41] micahchiang commented on #2487
@kathleencrawford - I noticed some discussion on your PR about potentially changing the name of the new endpoint to be a little more RESTy. If that happens, can you leave the new endpoint name here? Thx.

[2019-11-26 17:46] brandonrapp opened #3727 "Identify and begin testing HCA pages with greatest opportunity for optimizations"
Capture and measure GA page metrics for HCA (pages most accessed by mobile and pages with high number of recurring users) to identify the areas of greatest opportunity for optimization and begin testing optimizations to help in the creation of best practice documents for VFS teams around page performance optimizations.

## Goal
Identify pages on HCA using GA metrics that are:
1. Most Accessed by M

[2019-11-26 17:48] brandonrapp commented on #3501
Work will be continued in this ticket - https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/3727

[2019-11-26 17:48] #3501 closed

[2019-11-26 17:49] rroueche opened #3728 "Name "VSP One Pager""

[2019-11-26 17:50] rroueche opened #3729 "Iterate on "one pager" for devops presentation"
## Background:

DevOps in practice showcasing VA.gov Dec 11th. Def need to have something adjacent to this by then for that meeting.

## Goal:
Update the "one pager" deck to be well positioned for this particular use case. Less about attracting teams, and more about “this is how we built VA.gov and how great we are.” How Platform enables DevOps culture.

Research readout: https://github.com/depart

[2019-11-26 17:50] steve-gov commented on #2096
This is rolling into a longer term strategy for integrations, new issues coming soon.

[2019-11-26 17:50] #2096 closed

[2019-11-26 17:50] brandonrapp opened #3730 "Add page load performance to Prometheus so we can create an accurate method of tracking this metric"

[2019-11-26 17:51] rroueche opened #3731 "Create solid "base" "one-pager" per DEPO feedback"

[2019-11-26 17:51] rroueche opened #3732 "Document findings from Patricks test usage of "one pager""

[2019-11-26 17:52] #2928 closed

[2019-11-26 17:53] markgreenburg opened #3733 "show all future appointments"
As a veteran, I want to see all of my future appointments and requests so that I don't get confused about whether or not an actual appointment is scheduled.

AC
- [ ] Veterans can see appointments and requests that are >120 in the future.

[2019-11-26 17:58] amyknox commented on #3145
@Karak888 - links are redirecting as expected.  Thank you!

[2019-11-26 18:04] jholton opened #3734 "Troubleshooting incorrect MHV data on My VA dashboard"
#3271 is the originating issue.
The origin and resolution can be reviewed there.

[2019-11-26 18:05] #3734 closed

[2019-11-26 18:06] YanaRoy opened #3735 "[Epic] Claim Status Tool: Discovery and Implementation of Claim Status API"
## Resources
[Product Outline](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/claim-appeal-status/claim-status-api/product-outline.md)
[GH Discovery Folder](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/claim-appeal-status/claim-status-api/discovery)

## High Level User Story
As a Back-end engineer on the Benefits and Memoria

[2019-11-26 18:07] delli-gatti-michael commented on #3542
Local testing complete with Voiceover. Once this is in Staging I can test again with JAWS and NVDA

[2019-11-26 18:24] cohnjesse opened #3736 "Updated API endpoint for Total Rated Disabilities"
## User Story or Problem Statement
The API endpoint for Total Rated Disabilities is changing per feedback from the back end team. We need to update the API endpoint we pull data from on the front end to reflect this.

The old URL was
`v0/disability_compensation_form/find_rating_info_pid`

The new URL is
`v0/disability_compensation_form/rating_info`

This is simply a case of changing the URL we hit

[2019-11-26 18:27] kathleencrawford commented on #2487
@micahchiang - here is the new name of the endpoint: /v0/disability_compensation_form/rating_info

[2019-11-26 18:29] Karak888 commented on #1623
@ncksllvn do you think we can close this one? Thanks!

[2019-11-26 18:29] ndsprinkle commented on #2708
Hey @erikphansen thanks for bringing this and #3664 to my attention. Sorry for the delay in response, I will bring this to the team's attention.

[2019-11-26 18:33] alexpappasoddball opened #3737 "Evaluate Consumer Driven Contract Testing"
Tons of test on the front end, tons of test on the backend, but no connected tests.

This is reference to:
https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/1005

[2019-11-26 18:34] Karak888 commented on #2020
@mnorthuis adding you for IA of where this will live and redirect validation.  Thanks!

[2019-11-26 18:34] thatmattjohnson commented on #3167
meeting w call center/analytics team members 11/25; they are completing an offline review of all call center content and will provide recommendation for where to rehouse call center team content in triage team folder based on that. targeted completion: 11/26 eod.

[2019-11-26 18:35] ncksllvn commented on #1623
Sorry, missed your message above. Um, so, this work hasn't been started at all, and I don't know if we're still planning on doing it. The idea was that Drupal would contain all of the footer links, so we were waiting on the Drupal implementation before we would do our part. I think it was de-prioritized though. Up to you to close.

[2019-11-26 18:43] #3423 closed

[2019-11-26 18:43] #3364 closed

[2019-11-26 18:43] #3484 closed

[2019-11-26 18:46] sporeboy commented on #2930
Paper form workflows mapped-out by field. 21-674 form workflow added.

[2019-11-26 18:47] alexpappasoddball opened #3738 "On-Point Rotation Update"
## Problem

There are 3 problems that we want to solve for:
 - The team is spreading themselves thin when responding to incidents that come up
 - We do not have a defined process for who is watching/cleaning up sentry alerts at any given time
 - Finding PRs that team members should be reviewing is time consuming and confusing

## Objectives
The objective of this task is to create and promote a pro

[2019-11-26 18:51] AnneHurley commented on #3020
@jenniferlee-dsva @mnorthuis @RLHecht  Capturing Jen's Slack notes on Abbreviations page so they are here. Jen, agree w your suggestions. I will:
1. Set up a chat w appropriate Burials SMEs about Abbreviations content to figure out how best to proceed.
2. Add Replacements info from https://www.cem.va.gov/cem/hmm/replacements.asp to our main HMM page, and we can redirect ^ to the main HMM page.

Fr

[2019-11-26 18:57] bkjohnson opened #3739 "Checkbox outlines disappear on zoom out"
## What happened?

[This PR](https://github.com/department-of-veterans-affairs/vets-website/pull/11187#pullrequestreview-323207017) and [issue](https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/vets.gov-team/19962) suggest that on Safari, checkboxes lose their outline/shadow when zoomed out to 75%:

![image](https://user-images.githubusercontent.c

[2019-11-26 19:09] cvalarida commented on #3739
Looks like this is a duplicate of https://github.com/department-of-veterans-affairs/va.gov-team/issues/771. Closing.

[2019-11-26 19:09] #3739 closed

[2019-11-26 19:11] clantosswett commented on #1129
Checking in to see if there are any updates on this issue.

[2019-11-26 19:17] hughes-dustin commented on #771
I was able to resolve this issue in GIBCT.
PR: https://github.com/department-of-veterans-affairs/vets-website/pull/11187

I think something like this will fix the issue globally.
[code]

[2019-11-26 19:19] clantosswett commented on #1129
Here is another address that can't be updated on VA.gov:

Lot 36 Block 4A Camella Baliwag Phase 3 Pagala Baliuag Bulacan, Philippines 3006

[2019-11-26 19:37] Justin-Pickett commented on #3175
This item was completed with this [Pull Request](https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/vets-website/11091)

[2019-11-26 19:37] #3175 closed

[2019-11-26 19:37] #2419 closed

[2019-11-26 19:38] Justin-Pickett commented on #3176
This was completed in this  [Pull Request](https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/vets-website/11091)

[2019-11-26 19:38] #3176 closed

[2019-11-26 19:39] Justin-Pickett commented on #3174
This item was completed with this [Pull Request](https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/vets-website/11091)

[2019-11-26 19:39] #3174 closed

[2019-11-26 19:42] KevinMHoffmanUSDS opened #3740 "Update Link on Education Hub"
We need to update the page at

https://www.va.gov/education/

so that the link in this module

![image](https://user-images.githubusercontent.com/50150810/69666802-db442a00-105a-11ea-96ec-7e090089e708.png)

which is

https://www.benefits.va.gov/gibill/school_resources.asp

is updated to the new SCO resources page at

https://www.va.gov/school-administrators/

The refresh is in place to get it to d

[2019-11-26 19:42] Justin-Pickett commented on #3629
This is complete. It is uploaded in Gitub at the following [LINK](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/change-address/address-validation/user%20testing/Research%20Summary.md)

[2019-11-26 19:44] Justin-Pickett commented on #3723
@bradl3yC is PR #11198 approved?

[2019-11-26 19:46] Justin-Pickett commented on #1129
@clantosswett we're making progress but changes aren't final as of yet. I will keep you updated.

[2019-11-26 19:47] Justin-Pickett commented on #1129
@lihanli can you see what errors are still occuring with this address.

Lot 36 Block 4A Camella Baliwag Phase 3 Pagala Baliuag Bulacan, Philippines 3006

G CO 2-238 GSAB
TF DRAGON
APO AE 09355

[2019-11-26 19:47] Samara-Strauss opened #3741 "[Copy] Candidate Address/Override: Revise modal copy based on user testing feedback"
@peggygannon let's figure out how we can get this into your workload for this sprint/the next sprint when we're all back from the holiday.

### Background

[We conducted user testing on the address validation mockups](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/change-address/address-validation/user%20testing/Research%20Summary.md) be

[2019-11-26 19:51] alexpappasoddball opened #3742 "Expose KPIs programmatically"
## Problem Statement

It is difficult to extract KPIs, this is a manual process that requires looking into different systems and takes time away from developers each time these KPIs are required to be reported on.  These stats are in one or many systems already and we need to identity where they are and consolidate them, with the goal of exposing them in an easy way so it reduces the burden of rep

[2019-11-26 19:52] #3629 closed

[2019-11-26 19:55] lihanli commented on #1129
first address returns "ADDRVAL102 SpectrumServiceAddressError No matching results"
second address returns "ADDRVAL112 AddressCouldNotBeFound The Address could not be found"

[2019-11-26 19:55] alexpappasoddball opened #3743 "[Discovery] KPI List and Plan"
## Problem description
Reporting on KPIs is a manual process that isn't very well defined.

## Goal
Identify and prioritize a list high value KPIs and document an approach that would expose these without manual intervention.

## Acceptance Criteria
- [ ] A prioritized list of KPIs have been identified
- [ ] A draft proposal is created to expose these data points

## How to configure this issue
- [

[2019-11-26 19:59] micahchiang opened #3744 "Configure local machines to connect to EVSS dev directly"
## Story
As an engineer, I want to be able to have direct access to EVSS dev env as opposed to the local environment to better simulate the environment and be notified sooner of issues as I develop features.

## Goal
Currently the frontend for rated disabilities is querying data from `vets-api-mockdata`. To better reflect receiving data from a production environment, and to prepare for shipping to

[2019-11-26 20:01] omgitsbillryan opened #3745 "Fix/Refactor Thread Safety Issues Caught by Rubocop"
## The Problem
`vets-api` contains code that is not thread safe.

## Context
[A thread safety plugin was added to rubocop to scan for thread safety issues](https://github.com/department-of-veterans-affairs/vets-api/pull/3543), as a result of some MHV user data being mixed up between requests. At the time, it was believed that `vets-api` may contain a thread safety issue.

## Work to be Done
- [ ]

[2019-11-26 20:13] andreahewitt-odd opened #3746 "Support operations teams’ efforts for staging environment changes"
AC:
- [ ] Aid in discovery of the new staging environment work
- [ ] Test new staging environment work.

[2019-11-26 20:14] CrystabelReiter opened #3747 "Synthesize Learn More research"
Synthesize the research done on the Learn More component so that we can make decisions for the design system

AC:
- [x] Create affinity map with notes gathered from session
- [x] Do a group synthesis session with the affinity map

[2019-11-26 20:20] Mottie commented on #3700
I've spent some time trying to replicate this issue today... no luck so far.

I did the following tests on user 228 on the dev.va.gov site. The form did not submit, but immediately showed an error after making a server call. In the situation the veteran showed us, the front-end stalled (showing only a grayed out submit button with a progress indicator) and did not make server call.

### Less likel

[2019-11-26 20:24] Clark-W-Griswold commented on #3647
Engineering break out scheduled for 12-2-2019 from 11am - 12pm EST

[2019-11-26 20:26] Karak888 commented on #3740
ah was just going to have @RLHecht can you please take a look at this and see what you can do?  :cc @ncksllvn only because it was related to the redirect you just did for SCO.

[2019-11-26 20:27] markgreenburg commented on #2362
@jbalboni is this still something we need to go through?

[2019-11-26 20:45] mmiddaugh commented on #3268
Will need working workflow with some user feedback
Will need facility IDs for calling PDF (since this is limited to urgent care/community care facilities)
Blocked until final PDF received from Community Care
Blocked pending sign-off from Community Care

Will estimate front end when design is available

[2019-11-26 20:48] RLHecht opened #3748 "Discuss specific word list terms with SMEs and retire Vets.gov word list"
## User Story
As a content editor, I need to use the VA.gov style guide as the single source of truth for words and terms that should and shouldn't be capitalized on VA.gov. Now that the parity check between the [Vets.gov word list](https://github.com/department-of-veterans-affairs/vets.gov-content/blob/master/templates-and-guides/list-of-terms-to-lowercase.md) and the VA.gov style guide has been

[2019-11-26 20:50] RLHecht commented on #1435
All terms except for three have been added to style guide. New ticket [#3748](https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/3748) created to continue work. Closing this issue. @Karak888

[2019-11-26 20:52] mmiddaugh commented on #3385
Hold for QA effort

[2019-11-26 20:52] #2633 closed

[2019-11-26 20:54] KevinMHoffmanUSDS commented on #3740
Just FYI, the redirect is fine/necessary. Just changing the link so that it's not dependent on it in the future.

[2019-11-26 20:57] mmiddaugh commented on #3564
This should be addressed in the logic change for [#3385]. Need to include in QA effort.

[2019-11-26 21:01] Karak888 commented on #3748
this is perfect @RLHecht, I associated an Epic with it but it looks good to go!

[2019-11-26 21:03] RLHecht commented on #3740
@KevinMHoffmanUSDS I updated the link in Drupal so it's now the school administrators one. @peggygannon could you please review and publish the page? Thanks!

preview-prod.vfs.va.gov/preview?nodeId=71

[2019-11-26 21:06] billfienberg commented on #3710
PRs:
`va.gov-vfs.teams`: https://github.com/department-of-veterans-affairs/va.gov-vfs-teams/pull/46/files
`va.gov-team`: https://github.com/department-of-veterans-affairs/va.gov-team/pull/3749
`vets.gov-team`: https://github.com/department-of-veterans-affairs/vets.gov-team/pull/20044

[2019-11-26 21:06] RLHecht commented on #3740
@jenniferlee-dsva see my comment above. Didn't realize Peggy is out the rest of this week. Could you please take a look and publish? preview-prod.vfs.va.gov/preview?nodeId=71

[2019-11-26 21:13] mmiddaugh commented on #3206
Need to confirm that this is a front end issue: creating discovery issue

[2019-11-26 21:14] rileyorr opened #3750 "[Discovery] HLR Opt Out of Legacy Issues"
## Problem Statement
Veterans need to be able to opt out of individual legacy issues when submitting a Higher-Level Review form. Because of this, there needs to be a design that displays all of a Veteran's legacy issues so that individual ones can be selected. The "Opt Out Checkbox" needs to be included in the design as well.

## Goal
_Identify what should be included on the screen that allows Vet

[2019-11-26 21:18] rileyorr commented on #3547
@YanaRoy We decided that the best design solution would be to add a screen for Veterans to select legacy issues that they want to include in the HLR. The check box would be included on the bottom of that page. [The design ticket can be found here](https://github.com/department-of-veterans-affairs/va.gov-team/issues/3750).

[2019-11-26 21:20] #3479 closed

[2019-11-26 21:20] #3478 closed

[2019-11-26 21:23] jbalboni commented on #2362
@markgreenburg We have some of these handled, but I think we have gaps.

[2019-11-26 21:24] mmiddaugh commented on #3530
Need to create discovery issue to look for existing methods of handling

[2019-11-26 21:24] billfienberg commented on #3709
PRs:
`vets.gov-team`: https://github.com/department-of-veterans-affairs/vets.gov-team/pull/20045
`va.gov-team`: https://github.com/department-of-veterans-affairs/va.gov-team/pull/3751

[2019-11-26 21:24] Samara-Strauss commented on #1798
@lkoenigsberg @chrisj-usds

I circled back with Anna to ask about the following scenario re: gating direct deposit — why someone who is DS Logon LOA3 **and** ID.me LOA3 wouldn't be able to access direct deposit if they logged in with DS Logon. This was her response:

So currently, we have no way of knowing a user who is logged in with DS Logon LOA3 might be also LOA3 through ID.me. That's why we c

[2019-11-26 21:27] Karak888 commented on #952
@lunascoop I will take a look.  Just updated it above to say this was separate from the Benefit Hub URLs for redirect.  Can you please confirm they are ineed 2 separate tasks for you? Thanks!

[2019-11-26 21:49] Samara-Strauss commented on #3573
Reopening because I have questions:

I'm so confused. So the data we're seeing in GA is not raw data, but a sampling of data? How are we supposed to interpret it, then?

Also, we were seeing significantly fewer errors in Sentry than GA — if the GA data is a sample size of users, shouldn't we be seeing fewer errors in GA than Sentry and not more errors?

I guess we'll discuss this on Monday, but le

[2019-11-26 21:54] tlei123 opened #3752 "Update VSA-QA Test Plan issue-template"
## Description
Add mention of Pre-Launch Checklist to vets-website repository’s VSA-QA Test Plan issue-template.

## Acceptance Criteria
- [ ] PR approved by VSA Engineering Lead (@jcosta-gcio)

## How to configure this issue
- [ ] **Labeled with Team** (`product support`, `analytics-insights`, `operations`, `triage`, `tools-improvements`)
- [ ] **Labeled with Practice Area** (`backend`, `frontend

[2019-11-26 21:57] YanaRoy opened #3753 "[Design] HLR Opt Out of Legacy Issues"
## Problem Statement
Veterans need to be able to opt out of individual legacy issues when submitting a Higher-Level Review form. Because of this, there needs to be a design that displays all of a Veteran's legacy issues so that individual ones can be selected. The "Opt Out Checkbox" needs to be included in the design as well.

## Goal
_Design a screen that allows Veterans to select individual lega

[2019-11-26 22:00] YanaRoy opened #3754 "[Request Content Review] HLR Opt Out of Legacy Issues"
**User story**
As a member of Benefits and Memorials team building on VSP, I need my content reviewed to ensure it's accurate, aligns with VA style, and is error-free.

**Screenshot and Links**
- [Design ticket for reference](https://github.com/department-of-veterans-affairs/va.gov-team/issues/3753)
- [Invision Mockup]()

**Acceptance criteria**
- [ ] Content reviewed
- [ ] Required content update

[2019-11-26 22:00] markgreenburg opened #3755 "Calendar hidden or missing in direct schedule flow"
The calendar doesn't seem to show when:
- Login with Judy M
- Primary Care
- VA Appt
- First system
- First facility
- Apr 1 2020 as preferred date

It is expected that the Direct Schedule calendar shows under these circumstances.

![Screen Shot 2019-11-26 at 3.58.40 PM.png](https://images.zenhubusercontent.com/59c29173b0222d5de478791d/6ae16cef-7c77-4b93-b831-920465b22f3b)

[2019-11-26 22:06] 1Copenut opened #3756 "[DOCUMENT]: GIBCT Section 116 - Excel document uses color as the only means to convey intent"
## Description

VA 508 office has identified the [Excel Download Data on All Schools](https://www.benefits.va.gov/GIBILL/docs/job_aids/ComparisonToolData.xlsx) has some areas that use color as the only way to convey intent. This is a violation of Success Criteria 1.4.1. Screenshot attached below.

## Point of Contact

**VFS Point of Contact:** _Trevor_

## Acceptance Criteria

* Color is complemen

[2019-11-26 22:06] lkoenigsberg commented on #1129
Thanks to the [WIP error matrix](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/change-address/address-validation/_ErrorCodesForOverride_DRAFT-WithExamples.xlsx) that @Justin-Pickett is working on we know that the Vet360 responses mean the following.

1. ADDRVAL102 = The Spectrum server is down, address validation is unable to be reached

[2019-11-26 22:07] #2606 closed

[2019-11-26 22:18] Kimberley2019 opened #3757 "Respond to IRIS Claims/Benefits Issues"
## Problem description.
How might we work together in order to resolve the issues that are listed below that users are continuing to experience when it comes to claims?

## Goal
We are wanting to see users being able to upload documents, view their claim status, view GI Bill benefits, and view previous claim history.

## Acceptance Criteria
- [ ] VSA Benefits & Memorials is aware of the issues rai

[2019-11-26 22:18] lkoenigsberg commented on #3116
Sharing feedback, hoping that many of these things can be incorporated, and completed, in sprint 10.

(1) As the requestor, would have been nice to have gotten a chance to review and give feedback w/out asking :wink:
(2) I'd like a column added that indicates what the VA.gov experience/outcome is given that error
(3) Be clear in the business case column.  Is that the VA Profile (formerly Vet360) b

[2019-11-26 22:26] 1Copenut opened #3758 "[DOCUMENT]: GIBCT Section 116 - Excel document has color contrast issues that could be improved"
## Description

VA 508 office has identified the [Excel Download Data on All Schools](https://www.benefits.va.gov/GIBILL/docs/job_aids/ComparisonToolData.xlsx) has some areas that use color as the only way to convey intent. This is a violation of Success Criteria 1.4.1. Screenshot attached below.

## Point of Contact

**VFS Point of Contact:** _Trevor_

## Acceptance Criteria

* Color contrast rat

[2019-11-26 22:26] tlei123 commented on #3752
Closing ticket; will do this template-update in existing #3724.

[2019-11-26 22:26] #3752 closed

[2019-11-26 22:28] AnneHurley opened #3759 "Redirect 2 legacy Yellow Ribbon pages to new consolidated one"
We need to redirect 2 legacy Education/Yellow Ribbon pages to the single new one which is live on VA.gov.

2 legacy pages:
https://www.benefits.va.gov/gibill/yellow_ribbon.asp
https://www.benefits.va.gov/GIBILL/yellow_ribbon/yrp_list_2019.asp

**Both** need to redirect to:
https://www.va.gov/education/about-gi-bill-benefits/post-9-11/yellow-ribbon-program/

@selina, the 2 YR Education SMEs are Luc

[2019-11-26 22:30] Samara-Strauss opened #3760 "[Content] Change your address content page: Remove subway map and replace with dynamic modal"
This is a low priority enhancement. We'll get to it when we get to it. Not assigning this for now.

### Background

[In address validation user testing](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/change-address/address-validation/user%20testing/Research%20Summary.md#showing-a-sign-in-link-on-the-change-your-address-content-page-is-co

[2019-11-26 22:30] AnneHurley commented on #3759
@Karak888 @jenniferlee-dsva I assigned this to the open content parity Epic for Education, but I'm not sure if this even needs to be in an Epic - does it?

[2019-11-26 22:32] Karak888 opened #3761 "'View your disability rating' feature migrating into VA.gov"
### **High Level User Story**
As a Veteran with a rated disability (or multiple rated disabilities), I need an easy way to see my combined VA rating and know that I can do this online, instead of calling VA or looking for my VA letters.

**Feature**
This feature displays the Veteran's total VA combined rating + list of all of their disabilities that are rated.

### **Purpose of this epic**
- Add a

[2019-11-26 22:38] Karak888 commented on #3451
@jenniferlee-dsva I am closing this as it wasn't created as a true epic and wanted to be sure we had one to associate for REACT, content, analytics, and redirect tickets.  I have copied everything from this ticket over but it's now an Epic.

[2019-11-26 22:38] #3451 closed

[2019-11-26 22:39] jason-gcio opened #3762 "Implement `findDependentsByPtcpntId` API Endpoint from BGS to "View Dependents""
## Story
As a Veteran, I need to be able to view my dependents so I can better understand who I have available on award (or not) to apply for benefits.

## Goal
- Build an API that communicates with BGS and retrieves the `findDependentsByPtcpntId` endpoint for a Veteran.
- Migrate this functionality from eBenefits to VA.gov so users will no longer have to login to eBenefits to view their dependent

[2019-11-26 22:41] ncksllvn commented on #3605
Alrighty, we have a start on the Find VA Forms page! The draft is viewable here - http://preview-prod.vfs.va.gov/preview?nodeId=2352.

CC: @jenniferlee-dsva

[2019-11-26 22:45] Kimberley2019 commented on #3757
@YanaRoy Below is the Google Doc link that shows multiple issues from IRIS for claims or benefits.  Please advise if any additional information is required.

https://docs.google.com/spreadsheets/d/1bqBqcDU8GtdsemkfQjNAJXEQAGqw5lEvIK8g1R9cEcU/edit#gid=122763910

10/10/2019 01:52 PM	191009-000675	Escalated	 Devine
The health benefits explorer tool on the VA website doesn't work. I've tried 5 differe

[2019-11-26 22:48] AnneHurley commented on #3759
@kelsonic @ncksllvn @mnorthuis FYI the closed Yellow Ribbon ticket is: https://github.com/department-of-veterans-affairs/va.gov-team/issues/2612

[2019-11-26 22:49] Samara-Strauss opened #3763 "[Design] Create alert for the direct deposit feature that gates DS Logon users"
### Background

Full history in #1798 #2844

From Lisa:

Given various technical complexities, including that we can not detect if someone has identity verified through ID.me if they login with DS Logon, we have decided the simplest approach would be to require all DS Logon users to sign in with ID.me or MHV to access direct deposit.

### Design

We need to add a prompt in the direct deposit secti

[2019-11-26 22:49] Samara-Strauss commented on #2844
Got the OK from Lisa and Chris to move forward with this approach. Closing and creating a ticket for design. #3763

[2019-11-26 22:49] #2844 closed

[2019-11-26 22:49] markgreenburg opened #3764 "CC Care Provider Prefs review page entry shows 'not specified'"
When no provider name is given, preferred providers page shows as 'not specified' in the review page table:

![Screen Shot 2019-11-26 at 4.45.41 PM.png](https://images.zenhubusercontent.com/59c29173b0222d5de478791d/10d0bc2a-9bdf-46e9-b2f8-80164921d474)

This should show 'Provider Preferences' and should include info about nearest city / state as well as preferred language even when no practitioner

[2019-11-26 22:51] wyattwalter commented on #2971
Old VGW's are gone, I believe everything is torn down at this point. The customer gateways were left up as Appeals still uses them and they were shared between projects.

[2019-11-26 22:51] #2971 closed

[2019-11-26 22:53] jason-gcio opened #3765 "Submit a Valid 686 Using API Endpoints"
## Goal
- There will be several BGS services that need to be called and tracked as they are implemented.

## Applicable APIs
- [x] (1) `vnpProcCreate`
- [x] (2) `vnpProcFormCreate`
- [x] (3) `vnpPtcpntCreate`
- [x] (4) `vnpPersonCreate`
- [x] (5) `vnpPtcpntAddrsCreate`
- [x] (6) `vnpPtcpntPhoneCreate`
- [x] (7) `vnpPtcpntRlnshpCreate`
- [x] (8) `vnpChildStudentCreate` (674)
- [x] (9) `vnpChildScho

[2019-11-26 22:59] jenniferlee-dsva commented on #3740
Done

[2019-11-26 23:11] Karak888 commented on #3692
@jenniferlee-dsva - This is for content tasks only for view disability rating.  I have associated it with the new epic I created. Will need to be estimated.

[2019-11-26 23:19] wygonikGCIO opened #3766 "Migrate “Medical Device Ordering Tool” from eBenefits to VA.gov"
Medical Device Ordering Tool
Issue brief:  [Link] (https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/benefits-2/issue-briefs/medical-devices.md)
Product Outline: [Link] (https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/medical-device-tool)

## Story
As a Veteran, I want to order medical devices (like socks and hearing aid ba

[2019-11-26 23:19] Karak888 opened #3767 "Add sign in widget for View your disability rating feature"
### **High Level User Story**
As a Veteran with a rated disability (or multiple rated disabilities), I need an easy way to see my combined VA rating and know that I can do this online, instead of calling VA or looking for my VA letters.

**Feature**
This feature displays the Veteran's total VA combined rating + list of all of their disabilities that are rated.

### **Frontend Engineering Tasks and

[2019-11-26 23:21] Karak888 commented on #3767
@jenniferlee-dsva this is for REACT piece to View disability ratings feature migration into VA.gov- I have applied the epic, but this will need to be estimated and assigned at future sprint planning.

[2019-11-26 23:24] #3598 closed

[2019-11-26 23:24] #3624 closed

[2019-11-26 23:28] Karak888 commented on #3273
@lunascoop looks good.  Can you please add this to our GH repo as well?  Going to close this so you can focus on the redirect spreadsheet for Benefit Hub URLs for redirect, thanks!!

[2019-11-26 23:28] #3273 closed

[2019-11-26 23:32] wyattwalter opened #3768 "expose fwdproxy to socks users"
## User Story or Problem Statement
For VFS teams getting started with a new backend or using a new API within an existing backend, a common issue is that backends have little or inaccurate documentation about data expected and returned from the API. This makes doing things like building VCR cassettes and mocking test data very difficult. A few folks have come up with some creative solutions, but w

[2019-11-26 23:35] mmiddaugh opened #3769 "Discovery for time zone addition to hours"
## Problem Statement
How might we display facility open/close times relative to time zones and style guide expectations?
- **Current behavior:** FL displays the hours of operation as 8:00 a.m. - 9:00 p.m. without including time zone. The style guide requires the addition of time zones.

## Goal
_What outcome(s) do we want to see?_
- Identify existing methods which could be used to address this iss

[2019-11-26 23:46] mmiddaugh opened #3770 "Discovery for FL firing multiple searches"
## Problem Statement
How might we prevent the search from firing multiple times and ensure that only one request to the facilities/va endpoint is made?

## Goal
Resolve issue where the number of results changes without user changing search parameters
- Example of behavior: Search for Chicago, IL for Community Care with specialty type Clinic / Center - Primary Care. There is nothing in the city, so

[2019-11-26 23:47] joanneesteban commented on #3452
Will stay in review until VAOS launches the site on Prod to review the Feedback buttons.

[2019-11-26 23:52] joanneesteban commented on #2480
Completed: Initial Call Center data was added.

Next Steps:
October & November will need to be added - currently blocked/have not heard from HRC for additional data.

[2019-11-26 23:52] #2480 closed

[2019-11-26 23:59] joanneesteban commented on #2925
### Team Meeting 11/19/19, 11/22/19 & finalized 11/26/19

**Approach**

The Insights team individually contributed to potential new names.

We voted for the top options and discussed.

![image](https://user-images.githubusercontent.com/48964695/69682196-9df19380-107e-11ea-8c55-e440237220e6.png)

We used to a decision matrix to come up with a name based on our top voted items.

![image](https://use

[2019-11-26 23:59] #2925 closed

[2019-11-27 00:02] joanneesteban commented on #3398
No new processes in place.

[Current documentation](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsp/teams/triage/call-center/ROE.MD) is still accurate and there are no changes so far other than reorganizing where the documentation lives on Github (see: https://github.com/department-of-veterans-affairs/va.gov-team/issues/3404)

[2019-11-27 00:02] #3398 closed

[2019-11-27 00:07] joanneesteban commented on #3399
[Survey](https://adhoc.optimalworkshop.com/questions/3g071kfh) to send. Created by Emily.

[Survey Results](https://adhoc.optimalworkshop.com/questions/3g071kfh)

Survey was distributed to VAMC team at the end of the workshop on 11/26/19. Will wait on feedback from additional VFS team for actionable insights.

[2019-11-27 00:09] joanneesteban opened #3771 "Caregiver KPI Workshop"
## User Story
As a VFS team, I need to set my KPIs so I can see what my data-driven product goals are before I begin building my veteran facing product.

## Goal
Hold KPI workshop with the Caregiver team and set KPI tracking expectations.

## Objective
Workshop KPI setting with VSA Benefits & Memorials 2 and VSA Caregiver so that they can set data-centered goals for their product before they begin

[2019-11-27 00:12] joanneesteban commented on #3401
[Product Outline](https://docs.google.com/document/d/1GuuhRXT8-NjEHdFHysNg1VA1o89Qr0_Mkrg46Q8kBeI/edit#heading=h.ev8ozaubejnk)
[Product Brief](https://docs.google.com/presentation/d/1sI32UbQRqpKqOhBT8lkUuOHgfD4UUkV2cd5Pzw1fP9w/edit#slide=id.p1)

[2019-11-27 00:12] #3401 closed

[2019-11-27 00:16] joanneesteban commented on #3412
Pivoting on adding targets to `Page Views` and `Online Submissions` and will work on getting more actionable data for the Tool before sending out to Education Stakeholders.

Will still need the next steps from the previous comment (done at a later sprint).

**Next Sprint Steps**
- Still add relevant links and missing data to the Tool
- Add Error Rates to the Tool

[2019-11-27 00:16] #3412 closed

[2019-11-27 00:19] joanneesteban opened #3772 "Add Usable Metrics to the Product Success Tool"
## User Story or Problem Statement
How might we visualize error rates on the Product Success Tool so that users have actionable data?

## Goal
Add actionable and available metrics to the Product Success Tool.

## Objectives or Key Results this is meant to further
Add error rates chart to the Product Health Tool front end solution so that VFS teams can see the rate at which veterans are not able to

[2019-11-27 00:21] joanneesteban commented on #3772
Keeping in mind insights from https://github.com/department-of-veterans-affairs/va.gov-team/issues/3412

[2019-11-27 00:22] joanneesteban commented on #3403
We should also loop in Andrew G and Nancy to the conversation and make sure we get weigh in from Ops on Prometheus needs.

[2019-11-27 00:26] joanneesteban opened #3773 "Discovery on User Time to Task Completion"
## User Story or Problem Statement
How might we show the use case for user time to task completion for a VFS team so that teams have a better understanding of the usability of their tools?

## Objectives or Key Results this is meant to further
Expand the veteran user time to task completion technical implementation and reporting proof of concept to discovery on a VFS form application so that we ca

[2019-11-27 00:26] joanneesteban commented on #3773
https://github.com/department-of-veterans-affairs/va.gov-team/issues/2181 was blocked.

[2019-11-27 00:36] joanneesteban opened #3774 "Determine method for reporting KPIs"
## User Story or Problem Statement
How might we determine a method for VFS teams to report KPIs so that we can track how teams are sharing collaborating and sharing metrics?

## Goal
Have a proof of concept method of VFS teams to report their KPIs

## Objectives or Key Results this is meant to further
Determine a method for VFS teams to report KPIs and other success or improvement metrics so that

[2019-11-27 00:43] joanneesteban opened #3775 "Update VFS applications with current product owners"
## User Story or Problem Statement
How might we see who owns what VFS application so that we can accurately map metrics to each VFS application?

## Goal
Have a set list of current and active VFS applications (forms/views) and the product owners/managers.

## Objectives or Key Results this is meant to further
Work with VFS teams to update the Product Directory for accurate VFS applications to prod

[2019-11-27 01:10] bkjohnson commented on #3331
**Blockers**

- `entityId`
- potentially the wysiwyg `processed` field.  This can be odd with whitespace and other things.

Example from `pages.json`

[code]

[2019-11-27 03:55] kelsonic opened #3776 "Update <SortableTable /> to support find forms table"
# Description
The `<SortableTable />` component from `formation-react` needs to be updated to allow for JSX in its cells in order for the component to be usable with the find forms design spec.

# Acceptance Criteria
- [ ] `<SortableTable />` component expects a prop that renders JSX into a cell.

[2019-11-27 09:00] U-DON commented on #2860
CSS optimization libraries may not be suited for the use case of improving performance on our static pages (including the home page). The process might involve using a tool that analyzes all the CSS being used for individual pages and outputs a filtered stylesheet without the unused styles. The issue is that all of the static pages uses the general `style.css` across the whole site, and it will li

[2019-11-27 13:39] meganhkelley opened #3777 "Refine IA of primary documentation repositories"
As we are consolidating documentation into the `va.gov-team` repo, we must gather feedback from users and iterate on the initial IA of the repo to ensure that it effectively serves the needs of our users.

[2019-11-27 13:42] meganhkelley opened #3778 "Re-architect tools/triage to backend/frontend tools"
Due to restructuring of VSP tools and triage teams, we must restructure the tools and triage areas of the `va.gov-team` repo to suit the needs of these users.

### Definition of Done
- [x] Meet with tools and triage teams to conduct discovery of IA pain points and needs
- [ ] Define and propose IA for new areas to be used by legacy tools and triage teams (now frontend and backend tools)
- [ ] Impl

[2019-11-27 13:51] meganhkelley opened #3779 "Restrict access to vets.gov-team and va.gov-vfs-teams (“shut down plan”)"
### Problem Statement

How might we leverage our ability to restrict access and permissions to legacy GitHub repositories to ensure that the new consolidated repos — `va.gov-team` and `va.gov-team-sensitive` — become the single source of truth for documentation on building on VA.gov moving forward?

[2019-11-27 13:54] meganhkelley opened #3780 "Define access restriction details and timeline for vets.gov-team"
### Definition of Done

- [x] Draft timeline of access restrictions (“shut down plan”) to vets.gov-team
- [x] Incorporate feedback of DEPO and VSP leadership into shut down plan
- [ ] Socialize and distribute the plan (present at ToT, distribute via Slack)

[2019-11-27 13:54] thatmattjohnson commented on #2885
link to migration plan: https://docs.google.com/spreadsheets/d/1SEb5_9XTOiVz3D0niGxvDXQTQZmGvUnD3jqNLPKe42Y/edit#gid=1453189445

[2019-11-27 14:04] thatmattjohnson opened #3781 "3167"

[2019-11-27 14:05] thatmattjohnson commented on #3778
Duplicates #3167; consolidating and closing this issue.

[2019-11-27 14:06] thatmattjohnson commented on #3781
created in error, closing

[2019-11-27 14:06] #3781 closed

[2019-11-27 14:09] meganhkelley commented on #2233
Meeting notes 11/26 (Megan, Keifer, Alex, Bill):

Updates from Keifer:
- Tool is not yet complete but making progress! Worked through some obstacles with it past couple days.
- It will “live” on the preview page for the CMS editor, same places as the accessibility tool that Trevor made (will be encountered by the same users in the same place)
- There is no pathway to implementing content changes f

[2019-11-27 14:16] meganhkelley opened #3782 "Create and distribute post-launch survey to validate implementation"
The goal of the MVP of the plain language linter is to prove that we’ve put it in a logical place in a VFS team member’s workflow. To do so we will gather qualitative data ~5 days after launch to assess whether any VFS team members have seen the plain language linter. Simultaneously, we are moving forward on implementing the ability to gather quantitative data to measure adoption of the tool — tha

[2019-11-27 14:18] mnorthuis commented on #3759
@Karak888 @ncksllvn redirect is vetted, documented and good to go when you are ready to implement.

[2019-11-27 14:21] mnorthuis commented on #3636
duplicate of #3634, closing.

[2019-11-27 14:21] #3636 closed

[2019-11-27 14:22] #3723 closed

[2019-11-27 14:25] #3266 closed

[2019-11-27 14:25] #3391 closed

[2019-11-27 14:28] #3778 closed

[2019-11-27 14:29] jenniferlee-dsva commented on #3759
Also @lunascoop !

[2019-11-27 14:37] jbalboni commented on #3687
For cancel PUT requests, we know the following are required:

[code]

[2019-11-27 14:45] #2842 closed

[2019-11-27 14:55] sporeboy commented on #2930
PDF added to Github: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/ebenefits/features/view-update-dependents/research-design/686-business-logic/686_Business_Flows_W1.pdf

Preliminary gap analysis shown in matrix on page 2. Further analysis required.

[2019-11-27 15:08] bradl3yC opened #3783 "addressPOU missing from suggested address payload"
Add addressPOU to the payload being sent to vet360 address API

[2019-11-27 15:11] davidconlon commented on #2738
This is likely more of a Facilities API thing than something specific to FL.
Thoughts @mmiddaugh

[2019-11-27 15:12] markgreenburg commented on #2725
@narin let's chat about the 5-day thing for requests, want to understand where that came from.

[2019-11-27 15:28] KevinMHoffmanUSDS commented on #3740
Thank you!!!!

[2019-11-27 15:35] jenniferlee-dsva commented on #3273
Hey - Since we've now solidified with Platform team that Mikki will be the designated keeper of redirects log, let's not duplicate (and create another 'source' of truth). @lunascoop - can you please simply refer to/use Mikki's source spreadsheet - to track your own comms work?

@mnorthuis @meganhkelley  ^ we on same page?

[2019-11-27 15:38] #3269 closed

[2019-11-27 15:40] RLHecht commented on #3740
This has been validated on the live site. Closing issue.

[2019-11-27 15:40] #3740 closed

[2019-11-27 15:41] #2725 closed

[2019-11-27 15:46] ricetj opened #3784 "RFC for separating Terraform and Ansible repos"
## User Story or Problem Statement
As a VSP Ops Engineer, I need to see a plan for how we would separate the different repos from the other teams that rely on them so I can have a better conversation and create a clear plan moving forward.

## Goal
_Create an RFC that lays out how we intend to break out the Terraform and Ansible repos_

## Acceptance Criteria
- [ ] _Speak with the team to better u

[2019-11-27 15:49] #3270 closed

[2019-11-27 16:05] ricetj opened #3785 "Discovery: Permissions For the DevOps repo"
## User Story or Problem Statement
As an Infrastructure Engineer, I need to know that the DevOps repo is a secure place, but also not cumbersome to commit too so I can have a smooth working repo for my code.

## Goal
_Discover a permissions model that could make sense for the DevOps repo._

## Acceptance Criteria
- [ ] _Work with DVP to find a few options for permissions in the DevOps repo_
- [ ]

[2019-11-27 16:05] ricetj opened #3786 "Update Permissions for DevOps Repo"
## User Story or Problem Statement
As an Infrastructure Engineer, I need to know that the DevOps repo is a secure place, but also not cumbersome to commit too so I can have a smooth working repo for my code.

## Goal
_Have a permissions model for the DevOps repo that makes sense for all the people using it._

## Acceptance Criteria
- [ ] _Discover what type of permissions needs to be set on the re

[2019-11-27 16:07] jenniferlee-dsva commented on #3077
These 2 housing pages are now complete, and the entire housing assistance hub is now live via Drupal -- as of 11/25.
@mnorthuis - please add these two pages for vetting for redirects.

[2019-11-27 16:11] #3427 closed

[2019-11-27 16:12] jobro commented on #3298
Done

[2019-11-27 16:12] #3298 closed

[2019-11-27 16:31] ricetj opened #3787 "[Ongoing Service]VSP ATO - Ensure we stay compliant."
## User Story and Problem Statement
As a member of VFS and VSP, I want our ATO to stay correct and compliant, so that VFS and VSP teams can continue to help Veterans on VA.gov

### High Level User Story/ies
These tasks are for ensuring we keep our ATO in place.

## VSP Objective (Q1 & Q2 2020)
O3: Stability and resiliency of the Platform's systems and teams continue to improve.

## Measuring Succe

[2019-11-27 16:39] ricetj opened #3788 "Update Incidence Response Plan (IRP)"
## Problem Statement
In order to meet ATO requirements, we need to submit an updated IRP before our deadline.

## Goal
_Submit an updated IRP and have the VA sign off on it before our deadline_

## Acceptance Criteria
- [ ] Identify old IRP.
- [ ] Have Operations review old IRP and update where needed.
- [ ] Submit IRP.

[2019-11-27 16:39] ricetj opened #3789 "Update and Run Incident Response Test. (IR Test)"
## Problem Statement
In order to meet ATO requirements, we need to run an IR test before our deadline.

## Goal
_Submit an IR test and have the VA sign off on it before our deadline_

## Acceptance Criteria
- [ ] Identify old IR test and update where needed.
- [ ] Run IR test.
- [ ] Submit to VA.

[2019-11-27 16:39] ricetj opened #3790 "Database scans"
## Problem Statement
In order to meet ATO requirements, we need to run Database scans.

## Goal
_Run scan on our Databases before the deadline_

## Acceptance Criteria
- [x] Find out if the VA can access our databases right now.
- [ ] If they can, grant access so they can run scans.
- [ ] If they can not Migrate databases.
- [ ] Submit any paperwork to VA.

[2019-11-27 16:40] ricetj opened #3791 "Update Disaster Recover Plan (DRP)"
## Problem Statement
In order to meet ATO requirements, we need to submit an updated DRP before our deadline.

## Goal
_Submit an updated DRP and have the VA sign off on it before our deadline_

## Acceptance Criteria
- [ ] Identify old DRP.
- [ ] Have Operations review old DRP and update where needed.
- [ ] Submit DRP.

[2019-11-27 16:40] ricetj opened #3792 "Update and Run Information System Contigency Plan Test (ISCP Test)"
## Problem Statement
In order to meet ATO requirements, we need to run an ISCP test before our deadline.

## Goal
_Submit an ISCP test and have the VA sign off on it before our deadline_

## Acceptance Criteria
- [ ] Identify any old ISCP test and update where needed.
  - If not test was created one will need to be created.
- [ ] Run ISCP test.
- [ ] Submit to VA.