[2021-02-23 21:22] #12679 closed

[2021-02-23 21:24] mpelzsherman commented on #20304
@ncksllvn has offered to generate some documentation. See [Slack](https://dsva.slack.com/archives/C0FQSS30V/p1614115391071600?thread_ts=1614114250.057900&cid=C0FQSS30V).

[2021-02-23 21:24] alexandec commented on #11510
Results of "yarn build:webpack --env buildtype=vagovprod" with speed-measure-webpack-plugin (SMP) installed. TLDR: when it comes to plugins and loaders, webpack 4 and 5 report similar timing. So the multi-minute difference in total build time is not caused by plugins or loaders. There must be something going on inside webpack itself.

Note that the comparison isn't perfect because I did have to di

[2021-02-23 21:28] srsuddath commented on #19682
```type-ahead-options-list``` should be working now

[2021-02-23 21:31] #18779 closed

[2021-02-23 21:31] erikphansen commented on #20079
We are going to need to follow up with VA Profile on this. I'll try to summarize what is happening:

1. A user enters an address with an Address Line 1 length of less than 35 characters
2. We send that address to the validation API to check its validity
3. The validation API returns a _single, confirmed, high-confidence_ address (and that suggested address has an Address Line 1 length greater than

[2021-02-23 21:32] rileyorr commented on #19796
- Our [pre-discovery notes](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/Debt%20Resolution/Medical_Copays/research/feb-2021/pre-discovery-research.md)
    - Our questions about the notes were either added in [the Google Doc](https://docs.google.com/document/d/1aS_OKWvDQNzNLpDJMCJO5ZrVTBYLUF6ADLwJrm-n4zA/edit?usp=sharing) or the Miro board
- The [copayment life

[2021-02-23 21:35] mmiddaugh opened #20347 "Analytics Implementation for Facilities - Vet Centers 1.0"
# Google Analytics Implementation or QA Request

## What this form is for

<details>
<summary>More Information</summary>
<div>
    <br>
<p>Use this template to request Google Tag Manager and Google Analytics implementation or QA for your product. Please fill out all brackets.</p>

For more information, please check out the [Google Tag Manager resources](https://github.com/department-of-veterans-af

[2021-02-23 21:37] joeniquette opened #20348 "review FWA data requirements"
Review document and produce examples of data from the cloudwatch logs for each of them. Also include how to query for the information inside cloudwatch and awslogs.

Another ticket should be created to request an S3 bucket be created for the vets-api cloudwatch logs to enable Athena for log queries.
(https://app.zenhub.com/files/133843125/345480fa-cee2-48f3-8a39-e201c38de0fd/download)

[2021-02-23 21:39] #18983 closed

[2021-02-23 21:45] lihanli commented on #20079
how about when we get an address suggestion from the validation API that is too long, we ignore the suggested address but use the validation override key to update to the user's entered address?

[2021-02-23 21:46] mdewey commented on #16581
This should pull in real data, when real data is supplied on the questionnaire list

[2021-02-23 21:56] erikphansen commented on #20079
Oh, smart. I'll add that to my list! But VA Profile needs to know about this issue as well.

[2021-02-23 21:58] #18732 closed

[2021-02-23 22:00] joeniquette opened #20349 "Create S3 bucket for dsva-vagov-prod/srv/vets-api/src/log/vets-api-server.log"
The identity team requires the ability to search through vets-api logs for several purposes. Two of the most important are fraud waste and abuse investigations and troubleshooting SSOe issues. Cloudwatch and aws logs queries are too slow and inefficient. If we can have an AWS S3 bucket created for the dsva-vagov-prod/srv/vets-api/src/log/vets-api-server.log log group which goes back to the creatio

[2021-02-23 22:05] Samara-Strauss commented on #20079
@erikphansen thank you for this. We should prob set up a short call with VA Profile to talk about this, as I think it might be too complex to address in Slack (given there are a few potential solutions).

@mshea0606 could you create a ticket for the sprint starting tomorrow that addresses following up with VA Profile about this issue? Please copy over Erik's explanation of the problem and potentia

[2021-02-23 22:05] laurenernest commented on #20333
@LanceGundersen Can you add an estimate to this one once you look at the ACs? Thanks!

[2021-02-23 22:14] LinnJS commented on #20296
As per the finding in this [thread](https://dsva.slack.com/archives/CBU0KDSB1/p1614114990170500?thread_ts=1614098597.098900&cid=CBU0KDSB1) it turns out the feature was sent to prod but not staging and the feature that was merged on 2:23 PM on Friday was not in staging at 1130am on Monday the following week.

[2021-02-23 22:15] #20296 closed

[2021-02-23 22:19] shiragoodman commented on #20342
Hi @SKasimow  - do you know if there is a design system component for anchor tags?

[2021-02-23 22:19] edmangimelli opened #20350 "Request access to Google Analytics and/or Domo"
## User Email Address
ed.mangimelli@adhocteam.us

## Access Requirements
- [x] Google Analytics
- [ ] Domo

## Date Required
if possible this week, but it's not an emergency

## Product Team / External Team / VA Office
Claims & Appeals (previously Benefits & Memorials 1) / VSA

---

## VSP Analytics & Insights Acceptance Criteria

### Definition of Done
- [ ] Provide access to user
- [ ] Ensure us

[2021-02-23 22:27] bsmartin-ep commented on #20350
GA access has been granted to @edmangimelli.  You should receive an email.

The primary production va.gov property is _VA.gov - Production_ and the primary view is:

All VA.gov Website Data [Production]
https://analytics.google.com/analytics/eb/#/report-home/a50123418w177519031p176188361

[2021-02-23 22:27] #20350 closed

[2021-02-23 22:36] #19593 closed

[2021-02-23 22:53] #20230 closed

[2021-02-23 22:54] bcastoe commented on #19714
02232021 - Washington DC Caregiver/Coordinator data collected and data loaded to Drupal; completed and moved to validate

[2021-02-23 22:54] bcastoe commented on #19713
02232021 - Maryland Caregiver/Coordinator data collected and data loaded to Drupal; completed and moved to validate

[2021-02-23 22:55] bcastoe commented on #19716
02222021 - huntington Caregiver/Coordinator data collected and data loaded to Drupal; completed and moved to validate

[2021-02-23 23:03] saneshark opened #20351 "Spike: VAOS Reporting: Create report for CC appointment requests"
We want to capture in a report all Appointment Requests that are type: 'CC'

It's important to note that these might not necessarily have all been successful 200 requests.

1. If we later wanted to query the request_id associated with each of these logs to verify if they were successful, how would we do that in an efficient way?

Soln.
We have developed a Ruby script that allows us to query Cloudw

[2021-02-23 23:03] mpelzsherman commented on #20099
Validated by @tlei123

[2021-02-23 23:03] #20099 closed

[2021-02-23 23:03] kevinstachura commented on #19544
This is a pretty interesting data point...so, I ran some numbers in GA and found some data correlation in the higher output of [SIP data drop-offs](https://github.com/department-of-veterans-affairs/va.gov-team/issues/15689#issuecomment-769944735) and bounce rate / exits in the form process. Here's what's interesting:

### High bounce rate in October 2020 for /claim-type

Around the time Anna found

[2021-02-23 23:06] saneshark opened #20352 "VAOS Reporting: Add scripts to vets-api source control"
I think we're going to merge our work as far as these queries go into `modules/vaos/reporting`

1. helper function
2. one file for each of N different reports
3. any logs or sqlite databases used for persisting data that could include PII should be added to .gitignore
4. add documentation for how to get setup with libraries and how to run queries

[2021-02-23 23:09] bmcgrady-ep commented on #19846
Hi @vhenry07 - Here are some GA Reports that should help you answer some of your KPI questions:

- Number of Benefits Delivery at Discharge (BDD) submissions (input KPI) ([GA Report](https://analytics.google.com/analytics/web/#/report/content-event-events/a50123418w177519031p176188361/_u.date00=20210101&_u.date01=20210222&explorer-segmentExplorer.segmentId=analytics.eventLabel&explorer-table.plotK

[2021-02-23 23:24] #19540 closed

[2021-02-23 23:25] outerpress commented on #19802
@jbalboni that totally makes sense. I like the suggested header language - mockup below. A couple of notes:
* This should only show if a provider has been selected
* Display size is h3 - basically should have the same look/spacing as the "Choose a provider" heading earlier in the workflow
* I removed the bolding from provider name and distance. On revisiting this, I can see these are helpful disti

[2021-02-23 23:27] mpelzsherman commented on #18914
@mmiddaugh - the issue with Community Care searches is a separate bug. Steps to reproduce:

1. Search for Optometrist (location doesn't matter)
2. Refresh the page.

A 500 error occurs. This is because we are not converting the specialty code in the URL into a Service Type on the front end.

[2021-02-23 23:28] SKasimow commented on #20122
@youngfreezyVA can you point this ticket?

[2021-02-23 23:29] youngfreezyVA commented on #19955
this is possible but sounds like it would be better suited to use our CMSs translation capabilities if we go the route of sharing the node. while this is possible i don't think it's scalable

[2021-02-23 23:36] 1Copenut commented on #18389
Not sure, but it's worth a try. MacOS Safari + VoiceOver is particular about multiple tags inside tags like our H2 in this case. Let's give it a try and if it's still an issue, re-evaluate.

[2021-02-23 23:48] SKasimow commented on #19867
@youngfreezyVA Hi - until the new design resource is available to detail the necessary specs, please mock as best as you are able with the following design elements we touched on earlier today with Jen:

- decrease the size of the icon
- change to blue
- place a thin, medium gray circular line around the icon (a la NYT)
- upon hover add background color to circle (try the medium gray and we can se

[2021-02-23 23:51] theodur commented on #18845
Draft PR for updating cron: https://github.com/department-of-veterans-affairs/devops/pull/8568

[2021-02-23 23:58] patrickvinograd commented on #20191
* _In the SM user interface_, there is no separate "delete" operation, just "move to the deleted folder".
* You can move a message out of the deleted folder.
* I can't tell if messages in the deleted folder ever disappear from view - there's no obvious "empty trash" operation or anything. MHV user guide might shed light on this.

[2021-02-24 00:15] #19544 closed

[2021-02-24 00:49] digitalken opened #20353 "Need to check for other forms of null data - null string and "undefined" - for conditionally rendering names in Profile, etc"
## What happened?
Check for null string and "undefined" to cover all bases for null data.
Please reference this closed bug:

https://app.zenhub.com/workspaces/va-mobile-app-5f205eac3155a2000f422ecb/issues/department-of-veterans-affairs/va.gov-team/20151

## Specs:
- Device: n/a

## Steps to Reproduce
n/a

## Desired behavior
Want to prevent null string and "undefined" data from being rendered for

[2021-02-24 01:26] bessgreen opened #20354 "Integration | delete home address"
## Acceptance Criteria
1. On the Home address edit page, selecting the "Confirm" large button will make a call to the relevant delete endpoint, so that the saved information is deleted from the user's profile
2. Selecting this button routes the user back to the Personal Information page
3. On the Personal Information page, the Home address ListItem should display the null state: "Please add your h

[2021-02-24 01:30] bessgreen opened #20355 "Integration | delete home phone"
## Acceptance Criteria
1. On the Home phone edit page, selecting the "Confirm" large button will make a call to the relevant delete endpoint, so that the saved information is deleted from the user's profile
2. Selecting this button routes the user back to the Personal Information page
3. On the Personal Information page, the Home phone ListItem should display the null state: "Please add your home

[2021-02-24 01:31] bessgreen opened #20356 "Integration | delete work phone"
## Acceptance Criteria
1. On the Work phone edit page, selecting the "Confirm" large button will make a call to the relevant delete endpoint, so that the saved information is deleted from the user's profile
2. Selecting this button routes the user back to the Personal Information page
3. On the Personal Information page, the Work phone ListItem should display the null state: "Please add your work

[2021-02-24 01:33] jwoodman5 commented on #17925
We are about 30% done with 508 fixes. 2 of 3 launch-blocking 508 fixes are done. We are looking to pilot the intercept survey, which is now free of launch blocking issues and will do the same with the Feedback survey once the last launch-blocking issue is resolved (by Medallia). Still targeting "Go Live" by end of Q1.

[2021-02-24 01:33] bessgreen opened #20357 "Integration | delete cell phone"
## Acceptance Criteria
1. On the Cell phone edit page, selecting the "Confirm" large button will make a call to the relevant delete endpoint, so that the saved information is deleted from the user's profile
2. Selecting this button routes the user back to the Personal Information page
3. On the Personal Information page, the Cell phone ListItem should display the null state

## Designs
https://adh

[2021-02-24 01:36] bessgreen opened #20358 "Integration | delete fax number"
## Acceptance Criteria
1. On the Fax number edit page, selecting the "Confirm" large button will make a call to the relevant delete endpoint, so that the saved information is deleted from the user's profile
2. Selecting this button routes the user back to the Personal Information page
3. On the Personal Information page, the Fax number ListItem should display the null state

## Designs
https://adh

[2021-02-24 01:38] bessgreen opened #20359 "Integration | delete email address"
## Acceptance Criteria
1. On the Email address edit page, selecting the "Confirm" large button will make a call to the relevant delete endpoint, so that the saved information is deleted from the user's profile
2. Selecting this button routes the user back to the Personal Information page
3. On the Personal Information page, the Email ListItem should display the null state

## Designs
https://adhoc

[2021-02-24 01:41] jwoodman5 commented on #17460
@billfienberg Going through tix in the backlog today and saw this again. It doesn't seem to be specifically called out in our 508 issue sheet for Medallia. When testing this, a focus halo appears but it is not consistent with the rest of the page (gray vs. gold/yellow). Do you have any other context on this? Thanks.

[2021-02-24 02:12] 1Copenut commented on #6595
@leahkeeler We're working through the backlog and this audit is the next oldest item. Is this project ready for us to begin work?

[2021-02-24 02:24] 1Copenut commented on #14321
Hi @mmiddaugh . We're working through the backlog as our new VSA specialist comes online and this one is near the top of the list. Reading through the ticket is looks like the full audit should focus on the form, results list, and profile views. Should we add the map also, or review it as a separate work item?

[2021-02-24 02:29] 1Copenut commented on #14458
@luke-gcio We're working through the backlog of full audits and this one is near the top of our list. I'm following up to ask if there are specific URLs to test and if [foundational accessibility testing](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/staging-review-processes.md#foundational-accessibility-tests-required) has been done. LMK

[2021-02-24 02:31] leahkeeler commented on #6595
Yes whenever you are ready

Thanks, Leah

On Tue, Feb 23, 2021 at 8:12 PM Trevor Pierce <notifications@github.com>
wrote:

--
[image: GovernmentCIO] <http://www.governmentcio.com/>
Leah Keeler | PMP, CSM, CSPO, PMI-ACP, Certified SAFe 5 Agilist,, ITIL
Sr. Product Manager
| *mobile* (512) 917-3001
| *e.* lkeeler@governmentcio.com
*Government*CIO
website <https://www.governmentcio.com/> | media
<htt

[2021-02-24 03:29] bosawt commented on #19977
I have the `5987_development_branch_mpi_relationship_mock` branch on `vets-api-mockdata` and now the `5987_development_branch_for_mpi_with_relationship_mock` branch on `vets-api`.

Currently the `vets-api` branch now stores a `relationships` field off the MPI Response, which is parsed relationship data. If you log in with `vets.gov.user+dependent.1@gmail.com` user, you should be able to inspect th

[2021-02-24 03:59] SgardnerPMP opened #20361 "[VAMC] Content Management Strategy - How best to administer and support the VAMC websites [VAMC]"
## VAMC - Product Outline

[VAMC-upgrade Product Outline 2021](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/facilities/medical-centers/Project_Plan_Outline_2021.md)

## High Level User Story/ies
**VISN with 7 Systems to determine LOE, Velocity and MVP**

Provide to Veterans accessing the VAMC websites a user experience that provides solutions to key touch poin

[2021-02-24 04:59] SgardnerPMP opened #20362 "[REVIEW] Internal Review, Test, Proof Read, and CORRECT all NODES for "VA Albany health care" ending with stakeholder review doc [VAMC]"
## User Story or Problem Statement
As a Veteran Web user, I must have full accessibility a compliance to my web applications and tools, so I can use the VAMC system pages in any GUI, UE, including mobile and reader environments.

## Goal
_Perform initial page testing and review

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran's accessibility

[2021-02-24 05:30] #11560 closed

[2021-02-24 05:43] SgardnerPMP opened #20363 "[VAMC] VISN-17 "VA Heart of Texas Health Care Network" - Web Modernization EPIC - [C2G]"
## VAMC - Product Outline
[VAMC-upgrade Product Outline 2021](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/facilities/medical-centers/Project_Plan_Outline_2021.md)

## High Level User Story/ies
**Solution Goals**

Provide to Veterans accessing the VAMC websites a user experience that provides solutions to key touch points in the end-to-end Veteran healthcare j

[2021-02-24 05:46] SgardnerPMP opened #20364 "[Analytics] Compile and document all STAFF PROFILES for VISN-17 (BA)"
## User Story or Problem Statement
As a Veteran Web user, I want to see the local providers/caregivers information in the health service programs, so I know who to contact to start my healthcare journey.

## Goal
_Highlight the Individual points of contact for each Health Service Program_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran trav

[2021-02-24 05:50] SgardnerPMP opened #20365 "[REVIEW] Internal Review, Test, Proof Read, and CORRECT all NODES for "VA Bronx health care" ending with stakeholder review doc [VAMC]"
## User Story or Problem Statement
As a Veteran Web user, I must have full accessibility a compliance to my web applications and tools, so I can use the VAMC system pages in any GUI, UE, including mobile and reader environments.

## Goal
_Perform initial page testing and review

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran's accessibility

[2021-02-24 05:52] SgardnerPMP opened #20366 "[REVIEW] Internal Review, Test, Proof Read, and CORRECT all NODES for "VA Finger Lakes health care" ending with stakeholder review doc [VAMC]"
## User Story or Problem Statement
As a Veteran Web user, I must have full accessibility a compliance to my web applications and tools, so I can use the VAMC system pages in any GUI, UE, including mobile and reader environments.

## Goal
_Perform initial page testing and review

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran's accessibility

[2021-02-24 05:54] SgardnerPMP opened #20367 "[REVIEW] Internal Review, Test, Proof Read, and CORRECT all NODES for "VA Hudson Valley health care" ending with stakeholder review doc [VAMC]"
## User Story or Problem Statement
As a Veteran Web user, I must have full accessibility a compliance to my web applications and tools, so I can use the VAMC system pages in any GUI, UE, including mobile and reader environments.

## Goal
_Perform initial page testing and review

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran's accessibility

[2021-02-24 05:57] SgardnerPMP opened #20368 "[REVIEW] Internal Review, Test, Proof Read, and CORRECT all NODES for "VA New Jersey health care" ending with stakeholder review doc [VAMC]"
## User Story or Problem Statement
As a Veteran Web user, I must have full accessibility a compliance to my web applications and tools, so I can use the VAMC system pages in any GUI, UE, including mobile and reader environments.

## Goal
_Perform initial page testing and review

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran's accessibility

[2021-02-24 05:59] SgardnerPMP opened #20369 "[REVIEW] Internal Review, Test, Proof Read, and CORRECT all NODES for "VA New York Harbor health care" ending with stakeholder review doc [VAMC]"
## User Story or Problem Statement
As a Veteran Web user, I must have full accessibility a compliance to my web applications and tools, so I can use the VAMC system pages in any GUI, UE, including mobile and reader environments.

## Goal
_Perform initial page testing and review

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran's accessibility

[2021-02-24 06:03] SgardnerPMP opened #20370 "[REVIEW] Internal Review, Test, Proof Read, and CORRECT all NODES for "VA Northport Harbor health care" ending with stakeholder review doc [VAMC]"
## User Story or Problem Statement
As a Veteran Web user, I must have full accessibility a compliance to my web applications and tools, so I can use the VAMC system pages in any GUI, UE, including mobile and reader environments.

## Goal
_Perform initial page testing and review

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran's accessibility

[2021-02-24 06:21] SgardnerPMP opened #20371 "[REVIEW] Internal Review, Test, Proof Read, and CORRECT all NODES for "VA Syracuse health care" ending with stakeholder review doc [VAMC]"
## User Story or Problem Statement
As a Veteran Web user, I must have full accessibility a compliance to my web applications and tools, so I can use the VAMC system pages in any GUI, UE, including mobile and reader environments.

## Goal
_Perform initial page testing and review

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran's accessibility

[2021-02-24 06:23] SgardnerPMP opened #20372 "[REVIEW] Internal Review, Test, Proof Read, and CORRECT all NODES for "VA Western New York health care" ending with stakeholder review doc [VAMC]"
## User Story or Problem Statement
As a Veteran Web user, I must have full accessibility a compliance to my web applications and tools, so I can use the VAMC system pages in any GUI, UE, including mobile and reader environments.

## Goal
_Perform initial page testing and review

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran's accessibility

[2021-02-24 06:37] SgardnerPMP opened #20373 "[CONTENT] Translate legacy VA Clarksburg health care web pages to new VAMC-upgrade format [CONTENT]"
## User Story or Problem Statement
As a Veteran Web user, I need a need a plain language description of services in VAMC system web pages, so I can quickly understand the services and service location for my needs.

## Goal
_Efficient and clear content describing primary Content Pages_

## Objectives or Key Results this is meant to further
- _Reduced word count and improved plain language._

## Re

[2021-02-24 06:51] SgardnerPMP opened #20374 "[CONTENT] Translate legacy VA Martinsburg health care web pages to new VAMC-upgrade format [CONTENT]"
## User Story or Problem Statement
As a Veteran Web user, I need a need a plain language description of services in VAMC system web pages, so I can quickly understand the services and service location for my needs.

## Goal
_Efficient and clear content describing primary Content Pages_

## Objectives or Key Results this is meant to further
- _Reduced word count and improved plain language._

## Re

[2021-02-24 06:52] SgardnerPMP opened #20375 "[CONTENT] Translate legacy VA Maryland health care web pages to new VAMC-upgrade format [CONTENT]"
## User Story or Problem Statement
As a Veteran Web user, I need a need a plain language description of services in VAMC system web pages, so I can quickly understand the services and service location for my needs.

## Goal
_Efficient and clear content describing primary Content Pages_

## Objectives or Key Results this is meant to further
- _Reduced word count and improved plain language._

## Re

[2021-02-24 06:54] SgardnerPMP opened #20376 "[CONTENT] Translate legacy VA Washington DC health care web pages to new VAMC-upgrade format [CONTENT]"
## User Story or Problem Statement
As a Veteran Web user, I need a need a plain language description of services in VAMC system web pages, so I can quickly understand the services and service location for my needs.

## Goal
_Efficient and clear content describing primary Content Pages_

## Objectives or Key Results this is meant to further
- _Reduced word count and improved plain language._

## Re

[2021-02-24 06:56] SgardnerPMP opened #20377 "[CONTENT] Translate legacy VA Beckley health care web pages to new VAMC-upgrade format [CONTENT]"
## User Story or Problem Statement
As a Veteran Web user, I need a need a plain language description of services in VAMC system web pages, so I can quickly understand the services and service location for my needs.

## Goal
_Efficient and clear content describing primary Content Pages_

## Objectives or Key Results this is meant to further
- _Reduced word count and improved plain language._

## Re

[2021-02-24 06:59] SgardnerPMP opened #20378 "[CONTENT] Translate legacy VA Huntington health care web pages to new VAMC-upgrade format [CONTENT]"
## User Story or Problem Statement
As a Veteran Web user, I need a need a plain language description of services in VAMC system web pages, so I can quickly understand the services and service location for my needs.

## Goal
_Efficient and clear content describing primary Content Pages_

## Objectives or Key Results this is meant to further
- _Reduced word count and improved plain language._

## Re

[2021-02-24 07:08] SgardnerPMP opened #20379 "[VAMC] Review and correct invalid content in System Health Services for VA Durham health care [CW]"
## Story
As a Veteran I need to have accurate and correct System health service description, so I can quickly and correctly find where to go to get my correct health care support.

## Goal
Accurately update Health Services with approved content.

## Resources
[CMS Production environment](https://prod.cms.va.gov/)
[Health Service Library](https://drive.google.com/drive/folders/1_3ThJKPJ6r1U-zEM-L6i

[2021-02-24 07:10] SgardnerPMP opened #20380 "[VAMC] Review and correct invalid content in System Health Services for VA Fayetteville Coastal health care [CW]"
## Story
As a Veteran I need to have accurate and correct System health service description, so I can quickly and correctly find where to go to get my correct health care support.

## Goal
Accurately update Health Services with approved content.

## Resources
[CMS Production environment](https://prod.cms.va.gov/)
[Health Service Library](https://drive.google.com/drive/folders/1_3ThJKPJ6r1U-zEM-L6i

[2021-02-24 07:12] SgardnerPMP opened #20381 "[VAMC] Review and correct invalid content in System Health Services for VA Hampton health care [CW]"
## Story
As a Veteran I need to have accurate and correct System health service description, so I can quickly and correctly find where to go to get my correct health care support.

## Goal
Accurately update Health Services with approved content.

## Resources
[CMS Production environment](https://prod.cms.va.gov/)
[Health Service Library](https://drive.google.com/drive/folders/1_3ThJKPJ6r1U-zEM-L6i

[2021-02-24 07:14] SgardnerPMP opened #20382 "[VAMC] Review and correct invalid content in System Health Services for VA Richmond health care [CW]"
## Story
As a Veteran I need to have accurate and correct System health service description, so I can quickly and correctly find where to go to get my correct health care support.

## Goal
Accurately update Health Services with approved content.

## Resources
[CMS Production environment](https://prod.cms.va.gov/)
[Health Service Library](https://drive.google.com/drive/folders/1_3ThJKPJ6r1U-zEM-L6i

[2021-02-24 07:15] SgardnerPMP opened #20383 "[VAMC] Review and correct invalid content in System Health Services for VA Salem health care [CW]"
## Story
As a Veteran I need to have accurate and correct System health service description, so I can quickly and correctly find where to go to get my correct health care support.

## Goal
Accurately update Health Services with approved content.

## Resources
[CMS Production environment](https://prod.cms.va.gov/)
[Health Service Library](https://drive.google.com/drive/folders/1_3ThJKPJ6r1U-zEM-L6i

[2021-02-24 07:18] SgardnerPMP opened #20384 "[VAMC] Review and correct invalid content in System Health Services for VA Salisbury health care [CW]"
## Story
As a Veteran I need to have accurate and correct System health service description, so I can quickly and correctly find where to go to get my correct health care support.

## Goal
Accurately update Health Services with approved content.

## Resources
[CMS Production environment](https://prod.cms.va.gov/)
[Health Service Library](https://drive.google.com/drive/folders/1_3ThJKPJ6r1U-zEM-L6i

[2021-02-24 08:22] larrywest52 commented on #19639
Reviewed all pages and posted internal review doc to our team Google Drive.

[2021-02-24 12:43] sonntag-adam commented on #20067
Testing passes QA

[2021-02-24 12:43] #20067 closed

[2021-02-24 12:50] ksantiagomorgan6 commented on #20209
As for the enter an amount in the list it is used to enter a custom dollar amount and removes the populated division or school box.
![Screen Shot 2021-02-24 at 7.37.43 AM.png](https://images.zenhubusercontent.com/5cddbb05ed0dce4209e0b99b/42f7a02a-8be8-4703-8f86-7ca94f3b378e)

With the Enter amount option selected

![Screen Shot 2021-02-24 at 7.37.55 AM.png](https://images.zenhubusercontent.com/5cd

[2021-02-24 12:56] mshea0606 opened #20385 "AE Sprint 42"
## Priorities
1. Onboarding Liz
2. MyVA: Research sessions
3. MyVA: Continue FE work
4. DD4edu: Kickoff UAT recruiting
5. DD4edu: Privacy/Security review and finish Contact Center Review
6. Notification Preferences: Finish BE integration
7.  DD4edu: Direct deposit email change (GovDelivery -> VANotify)
8. Resolve Profile error issues

## Profile
**PM**
- [x] Track progress on all open VA Profile-d

[2021-02-24 13:17] vhenry07 commented on #19846
Thank you.

[2021-02-24 13:28] sporeboy commented on #19728
Revisions made to the research plan--convo guide will follow.

[2021-02-24 13:49] jonwehausen commented on #20131
Hi @mmiddaugh / @SgardnerPMP ,

## KPI Update
- I made sure to give your [KPI dashboard ticket](https://github.com/department-of-veterans-affairs/va.gov-team/issues/15132) a read prior to this post. What you have had requested for tracking we will have covered following implementation 👍 -- the next phase will be for us to work with you all on those items and groom them into measurable KPIs to arti

[2021-02-24 13:50] jonwehausen commented on #20130
Hi @mmiddaugh / @SgardnerPMP ,

## KPI Update
- I made sure to give your [KPI dashboard ticket](https://github.com/department-of-veterans-affairs/va.gov-team/issues/15132) a read prior to this post. What you have had requested for tracking we will have covered following implementation 👍 -- the next phase will be for us to work with you all on those items and groom them into measurable KPIs to arti

[2021-02-24 13:52] jonwehausen commented on #18822
Hi @SgardnerPMP & @mmiddaugh ,

Other VAMC Tickets (20131, 20130) have been updated to point towards this data layer specification. Please keep us posted on timeline for implementing. [This spec](https://github.com/department-of-veterans-affairs/va.gov-team/issues/18822#issuecomment-772103021) can be referenced each time a new VAMC roll out is set to occur

Thanks so much in advance.

[2021-02-24 13:59] #19164 closed

[2021-02-24 14:05] #19982 closed

[2021-02-24 14:08] amyknox commented on #19985
@watersemma & @amyknox

* Review findings & provide feedback on order & phrasing
* Review next steps

[2021-02-24 14:11] JenLJ commented on #19985
Research Readout draft: https://boozallen.sharepoint.com/:p:/r/teams/benefitsintegrationplatform/education/VAGov%20Document%20Library/Working%20documents/UX%20Assets/CT-Redesign/Search%20%26%20Compare%20Research%20Readout.pptx?d=we08c01d541974062a62b7b53933da9a8&csf=1&web=1&e=LrLKKD

[2021-02-24 14:25] mshea0606 opened #20386 "[Design] MyVA - Research Summary"
## Background
Following the research sessions, we need to create a research summary.

## Tasks
- [x] Create research summary
- [ ] Review with Samara

[2021-02-24 14:34] edmangimelli commented on #13664
still waiting on a VSP review of https://github.com/department-of-veterans-affairs/vets-api/pull/5991

[2021-02-24 14:35] mshea0606 opened #20387 "[Design] MyVA: Post Research Planning"
## Background
Following research, we need to create a plan for the changes.

## Tasks
 - [ ] Create list of design updates
 - [ ] Determine if we have time for additional research
 - [ ] Determine design handoff deadline
 - [ ] Conduct post research planning
 - [ ] Create plan for changes we will implement
 - [ ] Review with Samara

[2021-02-24 14:36] edmangimelli commented on #11353
still waiting on a VSP review of https://github.com/department-of-veterans-affairs/vets-api/pull/5991

[2021-02-24 14:37] jonwehausen commented on #20199
Hi @ianMcCullough-ob ,

- Thanks for calling out - `suvery-button-click` is our translation of the custom event `MDigital_Feedback_Button_Clicked` found in [this documentation](https://github.com/department-of-veterans-affairs/va.gov-team/files/6036685/Medallia.Digital.Custom.Events.Integration.Guide.2.pdf)
- From what I'm seeing, that event only fires for certain types of surveys (i believe exclu

[2021-02-24 14:45] mshea0606 opened #20388 "[Design] DD4edu - Kick off UAT recruiting"
## Background
We need to kick off the recruiting process for DD4edu UAT so that we can get Veterans scheduled and, in turn, ensure the work we have done so far meets their needs.

## Tasks
- [x] Initiate the recruiting process with Perigean

## Acceptance Criteria
- [x] Confirm recruiting has been kicked off

[2021-02-24 14:49] jonwehausen commented on #16010
## Update
- (Slack correspondence)[https://dsva.slack.com/archives/CPE4AJ6Q0/p1614091094017600]
- FSR Wizard is slated for development next sprint
- Please reference (this documentation)[https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/analytics/google-analytics/tracking-how-to-wizards.md] when setting up analytics for the how to wizard

[2021-02-24 14:49] LinnJS commented on #18834
This was solved during the SPIKE [ticket](https://app.zenhub.com/workspaces/vsa---caregiver-5fff0cfd1462b6000e320fc7/issues/department-of-veterans-affairs/va.gov-team/20296) for this task ended up being a non-issue due to deployment issues with CI/CD

[2021-02-24 14:49] #18834 closed

[2021-02-24 14:50] mshea0606 opened #20389 "[PM] DD4edu: UAT Go-No/Go"
## Background
We need to make sure everything is in order prior to starting UAT.

## Tasks
- [x] Create/fill out [UAT go/no go form](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/direct-deposit/edu-direct-deposit/qa-testing/uat-go-no-go.md)
- [x] conduct Go/No-go meeting
- [x] Make changes as needed/ Determine next step

[2021-02-24 14:53] JenLJ commented on #19569
Foremost - this looks really good, just a few tweaks based on a UX discussion!

1.  UX talked this morning and we would like the grey navigation bar to be the same width as the VA header/footer.

![Screen Shot 2021-02-24 at 9 46 25 AM](https://user-images.githubusercontent.com/36964225/109018054-c2735b80-7685-11eb-86b8-00728f4c1a03.png)

2. When the grey bar transitions to sticky, there is a very

[2021-02-24 14:55] mshea0606 opened #20390 "[PM] DD4edu Determine Communications needs (GTM strategy)"
## Background
We need to determine what/if any comms and marketing is needed.

## Tasks
- [ ] Meet with comms and determine appropriate next steps
- [ ] Implement comms suggestion

[2021-02-24 15:06] mshea0606 opened #20391 "[PM] VA Profile: Notification preferences: Onboard Liz"
## Background
Liz Lantz will be joining the AE team on 3/4/21. We need to get her up to speed on the Notification Preferences work.

## Tasks
- [x] Review materials prior to meeting with Samara
  - [Product outline](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/notifications/notification-preferences/README.md)
  - [MVP documentation](ht

[2021-02-24 15:12] jonwehausen commented on #15757
Spoke with @micahchiang [here](https://dsva.slack.com/archives/CLY6Q69RV/p1614023548002700) --> We will be taking the approach of removing the injection attribute with each new video navigation.

@bsmartin-ep Would you be able to work with Micah on testing this locally when ready?

[2021-02-24 15:12] mshea0606 opened #20392 "[PM] Preferred Facility: Onboard Liz"
## Background
Liz Lantz will be joining the AE team on 3/4/21. We need to get her up to speed on the Preferred Facility work.

## Tasks
- [x] Review materials prior to meeting with Samara
  - [Product outline](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/profile/preferred-facility/README.md)
- [x] Meet with Samara to go over materials/

[2021-02-24 15:15] mchelen-gov commented on #16939
yeah this seems to be a consequence of the build/deploy logic. is it possible to improve that logic rather than adding a manual workaround?

[2021-02-24 15:15] MarciMcGuireGCIO opened #20393 "Yellow Ribbon: Schools near me"
## User Story

As a Veteran, I want to be able to find participating Yellow Ribbon schools near me by entering a location and being presented with a map showing schools, as well as a text-based list.

## Expected Behavior

This feature would behave in the same manner as Google maps and similar map-based tools wherein one enters city, state, zip and searches for specific types of facilities (ex gas

[2021-02-24 15:16] #19309 closed

[2021-02-24 15:19] micahchiang opened #20394 "Chapter 31 - Remove `data-gtm` tag from iframe on each video change"
## Description
Contextual issue - https://github.com/department-of-veterans-affairs/va.gov-team/issues/15757

The analytics team recently discovered that GA was only tracking initial video load on the chapter 31 orientation flow, instead of tracking all videos. As mentioned in the above Github issue, the possible reason for this is the inclusion of a `data-gtm-yt-inspected-XXXXXXX_XXX` attribute.

[2021-02-24 15:20] mshea0606 opened #20395 "[PM] DD4edu: Submit Privacy and Security Review request"
## Tasks
- [ ] Submit request for Privacy and Security Review

[2021-02-24 15:24] jhouse-solvd commented on #15486
@ala-yna @kevinmirc - let us have a look at the url that Kevin is using are using and help move this forward. sorry for any delay, but we will follow up to find out what's left to resolve.

[2021-02-24 15:26] emilywu-tw commented on #20116
Hi @jsev-io @Jeff-Hayter , I was just informed that my COR is now Cecilia Lee (cecilia.lee@va.gov). Apologies for any issues this may have caused!

[2021-02-24 15:26] jhouse-solvd commented on #18863
@mdewey - let us know if you still need assistance from the operations team? If not, let me know if it's safe to remove the "operations" label? thank you in advance and looks like Fleet helped get you on the right path.

[2021-02-24 15:30] mdewey commented on #18863
@jhouse-solvd

I have everything set up. I think I am good for now. This can be closed. Thank you so much!

[2021-02-24 15:31] #18237 closed

[2021-02-24 15:32] kevinmirc commented on #19433
At the end of the day, the user is really just choosing what facility to route their application to, so why not just explicitly ask them to chose that. It may lead to less confusion about the purpose of the question and make it easier for people who know about the program or go to an out-of-state facility (which is what we see a lot in research).

[2021-02-24 15:36] mpelzsherman commented on #20206
I would like to gain a better understanding of how assets are managed in our CMS system.

The global asset hostname replacement we are currently doing, whether using cheerio or regex, is pretty expensive.

It currently takes about 15 seconds to replace all of the URL's using my MacBook Pro. The pages.json file is 25MB.

[2021-02-24 15:37] MarciMcGuireGCIO commented on #18553
After meeting with Yellow Ribbon stakeholders on 2/3/2021, we learned a little more about the types of searches that are most important to Veterans, but are still compatible with this design:

- **Degree Type**
- **Out of Pocket Expense** (as opposed to funding/benefit amount).  This would be calculated by subtracting the benefit amount from tuition.
- Major (or area of study)

[2021-02-24 15:39] #18485 closed

[2021-02-24 15:40] #20303 closed

[2021-02-24 15:41] #18972 closed

[2021-02-24 15:41] jonwehausen commented on #16749
Handing QA off to @bmcgrady-ep

[2021-02-24 15:43] ashley-matthews opened #20396 "View All Messages (Folder View) | FE"
### **User Story**
As a Veteran, I want to see all of my messages in each of my folders so that I can access information easily.

### **Acceptance Criteria**
- All messages are displayed in the corresponding folders, sorted by the most recent
- For each message, the following information is displayed:
  - Sender + avatar
  - Date/ time the message was sent
  - Subject (pre-defined options)
  - Sub

[2021-02-24 15:43] mshea0606 opened #20397 "BE/PM |Profile: Follow up with VA Profile Re: "Address line too long" errors"
## Background
We are going to need to follow up with VA Profile on this. I'll try to summarize what is happening:

A user enters an address with an Address Line 1 length of less than 35 characters

We send that address to the validation API to check its validity

The validation API returns a single, confirmed, high-confidence address (and that suggested address has an Address Line 1 length greater

[2021-02-24 15:45] billfienberg commented on #18706
@1Copenut, will you review the following screenshot of https://staging.va.gov/find-locations, and confirm that the above issue is fixed?

![image](https://user-images.githubusercontent.com/6130520/109025765-a622ef00-7684-11eb-9c12-c628a43d9ddd.png)

## Relevant Code

- https://github.com/department-of-veterans-affairs/vets-website/blob/27e742a6afc5cd35b6459fa0eb977693852129a4/src/platform/site-wid

[2021-02-24 15:45] ianMcCullough-ob commented on #20199
@jonwehausen thanks for clarifying. Need anything else from me on this?

[2021-02-24 15:45] zacharymorel commented on #18389
@1Copenut I've tried both using spans and bold tags. Both are counted the same behavior as seen here. They count the number of items.

Any other suggestions to solve this issue?

[2021-02-24 15:46] jimiray commented on #20014
@joeniquette @christine-dillman This is the card that's delayed based on the changes in priority for IAM, should we move it back to backlog for now?

[2021-02-24 15:46] MarciMcGuireGCIO opened #20398 "Yellow Ribbon: Compare participating schools"
## User Story

As a Veteran, I want to be able to select several schools that participate in the Yellow Ribbon program and compare their features side-by-side.

## Expected Behavior
After a user searches for and is presented with a list of Yellow Ribbon schools that meet their search criteria, the user can select several schools to compare side by side.  The attributes for each school would be pre

[2021-02-24 15:47] bmcgrady-ep commented on #19334
Thanks for the QA @jonwehausen.

@mshea0606 I'm closing out this issue as the updates have been made on our side.

[2021-02-24 15:48] k80bowman commented on #20206
@mpelzsherman I'm working on trying to understand it better myself. I saw your comment on #19612 about moving all of that to the Liquid templates and I think that's not a bad idea. I'd like to get some comments on that from someone with a bit more knowledge around how all of this works, though.

[2021-02-24 15:49] kevinmirc commented on #19503
@jbritt1 confirmed on [slack](https://dsva.slack.com/archives/CBU0KDSB1/p1614181493201900?thread_ts=1611938061.012300&cid=CBU0KDSB1) that the fwdproxy timeout is 360 seconds.

[2021-02-24 15:51] jimiray commented on #19421
@joeniquette I found information on [SCIM](http://www.simplecloud.info/), System for Cross Domain Identity Management, and think it's a good fit. But we would also need to write schema extensions for relationship data and person type. And I also found a corresponding specification named [UMA](https://simpleidserver.readthedocs.io/en/latest/topics/use-uma-to-protect-api.html) that's used to protect

[2021-02-24 15:52] mpelzsherman commented on #20206
When I suggested this during our CMS Export engineering sync meeting yesterday, @swirtSJW said we couldn't do this because of assets uploaded by users in WYSIWYG fields. I'd like to examine that bit further.

I think we also heard that some assets are hosted on S3, and others not. I'd like to understand why we can't host all of our assets in a consistent location?

[2021-02-24 15:53] mdewey commented on #16574
Blocked until test data

[2021-02-24 15:53] jimiray commented on #19358
The current process is to snail mail the letter to the dependent. The only information that is contained in it is non-PII. There isn't an automated process to display the letter currently.

[2021-02-24 16:01] k80bowman commented on #20206
I think those are great places to dig in. From looking at our build process, it seems that speed improvements are going to come mostly from tracking down a number of smaller things like this (especially things that have the potential to get bigger as we start processing more and more content).

[2021-02-24 16:05] Samara-Strauss commented on #19728
Success is also that bank info successfully saves on the backend and is reflected in the profile.

Otherwise, looks good to me.

[2021-02-24 16:09] brianalloyd opened #20399 "CLP Refinement for Event Links and Background"
## Description

Ticket should fix the following:

Event title link: https://dsva.slack.com/archives/C01DS1XDEQ0/p1614100123028600?thread_ts=1614089815.018900&cid=C01DS1XDEQ0

YouTube link format: https://dsva.slack.com/archives/C01DS1XDEQ0/p1614099835027800?thread_ts=1614089815.018900&cid=C01DS1XDEQ0

Fix background not going full width:
![image](https://user-images.githubusercontent.com/12773166/

[2021-02-24 16:11] brianalloyd commented on #20399
This work has been completed, closing ticket [PR ticket](https://github.com/department-of-veterans-affairs/vets-website/pull/16143)

[2021-02-24 16:11] #20399 closed

[2021-02-24 16:13] drjecker opened #20400 "Track Research Readiness"
**Method:** Moderated testing with Veterans (Mar 8-12): We'll test an Invision prototype with Veterans recruited by Perigean in moderated 60-minute sessions.

Research Plan Draft : https://docs.google.com/document/d/1eMZ6xJE2m6E3OYvjNzHZm3fkOo6Y9mkzx_etnrWfA3w/edit#
Discussion Guide Draft: https://docs.google.com/document/d/1eMZ6xJE2m6E3OYvjNzHZm3fkOo6Y9mkzx_etnrWfA3w/edit#

### We’re ready to go

[2021-02-24 16:16] SKasimow commented on #20342
Hi @shiragoodman - no it isn't. Jen recently reviewed this project at a Design Council meeting; since it is an experiment for just the 1 page, they were ok with us moving ahead. You can read the notes from the meeting here:

https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/19867

Additionally, Ryan T. has been engaged and is providing

[2021-02-24 16:20] zacharymorel commented on #18389
What did just work is changing the <h2> to a <p> tag. When on safari, VO focused on the P tag and did not count the number of items.

[code]

I enlarged the text to have the same font size has an h2.

[2021-02-24 16:21] jbalboni opened #20401 "Add text mentioning that a link opens in a new tab when a link opens in a new tab"
It appears that we should be providing guidance to screen reader users when links open in a new tab. We have lots of these links in VAOS.

We need to:
1. Figure out a consistent suffix to append to links in an `aria-label` attribute
2. Update all our new tab links to have the link text plus the suffix about opening in a new tab in an `aria-label` attribute

Resource: https://accessibility.oit.ncsu

[2021-02-24 16:22] #18443 closed

[2021-02-24 16:22] #18692 closed

[2021-02-24 16:24] #20135 closed

[2021-02-24 16:25] denisecoveyduc opened #20402 "[SD] Surfacing VA Search Tools"
## Description

As a product team we would like to redesign the search results page to better meet the needs of veterans and other va.gov users.

## Tasks

- [ ] Design Exploration #21376
- [ ] Integrate Global Search elements update thru UI Consistency Discussions #21977
- [ ] Finalize Design Work #22498
- [ ] Review Designs with Ryan Thurlwell & Meg Peters from DEPO (TBD)
- [ ] Initiate Collab C

[2021-02-24 16:29] mmiddaugh commented on #18914
Community care example:
address: Fraternity Court West, Raleigh, North Carolina 27606, United States
bbox[]: -79.43
bbox[]: 35.03
bbox[]: -77.93
bbox[]: 36.53
type: provider
specialties[]: 152W00000X
page: 1
per_page: 10
trim: true
radius: 11
latitude: 35.78
longitude: -78.68

[2021-02-24 16:30] #16617 closed

[2021-02-24 16:36] lalexanderson-dsva opened #20403 "General Analytics Request for Mission Act Congress Report"
# Metrics Reporting Request

## What this form is for

Use this template to request one-off performance, usability, or outcomes va.gov metrics that is difficult to access or that needs analytics interpretation. If you have your KPIs set, please [request a KPI dashboard](https://github.com/department-of-veterans-affairs/va.gov-team/issues/new?assignees=joanneesteban&labels=analytics-insights%2C+ana

[2021-02-24 16:36] leanna-usds opened #20404 "App Preview Pre Login"
Forcing login (which we know can be complex) before users understand the features may be a missed opportunity. Is there a way to demonstrate features of the app pre-login to affect the cost/benefit analysis?

[2021-02-24 16:36] RLHecht commented on #19937
These articles have been published. Moving this ticket to validate.

[2021-02-24 16:36] LinnJS opened #20405 "Add submission loading spinner to 10-10CG"
## Technical Task

On the 10-10CG we have long wait times that can make the user wait as long as 2 mins, so we need to create an alert and spinner to let the user what is going on and set expectations so they are not confused on whether their application went through or not

## Expected Behavior

- On the review page, user sees a note to set the expectation that submission may take a while. That n

[2021-02-24 16:37] 1Copenut commented on #18389
I hesitate to make the H2 a P tag because it removes that H2 for assistive tech users. They won't hear that text if they're navigating by headings only, which might be overly disruptive.

I had a thought that you could try. It's messy and I'm not sure it works, but...

[code]

This used to throw an axe error, but there was talk they might be passing this to alleviate Safari + VO headaches around g

[2021-02-24 16:37] LinnJS commented on #20405
@ala-yna @jonathanjnelson need acceptance criteria of what is happening when on this spinner and alerts

[2021-02-24 16:40] mshea0606 commented on #20079
i just made this ticket [PM] Follow up with VA Profile Re: "Address line too long" errors #20397

[2021-02-24 16:48] #19297 closed

[2021-02-24 16:50] digitalken commented on #20085
PASS 2/24/2021 - Looks good and seems normal, from what I could find.  Closing.

[2021-02-24 16:50] #20085 closed

[2021-02-24 16:50] joanneesteban commented on #20243
Thanks for opening, Anna! Redirecting to the Contact Center team, @jwoodman5 .

[2021-02-24 16:54] amyknox opened #20406 "VET TEC Maintenance: Application Content Update"
Update the content for VET TEC per new law which allows active-duty service members with 180 days or less until RAD to receive VET TEC program funding.

Done: Content is drafted and reviewed by Education Service

AC
- Draft content
- Review with PO
- Share with Education Service

[2021-02-24 16:56] amyknox commented on #20406
@desireeturner - could you make sure this story ahs the right tags? TY!

[2021-02-24 16:57] billfienberg commented on #17460
@jwoodman5, good call. This issue is not included in https://github.com/department-of-veterans-affairs/va.gov-team/issues/18706 or the tracker spreadsheet that Sarkis created. I'll add this to my todo list for today.

[2021-02-24 16:58] laurenernest commented on #20403
Here's the VAOS dashboard with that data (would be good to have Analytics team validate)
https://analytics.google.com/analytics/web/template?uid=tumrAEYPRZqNfW2LVj5hbA

[Analytics All VA.gov Website Data [Production] VAOS Key Data 3.0 20200101-20201231.pdf](https://github.com/department-of-veterans-affairs/va.gov-team/files/6037585/Analytics.All.VA.gov.Website.Data.Production.VAOS.Key.Data.3.0.202

[2021-02-24 16:58] joanneesteban commented on #19044
@mandy-uxd - I'm moving this to our backlog since editing this design is lower priority than getting folks new data.

[2021-02-24 16:59] joanneesteban commented on #18249
@mandy-uxd & @ala-yna - moving to the backlog to clean our board for the sprint. We're looking to add a redesign of this dashboard back in when we have resources to prioritize this.

[2021-02-24 17:06] Mottie commented on #18923
Everything should have `aria-label`s now!

[2021-02-24 17:09] #20045 closed

[2021-02-24 17:09] #19116 closed

[2021-02-24 17:10] miabecker commented on #19233
@mshea0606 cc: @toddstanich below are the template ids for your respective notifications. Do you know if there is an opt in/opt out required for these notifications and if so how are you all handling it?

dev:

Education Template template id: a995dfe8-ee82-4f42-9ad4-ae82677683ab
Comp & Pen Template id: 779c9b42-9f53-4459-948e-54e51efc07a0

staging:
Education Template template id: b0d2455b-cbbc-4b9

[2021-02-24 17:11] bmcgrady-ep commented on #17498
@joanneesteban - [This](https://va-gov.domo.com/page/2047315758) dashboard is ready for design work/grooming.

[2021-02-24 17:12] U-DON commented on #20126
Ops has officially announced using GitHub Actions as the primary CI tool. I've confirmed with Ops about the new workflow for `vets-website`. The information in the write-up above is consistent with the announcement and recommendations.

[2021-02-24 17:12] #20126 closed

[2021-02-24 17:20] theodur commented on #18845
When we deploy the initial release, we will run the content only deploy daily at 11 AM EST. This gives us and the CMS team time to troubleshoot things that could go wrong before the daily full auto deploy.

[2021-02-24 17:21] allison0034 commented on #20228
@caw310 I think there is an extra space and dash at the end of the product outline link so it is returning page not found

[2021-02-24 17:21] Samara-Strauss commented on #20079
This ticket should be OK to close.

[2021-02-24 17:21] #20079 closed

[2021-02-24 17:22] Samara-Strauss commented on #19233
cc/ @lihanli ☝️

@miabecker there is not opt-in/opt-out because this email is effectively a receipt that direct deposit info was updated.

[2021-02-24 17:29] billfienberg commented on #17460
@jwoodman5, I just opened a [PR](https://github.com/department-of-veterans-affairs/vets-website/pull/16158) to update the focus styles of the Feedback button on https://staging.va.gov/find-locations.

[2021-02-24 17:33] #19603 closed

[2021-02-24 17:38] zacharymorel commented on #18389
@1Copenut So your suggestion passes axe Coconut but it does not pass the vets-website axe check from the linter...

[2021-02-24 17:39] brianalloyd opened #20407 "CLP Back to Top Component"
## Why you're here

Add back to top functionality to CLP component

### Frontend engineering support

- Add back to top function
- Validate working in CLP panel envoriment
- Determine location and if it matches design specs per Ryan T.

[2021-02-24 17:42] jason-gcio commented on #19737
@mshea0606 - I am going to remove this from the EBN board while we are in planning to avoid confusion, we can move them back after if you would like.

[2021-02-24 17:42] jason-gcio commented on #19734
@mshea0606 - I am going to remove this from the EBN board while we are in planning to avoid confusion, we can move them back after if you would like.

[2021-02-24 17:42] MarciMcGuireGCIO commented on #18470
@jonwehausen I know you are super busy. What is your next available time for an Analytics review? I'm happy to schedule something if you are able to share your calendar. Thank you!
Cc @zacharymorel

[2021-02-24 17:46] #19866 closed

[2021-02-24 17:47] jonwehausen commented on #20199
Nope! Testing Looks great @ianMcCullough-ob, here are each of the scripts we discussed today:

**NON-MODERNIZED**
[code]

**MODERNIZED**
[code]

cc: @jwoodman5 @billfienberg @ianMcCullough-ob

[2021-02-24 17:48] laurenernest commented on #17933
@jenniemc I don't see this updated appointment card in the documentation. Can you get a screenshot please?

[2021-02-24 17:49] sporeboy commented on #19729
Convo guide stubbed here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/direct-deposit/edu-direct-deposit/design/uat/dd-edu-uat-convo-guide.md

Content commented-out for now.

[2021-02-24 17:54] digitalken opened #20408 "Generic Error State | Refresh before calling help center - Try Again button accessibility hint is wrong"
## What happened?
"Try Again" button accessibilityHint is saying "attempts to retry loading data".
It should say “Try again to load VA Mobile app”

Happens with Android and iOS.

## Specs:
Try again button

Title= "Try again"
accessibilityHint= “Try again to load VA Mobile app”
accessibilityRole= “button”

## Acceptance Criteria
- accessibilityHint= “Try again to load VA Mobile app”

## Bug Severi

[2021-02-24 17:54] edmangimelli opened #20409 "Investigate Most Frequent Form 526 Error"
Investigate Most Frequent Form 526 Error _that isn't currently being tackled by another ticket_.

Run the Form526 errors report script (rake task), and go down the list (should be sorted by how frequently the error happens)  **to find the most frequent error that isn't currently being tackled.** This could result in a bug fix PR _or_ punting to another team (like some of our identity bugs).

## Ac

[2021-02-24 17:57] digitalken commented on #18227
PASS 2/24/2021 - UI looks good but logging a small bug on accessibilityHint for the 'Try Again' button.  Closing.

https://app.zenhub.com/workspaces/va-mobile-app-5f205eac3155a2000f422ecb/issues/department-of-veterans-affairs/va.gov-team/20408

[2021-02-24 17:57] #18227 closed

[2021-02-24 18:00] edmangimelli opened #20410 "Investigate Most Frequent Form 526 Stopping Point"
Investigate Most Frequent Form 526 Stopping Point _that isn't currently being tackled by another ticket_.
Stopping point being: *for unsubmitted forms*, the page/point where the Veteran stops filling out the form.

1. Crunch the Form526 save-in-progress data to get a list of where Veterans are stopping in the form
2. For each stopping point, tally up how many Veterans stopped there. Sort the list

[2021-02-24 18:01] SKasimow commented on #20125
@youngfreezyVA Hello - yes, included the color (and other details) in this ticket (comment section):

- https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/19867

**Pasting here too:**

- decrease the size of the icon
- change to blue
- place a thin, medium gray circular line around the icon (a la NYT)
- upon hover add background color t

[2021-02-24 18:02] caw310 commented on #20228
@allison0034 , I think the link melded with the next item. I fixed.

[2021-02-24 18:03] SKasimow commented on #20125
@youngfreezyVA let me know if that is specific enough until we have design support on - board

[2021-02-24 18:11] dneel-bah opened #20411 "STEM AD: Load test endpoint"
## Value Statement
As a member of the development team, I need to ensure that the new automated denial endpoint is performant so that when the new automated denial functionality is live it does not have a negative impact on the claims tool.

## Assumptions:
1. None

## Acceptance Criteria:
1. Load testing has been completed against the 'stem_claim_status' endpoint (http://localhost:3000/v0/educati

[2021-02-24 18:12] peggygannon commented on #20228
thanks, @caw310 thanks, Carol. I have no content feedback.

[2021-02-24 18:12] vhenry07 commented on #10481
Closing as this is an issue with the identify team.

[2021-02-24 18:12] #10481 closed

[2021-02-24 18:13] jimiray opened #20412 "Research Identity Consolidation / Service / Gem"
Research possibilities of consolidating identity to 1 class for interaction that contains all the needed attributes across the various VA external properties including SAML/OAuth interactions with external IDP's.

[2021-02-24 18:14] zacharymorel commented on #18389
CC @1Copenut I found the package used for our comment linting https://github.com/jsx-eslint/eslint-plugin-jsx-a11y/blob/master/docs/rules/aria-role.md

I'm guessing it's safe to say you already know about it! haha

[2021-02-24 18:17] jimiray commented on #20412
Draft PR up at: https://github.com/department-of-veterans-affairs/vets-api/pull/6003

[2021-02-24 18:18] jason-gcio opened #20413 "Conduct UA for LGY: COE"
## Background
LGY/COE is in the Discovery phase. Research session dates/times have been requested for the first week of March. The eBenefits team will conduct discovery interview with Veterans and service members who have experience with VA home loan benefits.

## Goal
The overall goal of these interviews is to achieve a baseline understanding of the VA loan timeline and how COE fits into that pro

[2021-02-24 18:20] youngfreezyVA commented on #20125
yes that works, thank you

[2021-02-24 18:22] jason-gcio opened #20414 "Schedule Design Intent: CH31 Orientation Content"
`async review`

## Background
Now that this feature is more or less fully mocked, we need to bring it before the Design Review group for further discussion and approval.

## Tasks
- [x] Determine if the meeting should be asynchronous or not
  - Sync when designs are very new/ significantly different; else async
- [x] Determine outcomes from the review: _"What are we asking for?"_
- [x] Schedule a

[2021-02-24 18:23] joanneesteban commented on #19887
Additional Medallia work: https://github.com/department-of-veterans-affairs/va.gov-team/issues/18278

[2021-02-24 18:26] denisecoveyduc opened #20415 "Define iterations for Typeahead dashboard"

[2021-02-24 18:27] denisecoveyduc commented on #19693
Due to refinements needed on the Typeahead dashboard we need to bump this issue to the next sprint.

[2021-02-24 18:27] #18279 closed

[2021-02-24 18:27] #15099 closed

[2021-02-24 18:30] #19583 closed

[2021-02-24 18:30] jason-gcio opened #20416 "Review Search for a VA representative"
## Background
We want to check and see what is in the current mockup and see what it looks like from the FE perspective.

## Considerations
- Yellow ribbon might have some good starting points

## Tasks
- [x] Spend no more than a few hours reviewing Search POA mockups
- [x] Document any comments or questions that arise from that in GH to be shared with Design and/or team

## Acceptance Criteria
-

[2021-02-24 18:33] lexicalninja commented on #20175
awaiting response from IAM on LOE to complete this task.

[2021-02-24 18:34] denisecoveyduc opened #20417 "Typeahead Suggestion appears on two lines"
## Description

Typeahead suggestions that are longer than ?? characters are rolling over onto a second line.

## Background/Context/Resources
<img width="328" alt="Double Line Suggestion" src="https://user-images.githubusercontent.com/72393866/109091897-9d153a80-76e3-11eb-9815-976cf2526df4.png">

## Tasks

- [ ] Explore the suggestions list to see how frequent this is happening
- [ ] Determine wh

[2021-02-24 18:35] jhouse-solvd opened #20418 "EKS - Network policies (calico + traefik related)"
## Description
_What details are necessary for understanding the specific work or request tracked by this issue?_

## Background/context/resources
_Any additional context for the reader to know, if applicable_

## Technical notes
_Notes around work that is happening, if applicable_

---
## Tasks
- [ ] _What things need to happen?_

## Definition of Done
- [ ] _What is the expected outcome of this

[2021-02-24 18:36] joanneesteban commented on #20309
@laurenernest - confirming here if you're looking for GTM implementation or a GA report? Thanks!

[2021-02-24 18:36] bsmartin-ep commented on #20324
@kellylein GA access has been granted to your AdHoc email.  You should receive an email shortly.

Let me know if you have any questions.

Closing...

[2021-02-24 18:36] #20324 closed

[2021-02-24 18:36] lexicalninja opened #20419 "Start Architecting Form Validation System"
As developers, we need a way to quickly and reliably validate inputs.

Currently working on rough architecture before beginning the more in-depth designs.

![image.png](https://images.zenhubusercontent.com/5f60e9930170febc016f0a50/3a790d9b-8ff9-45e9-aba8-043900db89f5)

[2021-02-24 18:37] joanneesteban commented on #20347
@mmiddaugh confirming that this is separate from VAMC and Facilities?

[2021-02-24 18:37] jhouse-solvd commented on #19579
Team is feeling good about this. Moving to review/qa

[2021-02-24 18:37] denisecoveyduc opened #20420 "Typeahead Bug: Doubling Text"
## Description

Text is doubling up on the typed word.

## Background/Context/Resources

<img width="312" alt="Double Typed Word" src="https://user-images.githubusercontent.com/72393866/109091640-2bd58780-76e3-11eb-9f37-54ef5634322c.png">

https://user-images.githubusercontent.com/72393866/109091767-617a7080-76e3-11eb-8bb7-36b71a6b3448.mov

## Definition of Done

- [X] Issue has been fixed

[2021-02-24 18:39] jhouse-solvd commented on #17485
One thing to work through is how to export/import grafana dashboards

[2021-02-24 18:41] jonathanjnelson commented on #20320
Hi @peggygannon

The 10-10CG can take up to 2 mins to process on the backend. Therefore, we are looking to

-  add progressive messaging to the loading indicator on submission
-  after a designated time (yet to be determined) add an alert
-  Add a note on the review page setting expectations for the user

![Screen Shot 2021-02-24 at 11.55.26 AM.png](https://images.zenhubusercontent.com/5df3ac60534

[2021-02-24 18:42] laurenernest commented on #20309
For sure a report, but since this is a new flow with new pages I wasn't sure if there was any other GTM implementation that needed to happen.

[2021-02-24 18:44] MarciMcGuireGCIO opened #20421 "SPRINT 42 PRIORITIES"
## Instructions for first few sprints using this priority document:

- This is a living document that everyone is empowered to keep updated.
- If you complete a task, please come here to check if off.  If you add a new issue or run across something that needs to be discussed in the next grooming session, please include add it to Discussion Topics/Grooming.

## Sprint 42 Priorities

1.  Implement G

[2021-02-24 18:45] jonathanjnelson commented on #20320
An alert might be needed due to the long wait times

![image (6).png](https://images.zenhubusercontent.com/5df3ac60534bc19675f4ca43/523afa51-feb5-4eeb-9c82-dbd23967e905)

[2021-02-24 18:47] joanneesteban commented on #20403
@lalexanderson-dsva - do you know the product owner for missionact.va.gov? We don't believe we have data on this URL.

[2021-02-24 18:49] mshea0606 commented on #17739
We are currently waiting on a response from VA Profile

[2021-02-24 18:52] #19752 closed

[2021-02-24 18:56] joanneesteban commented on #17871
@SKasimow - can you let us know what product information you would like to know from this metric? What problem you're looking to solve? We've found that the volume vs. English is really low and won't give a good visual. Can you give us an understanding of the product question you're looking to solve? We can look into which metrics might help you from here.

[2021-02-24 19:01] dmccurdybah commented on #19566
PR: https://github.com/department-of-veterans-affairs/vets-website/pull/16162

[2021-02-24 19:02] MarciMcGuireGCIO commented on #18920
:wave: Hi @NCHLiberty - just doing a sprint wrap-up check on the status of open issues.  Are there any updates on this?  Thanks!

[2021-02-24 19:03] MarciMcGuireGCIO commented on #17484
Hi @NCHLiberty - doing my end-of-sprint check on the status of open issues.  Any updates on this?  Thanks!

[2021-02-24 19:03] MarciMcGuireGCIO commented on #19561
Hi @NCHLiberty - doing my end-of-sprint check on open issues.  Any updates on this one?  Thanks!

[2021-02-24 19:07] mviterna commented on #17484
@swirtSJW So, I'm wondering why we would select rowid for the PK? I remember the concept of rowid back in my Oracle days, but I don't know what DB implementation the CMS is using. Is it MSSQL?

When I used to be involved with Oracle DB, we would never use rowid for a PK, because if you dropped the table and reimported it (or just removed the row and readded it), or something to that extent, you wo

[2021-02-24 19:08] MarciMcGuireGCIO commented on #18920
Hi @NCHLiberty; checking open issues on our board.  Any updates on this one?  Thank you!

[2021-02-24 19:08] mviterna commented on #17484
@MarciMcGuireGCIO Let's set up a meeting and discuss. I have a decent understanding of Forms now and think I can try to set up a plan of attach. It is really going to be more of getting a solution satisfactory to both sides. I know our customers on our side need to preserve form history, so whatever we do with a migration we need to make sure we retain that data.

[2021-02-24 19:08] zacharymorel commented on #18389
Something else worth of note, making the span hidden but adding a `aria-label` for the header allows it to be read correctly.
Not sure if that flys with y'all though.

![Screen Shot 2021-02-24 at 2 07 33 PM](https://user-images.githubusercontent.com/26075258/109052488-a84b7480-76a9-11eb-9bf2-b50b8cf99832.png)

[2021-02-24 19:10] MarciMcGuireGCIO commented on #17484
@mviterna Sounds good.  Who would you like included in that, and can you provide a few possible time slots?

[2021-02-24 19:10] zacharymorel commented on #18398
@joshkimux if you have time, can you give this comment a read:
https://github.com/department-of-veterans-affairs/va.gov-team/issues/18398#issuecomment-781387887

[2021-02-24 19:13] bosawt opened #20422 "Integration Testing to support upcoming MPI change"
We currently have a request to implement some form of integration testing to support an upcoming MPI change that adds a `personalRelationship` tag to include information about an associated user. Since there are changes on the `vets-api` end as well as `MPI`, we're requesting some kind of accommodation with integration testing.

The following describes our particular use case:
- We are adding the

[2021-02-24 19:14] mviterna commented on #17484
@MarciMcGuireGCIO We need Greg Bowman in on it and he is out today. I'll get with him and propose a time later in the week.

[2021-02-24 19:15] mviterna commented on #17484
@MarciMcGuireGCIO Just need one technical person on your end, probably @swirtSJW or @zacharymorel

[2021-02-24 19:16] camerontesterman opened #20423 "Fix Education field on FSR prefill"

[2021-02-24 19:17] Samara-Strauss commented on #17739
@mshea0606 can you confirm with @erikphansen and @lihanli whether there is any more work for them to do on this issue? I don't think there is, and if not, we can close this ticket.

If there is no more work for Erik or Lihan, please create a new ticket to track VA Profile's work, and please include the relevant parts of [this thread](https://dsva.slack.com/archives/C7TE0PFTL/p1608138662207400) so

[2021-02-24 19:17] leahkeeler opened #20424 "MCP VAHRC Interviews Readout"

[2021-02-24 19:17] camerontesterman opened #20425 "Coordinate with DMC backend devs on Production endpoint cutover"

[2021-02-24 19:17] NCHLiberty commented on #18920
hi @MarciMcGuireGCIO this one did not fit in the sprint that is ending now but is prioritized into the one that is about to start.

[2021-02-24 19:18] jason-gcio commented on #20225
Design Intent feedback not required

[2021-02-24 19:18] ashley-matthews opened #20426 "Compose a Message form (UI)"
## User story
As a Veteran, I want to compose a new message so that I can communicate a new question or need to my healthcare team.

## Acceptance Criteria
1.  Create UX/UI for the form on the "Compose Message" page using the form wrapper component
2. Recipient section:
     - Marked as "Required"
     - Pull in dropdown field CC.
     - _Note: the dropdown options will be service-driven and are n

[2021-02-24 19:20] NCHLiberty commented on #17484
@MarciMcGuireGCIO please include me too as optional for learning purposes / to stay up to speed. Thanks

[2021-02-24 19:20] brianalloyd commented on #19558
Closing Sprint Tasks

[2021-02-24 19:20] #19558 closed

[2021-02-24 19:20] MarciMcGuireGCIO commented on #18398
@zacharymorel Josh is on PTO until Mar 8 - https://governmentcio-fed.slack.com/archives/CLN0HPZDM/p1612200987004300.

[2021-02-24 19:21] MarciMcGuireGCIO commented on #17484
@mviterna Sounds good; thanks! @NCHLiberty - will do!

[2021-02-24 19:24] zacharymorel commented on #18398
Ah thank you @MarciMcGuireGCIO, I'll ping @1Copenut then in regards to the comment.

[2021-02-24 19:25] NCHLiberty commented on #19561
this ticket is prioritized into the sprint that is about to start tomorrow.

[2021-02-24 19:25] MarciMcGuireGCIO commented on #18920
@NCHLiberty Thank you for the update!

[2021-02-24 19:26] jbritt1 commented on #19331
![image.png](https://images.zenhubusercontent.com/5d9b3f56add771000187d3a8/a09f3e25-5ac3-4da1-be32-92e6d960094b)

[2021-02-24 19:26] jbritt1 commented on #19331
I am unsure on the specifics of any changes made on the other side, but it appears this is now resolved.

[2021-02-24 19:27] NCHLiberty commented on #18920
This ticket is prioritized into the sprint that begins tomorrow.

[2021-02-24 19:27] shiragoodman commented on #20342
Thanks for the info @SKasimow ! that definitely helps. I checked with @mnorthuis on your response to the url question and she informed me that urls will be impacted because you are exposing deep links. With that info, we are recommending the following touchpoints:
- IA Request:
- Midpoint Review (can now be asynchronous)
- Analytics Request
- Staging Review
- Privacy & Security Review

For Contact

[2021-02-24 19:28] JenLJ commented on #19721
On iPhone 11, I took screenshots of the frames immediately before and after the transition - and the Estimate your Benefits heading is getting cut off.
![Sticky Nav 1](https://user-images.githubusercontent.com/36964225/109054937-87385300-76ac-11eb-8ef0-638fa45502d5.png)
![Sticky Nav 2](https://user-images.githubusercontent.com/36964225/109054938-87d0e980-76ac-11eb-9123-811b0adb2c99.png)

[2021-02-24 19:29] erikphansen commented on #17739
I'm 99% sure that there's nothing the FE can do about this issue, period.

[2021-02-24 19:29] annaswims commented on #20243
Could you also give @edmangimelli access too? ed.mangimelli@adhocteam.us

[2021-02-24 19:32] lihanli commented on #17739
nothing else for the backend to do right now

[2021-02-24 19:36] zacharymorel commented on #20295
Does this need a designer?

[2021-02-24 19:36] denisecoveyduc opened #20427 "Design work for Acronyms Clarity"
## Description

Determine how and if we should integrate acronym meaning into typeahead.

## Background/Context/Resources

Acronym GH Database Link in [GH#19373](https://github.com/department-of-veterans-affairs/va.gov-team/issues/19373)

Acronym Examples:
- Civilian Health and Medical Program of the Department of Veterans Affairs (CHAMPVA)
- Board of Veterans' Appeals (BVA)

## Tasks

- [x] Acron

[2021-02-24 19:36] #19088 closed

[2021-02-24 19:39] denisecoveyduc opened #20428 "Acronym DB Exploration"
## Description

research is needed in order to create a development plan for a VA.gov acronym tool.
This tool would catch users entering acronyms in the search bar, and would provide information as to what the acronyms stand for, or to assist their searches on those topics
## Tasks

- [ ] Determine best practices in keeping with VA standards for such a tool
- [ ] Create a series of tickets to outl

[2021-02-24 19:41] #16529 closed

[2021-02-24 19:42] jhouse-solvd commented on #17486
Living document here:
https://vfs.atlassian.net/wiki/spaces/VI/pages/871202823/Create+and+deploy+a+Kubernetes+EKS+Cluster+in+VSP
Closing

[2021-02-24 19:42] #17486 closed

[2021-02-24 19:42] digitaldrk opened #20429 "CH31 Last mile"
## Background
We have somethings in flight and also, need to be good partners and securely get them updated credentials.

- [x] Get cms/api folks new staging creds since they were changed recently [1]
- [x] Keep up with the Credentials task [1]
- [x] Test form since we went live with the pdf generation [2]

[2021-02-24 19:43] zacharymorel commented on #20267
Is it safe to say I can add the form usage description between the search result **title** and **Form last updated:** ?
Also, is it safe to say I can use a lighter font like so?
![Screen Shot 2021-02-24 at 2 41 26 PM](https://user-images.githubusercontent.com/26075258/109056640-acc65c00-76ae-11eb-91d6-1a618fdeecb0.png)

[2021-02-24 19:44] lexicalninja opened #20430 "Set up users to get DSLogon Accounts"
Mobile App team needs its own set of users for development and testing.

We currently have a Veteran set up with VBMS in MVI. We need to get an index for this user created in the DMDC/DEERS staging system.

[2021-02-24 19:45] lexicalninja commented on #20430
We are currently working our way through contacts in VACO in order to find a contact at DMDC to help us out.

Blocked until we find a contact

[2021-02-24 19:47] MarciMcGuireGCIO commented on #20295
@zacharymorel I'm thinking not, as long as we follow these guidelines - https://design.va.gov/components/buttons and have the detail page links underlined.

I aaw the design & rationale for the "secondary" button (current CTA button) on that design system page , but I'd argue that the Online Tool CTA is **not** a secondary action that we are trying to downplay.  Agree, @johnhashva?

I also see tha

[2021-02-24 19:48] lexicalninja opened #20431 "Get test Veteran an MHV staging account set up"
Mobile app team needs to get their test Veteran set up in the MHV staging environment in order to add appointments and secure messaging to the user.

We need to find out how this happens.

[2021-02-24 19:49] AngelaFowler82 opened #20432 "Sitewide: [screen reader] Directions to facility link, alt text renders "Directionsto facility.""
14321
## Instructions

1. Click or press the gear icon next to the "Labels" heading on the right. Search for your team in the labels list. If your team is not listed in the Labels menu, please leave a comment after you have created this issue. The Product Support team will create a new label for your team.
2. If this issue is being opened by a VFS team, please add the `vsp-product support` label.

[2021-02-24 19:49] lexicalninja commented on #19889
should be complete with back end change and our internal user indicated that all data matched up on all 3 accounts

[2021-02-24 19:49] #19889 closed

[2021-02-24 19:49] MarciMcGuireGCIO commented on #20267
@zacharymorel I think we do need a design and content eyeball on this since it changes the layout.

[2021-02-24 19:54] #17709 closed

[2021-02-24 19:54] digitaldrk opened #20433 "Read Diaries Endpoint"
## Background
FE needs data to show users their dependent award status. The PR related to this ticket will make the final connection between BGS and the FE.

## Tasks
- [x] Create swagger docs
- [x] 90% test coverage

## Acceptance Criteria
- [x] PR has been requested for merging

[2021-02-24 19:55] lexicalninja opened #20434 "Get access to VAOS as a provider"
Mobile app team needs to have access to scheduling and to act as a provider for appointment scheduling. The team also needs to be able to create VA connected care appointments and connect as both the provider and patient in order to test app linking and app logic around displaying the "join session" buttons in the VACC appointments.

[2021-02-24 19:55] #19828 closed

[2021-02-24 19:59] zacharymorel commented on #20273
This seems similar to : https://github.com/department-of-veterans-affairs/va.gov-team/issues/10754
Are we solving the same problem here?

[2021-02-24 20:01] MarciMcGuireGCIO commented on #20273
Let's look at them.

[2021-02-24 20:11] jenniferlee-dsva commented on #19867
Looks good @SKasimow . Per this slack thread https://dsva.slack.com/archives/C52CL1PKQ/p1614112622035800 Ryan is giving this some thoughts for us and will post iteration/solidification of concept here for you and Fareez.

[2021-02-24 20:13] #19601 closed

[2021-02-24 20:14] peggygannon commented on #20320
Hi, @jonathanjnelson I have a few question about this:

I want to make sure I understand when users will see this message, is it after they hit submit button,  but before they see the confirmation screen?

[2021-02-24 20:15] mdewey commented on #16574
So I sinked (sunked?) up with Dillo. He has a test user, but there is some issue with id.me  and Lighthouse having different ICNs attached to the same user. He was able to get  user that he can manipulate so that he not blocked, but I can’t use that user on the front end yet. I could use through his same method of manipulation, but it wouldn’t be using a real user

[2021-02-24 20:17] denisecoveyduc opened #20435 "Integrate UX Discovery findings and next steps into planning"
## Description

Ensure findings from UX Discovery research have informed/defined product roadmap planning. Use key findings and next steps to define initiative (new or existing) to bring value to users.

## Background/Context/Resources

_TBD: Applicable information to be added _

## Tasks

- [x] Megan & Denise to meet and validate that keyfindings, next steps and recommendations are clearly outlin

[2021-02-24 20:18] msmanak commented on #17019
Updated to add for "Double Tap to activate" announcement connecting to the [US #20173](url)

[2021-02-24 20:19] amyknox commented on #19721
This works and looks as expected for me. 2/2

[2021-02-24 20:19] amyknox commented on #19569
No additional comments.  2/2

[2021-02-24 20:22] shiragoodman commented on #18608
Update 2/24: This work was completed, however the team was challenged with what steps come next. It is likely we will come back to this in order to determine how best to remove Collaboration Cycle references from practice area documentation, and move Collaboration Cycle documentation (for example: how to run foundational accessibility tests at Staging Review) currently associated with the practice

[2021-02-24 20:23] digitalken commented on #19789
PASS 2/24/2021 - Looks and sounds correct.  Retry button actually has the wrong hint, so I've logged a bug on that.

https://app.zenhub.com/workspaces/va-mobile-app-5f205eac3155a2000f422ecb/issues/department-of-veterans-affairs/va.gov-team/20408

[2021-02-24 20:23] #19789 closed

[2021-02-24 20:25] digitalken commented on #18797
I'm going to need a user who is in the process for this to be able to test.  They need to be where they can ask for their claims decision.

[2021-02-24 20:26] #18608 closed

[2021-02-24 20:28] jonathanjnelson commented on #20320
@peggygannon

Yes, that is correct

[2021-02-24 20:29] digitalken commented on #17647
PASS 2/24/2021 - Sounds good on iOS.  Closing.

[2021-02-24 20:29] #17647 closed

[2021-02-24 20:36] jbritt1 commented on #19331
Additional notes:

![image.png](https://images.zenhubusercontent.com/5d9b3f56add771000187d3a8/37899697-0cb3-4966-aed1-5eee8cba38a2)

[2021-02-24 20:37] #19993 closed

[2021-02-24 20:38] jhouse-solvd commented on #19503
@kevinmirc - Here's some lengthy information, but worth considering...

There are a few different HA proxy configuration settings to consider for forward proxy, with respect to timeout of connections, aside from what's configured at the AWS load balancer level:

The defaults specified in [this config](https://github.com/department-of-veterans-affairs/devops/blob/master/ansible/deployment/config/fw

[2021-02-24 20:38] #18914 closed

[2021-02-24 20:42] brianalloyd opened #20436 "Full Accessibility & 508 Office Audit [Public Websites - Campaign Landing Page]"
## Steps to complete the Full Accessibility & 508 Audit:
- [x] VFS: Verify all accessibility defects that were identified at Staging Review have been fixed before requesting a full audit *(VSP understands that other teams may be accountable for fixing the defects identified at Staging Review. These defects are exempt and will not block a team from scheduling this touchpoint)*
- [x] VFS Product Man

[2021-02-24 20:45] jwoodman5 commented on #20243
Hi @annaswims - Sure thing, I will ad Ed to the request also. However, ForeSee can only add folks with VA.gov email addresses. Can you please provide those as well? Thanks.

[2021-02-24 20:45] MickinSahni opened #20437 "VSA Onboarding - AJ Jakabcin"
## Welcome to the VSA Program

Welcome! This issue will be used to track your onboarding to the VSA Program.

---

## Pre-Onboarding

**Operation Lead Tasks**

- [ ] Send Welcome email to New Hire (request GitHub Username)

*Send Notifications with New Hire details (name, position, start date) to:*

- [ ] Admin Analyst
- [ ] VA Leadership
- [ ] VA PO
- [ ] Practice Lead
- [ ] VSP Onboarding

**Acc

[2021-02-24 20:46] #19997 closed

[2021-02-24 20:46] #19994 closed

[2021-02-24 20:50] annaswims commented on #20243
Ed.Mangimelli@va.gov and anna.carey@va.gov

[2021-02-24 21:00] kevinmirc commented on #19503
@jhouse-solvd, Thanks for providing this info. I'll go ahead and open up a pull request as you suggested.

I'm not so sure we'll be able to do a "real" test (a 60+ second submission). What I can do is apply the changes to the staging and ensure that applications on our form can still go through as expected. Then apply the same changes to production and monitor logs closely to ensure there was no i

[2021-02-24 21:01] brianalloyd commented on #20436
Placing in backlog, @1Copenut `NO ACTION` needed at this time until we've cleared VSP Staging review scheduled for March 4, 2021.

[2021-02-24 21:01] amyknox commented on #18316
Thanks @joanneesteban - Any word on how @JasonTheBearded is doing?

Also, do you have a smaller target than "March" for when this might be pulled into your team's work?

[2021-02-24 21:02] #19599 closed

[2021-02-24 21:03] peggygannon commented on #20320
@jonathanjnelson  Here's content recommendation for after 30 second spinner message.

- Standard process time:  Please wait while we process your application.

- And after 30 seconds: We’re processing your application. This may take up to 2 minutes. Please don’t refresh your browser.

I don't think we need an alert in addition to this updated spinner message^^.  But I do recommend one if processin

[2021-02-24 21:03] #20049 closed

[2021-02-24 21:03] amyknox commented on #19983
Initial prioritization here: https://boozallen.sharepoint.com/:w:/r/teams/benefitsintegrationplatform/education/_layouts/15/Doc.aspx?sourcedoc=%7BCE6FA72A-0396-43C4-825B-CD9ADB78A13A%7D&file=High%20and%20Medium%20Level%20Priorities%20for%20Search%20and%20Compare.docx&action=default&mobileredirect=true

[2021-02-24 21:03] #17223 closed

[2021-02-24 21:03] #17221 closed

[2021-02-24 21:04] #19419 closed

[2021-02-24 21:04] #19975 closed

[2021-02-24 21:05] #19765 closed

[2021-02-24 21:06] digitalken commented on #17397
2/24/2021 - Able to verify the Covid notice.  Looks good.
The other states I'll need someone that is in the process at various points to verify.

[2021-02-24 21:07] #19358 closed

[2021-02-24 21:09] jenniemc commented on #17933
You got it. The appointment card documentation is updated with the VA phone screenshot

[2021-02-24 21:13] SKasimow commented on #19867
@jenniferlee-dsva Thanks Jen!

[2021-02-24 21:13] denisecoveyduc opened #20438 "Share UX findings with Stakeholders"
## Description

Share research findings with POs.

[2021-02-24 21:13] RLHecht commented on #19073
This page has been published. Moving to validate and will close after live on site.

[2021-02-24 21:14] bcastoe commented on #20071
Task #20071 - Create new Health Services "LIST, PLAYBOOK" for VA Texas Valley health care [BA] - is Complete and moved to Validate.

[2021-02-24 21:15] sshein commented on #18690
Synthesis can be found here https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/facilities/facility-locator/mobile-experience/research-findings.md

Christian also [created a deck](https://docs.google.com/presentation/d/1Wmmbrb_Pa12i09-b6z_VAVI6a822LA0k7CjFlk7n7E4/edit#slide=id.g74f6dda485_0_194) that he can share with your team next week when he's back from his confe

[2021-02-24 21:17] joeniquette commented on #20014
Please confirm with the request team that they are going to shelve this or if they want to move forward with any of the components.

[2021-02-24 21:17] Samara-Strauss opened #20439 "[PM] Onboarding: AJ Jakabcin"
## Background

Welcome, AJ! We can use this ticket to track onboarding to the authenticated experience team.

## Tasks

### Intro to team members

Please schedule a short chat with each of these folks (internal mtgs can come from Ad Hoc account):

- [x] Erik Hansen
- [x] Sandra Hallie
- [x] Lihan Li
- [x] Tressa Furner
- [x] Liz Lantz

### Meetings with Samara

- [x] Project overview call (we can

[2021-02-24 21:20] #20333 closed

[2021-02-24 21:20] denisecoveyduc opened #20440 "Establish Wireframes for Onsite Search KPIs"
## Description

KPIs for Onsite Search have been identified in GH#16778. To ensure clear lines of communication the search and discovery team would like to establish wireframes/depictions of how we would like to see data represented.

## Background/Context/Resources

Analytics Request to establish KPI Dashboard  - GH #16778

## Tasks

- [x] Create wireframes or some form of representation for data

[2021-02-24 21:21] bessgreen opened #20441 "Cancel VAVC appointments"
## User story
As a user, if I can't cancel my VAVC appointment in the app directly, I want a phone number or direction for where to go next.

## Acceptance Criteria
1. For all 4 VAVC appointment types, update the **Need to cancel?** ListItem for all upcoming appointments that have not been canceled. This UI update applies to the following appointment types:
     - VAVC at Home
     - VAVC at a VA

[2021-02-24 21:24] joeniquette commented on #20110
Closing as no additional actions are required. Data has been provided to requested parties.

[2021-02-24 21:27] jhouse-solvd commented on #19503
@kevinmirc - awesome. let us know how your testing goes. I've re-opened the ticket, and adding the label "awaiting-feedback"

[2021-02-24 21:29] brianalloyd opened #20442 "Add feature toggles (Auth/Unauth Cerner Pages)"
## Issue Description
This is related to future Cerner roll outs.

User story: As a FE engineer, I need a complete set of all possible facility IDs, so I can create scalable flipper logic for future roll outs.
_Created a new ticket to address the add of feature toggles (auth/unauth Cerner Pages)_

Reference Ticket #15309 for additional details.

Needed Facility ID's.

Alaska VA: 463
Boise, ID: 531

[2021-02-24 21:35] jonathanjnelson commented on #20320
@peggygannon I agree with you on the alert. If possible, it would be great to help with the content of the alert in case we want to show after that given processing time.

Here is a screenshot of the current review page  **Add a note on the review page setting expectations for the user.**

![Screen Shot 2021-02-24 at 3.31.32 PM.png](https://images.zenhubusercontent.com/5df3ac60534bc19675f4ca43/595

[2021-02-24 21:37] RLHecht commented on #19073
Changes live. Closing ticket. Will open up a new one if/when we make more substantive changes to the page to better align with our other pages.

[2021-02-24 21:37] #19073 closed

[2021-02-24 21:40] #19580 closed

[2021-02-24 21:42] RLHecht commented on #19937
These pages are published. Closing ticket.

[2021-02-24 21:42] #19937 closed

[2021-02-24 21:48] billfienberg commented on #20199
@jonwehausen in the code you provided, there is a `nonce` attribute on the `script` element:

[code]

Do you know where that `2Obg9dyrqzSb6rSM1jSK0w==` value came form? Do you know if we should keep that value or replace it with the placeholder [nonce value we use everywhere else](https://github.com/department-of-veterans-affairs/vets-website/search?q=csp_nonce) (`**CSP_NONCE**`)?

[2021-02-24 21:49] jbalboni commented on #19802
Looks good to me. We can focus on the header after adding the provider.

@LanceGundersen This should be ready for you to work on now.

[2021-02-24 21:50] shiragoodman opened #20443 "Identify issues/findings/defects for IA, design and content"
## Issue Description
Currently for the Collaboration Cycle, VSP team members provide "Feedback" at Staging Review that follows a Must, Should, Consider framework. When the team launches their product, there is no way to verify/track if all, some, or none of the feedback was addressed by the team. There is no reference for a VFS team to understand (prior to the "Feedback" ticket being created) what

[2021-02-24 22:01] cvalarida commented on #20287
I wrote https://github.com/department-of-veterans-affairs/design-system-dashboard-cli to solve this.

We'll track the results in a spreadsheet over time for now.

[2021-02-24 22:03] lexicalninja commented on #20434
Steve suggested this for next steps:
[code]

[2021-02-24 22:03] shiragoodman opened #20444 "Review adding CMS-focused question to Collaboration Cycle Kickoff"
## Issue Description
CMS Product Support team wants to be proactive in engaging with teams that may need their services, and wants to encourage teams that already use their services to reach out earlier in their build process.

Proposed question to add from Clarence Maeng:
[code]
On 3/23, Clarence suggested the following:

[code]

---
## Tasks
- [ ] Schedule a meeting with CMS and discuss the foll

[2021-02-24 22:04] sonntag-adam commented on #13364
Testing passes QA

[2021-02-24 22:04] #13364 closed

[2021-02-24 22:05] DanielleThierryUSDSVA commented on #18500
Hi @RLHecht. Could you work with Kelson to update this, since the content isn't in Drupal?

Adding sitewide content labels.

[2021-02-24 22:05] Samara-Strauss commented on #17739
Great. I'll close this and @mshea0606 can create the necessary follow-up ticket to track VA Profile work and correspondence.

[2021-02-24 22:05] #17739 closed

[2021-02-24 22:05] SKasimow opened #20445 "Front End Tasks | Covid Vaccine Page | Spanish"
## Issue Description
_Spanish version of Covid Vaccine page_

## Front end tasks
- Ensure the page is styled according to design spec.
- Ensure the back end data from API is displayed in local and review instance
- Ensure unit tests are available.
- Ensure your code changes are covered by E2E tests
- Run axe checks using the Chrome or Firefox browser plugin
- Test for color contrast and color blin

[2021-02-24 22:08] SKasimow opened #20446 "Front-end Tasks | Covid Vaccine | Tagalog"
## Issue Description

Tagaolog version of Covid Vaccine page

## Front end tasks
- Ensure the page is styled according to design spec.
- Ensure the back end data from API is displayed in local and review instance
- Ensure unit tests are available.
- Ensure your code changes are covered by E2E tests
- Run axe checks using the Chrome or Firefox browser plugin
- Test for color contrast and color blin

[2021-02-24 22:08] denisecoveyduc commented on #19683
This was a stretch goal for Sprint 41 - rolling over into Sprint 42 for further exploration.

[2021-02-24 22:12] denisecoveyduc commented on #19443
@johnhashva has made good progress on this time consuming task of adding keywords to the best bets. He is over half way through the list and expects to be completed during Sprint 42 (Feb 24-Mar9). Rolling issue over to allow for more time.

[2021-02-24 22:13] SKasimow opened #20447 ""Stay Informed" Widget is Translated To Tagalog"
# **User Story**

The "Stay Informed" widget should be displayed in tagalog on the tagalog Vaccine page:

![Screen Shot 2021-02-22 at 8.32.56 PM.png](https://images.zenhubusercontent.com/5fb57aafa11eae0592a15cb1/72ed106c-97e9-4f0e-8760-bc7a042554ec)

Note: it will link to english sign-up form.

# ** Scenario 1: **

As a user viewing the tagalog version of the Covid Vaccine page **(insert link)** I

[2021-02-24 22:17] peggygannon commented on #20320
Hi, @jonathanjnelson Yes, I can recommend content for that alert!

What is the path to resolution if the caregiver application takes longer than {designated time} to process?  Does the user make a call? do they refresh page and try again? do they have to resubmit app?

[2021-02-24 22:20] #20244 closed

[2021-02-24 22:20] bcastoe commented on #20070
Updated facility name from Bexar County VA Clinic to South Bexar County VA Clinic

[2021-02-24 22:22] mchelen-gov commented on #20325
interesting [slack thread](https://dsva.slack.com/archives/C01512KN35G/p1593450223135300) from June, some things that stand out to me are:
- many different parts of build system contributed to confusion about what servers & infra are the bottleneck
- goal was defined as all-or-nothing target, thereby ruling out partial solutions
- related objective (preview server) with undetermined solution contr

[2021-02-24 22:22] denisecoveyduc commented on #19763
This is an extensive piece of work that will require several sprints to wrap up and coordinate with Search.gov for implementation. The search & discovery team will continue to refine the quality of the typeahead suggestions by blacklisting terms and sending to the Search.gov team for implementation until the work is complete. As a result this issue will continue to roll over with incremental chang

[2021-02-24 22:23] cvalarida opened #20448 "Forms library dashboard"
## Issue Description
I'm breaking gathering metrics on forms out into a separate ticket from https://github.com/department-of-veterans-affairs/va.gov-team/issues/20287.

## Acceptance Criteria
- [x] A report may be generated using the [`design-system-dashboard-cli`](https://github.com/department-of-veterans-affairs/design-system-dashboard-cli) which displays
    - [x] The number of form applicatio

[2021-02-24 22:23] #16048 closed

[2021-02-24 22:27] SKasimow commented on #20122
@closing ticket since we determine ok to leave "as-is" for current experience

[2021-02-24 22:27] #20122 closed

[2021-02-24 22:27] #17102 closed

[2021-02-24 22:30] #9327 closed

[2021-02-24 22:31] DanielleThierryUSDSVA commented on #16911
Hi @lildziner. I'd worked on this with Dave directly. Are we okay to close this for now?

[2021-02-24 22:31] alexandec commented on #20220
PR is here: https://github.com/department-of-veterans-affairs/vets-website/pull/16173. We can reference this in the future if we need to reinstate the CMS Export build.

[2021-02-24 22:34] billfienberg commented on #17460
My [PR](https://github.com/department-of-veterans-affairs/vets-website/pull/16158) has been deployed to staging, it looks like the feedback button on https://staging.va.gov/find-locations has the correct focus styles.

![medallia-feedback-button-has-updated-focus-style-on-staging](https://user-images.githubusercontent.com/6130520/109074903-03876200-76be-11eb-965e-adacc8e4745d.gif)

[2021-02-24 22:39] amyknox commented on #19996
Content is here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/education-careers/stem/stem-standalone-10203/automated-decision/automated-denial-email-content.md

[2021-02-24 22:54] #20287 closed

[2021-02-24 22:54] bsmartin-ep commented on #16643
Facility Locator search event (`fl-search-results`) has been restored (minus closest-distance field).  DL params now have a default value of _(not set)_.

(cc @JasonTheBearded)

[2021-02-24 22:54] #16643 closed

[2021-02-24 23:03] jonathanjnelson commented on #20320
@peggygannon Regarding the alert, we need to direct the user to make a phone call

[2021-02-24 23:06] bcastoe commented on #20070
Updated facility name from San Antonio-Southeast 410 VA Clinic to San Antonio-Northeast 410 VA Clinic

[2021-02-24 23:07] 1Copenut commented on #19401
@RLHecht Please email the VA 508 office when you're ready for them to give a final quick test on the Contact Us page and CC Noah and Shira. DM us if you need a contact email address at 508. Thank you!

[2021-02-24 23:07] leahkeeler opened #20449 "Collaboration Cycle Kickoff Debt Resolution - Medical Copays (MCP)"
## Steps to complete Collaboration Cycle Kickoff
- [ ] VFS Product Manager: Create this issue and fill in your team and feature name in the title.
- [ ] VFS: Answer the questions below.
- [ ] VFS: Link to this issue once created in vfs-platform-support in Slack; tag @vsp-product-support-members.
- [ ] VFS: Attach any available artifacts.
- [x] VSP: Review the responses and comment in ticket with r

[2021-02-24 23:07] mmiddaugh commented on #20403
@davidconlon here are the Mission Act relevant stats for Facility Locator:

<details>
<summary>Total 2020 Community care provider searches </summary>

2020 Total unique searches | 4,981,492
-- | --
2020 unique Community care provider searches | 250,407

</details>

<details>
<summary>2020 Top 5 Community care searches </summary>

Service type (search term) | Corresponding NUCC code | Unique search

[2021-02-24 23:08] bcastoe commented on #20070
Updated facility name from San Antonio--west Military VA Clinic to San Antonio-Southwest Military VA Clinic

[2021-02-24 23:11] bcastoe commented on #20070
Updated facility name from South Central Federal VA Clinic North Central Federal VA Clinic

[2021-02-24 23:16] alexpappasoddball opened #20450 "[VTK] - Bootstrap/Setup Command"
## User Stories

As a user of VTK, I want to be able to use one command on my computer that will download and install all the dependencies I would need to run vets-api or vets-website locally.

## Acceptance Criteria
- [ ] VTK installs all dependencies needed to run either vets-api or vets-website (including software, repo's, etc)
- [ ] If the tool already exists on my system it should skip that s

[2021-02-24 23:18] bcastoe commented on #20070
Updated facility name from Texas VA Mobile Clinic to South Texas VA Mobile Clinic
Updated facility name from South Bexar VA Clinic to North Bexar VA Clinic

[2021-02-24 23:19] alexpappasoddball opened #20451 "[VTK] - vets-api Run Command"
## User Story

As a user of VTK, I want to run one command that will get vets-api running locally on my machine.

## Prerequisites
Local machine is already setup to run this step (through the setup command or other)

## Acceptance Criteria
- [ ] User is able to run one command to get vets-api running locally
- [ ] if an error occurs, there is a message that instructs the user how to resolve and ne

[2021-02-24 23:21] alexpappasoddball opened #20452 "[VTK] - vets-website Run Command"
## User Story

As a user of VTK, I want to run one command that will get vets-website running locally on my machine.

## Prerequisites
Local machine is already setup to run this step (through the setup command or other)

## Acceptance Criteria
- [ ] User is able to run one command to get vets-website running locally
- [ ] if an error occurs, there is a message that instructs the user how to resolv

[2021-02-24 23:22] alexpappasoddball opened #20453 "[VTK] - Run Command for both BE/FE"
## User Story

As a user of VTK, I want to run one command that will get vets-api & vets-website running locally on my machine.

## Prerequisites
Local machine is already setup to run this step (through the setup command or other)

## Acceptance Criteria
- [ ] User is able to run one command to get vets-api & vets-website running locally
- [ ] if an error occurs, there is a message that instructs

[2021-02-24 23:26] mlighdc commented on #20403
@joanneesteban is the analytics team able to help pull the data for both health enrollment and the Caregiver pages? I can get the number of applications sent to the Caregiver backend system and compare it with the numbers you have. Thank you!

[2021-02-24 23:36] alexpappasoddball commented on #9100
@f1337 Do you have any thoughts on this?

[2021-02-24 23:42] leahkeeler commented on #16010
@jonwehausen Do i need to open up a different ticket for DOMO dash or can it be included in this ticket?

[2021-02-24 23:51] digitalken commented on #19691
2/24/2021 - This is present but I need it a little longer while @bessgreen checks on some copy for the upstream appts. error.

[2021-02-24 23:52] jonwehausen commented on #20199
Hi @billfienberg,

Great question - the `nonce` attribute value you see there came from Medallia's documentation [here](https://github.com/department-of-veterans-affairs/va.gov-team/files/6039545/Medallia.Digital.Custom.Events.Integration.Guide.2.pdf).

Should be totally fine to replace that with our **CSP_NONCE**

[2021-02-25 00:06] bessgreen opened #20454 "Cancel Community Care appointments"
## User story
As a user, if I can't cancel my Community Care appointment in the app directly, I want a phone number or instructions for where to go next.

## Acceptance Criteria
1. For Community Care appointments, update the **Need to cancel?** ListItem for all upcoming appointments that have not been canceled.
2. The following UI elements are hard-coded:
    - Update header: To cancel this appoin

[2021-02-25 00:10] digitalken commented on #19691
PASS 2/24/2021 - Closing.

[2021-02-25 00:10] #19691 closed

[2021-02-25 00:11] leahkeeler opened #20455 "MCP Design Epic"
## High Level User Story/ies
As a Veteran I want the ability to see my medical copay bills online in an easy to use UI.

## Hypothesis or Bet
We can greatly increase the number of Veterans that view their bills online. Additionally we can funnel the Veteran into resolution paths if they are late on payments

## OKR
Increase the % of transactions online vs. paper

## Definition of done
### Designs

[2021-02-25 00:14] digitalken commented on #18232
PASS 2/24/2021 - Mobile alert is good from UI and accessibility perspective on iOS and Android.  Closing.

[2021-02-25 00:14] #18232 closed

[2021-02-25 00:15] leahkeeler opened #20456 "DebtRes FSR E2E tests"
In preparation for release, create E2E for app

[2021-02-25 00:30] peggygannon commented on #20320
thanks, @jonathanjnelson Please see content recommendations below. let me know if you have any questions.

Question: for the alert where should we direct users to call? I put the help desk number in the  alert below, but should we use the Caregiver VA number? pls advise.

**We’re having trouble processing your application**
We're sorry. Something went wrong when we tried to process your applicatio

[2021-02-25 00:36] #15155 closed

[2021-02-25 00:59] bosawt commented on #19976
I had written some quick notes about this:

### Investigation
	* `Search`
		* Dunno what we do for this, probably need to remove plenty of search terms, have to investigate this further
	* `Contact Us`
		* Redirects to `https://www.va.gov/contact-us`, the prod site.
			* This is strange because it potentially implies we don’t have a test stack for the `Contact Us` page
			* Will this be an issue i

[2021-02-25 01:03] bosawt commented on #19976
Basically my determination was that the current experience really doesn't really apply to non-vets, my current recommendation is to create a new frontend site that leverages little from the existing va.gov, although we'll need future discussion around this. The backend experience will probably have to differentiate between a vet and non-vet, and use a relationships object or something to determine

[2021-02-25 01:11] bessgreen opened #20457 "Cancel VA appointments"
## User story
As a user, I want the ability to cancel my VA appointment directly from the mobile app.

## Acceptance Criteria
1. For upcoming VA Appointments, (i.e. in-person appointments), update the **Need to cancel?** ListItem for all appointments that have not been canceled.
2. UI elements for the Cancel card:
    - Update header: "Cancel this appointment"
    - Description: "If you want to re

[2021-02-25 01:17] laurenernest opened #20458 "General Analytics Request for VAOS-validate usage report"
# Metrics Reporting Request

## What this form is for

Use this template to request one-off performance, usability, or outcomes va.gov metrics that is difficult to access or that needs analytics interpretation. If you have your KPIs set, please [request a KPI dashboard](https://github.com/department-of-veterans-affairs/va.gov-team/issues/new?assignees=joanneesteban&labels=analytics-insights%2C+ana

[2021-02-25 01:18] bessgreen opened #20459 "Confirmation screen for appointment cancelation"
## User story
As a user, I want to see a confirmation page after I've hit "Cancel appointment" that gives me options to: confirm the cancelation, or go back to the appointment detail screen without canceling.

## Acceptance Criteria
1. Upon hitting "Cancel appointment" on the VA appointment detail page, route the user to a new page where they can confirm that they want to cancel the appointment

[2021-02-25 01:20] denisecoveyduc opened #20460 "Define "We think you meant" Spelling Enhancement"
## Description

As a result of recent discoveries regarding the spelling_correction Search.gov feature the Search & Discovery team is unable to implement the “Did you mean?” enhancement feature and instead have decided to add a “We think you meant” message to notify users when they are presented with results for a corrected term.

## Background/Context/Resources

Previous "Did you mean" Spelling E

[2021-02-25 01:27] bessgreen commented on #20459
Confirmation UX/UI on va.gov web app:

![Screen Shot 2021-02-24 at 5.25.11 PM.png](https://images.zenhubusercontent.com/5f64e41291069a617acc1b47/a5008623-d343-4f80-95fa-74e4d52c7ac8)

[2021-02-25 01:28] denisecoveyduc commented on #19190
The current Search.gov implementation of the [web: spelling_correction](https://open.gsa.gov/api/searchgov-results/#webspelling_correction) feature does not work as we (the Search & Discovery team) originally expected. The Search.gov team confirmed that outlined flow (below) is correct and that fuzzy matching is only applied when no search results found. It is not used to define the correct result

[2021-02-25 01:30] denisecoveyduc commented on #19730
As described in the epic (#19190), this enhancement will be placed into the icebox because of the current search.gov implementation of the spelling_correction feature.

[2021-02-25 01:31] denisecoveyduc commented on #19731
As described in the epic (#19190), this enhancement will be placed into the icebox because of the current search.gov implementation of the spelling_correction feature.

[2021-02-25 01:31] bessgreen opened #20461 "Loading screen to cancel appoinment"
## User story
As a user, I want to see a loading screen that tells me that the app is canceling my VA appointment.

## Acceptance Criteria

[2021-02-25 01:43] denisecoveyduc commented on #19627
{end of sprint comments added to end of issues}

[2021-02-25 01:43] #19627 closed

[2021-02-25 01:50] srsuddath commented on #19682
Closing this issue and opening a new one for search-dropdown-used -> sitewide-search-app-used
as there will be some cross team communication needed there

[2021-02-25 01:52] bessgreen opened #20462 "Successful cancelation"
## User story
As a user, I want to see an alert that informs me if I've successfully canceled my appointment.

## Acceptance Criteria
1. If the backend call to cancel an appointment is successful, display a success alert at the top of the appointment detail page
2. UX/UI details for mobile alert
     - Pull in mobile alert CC
     - Alert copy is hard-coded
3. This alert should persist on the page

[2021-02-25 01:54] mpelzsherman commented on #20325
What stands out to me is how quickly and forcefully the parallel query approach was dismissed. At this point, the transformers had been under development for 8 months or so (this [PR](https://github.com/department-of-veterans-affairs/vets-website/pull/10973) dates back to Oct. 2019).  It should have already clear that there were significant challenges with the tome-sync/transformer approach.

[2021-02-25 01:55] bessgreen opened #20463 "Unsuccessful cancelation"
## User story
As a user, I want to see an alert that informs me if there was an error in canceling my appointment.

## Acceptance Criteria
1. If the backend call to cancel an appointment returns an error, display an error alert at the top of the appointment detail page
2. UX/UI details for mobile alert
     - Pull in mobile alert CC
     - Alert copy is hard-coded
3. This alert should persist on t

[2021-02-25 02:31] denisecoveyduc commented on #19735
@shiragoodman Our investigations means the previously planned enhancement will be iceboxed for now. Will reopen when the time is right.

[2021-02-25 02:31] #19735 closed

[2021-02-25 02:32] denisecoveyduc commented on #19736
Shifting tracking to the epic #19190

[2021-02-25 02:32] #19736 closed

[2021-02-25 03:33] mydesignrocks commented on #20253
Socks added

[2021-02-25 03:33] #20253 closed

[2021-02-25 07:54] #18758 closed

[2021-02-25 07:55] #18456 closed

[2021-02-25 07:55] #18466 closed

[2021-02-25 07:55] #19112 closed

[2021-02-25 07:55] #19493 closed

[2021-02-25 07:55] #18767 closed

[2021-02-25 07:55] #18460 closed

[2021-02-25 07:55] #19109 closed

[2021-02-25 07:55] #19110 closed

[2021-02-25 07:55] #18629 closed

[2021-02-25 07:55] #18459 closed

[2021-02-25 07:55] #19099 closed

[2021-02-25 07:55] #19100 closed

[2021-02-25 07:55] #18458 closed

[2021-02-25 07:55] #17936 closed

[2021-02-25 07:55] #19287 closed

[2021-02-25 07:55] #19101 closed

[2021-02-25 07:55] #19102 closed

[2021-02-25 07:56] #19425 closed

[2021-02-25 07:56] #18457 closed

[2021-02-25 07:56] #18461 closed

[2021-02-25 07:56] #19104 closed

[2021-02-25 07:56] #19111 closed

[2021-02-25 07:56] #19105 closed

[2021-02-25 07:56] #18359 closed

[2021-02-25 07:56] #17508 closed

[2021-02-25 07:56] #19108 closed

[2021-02-25 07:56] #18957 closed

[2021-02-25 07:56] #18768 closed

[2021-02-25 13:15] #19720 closed

[2021-02-25 13:18] johnhashva commented on #19009
2/17 Update:  Zoom call held with Sophia Golden of Castlight and Kara Sewalk of Boston Children's Hospital to discuss in more detail how VA.gov COVID vaccine VAMC availability and distribution data might be made available on both VaccineFinder.org and to Google for Search and Maps.   Castlight is acting as the data/technology provider powering the BCH-managed VaccineFinder.org site with the CDC

A

[2021-02-25 13:20] johnhashva commented on #19009
2/25 Update: VaccineFinder.org launched

Details from news accounts:

The Centers for Disease Control and Prevention in partnership with Boston Children's Hospital and Castlight Health is launching a new tool which allows Americans to search for COVID-19 vaccine providers with stock of vaccine where they live.

- The tool, which builds on the existing VaccineFinder.org platform, will capture inven

[2021-02-25 13:21] srsuddath opened #20464 "Search Acronym Tool Exploration"
## Description

research is needed in order to create a development plan for a VA.gov acronym tool.
This tool would catch users entering acronyms in the search bar, and would provide information as to what the acronyms stand for, or to assist their searches on those topics
## Tasks

- [ ] Determine best practices in keeping with VA standards for such a tool
- [ ] Create a series of tickets to outl

[2021-02-25 13:22] srsuddath commented on #20464
duplicate, closing

[2021-02-25 13:22] #20464 closed

[2021-02-25 13:23] mshea0606 commented on #20079
@erikphansen  can you drop an estimate in here when you get a chance? Thanks!

[2021-02-25 13:40] lunascoop commented on #18872
Hi @ncksllvn @kelsonic this can be implemented if it hasn't already.

[2021-02-25 13:43] #19386 closed

[2021-02-25 13:46] #20118 closed

[2021-02-25 13:49] annaswims commented on #8212
My first thought that it's when people bookmark the status page and come back later. But it's looking like that's not it. I tried pasting a URL in an incognito window and I was redirected to the sign in modal without any API requests.

[2021-02-25 13:59] vhenry07 opened #20465 "Document most impactful Claims Status Tool Errors"
## Issue Description
_As a veteran, I want to be able to check claim status so that I can understand where it is in the approval process.
---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be complete

[2021-02-25 14:02] vhenry07 opened #20466 "Understand Claims Status Tool Upload Issues"
## Issue Description
Check sentry and other logs to see if upload issues have been addressed

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an Epic** (what body

[2021-02-25 14:06] vhenry07 opened #20467 "Claims Status Tool - API Discovery"
## Issue DescriptionFigure out data that is available that is missing from API.

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an Epic** (what body of work is t

[2021-02-25 14:08] vhenry07 opened #20468 "526 - Evaluate Latest Error Log Data"
## Issue Description
Evaluate and prioritize errors

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an Epic** (what body of work is this a part of?)
- [ ] **Labe

[2021-02-25 14:19] #13809 closed

[2021-02-25 14:19] vhenry07 opened #20469 "Claim Status Tool - Evaluate all Functionality"
## Issue Description
Deep dive into which aspects of the tool need work.

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an Epic** (what body of work is this a p

[2021-02-25 14:19] #19998 closed

[2021-02-25 14:21] #19999 closed

[2021-02-25 14:22] vhenry07 opened #20470 "526 - Analytics"
## Issue Description
Review current analytics, document the story being told by what we're seeing, identify measurement gaps.

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] *

[2021-02-25 14:24] AngelaFowler82 opened #20471 "508-defect-2 [SCREENREADER] Results screen, screen reader unable to determine search radius."
Label: 14321

    - [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

Issue Title: Results screen, screen reader unable to determine search radius.

## Point of Contact: Angela

## User Story or Problem Statement:
When conducting a search using a screen reader, there is no way to tell ho

[2021-02-25 14:27] #13737 closed

[2021-02-25 14:27] #19796 closed

[2021-02-25 14:44] timwright12 commented on #13604
PR to get this into the pipeline https://github.com/department-of-veterans-affairs/content-build/pull/50

[2021-02-25 14:48] micahchiang commented on #20153
Moving back to `Current Sprint` column until we have more concrete mockups.

[2021-02-25 14:50] ala-yna commented on #19321
# Notes from 2/18

Investigation as a part of #19321 revealed that increasing the timeout to 2 minutes will resolve about half of the timeout errors.

Conclusion is that some users will have to wait 60-120 seconds to see that their application went through. There is currently no visible way to see that the submission process is "working" during this window. How can we give users a better sense tha

[2021-02-25 14:52] ala-yna commented on #19321
# Notes from 2/22
**Immediate next steps:**
- [x] Consult with design system team

**Near term solution:** (keep timeout to 60 seconds)
- Info (prior to submission) that it may take up to a minute
- Visual indicator (spinner + progressive messaging)
- Timeout message after a minute (+ facility to call?)

**Midterm solution**
- Explore how to change BE/UI to accommodate longer submission times
- Gi

[2021-02-25 14:53] ala-yna commented on #19321
# Team discussion on 2/24

- [ ] Design: Generate content for progressive spinner
- [ ] Frontend: Create progressive spinner component
- [ ] Frontend: Confirm JS timeout is set to 120 seconds
- [ ] Design: Generate content/mockup to set expectation around time
- [ ] Frontend: Add progressive loading message to online 10-10CG

[2021-02-25 14:54] #20301 closed

[2021-02-25 14:56] ashley-matthews opened #20472 "Add Attachments | BE"
### **User Story**
As a user, I want the ability to upload a file or photo from my device and then upload it to my secure message.

### **Acceptance Criteria**

Verify functionality from vets-api:
1. When a user replies to a message thread or composes a new message, they can add an image or file from their phone to the message

2. When a user selects to add an attachment, they can choose a file fr

[2021-02-25 14:58] #20275 closed

[2021-02-25 15:00] 1Copenut opened #20473 "[EPIC]: Accessibility Feedback - Staging Review - Accordion Web Component"
This issue will act as the epic for accessibility feedback on the [Accordion Web Component staging review](https://github.com/department-of-veterans-affairs/va.gov-team/issues/20228).

[2021-02-25 15:01] AngelaFowler82 opened #20474 "508-defect-3: Facility Details page, link to return to search results mislabeled"
Label: 14321

    - [508-defect-3](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-3)

## Issue Title: Facility Details screen, link to return to search results mislabeled.

## Point of Contact: Angela

## User Story or Problem Statement:
When I access a facilities details, the link to return to the sear

[2021-02-25 15:02] allison0034 commented on #20228
@caw310 no design feedback : )

[2021-02-25 15:03] #19682 closed

[2021-02-25 15:07] ashley-matthews opened #20475 "Sent Message Notification | BE"
### **User Story**
As a user, I want to see a notification after sending my message so I feel confident that it was sent.

### **Acceptance Criteria**
- Retrieve confirmation that the message was sent

[2021-02-25 15:09] ashley-matthews opened #20476 "Sent Message Notification | FE"
### **User Story**
As a user, I want to see a notification after sending my message so I feel confident that it was sent.

### **Acceptance Criteria**
- When the user hits send, a notification displays indicating that the message has been sent

### **Tech Notes**

### **Design**

[2021-02-25 15:17] bethpottsVADEPO commented on #11229
@mnorthuis Can we meet to discuss the URL?

[2021-02-25 15:23] bsmartin-ep commented on #20403
@lalexanderson-dsva / @DanielleThierryUSDSVA -

Can I get some clarification on "Unique visits to pages"?

In GA, a "unique pageview" would be counting a user's pageview to a particular page **only once per session**.

Are you looking to count every pageview to these pages no matter how many times it is visited in a session?

[2021-02-25 15:32] delli-gatti-michael commented on #19390
This is in staging and can be viewed by going to the following link while logged in as a user with a 10203 submission:
https://staging-api.va.gov/v0/education_benefits_claims/stem_claim_status

Closing this story

[2021-02-25 15:32] #19390 closed

[2021-02-25 15:36] kelsonic commented on #18872
@lunascoop PR is up! Will try to merge + deploy asap: https://github.com/department-of-veterans-affairs/devops/pull/8580

[2021-02-25 15:42] jonathanjnelson commented on #20320
Thank you @peggygannon. Yes, we should direct the users to HEC. They are trained to answer questions on the program/the 10-10CG. I plugged in the appropriate number/hours:

We’re having trouble processing your application
We're sorry. Something went wrong when we tried to process your application. For help submitting your application, please call the VA.gov help desk at 855-260-3274 (TTY: 711). We

[2021-02-25 15:44] mdewey commented on #16581
![Screen Shot 2021-02-25 at 10 43 57 AM](https://user-images.githubusercontent.com/1793923/109177987-60365b80-7756-11eb-8763-a69ab86414f0.png)

Data is being populated in staging. Verified with the above picture.

[2021-02-25 15:44] #16581 closed

[2021-02-25 15:47] mmiddaugh opened #20478 "Missing side nav for Eastern Oklahoma"
## What happened?
![image.png](https://images.zenhubusercontent.com/5d8a47393ac3440001d1a2ed/bcf11da3-fe61-4fb9-a516-9b732d6d2a6a)
`Eastern-oklahoma-health-care` does not have the left navigation menu in Tugboat (where they are testing). Stan is fairly certain it was available in the DevShop environment prior to moving to Tugboat.

## Steps to Reproduce
This needs to be done with CAG
- Open https:

[2021-02-25 15:52] mpelzsherman commented on #20478
Is Eastern OK the only VAMC affected? That would be weird.

Could this just be a faulty entry in [FACILITY_MENU_NAMES](https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/site/stages/build/drupal/graphql/navigation-fragments/facilitySidebar.nav.graphql.js)?

[2021-02-25 15:57] jhonnyoddball commented on #11519
# Reverse Proxy

## What it is?

The vagov-revproxy service is a reverse proxy designed to accept traffic coming from the Trusted Internet Connection (TIC) and direct that traffic towards private S3 resources (static content, ie. css, images, etc.).

Static site content is housed within a bucket or multiple buckets (AWS S3) for the respective environment of the traffic (sandbox, dev, staging, or p

[2021-02-25 16:11] LinnJS commented on #20296
This is the VSP [ticket](https://github.com/department-of-veterans-affairs/va.gov-team/issues/16939) is what came of this issue so it can be resolved for the future

[2021-02-25 16:13] 1Copenut opened #20479 "508-defect-2 [SCREENREADER]: WC Accordion - Button must have CSS display: block to work correctly in Safari + VoiceOver"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2021-02-25 16:15] mmiddaugh opened #20480 "OG: image size/aspect ratio"
## Issue Description
The `og:image` for https://www.va.gov/pittsburgh-health-care/stories/tech-know-how-gets-kennedy-woman-va-job-love-of-va-keeps-her-there/ weighs in at 3Mb.  It seems like it could be using a different derivative of the cropped image.

If it is occurring on this page, it may be happening elsewhere.

meta property="og:image" content="/img/2020-12/Tauna%20Perenovich_20200901_0018.

[2021-02-25 16:16] ashley-matthews opened #20481 "Cancelled Message Notification | FE"
### **User Story**
As a user, when I cancel a new message, I want to receive a notification that it has been canceled.

### **Acceptance Criteria**
- When a user selects 'cancel' when creating a new message, a cancellation notification displays

[2021-02-25 16:17] jonathanjnelson commented on #20320
**Recommendations:**

**Loading indicator content:**

- Please wait while we process your application.

- And after 30 seconds (This can be adjusted if we want to show earlier): We’re processing your application. This may take up to 2 minutes. Please don’t refresh your browser.

**My recommendation is to not show the alert. However, if we decide that is best I don't think we need to change the con

[2021-02-25 16:18] kevinmirc opened #20482 "[Research] What is the timeout for the Form 10-10CG submission API call"
**Description**
Understand what the timeout is for the js HTTP client so we can extend the backend timeout to 2 mintues.

**Resources**
- Platform thread https://dsva.slack.com/archives/CBU0KDSB1/p1614269139271400

[2021-02-25 16:18] jbalboni opened #20483 "Handle partial results returned from MAS"
We need to communicate to users in some way when we get partial results back from MAS, due to an error in a downstream service.

Currently the two services that MAS calls that could have errors are the Video Visit Service and the VistA Data Service. If the former fails, we have video visits. If the latter fails, we won't have in person VA and phone appointments.

The appointments list generally pu

[2021-02-25 16:19] ashley-matthews opened #20484 "Cancelled Message Notification | BE"
### **User Story**
As a user, when I cancel a new message, I want to receive a notification that it has been canceled.

### **Acceptance Criteria**
- Retrieve confirmation message was canceled

[2021-02-25 16:20] #20269 closed

[2021-02-25 16:21] ashley-matthews commented on #20476
Should these be broken down between new messages v. responding to an existing message?

[2021-02-25 16:22] LinnJS commented on #20482
Slack [thread](https://dsva.slack.com/archives/CBU0KDSB1/p1614269139271400)

[2021-02-25 16:23] 1Copenut opened #20485 "508-defect-2 [COGNITION]: WC Accordion - Expandable buttons should be wrapped in a heading with adjustable level"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2021-02-25 16:26] ashley-matthews opened #20486 "Reply to Message form"
## User story
As a user, I want to be able to respond to a message that has been sent to me so that I can communicate back-and-forth with my healthcare team.

## Acceptance Criteria
1.  Create UX/UI for the form on the "Reply" page using the form wrapper component
2. Message header displays service-driven data that is populated from the message that is being replied to:
     - To: display **Provid

[2021-02-25 16:26] mviterna opened #20487 "Access for Mark Viterna"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Do not remove `operations` label; this will notify the VSP Operations team of your request
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.
Cecilia Lee Cecilia.Lee@va.gov
- Plea

[2021-02-25 16:29] 1Copenut opened #20488 "508-enhancement [KEYBOARD]: WC Accordion - Consider adding an expand all when MULTI prop is passed"
## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix and/or document decisions made.
1. Accessibility specialist will close ticket after reviewing documented decisions / validating fix.

## Point of Contact

**VFS Poi

[2021-02-25 16:30] digitalken commented on #19585
Added to TestRail.

[2021-02-25 16:31] sporeboy commented on #20388
Incorporated feedback in convo guide: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/ebenefits/features/apply-for-home-loan-COE/research-design/discovery-interviews/coe-discovery-convo-guide.md

Lauren review/research kick-off requested.

[2021-02-25 16:33] digitalken commented on #19584
Added to TestRail.

[2021-02-25 16:33] outerpress commented on #20483
@jbalboni is the error message the same if any of those services fails? (See screenshot below)

I think it makes sense to continue that pattern for the MAS errors. My guess is veterans would find a partial list suspect and look for other ways to get their appointments if they saw that state.

@rtwell do you have any additional background on this? Also, is the only way to find your appointments if

[2021-02-25 16:34] mviterna commented on #18920
@MarciMcGuireGCIO @NCHLiberty @johnhashva  Did this get resolved? I can't access the form via https://www.va.gov/find-forms/about-form-21-0790/  or did I misunderstand the ticket? It could be that the timeout fix we put in resolved this. I could potentially see where some nightly migrations would time out and some of these random issues pop up. But if there is another example form for me to look a

[2021-02-25 16:36] sporeboy commented on #20413
Incorporated feedback in convo guide: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/ebenefits/features/apply-for-home-loan-COE/research-design/discovery-interviews/coe-discovery-convo-guide.md

Lauren review/research kick-off requested.

[2021-02-25 16:36] digitalken commented on #20311
Added to TestRun.

[2021-02-25 16:37] mviterna commented on #17484
@MarciMcGuireGCIO  We have tomorrow at 2:30 PM ET open, is that too short of notice or does that time work?

[2021-02-25 16:40] brianalloyd commented on #16623
@ncksllvn picking up

[2021-02-25 16:40] ashley-matthews opened #20489 "Remove Attachments | FE"
### **User Story**
As a user, I want the ability to remove an attachment from a message I'm composing so that I can take action if I've uploaded the wrong document or change my mind.

### **Acceptance Criteria**
1. After a user uploads a doc/image, users are able to remove it from their message.

Workflow TBD

[2021-02-25 16:44] kelsonic commented on #18872
PR merged + deployed to prod, @lunascoop you can check it out here: https://va.gov/landing2_contact.htm

[2021-02-25 16:44] ashley-matthews opened #20490 "Remove Attachments | BE"
### **User Story**
As a user, I want the ability to remove an attachment from a message I'm composing so that I can take action if I've uploaded the wrong document or change my mind.

### **Acceptance Criteria**
1. Validate the ability for a user to remove an attachment

Workflow TBD

[2021-02-25 16:45] ala-yna commented on #20405
Content was reviewed by Peggy in the last comment on this ticket: https://app.zenhub.com/workspaces/vsa---caregiver-5fff0cfd1462b6000e320fc7/issues/department-of-veterans-affairs/va.gov-team/20320

[2021-02-25 16:46] caw310 commented on #19483
Dependency on a11y review.

[2021-02-25 16:47] ashley-matthews opened #20491 "Clinician/Admin Portal Access"
Request + gain access to clinician/admin portal

[2021-02-25 16:47] caw310 commented on #19665
This is done.

[2021-02-25 16:47] #19665 closed

[2021-02-25 16:47] caw310 commented on #19666
In progress pending testing.

[2021-02-25 16:47] #19666 closed

[2021-02-25 16:48] ashley-matthews opened #20492 "Set up SM test accounts"
Test account set up so that we can test sending messages back and forth between the veteran facing portal and the clinician facing portal

[2021-02-25 16:51] jbalboni commented on #20483
@outerpress Yes, it's always the same.

[2021-02-25 17:01] #19983 closed

[2021-02-25 17:02] zacharymorel commented on #20421
@MarciMcGuireGCIO here are the URLS regarding the query to get all forms from the lighthouse API:

**Staging** GET: https://staging-api.va.gov/v0/forms?query=
**PROD** GET: https://api.va.gov/v0/forms?query=

[2021-02-25 17:04] MarciMcGuireGCIO commented on #20421
Thank you! 😄

[2021-02-25 17:06] MarciMcGuireGCIO commented on #18920
@mviterna this seems to be resolved! @johnhashva can you also confirm whenever you're able?

[2021-02-25 17:06] joanneesteban commented on #18380
@SKasimow - closing this ticket. We have https://github.com/department-of-veterans-affairs/va.gov-team/issues/17871 open and will track further work there!

[2021-02-25 17:06] #18380 closed

[2021-02-25 17:11] bethpottsVADEPO commented on #19401
@1Copenut Is this the process now or just with this root level, high-profile page? Just want to be clear for future: open ticket for internal accessibility check --> then you let us know if we need to get a 508 office review (or is this always the final step)?

[2021-02-25 17:11] mmiddaugh commented on #14321
@1Copenut Historically, we've avoided the map because of leaflet but now that we've upgraded, it's a non-issue. We're making a few tweaks to focus for the new "clear the input" feature and are updating error messages with Josh's input during this sprint (which ends 3/9). I think after these two updates, the FL will be in a good place for an accessibility review, if that timing will work.

[2021-02-25 17:12] bethpottsVADEPO commented on #19401
@1Copenut Also, can you provide the contact info for emailing the 508 office?

[2021-02-25 17:13] mviterna commented on #19561
@zacharymorel  I'm not 100% sure, since I'm not a front end guy, but I think it is fieldHomePageHubLabel? Rather than fieldVaFormAdministration. I checked in Drupal a form where there was a related to and where there wasn't one. I spot checked a few of the forms and it seems the data isn't in Drupal. I'm going to slack you a copy queries to try. fieldVaFormAdministration is identical on both forms

[2021-02-25 17:17] #19985 closed

[2021-02-25 17:28] rjohnson2011 commented on #15833
2/25 Update - Working on gathering information relating to additional info:
- [ ] Number of teams with any kind of form?
- [ ] Number of teams with VA Forms System forms?
- [ ] Number of teams with VA Forms System forms NOT using form tester?
- [ ] Bonus question — can form tester be adapted for none VA Forms System forms?

[2021-02-25 17:33] digitaldrk commented on #20433
https://github.com/department-of-veterans-affairs/vets-api/pull/5997

[2021-02-25 17:37] MarciMcGuireGCIO commented on #17484
@mviterna, @swirtSJW has a conflict at that time, and I think he will be key to the discussion.  Are you available at 1:30 or 3:00 PM ET tomorrow?

[2021-02-25 17:38] amyknox commented on #19984
Mural board here: https://app.mural.co/t/bahdigitalexperience6902/r/1553290563937

[2021-02-25 17:40] SKasimow commented on #17871
@joanneesteban Hi Joanne! We're trying to assess whether the spanish FAQ page has similar increases/decreases to the English version of the page as a way to understand whether traffic patterns are similar (on a relative basis). If they differ widely, may be something to drill into further to help us understand this audience better.

Also, we should see more spanish traffic soon as we will be addin

[2021-02-25 17:40] Mottie commented on #14013
Done!

[2021-02-25 17:40] #14013 closed

[2021-02-25 17:55] mviterna commented on #17484
@MarciMcGuireGCIO  Invite sent for 3PM, please forward to whoever needs it

[2021-02-25 17:57] MarciMcGuireGCIO commented on #17484
@mviterna -- got it.  Thanks!  I forwarded to @zacharymorel

[2021-02-25 17:59] jwoodman5 commented on #20243
Thanks @annaswims. I put the request in and will confirm when you and Ed should be able to login.

[2021-02-25 18:04] mgleo commented on #20217
List of search tools:

On [main search sidebar](https://www.va.gov/search/?query=health):
[Look up Board of Veterans' Appeals (BVA) decisions](https://www.index.va.gov/search/va/bva.jsp)
[Search VA reference materials (WARMS)](https://www.index.va.gov/search/va/va_adv_search.jsp?SQ=www.benefits.va.gov/warms)
[Find a VA form](https://www.va.gov/find-forms/)
[VA handbooks and other publications](htt

[2021-02-25 18:05] #19770 closed

[2021-02-25 18:07] saneshark opened #20493 "Create Grafana dashboard and alert specific to 207 status codes resulting from VIA"
This ticket is blocked by the backend component of this ticket first being completed.

https://github.com/department-of-veterans-affairs/va.gov-team/issues/20483

[2021-02-25 18:08] joanneesteban commented on #16547
Notes for VSP: design needs to be broken down.

[2021-02-25 18:09] 1Copenut commented on #14321
@mmiddaugh Thank you for this context! Angela added three items to the audit backlog, two are labeling items and one is related to the map search radius. We'll be happy to take a look after your sprint end on 3/9 at the clear the input feature. Please let Angela or I know if you have questions.

[2021-02-25 18:11] erikphansen opened #20494 "Stop disabling `Edit Contact Info` form's Update button"
## Background
If a user clicks the `edit your address` from the address validation screen, the edit form's `Update` button will be disabled until they actually make a change to the data in the form. This feels like a bug. I can very easily imagine the following scenario:

1. User edits their address
2. Address validation flags it as invalid
3. User quickly clicks on the `edit your address` link fr

[2021-02-25 18:11] mlighdc commented on #16547
@joanneesteban - is your message for the VSP analytics team or the 10-10 team? Just want to clarify to make sure you are not waiting on something from us. Thanks!

[2021-02-25 18:14] omgitsbillryan opened #20495 "[DNS] Manual Review Instance Deploy Brings Down Access to Internal Tools"
## The Problem
When manually executing the review instance deploy jenkins job, it's possible for a duplicate DNS server entry to get created in the `vetsgov.utility.internal.zone` named config. As a result, **named fails to start up and access to internal tools through socks fails**.

### Steps to Reproduce

1. Created a branch in vets-api
2. Start a draft PR in vets-api using said branch
3. Wait

[2021-02-25 18:14] jason-gcio opened #20496 "Schedule Design Intent: Dependency Verification Modal"
## Background
Now that this feature is more or less fully mocked, we need to bring it before the Design Review group for further discussion and approval.

## Tasks
- [ ] Determine if the meeting should be asynchronous or not
  - Sync when designs are very new/ significantly different; else async
- [ ] Determine outcomes from the review: _"What are we asking for?"_
- [ ] Schedule a review using the

[2021-02-25 18:15] pjhill commented on #15833
Excellent -- where are you going to collect all this info? Also, we should make a note of how you gather all the info so we can reproduce it at a later date in order to measure any potential progress or change in the platform's use of forms.

[2021-02-25 18:17] jason-gcio opened #20497 "Schedule Design Intent: View Dependents Formlet"
`sync`

## Background
Now that this feature is more or less fully mocked, we need to bring it before the Design Review group for further discussion and approval.

## Tasks
- [x] Determine if the meeting should be asynchronous or not
  - Sync when designs are very new/ significantly different; else async
- [x] Determine outcomes from the review: _"What are we asking for?"_
- [x] Request a review us

[2021-02-25 18:20] mmiddaugh opened #20498 "Add clear input feature to Community care service type field"
## Issue Description
#16513 adds an efficient way to clear the City, state or postal code fields so Veterans can change the input. This issue is to add the same feature to the Service typeahead field which is required when Facility type = Community providers (in VA's network)/

<details>
<summary> button spec </summary>

![image](https://user-images.githubusercontent.com/55411834/109198314-4fd4af8

[2021-02-25 18:22] jason-gcio commented on #20388
Thanks @sporeboy - can you leave a comment here for an approximate time Perigean was engaged?

[2021-02-25 18:22] kelsonic commented on #18500
PR is up: https://github.com/department-of-veterans-affairs/vets-website/pull/16183

[2021-02-25 18:23] mchelen-gov opened #20499 "Track VA codebase sizes over time"
code frequency

- https://github.com/department-of-veterans-affairs/vets-website/graphs/code-frequency
- https://docs.github.com/en/rest/reference/repos#get-the-weekly-commit-activity
- https://api.github.com/repos/department-of-veterans-affairs/vets-website/stats/code_frequency

commit activity

- https://docs.github.com/en/rest/reference/repos#get-the-last-year-of-commit-activity
- https://api.g

[2021-02-25 18:23] SKasimow opened #20500 "IA Request | Covid Vaccine Page | Tagalog URL | C&L Team"
## What this is:

Request URLs for tagalog for the Covid Vaccine page, the Corona FAQ page and the User Research page.

## Required Inputs:

We've received a priority request to provide a spanish version of the Covid Vaccine page. We're going to use the same approach of providing a link to spanish <--> english above the H1 on these pages and we have the URLs previously provided to us from I/A:

Co

[2021-02-25 18:25] bessgreen opened #20501 "Add claims/file upload mock data to test account"
## Acceptance Criteria
1. Display the following mock claims data for test user vets.gov.user+366@gmail.com
     - Replace any existing mock errors with the mock data detailed in AC #2
2. Mock data should include:
     - An active claim in Step 3, with open file requests
     - At least 2 open file requests
     - Ask for My Claim Decision flow
     - Ability to navigate the file/photo flow

[2021-02-25 18:26] noahgelman commented on #18159
@delli-gatti-michael Approved

[2021-02-25 18:27] kelsonic commented on #20101
PR merged, ready for validation + closing

[2021-02-25 18:28] mshea0606 commented on #18549
Current status: VA Profile team is fixing this issue via bug ticket VAPro-t1-1496.

[2021-02-25 18:28] mmiddaugh opened #20502 "Community care attributes are no longer parsed"
## What happened?
We cannot re-use a community care search URL to reproduce a scenario or for troubleshooting. We are no longer parsing the community care attributes and we need a way to understand what was sent in the query and easily rerun the query.:

## Steps to Reproduce
- URL: https://www.va.gov/find-locations
- Enter geographic location or enable "use my location"
- Select Facility type = "

[2021-02-25 18:30] Samara-Strauss commented on #18549
Do we have an estimated date for this fix?

[2021-02-25 18:31] bethpottsVADEPO commented on #11229
@mnorthuis Putting this here for us to work on...

These are the H1s for the two existing board of appeals pages that need to be considered/differentiated:

https://www.va.gov/disability/file-an-appeal/board-of-veterans-appeals/
Board of Veterans' Appeals (BVA) hearing

https://www.va.gov/decision-reviews/board-appeal/veterans-law-judge-hearing/
Board hearings with a Veterans Law Judge

When we mo

[2021-02-25 18:34] RLHecht commented on #18500
Thanks, @kelsonic ! @DanielleThierryUSDSVA This change should be live today or tomorrow.

[2021-02-25 18:35] #16968 closed

[2021-02-25 18:35] zacharymorel commented on #19561
@mviterna You're on the right path I believe. As far as the FE template consumes on the details page, we consume the **fieldBenefitCategories.entity.fieldHomePageHubLabel** first if present. If it's not present, we consume **fieldVaFormAdministration.entity.entityLabel**.

I.e.: http://localhost:3001/find-forms/about-form-21p-534ez/ you can see the **related to:** text.

As far as the search resul

[2021-02-25 18:36] omgitsbillryan opened #20503 "[File Upload] Standard (global) solution for managing file uploads"
### The Problem
We have a number frontend apps and `vets-api` endpoints that deal with file uploads. Each app & endpoint combo handle uploads as a "one-off" kind of solution. Each unique solution comes with potential tradeoffs involving security vulnerabilities & performance degradation.

We want to have some kind of unified / intentional / global rules & restrictions that apply to all uploads so

[2021-02-25 18:39] mmiddaugh opened #20504 ""Use my location" spinner appears when searching"
## What happened?
"Use my location" spinner appears when searching because we are geocoding the user’s input that was typed into the field every time we execute a search.
This bug was identified on staging during the review of the work for #18351 but is unrelated.
[Video recording](https://recordit.co/OEtttxmqi2)
[Slack thread](https://dsva.slack.com/archives/C0FQSS30V/p1614204063129100)

## Steps

[2021-02-25 18:42] johnhashva commented on #18920
@mviterna and @MarciMcGuireGCIO looks resolved to me as well -- e.g. the form detail page is now longer available, I'm getting page not found.

[2021-02-25 18:42] mshea0606 commented on #18549
They don't have an estimate at this time

[2021-02-25 18:48] theodur commented on #20100
All changes have been approved, and the PR has been merged.

[2021-02-25 18:48] #20100 closed

[2021-02-25 18:52] noahgelman commented on #18247
@delli-gatti-michael Approved

[2021-02-25 18:53] ala-yna opened #20505 "Update Stats for 2/26 Caregiver meeting"
Update [this spreadsheet](https://docs.google.com/spreadsheets/d/1OVghvx8yFkOSNnnzpHZulbdDnqQRGohAOr4SELO0L7M/edit#gid=506440641) through 2/24.

Updates include:
- [x] Attempts
- [x] Successful
- [x] Blocked (MPI Search)
- [x] Failed (Total Errors)
- [x] Failed (Validation)
- [x] Failed (Unclassified)
(Page 2)
- [x] Applications Delivered
- [x] Secondary Only Applications
- [x] Attachments Dropped

[2021-02-25 18:55] #19798 closed

[2021-02-25 19:00] rileyorr opened #20506 "[FSR] Empty state for when there are no Veteran benefits"
## Issue Description
_Currently, a Veteran is served a benefits screen displaying $0 if they have no active benefit payments from the VA. We want to replace that experience with a user-friendly empty state. See mockup here: https://preview.uxpin.com/803dc24213cf723bfce6c5e3eaef5a2c3f3e344b#/pages/137058261/specification/sitemap?mode=i_

---
## Tasks
- [ ] _Update the current empty state to display

[2021-02-25 19:02] rileyorr commented on #20250
- [Empty state](https://preview.uxpin.com/803dc24213cf723bfce6c5e3eaef5a2c3f3e344b#/pages/137058261/specification/sitemap?mode=i)
- [Frontend ticket](https://github.com/department-of-veterans-affairs/va.gov-team/issues/20506)
Weekly content office hours are starting next week, so I will ask for a quick review of the content and make any adjustments before the sprint ends.

[2021-02-25 19:02] ala-yna opened #20507 "Update prototype with changes to submission experience"
## User Story

In #20320, we generated content for an updated submission experience on the 10-10CG. Because of time constraints, we were unable to update the prototype before making the frontend changes. The prototype should match the updated form experience.

## Acceptance Critera

- Prototype is updated to reflect the changes designed in [this ticket](https://app.zenhub.com/workspaces/vsa---care

[2021-02-25 19:06] rjohnson2011 commented on #15833
For the second and third checkboxes (the VA Forms System) I'm going through instances of `forms-system` and noting the directory, team responsible, and number of instances uses (i.e. used 6 times within `covid-registry`). It is a fairly long, manual process (454 results for `forms-system` alone) but wasn't able to find an alternative on how to filter through the unneeded files or grab team authors

[2021-02-25 19:06] #18681 closed

[2021-02-25 19:06] digitalken commented on #18907
Added to TestRail.

[2021-02-25 19:08] ala-yna opened #20508 "Create a new error message after a 10-10CG submission reaches the timeout limit"
## User story

- As a Caregiver, I want to understand what the next best step is after waiting for 2 minutes to submit a 10-10CG, so that I can learn if my submission has gone through or not.

## Questions to answer
- What information should a Veteran see?
- Can we address the long CARMA processing times?
- Can we try to resend the PDF?

[2021-02-25 19:09] mshea0606 opened #20509 "[FE] Profile: Resolve MVI 207 errors (Updates fail due to deprecated ID's)"
## Background
See ticket: [[BE] Profile: Are we sending deprecated IDs to VA Profile? #17739](https://github.com/department-of-veterans-affairs/va.gov-team/issues/17739)

Per ticket #17739 above, there is no work for FE or BE at this time.

Current status as of 2/25/21: VA Profile is triaging ticket and looking at MVI to see what's going on. No time estimate at this time.

## Tasks
- [ ] Look into

[2021-02-25 19:09] kelsonic commented on #18500
PR merged, will go out with daily deploy tomorrow since I missed the cut off today 🙂

[2021-02-25 19:10] shiragoodman commented on #20449
Hi @leahkeeler. Thanks for completing this Collaboration Cycle Kickoff ticket! Based on your responses, we are recommending the following Collaboration Cycle touchpoints:

- Design Intent (can be asynch)
- Information Architecture (IA) Request
- Research Plan Review
- Analytics Request
- Midpoint Review (can be asynch)
- Contact Center Review
- Staging Review
- Privacy and Security Review

Post La

[2021-02-25 19:12] ala-yna opened #20510 "Caregiver team member support"
As developers working on the VFS Platform
We need access to the tools and information
So that we can continue make great Veteran-facing products.

[2021-02-25 19:14] #19077 closed

[2021-02-25 19:16] noahgelman commented on #18254
@delli-gatti-michael Approved

[2021-02-25 19:17] bridgethapner opened #20511 "Pre-Launch Internal User Acceptance Testing"
## Description
- The purpose of UAT is to ensure the app is working as we expect it to, and to discover any last bugs we need to fix before launching in app stores. UAT will be conducted with production data.
- Distribution method for internal UAT is on TestFlight for iOS and via APK for Android.

**Acceptance Criteria**
- [x] Checklist below is complete

**Approx Date Needed by**
We did 7 session

[2021-02-25 19:18] denisecoveyduc opened #20512 "Collaboration Cycle Kickoff [Search & Discovery, Typeahead 1.0]"
## Steps to complete Collaboration Cycle Kickoff
- [x] VFS Product Manager: Create this issue and fill in your team and feature name in the title.
- [x] VFS: Answer the questions below.
- [x] VFS: Link to this issue once created in vfs-platform-support in Slack; tag @vsp-product-support-members.
- [x] VFS: Attach any available artifacts.
- [ ] VSP: Review the responses and comment in ticket with r

[2021-02-25 19:18] digitalken commented on #19581
Added to TestRail.

[2021-02-25 19:19] #19569 closed

[2021-02-25 19:19] leahkeeler commented on #20449
Thank-you @shiragoodman - will you be sending out the meeting invite

[2021-02-25 19:19] #19721 closed

[2021-02-25 19:22] bridgethapner commented on #20404
@leanna-usds We have a 4 screen onboarding flow in the app that we currently have after sign in - can be started [here](https://adhoc.invisionapp.com/share/GTZ1ESFF6BN#/screens/439611290_Onboarding_Group_1-_Scope_Of_App). Maybe we move the current onboarding flow to before sign-in? I agree that giving people the lay of the land before signing in is a good idea!

[2021-02-25 19:25] #19986 closed

[2021-02-25 19:29] chrvalla opened #20513 "Usability study: Facility Locator on Mobile"
## Issue Description
_We need to understand how veterans use the Facility Locator on Mobile, what pain points exists, and how they use the new features ((Map view and Use my location and Close info card)
---
## Tasks
- [x] Plan research
- [x] Execute research
- [x] Synthesize findings
- [x] Write a Findings report (Slide deck and Markdown file for Github)

## Acceptance Criteria
- [x] _Research pl

[2021-02-25 19:32] Samara-Strauss commented on #18549
Ok, got it. Thanks!

[2021-02-25 19:33] chrvalla commented on #20513
All of this research was completed in Sprint 41

[2021-02-25 19:33] #20513 closed

[2021-02-25 19:33] chrvalla commented on #20513
Research complete

[2021-02-25 19:41] ala-yna opened #20514 "How can VFS teams handle outages of critical external services?"
## Background

- A number of VFS teams rely on MVI's backend service as a part of their products. However, MVI has completely gone down a number of times, causing Caregiver (and likely other services) error rates to spike dramatically and dangerously.

- Most recently, on February 12, a MVI outage caused the Caregiver error rate to reach [over 20%](https://analytics.google.com/analytics/web/#/dash

[2021-02-25 19:41] digitalken commented on #19582
Added to TestRail.

[2021-02-25 19:43] lexicalninja opened #20515 "Push notification scaffolding"
The mobile app will need to be able to handle push notifications from VETSTEXT.

We will need to set up Push on a branch, then test different push payloads so that we can set up templates for VETSTEXT and we can handle the notifications correctly.

Things to also consider:
- [ ] Does the app handle notification when it is in the foreground?

- [ ] What actions should a user have when they receive

[2021-02-25 19:44] vhenry07 opened #20516 "Usability Study"
We need to understand Veteran pain points with form 526
---
## Tasks
- [x] Plan Research
- [ ] Create a Research plan
- [ ] Write a convo guide
- [ ] Recruit users
- [ ] Execute study
- [ ] Synthesize findings
- [ ] Write out findings

## Acceptance Criteria
- [x] _Initial Plan_
- [x] _Research Plan_
- [x ] _Convo guide_
- [ x] _Research topline summary_
- [x ] _Research findings deck_

---
## How

[2021-02-25 19:45] #18254 closed

[2021-02-25 19:45] #18159 closed

[2021-02-25 19:45] #18247 closed

[2021-02-25 20:02] digitalken commented on #19662
Added to TestRail.

[2021-02-25 20:12] kevinmirc commented on #20505
Complete.

[2021-02-25 20:12] #20505 closed

[2021-02-25 20:18] zacharymorel opened #20517 "Technical DOC: Possible work needed from Lighthouse and CMS to enable search string matching improvements."
## Issue Description
In its current form, the Find a VA Form search does a string comparison between the search term entered and the form name and form title, yielding poor results when the user does not include dashes, or uses a partial form name.

The inclusion of technical details below could help ratify this issue.
See table as an example:

![Screen Shot 2021-02-25 at 2 50 50 PM](https://user-

[2021-02-25 20:22] zacharymorel commented on #20517
This is the issue created from this discovery: https://github.com/department-of-veterans-affairs/va.gov-team/issues/19601

[2021-02-25 20:24] zacharymorel commented on #20421
@MarciMcGuireGCIO @johnhashva here's the technical doc regarding _work needed from Lighthouse to enable search string matching improvements_.
https://github.com/department-of-veterans-affairs/va.gov-team/issues/20517

[2021-02-25 20:26] SKasimow commented on #20256
I/A URL Info: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/information-architecture/ia-reviews/cto-spanish-content.md

[2021-02-25 20:37] SgardnerPMP commented on #19375
Completed Foundational 508 Testing.  Document located in Repo here: https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/facilities/medical-centers/508_checks

[2021-02-25 20:43] #20416 closed

[2021-02-25 20:50] digitalken commented on #19668
Added to TestRail.

[2021-02-25 20:54] digitalken commented on #19669
Added to TestRail.

[2021-02-25 20:58] digitalken commented on #19706
Added to TestRail.

[2021-02-25 20:59] cohnjesse commented on #15757
@meganhkelley @drorva @joanneesteban Sorry for the late reply, my thinking with wanting VSP to implement the youtube iFrame api script is two fold - 1. If we implement this as a team just on our page there is no way for us to do it without modifying the template that is used for React pages, this would be a template inside the platform and therefore should involve the platform team. 2. This is a s

[2021-02-25 21:01] delli-gatti-michael commented on #19566
local testing complete

[2021-02-25 21:01] lealester commented on #20362
Unable to test in tugboat: Bainbridge and Glenn Falls VA clinics

[2021-02-25 21:01] #20110 closed

[2021-02-25 21:04] #19976 closed

[2021-02-25 21:05] MarciMcGuireGCIO commented on #20421
Thank you, @zacharymorel !

[2021-02-25 21:09] digitalken commented on #20222
Added to TestRail.

[2021-02-25 21:12] digitalken commented on #20354
Added to TestRail.

[2021-02-25 21:12] bramleyjl commented on #20114
The new documentation consists of three documents, a user guide for adding new or existing test accounts and two Github issue templates, one for adding existing accounts and one for creating new accounts:

Guide to requesting additional test accounts: https://github.com/department-of-veterans-affairs/vsp-test-user-dashboard/blob/main/src/markdown/requesting-additional-test-accounts.md

Add existin

[2021-02-25 21:14] mdewey opened #20518 "[FE] Technical Tasks for VSP Review"
Review https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/release-plan/visit-intro-release-guide.md and figure out what needs done.

[2021-02-25 21:19] digitalken commented on #20356
Added to TestRail.

[2021-02-25 21:32] jimiray commented on #20014
From Steven Dickson:

Hi Jim,

Yes, there was a change in priority for this and we are now planning to release it during one of our VIP17 releases.  Exact date is currently TBD, but between 4/17 and 6/19.

Can we just move this to the backlog?

[2021-02-25 21:36] Mottie commented on #19319
oops

[2021-02-25 21:37] #19316 closed

[2021-02-25 21:37] shiragoodman commented on #20443
@allison0034 I am linking your Design "defects" doc here: https://docs.google.com/document/d/1dO188vU-BGHONeR_OU7_9ILnzG0bo6_HWT0epzNfyDQ/edit#

[2021-02-25 21:43] drorva commented on #19843
So it looks like when the site was broken as is shown in this first image, the console does indeed show errors loading the files.
This seems to indicate that checking for errors in the console can catch these type of errors.

![Screenshot from 2021-02-25 13-41-39](https://user-images.githubusercontent.com/61249448/109223305-43f2e880-776f-11eb-9003-e90da34cde6f.png)

![Screenshot from 2021-02-25 13

[2021-02-25 21:45] RLHecht opened #20519 "R&S article for online travel pay (article 1: direct deposit)"
## User story
As a Veteran I need to know how to navigate the travel pay reimbursement system.

## Issue Description
Sitewide content needs to create articles within R&S about how to use the travel pay reimbursement system.

The new AccessVA website travel pay reimbursement system is complex. We had to add the information on the main benefit hub page quickly. We want to create articles in R&S to h

[2021-02-25 21:53] #19282 closed

[2021-02-25 21:54] mmiddaugh commented on #18773
Closing as duplicate to #18351

[2021-02-25 21:54] #18773 closed

[2021-02-25 22:01] bethpottsVADEPO opened #20520 "Collaboration Cycle Kickoff [Sitewide Content / Consolidating appeals content within decision reviews]"
## Steps to complete Collaboration Cycle Kickoff
- [ ] VFS Product Manager: Create this issue and fill in your team and feature name in the title.
- [ ] VFS: Answer the questions below.
- [ ] VFS: Link to this issue once created in vfs-platform-support in Slack; tag @vsp-product-support-members.
- [ ] VFS: Attach any available artifacts.
- [ ] VSP: Review the responses and comment in ticket with r

[2021-02-25 22:02] shiragoodman commented on #20512
Hi @denisecoveyduc. Thanks for completing this Collaboration Cycle Kickoff ticket! Based on your responses, we are recommending the following Collaboration Cycle touchpoints:

- Staging Review
- Privacy and Security Review

I don't think you'll need a Contact Center Review, but please [check with that team](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/contact-

[2021-02-25 22:04] mviterna commented on #19561
@zacharymorel So the bug is for the search result page right? So that is the benefitCategories  array? If so, are you also seeing form 21-8764a null for that in Drupal?

[2021-02-25 22:07] mviterna commented on #18920
@johnhashva @MarciMcGuireGCIO  I wish all support tickets were that easy! I'll close the team matsumoto jira ticket.

[2021-02-25 22:22] mviterna commented on #19561
@zacharymorel I'm pretty new to Forms API, but here is how I think the workflow works. benefitCategories is populated from a table in a MariaDB Drupal implementation (which is populated by a MSSQL db somewhere?). My team's API grabs the data off that your forms Drupal table via a graphql query (which includes benefitCategories) every night at 2AM. The front end search page on va.gov find-a-form ca

[2021-02-25 22:25] annaswims opened #20521 "Fix HLR tags"
the Source-App-Name header, when properly configured, powers [this graph](http://grafana.vfs.va.gov/d/zGS4XzkMk/backend-to-frontend-app-mapping?orgId=1) and sentry tags.

Set it up for HLR

[2021-02-25 22:31] digitalken commented on #20357
Added to TestRail.

[2021-02-25 22:38] mmiddaugh commented on #18822
@jonwehausen can you direct me to where the data can be viewed? (ie: for Pittsburgh)

[2021-02-25 22:47] mshea0606 commented on #20509
Status as of 2/25/21: VA Profile is triaging ticket and looking at MVI to see what's going on. No time estimate at this time.

[2021-02-25 23:06] cvalarida commented on #20448
Done! It's in the latest https://github.com/department-of-veterans-affairs/design-system-dashboard-cli.
![image](https://user-images.githubusercontent.com/12970166/109231243-0ac07580-777b-11eb-87af-80aeda512b75.png)

[2021-02-25 23:06] #20448 closed

[2021-02-25 23:11] billfienberg commented on #20199
Cool. Thanks, @jonwehausen.

Here's the PR to add the modernized script to `vets-website`:

https://github.com/department-of-veterans-affairs/vets-website/pull/16175

[2021-02-25 23:12] billfienberg commented on #17460
@jwoodman5, I think this ticket is ready for sign-off and/or closing.

[2021-02-25 23:17] #19996 closed

[2021-02-25 23:39] dginther opened #20522 "Investigate GI Bill Data Services CI pipeline and figure out how we can test that the docker container starts and runs."
There was an update to the Gi Bill Data Service service which upgraded the Rails version, but failed to upgrade the Bundler version in the Dockerfile. This caused the service to be unable to start. This should have been found in the CI pipeline and the merge should not have been allowed.

According to https://github.com/department-of-veterans-affairs/devops/blob/master/docs/External%20Service%20In

[2021-02-25 23:49] bridgethapner commented on #20011
Because this isn't part of VAOS today, I'm tagging this ticket as long-term. We can revisit if we learn this info is available.

[2021-02-25 23:49] bridgethapner commented on #20039
Because this isn't part of the web Claim Status Tool today, I'm tagging this ticket as long-term. We can revisit if we learn this info is available.

[2021-02-25 23:53] bridgethapner commented on #20007
We have seen some data scenarios where accounts don't have military information. Right now in the app, there's no defined empty state, it looks like the screenshot (below).

![IMG_1094.PNG](https://images.zenhubusercontent.com/5d8e52f61c53fd000173c5de/15978e54-4f51-4d34-a30e-8a8c5a117e97)

[2021-02-25 23:54] bridgethapner commented on #20017
I started to chart out unhappy paths here in this Mural (link sharing is off to comply with AH policy, plz ping me if you need access!): https://app.mural.co/t/adhoccorporateworkspace2583/m/adhoccorporateworkspace2583/1614017071435/8061f2093dc4679b4b1da3ab3f20423c8f1c8f66

[2021-02-26 00:08] bessgreen opened #20523 "Form wrapper common component"
## Acceptance Criteria
1. Create wrapper around form inputs to handle form functionality. This form will be used on the following parts of the app:
     - Contact Info forms (Address/Phone/Email)
     - Direct deposit form
     - COVID-19 form
2. Tasks include:
     - Determine when to show field errors
     - Check when the form is good to submit
     - Check when the form is bad and can't be sub

[2021-02-26 00:10] jwoodman5 commented on #17460
Fantastic!! Thanks for the quick attention to this @billfienberg

[2021-02-26 00:10] jwoodman5 commented on #17460
Tested myself on staging as well and looks good. Closing.

[2021-02-26 00:10] #17460 closed

[2021-02-26 00:12] lihanli commented on #19233
@miabecker thanks for adding the templates. i noticed that for the staging comp&pen template (`4f2752b7-179d-4b22-9445-47cceeced575`), the "Go to your VA.gov profile" link doesn't have [the right google analytics URL parameters](https://github.com/department-of-veterans-affairs/notification-api/issues/366#issuecomment-779400871). could we get that link updated for all the comp and pen emails? than

[2021-02-26 00:28] jwoodman5 opened #20524 "OMB Burden Language UX Recommendation for ORMDI"
## Issue Description
_The OMB burden language currently used on the new ORMDI - Medallia 4-question intercept survey seems excessively verbose and not aligned with OMB burden language best practices utilized on other VA.gov properties_

---
## Tasks
- [x] Review VA.gov OMB burden language best practices and implementation of such on VA.gov (referenced below with screenshot and link)
- [x] Review c

[2021-02-26 00:31] mviterna commented on #17484
@MarciMcGuireGCIO What team owns the MSSQL "Source of Truth" database for Forms? It would be best if someone from that team was present also. Or is that something your team owns as well?

[2021-02-26 00:42] MarciMcGuireGCIO commented on #17484
@mviterna, there are actually two data sources that are merged together nightly to create one dataset. One is the VA forms database (managed by the VA's form managers) and the other is the Drupal CMS, where the forms data derived from the VA database gets appended with additional metadata.

@johnhashva -- is there anyone in particular from the VA who you'd recommend to participate in a discussion

[2021-02-26 00:44] MarciMcGuireGCIO commented on #18920
If only! Lol! Thank you!

[2021-02-26 00:44] #18920 closed

[2021-02-26 01:02] bcastoe commented on #20070
#20070 - Create new Health Services "LIST, PLAYBOOK" for VA South Texas health care [BA] - is Complete and moved to Validate

[2021-02-26 01:26] bridgethapner commented on #19251
I'm tagging this as long-term until we know if we technically can offer more specific error codes

[2021-02-26 01:32] bridgethapner commented on #13681
@ayushchak Would appreciate your input and decision making here. What features related to COVID-19 do you think the mobile app to have at the time of launch?

**So far the app has:** weblinks for Coronavirus FAQs & the Covid screener

We probably can add more stuff but that would require more discovery work / might affect the launch date.

[2021-02-26 01:34] bridgethapner commented on #19521
I'm working through this in #20017 - charting "unhappy paths". Question for ya @bessgreen - is this story for being unauthorized for Claims & Appeals only or more features?

[2021-02-26 01:37] bessgreen commented on #19521
@bridgethapner I originally created the ticket as a catch-all for all the areas where we were seeing unexpected error states and blank screens - I figured as we defined the requirements further, I'd create new FE tickets to pass on to the dev team.

All that said, feel free to use this ticket and/or break it out however you need! Totally flexible on that front.

[2021-02-26 01:45] bridgethapner commented on #19521
@bessgreen Thank you so much!

I think I'm getting somewhere on access issues for Appointments (and health care in general) and Claims  -- I don't know if being unauthorized for Letters is something we anticipate running into after resolving some of the sign-in data inconsistency issues. @lexicalninja do you know?

[2021-02-26 02:21] bridgethapner commented on #14405
We have another ticket for this - #16015. Closing this one.

[2021-02-26 02:21] #14405 closed

[2021-02-26 02:22] bridgethapner commented on #14404
We have another ticket for this - #14759. Closing this one.

[2021-02-26 02:22] #14404 closed

[2021-02-26 02:22] DanielleThierryUSDSVA commented on #20519
Hi @RLHecht. I filled in more details. Happy to answer any questions or jump on a call to talk through it!

[2021-02-26 02:38] mlighdc commented on #20507
@jonathanjnelson what is these status of the content/copy/text for the spinner? I believe Justin is waiting for the copy.

[2021-02-26 02:38] swirtSJW commented on #17484
The reason is not based on the CMS, the reason is that is the only unique identifier in the forms db.  The forms db is loosely structured at best and the only thing they could guarantee was that.  Multiple rows can have the same form id so that can not be used.   The CMS is simply carrying forward the primary key from the forms db to allow data parity.  If they treat it as the primary key, the CMS

[2021-02-26 02:43] mlighdc commented on #20320
@jonathanjnelson - if it is over 3 minutes, are you showing the call HEC message?

[2021-02-26 02:53] swirtSJW commented on #18920
Here is the related CMS ticket and all the possible scenarios I proposed that might have led to this one off misalignment of the data. The only remaining possibilities are untestable with what was in place at the time that this occurred.  I added some additional tracking so that if this ever occurs again we can rule in or out the last two  scenarios.

https://github.com/department-of-veterans-affa

[2021-02-26 03:24] sporeboy opened #20525 "Incorporate stakeholder feedback for CH31 orientation mockups"
## Background
CH 31 stakeholders have provided feedback on latest copy revisions for the orientation module via PDF.

## Tasks
- [x] Review feedback on CH31 copy
- [x] Triage feedback items: red, yellow, green
- [x] Implement green
- [x] Revise yellow
- [x] Provide guidance on why red are unacceptable
- [x] Remove videos
- [x] Document changes

## Acceptance criteria
- [x] Mockups updated and read

[2021-02-26 11:24] MarciMcGuireGCIO commented on #18920
@swirtSJW thank you!

[2021-02-26 13:13] leanna-usds commented on #20404
Yes! This is so great, what do you think about showing this pre-login?

[2021-02-26 13:47] AngelaFowler82 commented on #6595
Hello,
I am conducting the full accessibility audit for this form. At present I have found no issues with the form itself, however when I submit an order it takes me to an error page with no way to return to the order form. When I attempt to submit having not selected any items it takes me to a page with no information. Is this something I should be ticketing, or merely an indication of a work in

[2021-02-26 13:47] mviterna commented on #17484
@swirtSJW Thanks for working with us on this, I know it has been a pain point for some time now. The developer who left us with the Forms API (Michael Bastos) had similar concerns that I have. So, I wanted to clarify a couple of things. In the Forms DB (not Drupal), is this an underlying system column or is it a user specified one? For example, if someone on the Forms DB (the MSSQL one, not Drupal

[2021-02-26 14:12] MarciMcGuireGCIO commented on #17484
@mviterna @swirtSJW l -- if I'm tracking, the idea being proposed is to introduce an immutable GUID as a primary key so that CRUD  operations have no impact on the PK.  That GUID would then become part of the API response, and Zach would modify his code accordingly.

If that is the case, it may not  be necessary to involve the VA form managers, apart from testing CRUD operations.  Ideally, this ch

[2021-02-26 14:13] #19034 closed

[2021-02-26 14:14] LindseySaari opened #20526 "Solution for tagging PRs"
## Issue Description
It was discussed that we should investigate a solution that tags PRs with the appropriate labels. When on the support rotation, it's often difficult to determine if the backend tools team is needed for a PR review. E.g. Lighthouse or VAOS PRs. By having an auto tagging mechanism, we would be able to better filter PRs for review purposes.

The tagging solution could be based up

[2021-02-26 14:17] 1Copenut opened #20527 "508-defect-4 [TTY]: Consider a review for inclusive language in landing page TTY call to action"
# [508-defect-4](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-4)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2021-02-26 14:23] LindseySaari opened #20528 "Update code owners and documentation"
## Issue Description
The codeowners experience has proven to be effective (VAOS team experiment). It was decided upon that we should allow VFS teams to review and approve their own code changes as part of the self-service initiative. Any code outside of the module will still need a backend-review-group approval, otherwise backend-review-group will be removed as a required reviewer when changes are

[2021-02-26 14:31] #20220 closed

[2021-02-26 14:32] #20420 closed

[2021-02-26 14:35] 1Copenut commented on #19802
Just getting back around on this issue and a few others. I like this approach a lot. It'll help balance what the VA 508 office asking for semantically, and bump the scannability for visual users. 👍

Let us know when you're ready to test.

[2021-02-26 14:40] zacharymorel commented on #19561
Yes, @mviterna this is accurate description of the process.

[2021-02-26 14:48] ashley-matthews opened #20529 "View a Full Message (Threaded View)| FE"
### **User Story**
As a Veteran, I want to be able to view a message and the corresponding thread so that I can see the full details of the conversation.

### **Acceptance Criteria**
- For a single message, the following information is retrieved from vets-api:
   - Sender + avator
   - Date and time
   - Subject (pre-defined options)
   - Subject line (user-generated)
   - Which folder the message

[2021-02-26 14:48] kevinmirc opened #20530 "Maintain an up-to-date list of "Planned Facilities" for the 10-10CG pick list"
**Description**
The Online Form 10-10CG has a list of facilities where the user (1) chooses "where they plan to receive care" and (2) which PCAFC facility the form gets routed to for processing.

This list should always be updated with the facility's most up-to-date name, and should include all facilities that CARMA can accept as a processing facility.

[2021-02-26 14:48] zacharymorel commented on #19561
@mviterna Looks like we'd need to add a column for **fieldVaFormAdministration** property on the VA Form node to our forms api db. Then the FE search results can mirror the behavior the form details page has.
The Form Details Page shows that field value if the **fieldBenefitCategories** has a length of 0.

[2021-02-26 14:54] ala-yna commented on #20507
@mlighdc, this is just a ticket to ensure that the prototype is kept up to date. Content was discussed [here](https://app.zenhub.com/workspaces/vsa---caregiver-5fff0cfd1462b6000e320fc7/issues/department-of-veterans-affairs/va.gov-team/20320) and added to the Justin's ticket [here](https://app.zenhub.com/workspaces/vsa---caregiver-5fff0cfd1462b6000e320fc7/issues/department-of-veterans-affairs/va.go

[2021-02-26 15:02] mviterna commented on #19561
@zacharymorel Can you provide a query for 21-8764a that shows fieldVaFormAdministration.entityLabel ? I only see a targetid for that form, nothing about a label

[2021-02-26 15:04] zacharymorel commented on #19561
I can try. Querying using Graphql has been tricky here.

[2021-02-26 15:06] mviterna commented on #19561
@zacharymorel use the one I sent you in slack as a template. You can see where all I get back on fieldVaFormAdministration is target id.

"fieldVaFormAdministration": {
"targetId": 1
},

[2021-02-26 15:06] kevinmirc opened #20531 "[Research] Update "Planned Facilities" list when a VA Facility changes names"
**Description**
The 10-10CG has a list of station numbers. When the name of one of these facilities changes, we should update the static "Planned Facility" picklist on the form.

**Implementation Plan**
At the start of the form, the front-end will load the facilities list from the API. It will use that data to populate the pick list on the front-end.

The API will be responsible for maintaining li

[2021-02-26 15:09] denisecoveyduc opened #20532 "Staging Review [Search & Discovery - Typeahead 1.0]"
## Steps to complete Staging Review:

- [x] VFS Product Manager: Create this issue and fill in your team and feature name in the title.
- [x] VFS: Link to this issue once created in [#vfs-platform-support](https://dsva.slack.com/channels/vfs-platform-support) in Slack; tag @vsp-product-support-members.
- [x] VSP: Schedule meeting with VSP reviewers and requesting team attendees (as listed below)
-

[2021-02-26 15:11] kevinmirc opened #20533 "Dynamically maintain a list of facilities that CARMA accepts for 10-10CG submission"
**Description**
When sending a 10-10CG submission to CARMA, CARMA will look at the "Planned Facility" station number to route the application to the proper processing facility. CARMA has a list of facilities that they can accept. Periodically poll for this list so we can update the "Planned Facility" pick-list on the form, so users can always have a full list of qualified facilities to pick from w

[2021-02-26 15:19] mydesignrocks commented on #16354
added new key

[2021-02-26 15:19] #16354 closed

[2021-02-26 15:32] rtwell commented on #19867
### design specs
feel free to [inspect specific colors, sizes](https://www.sketch.com/s/e4461f10-60cd-46f6-9479-69f0a4d71bab/a/ygVwY3b#Inspector), etc in sketch for teams!

#### mobile

![image](https://user-images.githubusercontent.com/12564977/109320070-9be82880-781d-11eb-8954-be4f3f4d61a2.png)

#### desktop (linking to an accordion)

![image](https://user-images.githubusercontent.com/12564977/1

[2021-02-26 15:39] #17685 closed

[2021-02-26 15:46] annaswims opened #20534 "Add user account_uuid to vets-website sentry"
## User Story

As a dev, I want to be able to find individual users' problems/bugs in Sentry.

## Expected Behavior

After this change, users will be identified by id and it will be much easier to find out how many unique users were affected by a bug.
## Acceptance Criteria

- [ ]  account_uuid from /v0/user is available in the redux state.
- [ ] The  account_uuid value is passed to sentry as the

[2021-02-26 15:52] jnguy-va opened #20535 "Access for Jennifer Nguy"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Do not remove `operations` label; this will notify the VSP Operations team of your request
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Pleas

[2021-02-26 15:57] ashley-matthews opened #20536 "SM Avatars"
### **Use Story**
As a Veteran, I want to see an avatar next to a sender's name so that I have

### **Acceptance Criteria**
- An avatar displays next to a person's name when viewing messages

### **Tech Notes**
- where do the avatars come from?

### **Design**

[2021-02-26 16:08] jbritt1 commented on #19331
Success in dev as well:

![image.png](https://images.zenhubusercontent.com/5d9b3f56add771000187d3a8/210a5388-0e30-46f1-bed0-46ad2a1257ce)

[2021-02-26 16:12] zacharymorel commented on #19561
@mviterna I have an updated query for you:

`{
  nodeQuery(limit: 1000, offset: 0, filter: {conditions: [{field: "field_va_form_number", value: "21p-8768", operator: LIKE}]}) {
    entities {
      entityId
      entityBundle
      ... on NodeVaForm {
        changed
        fieldVaFormName
        fieldVaFormTitle
        fieldVaFormType
        fieldVaFormUrl {
          uri
          title

[2021-02-26 16:13] theodur commented on #18845
The [PR](https://github.com/department-of-veterans-affairs/devops/pull/8568) has been approved by devops. Content only deploy is ready to be pushed.

[2021-02-26 16:19] msmanak commented on #18795
I will be revisiting this ticket next week but I wanted to follow up with @bessgreen @jmarchi on edge detection decision for the uploads. For accessibility purpose, I am wondering how we would get around VoiceOver if we do not have this feature. Do we know how many engineering hours we'd need to add this?

My other solution is to have updated content (*provided by VA content team) that reflects th

[2021-02-26 16:23] mshea0606 opened #20537 "VA Profile: Resolve MVI 201 errors"
## Background
VA Profile is returning an error saying people aren’t in MPI when we’re able
to initialize them in MPI on our end.

Related ticket: [BE] log when users have a mvi_response.status of OK then return a va profile MVI201 error #18349

[Slack convo](https://dsva.slack.com/archives/C7TE0PFTL/p1611332694003100)

Current status: 2/26/21: Triaging ticket to get info back from MVI to see what’

[2021-02-26 16:26] mshea0606 commented on #20537
Current status: 2/26/21: Triaging ticket to get info back from MVI to see what’s going on

[2021-02-26 16:30] johnhashva opened #20538 "[Images for Unauth Pillars]"
<img width="669" alt="Screen Shot 2021-02-26 at 11 23 37 AM" src="https://user-images.githubusercontent.com/63107147/109327088-ef5e7480-7825-11eb-9d5e-e86335eaf53e.png">

[2021-02-26 16:40] msmanak commented on #20008
## Update:Feb 26, 2021
 Upon further review with @lexicalninja @bridgethapner  we will put this ticket on hold as the api for both dates/backend is able to pull the data into the app again. We will revisit this story once the claims team is able to do so. In mean time posting all discovery links here that we can address for future updates.

## Links
- **information pull from code** https://docs.go

[2021-02-26 16:48] #19966 closed

[2021-02-26 16:48] #19686 closed

[2021-02-26 16:48] watersemma commented on #19566
UX 1/2: Looks go to me!

[2021-02-26 16:48] JenLJ commented on #19566
UX Review 1/2:  This checks out for me!

[2021-02-26 16:49] kristenmcconnell commented on #20105
Met with engineering. Going to look into what other teams do for an error state when a form is submitted and its size is too large. We had a 1MB cap on each form field.

[2021-02-26 16:51] shiragoodman commented on #20532
scheduled for 3/4 at 1:30 pm ET

[2021-02-26 16:53] mviterna commented on #19561
@zacharymorel So, going back to the original form (21-8764a), when I run your new query, fieldBenefitCategories is still null, so what you are proposing is that it fall back to "Veterans Benefits Administration" in the related to? Why wouldn't we just set that form's fieldBenefitCategories to "Disability" like 21-526EZ has?

I only ask, because I'm a veteran and I have used the VA website for pers

[2021-02-26 16:54] msmanak commented on #20009
## Update:Feb 26, 2021
 Upon further review with @lexicalninja @bridgethapner  we will put this ticket on hold as the api for both dates/backend is able to pull the data into the app again. We will revisit this story once the claims team is able to do so. In mean time posting all discovery links here that we can address for future updates.

## Links
- **information pull from code** https://docs.go

[2021-02-26 16:56] digitalken commented on #19673
PASS 2/26/2021 - This seems to have done the trick.  Worked every time I tested.  Closing.

[2021-02-26 16:56] #19673 closed

[2021-02-26 16:57] RLHecht commented on #18876
This ticket can be closed. Work was completed in ticket #19073

[2021-02-26 16:57] #18876 closed

[2021-02-26 16:59] amyknox commented on #19566
UX Review 3/2: This needs to work on PC, too.

![image](https://user-images.githubusercontent.com/41081945/109330678-f12a3700-7829-11eb-94df-003e28220420.png)

![image](https://user-images.githubusercontent.com/41081945/109330696-f5565480-7829-11eb-95ee-5e411b4cc19b.png)

Typo
![image](https://user-images.githubusercontent.com/41081945/109330718-fab39f00-7829-11eb-8f9b-10ac17ecf1fd.png)

Possibly

[2021-02-26 17:00] digitalken commented on #20353
PASS 2/26/2021 - Looks good.  Closing.

[2021-02-26 17:00] #20353 closed

[2021-02-26 17:21] dmccurdybah commented on #19566
Label update PR: https://github.com/department-of-veterans-affairs/vets-website/pull/16202

[2021-02-26 17:23] jhouse-solvd commented on #20349
@joeniquette - Thanks for this. We will discuss as a team as we head into this next sprint. at first glance, it seems super straight forward, but will get some technical eyes on it and provide a refined ETA.

[2021-02-26 17:32] shiragoodman commented on #20520
Hi @bethpottsVADEPO. Thanks for completing this Collaboration Cycle Kickoff ticket! Based on your responses, we are recommending the following Collaboration Cycle touchpoints:

- Contact Center Review (I would check with the team to see if the Product Guide and/or Product Video needs updating)
- Staging Review
- Privacy and Security Review

The following practice areas will be included throughout

[2021-02-26 17:33] joanneesteban commented on #20403
Thanks, @mlighdc ! Appreciate it! We should have those numbers. For `health enrollment`, I'm assuming you're referring to the Health care application (HCA)?

[2021-02-26 17:35] mlighdc commented on #20403
Yes @joanneesteban - 10-10EZ (HCA)!

[2021-02-26 17:39] jhouse-solvd commented on #19556
@fowusu2 submitted the report to the ATO office on Monday, February 22, 2021 and we are compliant with this requirement.

[2021-02-26 17:39] #19556 closed

[2021-02-26 17:40] brianalloyd opened #20539 "Documenting Templating/GraphQL Approach (Smaller Queries Approach)"
## Issue Description
_Facilities Team had an ask about creating documentation around templating/GraphQL_

## Front end tasks
- Please add estimate and remove 'needs grooming' label
- Document approach for GraphQL
- Place document in findable location (Determine location that would be helpful)
- Advise affect teams (Facilities) via #vsa-facilities

## Acceptance Criteria
- [ ] Documentation is easy

[2021-02-26 17:47] zacharymorel commented on #19561
I don't know the exact reason why we fall back to the Administration Field. Something built, decided from the original crew who built this.

@ncksllvn Do you have any context to that decision?

[2021-02-26 17:47] bcastoe commented on #20072
#20072 - Create new Health Services "LIST, PLAYBOOK" for VA El Paso health care [BA] - is Complete and moved to Validate

[2021-02-26 17:50] zacharymorel commented on #20295
@MarciMcGuireGCIO CTA is on Staging: https://staging.va.gov/find-forms/about-form-10-10cg/

[2021-02-26 17:52] jhouse-solvd opened #20540 "ATO - Annual Web Application Security Assessment (WASA) Scan"
## Description
WASA (Web Application Security Testing) Scans need to be performed annually per the requirements of ATO. The scan is requested through the VA's EAS portal, and contains administrative and technical information about the VSP infrastructure and services that are exposed on the internet, so that a scan be run to determine potential vulnerabilities with the infrastructure and services.

[2021-02-26 17:55] jhouse-solvd opened #20541 "ATO - Annual Penetration Testing 2021"
## Description
Penetration testing need to be performed annually per the requirements of ATO. The scan is requested through the VA's EAS portal, and contains administrative and technical information about the VSP infrastructure and services that are exposed on the internet, so that a scan be run to determine potential vulnerabilities with the infrastructure and services.

## Background/context/res

[2021-02-26 17:58] brianalloyd commented on #18872
@lunascoop can you close this out once validated?  TY

[2021-02-26 18:06] MarciMcGuireGCIO commented on #20295
@zacharymorel, my apologies.

We should have had a quick chat to discuss.  This was actually intended to change the detail page link & button in the _search results_ so they are more prominent.

In an [earlier comment](https://github.com/department-of-veterans-affairs/va.gov-team/issues/20295#issuecomment-785328927), I mentioned that https://design.va.gov/components/buttons#primary-buttons explain

[2021-02-26 18:06] MarciMcGuireGCIO commented on #20295
I'll add some screen shots above to clarify

[2021-02-26 18:08] lunascoop commented on #18872
Confirmed that this redirect has been implemented. Closing ticket.

[2021-02-26 18:08] #18872 closed

[2021-02-26 18:10] zacharymorel commented on #20295
Ha whoops. No worries @MarciMcGuireGCIO .
YES, give all the screen shots!

[2021-02-26 18:11] MarciMcGuireGCIO commented on #20295
Thanks! :) Added image & comments above.

[2021-02-26 18:15] ianMcCullough-ob commented on #18278
@jonwehausen here are some screenshots from testing modernized staging. I tested feedback survey on [Find VA Locations](https://staging.va.gov/find-locations) and the intercept at [West Los Angeles VA Medical Center](https://staging.va.gov/find-locations/facility/vha_691)

​​

| Tag Tested                                    | Tag Values                                                   | Status |

[2021-02-26 18:15] joanneesteban commented on #20403
@mlighdc thank you!!

[2021-02-26 18:18] joanneesteban commented on #20403
@lalexanderson-dsva - a head's up that we won't be able to get granular data (like links clicked) on the missionact.va.gov specific pages since that isn't on our modernized Google Analytics, and DAP isn't retrieving detailed events.

[2021-02-26 18:19] digitalken commented on #20501
PASS 2/26/2021 - User has mock data - kill app to reset.  Closing.

[2021-02-26 18:19] #20501 closed

[2021-02-26 18:20] bsmartin-ep commented on #15757
Update:  @cohnjesse found a solution:

https://github.com/department-of-veterans-affairs/vets-website/pull/16203

[2021-02-26 18:27] MarciMcGuireGCIO commented on #18234
@zacharymorel @jonwehausen catching up... @jonwehausen can we schedule some time with you to do a quick review of the changes Zach added?  Thx!

[2021-02-26 18:32] jenniemc commented on #18488
@laurenernest , @outerpress , this ticket is to correct the text within Add to Calendar file for `phone appointment`. So what i'm describing is out of scope for this ticket but want to bring it up anyways.

### Regular Homepage confirmed phone appointment card:

This is the screen image for the phone appointment. While it does indicate `VA Appointment over the phone`, it shows the facility address

[2021-02-26 18:42] brangi commented on #20478
How do I access to `CMS`
<img width="1154" alt="Screen Shot 2021-02-26 at 12 41 43 PM" src="https://user-images.githubusercontent.com/100468/109341470-1752d580-7830-11eb-8dc5-e20634492018.png">

[2021-02-26 18:46] zacharymorel commented on #20295
Okay, I am revisiting this now.

[2021-02-26 18:50] JasonTheBearded commented on #18785
@mandy-uxd Type Ahead dashboard data changes complete, ready for design review. Thanks!

[2021-02-26 18:50] vhenry07 opened #20542 "Staging Account Feedback"
## Issue Description
Work with VSP Identity team to help then better understand how staging accounts are used, what that process is like, what works well, and what doesn’t

---
## Tasks
- [x] Review questions provided by VSP and provide feedback either asynchronously.

## Acceptance Criteria
- [x] _Verbal or documented responses sent to ajohnson@clarityinnovates.com [@Amanda](https://dsva.slack.co

[2021-02-26 18:51] vhenry07 commented on #20542
[Identity Questions_Test User Accounts.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/6051787/Identity.Questions_Test.User.Accounts.docx)

[2021-02-26 18:57] narin commented on #20188
Verified that filename is stripped of quotes when downloading through Postman. Closing out.

[2021-02-26 18:57] #20188 closed

[2021-02-26 19:04] annaswims opened #20543 "Session timeout in form 526 - better handling"
## What happened?
I was on the "review and submit" page of form 526 and put my laptop to sleep and came back around an hour later. So, my session was expired.
I would expect that if my session times out in form 526 that I would be informed that that's the issue. The api call returned a 401, but the form looked pretty much the same, other than that the username changed to a sign-in button at the to

[2021-02-26 19:16] jhouse-solvd commented on #15486
sending a direct message to Kevin to get some info about the URL(s)

[2021-02-26 19:20] jbalboni opened #20544 "Fetch single appointment and request for details pages"
We need to make use of the apis to request a single request or appointment for the details pages.

AC
- Details pages can be refreshed and single appointment or request is fetched
- Details pages do not make an extra api call if appointment or request is already in Redux state

[2021-02-26 19:23] sonntag-adam commented on #19571
![Screen Shot 2021-02-26 at 1.46.09 PM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/e4ea376e-5749-43b1-98bc-f429c54afdbf)
##
![Screen Shot 2021-02-26 at 1.46.18 PM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/ba3c44d6-6eb3-4721-966d-dc10397c4280)

[2021-02-26 19:23] sonntag-adam commented on #19571
Testing passes QA

[2021-02-26 19:23] #19571 closed

[2021-02-26 19:24] #20153 closed

[2021-02-26 19:30] bridgethapner commented on #20511
@ayushchak :wave: hi! I started a shell here for the UAT plan: https://docs.google.com/document/d/1Xi1Aq2rw7iVruitlEcjzxe13FOGku_2lJzdv-iD1zwA/edit?usp=sharing. This doesn't seem urgent yet and we'll have to keep building as we add stuff, but thought having a shell showing the types of research questions would be helpful. Let's work on this together down the line!