[2019-12-12 23:33] wyattwalter commented on #3510
Yeah. I am not finding a reason that we must upload to GitHub. I'm going to say we can stop doing that. That doesn't happen for things that get bundled up as AMI's, so there's really no reason that this has to be special. I don't see any justification for it anywhere historically.

The primary reason that I'm advocating for not doing this is that 1) if we can use S3, it negates a lot of the benefi

[2019-12-12 23:40] jenstrickland commented on #3556
From an accessibility point of view, it creates confusion and noise, so if there was a designer that created that it wouldn't have passed an accessibility audit.

[2019-12-12 23:41] cvalarida commented on #4079
### Mutations I've discovered
- Removing carriage returns `\r`
- Removing newlines `\n` (infrequently; usually with a carriage return)
- Transforming Unicode code points into Unicode characters (`\u2019` -> `’`)
- Removing DOM elements from (some) WYSIWYG strings
  - I've found some that were wrapped in `<div itemprop=\"text\">`

After about a day trying to figure out how to map the `processed` st

[2019-12-12 23:41] #4079 closed

[2019-12-12 23:52] peggygannon commented on #3488
Hello, @rtwell @narin  please see below for my copy recommendations for the cancel modals.

Telehealth appointment modal
**You need to call your VA medical center to cancel this appointment**
VA Video Connect appointments can’t be canceled online. Please call the below VA facility to cancel your appointment.

please update button to: OK (caps)

-----

Community Care cancel modal
**You need to call

[2019-12-13 02:06] tlei123 opened #4223 "AuthdExp - Address Modal - Test Plan & Cases"

[2019-12-13 02:16] tlei123 opened #4224 "QA-Internal - TestRail pilot"

[2019-12-13 05:26] markgreenburg opened #4225 "Update feature flipper to percent of traffic"
As a developer, I want to incrementally increase the percentage of veterans who are able to see the VAOS opt-in banner on the scheduling page so that I can gradually roll the tool out.

AC
- [ ] VAOS not gated by whitelist
- [ ] VAOS opt-in banner percentage set to whatever level deemed initially acceptable

[2019-12-13 05:30] markgreenburg opened #4226 "Add VAOS to navigation"
As a veteran, I want to be able to access the new VAOS tool so that I can schedule my appointment directly on VA.gov using the new experience.

AC
- [ ] `/health-care/schedule-view-va-appointment` calls to action point to `/health-care/schedule-view-va-appointment/appointments` instead of MHV for opted in users
- [ ] calls to action on that page still point to MHV for veterans who have not opted i

[2019-12-13 07:11] #3933 closed

[2019-12-13 07:12] #3934 closed

[2019-12-13 12:05] sonntag-adam commented on #4064
In staging. Closing story.

[2019-12-13 12:05] #4064 closed

[2019-12-13 12:13] saneshark commented on #3254
I'm removing the VAOS tag, as the changes have now been merged to support metrics properly. Thanks for catching this. I'll leave the issue open though for you all since it also explores the possibility of automating verification of this type of thing.

[2019-12-13 12:19] saneshark commented on #3686
No. Marcy or Shawn would be the best to ask.

[2019-12-13 12:23] saneshark commented on #3687
closing this ticket, feel free to reopen if it's helpful. I think we've just been going the trial and error route for now.

[2019-12-13 12:23] #3687 closed

[2019-12-13 12:51] dneel-bah opened #4227 "CT: Remove "Not available at this campus" content from Veterans Programs Section"
## User Story:
As a veteran, I only need to see the programs that are available at an institution when viewing a profile OR an informational message if there are no programs available so that I am provided with relevant information to my school research.

## Assumptions:
1. This is completed behind a flag so that it is only available in the staging environments and below.

## Acceptance Criteria:

[2019-12-13 14:16] #1442 closed

[2019-12-13 14:19] kelsonic commented on #4147
@ncksllvn Do we know what the API key is that we'll be using? Once we know that, I think this ticket is pretty straightforward! :)

[2019-12-13 14:23] ricetj opened #4228 "Lock Terraform Versions per Terraform Environment"
## User Story
As an infrastructure Engineer, I need to able to work on the version of Terraform I want so I can know which version to use in any given place.

## Goal
_Lock Terraform Versions per Terraform Environment_

## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an Epic** (what body of work is this a part of?)
- [ ] **Labeled

[2019-12-13 14:27] ricetj opened #4229 "Break out Terraform Module"
## User Story
As a VSP Ops Member, I need to have one place for Terraform to live outside of the DevOps repo so I can have a clear understanding of the versions in use and have a shared resource with others who use it.

## Goal
_Separate Terrform Module_

## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an Epic** (what body of work

[2019-12-13 14:29] ricetj opened #4230 "Break Out Ansible Module"
## User Story
As a VSP Ops Member, I need to have one place for Ansible to live outside of the DevOps repo so I can have a clear understanding of the versions in use and have a shared resource with others who use it.

## Goal
_Separate Ansible Module repo_

## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an Epic** (what body of wo

[2019-12-13 14:31] thatmattjohnson commented on #2886
UAT completed; all looks good. Closing this issue.

[2019-12-13 14:31] #2886 closed

[2019-12-13 14:51] ncksllvn commented on #4147
Not yet but to test locally, you can pull my API branch, `nps-3563`, at https://github.com/department-of-veterans-affairs/vets-api/pull/3616. Then, in your `settings.local.yml`, add a property like this -

[code]

[2019-12-13 14:52] Justin-Pickett commented on #3948
@artistgreen and @tzelei have the scenarios/flows been added to the test plan yet? If so, where can I find these or where can I link to them on this ticket? Thanks guys.

[2019-12-13 14:59] Karak888 opened #4231 "[Due on 1/24] Redirect Request: Implement Legacy Survivors Pension Benefits"
### Description
*As user of VA.gov, if I click on a link or option for a Pension based legacy page, I want to be automatically redirected to the new updated content page, so that I am always seeing the most updated, single source of truth for benefits information.*

### Requestor Info
***Public Websites Team***
*@Karak888 PM*
*@ncksllvn FE Engineer*
*@lunascoop Comms POC*

### Implementation Date

[2019-12-13 14:59] Samara-Strauss commented on #3948
This work needs to be done prior to Tuesday so we can determine if we are actually ready for QA starting on the 18th (day one of sprint 11).

[2019-12-13 15:01] andreahewitt-odd opened #4232 "Caregiver Onboarding Phase 2"
## User Story
As a new VA.gov team member, I need to complete onboarding activities so I can successfully work on my project.

## Acceptance Criteria
- [ ] Each team member has completed each item in the onboarding checklist below.

## Onboarding Checklist

**READINGS ARE JUST FOR KEVIN/JONATHAN/PATRICK (REST OF THE TEAM HAS COMPLETED)
- [x] PM: Attend intro meeting with product support PM
- [x] A

[2019-12-13 15:04] peterhill-oddball commented on #3985
Working on a slideshow here -- https://docs.google.com/presentation/d/1ULGWjk_yeMFvnl_kULnlqLWavkWp_hkMNs-mkiVJaAE/edit?usp=sharing

[2019-12-13 15:13] Karak888 commented on #4070
@ncksllvn it sounds like we have confirmation here unless I am missing something?  Thanks!

[2019-12-13 15:16] meganhkelley commented on #503
Please keep VSP Content & IA posted as y'all begin working on this!

[2019-12-13 15:16] ncksllvn commented on #4070
Okay, @jenniferlee-dsva would you like me to create the following server-side redirects?

src: https://www.va.gov/decision-reviews/forms/supplemental-claim-20-0995.pdf
dest: https://www.vba.va.gov/pubs/forms/VBA-20-0995-ARE.pdf

src: https://www.va.gov/decision-reviews/forms/higher-level-review-20-0996.pdf
dest: https://www.vba.va.gov/pubs/forms/VBA-20-0996-ARE.pdf

src:  https://www.va.gov/decisi

[2019-12-13 15:22] andaleliz commented on #3556
As a designer (although not THE designer who created this pattern) and the person who created this ticket, my insight is that the paragraph should not be part of the link.

[2019-12-13 15:26] andreahewitt-odd opened #4233 "Pension Automation Onboarding"
## User Story
As a new VA.gov team member, I need to complete onboarding activities so I can successfully work on my project.

## Acceptance Criteria
- [ ] Each team member has completed each item in the onboarding checklist below.

## Onboarding Checklist

- [ ] PM: Attend intro meeting with product support PM ( Zach and Andrea)
- [ ] Attend general onboarding meeting
- [ ] [Request Access to Too

[2019-12-13 15:33] ricetj commented on #903
@wyattwalter this is happening now right?

[2019-12-13 15:35] ncksllvn commented on #3556
Okay, I'm not disagreeing - my suggestion for design confirmation was only to avoid the case where FE picks this up for implementation -> the change comes as a surprise to other team members and folks are wondering what's up -> it gets logged as a bug -> FE needs to revisit and do something more.

@rtwell okay if this ticket proceeds with only linking via the headings, as opposed to the heading +

[2019-12-13 15:59] rtwell commented on #3556
i'm on board to disconnect them @ncksllvn , esp if it brings more clarity. tyvm for everyone's thoughts on this!

[2019-12-13 16:00] andaleliz commented on #3556
@ncksllvn Excellent point and thanks for looping Ryan in!

[2019-12-13 16:05] billfienberg commented on #2888
PRs have been merged

[2019-12-13 16:12] ricetj commented on #169
Is this the same as: https://github.com/department-of-veterans-affairs/va.gov-team/issues/2822

[2019-12-13 16:20] brandonrapp opened #4234 "Pre-Warm Image Styles for CMS Content Export System"
The default D8 behavior is that Image Style derivatives are only generated when requested for the first time.

The new CMS Export system needs all the image styles to be on disk immediately during the "publish" operation so that they can be tarred right afterwards and made available for build consumption.

Acceptance Criteria:
1. Pre-Warm all currently used Image Styles
_1_1_SQUARE_MEDIUM_THUMBNAI

[2019-12-13 16:21] ncksllvn commented on #3556
Thanks @rtwell , sounds like this ticket is ready to go then. I added an estimate and moved to the backlog. I don't think we'll grab it this sprint, but should be ready for next.

[2019-12-13 16:24] jenniferlee-dsva commented on #4070
Yes, please @ncksllvn - thank you!

[2019-12-13 16:29] brandonrapp opened #4235 "Write Tome hook to update all entities on global metadata update"

[2019-12-13 16:31] jenniferlee-dsva commented on #4070
Thx for confirming @mnorthuis

[2019-12-13 16:41] rileyorr commented on #3950
@wygonikGCIO This ticket can be closed. I've created the document and it is now in the phase of being filled out for synthesis.

[2019-12-13 16:50] ricetj commented on #4228
Not needed

[2019-12-13 16:50] #4228 closed

[2019-12-13 16:58] annaswims commented on #3706
@ricetj This is more urgent than I originally realized.  I mistakenly thought we were using 9.6, but it looks like we're using 9.4.

`PostgreSQL 9.4 will stop receiving fixes on February 13, 2020, which is the next planned cumulative update release.`

[2019-12-13 17:00] 1Copenut opened #4236 "Design and document a specific use case for tooltips"

[2019-12-13 17:00] 1Copenut opened #4237 "Design and document a specific use case for tooltips"

[2019-12-13 17:06] artistgreen commented on #3948
Thanks @tlei123 - is there anything else you need - outside what was provided in our discussion?
 Let me know if you have any questions about the workflows - I'll keep an eye out and address them quickly.

[2019-12-13 17:14] johnpaulashenfelter commented on #3706
While we're on it, pg12 makes some breaking changes in system table structure. This affects tooling (eg admin tools, some extensions) far more than application/user data but its a pretty strong reason to consider pausing for a bit on 11.

I am *not* sure what the dependency map is with postGIS 3.0, but I'd guess part of 3.0 is related to pg12.

TL;DR let's get this prioritized.

[2019-12-13 17:19] #3300 closed

[2019-12-13 17:29] kevinstachura opened #4238 "Checkbox shows error state by default"
## What happened?
_In accessing the Claim Status Tool --> [Additional Evidence (File Upload)](https://staging.va.gov/track-claims/your-claims/600174345/additional-evidence) page, the default error state was presented on the checkbox below the upload file button (where the user confirms that the files are related to the current claim only)._

![screencapture-staging-va-gov-track-claims-your-claims-

[2019-12-13 17:39] dneel-bah opened #4239 "CT: Comparison Tool Enhancements"
As a user of the Comparison Tool, I need the Comparison Tool updated to provide current and relevant information so that I am provided with complete and accurate information while reviewing my education options.

## Assumptions
1. The stories linked to this EPIC have been agreed upon by reps from OIT, DSVA and EDU.

## Acceptance Criteria
1. All linked stories have been implemented and tested

##

[2019-12-13 17:52] tlei123 commented on #3948
@Justin-Pickett @Samara-Strauss @artistgreen , I'm working on the plan today.

I'll have a link up by Monday Noon.  :)

[2019-12-13 17:54] jenstrickland commented on #3556
I have one more point to add: If possible, I would change the structure to be:
[code]

[2019-12-13 18:01] LindseySaari commented on #1146
**Dependabot Pros:**
Nicely formats Changelog / Fixes in a PR
Automatically keeps track of updates (This can be tedious if not nearly impossible manually)
A great reminder if anything, we can always deny the PR
Security/Up to Dateness
Free tool
https://seankilleen.com/2019/07/automagically-update-your-package-dependencies-with-dependabot-for-free/

**Dependabot Cons:**
Gem hijacking - https://with

[2019-12-13 18:03] LindseySaari commented on #1146
Currently there's a issue with passing the sidekiq key to dependabot. First solution was to set up a GH secret with the sidekiq enterprise key value pair, but this solution was unsuccessful:  https://app.dependabot.com/accounts/department-of-veterans-affairs/update-logs/17717531

[2019-12-13 18:07] peggygannon commented on #4105
@Samara-Strauss
Hello, please see below for 2 options for copy recommendation for bank number message. I like how the bullet point option makes it clear to users they have two options for moving forward, but would love your thoughts if this won't work with the design. Let me know if you have any questions or feedback.

I also wanted to check that the link I inserted below (/change-direct-deposit)

[2019-12-13 18:11] johnpaulashenfelter commented on #3706
Checked PostGIS 3.0: This release works with PostgreSQL 9.5-12 (https://postgis.net/2019/10/20/postgis-3.0.0/)

[2019-12-13 18:13] kevinstachura commented on #3456
Hi @peggygannon - there is currently a checkbox error that exists with some generic messaging - I have produced a mockup to show what we currently have:

https://vsateams.invisionapp.com/share/S2U2NQZZ76A#/397765347_Upload_Additional_Evidence_-_Checkbox_-_Revised_-_Error_State

Please feel free to advise on better messaging for it!

The other changes have been implemented and can be viewed here:

[2019-12-13 18:22] ncksllvn commented on #3556
Sounds good, thanks @jenstrickland

[2019-12-13 18:25] alexpappasoddball opened #4240 "Launch publicly viewable report of external service SLOs"
## Product Outline

[Request Timing Product Outline](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/platform/request-timing(SLO)/request-timing.md)

## High Level User Story/ies
As a developer , I need to know how long it takes for requests from the frontend to be returned from all vets-api and external services so I can understand and escalate potential problem

[2019-12-13 18:43] mmiddaugh opened #4241 "Remove "referral" content from urgent care facility sub-types"
## Problem Statement
How might we accurately and clearly provide referral information for Community Care?

## Current behavior

![referral language.png](https://images.zenhubusercontent.com/5d8a47393ac3440001d1a2ed/5088a366-75ea-4f3b-b93a-5a5754f929f1)

Currently, facilities returned for urgent care searches include the following verbiage:

This information is inaccurate for the following place of

[2019-12-13 18:51] 1Copenut commented on #4237
Closing this one as a duplicate.

[2019-12-13 18:51] #4237 closed

[2019-12-13 18:52] 1Copenut commented on #3002
Moving this to close. The fix in PR 11285 just shipped and has been tested on localhost with Chrome, Firefox, and Safari on MacOS.

[2019-12-13 18:52] #3002 closed

[2019-12-13 18:56] #4117 closed

[2019-12-13 18:56] 1Copenut commented on #4117
Fixed this item with https://github.com/department-of-veterans-affairs/vets-website/pull/11285. Moving to close.

[2019-12-13 18:56] #3639 closed

[2019-12-13 19:10] wyattwalter commented on #169
Yes, but this one is better built out.

[2019-12-13 19:11] peggygannon commented on #3456
Thanks, @kevinstachura I added a comment/made a suggestion on the inline error. Thank you for the updates.

Peggy

[2019-12-13 19:12] wyattwalter commented on #2822
Looks like I also opened #169 which has a bit better description. They are in an ASG, but the thread limits currently are preventing from the scaling from ever kicking in before the service starts having issues. Just adding some additional threads to puma I think and enabling this option would fix what we need: https://github.com/department-of-veterans-affairs/devops/blob/master/ansible/deployment

[2019-12-13 19:12] #2822 closed

[2019-12-13 19:12] wyattwalter commented on #169
Well, I guess they're kind of the same but different 😩

[2019-12-13 19:14] nathanhruby commented on #3036
so after some kerfluffle with getting basic auth enabled and url routing from non-vagov vpc's I think this should work now.

Process is
- vets-website adds the timestamp to BUILD.txt
- the `deploy-vets-website` role will build BUILD.txt after deploy
- the role will hit the http endpoint as the api user using basic auth and the GET query param

For now, we are ignoring errors on the api callback ac

[2019-12-13 19:15] Karak888 commented on #952
@ncksllvn @kelsonic - this is for redirect of records that @mnorthuis said she was fine on her end.
**Redirect Request**:
- **Current URL**:  https://www.benefits.va.gov/COMPENSATION/NPRC1973Fire.asp
- **Redirect to**:  /records/get-military-service-records/reconstruct-records/

**Note:**  Client communications ^ were sent out for 12/19/19

CC:  @jenniferlee-dsva

[2019-12-13 19:22] mmiddaugh commented on #3635
@davidconlon I think we should consider closing this if Lance has the access he needs to perform the current analysis (even though we know he doesn't have full access).

[2019-12-13 19:26] ncksllvn commented on #952
Thanks @Karak888, I'm opening a PR now

[2019-12-13 19:29] ncksllvn commented on #952
Here's the PR for reference, https://github.com/department-of-veterans-affairs/vets-website/pull/11311.

[2019-12-13 19:29] lkoenigsberg commented on #3892
@Justin-Pickett , thanks for sharing the [WIP matrix](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/change-address/address-validation/error-code-matrix.md) with me.  This is coming along nicely and here are some additional comments for consideration:

- Continue to flush out the experience/outcomes column, keeping it updated as changes

[2019-12-13 19:36] ccruzgra commented on #4024
@amyknox  All updates are in. This story can be closed.

[2019-12-13 19:41] alexpappasoddball opened #4242 "Framework Version Upgrade Protocol"
This came out of a leadership ask to document what version different frameworks are on and what is our policy on updating and keeping them updated.

## User Story or Problem Statement
As a _____, I need _____ so I can _____.

or

Problem description. How might we _____________ ?

## Goal
_What outcome(s) do we want to see?_

## Objectives or Key Results this is meant to further
- _lorem ipsum_

##

[2019-12-13 19:42] Samara-Strauss commented on #3892
Agreed with @lkoenigsberg ' s feedback. We can consider the goal met for Sprint 10 and continue with implementing Lisa's feedback in Sprint 11.

[2019-12-13 19:42] alexpappasoddball commented on #4242
Something to consider:

[2019-12-13 19:42] Karak888 commented on #4141
@kevinstachura Kevin is conducting user research sessions and gets better understanding of how they use the content - Looking at analytics for baseline - Websites team needs caseflow training.

[2019-12-13 19:42] andreahewitt-odd opened #4243 "Travis read onboarding content"
- [x] Review the [Guidelines for Working Safely in an Open Source Repo](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/working-with-vsp/policies-work-norms/sensitive-guidance.md)
- [x] Review the [Norms for Using Tools](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/working-with-vsp/policies-work-norms/norms-tools.md)
- [x] Re

[2019-12-13 19:48] LindseySaari commented on #4162
Ideas to consider/include in the proposal document:

[Prometheus metrics](http://grafana.vfs.va.gov/d/lG2hMgBZk/http-request-timing)
vets-api metrics - api_rack_request_duration by controller, action
External service breakdown — metrics measuring request time calls to external services & endpoints

[Datadog](https://docs.datadoghq.com/tracing/guide/metrics_namespace/)
[Retrace](https://stackify.co

[2019-12-13 19:53] Justin-Pickett opened #4244 "[FE] Candidate Address Modal - Confirmation Screen"
## User Story:

As a designer i need to upload the final UX steps of getting through the states of validation all the way to the confirmation stage.

## Tasks

_The steps that must be done by the team to complete the acceptance criteria_

- [x] Upload all the states to be accounted for in the user flow

- [ ] Make sure confirmation page is added and validated

- [ ] Validate on staging that confir

[2019-12-13 19:54] ricetj commented on #3706
@johnpaulashenfelter @annaswims completely hear you both, we have an ATO deadline to get our DBs moved to VAEC and scanned so that is what I meant when I said we can talk after, but the move and scan need to happen by Jan 22.

[2019-12-13 20:06] mnorthuis commented on #3507
@jason-gcio have you talked with Samara on the authenticated experience team?  Wondering if this information is actually part of profile and not buried within disability.  We should have some discussions around where this ultimately lives.

[2019-12-13 20:10] #3216 closed

[2019-12-13 20:13] mmiddaugh commented on #4241
Cannot be estimated until we understand the Place of service

[2019-12-13 20:15] jenniferlee-dsva commented on #3460
@lwalsh617 - here is the HLR static landing page tool entry/access copy updates that were used in Carola and Steve's tool POC.

[https://app.zenhub.com/files/133843125/dff04895-d5d3-462f-b535-9ee1da7af940/download](https://app.zenhub.com/files/133843125/dff04895-d5d3-462f-b535-9ee1da7af940/download)

Per call: This page is not in Drupal but Github.  For this ticket, please focus on just adding the

[2019-12-13 20:17] mmiddaugh commented on #4129
Cannot estimate until data is accessed

[2019-12-13 20:22] erikphansen opened #4245 "Validation Keys do not work to override addresses in the profile"
When trying to override a "bad" address in the UI, we still get an error `The address override criteria has not been met, please attempt validation again`. This seems to be due to the fact that we are not sending the `country_code_iso3` to the validation API. we might also need to send `country_code_iso3` to the save/update endpoint.

## to reproduce

Below are the requests/response when trying to

[2019-12-13 20:24] ndsprinkle commented on #2345
Unfortunately, the issue still exists. Upon looking into this issue more, I'm not sure if it's even possible for us to solve this issue the way we want to. The bank account information that we get back that lives in redux is pre-masked, meaning that the data has "******" in the account and routing numbers. Since this is the case, there's no way for us let the user "edit" that information. Here's a

[2019-12-13 20:25] jenniferlee-dsva commented on #3460
@lwalsh617 - RE the accordions of addresses in this mockup:

https://vsateams.invisionapp.com/share/W5U21BDFTQK#/screens/385333421

We can't add accordions inside subway maps (content anomaly that's already there, so let's avoid adding MORE anomalies). Suggestion: pull out address info from subway and make it its own H3 section right after subway.

[2019-12-13 20:27] jenniferlee-dsva commented on #1994
Is this ticket now duplicative of https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/3460 ? Do we still need it or can we close 1994?

[2019-12-13 20:28] nwalke commented on #862
This is being tracked in other issues.

[2019-12-13 20:28] #862 closed

[2019-12-13 20:33] ricetj commented on #2924
This may depend on what we do with Data dog.

[2019-12-13 20:36] ricetj commented on #2415
not needed for now

[2019-12-13 20:36] #2415 closed

[2019-12-13 20:36] erikphansen opened #4246 "In some cases address updates fail because we make a POST call instead of a PUT"
## Steps to reproduce
1. Attempt to update to this address: `2111 divvision, portland OR 12345`
2. You get back one low confidence suggestion so are prompted to confirm. Choose the 1 suggestion.
3. The update will fail because the FE makes a `POST` call instead of a `PUT` call.

## Technical details
Sent to validation API:
[code]

Gets back:
[code]

The update fails when you pick the suggestion, h

[2019-12-13 20:37] artistgreen commented on #4244
Scenario 1:

If the address the user enters is a good address (rates 80% or over in confidence score), there are no UX states - it will save to the profile.

[2019-12-13 20:38] Justin-Pickett commented on #3892
@lkoenigsberg  @Samara-Strauss  thanks for the feedback . I will continue building on to this matrix as we continue to uncover more information regarding the various errors related to address validation. I will continue to work with the VA Profile team as well on any critical error changes on their end as well.

I will begin implementing more updates and revisions to the matrix throughout Sprint 1

[2019-12-13 20:39] #3892 closed

[2019-12-13 20:42] ccruzgra commented on #4011
Reviewed prototype with DSVA and made updates, accordingly: https://bahdigital.invisionapp.com/share/C3IAC976T2D#/screens/296026170

[2019-12-13 20:47] brandonrapp opened #4247 "HCA Mobile Optimizations based on GA Usage Data"
## User Story
End users of the HCA application are accessing certain pages at a high volume on mobile devices and\or over mobile networks which can lead to a poor user experience as page performance is worse.

## Description
Looked at the last 3 months of Google Analytics data to help support our analysis into HCA usage on mobile devices and reoccurring page views.  [HCA Mobile Views and Recurring

[2019-12-13 20:47] jholton opened #4248 "GIDS SSOe issues"

[2019-12-13 20:48] brandonrapp opened #4249 "HCA Page Caching Optimization based on GA Usage"
## User Story
End users of the HCA application are accessing certain pages at a high volume on mobile devices and\or over mobile networks which can lead to a poor user experience as page performance is worse.

## Description
Looked at the last 3 months of Google Analytics data to help support our analysis into HCA usage on mobile devices and reoccurring page views.  [HCA Mobile Views and Recurring

[2019-12-13 20:48] erikphansen opened #4250 "Do not show the user any suggestions that are not "CONFIRMED" as deliverable"
There should't be a situation where the user sees something like this:

![image.png](https://images.zenhubusercontent.com/5b4d0309a8d8be5bda39303e/e3f16c6c-d540-49ca-9869-3f5480a93945)

We can avoid this by only showing the user suggested addresses that have `"delivery_point_validation": "CONFIRMED"`. It looks like I missed this particular use case in the AC I laid out here https://github.com/depa

[2019-12-13 20:52] thatmattjohnson commented on #2888
UAT completed for both PRs; all looks good. Closing this issue.

[2019-12-13 20:52] #2888 closed

[2019-12-13 20:52] artistgreen commented on #4244
Scenario 2:

User enters address

![Override - Suggestions](https://user-images.githubusercontent.com/53535009/70831448-980aea80-1dc0-11ea-9e71-e567f686364a.png)

----------

[2019-12-13 21:12] artistgreen commented on #4244
Scenario 3:

**Override with no suggestions**

1.  User enters address

![Override - No suggestions](https://user-images.githubusercontent.com/53535009/70832293-bd98f380-1dc2-11ea-9418-752ad6aa4f23.png)

----------

2.  User can select their entered address and continue.  User can edit their entered address, clicking this will take them to the previous screen with the form. User can cancel.

(addr

[2019-12-13 21:14] #3744 closed

[2019-12-13 21:19] jenniferlee-dsva commented on #3103
@RLHecht for Monday go live: please copy check and publish this change per thread: https://dsva.slack.com/archives/CDHBKAL9W/p1576271578006600
 - remove the old pension ph # in the right rail component on the hub landing page.

Also, please check other pension detail pages to see if this old pension ph#  appears and change to: 800-827-1000. If there's a label in the copy, this number should be ref

[2019-12-13 21:19] meganhkelley commented on #4174
URL Redirect Request: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/information-architecture/request-redirect.md

Redirect Implementation Strategy: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/redirect-implementation-strategy.md

Next step for technical implementation: https://app.zenhub.com/workspaces/vsp-5cedc

[2019-12-13 21:20] #4174 closed

[2019-12-13 21:20] peggygannon commented on #4104
@jason-gcio
Hello, below are my content recommendations for the updated Rated Disabilities mock.
I'm putting my comments in this issue, as the mock up still shows my content edits from V1 and I didn't want to confuse you.

Also, I will need to see this mockup again, to ensure a smooth copy UX transition with the static landing page that the public website team is working on.

Content review for up

[2019-12-13 21:22] #4173 closed

[2019-12-13 21:22] #4078 closed

[2019-12-13 21:22] artistgreen commented on #4244
### **Scenario:  No override with suggestions**

[2019-12-13 21:22] lwalsh617 commented on #3692
@Karak888 @jenniferlee-dsva
Here's a complete first draft of the page itself, as well as edits to the "about disability ratings" page. Jen, the latter are pretty extensive per our phone chat. I'd love to walk you through them if there's a time when we can chat! Thanks!
[rh-ed-view-disability-rating-static-pag_v2.2_12-13-19.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/3

[2019-12-13 21:25] Samara-Strauss commented on #4105
Thanks for this, @peggygannon! I'm going to go with option 1 because the modal/error aren't very wide and the indent for the bullet, while small, will give the text even less width.

Otherwise, copy is perfect. I'll get this into mocks and move over to FE.

[2019-12-13 21:32] Samara-Strauss commented on #4109
@erikphansen design and copy are ready and shown in the first comment above. Feel free to ignore this until sprint 11. Address validation work should take priority right now.

[2019-12-13 21:32] Samara-Strauss commented on #4105
FE in #4109

[2019-12-13 21:32] #4105 closed

[2019-12-13 21:36] #4011 closed

[2019-12-13 21:36] #4024 closed

[2019-12-13 21:43] artistgreen commented on #4244
### **Scenario:  No override with no suggestions**

1.  User enters address

![No Override - Suggestions](https://user-images.githubusercontent.com/53535009/70834116-7eb96c80-1dc7-11ea-9014-938fd457b92c.png)

----------

2.  User can select an address suggestion and continue. User can edit their entered address, clicking this will take them to the previous screen with the form. User can cancel.

C

[2019-12-13 21:46] nwalke commented on #4120
Move from `dsva-vetsgov-*` to `dsva-vagov-*`

[2019-12-13 21:53] markgreenburg opened #4252 "'how would you like to be seen' missing from review page"
As a veteran, I want to see all of the information I entered on the review screen so that I can know that the request I'm submitting matches my intentions.

AC
- [ ] 'How would you like to be seen' is displayed on the review page
- [ ] Hitting the corresponding edit button takes the veteran to the question's page

[2019-12-13 21:58] cvalarida commented on #3309
@ElijahLynn Looks like these `file`s have a `uri` with a `value` of something like `public://video_thumbnails/qRYoUL6BNdc.jpg`. In the GraphQL query, we have
[code]
Is this a thing that we need to get added into the `tome-sync` output? I'm not sure how consistently `public://` translates into `http://va-gov-cms.lndo.site/sites/default/files/styles/large/public/` or if there's some magic we have to

[2019-12-13 21:59] cvalarida commented on #3309
Looks like we talked about this a little bit in [this ticket](https://github.com/department-of-veterans-affairs/va.gov-team/issues/3308) too.

[2019-12-13 22:12] erikphansen commented on #4109
This will be a very quick change and I might do it when I need a break from the address validation work

[2019-12-13 22:33] artistgreen commented on #4244
### **Scenario:  Add missing unit number with override**

1.  User enters address

![Override - Suggestions](https://user-images.githubusercontent.com/53535009/70836190-795f2080-1dcd-11ea-9931-53f2bb17cc7a.png)

----------

2.  User can select their entered address and continue. User can edit their entered address, clicking this will take them to the previous screen with the form. User can cancel.

[2019-12-13 22:50] jenstrickland opened #4255 "[SCREENREADER]: Alt text for photo repeats the word image"
## Description

### [SCREENREADER]: Alt text for photo repeats the word image

When a screen reader reads the alt text for the photo of the Pittsburgh VAMC University Drive Facility, the alt text is read as "Pittsburgh VAMC University Drive Facility image image". The screen reader says image again because it is an image element. This is a minor unpleasantry, but can feel like a thousand paper cuts

[2019-12-13 23:22] thatmattjohnson commented on #3167
changes implemented 12/13/2019 as scheduled.  Closing this issue.

[2019-12-13 23:22] #3167 closed

[2019-12-13 23:29] kathleencrawford opened #4257 "Enable Betamocks Configuration for Rating Info Endpoint"
## Story
As a developer/engineer, I need to be able to easily configure betamocks so I can test the new rating info endpoint locally without a connection to EVSS.

## Goal
Developer will be able to configure whether or not to use betamocks recordings for the rating info endpoint by changing a configuration setting in the settings.yml file.

## Objectives or Key Results this is meant to further
- P

[2019-12-13 23:52] mmiddaugh commented on #3586
This effort should also recheck [#2701], [#3206], [#3530]

[2019-12-14 00:07] artistgreen commented on #4244
### **Scenario:  Add missing unit number without override**

1.  User enters their address

[2019-12-14 00:11] SMLuthi commented on #3708
This ticket is essentially done. However, the api key work has moved beyond the scope of this ticket. We need the lighthouse team(s?) to create an api key for vets-api (that it can use in dev/staging) that has access to all lighthouse apis. This then needs to be added to credstash and the access for the key needs to be integrated into the devops repo.

[2019-12-14 00:11] #3708 closed

[2019-12-14 00:14] SMLuthi commented on #3939
A successful request has finally been made. Its been done by a payload provided by MVI. I will have to exhaustively compare the two payloads to see why the one we build is failing. Most likely its some kind of minute inconsistency... or a bad user. To be honest, it could be any number of things since the error response does not give an explanation.

[2019-12-14 00:37] cvalarida commented on #3315
:thinking: Not sure that we're actually using this anywhere in `pages.json`. Check out an example:
[code]
I looked for `fieldStaffProfile` in `pages.json` and came up with no hits. We're probably safe to ignore this one for now.

Closing until we find it's actually needed.

[2019-12-14 00:52] tlei123 commented on #4250
@artistgreen , got a quick question about the **Edit address** link in the modal's validation screen...

Under **You entered**, when you click **Edit address** below your updated (new) address, would you expect the updated address to pre-populate the address form, or the original (old) address?

 I was kinda expecting the updated (new) address to pre-populate the form \[as in, "ooh, I made a littl

[2019-12-14 01:06] artistgreen commented on #4244
### **Edit bad unit number with override**

1.  User enters address

![Edit bad unit number with override](https://user-images.githubusercontent.com/53535009/70840864-77a05780-1de3-11ea-961d-311b8d6ae9cd.png)

-----------

2.  User can select their entered address and continue. User can edit their entered address, clicking this will take them to the previous screen with the form. User can cancel.

[2019-12-14 01:13] artistgreen commented on #4244
### **Edit bad unit number without override**

1.  User enters address

![Edit bad unit number with override](https://user-images.githubusercontent.com/53535009/70841020-e3cf8b00-1de4-11ea-96d3-c58b361adc1e.png)

----------

2.  User can edit address, clicking this will take them to the previous screen with the form. User can cancel.

Copy for modal: We couldn’t verify your address with the U.S. P

[2019-12-14 01:27] artistgreen commented on #4250
@tlei123 - whatever the user enters in the form will display under 'You entered:' on the next screen.  If the user clicks 'Edit Address', they are returned to the form with the address they entered.  Thanks!

[2019-12-14 01:53] #2790 closed

[2019-12-14 07:04] nwalke commented on #4120
Migration test notes:
[code]

[2019-12-14 07:05] nwalke commented on #4120
Connection string stays the same between VPCs.  The proper subnet and security groups need to exist in the new VPC before you attempt the migration.

[2019-12-14 15:31] jason-gcio commented on #3507
Definitely @mnorthuis!  I'll see about setting up a call and check in with you in Slack if that works?

[2019-12-14 15:35] jason-gcio commented on #4104
Thanks @peggygannon, this is great.  Here is our latest mockup:  https://xd.adobe.com/view/0db723ac-52ff-48b3-4877-9d5882cb2e1f-7b86/screen/90b2e033-e56a-4634-91ff-b694b46d2097/RD-Screen-Tool-FINAL/

[2019-12-14 19:08] erikphansen opened #4258 "A VA.gov redirect to "fix" dead link in PIV office email"
We should add a redirect on VA.gov to "fix" a dead link that is in the PIV appointment confirmation email.

## Background
When you schedule an appoint to get fingerprinted for your PIV card, you get a confirmation email that contains the following bit of text:

That is a dead link and likely has been since the new VA.gov rolled out on Veteran's Day 2018.

## Request
We should add a redirect from h

[2019-12-14 19:08] erikphansen commented on #4258
@ncksllvn I mentioned yesterday that I had a suggestion for a website redirect for you. Here are the details!

[2019-12-14 20:31] tlei123 opened #4259 "Draft"

[2019-12-14 20:45] tlei123 opened #4260 "Install Ring doorbell"

[2019-12-14 20:54] tlei123 opened #4261 "Fix toilet seat"

[2019-12-14 21:29] tlei123 opened #4262 "Check Ring doorbell remote phone alert"

[2019-12-14 22:38] tlei123 opened #4263 "Clean keyboards"

[2019-12-15 04:00] erikphansen opened #4264 "The address validation modal remembers the last option you selected between opens and closes"
The address validation modal remembers the last option you selected between opens and closes

To reproduce:
1. edit mailing address. use `575 20th, San Francisco CA 12345`
2. submit the address form
3. select something other than the first recommendation (so either the user-entered address or the 2nd recommendation)
4. cancel out of the modal
5. repeat steps 1 and 2 and see that the modal defaults

[2019-12-15 16:01] tlei123 opened #4265 "Pay bills"

[2019-12-15 16:01] tlei123 opened #4266 "File receipts"

[2019-12-15 17:16] tlei123 opened #4267 "IfNotAtOnce - Compose next section"

[2019-12-15 17:19] tlei123 opened #4268 "Integra-7 - Add sound libs"

[2019-12-15 17:20] tlei123 opened #4269 "EncatoTropical - Finish final pitch fixes on lead vocal"

[2019-12-15 18:39] #2635 closed

[2019-12-15 19:34] tlei123 opened #4270 "Cancel LegalZoom"

[2019-12-15 19:38] erikphansen opened #4271 "User should see the address they entered when going back to edit their address"
@tlei123  originally asked out this here: https://github.com/department-of-veterans-affairs/va.gov-team/issues/4250#issuecomment-565662819

Copied here:

@artistgreen , got a quick question about the **Edit address** link in the modal's validation screen...

Under **You entered**, when you click **Edit address** below your updated (new) address, would you expect the updated address to pre-populate

[2019-12-15 19:41] erikphansen commented on #4250
@tlei123 @artistgreen I made a bug for this issue you mentioned: https://github.com/department-of-veterans-affairs/va.gov-team/issues/4271

[2019-12-15 20:01] tlei123 opened #4272 "Cancel RadioSubmit"

[2019-12-15 20:25] tlei123 opened #4273 "Check out Chordino"

[2019-12-15 21:16] tlei123 opened #4274 "Check Ring plans"

[2019-12-16 12:21] #4115 closed

[2019-12-16 13:54] dneel-bah opened #4275 "CT: Remove "Online Only" and "Distance Learning" references from CT"
## User Story:
As a veteran, I no longer need indicators/filters for "online only" and "distance learning" in the Comparison Tool so that I am no longer confused by the differences and language in the tool.

## Assumptions:
1. This story uses the same feature flag as #4227.
2. Research will be conducted by the developer to identify any other instances of these two identifiers so additional AC can

[2019-12-16 13:59] dneel-bah opened #4276 "CT: Remove Prod/Feature flag for minor CT enhancements"
As a developer, I need to remove the feature flag so that the Veteran Programs section updates are available in the production environment.

## Assumptions:
1. This work has been reviewed by EDU and signed off on as of 01/03/2020.
2. The work completed in #4277 is available is to remain behind a production flag.

## Acceptance Criteria:
1. The work completed in #4227 is available in production.
2.

[2019-12-16 14:07] dneel-bah opened #4277 "CT: Add Language to "Cautionary information" section indicating 24 month window."
## User Story:
As a veteran, I need the "Cautionary information" section of the profile pages in the Comparison Tool to display language about how recent complaints are so that I can make an accurate decision about where I will choose to use my education benefits.

## Assumptions:
1. This story uses the same feature flag as #4227.

## Acceptance Criteria:
1. In the "Cautionary information" section

[2019-12-16 14:37] #3846 closed

[2019-12-16 14:50] erikphansen opened #4278 "Sometimes we get validation keys but can't force the addresses through"
Addresses that used to get ADDRVAL112 "address not found" errors now give us 200s with responses that include a validation key. But even though we get the validation key we are unable to force the address through the save/update endpoint. A few examples are below.

## Example 1

sent to validation API:
[code]

got back suggestion and validation key indicating we can force the address through:
[cod

[2019-12-16 14:51] deweydell commented on #406
@jonwehausen

# Authentication SSO (Single Sign On) documentation for each BI Tool

Looker: https://docs.looker.com/reference/embedding/sso-embed
Tableau: https://tableau.github.io/embedding-playbook/pages/02_auth_and_sso
Power BI: https://docs.microsoft.com/en-us/power-bi/service-gateway-sso-overview
Domo: https://knowledge.domo.com/Administer/Implementing_Single_Sign-On/01Understanding_and_Confi

[2019-12-16 14:52] erikphansen commented on #4278
@lihanli I believe that this is a bug with VA Profile that you already know about but can you please confirm that? I think you asked them on our last call if ADDRVAL112 errors were overridable yet which might be the same issue as this, since we don't seem to be getting ADDRVAL112 errors at all anymore.

[2019-12-16 14:59] ncksllvn commented on #4258
Thanks @erikphansen! @mnorthuis is this in your jurisdiction? 🙂

[2019-12-16 15:04] Justin-Pickett commented on #3877
@nedierecel and @erikphansen can we close this ticket?

[2019-12-16 15:04] mr0sari0 commented on #4182
@ricetj Hi, I just updated the SSH key, taken from my id_rsa.pub. Please let me know if this is the correct key you need.

[2019-12-16 15:10] RLHecht commented on #3103
I checked the deletion on this page and set it to publish. There were no other instances of the number on other Pension pages. Moving to validate.

[2019-12-16 15:12] RLHecht commented on #3523
All work completed. Closing ticket. FYI @Karak888

[2019-12-16 15:12] #3523 closed

[2019-12-16 15:18] ricetj commented on #4182
Hello @mr0sari0 , thanks for updating and yes that is what we need. Thank you.

[2019-12-16 15:39] ncksllvn commented on #4070
I've opened a PR for this but it's still awaiting code review by DevOps - https://github.com/department-of-veterans-affairs/devops/pull/6099

[2019-12-16 15:46] ncksllvn opened #4279 "Securely store Lighthouse key in Credstash"
For our Forms API to work, we need to have a secret API key hidden away in our service, Credstash, so that it isn't exposed over the network and potentially hijacked.

[2019-12-16 15:50] mnorthuis commented on #4258
I would say this issue needs to be communicated back to the OIT office (or whoever owns that email) to correct.  This page is not one that we have touched as part of WBC and we should not be redirecting unless we have their approval to do so.

[2019-12-16 15:58] #4021 closed

[2019-12-16 16:05] rianfowler commented on #4187
**Create overview**
- product types (product agnostic)
  - RUM
  - Synthetic
- How do product types overlap with existing tooling like GA?
- High level of how each product type could be implemented as part of our CI
  - How would the build process change?
  - Are there any third party scripts that need to be added to the site?
- Summary of offerings
  - type of product offered
  - first year, on g

[2019-12-16 16:08] delli-gatti-michael opened #4280 "GIBCT Search results not showing"
The search results are not displaying when searching for a school on staging. Instead, a user is only able to see the "Loading search results" animation. This issue is occurring in Staging.

1. Navigate to https://staging.va.gov/gi-bill-comparison-tool
2. Type "College of Charleston" into the search bar
3. Click Search schools

## PRs
department-of-veterans-affairs/devops#6282
department-of-vetera

[2019-12-16 16:08] ncksllvn commented on #3563
I created a follow-up ticket for adding the secret API key into Credstash here, https://github.com/department-of-veterans-affairs/va.gov-team/issues/4279. I plan on closing this today after I merge my PR.

[2019-12-16 16:17] ncksllvn opened #4281 "Add Swagger docs for VA Forms API route"
We need to document our addition to Vets-API for the VA Forms, so other engineers know it's available. We do this via Swagger.

[2019-12-16 16:29] Justin-Pickett opened #4282 "[FE] Implementing address validation modal confirmation screen"
# Background
Once a Veteran has completed updating their address information and it is successfully saved, the front end should present the user with a confirmation page.

# Tasks
### Designer
- [ ] Need to show the scenarios where the confirmation modal would/would not show up to the user.
- [ ] Need to upload the screenshot to be implemented for the confirmation page.
- [ ] Developer will need t

[2019-12-16 16:30] Justin-Pickett commented on #4282
@artistgreen please upload the correct screenshots and copy to this ticket above for the the confirmation screen.

[2019-12-16 16:31] #4244 closed

[2019-12-16 16:33] Samara-Strauss commented on #3893
[Is this list complete](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/change-address/apo-fpo-dpo/benefits-applciations-list.md)? Are there no education applications that need to be included in this list?

[2019-12-16 16:35] johnpaulashenfelter commented on #466
The amount of code to rewrite here is pretty large, especially with the way we use Virtus to magically initialize objects in `super` calls.

I think its worth some actual discovery -- writing some code w/ dry-types and some with sorbet and some without any external dependencies at all -- just to see what kind of effort is involved.

[2019-12-16 16:36] Samara-Strauss commented on #3967
Update: Now that we have successfully investigated the flagged for fraud error (#3966, #3981, #3982) and understand why we were seeing it at such high rates (and that this does not indicate a problem on our end), we are ready to ramp up to 100%. I emailed eBenefits this morning to let them know we'd like to take direct deposit down from eBenefits in the 1/29 release. I am awaiting confirmation bef

[2019-12-16 16:39] Justin-Pickett opened #4283 "Review the flow for Address Validation Modal"
e# Background
Need to  review the the address validation flow.
# Tasks

- [ ]  Arthur confirm the functionality  on staging is accounted for.
- [ ] Review the address validation flow and make sure all frontend states are accounted for
- [ ] If states are not accounted for, work with product manager to break down tickets to get all states implemented correctly.ë
# Definition of done

- [ ] Flow has

[2019-12-16 16:40] Justin-Pickett commented on #4283
@artistgreen can you update this ticket with the appropriate screenshots and copy. Once this is completed we can get it ready to be handed off to FE.

[2019-12-16 16:47] #3875 closed

[2019-12-16 16:47] ricetj opened #4284 "Face Latency Incident"
## Background
https://dsva.slack.com/archives/C30LCU8S3/p1576480577012500

## Goal
_What outcome(s) do we want to see?_

## Objectives or Key Results this is meant to further
- _lorem ipsum_

## Acceptance Criteria
- [ ] _What needs to happen or be created?_

## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an Epic** (what body of

[2019-12-16 16:49] tlei123 commented on #4250
Thanks, @artistgreen !  Just check the board & found #4271 already opened for this bug.  :)

[2019-12-16 16:54] nedierecel commented on #2184
@deweydell I updated the AC to include sharing a screenshot and/or directions for the VSP Product Success tool with Anna and Keifer. We'll work in this sprint to better define the metrics we need.

[2019-12-16 16:55] #2397 closed

[2019-12-16 16:58] Samara-Strauss commented on #4244
Closed this in favor of more clearly defining the work in another ticket.

[2019-12-16 17:19] tlei123 commented on #3948
Test plan & cases about 85% complete, but I'm putting final completion on hold for now -- some new front-end bugs were opened last week.

Team will determine QA-readiness on Thu 12/19.  If QA-ready, test-cases can be finalized the following day.

[2019-12-16 17:28] #3332 closed

[2019-12-16 17:32] deweydell commented on #2184
## Backend Metrics in the Product Success Tool prototype
### Downtime Percent
<img width="1106" alt="Screen Shot 2019-12-16 at 12 29 34 PM" src="https://user-images.githubusercontent.com/11186572/70928831-d4785980-1fff-11ea-91cf-9bceebba31e3.png">

### Backend Systems
#### Prototype view
<img width="832" alt="Screen Shot 2019-12-16 at 12 29 40 PM" src="https://user-images.githubusercontent.com/111

[2019-12-16 17:36] #3943 closed

[2019-12-16 17:41] dneel-bah opened #4285 "GIDS: PI5 Usability and Maintenance Enhancements"
As an EDU team member, I need the number of manual steps involved with maintaining the Comparison Tool to be reduced so that it takes less time to update the Comparison Tool on a weekly basis.

## Assumptions:
1. The stories linked to this EPIC have been agreed upon by reps from OIT, DSVA and EDU.

## Acceptance Criteria
1. All linked stories have been implemented and tested

## Supporting Artifac

[2019-12-16 17:55] dneel-bah opened #4286 "STEM: Wizard and OMB Form Enhancements"
As a veteran, I need to understand the criteria for the STEM Scholarship program so that I only complete the corresponding form  on va.gov when I am eligible for the benefit.

## Assumptions:
1. The stories linked to this EPIC have been agreed upon by reps from OIT, DSVA and EDU.

## Acceptance Criteria
1. All linked stories have been implemented and tested

## Supporting Artifacts

[2019-12-16 18:31] markgreenburg opened #4287 "Inconsistent messaging on 'reason for appointment' page"
Currently (at least in the request flow, didn't validate in DS), there is a continuity bug where the description for 'additional info' breaks when the page is navigated away from.

To reproduce:
- Go down the request flow.
- Pick 'routine or follow up visit'
- Hit continue without entering anything into 'additional info'
- hit 'back' to go to calendar
- continue again back to the 'reason for appoi

[2019-12-16 18:35] dmccurdybah commented on #4041
Can be tested on gibct-data-service branch `bah-crosswalk`

[2019-12-16 18:40] rebeccawalsh commented on #3424
This ticket was originally sized at a 5 in anticipation of only about 8 participants showing up (50%), we experienced more like 90% participation. We had 11 total participants, 10 of which were qualified hearing aid participants. We cancelled the remaining HA-only participants due to diminishing returns. All participants who indicated socks were not qualified participants, leading us to extend our

[2019-12-16 19:06] dneel-bah opened #4288 "CT: Yellow Ribbon Maintenance and Enhancements"
As an EDU team member, I need the Yellow Ribbon to be maintained using the same data source so that the information for Yellow Ribbon is consistent across resources.

## Assumptions:
1. The stories linked to this EPIC have been agreed upon by reps from OIT, DSVA and EDU.

## Acceptance Criteria
1. All linked stories have been implemented and tested

## Supporting Artifacts

[2019-12-16 19:10] dneel-bah opened #4289 "CT: Caution Flag Enhancements"
As a veteran, I need the caution flags in the Comparison Tool to be consistent with other caution flags on va.gov so that I am not confused by the different representations.

## Assumptions:
1. The stories linked to this EPIC have been agreed upon by reps from OIT, DSVA and EDU.

## Acceptance Criteria
1. All linked stories have been implemented and tested

## Supporting Artifacts

[2019-12-16 19:12] tlei123 opened #4290 "Facilities - Check upcoming Epics"

[2019-12-16 19:13] #3912 closed

[2019-12-16 19:14] mmiddaugh commented on #3912
Participant notes are available here: https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/facilities/facility-locator/research/user-research/urgent-care/participant-notes

[2019-12-16 19:19] tlei123 opened #4291 "Facilities - Check upcoming Epics"

[2019-12-16 19:48] saneshark opened #4292 "Areas for BE refactor."
There are many more, but I'm starting a list:

https://github.com/department-of-veterans-affairs/vets-api/pull/3631#discussion_r358421617

[2019-12-16 19:52] #2977 closed

[2019-12-16 19:58] #3944 closed

[2019-12-16 19:58] #3950 closed

[2019-12-16 20:07] naomimarcussen opened #4293 "Consider creating a User Knowledge Board"
Being informed with the latest research and findings requires people to know where to look in GitHub. There is also research and findings that apply across the platform. We should consider consolidating all user information on one board/document. We could track things in the following categories:

- Questions - questions corresponding to user stories or epics from our product backlog
- Assumptions

[2019-12-16 20:10] artistgreen commented on #4282
Confirmation screens
After someone sees one of the states of the validation screen above, there are two potential next steps:

They edit their address. This will take them back to the edit form.
They will either override the determination that their address was a problem, OR they will select a suggested address. Either way, they should move on to a confirmation screen. The are two states of the co

[2019-12-16 20:18] #2973 closed

[2019-12-16 20:19] aeltarhoni opened #4294 "Discovery Research Epic - Search results"
## High Level User Story
As a Veteran, I need to search for relevant content so I can get to the content I want with as few clicks as possible.

## Goals
_What outcome(s) do we want to see?_

## Issues to create within this Epic

[code]

Google Analytics Results from the past week: https://analytics.google.com/analytics/web/#/report/content-event-events/a50123418w177519031p176188361/explorer-segme

[2019-12-16 20:22] markgreenburg opened #4295 "Pharmacy appointments 'undefined'"
Not sure what the actual problem is, but it appears as though the pharmacy type of care isn't mapping correctly. This manifests itself in:
1. No facilities have 'pharmacy' as available request type (not sure if this is true or rather a manifestation of this bug - tried with Cecile Morgan and neither registered system had any facilities where pharmacy care was available)
2. The alert in the 'type o

[2019-12-16 20:28] erikphansen commented on #3969
Done

[2019-12-16 20:28] #3969 closed

[2019-12-16 20:32] tmcmurdo commented on #4209
Hi Peggy,
We are creating content to display on the GI Bill Comparison tool when a school has no Veteran programs listed in the Veteran programs accordion on the school profile page.

Here is what the accordion will look like if programs are available.

![image.png](https://images.zenhubusercontent.com/5b73380097e4e42cb4c8c5d2/42e56b22-3e6d-4bf2-953c-aa9a0fb1d71c)

When a school as 0 Veteran progr

[2019-12-16 20:35] #3979 closed

[2019-12-16 20:39] peggygannon commented on #4287
@markgreenburg Here's the issue where I provided copy for this screen.

https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/2508

[2019-12-16 20:41] pjhill opened #4296 "Troubleshoot issues with Facility Locator in heroku env"
Facility Locator does not operate correctly in a Heroku instance.  See screen shot -- ![Screen Shot 2019-12-16 at 11.22.03 AM.png](https://images.zenhubusercontent.com/5d2633e0a6db635dbcbaf8d5/af25db84-df02-4336-b804-428f37486832)

[2019-12-16 20:42] rebeccawalsh opened #4297 "Discovery: DLC Customer Service Representative Interviews"
## User Story or Problem Statement
As a UX Designer, I need conduct interviews with DLC Customer Service Representatives with knowledge of prosthetic socks customers so I can understand the sock portion of MDT's userbase.

## Tasks
- [x] Schedule Sessions with DLC / Jeff (1 hour)
- [x] Conduct interviews (2 hours)
- [x] Transcribe & upload notes to GH (1 hour)

## Acceptance Criteria
- [ ] Intervi

[2019-12-16 20:44] peterhill-oddball commented on #4296
Per information that I've gathered, Heroku instances do not appear to be capable of serving up a functional vets-api.

I will explore alternatives with the Facility Locator team and attempt to determine whether testing in Staging will satisfy the team's requirements.

[2019-12-16 20:51] zurbergram commented on #4280
Prod Config file
https://github.com/department-of-veterans-affairs/devops/blob/master/ansible/deployment/config/vets-api/prod-settings.local.yml.j2#L66

[2019-12-16 20:53] zurbergram commented on #4280
https://github.com/department-of-veterans-affairs/vets-api/pull/3578#issuecomment-557291881

[2019-12-16 21:02] rileyorr opened #4298 "Discovery: Rudimentary Personas"
## User Story or Problem Statement
As a UX Designer, I need to create rudimentary personas so I can share these artifacts with my team prior to the feature scoping activity.

## Tasks
- [x] Meet with designers to discuss synthesized findings and determine intended persona archetypes (2 hours)
- [x] Create rudimentary persona documents (1 hour)

## Acceptance Criteria
- [x] Rough outline of persona

[2019-12-16 21:20] rileyorr commented on #4145
@mr0sari0 & @wygonikGCIO I am reopening this issue because the brainstorming meeting has not happened yet.

[2019-12-16 21:21] rileyorr commented on #4144
@mr0sari0 & @wygonikGCIO I am reopening this issue because the discovery readout meeting has not happened yet.

[2019-12-16 21:47] nedierecel commented on #3877
@erikphansen Thanks - if this is only sent with successful submissions:

`{
  event: 'profile-transaction',
  'profile-section': 'direct-deposit-information',
}`

Then this section of the dashboard covers saved submissions:

![image.png](https://images.zenhubusercontent.com/5b295b9ff378ea1890b3d77e/20780587-f872-442f-b66c-ac52b07b4beb)

[2019-12-16 21:48] SgardnerPMP opened #4299 "[DISCOVERY] Complete review of 54 Health Services for Lebanon, PA MC for Health Services Playbook [BA]"
## User Story
As a Content Writer, I need Health Service guidelines  input in the Lebanon-PA Playbook, so I can write the content to match the guidelines and requirements of the API and page.

## Goal/Objective
- _Complete all remaining guidelines for Lebanon, PA Medical Center (only)  _

## Objectives or Key Results this is meant to further
- _Reduction in overall word and page count and reduce c

[2019-12-16 21:51] RLHecht commented on #3103
This is now live on the site. Closing issue. @Karak888

[2019-12-16 21:51] #3103 closed

[2019-12-16 21:57] AnneHurley commented on #4073
@jenniferlee-dsva  Also Slacked you - can you tell me who the Pensions SMEs are, and I will reach out to them asap to get this updated info? thanks

[2019-12-16 22:27] jenniferlee-dsva commented on #3692
@lwalsh617 - uploading your copydeck with changes and comments.
- The VIEW page updates you made look good, and can go live after sharing preview with SMEs (before going live).
- The ABOUT page has more changes/comments; please take a look and let's tb if anything unclear or you would like to understand rationale better.

Let me know when the preview is ready to share (post-Peggy sync) and I'll co

[2019-12-16 22:36] jenniferlee-dsva commented on #4073
Hi @AnneHurley - looking at the Word doc that Randi attached, this looks like the content for the pension  penalty rate changes. I believe you were already working with Angie Smith about this. If Angie is not the SME, you can ask Misty, Adrianne, and Sandy (and CC myself) via email. (But I'm pretty sure it's Angie.)

[2019-12-16 22:40] jenniferlee-dsva commented on #4073
@RLHecht @Karak888 @AnneHurley for these types of ongoing ad hoc content updates (that are not part of a specific product launch or update, like VAOS or new HLR tool), please be sure to add it to the "Website content maintenance" epic.

It helps me and DEPO have better visibility into all the ad hoc/one-off tickets (that are actually not random but part of normal ongoing work for the team). Thank

[2019-12-16 22:41] jason-gcio opened #4300 "[FRONTEND] Content Adjustment for Rated Disabilities"
## Story
As an end user of the Rated Disabilities Tool page, I want to have concise, clear and consistent language so that I can better understand what the tool page's information is trying to convey.

## Considerations
These are comments from Peggy that will make the content consistent with the latest style changes.

## Tasks
Referring to the latest Rated Disabilities page [mockup](https://xd.ado

[2019-12-16 22:42] jenniferlee-dsva commented on #3103
@RLHecht - could you please let Angie Smith  know via email and CC myself and Misty's team? (If you haven't already - I may be behind emails.)

[2019-12-16 22:44] jason-gcio opened #4301 "[DESIGN] Content Adjustment for Rated Disabilities"
## Story
As an end user of the Rated Disabilities Tool page, I want to have concise, clear and consistent language so that I can better understand what the tool page's information is trying to convey.

## Considerations
These are comments from Peggy that will make the content consistent with the latest style changes.

## Tasks
Referring to [Peggy's comments](https://github.com/department-of-vetera

[2019-12-16 23:00] AnneHurley commented on #4073
@jenniferlee-dsva @RLHecht  I'll follow up with Angie right now. We just need that definition of what the penalty amount really means.

[2019-12-16 23:38] cvalarida opened #4302 "Add ProcessedString common schema"
## Task
1. Add a common schema for a `{ processed: 'string here' }` since this happens [a lot](https://github.com/department-of-veterans-affairs/vets-website/pull/11318#discussion_r358369263)
2. Change all the instances of this in the existing schemas

## Acceptance Criteria
- [ ] The schema is added
- [ ] The schema is used in all the places it needs to be

[2019-12-16 23:41] #3311 closed

[2019-12-16 23:41] #3331 closed

[2019-12-16 23:41] #3342 closed

[2019-12-16 23:41] #3334 closed

[2019-12-16 23:45] mmiddaugh commented on #4075
@davidconlon we need to determine the expected search/map interaction behavior

**Accessibility requirements**
- Veterans can search using their keyboard as well as clicking a button.
- Required fields should be marked as such
- Form field instructions should be associated with inputs or buttons
- Inputs, buttons, and controls must have labels and always visible on the screen (they don’t disappear

[2019-12-16 23:49] #3976 closed

[2019-12-17 00:07] tlei123 opened #4303 "BaM2 - Check upcoming Epics"

[2019-12-17 00:09] sshein commented on #4086
FYI Tressa met with Dawn and myself today

[2019-12-17 00:57] #2706 closed

[2019-12-17 01:48] jason-gcio commented on #3595
Video is in slack, ready for upload.

[2019-12-17 01:48] #3595 closed

[2019-12-17 02:10] narin commented on #2537
@rtwell We talked about this a while back. I've got this pretty much complete but could use a refresher on what you had in mind for the design.  Icons would be a tougher to do but text is pretty straightforward. I think you had proposed something similar to the screenshot below:

![image](https://user-images.githubusercontent.com/786704/70958715-ffc66d00-202e-11ea-9138-a32ac23cfb38.png)

[2019-12-17 05:16] tlei123 opened #4304 "Check Publicis 401k"

[2019-12-17 12:36] lwalsh617 commented on #3692
@peggygannon Here is the "View" page as a separate document as that's the higher priority. Will post the "About" page separately. Once you have reviewed, we'll get this over to the SME. Thank you! [https://app.zenhub.com/files/133843125/756b4b1b-2ea2-47f0-9104-7a4c3aa6c381/download](https://app.zenhub.com/files/133843125/756b4b1b-2ea2-47f0-9104-7a4c3aa6c381/download)

[2019-12-17 12:48] ksantiagomorgan6 commented on #4190
Pull request

https://github.com/department-of-veterans-affairs/vets-website/pull/11322

[2019-12-17 13:11] lwalsh617 commented on #3692
@peggygannon
@RLHecht
Here are the updates for the "about disability ratings" page. We needed to add the react widget above the calculator so that changed the intro. Also a few other edits. Jen has reviewed this and I updated this deck based on her feedback.
Thanks for taking a look
[https://app.zenhub.com/files/133843125/dd9a6d26-34ca-44c2-8a53-a51b88806618/download](https://app.zenhub.com/files/

[2019-12-17 13:35] Karak888 commented on #3998
@ncksllvn I believe you have admin rights to search.gov, so if you are able to investigate with @RLHecht and have a fix for this, that would be appreciated!! Thanks

[2019-12-17 13:42] RLHecht commented on #3692
@lwalsh617 Here is that page with my edits. I just had one update.
[About disability ratings page-RH edit.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/3973523/About.disability.ratings.page-RH.edit.docx)

[2019-12-17 14:14] sonntag-adam commented on #4063
![Screen Shot 2019-12-17 at 9.13.30 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/a9cb838c-c46c-4c19-9cf9-f91c1dda66ef)
##
![Screen Shot 2019-12-17 at 9.14.07 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/445e0437-c97c-4f29-988b-24758366fd0a)

[2019-12-17 14:31] #4284 closed

[2019-12-17 14:36] rtwell commented on #2537
yo yo yo

lookin' great!

here's where i landed—i'd focus on the buttons/interaction, although i would like the AM/PM blips to be our almost-black color instead of primary blue.

[2019-12-17 15:15] rianfowler commented on #4212
Todo:

- upgrade `yarn` on the tools on the VFS tools [repo](https://github.com/department-of-veterans-affairs/veteran-facing-services-tools)
- upgrade npm on vets-website
- upgrade npm on tools repo

[2019-12-17 15:15] desireeturner opened #4305 "CT 116: Remove SCO Email & Phone Number from VET TEC Profile Page"
As a developer, I need to remove the email address and phone number from the SCO contact details so that it matches the data available in WEAMS public

## Assumptions:
1. This work is completed behind a flag so that it is only available in the staging environments and below.

## Acceptance Criteria:
1. The SCO Phone number is not displayed on the VET TEC profile page.
2. The SCO Email address is n

[2019-12-17 15:15] sonntag-adam commented on #4063
Testing passes QA

[2019-12-17 15:15] ncksllvn commented on #3998
@RLHecht I update that link in the search.gov admin. Does it look right now? https://www.va.gov/search/?query=blue+water+navy

[2019-12-17 15:17] #3873 closed

[2019-12-17 15:21] desireeturner opened #4306 "CT 116: Phone number information not displaying extension/when no phone number is provided displays a dash"
## Description
When viewing SCO information, when no phone number is provided in the school certifying officials csv, it displays as a dash on the contact details page.

## PR
https://github.com/department-of-veterans-affairs/vets-website/pull/10760

## Original Issue
https://github.com/department-of-veterans-affairs/vets.gov-team/issues/19704

![Screen Shot 2019-09-17 at 12.49.44 PM.png](https://

[2019-12-17 15:28] #4306 closed

[2019-12-17 15:43] wygonikGCIO commented on #3424
Changed back est. to reflect first estimation for better understanding of work effort.

[2019-12-17 15:46] brandonrapp opened #4307 "Investigate why unit tests seem more unstable on Jenkins"
## What happened?
Unit tests seem more unstable on Jenkins than they used to be. We see a lot more weird failures that are resolved by re-running the build. Occurred for the past month or two.

Couple of examples [here](http://jenkins.vfs.va.gov/blue/organizations/jenkins/testing%2Fvets-website/detail/feature%2F2155-write-e2e-tests-for-va-appointment-request-flow/4/pipeline).

[Slack Thread](https

[2019-12-17 15:54] delli-gatti-michael commented on #4190
This fix is now live in master. Closing this issue

[2019-12-17 15:54] #4190 closed

[2019-12-17 16:17] delli-gatti-michael opened #4308 "GIDS: Uploading SCO file causes error in staging"
@sonntag-adam commented on [Tue Dec 17 2019](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/20082)

Steps to duplicate:

1. Upload attached txt file (locally or to staging via cag) to SCO specifying pipe delimited
2. Error occurs

![SCO Upload Error.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/1ccd6dee-9273-4c6b-8991-e0412b41b2bb)

[2019-12-17 16:17] nedierecel commented on #3527
@jenniferlee-dsva Do you have the new unauthenticated URL for Rated Disabilities? I will need this for building out the conversion funnel in Google Analytics. Thanks!

[2019-12-17 16:18] ncksllvn commented on #4279
Hey @SMLuthi, I think the Vets-API dev environment should be good to go with a Lighthouse API Key. See this PR - https://github.com/department-of-veterans-affairs/devops/pull/6111.

[Behold](https://dev-api.va.gov/v0/forms)

[2019-12-17 16:27] ncksllvn commented on #4070
The PDF redirects will go out tomorrow morning!

[2019-12-17 16:28] jhonnyoddball commented on #4187
### **Google Analytics - Web Performance**

The only information related with web performance monitoring inside GA is located at:
Reports -> Behavior -> Site Speed

Average loading times are important metrics.

![GA Avg Page Load](https://user-images.githubusercontent.com/55560129/71014508-06e98b80-20c0-11ea-94c1-69a4b16e49eb.png)

[2019-12-17 16:53] RLHecht commented on #3998
@ncksllvn That's the correct one though it doesn't have the "| Veterans Affairs" in the link title. Also, are you able to sentence case "Our top recommendations for you"?

[2019-12-17 16:59] kevinstachura commented on #3946
Notes taken for this meeting are located here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/decision-reviews/Notice-of-Disagreement/notes/stakeholder-interviews/sme-meeting-with-fred-s.md

[2019-12-17 16:59] #3946 closed

[2019-12-17 17:00] Samara-Strauss commented on #3967
Update: We have an OK on this from the technical side of the house. They just need Melissa Rebstock to give us final approval.

[2019-12-17 17:01] hughes-dustin commented on #4308
This is because there are cases where we are using quotation marks in the first name field (ie SGT ROBERT "BOB").

@dneel-bah  Do we want to be able to use quotation marks and if so, which fields do we want to have them in?

[2019-12-17 17:04] ksantiagomorgan6 commented on #4275
Pull Request

https://github.com/department-of-veterans-affairs/vets-website/pull/11334

[2019-12-17 17:06] erikphansen commented on #4109
@Samara-Strauss In the other DD error messages the TTY number we use is 800-829-4833. Should we stick with that instead of the 711 in this ticket?

[2019-12-17 17:08] jholton opened #4309 "Fix GIDS indexes"
### Background
As you might guess, the `institutions_archives` table was created to archive `institutions` records.
The initial archiving process would have involved inserting ~4.5mm records into `institutions_archives`, then deleting them from `institutions`.  The time and resources to process this would have had a detrimental effect on the GIDS service.
As a way to minimize performance impact, `

[2019-12-17 17:09] Samara-Strauss commented on #2511
@peggygannon we've gone to 100%! This beta copy can be removed whenever you have a moment.

[2019-12-17 17:11] dneel-bah commented on #4308
@hughes-dustin I think that we should be able to upload data as it is received unless it is not technically possible.  What does @shawkey-daniel think?

[2019-12-17 17:15] Samara-Strauss commented on #4109
@peggygannon can you answer @erikphansen's question above ☝️ ?

[2019-12-17 17:17] Samara-Strauss commented on #3967
The latest: Melissa needs to regroup with the following folks before getting us final approval:

We'll follow up with her after the holidays if we don't hear back.

[2019-12-17 17:20] shawkey-daniel commented on #4308
Anything that is a valid string character between the delimiters in a string field should be valid and should be ingested.

[2019-12-17 17:24] hughes-dustin commented on #4308
Okay, I'll implement it to include special characters minus delimiters.

[2019-12-17 17:24] kelsonic commented on #4147
Actually, perhaps `vets-website` won't even need to worry about the API key since it looks like https://dev-api.va.gov/v0/forms doesn't require it :)

[2019-12-17 17:27] markgreenburg opened #4310 "Better differentiation between ophthalmology & optometry"
## Story
[feedback from production UAT session] As a veteran with eye care needs, I want to more easily understand whether I should request an optometry or ophthalmology appointment so that I see the right kind of doctor for my eye issue.

## AC
- [x] Veterans are not confused about which type of care to pick between the two

[2019-12-17 17:27] erikphansen commented on #4109
Here is my version of this new error. Note that the error alert is directly below the modal's headline. This is consistent with the position of all the other errors. The mock positions the error lower in the modal. If you'd like I can move all the errors down to match this mock.

<img width="484" alt="Screen Shot 2019-12-17 at 9 23 38 AM" src="https://user-images.githubusercontent.com/20728956/710

[2019-12-17 17:28] #3143 closed

[2019-12-17 17:54] rebeccawalsh opened #4311 "Discovery: Discovery Readout Meeting"
## User Story or Problem Statement
As a UX designer participating in a discovery sprint, I need to present discovery findings to the team in order to inform them and the product planning going forward.

## Tasks (Hours)
- [ ] Schedule readout meeting (1 hour)
- [ ] Present readout to the team (1 hour)
- [ ] (If necessary) Make any edits to discovery sprint readout (1 hour)

## Acceptance Criteria

[2019-12-17 18:09] jenniferlee-dsva commented on #3604
@Karak888 I am reopening this issue and assigning to @RLHecht to do a copycheck and update any content per the copydeck here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/find-va-forms-redesign/VA-forms-slp-conversion-paths-110519.docx

Randi - Nick has built a draft of this page in Drupal. Could you review and update the content based on the copydeck linked a

[2019-12-17 18:13] #3299 closed

[2019-12-17 18:28] jenniferlee-dsva commented on #3606
@ncksllvn - thank you for creating this ticket! I added an additional criteria ^ for GA tracking. @Karak888  for awareness: this ticket will have to get into the analytics team queue.

[2019-12-17 18:51] ncksllvn commented on #4147
That's our API!

[2019-12-17 18:51] ncksllvn commented on #4147
Rephrased this ticket title to `Integrate front end widget with API `

[2019-12-17 18:52] Samara-Strauss commented on #4109
@erikphansen this looks great. Let's leave this open until we hear back from Peggy on the phone number question.

[2019-12-17 18:57] peggygannon commented on #3692
@lwalsh617

Here is the updated View your VA disability ratings page. Please let me know if you have any questions about my feedback.

[https://app.zenhub.com/files/133843125/ae6658fd-7cf2-431e-bde8-369e9798e4aa/download](https://app.zenhub.com/files/133843125/ae6658fd-7cf2-431e-bde8-369e9798e4aa/download)

[2019-12-17 19:01] sjbrush commented on #2972
I am trying to figure out how this functionality works in current vaos.  if someone knows what that actual service call is and could post it here, that would be great.

[2019-12-17 19:11] lwalsh617 commented on #3692
Hi @Karak888
Peggy has reviewed this as well as Jen and Randi, so it's good to be put into a preview, which will then go to an SME (as opposed to sending SME this Word doc).
Not sure who to alert to get it into a page preview... [https://app.zenhub.com/files/133843125/7579e657-efbe-4ef6-ad0b-8bcb28dc48e6/download](https://app.zenhub.com/files/133843125/7579e657-efbe-4ef6-ad0b-8bcb28dc48e6/download

[2019-12-17 19:17] ncksllvn commented on #3998
I added the `| Veterans Affairs` into the title but I'm noticing that other recommendations don't have that, so not sure.

I can sentence case that, sure. It'll be a PR in vets-website though, not a change in search.gov.

[2019-12-17 19:20] RLHecht commented on #3998
@ncksllvn you're right about none of the others having "| Veterans Affairs" after it. @jenniferlee-dsva can you weigh in on this? I had asked Nick to add it but in searching other pages none of the top recommendations have it after it. Is this purposeful?

[2019-12-17 19:22] Samara-Strauss commented on #3895
Can I close this?

[2019-12-17 19:25] ncksllvn commented on #3776
Great job!!

[2019-12-17 19:25] #3776 closed

[2019-12-17 19:25] ncksllvn commented on #3997
Great job!!

[2019-12-17 19:25] #3997 closed

[2019-12-17 19:26] #3572 closed

[2019-12-17 19:26] ncksllvn commented on #3701
Great job @kelsonic

[2019-12-17 19:26] #3701 closed

[2019-12-17 19:27] #3995 closed

[2019-12-17 19:32] YanaRoy commented on #2345
The outcome of the research for this issue has caused the need to include design team members to identify how this should be handled. Closing ticket. Will open new design ticket with link to this ticket.

[2019-12-17 19:32] brandonrapp opened #4312 "Access for Brandon Rapp"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Add a comment @department-of-veterans-affairs/vsp-operations to ping the operations team
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please

[2019-12-17 19:36] Justin-Pickett commented on #3895
@Samara-Strauss ill close it soon today, just going to use to break out the FE ticket that results from this proposed solution. Thank you.

[2019-12-17 19:40] Samara-Strauss commented on #3895
@Justin-Pickett sounds good. We'll consider this complete for sprint objective purposes. Close whenever you're ready.

[2019-12-17 19:44] YanaRoy opened #4313 "[Design Research] Banking Info in 526 review step"
## User Story:
As a claimant, I need to confirm my banking information when finalizing my 526 form so that I can ensure accurate information has been collected when I submit my form.

## Tasks
- [ ] Review notes from bug that identified this need #2345
- [ ]

## Acceptance Criteria:
_The requirements that must be met in order to mark this user story as completed_
- [ ] Testable Outcome Y
- [ ] Tes

[2019-12-17 19:50] YanaRoy commented on #3947
Blocked while the handling of legacy issues is being finalized.

[2019-12-17 19:59] Karak888 commented on #3606
@jenniferlee-dsva @ncksllvn I will fill out a analytics request with Nedie and Joanne.

[2019-12-17 20:07] jbalboni opened #4314 "Something went wrong error when user with one system has no facilities to choose from"
We get a "Something went wrong" error message when a user has one registered system and they choose a type of care that has no available facilities for that type of care. We should properly detect this as no valid facilities and show the correct message.

[2019-12-17 20:10] ncksllvn commented on #3563
Behold - https://dev-api.va.gov/v0/forms

[2019-12-17 20:10] #3563 closed

[2019-12-17 20:11] ncksllvn commented on #3563
@micahchiang We added an API Key into Credstash that your team should be able to leverage to talk to other Lighthouse APIs. The ticket for that is here, https://github.com/department-of-veterans-affairs/va.gov-team/issues/4279.

[2019-12-17 20:34] ccruzgra commented on #4025
Uploaded design files to UI repo on 12/16.

[2019-12-17 20:35] ccruzgra commented on #4017
Uploaded design files to UI repo on 12/16.
Organized Design repo as content was missing and out of place after migration.

[2019-12-17 20:40] peggygannon commented on #4109
@erikphansen Hello, let's use the same TTY number we use for the other DD error messages, so we're consistent. Thank you for checking in.

[2019-12-17 20:44] markgreenburg opened #4315 "Don't append reason for appointment in request flow message"
Currently, we prepend the 'reason for appointment' answer to the 'additional info' text field. We shouldn't be doing this in the request flow because it duplicates the 'reason for appointment' answer that already gets sent in as part of the request. We should continue doing this in the self-schedule flow, because the 'reason for appointment' question is asked but there's no corresponding field to

[2019-12-17 20:46] deweydell commented on #406
### Authentication Notes for Domo and Tableau

#### Tableau
- *Trusted Authentication* is the recommended solution over Kerberos, Active Directory, SAML, and OpenID.

Trusted Authentication can:
- specify an IP address to trust (the web server that would host our front end)
- track usage on a per-user basis

#### Domo
- Allows Single Sign on through SAML or OpenID
- Allows user activity on embedde

[2019-12-17 20:57] lwalsh617 commented on #3692
@RLHecht @Karak888
This copy deck is now ready to go into Drupal. Goal is to send the SMEs a preview page ASAP.
Randi, how is your bandwidth? (Apologies--wish I had access already!!)

[https://app.zenhub.com/files/133843125/1bcbf03a-1dda-4e62-ad3f-7e0ee513c796/download](https://app.zenhub.com/files/133843125/1bcbf03a-1dda-4e62-ad3f-7e0ee513c796/download)

[2019-12-17 20:58] #1601 closed

[2019-12-17 20:58] #1611 closed

[2019-12-17 21:00] #1781 closed

[2019-12-17 21:00] #1777 closed

[2019-12-17 21:02] peggygannon commented on #2511
@Samara-Strauss Awesome, yes, I saw that this morning!! I can remove that copy from the drupal file today.

Just to confirm, this is the block of text that I'll be removing from /change-direct-deposit/

**We're testing out the direct deposit feature on VA.gov**
We're in the process of bringing direct deposit to VA.gov. This feature isn't available to everyone right now. If you see the direct depos

[2019-12-17 21:03] Justin-Pickett commented on #3893
@artistgreen  let me know when the final list is complete so we can get this closed out. Once you update this ticket, ill get the remaining items uploaded in the github link ---> [Here](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/change-address/apo-fpo-dpo/benefits-applciations-list.md)

[2019-12-17 21:04] Justin-Pickett commented on #3895
This ticket is ready to be closed. The above information will be moved to a "FE" ticket to prepare for build out of this proposed solution encompassed in this ticket.

[2019-12-17 21:04] #3895 closed

[2019-12-17 21:16] #2857 closed

[2019-12-17 21:20] Justin-Pickett commented on #3980
Closing this ticket. We'll coordinate with @erikphansen and @artistgreen on the next steps with this and determine if more work is needed on the copy and front end.

[2019-12-17 21:20] #3980 closed

[2019-12-17 21:22] Justin-Pickett commented on #4060
@lihanli can you confirm that PR 3642 is working and this ticket can be closed. Thanks.

[2019-12-17 21:23] Justin-Pickett commented on #3967
@Samara-Strauss per you comment above, do you want to go ahead and close this ticket out for Sprint 10 objective and just open a follow up ticket to track too for awaiting Melissa's response back to us of approval or not?

[2019-12-17 21:24] Justin-Pickett commented on #3877
@erikphansen and @nedierecel just confirming with you two, I believe this ticket can be closed? The AC was met for this ticket.

[2019-12-17 21:25] jenniferlee-dsva opened #4316 "Add 800 ph # to Pension "intent to file" info"
## User Story or Problem Statement
As a Veteran, I need to know that I have a phone option for submitting/declaring my intent to file for pension benefits, so I can quickly and easily establish my intent date without using a form.

On this page: https://www.va.gov/pension/how-to-apply/

Per SME email:
You can add the 800-827-1000 number to the pension page as well – the NCC agents are trained and

[2019-12-17 21:26] Justin-Pickett commented on #2511
Just waiting for @Samara-Strauss to confirm the above copy is what is to be remove per @peggygannon's response, once a confirmation is received this ticket can be closed out.

[2019-12-17 21:28] ndsprinkle commented on #3909
I've dug into this a bit and can replicate every time using the user listed above (299). I don't think the user will matter, but I'll try out a couple other users to make sure. Regardless, for this user, this was my testing method:

1. On staging, navigate to claim 600174345 for user 299
2. Switch to the "Files" tab and click "View Details" under "Additional evidence"
3. Click "Add Files" and sele

[2019-12-17 21:35] peggygannon commented on #4209
@tmcmurdo Hello! Please see my content recommendation below:

Please contact the school or their military office directly for information on the Veteran programs they offer.  

[2019-12-17 21:38] erikphansen commented on #4109
final screenshot in the PR https://github.com/department-of-veterans-affairs/vets-website/pull/11342

[2019-12-17 21:38] lihanli commented on #4060
@Justin-Pickett it's not working because va-profile team rolled back their api https://dsva.slack.com/archives/C7TE0PFTL/p1576607794009000

[2019-12-17 21:42] nedierecel commented on #3877
This is correct. Thanks @Justin-Pickett

[2019-12-17 21:48] Justin-Pickett commented on #3877
@nedierecel  Thank you. Closing this ticket out.

[2019-12-17 21:48] #3877 closed

[2019-12-17 22:03] jenniferlee-dsva commented on #4316
@RLHecht @peggygannon - can one of you check the updates I made here: http://preview-prod.vfs.va.gov/preview?nodeId=586 and edit anything that needs it. Couldn't hyperlink the phone # as we usually do.

This is making similar update in the Pension INTENT TO FILE section that the Disablity page is. Per Regina's email, the pension business is now using the same VBA 800 NCC phone number for intent to

[2019-12-17 22:05] jason-gcio opened #4317 "Request Contact Center Review for "Your VA disability ratings" Tool Page"
### Context
The **"Your VA disability ratings"** page is where Veterans can view their combined disability rating and the individual disability ratings in their record.

### Links
**Staging URL:** https://staging.va.gov/disability/view-disability-rating/rating
**Product Guide:** https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/disability/rated-disabilities/call-ce

[2019-12-17 22:08] narin commented on #3488
@markgreenburg @peggygannon According to Jeff, we do not have access to a facility Id or phone number for video appointments.  We have a system ID, which we can get a phone number for, but I'm not sure if that is the appropriate place to call to cancel a video appointment.

[2019-12-17 22:11] jason-gcio commented on #3352
Link to Call Center review ticket is below, sent a note to Chante on Slack as well
https://github.com/department-of-veterans-affairs/va.gov-team/issues/4317

[2019-12-17 22:11] #3352 closed

[2019-12-17 22:12] #4130 closed

[2019-12-17 22:14] jbalboni commented on #3488
In the future, we'll be able to get the right facility info, but for now I think we need some generic text that you need to contact the facility where you scheduled the appointment.

[2019-12-17 22:21] steve-gov commented on #2931
Contact made, I'm going to close this in favor of some further actionable issues.

[2019-12-17 22:22] kevinstachura commented on #3949
Miro board for the business process flow of NOD can be located here: https://miro.com/app/board/o9J_kvkRLHs=/

[2019-12-17 22:23] #3949 closed

[2019-12-17 22:27] jenniferlee-dsva commented on #4316
p.s. This is not urgent, but it would be nice to match the Disability intent to file updates, so there's parity, before the code freeze 12/23.

[2019-12-17 22:29] #3876 closed

[2019-12-17 22:30] steve-gov opened #4318 "Create ESCP Request for View Dependents"
n/t

[2019-12-17 22:33] steve-gov opened #4319 "Create ESCP Request for Update Dependents (686c/674)"
n/t

[2019-12-17 22:35] steve-gov opened #4320 "Get BGS Accounts provisioned"
WIP

To access BGS services we have to have an account/ key provisioned. Docs here: https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/tree/master/VA-Systems/BGS

[2019-12-17 22:40] #4069 closed

[2019-12-17 22:43] mmiddaugh opened #4321 "Search component for Urgent Care MVP (design)"
**This issue represents one area of the urgent care redesign(MVP)**

 ## User story
- As a veteran, I need to be able to search for an urgent care facility so that I can seek care.

## Objectives or Key Results this is meant to further
- Improve the Veteran Search Experience (Veterans have the information they need to be prepared for an urgent care visit. )
- Reform Community Care Implementation

[2019-12-17 22:48] mmiddaugh opened #4322 "Search component for MVP urgent care redesign (development)"
This issue represents one area of the urgent care redesign (MVP)

## User story
As a veteran, I need to be able to search for an urgent care facility so that I can seek care.
As a veteran, I need to be able to search for an urgent care pharmacy so that I can have my urgent care prescription filled in my community.

## Objectives or Key Results this is meant to further
- Improve the Veteran Search

[2019-12-17 22:56] mmiddaugh commented on #4321
@davidconlon please confirm that I have captured the requirements for this area of the redesign

[2019-12-17 23:10] peggygannon commented on #2511
thanks, @Justin-Pickett I realize after my note that Samara had already boxed in red (above) the copy to be removed above. Here's a screenshot of the update. Once this goes live tomorrow, then this ticket can be closed.

![2019-12-17](https://user-images.githubusercontent.com/17554224/71041941-41165580-20df-11ea-903e-f74e73da5cee.png)

[2019-12-17 23:20] mmiddaugh commented on #4241
Content team: can we please get some recommendations on the verbiage that should be used to instruct the Veteran to call the facility for hours of operation? The instruction can also include the phone number, if appropriate.

[2019-12-17 23:29] mmiddaugh opened #4323 "List and map display of urgent care search results MVP (design)"
**This issue represents one area of the urgent care redesign (MVP)**

## User story
- As a Veteran, I need to be able to view the results of my urgent care search so that I can select one.
- As a Veteran, I need to understand the types of urgent care facilities so that I can choose the appropriate one for my situation.
- As a Veteran, I need to view details about the facility so that I can prepare

[2019-12-17 23:32] mmiddaugh commented on #4323
@davidconlon please review my requirements above.
In particular, what is expected behavior for search results displayed for other facility types? (Both VA-owned and Community Care)

[2019-12-17 23:42] mmiddaugh opened #4324 "List and map display of urgent care search results MVP (development)"
**This issue represents one area of the urgent care redesign (MVP)**

## User story
- As a Veteran, I need to be able to view the results of my urgent care search so that I can select one.
- As a Veteran, I need to understand the types of urgent care facilities so that I can choose the appropriate one for my situation.
- As a Veteran, I need to view details about the facility so that I can prepare

[2019-12-17 23:47] cvalarida commented on #3320
This shouldn't be used anywhere. Closing until we discover it's required.

[2019-12-17 23:50] mmiddaugh opened #4325 "Urgent care benefit PDF MVP (design)"
**This issue represents one area of the urgent care redesign (MVP)**

## User story
- As a Veteran, I need access to the urgent care benefit PDF so I can print or download it for my urgent care visit.

## Objectives or Key Results this is meant to further
- Improve the Veteran Search Experience (Veterans have the information they need to be prepared for an urgent care visit. )
-  Community Care Im

[2019-12-17 23:50] mmiddaugh commented on #4325
@davidconlon please review my requirements above

[2019-12-18 00:12] mmiddaugh opened #4326 "PPMS (Place of Service Locator) API Call"
## Problem Statement
How might we enhance the PPMS **Place of Service** query to improve performance and efficiency?

## Goal
_What outcome(s) do we want to see?_
- Ensure that all necessary data elements are included in single API call to PPMS

## Objectives or Key Results this is meant to further
- Reform Community Care implementation

## Acceptance Criteria
_What needs to happen or be created?_

[2019-12-18 00:13] mmiddaugh commented on #4326
@davidconlon please review my requirements above

[2019-12-18 00:31] SMLuthi commented on #3939
I have reapplied the `blocked` tag. Dozen of different attempts have been made to their dev environment endpoint to try to get a successful call through but it has not been possible. The only call that has succeeded is the hard coded request payload provided by one of their engineers that, when looking over it, was generated by a XML GUI and does not include some fields that are required for our r

[2019-12-18 00:59] erikphansen opened #4327 "1st attempt to force an overridable address works, 2nd+ fail"
## To reproduce
1. Load the Profile: https://staging.va.gov/profile/
2. Edit the mailing address and enter an invalid address: `36319 coronado, fremont, CA 94536`
3. When prompted to confirm it's correct, force it through
4. The address will save. Yay.
5. _Without refreshing the page_ edit the address with another invalid address: `36318 coronado, fremont, CA 94536`
6. When prompted to confirm it'

[2019-12-18 01:19] erikphansen opened #4328 "In some cases picking a suggested address from the API will not work."
## To reproduce
1. Enter `400 65th seattle WA 12345`
2. Accept the suggested address that's selected by default and continue
3. The save will fail

This is due to the fact that that address actually returns multiple addresses from the suggestion API. We only show the user the 2nd result because that's the only CONFIRMED address. But when the user selects that address, what actually gets sent to th

[2019-12-18 03:35] AnneHurley commented on #4073
@lunascoop  @Karak888  - Selina, can you take a look at the ^ word docs attached to get up to speed. I had a question about what the "Pension Penalty Amount" dollar amount reflected. I will also forward you two emails Angie Smith sent in answer to that question. Let's talk it through together on Wednesday.

[2019-12-18 05:50] kathleencrawford opened #4329 "Review BGS Documentation Related to Form 686 Submission"
## Goal
Review documentation provided by Steve and BGS to better understand requirements for viewing dependents and submitting Form 686.

## Tasks
- [x] Analyze and document deltas surrounding existing data and what might be coming back from BGS

## Considerations
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/ebenefits/features/view-update-dependents/dis

[2019-12-18 06:36] #3928 closed

[2019-12-18 06:36] #3931 closed

[2019-12-18 06:37] #3925 closed

[2019-12-18 06:37] #3924 closed

[2019-12-18 06:37] #3929 closed

[2019-12-18 06:37] #3923 closed

[2019-12-18 06:37] #3926 closed

[2019-12-18 06:37] #3927 closed

[2019-12-18 06:37] #3932 closed

[2019-12-18 06:37] #3921 closed

[2019-12-18 06:37] #3930 closed

[2019-12-18 06:37] #4137 closed

[2019-12-18 11:38] Kimberley2019 commented on #4083
On 12/18/2019, I reached out to Barbie Flowers, Amy Rosenthal, and John Carroll-Gavula for additional assistance.
I was informed that in additional to reaching out to the individuals above, a Service Now ticket would need to be submitted.
@YanaRoy has been provided with the ticket details and has possibly passed along to the Vets360 team.

[2019-12-18 13:03] artistgreen commented on #3893
Forms to add from Education:
22-0994
22-1995
22-1990
22-1990E
22-5495

Exploring these to see if they have an address component:

22-1995
22-5490

We identified pre-eligibility for burial form - adding this form:

21P-530

[2019-12-18 13:26] mnorthuis commented on #3527
URLs for this work:

Static page URL: www.va.gov/disability/view-disability-rating/
Report/dynamic page URL: www.va.gov/disability/view-disability-rating/rating

All IA is documented in #2584 for reference

[2019-12-18 13:30] mnorthuis commented on #2584
@jason-gcio Do you have the eBenefits URLs that will eventually be redirected to this new tool?  If so, can you drop them here so I can add to the IA documentation?

[2019-12-18 13:47] clantosswett commented on #4317
@jason-gcio we will be reviewing these items over the next few days and will let you know if we have any questions. In the meantime, do you know the planned go-live date for this new feature?

[2019-12-18 13:56] #3839 closed

[2019-12-18 13:56] #3840 closed

[2019-12-18 14:31] jenniferlee-dsva commented on #2051
@Karak888 @meganhkelley - Looks like we can start redirecting these ^?  I know we're heading into code freeze but we can queue these up to be ready post-freeze?

[2019-12-18 14:38] #3826 closed

[2019-12-18 14:38] #3823 closed

[2019-12-18 14:39] 1Copenut commented on #3983
@KevinMHoffmanUSDS The research has been synthesized for the Learn More buttons in this document: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsp/teams/product-dev-support/research/additional-info-tooltip-modal-usability/synthesis.md

I'm going to be adding several issue tickets to this epic to capture next steps.

/cc @CrystabelReiter && @emilywaggoner

[2019-12-18 14:40] mr0sari0 commented on #3830
Update blockers to include a design mock up of 2346.

[2019-12-18 14:45] Karak888 commented on #3527
sorry @nedierecel I must have missed your message.  Please let me know if you still need anything.  Thanks

[2019-12-18 14:47] nedierecel commented on #2184
@annaswims @kfrz @wyattwalter As a follow-up to our discussion, please see Nicola's screenshots of the MVP. There are two key sections above:

1. Percent downtime by tool/form (e.g. Percent downtime by Form 22-1990)
2. Percent downtime by tool/form by system where applicable

Our clarifying questions from our conversations are:
1. Using Prometheus data, is it possible to align these metrics by too

[2019-12-18 14:49] rtwell commented on #4310
this shouldn't need a comp, just the words @peggygannon

[2019-12-18 14:53] 1Copenut opened #4330 "Update the Additional Info component to be used for Learn More expandable sections in forms"
This ticket is to update the Additional Information component ( https://design.va.gov/components/additional-info ) to conditionally use that component as an `<a>` tag with `role="button"` and adding a listener for the SPACE keypress. This is a bit convoluted, but was necessary to not interfere with screen reader normal "click" behavior on `<label>` elements.

The prototype code we tested is on Cod

[2019-12-18 14:59] 1Copenut opened #4331 "Conduct a content audit for all Learn More buttons in forms based on work for GIBCT"
@peggygannon and I were talking the other day about the Learn More button text for GIBCT and how that related to the entire form system universe. She mentioned she'd like to run a full forms audit to see how often we are using this phrase in our forms, and what might be good contextual labels.

The original ask was around Learn More buttons for GIBCT. Peggy's response can be reviewed here: https:/

[2019-12-18 14:59] #3820 closed

[2019-12-18 15:01] sonntag-adam commented on #4275
![Screen Shot 2019-12-18 at 10.00.15 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/5f686079-120f-4760-8e28-0ced22999cf6)
##
![Screen Shot 2019-12-18 at 10.01.08 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/4dbf8411-350d-4fa8-b6c7-465c2cc08c8c)

[2019-12-18 15:06] Justin-Pickett commented on #3893
@artistgreen thank you for uploading the final list of forms. I have uploaded them to the Github
repo ----> [HERE](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/change-address/apo-fpo-dpo/benefits-applciations-list.md) for reference.

I will close this ticket. This sprint 10 objective was met.

[2019-12-18 15:06] #3893 closed

[2019-12-18 15:09] jenniferlee-dsva commented on #1254
@Karak888 @kelsonic - the code freeze might be a good time to kill the follow up part of this ticket. It's on the DEPO board, so will be nice to assess results and share findings. You may need to go back to the original ticket to see more info.

[2019-12-18 15:12] nedierecel commented on #4203
@mmiddaugh Confirming we received - we are tracking PDF downloads now, so we should be able to track these PDF downloads.

[2019-12-18 15:14] #3424 closed

[2019-12-18 15:15] nedierecel commented on #295
@jefflbrauer This was an older request to measure Drupal usage. Should we leave here?

[2019-12-18 15:15] RLHecht commented on #4316
I copyedited this page and fixed the hyperlink for the phone number. Just waiting on Peggy to weigh in on the word "declare." Will publish later today.

[2019-12-18 15:21] andreahewitt-odd commented on #459
@joanneesteban Is this work you still plan on doing or can it be closed? Or should this ticket be changed to finish the export of 2018 and 2017?

[2019-12-18 15:21] nedierecel commented on #460
@joanneesteban This looks like a duplicate of #2184. Okay to close?

[2019-12-18 15:25] Justin-Pickett opened #4332 "[PM] Profile 2.0: Handoff project to Tressa"
## User Story:
As a new member of the team, I need to be onboarded to the project I will be working on so I have the relevant background and know how to get started.

## Tasks
_The steps that must be done by the team to complete the acceptance criteria_
- [x] 1:1 Knowledge transfer with Tressa  (1 hour)
- [x] Hand off Sketch files

## Acceptance Criteria:
_The requirements that must be met in orde

[2019-12-18 15:27] #4314 closed

[2019-12-18 15:28] andreahewitt-odd commented on #2506
@joanneesteban Can this ticket be closed? Per grooming on 12/18.

[2019-12-18 15:29] jefflbrauer commented on #295
@nedierecel Let's leave this and prioritize for 2020 :)

[2019-12-18 15:29] andreahewitt-odd commented on #2689
Closing because we're using the new universal epic, @joanneesteban

[2019-12-18 15:29] #2689 closed

[2019-12-18 15:34] tmcmurdo commented on #4208
Hi @peggygannon

Within the GI Bill Comparison Tool, on the School Profile page, we're modifying the copy in the "Cautionary Information" accordion to let users know that the count of student complaints represents the number of complaints received in the last 24 months.

*Current Copy*

![image.png](https://images.zenhubusercontent.com/5b73380097e4e42cb4c8c5d2/77f303f2-82ca-402a-9c1e-ca873d1e3204)

[2019-12-18 15:45] Justin-Pickett opened #4333 "Sprint 11 Objectives - 12/18 - 12/31 (Christmas Holiday)"
## Sprint 11 (12/18 - 12/31)

### Note: Code freeze between 12/23 - 1/3/2020.

### Time off this sprint

*Sprint is 8 days with 12/24 and 12/25 holiday*

- Arthur: Dec 19, 23 – 26; 6 days of availability
- Brad: Dec 18, 24, 25,31; 6 days of availability
- Erik: Dec 23 – 25; 7 days of availability
- Justin: Dec 24 – 27; 6 days of availability
- Lihan: 24 – 31; 4 days of availability
- Samara: Dec 2

[2019-12-18 15:53] #4207 closed

[2019-12-18 15:53] erikphansen commented on #4207
@Samara-Strauss I just took a look at this one again and the behavior has changed slightly due to changes I merged yesterday.

1. Entering `1234 Is this working street, Washington, DC 20592` triggers the validation modal, asking you to confirm that you entered the correct street. It then allows you to select the address as entered and save it. However it should _not_ allow you to select it (the up

[2019-12-18 15:53] Karak888 opened #4334 "Redirect Request: Redirects in Health Care based on legacy rewriting work"
### Description
**Redirects in Health Care based on legacy rewriting work #2051**

_**Tickets tracking the rewriting work**_
1. Cost of care rewriting: department-of-veterans-affairs/vets.gov-team#16095
2. Active Duty rewriting: #2391
3. VHIC rewriting: department-of-veterans-affairs/vets.gov-team#16957
4. VADIP rewriting: department-of-veterans-affairs/vets.gov-team#17004
5. Priority groups rewri

[2019-12-18 15:56] erikphansen commented on #4109
If we have a routing number that's been flagged by BGS or the fraud team, we can validate this on staging. Otherwise we can just close this. @Samara-Strauss @Justin-Pickett

[2019-12-18 15:58] wygonikGCIO opened #4335 "Discovery ticket- DLC endpoints"
## User Story:
As a Back-end, I need so that I can.

## Tasks

- [ ] create endpoints
- [ ] provided DLC with schema and URL, and URL format
- [ ] set up meeting with DLC, Joe, Amen, Maherial- (nick)

## Acceptance Criteria:
_The requirements that must be met in order to mark this user story as completed_
- [ ] Front-end approves enpoints
- [ ]

[2019-12-18 15:59] erikphansen commented on #4205
@Samara-Strauss can you take another pass at this and close it if the modal is working correctly?

[2019-12-18 16:00] wyattwalter commented on #4183
Gonna roll through this with Bennie.

I opened INC8799214 for the replacement at the Gateway.

[2019-12-18 16:00] sjbrush commented on #2972
"/facility-service/supported-facilities/#{siteCodes}"  this is handled by var-resources.  Apparently a VAR supported facility is a CC supported facility.  in other words, if they are able to use VAR, they are able to use CC assuming the user is eligible.

[2019-12-18 16:00] jason-gcio commented on #4317
@clantosswett, @Kimberley2019
Our timeline isn't set in stone per se, but it looks like we will be in good shape in early January.

[2019-12-18 16:03] Karak888 commented on #2051
@lunascoop please reach out to SMEs to get timing of redirect request and once @mnorthuis verifies my request form, add in the timing for when these should go. :cc @ncksllvn @jenniferlee-dsva

[2019-12-18 16:04] wygonikGCIO opened #4336 "Front-end DLC end points"
## User Story:
As a ___Front-end developer_______, I need _to have access to DLC endpoints_________ so that I can ___retrieve veterans data (socks or hearing aid item)_______.

## Tasks
_The steps that must be done by the team to complete the acceptance criteria_
- [x] Determine if the environment is correctly set up
- [x] Confirm end points match DLC & Vets-API

## Acceptance Criteria:
_The requi

[2019-12-18 16:12] Karak888 commented on #4231
@lunascoop please communicate to SMEs about date and update this ticket with timing.  @ncksllvn please standby

[2019-12-18 16:14] Samara-Strauss commented on #3967
@Justin-Pickett let's leave this open until we have confirmation from Melissa. This is complete for the purposes of sprint objectives as we've reached, heard back, and the only thing we're waiting on is internal conversation on their side of things. But I'd like to leave this open until we have a final 100% acknowledgment from Melissa that DD will be removed from eBenefits on 1/29.

[2019-12-18 16:22] sonntag-adam opened #4337 "Test Case and Test Execution for CT: Remove "Online Only" and "Distance Learning" references from CT #4275"
As a member of the BAH development team, I need to make sure that we have traceability between our stories and test case execution so that we can easily see what test cases were executed against our functional work and when those cases were executed.

Assumptions:

1. All test cases pass
2. All defects resulting from test case execution have been resolved before this story and #4275
 are closed.
3

[2019-12-18 16:24] Samara-Strauss commented on #4109
I reached out to the BGS team to see if we can get one of the routing numbers flagged for fraud. If we can't get that from them, we can close this. In the meantime, let's leave this open in case we hear back.

[2019-12-18 16:26] hughes-dustin commented on #4227
branch: bah-4227
PR: https://github.com/department-of-veterans-affairs/vets-website/pull/11349

[2019-12-18 16:30] #3394 closed

[2019-12-18 16:37] wygonikGCIO opened #4338 "Determine ideation of product features"
## User Story:
As a _____UX designer_____, I need _list of research items_____ so that I can __to validate x________.

## Tasks
_The steps that must be done by the team to complete the acceptance criteria_
- [ ] create the format for the meeting
- [ ] host meeting
- [ ] document in GH
- [ ] etc

## Acceptance Criteria:
_The requirements that must be met in order to mark this user story as complete

[2019-12-18 16:38] jenniferlee-dsva opened #4339 "Fill out new database field values for top forms"
2 new database fields are being added to the VA forms database. We need to provide Kevin Reid and other form owners the field values for the 2 new fields for the top forms we have identified.

**User story 1:**
As a Veteran who looks for a form, I need to know at a glance if there is an online application available and what type of benefit that form/application is used for.

**User story 2:**
As a

[2019-12-18 16:40] markgreenburg opened #4340 "Check CC supported sites using service"
We need to check that a veteran is registered in a system that has at least one site that supports community care scheduling, so that we can determine whether the veteran should have the community care option displayed. Currently, we do this using a static list of sites that are known to support CC scheduling. We need to actually fetch this data from the supported-sites service so that we can be s

[2019-12-18 16:41] jenniferlee-dsva commented on #4339
@Karak888 fysa

[2019-12-18 16:41] Samara-Strauss commented on #4207
Incredible detective work @erikphansen. All of this sounds good to me. We'll follow the override issue in #4278.

[2019-12-18 16:45] markgreenburg commented on #4340
Assigning @jbalboni since I think he's already picked this up but feel free to unassign if that's not true.

[2019-12-18 16:48] jenniferlee-dsva commented on #4180
@RLHecht - could you make sure to make same "declare" update to disability intent to file, to match Pension intent to file if Peggy changes?

[2019-12-18 16:58] jenniferlee-dsva commented on #4316
@RLHecht - I just sent Angie the preview link. Could we wait for her reply before publishing? If she doesn't reply by Thursday, I'll ping her and let her know it's going out on Friday before Monday's code freeze.

[2019-12-18 17:05] #3913 closed

[2019-12-18 17:06] Justin-Pickett commented on #3967
@Samara-Strauss  okay great. Sounds good!

[2019-12-18 17:07] #1495 closed

[2019-12-18 17:07] #3664 closed

[2019-12-18 17:09] Samara-Strauss commented on #2511
This is perfect! We'll close after the 3:00 deploy/confirmation the copy is gone.

[2019-12-18 17:10] AnneHurley commented on #4073
@RLHecht  @lunascoop  - This is an instance of where the Team Site page is still live in parallel with the VA.gov site.
Our page: https://www.va.gov/pension/veterans-pension-rates/
Legacy page: https://www.benefits.va.gov/pension/current_rates_veteran_pen.asp

What do we need to do, to redirect the second page above to the first, and have that second one retired?

I vote to do that and make the pa

[2019-12-18 17:11] Karak888 commented on #3812
I think this may be a dupe or cart before horse?  I am moving to close this but if anyone feels differently please let me know!

[2019-12-18 17:13] Karak888 commented on #2268
moving to close as PR is merged.  Thanks @ncksllvn - if there is something additional needed as a follow up let's create a new ticket.  but closing this for now!

[2019-12-18 17:13] #2268 closed

[2019-12-18 17:13] YanaRoy opened #4341 "[Design] Notice of Disagreement Design and Usability"
## High Level User Story/ies
As a researcher/designer on the Benefits and Memorials team, I need to conduct user research of the Notice of Disagreement prototypes so I can identify any design needs that are recommended by the users.

## Full project epic #2140

- [ ] Create research plan & kickoff recruiting #4342
- [ ] Initial design mockups based on Lighthouse initial research
- [ ] Recruit for

[2019-12-18 17:13] #3051 closed

[2019-12-18 17:13] #3635 closed

[2019-12-18 17:14] #4209 closed

[2019-12-18 17:17] Karak888 commented on #3882
Validated moving to close. Thanks

[2019-12-18 17:17] #3882 closed

[2019-12-18 17:17] YanaRoy opened #4342 "[User Testing] NOD Research Plan"
## User Story or Problem Statement
As a UX Designer, I need to create a research plan so I can document the research's purpose, goals, hypothesis, and user testing recruitment needs.

## Goal
_A completed research plan sent to Perigean for user testing recruitment_

## Objectives or Key Results this is meant to further
- _User testing to validate the NOD design and/or uncover gaps, improvements, a

[2019-12-18 17:21] erikphansen commented on #4327
This should also be resolved with this open PR: https://github.com/department-of-veterans-affairs/vets-website/pull/11347

[2019-12-18 17:21] delli-gatti-michael commented on #4041
local testing is complete

[2019-12-18 17:22] #4070 closed

[2019-12-18 17:25] ncksllvn commented on #952
I don't think we should close this. My PR won't be merged until tomorrow.

[2019-12-18 17:26] ncksllvn commented on #4070
These redirects are live @jenniferlee-dsva

[2019-12-18 17:29] Karak888 commented on #4279
@ncksllvn sounds like this can be closed as validated.  Please let me know if you need to reopen for any reason.  Thanks!

[2019-12-18 17:29] #4279 closed

[2019-12-18 17:32] Karak888 commented on #3692
@RLHecht can we get @lwalsh617 a preview to send to SMEs before going live? Thanks!

[2019-12-18 17:33] delli-gatti-michael opened #4343 "Test Case and Test Execution for CT: Remove "Not available at this campus" content from Veterans Programs Section #4227"
As a member of the BAH development team, I need to make sure that we have traceability between our stories and test case execution so that we can easily see what test cases were executed against our functional work and when those cases were executed.

Assumptions:

1. All test cases pass
2. All defects resulting from test case execution have been resolved before this story and #4227
 are closed.
3

[2019-12-18 17:33] steve-gov commented on #4082
I don't think we do this anywhere else in the stack so we don't want text data to be munged in this one instance. Text comes from SOR in all manner of formats and cases and is presented faithfully across other touchpoints. Good to keep in mind for future work as we clean up data in the SORs tho.

[2019-12-18 17:33] #4082 closed

[2019-12-18 17:51] YanaRoy opened #4344 "[Design] Work with LightHouse and Board on NOD Business Process Flow"
## User Story:
As a designer, I need to review the NOD business process flow with the board stakeholders so that I can ensure I am moving in the right direction with my designs.

## Tasks
- [x] Identify stakeholder names
- [x] Schedule call with stakeholders
- [x] Document/discuss/understand process flow

## Acceptance Criteria:
- [x] Meeting scheduled
- [x] Review/update our process document

[2019-12-18 17:51] RLHecht commented on #3692
@Karak888 @lwalsh617 I'm starting work on this today and should hopefully have the preview for you tomorrow.

[2019-12-18 17:56] tlei123 commented on #3977
Awaiting notification of PR - will move this to In Progress then.

[2019-12-18 18:05] nathanhruby commented on #3510
closing this since we're not doing it.

[2019-12-18 18:05] #3510 closed

[2019-12-18 18:05] SgardnerPMP opened #4345 "[DISCOVERY] Complete review of remaining 54 Health Services for Lebanon, PA MC for Health Services Playbook [BA]"
## User Story
As a Content Writer, I need Health Service guidelines  input in the Lebanon-PA Playbook, so I can write the content to match the guidelines and requirements of the API and page.

## Goal/Objective
- _Complete all remaining guidelines for Lebanon, PA Medical Center (only)  _

## Objectives or Key Results this is meant to further
- _Reduction in overall word and page count and reduce c

[2019-12-18 18:09] Samara-Strauss commented on #4205
Yes! Validated on staging. All buttons are working as expected now.

[2019-12-18 18:09] #4205 closed

[2019-12-18 18:09] Karak888 commented on #3077
these pages are complete and done and can be redirected.

[2019-12-18 18:12] Karak888 commented on #2170
@mnorthuis I will be making a request for these redirects to be vetted.

[2019-12-18 18:24] Karak888 commented on #4073
This still needs to be updated as it was in Drupal in June so need to review what happened. Pension Penalty to be cleared up with Angie.  @AnneHurley @lunascoop

[2019-12-18 18:26] lunascoop commented on #952
Agreed @ncksllvn. I will close the ticket after I validate the redirect per our process.

[2019-12-18 18:32] Karak888 commented on #3998
for  search.gov it pulling from meta title- manually in search.gov - search results except for top recommendations we control but the other pages are crawled by search.gov

[2019-12-18 18:37] #3998 closed

[2019-12-18 18:38] YanaRoy opened #4346 "[Usability Testing] Decision Review"
epic
@YanaRoy

[2019-12-18 18:39] Karak888 commented on #4180
waiting on some wording - waiting for ok on declare to submit.  this can be published today per @jenniferlee-dsva

[2019-12-18 18:41] YanaRoy opened #4347 "[Usability Testing] Decision Review Research Plan"
## User Story or Problem Statement
As a UX Designer, I need to create a research plan so I can document the research's purpose, goals, hypothesis, and user testing recruitment needs.

## Goal
_A completed research plan sent to Perigean for user testing recruitment_

## Objectives or Key Results this is meant to further
- User testing to validate the Decision Review process and uncover gaps, improv

[2019-12-18 18:43] Karak888 commented on #3020
as soon as approvAL Is received for that one page will need to make redirect request. @AnneHurley

[2019-12-18 18:49] Karak888 commented on #1986
this can be implemented @ncksllvn @lunascoop - but communication can go out with date but won't happen before code freeze.

[2019-12-18 18:52] wyattwalter commented on #4183
We got the internal cert updated on ALB/revproxy. Got the cert sent over to Gateway Ops and CRRC networking teams. Scheduled some time for tomorrow morning to do the install.

11:00 Eastern for internal cert update
1:00 Eastern for external cert update

[2019-12-18 18:56] Karak888 commented on #2040
@kelsonic will take a look on original ticket and follow up with comparison screenshot.

[2019-12-18 18:58] Karak888 commented on #1994
moving to close as @lwalsh617 will be working on this and this is a duplicate of #3460

[2019-12-18 18:58] #1994 closed

[2019-12-18 19:04] RLHecht commented on #3692
@lwalsh617 This page is now built with your content, though it's blocked until the react widget can be put in, which @ncksllvn will be working on. The preview link is preview-prod.vfs.va.gov/preview?nodeId=2408

[2019-12-18 19:07] andaleliz commented on #3812
@Karak888 we'll still need wireframes for these tables.

[2019-12-18 19:09] zurbergram commented on #4045
https://github.com/department-of-veterans-affairs/gibct-data-service/pull/516

[2019-12-18 19:13] Justin-Pickett commented on #4060
was validated by @lihanli prior to VA Profile team rolling back the validation api changes on their end. We will close this ticket. Will open a new ticket once the changes have been implemented by the VA Profile team if needed.

[2019-12-18 19:13] #4060 closed

[2019-12-18 19:21] RLHecht commented on #4180
Reviewed changes. Moving to validate and will then close.

[2019-12-18 19:25] jenniferlee-dsva commented on #4316
Angie confirmed the change is accurate. This can be published. @RLHecht

[2019-12-18 19:27] RLHecht commented on #4316
This page is reviewed and published. Moving to validate.

[2019-12-18 19:42] ccruzgra commented on #4216
Prototype: https://bahdigital.invisionapp.com/share/R3IACBMBWFJ
Includes two profile pages, one with the programs listed and the other with no programs displayed and the corresponding message.

[2019-12-18 19:42] ccruzgra commented on #4209
Content doc: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/education-careers/school-comparison-tool/colmery-act-2019/design/content/spp-accordion-va-programs.md

[2019-12-18 20:01] #4180 closed

[2019-12-18 20:01] #4316 closed

[2019-12-18 20:16] #3899 closed

[2019-12-18 20:26] mmiddaugh commented on #3913
[Artifacts] (https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/facilities/facility-locator/research/user-research/urgent-care/research-findings.md)

[2019-12-18 20:32] nathanhruby commented on #3512
This is done, finally

[2019-12-18 20:32] #3512 closed

[2019-12-18 20:37] nathanhruby commented on #3036
Prod shipped along with  department-of-veterans-affairs/devops#6129

[2019-12-18 20:37] #3036 closed

[2019-12-18 20:38] nathanhruby commented on #3508
This is being handled as part of department-of-veterans-affairs/va.gov-team#2821

[2019-12-18 20:46] annaswims commented on #3254
Added another PR to remove ICN from tag.

[2019-12-18 20:57] markgreenburg opened #4348 "[RFC] phased opt-in implementation options"
Looking for technical feasibility, ux feedback, general comments, and any ideas for any other options that might solve these goals better than either option listed here. cc @jbalboni @rtwell – and please anyone else you might think would want to help think through this.

Looking to close this out & make a decision by EOW (12/20).

## Goals
* Enable team to scale up / down the number of veterans ab

[2019-12-18 20:58] saneshark commented on #3602
@jbalboni how "required" is this change? Lets talk through this before the holidays and see if we can get on the same page here. It looks like relatively low level of effort though.

[2019-12-18 21:00] #4216 closed

[2019-12-18 21:04] markgreenburg commented on #2398
Seeing some behavior in UAT that might warrant some tweaking with regard to what hitting 'next' does and how many months show. But not quite sure yet and quite frankly we've only had 4 sessions. Let's keep this open for now, but moving to backlog.

[2019-12-18 21:13] amyknox commented on #4025
@tmcmurdo - pls cross-check your local files & files you posted to our old vets.gov repo to ensure all SCO files are in our new va.gov repo
https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/office-administration/vba/sco-migration
Comment here when done.  I have to do the same and will close the ticket when we're both complete.

[2019-12-18 21:14] amyknox commented on #4017
@tmcmurdo - pls cross-check your local files & files you posted to our old vets.gov repo to ensure all GIBCT files are in our new va.gov repo

https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/education-careers/school-comparison-tool/colmery-act-2019

Comment here when done.  I have to do the same and will close the ticket when we're both complete.

[2019-12-18 21:16] Samara-Strauss commented on #4003
Sent a follow up email on 12/18/19 to the EVSS folks to see if anyone could tell us who to talk to about what these codes mean.

[2019-12-18 21:19] Samara-Strauss commented on #4109
Validated on staging with one of the routing numbers they sent along. Closing!

[2019-12-18 21:19] #4109 closed

[2019-12-18 21:20] jbalboni commented on #3602
@saneshark I would say it's pretty important. The location information for confirmed appointments is pretty bad currently and this unlocks a lot of options for making it better.

[2019-12-18 21:22] Samara-Strauss commented on #2511
Hey @peggygannon — the copy has been removed from production. YAY! However, I am still seeing it on staging. Do we need to do something else to remove it there?

[2019-12-18 21:27] andaleliz opened #4349 "Yellow Ribbon Tech Discovery - explore FE solution w/ SP integration"
Since our Drupal CSV-to-Table upload solution isn't viable for this dataset, we need to explore what other options we have to satisfy the MVP. This issue includes:

- Discussing FE solutions w/ @ncksllvn  and @kelsonic (FE devs), such as leveraging what was done for Find a Form
- Learning more about SharePoint - more convos with FE devs + Brian Grubb, SharePoint manager to better understand the da

[2019-12-18 21:33] nedierecel commented on #3527
Thanks all for the updates and reference materials - @mnorthuis I am reaching a 404 for the static page. I've updated it within the Google Analytics backend, but I'll also check again when the static page is ready.

[2019-12-18 21:35] peggygannon commented on #2511
@Samara-Strauss I'm not sure why it's still on staging..  I will check in about that with the devs and make sure it's also removed from staging.  Thanks for noticing this!

[2019-12-18 21:38] Samara-Strauss commented on #2511
Great, thanks! Keep me posted on what you find out.

[2019-12-18 21:41] cvalarida commented on #3309
Just gonna abstract it for now, but this (getting the _actual_ derivative from the CMS) still needs to be done.

[2019-12-18 21:43] steve-gov commented on #4320
Already exists.

[2019-12-18 21:43] #4320 closed

[2019-12-18 22:04] SgardnerPMP opened #4350 "[CONTENT] Create Health Service (Addiction through Caregiver) Content for Lebanon, PA System [CONTENT]"
## User Story or Problem Statement
As a Veteran Web user, I need a local description of services provided at Lebanon, PA System so I can understand and best chose the services and service location for my needs.

## Goal
_Efficient and clear content describing local Health Service provided?_

## Objectives or Key Results this is meant to further
- _Reduced word count and improved plain language._

[2019-12-18 22:10] SgardnerPMP opened #4351 "[DISCOVERY] Consolidate Lebanon Health Services Playbook, MC and clinics [BA]"
## User Story or Problem Statement
As a Content Writer, I need to understand the requirements and parameters of the health service  so I can write content to be fit into Lebanon, PA Medical Center Web page.

## Goal
_Consolidated all of the Content requirements into one Playbook for the Lebanon, PA System._

## Objectives or Key Results this is meant to further
- _Reduce word count_

## Acceptance

[2019-12-18 22:13] SgardnerPMP opened #4352 "[CONTENT] Create Health Service (Dental through Emergency Care) Content for Lebanon, PA System [CONTENT]"
## User Story or Problem Statement
As a Veteran Web user, I need a local description of services provided at Lebanon, PA System so I can understand and best chose the services and service location for my needs.

## Goal
_Efficient and clear content describing local Health Service provided?_

## Objectives or Key Results this is meant to further
- _Reduced word count and improved plain language._

[2019-12-18 22:16] sjbrush commented on #2972
For the call to https://veteran.apps-staging.va.gov/var/VeteranAppointmentRequestService/v4/rest/facility-service/supported-facilities?siteCodes=983%2C984&_=1576697126602 I got:

    {
    "sitesSupportingVAR" : [ {
      "id" : "983",
      "name" : "CHYSHR-Cheyenne VA Medical Center",
      "timezone" : "US/EST",
      "objectType" : "SiteSupportingVAR",
      "link" : [ ]
      } ]
    }

[2019-12-18 22:18] SgardnerPMP opened #4353 "[CONTENT] Create Health Service (Endo through Hematology) Content for Lebanon, PA System [Content]"
## User Story or Problem Statement
As a Veteran Web user, I need a local description of services provided at Lebanon, PA System so I can understand and best chose the services and service location for my needs.

## Goal
_Efficient and clear content describing local Health Service provided?_

## Objectives or Key Results this is meant to further
- _Reduced word count and improved plain language._

[2019-12-18 22:18] kelsonic commented on #2710
Going to move this to closed. Most teams are using Redux middleware, and the chosen library for that thus far is [redux-thunk](https://github.com/reduxjs/redux-thunk). An example of this being used in `vets-website` is [here](https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/applications/find-va-forms/actions/index.js#L40).

[2019-12-18 22:18] #2710 closed

[2019-12-18 22:36] nedierecel commented on #3871
Shifting this to In Progress - Creating custom report to pull users checking claims

[2019-12-18 22:43] #2788 closed

[2019-12-18 22:43] cvalarida commented on #3288
Not sure that these are supposed to be published. Looks like they're for internal use.

Can you verify, @ElijahLynn, @swirtSJW, or @jefflbrauer?

[2019-12-18 22:43] #3288 closed

[2019-12-18 22:44] 1Copenut commented on #2788
PR https://github.com/department-of-veterans-affairs/veteran-facing-services-tools/pull/197 merged and shipped on 12/18.

[2019-12-18 22:45] 1Copenut opened #4354 "Create a keyboard and screen reader demo and slide deck for VSP/VSA accessibility learning topcs"

[2019-12-18 23:10] micahchiang commented on #4222
PR - https://github.com/department-of-veterans-affairs/vets-website/pull/11355

[2019-12-18 23:48] #4201 closed

[2019-12-19 01:19] tlei123 opened #4355 "Research Jenkins vets-website unit & e2e test-reporting"
## High Level User Story
As an Engineering Lead, I want to easily view unit & e2e test results in Jenkins.

## Goals
Expose unit & e2e test results more visually than whatever's logged in Console Output for each vets-website Build.

[2019-12-19 02:04] jefflbrauer commented on #3288
They are to be published from drupal but there are no FE templates that consume this content type atm so it’s fine. There may be a future where we do read this content and style on web, TBD

[2019-12-19 02:12] brangi commented on #3585
For sdk documentation here: https://github.com/mapbox/mapbox-sdk-js/blob/master/README.md

[2019-12-19 13:34] markgreenburg opened #4356 "'Something went wrong' for systems with nested facilities"
When veteran picked one specific system of many, he ran into a 'something went wrong' error instead of being able to select a related facility. Ideally, he should've been able to pick a facility from that system, or seen a more relevant error message like 'no facilities support online scheduling in this system'.

In this case, the issue is that he was registered in the 589 system, which has child

[2019-12-19 14:13] ricetj opened #4357 "DevOps Guidelines - launch docs for customers to DIY their own devops as much as possible"
## Description:
We want to create a way for teams to start working down the right path with their work and know they are with a DYI manual for DevOps. This will help cut down on teams going off and building something that we can't support and empower teams to feel more comfortable with their decisions.

## Pain Points being addressed:
- More comfortable building towards success.
- More comfortable

[2019-12-19 14:22] Karak888 commented on #3040
@RLHecht @AnneHurley is there a reason this is still open?  I thought this had finished but maybe I am mistaken?  Thank

[2019-12-19 14:40] alexpappasoddball commented on #3945
@annaswims not sure why this one was sitting in the backlog, that might have been my fault when I created it.  But I know you have held the training and are working on it (if not completed already).  Can update this task accordingly, add an update and move it to the correct column.  Thanks!

[2019-12-19 14:50] jonwehausen opened #4358 "[Support] Implement Tracking for Provider Profile Pages"
# Analytics Implementation or QA Request

## Goal
Educate on impact of new VET TEC Provider pages

## Description
To track KPI interactions on [GIBCT provider profile pages](https://staging.va.gov/gi-bill-comparison-tool/profile/2V000105/).

## Acceptance Criteria
- [ ] Verify tracking when user engages with the "Program Name" radio button within the Approved Programs accordion
- [ ] Verify tracki

[2019-12-19 15:01] clantosswett commented on #898
@YanaRoy I have a number of new cases where users no longer see their appeals/claim status. Do you want me to create a new and separate ticket for these issues or should we reopen here when issues like this reappear?

[2019-12-19 15:08] mnorthuis commented on #2051
@Karak888 @lunascoop Let's use your redirect request ticket #4334 to track this work. I'm going to close this one so we don't have multiple tickets to keep track of.

[2019-12-19 15:08] #2051 closed

[2019-12-19 15:20] Samara-Strauss commented on #2511
Copy has been removed from staging and production. Closing!

[2019-12-19 15:20] #2511 closed

[2019-12-19 15:21] ricetj opened #4359 "Write Postmortem Failure to Egress to Internet Incident"
Write Postmortem on the incident Network issues on 2019-12-16.
Postmortems

https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob/master/Postmortems/2019-12-16-Failure_to_Egress_to_Internet_Incident.md

[2019-12-19 15:23] mnorthuis commented on #4231
@Karak888 There are 2 additional URLs to look at for potential redirecting.   These 2 URLs display the current rates for the veteran pension and the survivors pension.   If the current rates are now on our pages, these 2 URLs should also be redirected and added to your list above.  Please review and let me know if these should be redirected as well.

www.benefits.va.gov/pension/current_rates_veter

[2019-12-19 15:23] desireeturner commented on #3536
@1Copenut @KevinMHoffmanUSDS @WillMcCormack Is there a path forward identified on this issue?

[2019-12-19 15:24] mnorthuis commented on #2049
Closing this issue as a duplicate to https://github.com/department-of-veterans-affairs/va.gov-team/issues/4231.  All redirect tasks and info will be tracked there.

[2019-12-19 15:24] #2049 closed

[2019-12-19 15:30] desireeturner commented on #3869
@1Copenut The Education team has been informed of this issue.

[2019-12-19 15:31] mnorthuis commented on #4073
I just mentioned this page along with the survivors current rates page in the redirect ticket.  See #4231 for reference.  If you want it redirected it can be added to that ticket or you can wait and handle it separately.

[2019-12-19 15:31] desireeturner commented on #3917
@1Copenut The Education team has been informed of this issue.

[2019-12-19 15:32] desireeturner commented on #3918
@1Copenut The Education team has been informed of this issue.

[2019-12-19 15:32] desireeturner commented on #3919
@1Copenut The Education team has been informed of this issue.

[2019-12-19 15:32] desireeturner commented on #3756
@1Copenut The Education team has been informed of this issue.

[2019-12-19 15:37] desireeturner commented on #3758
@1Copenut The Education team has been informed of this issue.

[2019-12-19 15:41] billfienberg commented on #3711
PR to redo the migration of the files in the `va.gov-team-sensitive` repo:
https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/pull/31

[2019-12-19 15:54] clantosswett commented on #3757
I am adding a few other issues here as well. Let us know if these issues should be broken down into smaller tickets and how we can assist with tackling them:

**Date:** 11/15/2019
**Issue Number:** 191113-000011
**Issue Type:** Appeal Status Incorrect
**Issue Description:** Veterans IRIS Inquiry concerns va.gov showing that VA granted his claim for service connection for left 5th finger sprain wit

[2019-12-19 16:00] RLHecht commented on #3040
@Karak888 These two pages are still awaiting SME feedback as far as I know. @AnneHurley have you heard anything from them?

[2019-12-19 16:04] andaleliz commented on #4149
@jenniferlee-dsva, FYI the pagination component will work with the table, so Kelson is going to move in that direction

[2019-12-19 16:18] Justin-Pickett commented on #4282
Team discussed removing the confirmation screen 12/19. Team determined we would not include the confirmation screen in the modal. Will be closing this ticket.

[2019-12-19 16:18] #4282 closed

[2019-12-19 16:21] Justin-Pickett commented on #4283
@artistgreen on 12//19 the team discussed and agreed on removing the confirmation screens to the above flow. Please let me or @Samara-Strauss know if you have any questions.  I will be removing the confirmation screens in this ticket.

[2019-12-19 16:35] Justin-Pickett opened #4360 "Change "Continue" to "Update" in all validation screens that have "Continue as an option"."
## Background:
As a team we discussed that we will be changing the  Continue" button to "Update" in all validation screens that have "Continue as an option" so the form has parity with the rest of the profile CTAs.

## Tasks
_The steps that must be done by the team to complete the acceptance criteria_
- [ ] Change the Continue" button to "Update" in all validation screens that have "Continue as an

[2019-12-19 16:48] Karak888 commented on #4231
@RLHecht can you answer @mnorthuis question above? Thanks!

[2019-12-19 16:55] kimmueller1 opened #4361 "[CONTENT] Create health services template to provide scalable content and reduce word count"

[2019-12-19 17:10] micahchiang commented on #3506
This is a link to the JSON Schema docs - https://json-schema.org/understanding-json-schema/reference/object.html#properties

Putting it here so it's easier to reference. Should come in handy, since more and more it seems we're going to be rebuilding the specific part of the 686c schema concerning location.

[2019-12-19 17:13] peggygannon commented on #3488
@narin @jbalboni are we still able to show their local facility? If so, is the message I provided above generic enough for these use cases? I didn't put a phone number in them, but please let me know if the facility name will be listed.

[2019-12-19 17:13] AnneHurley commented on #3040
@RLHecht @mnorthuis @Karak888  - Checking.

[2019-12-19 17:49] desireeturner commented on #4046
Moving to icebox in anticipation of lifting the DSVA Code Freeze on 1/6.

[2019-12-19 17:50] dneel-bah opened #4362 "GIDS: Add Partial Match Functionality to Crosswalk Issues Table"
As an EDU Team Member, I need the ability the ability to see a potential list of IPEDSHD entries that match the WEAMS facility code to reduce the manual effort involved in updating the crosswalk.

## Assumptions:
1. The fuzzy match should leverage database capabilities.

## Acceptance Criteria:
1. There is a "Find" action available in the Crosswalk Issues table.
2. When the users clicks "Find", th

[2019-12-19 17:57] jenniferlee-dsva commented on #4149
@andaleliz - what is the max number of results that would display before pagination becomes enabled?

[2019-12-19 17:58] SgardnerPMP opened #4363 "[CONTENT] Create Health Service (Homeless through Low Vision) Content for Lebanon, PA System [CONTENT]"
## Goal
_Efficient and clear content describing local Health Service provided?_

## Objectives or Key Results this is meant to further
- _Reduced word count and improved plain language._

## Resources - Tools - Documentation
[Lebanon Health Services Content Playbook](https://drive.google.com/drive/folders/1QXwgI8gy4cyRIr6rBOsbQrKVne9_vVZl)
[Lebanon Health Services:A-Z](https://www.lebanon.va.gov/s

[2019-12-19 17:59] peggygannon commented on #4310
@markgreenburg @rtwell Please let me know if the below content will work for eye care:

Choose the type of eye care appointment that you need
**• Optometry**
You can schedule an optometry appointment for a routine eye exam, eye test, or to treat conditions like glaucoma or low vision. Optometrists will also give you a prescription for eyeglasses or corrective lenses.
**• Ophthalmology**
You can sc

[2019-12-19 18:00] SgardnerPMP opened #4364 "[CONTENT] Create Health Service (Mental health through Neurology) Content for Lebanon, PA System [CONTENT]"
## Goal
_Efficient and clear content describing local Health Service provided?_

## Objectives or Key Results this is meant to further
- _Reduced word count and improved plain language._

## Resources - Tools - Documentation
[Lebanon Health Services Content Playbook](https://drive.google.com/drive/folders/1QXwgI8gy4cyRIr6rBOsbQrKVne9_vVZl)
[Lebanon Health Services:A-Z](https://www.lebanon.va.gov/s

[2019-12-19 18:04] SgardnerPMP opened #4365 "[CONTENT] Create Health Service (Nutrition-Pharmacy & Smoking) Content for Lebanon, PA System [CONTENT]"
## User Story or Problem Statement
As a Veteran Web user, I need a local description of services provided at Lebanon, PA System so I can understand and best chose the services and service location for my needs.

## Goal
_Efficient and clear content describing local Health Service provided?_

## Objectives or Key Results this is meant to further
- _Reduced word count and improved plain language._

[2019-12-19 18:08] SgardnerPMP opened #4366 "[CONTENT] Create Health Service (Physical-Psychiatry & Social) Content for Lebanon, PA System [CONTENT]"
## User Story or Problem Statement
As a Veteran Web user, I need a local description of services provided at Lebanon, PA System so I can understand and best chose the services and service location for my needs.

## Goal
_Efficient and clear content describing local Health Service provided?_

## Objectives or Key Results this is meant to further
- _Reduced word count and improved plain language._

[2019-12-19 18:14] SgardnerPMP opened #4367 "[CONTENT] Create Health Service (Psychology-Pulmanary & Social work) Content for Lebanon, PA System [CONTENT]"
## Goal
_Efficient and clear content describing local Health Service provided?_

## Objectives or Key Results this is meant to further
- _Reduced word count and improved plain language._

## Resources - Tools - Documentation
[Lebanon Health Services Content Playbook](https://drive.google.com/drive/folders/1QXwgI8gy4cyRIr6rBOsbQrKVne9_vVZl)
[Lebanon Health Services:A-Z](https://www.lebanon.va.gov/s

[2019-12-19 18:14] sonntag-adam commented on #4275
In staging, closing story.

[2019-12-19 18:15] #4337 closed

[2019-12-19 18:15] #4275 closed

[2019-12-19 18:16] RLHecht commented on #4073
@AnneHurley These pages are now published. We are still awaiting the penalty rate info so should leave this ticket open?

[2019-12-19 18:17] SgardnerPMP opened #4368 "[CONTENT] Create Health Service (Radiology-Suicide Prevent) Content for Lebanon, PA System [CONTENT]"
## Goal
_Efficient and clear content describing local Health Service provided?_

## Objectives or Key Results this is meant to further
- _Reduced word count and improved plain language._

## Resources - Tools - Documentation
[Lebanon Health Services Content Playbook](https://drive.google.com/drive/folders/1QXwgI8gy4cyRIr6rBOsbQrKVne9_vVZl)
[Lebanon Health Services:A-Z](https://www.lebanon.va.gov/s

[2019-12-19 18:17] RLHecht commented on #4231
@mnorthuis @Karak888 These two pension rates pages are now pushed live with the current info, so you can redirect those two legacy ones. fyi @AnneHurley

[2019-12-19 18:20] SgardnerPMP opened #4369 "[CONTENT] Create Health Service (Surgery-Women Vet) Content for Lebanon, PA System [CONTENT]"
## User Story or Problem Statement
As a Veteran Web user, I need a local description of services provided at Lebanon, PA System so I can understand and best chose the services and service location for my needs.

## Goal
_Efficient and clear content describing local Health Service provided?_

## Objectives or Key Results this is meant to further
- _Reduced word count and improved plain language._

[2019-12-19 18:22] lunascoop commented on #4334
@Karak888 @jenniferlee-dsva I don't think these redirects require stakeholder comm since these are not legacy URLs. Please confirm if this correct. If these don't require stakeholder comm (and a 7-day notice), these redirects can take place before the code freeze.

[2019-12-19 18:24] SgardnerPMP opened #4370 "[CONTENT] Create Health Service (Cardiology-LGBT) Content for Lebanon, PA System [CONTENT]"
## User Story or Problem Statement
As a Veteran Web user, I need a local description of services provided at Lebanon, PA System so I can understand and best chose the services and service location for my needs.

## Goal
_Efficient and clear content describing local Health Service provided?_

## Objectives or Key Results this is meant to further
- _Reduced word count and improved plain language._

[2019-12-19 18:26] SgardnerPMP opened #4371 "[CONTENT] Create Health Service (Military-Optometry) Content for Lebanon, PA System [CONTENT]"
## User Story or Problem Statement
As a Veteran Web user, I need a local description of services provided at Lebanon, PA System so I can understand and best chose the services and service location for my needs.

## Goal
_Efficient and clear content describing local Health Service provided?_

## Objectives or Key Results this is meant to further
- _Reduced word count and improved plain language._

[2019-12-19 18:29] SgardnerPMP opened #4372 "[CONTENT] Create Health Service (Palliative-Primary-Telehealth) Content for Lebanon, PA System [CONTENT]"
## User Story or Problem Statement
As a Veteran Web user, I need a local description of services provided at Lebanon, PA System so I can understand and best chose the services and service location for my needs.

## Goal
_Efficient and clear content describing local Health Service provided?_

## Objectives or Key Results this is meant to further
- _Reduced word count and improved plain language._

[2019-12-19 18:30] erikphansen opened #4373 "address selection radio button isn't visible"
my last change seems to have made the radio button invisible so you can't tell which address is selected.

[2019-12-19 18:34] AnneHurley commented on #4073
@RLHecht I just emailed Angie, so let's wait till tomorrow, in the hopes that I can chat with her today or tomorrow to clear up the penalty sentence. If I can't connect with her by then, I would say close the ticket, and I'd open a new small one with just the additions of penalty rate info, once I understand how to message it.
Sound ok?

[2019-12-19 18:49] AnneHurley commented on #4073
[Pension updates dec 2019-ah.docx]
(https://github.com/department-of-veterans-affairs/va.gov-team/files/3984956/Pension.updates.dec.2019-ah.docx)

[2019-12-19 18:49] erikphansen commented on #4245
I've validated that saving the 36310 coronado address works. But this is a ticket that @artistgreen @Justin-Pickett  or @Samara-Strauss  can confirm on staging and close.

[2019-12-19 18:49] Justin-Pickett opened #4374 "Create Tickets for each application team on the updates to the address form"
## Background:
In our ongoing effort to understand how the address form design can be impacted by other application teams, we need to create tickets to submit to the various teams backlogs for the work that has to be done on their end for Auth Exp team to fulfill the correct form updates.  Organize tickets for benefit teams in a clear way.
Create and assign tickets to Benefit and Memorials teams 1

[2019-12-19 18:52] erikphansen commented on #4328
I confirmed that this is fixed. Can @artistgreen @Justin-Pickett or @Samara-Strauss validate as well and close?

[2019-12-19 18:53] SgardnerPMP opened #4375 "[DISCOVERY] Create new "Lebanon, PA" tab and transfer information over from "Pittsburgh" in VISN 4 Content Stack xlxs [BA]"
## User Story or Problem Statement
As a Content writer and Business Analyst, I need to know the type and number of page, so I can map the web pages and create content for those paged determined by their type.

## Goal
_Complete a content spreadsheet following the same framework as the Pittsburgh, PA pilot design_

## Objectives or Key Results this is meant to further
- _Reduction in page count_
-

[2019-12-19 18:56] erikphansen commented on #4327
I confirmed that this is fixed. Can @artistgreen @Justin-Pickett or @Samara-Strauss validate as well and close?

[2019-12-19 18:57] #4250 closed

[2019-12-19 18:59] erikphansen commented on #4211
Screenshot showing that this has been fixed. The PR added a period to another piece of messaging as well.

![image.png](https://images.zenhubusercontent.com/5b4d0309a8d8be5bda39303e/097ef2e8-c760-450b-b9d6-da06acf54056)

[2019-12-19 18:59] #4211 closed

[2019-12-19 19:01] jbalboni opened #4376 "Make e2e tests more resilient by waiting for correct elements"
Our e2e tests are a little flaky because we're not always waiting for the app to move to the next page in the flow. And we're breaking the built-in retry logic because we're putting a failure in the test for the page before the actual failure.

For all of the e2e test files, each page test needs to be structured like this:

1. `waitForElementPresent` call for an element unique to that page
2. An a

[2019-12-19 19:09] #4222 closed

[2019-12-19 19:09] kelsonic commented on #4149
@jenniferlee-dsva I talked to Liz and she said that we should start with 10 results for now! 🙂

[2019-12-19 19:12] erikphansen commented on #4246
I confirmed that this is fixed. Can @artistgreen @Justin-Pickett or @Samara-Strauss validate as well and close?

[2019-12-19 19:29] erikphansen commented on #4278
FWIW I just confirmed that this is still a problem

[2019-12-19 19:29] KevinMHoffmanUSDS commented on #3536
Hello, @desireeturner and @WillMcCormack - long time no see! It's the VA's position that based on https://www.w3.org/TR/2016/NOTE-WCAG20-TECHS-20161007/F36 this is indeed a 508 failure and not a UI/UX design consideration.

Let us know if the guidance provided is sufficient for revisions, or you'd like to discuss further. Cheers!

cc @mattpointzxer0

[2019-12-19 19:38] ncksllvn commented on #952
My PR implementing the redirect is merged and should be on the site in less than an hour

[2019-12-19 19:40] Justin-Pickett commented on #4245
@erikphansen i validated this on staging. It did accept the address... but it didn't highlight the "radio" button when I selected the address. But it let me continue to save the suggested address. Will close this ticket. ![Screen Shot 2019-12-19 at 1.38.49 PM.png](https://images.zenhubusercontent.com/5d49a29bd20fa472c4995d30/b4245aa5-2e87-4de5-9c1c-d432d2382887)

[2019-12-19 19:40] #4245 closed

[2019-12-19 19:42] jenniferlee-dsva commented on #3606
@Karak888 just providing more info: there will be 2 things for forms mvp and analytics.

1/ one is as described above for the search page: REACT component AND the links in the body content.

2/ second is analytics for the form 'master detail' landing pages. this 2nd part isn't ready yet, bc lw is still working on finishing the content and we haven't started building these pages yet in drupal.

Jus

[2019-12-19 19:42] Justin-Pickett commented on #4328
@erikphansen I just confirmed that this is saving the suggested address correctly. This is validated. I will close this ticket.

[2019-12-19 19:42] #4328 closed

[2019-12-19 19:44] peggygannon commented on #3692
@lwalsh617 Here are my content review edits for the "About VA disability ratings" page
Please let me know if you have any questions!

[https://app.zenhub.com/files/133843125/eb415aa2-5185-446b-9bf7-88619e032ec3/download](https://app.zenhub.com/files/133843125/eb415aa2-5185-446b-9bf7-88619e032ec3/download)

cc @RLHecht

[2019-12-19 19:46] Justin-Pickett commented on #4327
@erikphansen I confirmed this working on staging. It is validated. Closing this ticket.

[2019-12-19 19:46] #4327 closed

[2019-12-19 19:52] Justin-Pickett commented on #4246
@erikphansen I confirmed that this is working on staging. Validated. Closing this ticket.

[2019-12-19 19:52] #4246 closed

[2019-12-19 20:03] lunascoop commented on #1986
@ncksllvn @jenniferlee-dsva @Karak888 Stakeholder comm sent out. **01/06/20** is the expected redirect date.

[2019-12-19 20:15] jason-gcio commented on #2584
@mnorthuis I have https://www.ebenefits.va.gov/ebenefits/disabilities but will verify.

[2019-12-19 20:15] ncksllvn opened #4377 "Create a production API key for Lighthouse and store into Credstash"
## User Story or Problem Statement
As an engineer, I need to request, create, and store a production-ready API Key for the VA Lighthouse APIs. This API key should be associated with our work on www.va.gov.

## Goal
The Forms API is functionality in production - `https://api.va.gov/v0/forms`.

## Acceptance Criteria
- [ ] The production API key for VA Lighthouse is stored securely in Credstash
- [

[2019-12-19 20:20] Samara-Strauss commented on #4246
Double confirmed! Great work!

[2019-12-19 20:29] Samara-Strauss commented on #4211
Looks great! Thanks!

[2019-12-19 20:31] RLHecht commented on #1435
@jenniferlee-dsva I just discovered that the PR for this was never merged with a lot of the edits to the word list. Here's the PR: https://github.com/department-of-veterans-affairs/vets-design-system-documentation/pull/144

These were all words that we discussed from the vets.gov list and whether they should be incorporated into the style guide. This is separate from the appeals list we were worki

[2019-12-19 20:44] ncksllvn opened #4378 "Replace the "Description" and "Available Online" columns with "First Issued On" and "Last Revision On" columns"
## User Story:
As a veteran, I need the search results of the Find VA Forms widget (visible at `https://dev.va.gov/find-va-forms-beta/`) to include "First Issued On" and "Last Revision On" columns so that I can see that information about each form.

_Note: The reason for swapping out these columns is that the forms database does not currently support the  "Related to" and "Available Online" column

[2019-12-19 20:50] lunascoop commented on #952
@ncksllvn @mnorthuis @Karak888 @jenniferlee-dsva I've validated that this redirect is live. I will close this ticket and send notification to stakeholders.

[2019-12-19 20:50] #952 closed

[2019-12-19 20:51] ncksllvn commented on #952
Woohoo! I actually merged this right at 1:59 PM ET. Was a close one 😅

[2019-12-19 20:56] jenniferlee-dsva opened #4379 "LOE for: Drupal template for the basic forms landing page"
**User story:**
As a veteran who does a Google or other organic search for form X, I want to be able to find the form and also know if there's an online alternative that's easier than filling out and mailing a paper form.

**Background:**
We have 2 kinds of 'master detail' form landing pages - custom and 'template.' We are creating custom landing pages for our top forms that map to our online tool

[2019-12-19 21:01] alexpappasoddball commented on #3644
Sent an email to that email address to see if we can't get the old vets.gov-website one removed in favor of the va.gov one.  Once I hear back I'll see if we can't get the gi bill one updated as well

[2019-12-19 21:02] jenniferlee-dsva commented on #952
Living on the edge @ncksllvn

[2019-12-19 21:04] alexpappasoddball commented on #3644
@annaswims Do you know what the correct url for the GI Bill Comparison tool should be?

[2019-12-19 21:05] jenniferlee-dsva commented on #1435
@RLHecht - this was the PR that kevin h. accidentally merged when it was still being worked on. is it okay to merge as is?  i.e., are we sure it won't overwrite the more recent changes we merged?

[2019-12-19 21:08] AnneHurley commented on #3020
@RLHecht  and @Karak888  FYI I pinged the SMEs again today on this.

[2019-12-19 21:11] dneel-bah opened #4380 "GIDS: Use Scorecard API to replace flat-file upload."
As an EDU team member, I would like GIDS to pull scorecard data via API so I no longer have to upload a CSV into GIDS.

## Assumptions:
1. The current upload functionality will not be removed until after this feature has passed UAT.
2. The developer will need to request an API key from Supporting Artifact # 1; it will be replaced if possible with an enterprise key which is in the process of being

[2019-12-19 21:21] Karak888 commented on #952
Well done!!!

[2019-12-19 21:27] alexpappasoddball commented on #3644
Got a response from Terri Gainsburg (Program Analyst).

"Thanks for letting us know about this.  I will look into it when our office creates the agency's next JSON file (currently done quarterly, last done in November) which is the source of the information on code.gov.  I may reach back out to you if we have questions".

I'll continue to work with Terri to get these updated for the next update.

[2019-12-19 21:27] mmiddaugh commented on #4321
@LouCarlozo63 can you or someone on your team review the following and suggest appropriate wording?
**Context: **The Veteran will need to download/print a three page document to take to the urgent care provider and/or pharmacy. This screenshot is part of the prototype workflow for searching for urgent care facilities:
![image](https://user-images.githubusercontent.com/55411834/71211100-46041200-22

[2019-12-19 21:34] jenstrickland commented on #3418
@jason-gcio Are you looking for an accessibility audit? If so, please use one of the issue templates linked here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/accessibility/review-process.md#development-review

If something else, please let me know. Thanks!

[2019-12-19 21:36] jenstrickland commented on #3577
@jason-gcio Are the items from this spot check addressed, anticipating the Pre-launch 508 Review?

[2019-12-19 23:01] kelsonic commented on #4149
I originally estimated this as a 5 but I think it turned out to be more of a 3. Updating...

[2019-12-20 00:10] mmiddaugh commented on #4241
I am closing this issue as the changes are captured in the redesign list/map component for MVP [#4323] [3#4324].

[2019-12-20 00:10] #4241 closed

[2019-12-20 00:42] steve-gov commented on #4318
SR-002754 created and sent to triage.

[2019-12-20 02:29] brangi commented on #2275
@1Copenut
<img width="881" alt="Screen Shot 2019-12-19 at 8 27 33 PM" src="https://user-images.githubusercontent.com/100468/71225374-11617c00-229e-11ea-8a10-6ef442e47d1c.png">

Is this the one ^ ? because it looks like it's there

[2019-12-20 02:47] narin commented on #4084
@peggygannon: Could you please assist with copy?  Probably something along the lines of, "Are you sure you want to leave this page? You will lose your changes."

@rtwell: I'm assuming we want to use the alert type modal we have been using, similar to the cancel modal

@lalexanderson-dsva: @markgreenburg mentioned you might have some thoughts on when/what triggers a form data reset and that we migh

[2019-12-20 04:24] kfrz opened #4381 "Factories should be linted with FactoryBot internal linting tools"
## Background

We have a lot of factories and they are haphazardly tested if at all. Now that we've got FactoryBot 5.x, we can use the built-in linting option.

## Acceptance Criteria

- [ ]  Existing factories are appropriately linted
- [ ] New factories are linted automatically
- [ ] CI runs the linting process

[2019-12-20 04:29] kfrz opened #4382 "Audit FactoryBot factories and traits with factory_trace gem and remove unused instances"
## Background

Running [`factory_trace`](https://github.com/djezzzl/factory_trace) gem on our test suite reveals ~20 unused factories and traits. We can install this gem to make sure our factories are all used somewhere.

## Acceptance Criteria

- [ ]  All unused factories are removed

[2019-12-20 12:52] RLHecht commented on #4180
Validated on live site.

[2019-12-20 12:52] RLHecht commented on #4316
Validated on live site.

[2019-12-20 13:40] ccruzgra commented on #4208
@peggygannon Do you have any feedback on the proposed copy? We are leaning towards the first option, "4 Student complaints in the last 24 months (Source)" as it is more succinct. Thank you.

[2019-12-20 14:07] jbalboni commented on #4356
There are two potential fixes for this and they affect which facilities show up in which of the two questions on the facility page. One option is to show all the systems or facilities with child facilities in the first question. The other option is to show just root facilities in the first question and everything else in the second question. The legacy app is basically doing the former with the ci

[2019-12-20 14:07] amyknox commented on #4208
@peggygannon - we learned yesterday that **"Student complaints in the last 24 months"** is the more accurate phrasing since there are many more complaints received in that timeframe. If you could provide feedback on that content only, that would be helpful.

Thank you!

[2019-12-20 14:10] jbalboni commented on #4356
To do the above we need to:

1. Update the backend so that `parent_code` is not a required parameter for the `direct_scheduling_facilities` endpoint in `systems`.
2. Update the front end to filter out non-root systems in the data that comes back from `/facilities` and not send `parent_code` to `direct_scheduling_facilities`.

[2019-12-20 14:19] jbalboni commented on #4084
@narin @peggygannon We don't really have any control over the message that displays when you use the `onbeforeunload` hook. Most (if not all) browsers will show their own message in the popup and ignore whatever we try to pass.

[2019-12-20 14:20] amyknox commented on #4018
- [ ] Theresa individual effort
- [ ] Amy individual effort

[2019-12-20 14:22] amyknox commented on #4025
- [ ] Amy final effort
- [ ] Theresa final effort
- [ ] Cindy final effort

[2019-12-20 14:22] amyknox commented on #4017
- [ ]  Amy final effort
- [ ] Theresa final effort
- [ ]  Cindy final effort

[2019-12-20 14:25] dneel-bah opened #4383 "CT: Update School Locations Section to page when there are more than 10 locations"
As a CT user, I need the school locations section to include paging so that the amount of scrolling is reduced to get to the next section.

## Assumptions:
1. This work is completed behind a flag so that it is only available in the staging environment and below.

## Acceptance Criteria:
1. On mobile, the initial display is the first 5 locations.
2. On non-mobile, the initial display is the first 1

[2019-12-20 14:37] 1Copenut commented on #2275
@brangi Good morning. I spot-checked this on Staging quickly to see if the focus state was being picked up, but didn't see the yellow halo when I navigated using the `TAB` key. I verified the current element under focus in the screenshot below. Let's keep this issue open and treat as unresolved.

---
![Screen Shot 2019-12-20 at 8 32 08 AM](https://user-images.githubusercontent.com/934879/71261783-

[2019-12-20 14:44] mnorthuis commented on #4334
They are all legacy content pages.

[2019-12-20 14:49] nedierecel commented on #3871
@jonwehausen For your awareness (in case you ever need to run yourself), I created a custom report in [Disability & Claims>Custom Reports to pull users by Custom Dimension 8 (Track Claims)](https://analytics.google.com/analytics/web/?authuser=0#/my-reports/DbqwabtzQ269gLzdNb0R4A/a50123418w177519031p184341898/)

For the last 30 days, there are 400,372 users tracking claims.

[2019-12-20 15:00] nedierecel commented on #2919
Reached out to Nick on 12/19 for new times

[2019-12-20 15:12] thatmattjohnson commented on #3711
approved 31; UAT uncovered bad links in deprecation messaging for these files, corrected manually. All else looks good. Closing this issue.

[2019-12-20 15:12] #3711 closed

[2019-12-20 15:30] Samara-Strauss commented on #4213
Hey @bradl3yC I wasn't able to validate this on staging. The spinning animation is not showing for me between the Edit modal and address validations screen. Does it only trigger after a certain amount of time?

[2019-12-20 15:48] bradl3yC opened #4385 "Address Validation - Console Errors"
Address errors in console related to address validation:
-[ ] - Maximum Call Stack Exceeded
-[ ] - Default checked readonly

Definition of Done:
Opening Address Validation will not result in any errors in the console.

[2019-12-20 15:56] thatmattjohnson commented on #2650
all PRs reviewed/approved.  UAT revealed some broken deprecation links; resolved manually.  All else looks good; closing this issue.

[2019-12-20 15:56] #2650 closed

[2019-12-20 16:05] #3719 closed

[2019-12-20 16:14] Justin-Pickett opened #4386 "[FE] Implement APO/DPO/FPO form update and copy changes"
## Background

Once a Veteran has clicked the checkbox on the 'Edit mailing address' form which will force United States to selected. On the 'Edit mailing address' form, User checks 'I live on a United States military base' and the Country field is forced to 'United States'.

# Tasks

### Designer

- [x] Need to show the scenario where the user would click to edit their mailing address  and click

[2019-12-20 16:15] Justin-Pickett commented on #4386
@artistgreen please upload the UX Screenshots and approved copy for the changes to be implemented.

[2019-12-20 16:24] tlei123 commented on #4260
Closing; this was my Pipefy’s GH-integration test.

[2019-12-20 16:24] #4260 closed

[2019-12-20 16:33] jenniferlee-dsva commented on #4339
@lunascoop - A couple of additions to the Related to field values that I forgot to include in the spread sheet attached in the original ticket story ^.

Please also be sure to include
- Family member benefits
- Service member benefits

Related to multi-select values are alpha ordered (except for the non-benefit related options).

[2019-12-20 16:38] jholton opened #4387 "Fix GIDS SSOe"
In October the SSOe team started updated for their lower environments.
I was mentioned as a GIDS repo contact.

Upon initial investigation, I realized that SSOe on GIDS was broken in every environment.
SSOe was hitting our callback URL as a GET request.  GIDS expected a POST request with the SAML payload.
A GET request to our callback URL is not defined in the app's routes and resulted in a 404 er

[2019-12-20 16:40] kfrz opened #4388 "Update code to remove dependency on deprecated StatsD.backend method"
## Background

[This PR](https://github.com/department-of-veterans-affairs/vets-api/pull/3654) bumps statsd-instrument from 2.1.2 to 2.6.0.

2.7.0 deprecates `StatsD.backend` and our codebase will need to be updated in order to upgrade the dependency.

From @annaswims  comment thread:

---

## Acceptance Criteria
- [ ] statsd-instrument gem is at version 2.7.0

[2019-12-20 16:50] kfrz commented on #1146
Closing this because you rockstars @LindseySaari and @annaswims have pushed this over the goal line! :party:

[2019-12-20 16:50] #1146 closed

[2019-12-20 16:51] #2403 closed

[2019-12-20 16:51] jholton opened #4389 "Assist VFS engineer with failing spec"
Assisted Ben Shyong with getting a spec to pass using an existing VCR cassette.

[2019-12-20 16:51] #4389 closed

[2019-12-20 16:51] #4252 closed

[2019-12-20 17:13] annaswims commented on #3644
the Gi bill comparison tool is part of va.go (vets-website) https://www.va.gov/gi-bill-comparison-tool/ . https://github.com/department-of-veterans-affairs/gibct-data-service  is the repo for the data service.  The data service is for administrators to edit data and  what vets-api calls to get data, but veterans don't interact with it directly.

[2019-12-20 17:16] annaswims commented on #3945
we've had a training on 12/13  and updated the documentation in https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/tree/master/OnCall

[2019-12-20 17:16] #3945 closed

[2019-12-20 17:32] Samara-Strauss commented on #4213
Moving our Slack convo here. I still can't get this to work on staging :-/

[2019-12-20 17:33] #4332 closed

[2019-12-20 17:36] Samara-Strauss commented on #4086
Just added @tressaellen to this ticket!

[2019-12-20 17:46] RLHecht commented on #1435
@jenniferlee-dsva I went through the PR again and updated some entries and made a few more corrections. This can obviously wait till the new year but just commenting so I don't lose track of it.

[2019-12-20 18:02] RLHecht opened #4390 "Update PMC addresses to reflect new centralized mail address"
## User Story or Problem Statement
As a Veteran, I need to know the address of my state's pension management center (PMC) so I can submit my pension application.

## Goal

Previously, there were three separate PMC addresses but now there is one centralized location for all mail. On the [Find your VA pension management center](https://www.va.gov/pension/pension-management-centers/) page, change all

[2019-12-20 18:03] RLHecht commented on #4390
@jenniferlee-dsva I created this ticket for visibility. I did not add whether we need to make changes to the Apply for VA Pension page. Once I hear back from Angie, if we do need to make those changes too I'll add that to this ticket.

[2019-12-20 18:09] Kimberley2019 commented on #4132
This ticket is being closed/deleted.

Please refer to ticket below for updates:

https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/2935

[2019-12-20 18:10] #4132 closed

[2019-12-20 18:10] #4361 closed

[2019-12-20 18:11] Kimberley2019 commented on #2935
Ticket below has been closed/deleted due to similarity with this ticket.

https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/4132

[2019-12-20 18:14] delli-gatti-michael commented on #4045
Local testing complete

[2019-12-20 18:22] Kimberley2019 commented on #2935
On 12/20/2019, I reached out to Andrea Hewitt for an org chart in order to have a list of individuals to reach out to in order to complete this task.

She stated that she could pose this question to the PM team on VSP and get their feedback and get back to me.  The preferred method is to have the meetings first since to my knowledge, we have not connected with the appropriate teams for the introdu

[2019-12-20 18:25] peggygannon commented on #4208
@amyknox @ccruzgra Hello, This phrasing is fine **Student complaints in the last 24 months** I have no further edits. Tx!

[2019-12-20 18:28] rroueche commented on #4202
@ricetj could you adjust the title so it's clear to readers w/o context what this is for? Maybe something like "Platform infrastructure maintenance'?

[2019-12-20 18:30] kfrz opened #4391 "Implement YAML configuration for Dependabot"
## Background
Now that the `vets-api` repo is using Dependabot, we should migrate our configuration to a more specific rules file.
 See [docs](https://dependabot.com/docs/config-file/).

## Acceptance Criteria

- [x] Dependabot uses .yml config
- [x] Configuration is not colliding with CMS or other teams

[2019-12-20 18:31] lunascoop commented on #4334
@ncksllvn @jenniferlee-dsva @Karak888 stakeholder comm has been sent with **01/07/20** as the live date.

[2019-12-20 18:31] Kimberley2019 commented on #4083
On 12/18/2019, after reaching out to Barbie Flowers, Amy Rosenthal, and John Carroll-Gavula, I was told that a Service Now ticket would in fact need to be created.

Barbie stated that in the meantime, John Carroll-Gavula will work with me to get the details.

The VA Enterprise ticket number is:

[2019-12-20 18:32] sonntag-adam commented on #4063
Testing passes QA

[2019-12-20 18:37] lwalsh617 commented on #3460
@jenniferlee-dsva I am making changes in GitHub, but thought it would be helpful to shoot you the attached Word doc. I used track changes so you can quickly see what I'm changing.
[hlr-static-content-page_lw_updates.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/3989708/hlr-static-content-page_lw_updates.docx)

[2019-12-20 18:43] alexpappasoddball opened #4392 "Launch MVP of VA.gov Product Level SLO data"
## Product Outline

## Problem

The platform does not currently have any means to monitor and enforce request timing internally at the vets-api layer, or in regards to down stream services.  We do not have set objectives for the time limits for these requests, and we do not have a way to measure if we are hitting these targets.

## Hypothesis or Bet

If we create SLO's for the vets-api layer and t

[2019-12-20 18:49] lwalsh617 commented on #3460
@jenniferlee-dsva -- I made the changes in GH with help from @RLHecht.
@RLHecht -- Questions for you:
How do you force a line break in Markdown? For example, I noticed that there was no line break between "4-5 months" and "VA's goal...," so keep trying to add one by putting in p'graph return to no avail.
Also, I risked cutting an pasting all the addresses. Goal is to get that addresses accordion o

[2019-12-20 18:53] rtwell commented on #4321
@mmiddaugh @davidconlon if you could toss the PDF in here for reference that would be great

[2019-12-20 19:02] Samara-Strauss opened #4393 "[Design] Profile 2.0: Onboarding for Tressa"
## Background

Tressa — let's use this ticket to track your onboarding to the Profile 2.0 project. We'll consider this done when you're ready to start working on the project.

## Tasks

- [x] Initial meeting with Samara to go over the Profile 2.0 project
- [x] Sign into staging and get super familiar with the profile and account pages/functionality
- [x] Read through [personalization 2.0 discovery

[2019-12-20 19:03] Samara-Strauss commented on #4393
Cc/ @Justin-Pickett just want you to know I created this for Tressa. Given how much time off I'm taking/Tressa is taking, we don't need to track this as part of Sprint 11. If this is done before Jan 2, great. If not, it will become part of Sprint 12 objectives.

[2019-12-20 19:08] kathleencrawford commented on #4257
Moving this back to validate.  The work is done, but the PR still needs to be merged, and zenhub deletes it from the PR when the issue gets closed.

[2019-12-20 19:10] benniemosher commented on #4183
This has been completed and confirmed with IT.

[2019-12-20 19:13] desireeturner opened #4394 "STEM: Review artifacts"
- [x] Wizard flow
- [x] Process flow for 1995 Application
- [x] Content Docs
- [x] Document notes, Q’s for stakeholders on GH page

- [x] TM
- [x] CC
- [x] AK

[2019-12-20 19:14] #4022 closed

[2019-12-20 19:14] jenniferlee-dsva commented on #3460
Hi @lwalsh617 - Uploading your copy doc with a few minor notes (promise - minor). Should have looked at the gh instance instead?
[hlr-static-content-page_lw_updates-jl.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/3989865/hlr-static-content-page_lw_updates-jl.docx)

[2019-12-20 19:15] sonntag-adam commented on #4044
Testing passes QA

[2019-12-20 19:16] #4208 closed

[2019-12-20 19:17] desireeturner opened #4395 "STEM: Review stats from EDU"
- [x] Remind Luke to send these
- [x] Reasons for rejections
- [x] Counts of applications / rejections
- [ ] Document notes, Q’s for stakeholders
- [x] Share additional questions for EDU Buffalo team w EDU (Jan 2)
- [ ] Any commonalities in the individuals being rejected

- [x] TM
- [x] CC
- [x] AK

[2019-12-20 19:19] desireeturner opened #4396 "STEM: Review analytics"
- Traffic from Wizard & direct to form
- Form funnel – review for STEM form behaviors (completions & abandonment)
- Collect insights and include Discovery Checkpoint
- [x] TM
- [x] CC
- [ ] AK

[2019-12-20 19:21] Justin-Pickett commented on #4393
@Samara-Strauss okay sounds good.

[2019-12-20 19:23] ccruzgra commented on #4214
Prototype: https://bahdigital.invisionapp.com/share/R3IACBMBWFJ#/screens/296026781

[2019-12-20 19:23] #4214 closed

[2019-12-20 19:23] desireeturner opened #4397 "STEM: Research Plan"
- [x] Draft research plan for STEM scholarship interviews
- [x] Review with UX team
   - [x] CC
   - [x] TM
- [x] Share with recruting firm NLT Dec 30, 3:30pm

[2019-12-20 19:23] ccruzgra commented on #4208
Content doc: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/education-careers/school-comparison-tool/colmery-act-2019/design/content/profile-accordion-cautionary-information.md

[2019-12-20 19:24] desireeturner opened #4398 "STEM: Discussion Guide"

[2019-12-20 19:28] peterhill-oddball commented on #3985
Slideshow is done.
Survey template is here -- https://adhoc.optimalworkshop.com/questions/qa-onboarding

[2019-12-20 19:28] #3985 closed

[2019-12-20 19:28] desireeturner opened #4399 "STEM: Recruiting"
- Reach out to recruiting team for awareness & scheduling
    - 12/23: will require thought into the profile of users to engage for people who are not currently eligible for STEM Scholarship
- STEM Scholars with >6 months of benefits
- People who are changing schools

[2019-12-20 19:30] desireeturner opened #4400 "Caution Flags: Collect artifacts"
- [x] DEPO patterns
- [x] Review slack, github
- [x] Document any addition notes, q’s for stakeholders in GH

[2019-12-20 19:46] desireeturner opened #4401 "Caution Flag: Flag / Caution pattern debrief"
- Identify who worked on caution flag & their availability
- Mtg to clarify intended implementation & gather resources

[2019-12-20 19:48] desireeturner opened #4402 "Caution Flag: Review analytics"
- Research traffic on schools with flags
- Lookup via institution code
- Dev support = schools w caution flag

- [x] TM
- [ ] CC
- [ ] AK

[2019-12-20 19:59] ndsprinkle commented on #2708
PR: https://github.com/department-of-veterans-affairs/vets-website/pull/11362

[2019-12-20 20:08] rroueche commented on #3729
We pivoted and Patrick did his own preso due to the nature of the meeting and the audience. Copying the edit details into https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/3243

[2019-12-20 20:08] #3729 closed

[2019-12-20 20:26] rroueche commented on #3243
Audience: is this to pitch to ppl who don't know about the platform and say "here's what we do"? or for onboarding ppl to be explicit and detailed about how to work with us?

Not recruiting.

Use case: a team is about to start on the Platform and we need to set expectations w/the Stakeholders at VA.
- Instill confidence that we don't do 508 the way you do it, so it'll feel different, but this way

[2019-12-20 20:34] rroueche commented on #3243
What outcomes do ppl equate Agile with? OIT there might be a spectrum, FROM: Agile is required and I need to tell someone I've done it, TO: I want to be more efficient/effective at solving a business problem.

Outside of OIT people may not be getting those directives (Agile, DevOps, HCD, etc)...

Some more interested in abdicating involvement, more interested in who do I assign to make sure a thin

[2019-12-20 20:35] ricetj commented on #4202
Updated 👍

[2019-12-20 20:41] rroueche commented on #3243
For the "explicit things we won't do": consider talking through a widely known within VA successful thing, and the things VSP does that made it successful.

Lense:
1. What is the touchpoint they know (what does the user see): I can go to va.gov and submit a claim and this is what it looks like.
2. What is the platform doing underneath that
3. Why that's good.

Add screenshot of a spinning thing on

[2019-12-20 20:46] lwalsh617 commented on #3460
Hi @jenniferlee-dsva - I made your edits. Here's the Heroku link:  https://vagov-content-pr-610.herokuapp.com/decision-reviews/higher-level-review/

[2019-12-20 20:47] Samara-Strauss commented on #4374
@Justin-Pickett @artistgreen hello! Thanks for putting together [this spreadsheet](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/change-address/apo-fpo-dpo/benefits-applciations-list.md). I've reviewed it and wanted to get back to you on how I think you should organize tickets for the other teams who would be implementing the applicatio

[2019-12-20 20:49] nedierecel commented on #406
Progress:

- Based on our research, we are recommending Domo as the visualization tool.
- Presented findings to VSP Leadership
- We will spin off a new issue to iterate on the Proof of Concept using Domo, which will expand on ability to customize visuals and follow-up on pricing for embedding to internal sites

[2019-12-20 21:45] #2708 closed

[2019-12-20 22:00] rebeccawalsh commented on #3464
We might need a little more information on this task, we weren't entirely sure what the result was intended to be since it's prior to ideation and design work being done. There's a good amount of conjecture in this document, but we've uploaded it to GH here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/medical-device-tool/research/content-inventory.md

[2019-12-20 22:07] rebeccawalsh commented on #4297
Here are the transcripts and takeaways from the two DLC customer service interviews we had this week:

- [Interview 1 - 12/18](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/medical-device-tool/meetings/20191218-DALC-customer-service-representative.md)
- [Interview 2 - 12/19](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/medi

[2019-12-20 22:38] nathanhruby opened #4403 "Update onboarding doc with oncall info"
Take this lovely list:
https://dsva.slack.com/archives/CJYRZK2HH/p1576872274053600

And add it to:
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsp/teams/operations/onboarding.md

As a checklist to ensure people have The Right Stuff :tm: for oncall (and easy to review for when your shift starts)

[2019-12-20 22:38] ncksllvn commented on #4334
PR is open

[2019-12-21 00:50] jason-gcio commented on #3632
Addressed in this ticket: https://github.com/department-of-veterans-affairs/va.gov-team/issues/4013

[2019-12-21 00:50] #3632 closed

[2019-12-21 00:51] jason-gcio commented on #4013
By decrease, I meant increase in number but get smaller in size.  Sorry for that confusion!

[2019-12-21 00:51] jason-gcio commented on #3633
Addressed in this ticket: https://github.com/department-of-veterans-affairs/va.gov-team/issues/4013

[2019-12-21 00:51] #3633 closed

[2019-12-21 00:57] jason-gcio commented on #3673
While this has not been resolved it has been moved to the correct team to address it further.
https://github.com/department-of-veterans-affairs/va.gov-team/issues/3673

[2019-12-21 00:58] jason-gcio commented on #3682
This was addressed in this ticket: https://github.com/department-of-veterans-affairs/va.gov-team/issues/4021

[2019-12-21 00:58] #3682 closed

[2019-12-21 00:59] jason-gcio commented on #3683
This was addressed in this ticket: https://github.com/department-of-veterans-affairs/va.gov-team/issues/4013

[2019-12-21 00:59] #3683 closed

[2019-12-21 01:00] jason-gcio commented on #3843
While this has not been resolved it has been moved to the correct team to address it further.
#3673

[2019-12-21 01:47] Mottie commented on #3460
You can add HTML:

* Add one or more `<br/>` to force the line break,
* or wrap the content inside of a set of paragraph tags (`<p>...</p>`)

[2019-12-21 12:54] #4183 closed

[2019-12-21 14:39] jenstrickland commented on #3673
VA gov performance team is evaluating web performance and the possible impact on this page.

[2019-12-21 14:40] jenstrickland commented on #3843
VA gov performance team is evaluating web performance impact on this functionality.

[2019-12-21 14:41] jenstrickland commented on #3577
@jason-gcio and team addressed all issue noted above, apart from two regarding web performance that the VA gov web performance team is evaluating website performance impact on the functionality.

[2019-12-21 20:33] #4017 closed

[2019-12-21 21:13] #4018 closed

[2019-12-21 21:16] #4025 closed

[2019-12-23 10:42] #2402 closed

[2019-12-23 12:02] artistgreen commented on #4386
UX for Veterans with APO/FPO/DPO addresses:

- display a checkbox option with label "I live on a United States military base outside of the United States'
- display a helper text drop-down
- disable 'Country' field and display United States within the field
- Change 'City' field label to read 'APO/FPO/DPO' and change input text box to a drop down with the options: APO, FPO and DPO
- Reduce 'State'

[2019-12-23 12:48] artistgreen commented on #4386
### Veteran edits their mailing address on their profile UX

**Checkbox label:  "I live on a United States military base outside of the United States"

Helper text label:  Learn more about military base addresses**

![DPO edit address 1](https://user-images.githubusercontent.com/53535009/71358918-a42d3f80-2558-11ea-8c52-5d82c6a2d32e.png)

[2019-12-23 12:54] jenstrickland opened #4404 "508 Potential Performance Impact, noted during accessibility audits [PERFORMANCE, SCREENREADER]"
## Description

While conducting accessibility audits, I was unable to access the "Skip to Content" links. A quick performance audit indicated a Time To Interactive (TTI) of 12–20 seconds, which may be the issue.

## Point of Contact

Jennifer

## Acceptance Criteria

As a screenreader user, I want to skip the header area for various pages of a website so that I don't have to review all of that ju

[2019-12-23 12:56] jenstrickland commented on #3577
Moved two potentially performance related issues to https://github.com/department-of-veterans-affairs/va.gov-team/issues/4404

[2019-12-23 12:56] #3577 closed

[2019-12-23 12:57] ksantiagomorgan6 commented on #4277
Pull Request

https://github.com/department-of-veterans-affairs/vets-website/pull/11370

[2019-12-23 13:09] artistgreen commented on #4386
### Veteran edits their mailing address on benefit application forms

If the Veteran has signed in to VA.gov they will see their benefit forms pre-filled with information from their profile.

Checkbox label: I live on a United States military base outside of the United States
Helper text label: Learn more about military base addresses

![Form 10-10EZ - domestic military base address 1](https://use

[2019-12-23 13:21] jenniferlee-dsva commented on #3703
@Karak888  @andaleliz  should this be made into an epic, so we can better associate/track all the related work Liz, Nick and Kelson have done/are doing around this effort? (We should be in touch with the BAH effort, but this doesn't fall under there, and I want to be able to see our team's work easily.)

[2019-12-23 13:30] artistgreen commented on #4386
### User confirms address information on benefit forms

At the end of the workflow on benefit forms, an accordion Ui will display to allow Veterans to review/edit their information

![image](https://user-images.githubusercontent.com/53535009/71360461-fa50b180-255d-11ea-9a04-0d48f5171473.png)

----------

When the user opens the Veteran Info section they will see this:

![image](https://user-images

[2019-12-23 13:35] andaleliz commented on #3703
That makes sense to me, @jenniferlee-dsva. I was also thinking it should be
updated to reflect the comparison functionality we discussed and remove
Drupal from the acceptance criteria.

On Mon, Dec 23, 2019 at 08:21 jenniferlee-dsva <notifications@github.com>
wrote:

--
Liz Lantz
UX Designer, Ad Hoc
843-898-4463
http://adhoc.team

[2019-12-23 13:59] delli-gatti-michael commented on #4277
![Screen Shot 2019-12-23 at 8.17.33 AM.png](https://images.zenhubusercontent.com/5c07f000391a6f6357adc430/a2107807-bb85-44df-a1a3-dcaa8cf7700c)

Local testing complete

[2019-12-23 14:02] delli-gatti-michael opened #4405 "Test Case and Test Execution for CT: Add Language to "Cautionary information" section indicating 24 month window. #4277"
As a member of the BAH development team, I need to make sure that we have traceability between our stories and test case execution so that we can easily see what test cases were executed against our functional work and when those cases were executed.

Assumptions:

1. All test cases pass
2. All defects resulting from test case execution have been resolved before this story and #4277
 are closed.
3

[2019-12-23 14:40] ccruzgra opened #4406 "Caution Flag: Draft Prototype"
- [x] Acquire patterns
- [x] Build mockups
- [x] Document in github

[2019-12-23 15:02] billfienberg commented on #2889
There are two files competing to be `https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/platform/design/design-resources/background-from-va-partners/ve-products/surveys/contact-center-employee/readme.md`:
* https://github.com/department-of-veterans-affairs/vets.gov-team/blob/master/Communications/Background info from VA partners/VE_products/surveys/contact-center-employee/re

[2019-12-23 15:21] ccruzgra commented on #4401
Kevin Hoffmann and Emily Waggoner are the POCs for this effort. Meeting was scheduled for 12/27 to discuss DEPO work with caution flags and review initial BAH mockups.

[2019-12-23 15:30] jbalboni commented on #3488
@peggygannon @narin As best I can tell, video appointments are the same as in regular VA appointments in that the info they send us is the health care system, not their actual facility. So we can't show a facility name or phone. I'm not 100% positive on that, but that appears to be the case and it'll be a little bit before I can actually verify for certain.

[2019-12-23 15:35] rileyorr commented on #4298
@wygonikGCIO & @rebeccawalsh: The first draft personas can be found [here](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/medical-device-tool/research/discovery-nov19/personas.md). This document also contains user scenarios associated with each persona.

[2019-12-23 15:36] rileyorr commented on #4155
@wygonikGCIO & @rebeccawalsh: The user scenarios based on the personas can be found [in the same document as the personas](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/medical-device-tool/research/discovery-nov19/personas.md).

[2019-12-23 15:41] billfienberg commented on #2896
PRs
* `vets.gov-team`: https://github.com/department-of-veterans-affairs/vets.gov-team/pull/20087
* `va.gov-team`: https://github.com/department-of-veterans-affairs/va.gov-team/pull/4408

[2019-12-23 15:48] delli-gatti-michael commented on #4227
Changes are now in Staging

[2019-12-23 15:52] jonwehausen commented on #4358
Hi @amyknox,

@nedierecel and I put our heads together and determined there's some additional tracking needs in order to support the [dashboard updates](https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/3043).

We know we're in code freeze, but here are the DL requirements we will need a developer on:

## Program Name Radio Button

- R

[2019-12-23 16:00] davidconlon commented on #3268
@mmiddaugh can you store the PDFs in the issue? Can't access Google drive from GFE

[2019-12-23 16:17] Justin-Pickett commented on #4386
@artistgreen I am confirming that all the necessary screens and flows are ready for this work to be started by @bradl3yC for implementing these front end changes. Please confirm as well. Thank you.

[2019-12-23 16:27] billfienberg commented on #2889
PRs:
* `vets.gov-team`: https://github.com/department-of-veterans-affairs/vets.gov-team/pull/20086
* `va.gov-team`: https://github.com/department-of-veterans-affairs/va.gov-team/pull/4407

[2019-12-23 16:32] mmiddaugh commented on #3268
[DRAFT Urgent Care Printable Document_102319.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/3995591/DRAFT.Urgent.Care.Printable.Document_102319.docx)

[DRAFT Urgent_Care_Printable_Document_102319_TW_Only_v3.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/3995592/DRAFT.Urgent_Care_Printable_Document_102319_TW_Only_v3.docx)

@davidconlon files are

[2019-12-23 16:39] nedierecel commented on #3871
@batemapf - Please see the follow-up to your questions.

**Timeframe: 11/20/2019-12/21/2019**

1. [Clicks to Tracking Claims from Homepage - 690K Total Events (See Total Events in the Link)](https://analytics.google.com/analytics/web/?authuser=0#/report/content-event-events/a50123418w177519031p176188361/explorer-table.plotKeys=%5B%5D&_r.drilldown=analytics.eventCategory:Interactions,analytics.even

[2019-12-23 16:43] nedierecel commented on #3403
Follow-up discussions:

- The Analytics-Insights team will pull sample data values that would be stored in the data warehouse. As it will mostly be Google Analytics, call center summaries, and back-end data, these values will not store PII. This will be shared with Andrew

[2019-12-23 16:50] davidconlon commented on #4321
@rtwell We have them here. Want to be careful of duplicating and tracking the files themselves.
https://github.com/department-of-veterans-affairs/va.gov-team/issues/3268#issuecomment-568520068

[2019-12-23 16:55] rtwell commented on #4321
ah, i didn't see that last line in the ticket description—my b!

[2019-12-23 17:24] wygonikGCIO opened #4409 "Implement Redux"
## User Story:
As a front end developer, I need to implement Redux into our app, so that our app’s data is accessible.

## Tasks

- [x] Meet with other devs to understand VA’s standard on Redux -3 hrs
- [x] Create and write code for Redux actions, api, types and reducer files - 3 hrs
- [ ] Test that we are able to use Redux - 1hr

## Acceptance Criteria:
- [ ] I should be able to see our applicati

[2019-12-23 17:29] sporeboy commented on #4126
View Dependents mockup revisions in-progress. XD link here: https://xd.adobe.com/view/8cdfe895-c907-4662-7234-305056778b2a-faee/screen/61211510-a9de-477c-950c-ae7fe5d2ce65/View-Dependents-2

[2019-12-23 17:31] sporeboy commented on #4301
Content revised per feedback from Peggy. Revisions here: https://xd.adobe.com/view/0db723ac-52ff-48b3-4877-9d5882cb2e1f-7b86/screen/90b2e033-e56a-4634-91ff-b694b46d2097/RD-Screen-Tool-FINAL

[2019-12-23 17:35] jenniferlee-dsva commented on #3692
@lwalsh617 LMK if the above VIEW page is ready to send to SME, we can tb who to send preview link to and instructions to include for them.

If the ABOUT page updates are also ready, we can send that page at the same time (but not required, as we want to ensure the VIEW page is ready for tool launch).

[2019-12-23 17:54] thatmattjohnson commented on #2889
PR review/UAT completed; all looks good.  Closing this issue.

[2019-12-23 17:54] #2889 closed

[2019-12-23 17:58] thatmattjohnson commented on #2896
PR review/UAT completed; all looks good. Closing this issue.

[2019-12-23 17:58] #2896 closed

[2019-12-23 18:04] ccruzgra commented on #4400
No artifacts identified in Slack or Github.

Github document for capturing notes/q's for stakeholders: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/education-careers/school-comparison-tool/research/caution-flags/discovery-artifacts.md

[2019-12-23 18:23] RLHecht commented on #4390
Changes are live on the site to this page as well as Apply for VA Pension page. Closing ticket. FYI @Karak888

[2019-12-23 18:23] #4390 closed

[2019-12-23 18:26] nathanhruby commented on #4403
https://github.com/department-of-veterans-affairs/va.gov-team/commit/20499b54c727c8f46b56563fc1dadc18315ab67b

[2019-12-23 18:28] nedierecel commented on #3871
Hi @wyattwalter - Within Prometheus, can we retrieve the total API calls to the Caseflow API? Patrick is interested in reporting this to the Caseflow team.

[2019-12-23 18:29] jenniferlee-dsva commented on #3692
@lwalsh617  - info for sending out SME review for the VIEW page:
TO: Paul Shute - Disability compensation business stakeholder
CC: Misty Sweet, Sandy Tadeo, Adrienne Hooten, JP DiMartino (VBA digital media), me
.
Please include for them the Drupal preview link, letting them know that:
- the whole page is new and will be the unauthenticated launching point into the authenticated/signed in disabilit

[2019-12-23 18:31] artistgreen commented on #4386
@Justin-Pickett  and @bradl3yC - Yes - this is ready for FE.  I added screens for both, the profile form and benefit forms on this ticket.

[2019-12-23 18:34] #4343 closed

[2019-12-23 18:34] #4227 closed

[2019-12-23 18:38] thatmattjohnson opened #4410 "[repo migration]: link remediation"
[X] complete repo migration batches
[X] run GH reports showing all references to vets.gov-team URLs in va.gov-team repo (dev)
[X] manually update or remove vets.gov-team references

[2019-12-23 18:47] #4403 closed

[2019-12-23 18:55] amyknox commented on #4397
Draft in progress here: https://github.com/department-of-veterans-affairs/va.gov-team/edit/master/products/education-careers/stem/research/wizard-update/research-plan.md

[2019-12-23 18:55] amyknox commented on #4399
DEPO and Perigean report no changes to typical process for recruiting over holidays.

[2019-12-23 19:26] billfienberg commented on #2655
PRs:
* `vets.gov-team`: https://github.com/department-of-veterans-affairs/vets.gov-team/pull/20089
* `va.gov-team`: https://github.com/department-of-veterans-affairs/va.gov-team/pull/4411

[2019-12-23 19:29] tlei123 commented on #3586
@brangi , is this PR the one that needs to be merged first before the Mapbox Upgrade is ready\* for QA?
https://github.com/department-of-veterans-affairs/vets-website/pull/11358

*I also recall in our planing mtg that we have some kind of API/backend dependency too.