[2020-12-17 21:52] jonwehausen commented on #13494
Hopped on a quick zoom call with @srsuddath to discuss the remaining data layer changes prior to Monday phased-roll out.

List of DL updates discussed:
1. For `onsite-search-results-click` -- always start with 1 from the top result and proceed sequentially...if it's a top recommendation, also add additional variable for `search-results-top-recommendation: true|false`
2. For `onsite-search-results-

[2020-12-17 21:53] timwright12 commented on #16616
PR for this https://github.com/department-of-veterans-affairs/veteran-facing-services-tools/pull/561

[2020-12-17 21:54] RLHecht commented on #17648
I started creating a CLP for Flu shots based on this page: https://www.va.gov/communitycare/flushot.asp

It's still a WIP but the node ID is: prod.cms.va.gov/node/15051

[2020-12-17 21:57] mmiddaugh opened #17683 "Remove data layer/event capture for FL location field"
## Issue Description
Due to the [potential for privacy concerns](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/analytics/decisions/google_analytics_data_scrub.md), DEPO removed the Google Tag Manager code which collected location data and scrubbed the data from Google Analytics and BigQuery. We need to remove unwanted code until we are able to replace it with a

[2020-12-17 21:59] #16616 closed

[2020-12-17 22:00] jbalboni opened #17684 "CalendarWidget refactor: simplify loading state functionality"
We'd like to simplify the way the calendar widget handles loading states. The calendar doesn't really need to have a concept of "loading" since it does fetch anything. All we really need is a disabled state, where all calendar actions are disabled. This state should also have a customizable message, so that consumers of the widget could pass a loading message, or whatever makes the most sense for

[2020-12-17 22:01] mnorthuis commented on #16946
@leahkeeler @DanielleThierryUSDSVA @peggygannon @rebeccawalsh

The IA for FSR and corresponding Debtman content is almost complete.  There are a couple of open items left to finalize.

- Need to finalize the URL of the FSR.  Right now the prototype shows the H1 as "Request help for VA debt", which doesn't reference the term "Financial status report".  I will need to know how important the terms "F

[2020-12-17 22:06] jbalboni opened #17685 "CalendarWidget refactor: use render prop for indicator UI"
We'd like to update the calendar widget to use the same pattern for the day selected indicator UI as we're going to use for rendering slots. That means having a basic default, and also including a render prop to customize it.

Changes
- Replace selectedIndicatorType with renderIndicator
- When nothing is passed to renderIndicator, use the default indicator display of a checkmark used in the direct

[2020-12-17 22:08] desireeturner opened #17686 "10203: Cross-Browser Audit"
As a member of the development team, I need to conduct cross browser testing to ensure that our products work as expected in all browsers.

## Assumptions:
1. Tester has access to most common browsers including: Chrome, Safari, IE 11, Firefox. This could be using an external tool like Browserstack or a Virtual Machine
2. Tester can access mobile simulation and desktop formats
3. End to End test sc

[2020-12-17 22:09] desireeturner opened #17687 "0994: Cross-Browser Audit"
As a member of the development team, I need to conduct cross browser testing to ensure that our products work as expected in all browsers.

## Assumptions:
1. Tester has access to most common browsers including: Chrome, Safari, IE 11, Firefox. This could be using an external tool like Browserstack or a Virtual Machine
2. Tester can access mobile simulation and desktop formats
3. End to End test sc

[2020-12-17 22:09] jbalboni opened #17688 "CalendarWidget refactor: miscellaneous cleanup"
These are some (probably) smaller cleanup items we should do on the calendar widget as part of the refactor.

Changes
- Remove additionalOptions and add an id prop
   - In order to remove fieldname, we may need a unique identifier to replace it with
- Rename onClickNext and onClickPrev to onNextMonth and onPreviousMonth
- Rename availableDates to availableSlots

[2020-12-17 22:10] desireeturner opened #17689 "0993: Cross-Browser Audit"
As a member of the development team, I need to conduct cross browser testing to ensure that our products work as expected in all browsers.

## Assumptions:
1. Tester has access to most common browsers including: Chrome, Safari, IE 11, Firefox. This could be using an external tool like Browserstack or a Virtual Machine
2. Tester can access mobile simulation and desktop formats
3. End to End test sc

[2020-12-17 22:11] desireeturner opened #17690 "1995: Cross-Browser Audit"
As a member of the development team, I need to conduct cross browser testing to ensure that our products work as expected in all browsers.

## Assumptions:
1. Tester has access to most common browsers including: Chrome, Safari, IE 11, Firefox. This could be using an external tool like Browserstack or a Virtual Machine
2. Tester can access mobile simulation and desktop formats
3. End to End test sc

[2020-12-17 22:12] jbalboni commented on #5115
Ok, I've created tickets to make all these changes, prefixed by CalendarWidget refactor. Closing.

[2020-12-17 22:12] #5115 closed

[2020-12-17 22:12] desireeturner opened #17691 "1990: Cross-Browser Audit"
As a member of the development team, I need to conduct cross browser testing to ensure that our products work as expected in all browsers.

## Assumptions:
1. Tester has access to most common browsers including: Chrome, Safari, IE 11, Firefox. This could be using an external tool like Browserstack or a Virtual Machine
2. Tester can access mobile simulation and desktop formats
3. End to End test sc

[2020-12-17 22:13] 1Copenut commented on #17070
@joshkimux Let's use your more descriptive link suggestion, and have the link come after the paragraph of text.

[2020-12-17 22:19] #17577 closed

[2020-12-17 22:27] annaswims opened #17692 "create missing indexes"
Output from pghero

[code]

[2020-12-17 22:41] jason-gcio opened #17693 "Update Remaining Event Names for CH36"
## Background
GA Team has some updates to the event names for CH36 we need to add.

## Tasks
- [x] Along with the the `'howToWizard-alert-displayed'` event, update `'reason-for-notice'` to be `'reason-for-alert'` (to align with business verbiage of "alert")
- [x] Along with the `'howToWizard-alert-link-click'` event, push a generic `'howToWizard-alert-link-click-label'` along with this event with

[2020-12-17 22:43] #16106 closed

[2020-12-17 22:43] jonwehausen commented on #13167
Connected with @cohnjesse 12/17/2020 on further DL updates for wizards and provided latest spec to be used universally https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/analytics/google-analytics/tracking-how-to-wizards.md

cc: @joanneesteban

[2020-12-17 22:48] mmiddaugh opened #17694 "Backend support for "mobile = false""
## Issue Description
In #13730. we excluded Mobile Vet Centers from Facility Locator search results
Since then, Lighthouse added an optional facility mobile search filter: mobile:boolean:query
To reflect this change, the FE should pass mobile=false instead of exclude_mobile

**Facilities for testing:**
Facility Locator ID = vha_442QD (Laramie VA Mobile Clinic)
Facility Locator ID = vc_0741V (Mobil

[2020-12-17 22:49] erluti commented on #8461
Generator has been rebuilt for modern goals
see here https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/17215

[2020-12-17 22:49] #8461 closed

[2020-12-17 22:50] bessgreen opened #17695 "Error | Address Recognition w/ no suggestions"
## User story
As a user, I want the app to inform me if my inputted-address cannot be verified, so I can go back and edit it.

## Acceptance Criteria
1. Create UI for when a user's inputted address cannot be confirmed with USPS & there are no suggested addresses
     - This screen should display after a user has entered an address on the edit screen and hits "Save".
     - Hide "Cancel" and "Save"

[2020-12-17 22:57] bessgreen commented on #17695
## User story
As a user, I want the app to inform me if my inputted-address has formatting issues and provide suggestions for similar, valid addresses.

## Acceptance Criteria
1. Create UI for when a user's inputted address cannot be confirmed with USPS & there are no suggested addresses
     - This screen should display after a user has entered an address on the edit screen and hits "Save".

[2020-12-17 22:58] digitalken commented on #14161
12/17/2020 - I'm not seeing direct deposit saved right now so I'm thinking that something isn't quite ready.  I also understand that something else is in the works. Need to test this later.

[2020-12-17 23:01] #15169 closed

[2020-12-17 23:02] #11600 closed

[2020-12-17 23:04] SKasimow commented on #17291
@allison0034 -excellent - thanks again!

cc: @youngfreezyVA

[2020-12-17 23:07] msmanak opened #17696 "Content Language for VSP"
## Backlog Placeholder:

[2020-12-17 23:16] tlei123 commented on #17561
@pjhill , previously-failed test-cases now [re-run](https://dsvavsp.testrail.io/index.php?/plans/view/1109) and all Passed.

[Test-cases](https://dsvavsp.testrail.io/index.php?/suites/view/3&group_by=cases:section_id&group_order=asc&group_id=209)' page-references now updated ("Claimant" -> "Applicant").  My previously-failed steps' expected-results actually had links to the updated designs, so no

[2020-12-17 23:28] #16747 closed

[2020-12-17 23:38] outerpress commented on #17639
@laurenernest Yep, same disabled/grayed out style for unavailable appointments whether holiday or non-schedulable for any other reason

[2020-12-17 23:46] jenniferlee-dsva commented on #17678
@zacharymorel - as this affected the content and design intent, please be sure to validate with myself or @rtwell in the future when anything affects or changes the design/content. We regularly use screenreader-only tags elsewhere and we could have advised so with this request. Thanks for fixing so quickly.

[2020-12-17 23:51] denisecoveyduc opened #17697 "Create E2E tests for the site-wide search experience"
## Description

Establishing E2E tests for site-wide search will improve our ability to test the search experience

## Background/Context/Resources
Will use cypress for a comprehensive set of tests

## Test Cases:

Default
- [x] Search menu appears when search button is clicked
- [x] Passes Axe requirements when search is open and suggestions are displayed
- [x]  The search icon is disabled when n

[2020-12-18 00:06] aryeh-usds commented on #17262
Aryeh Jacobsohn's handle is @aryeh-usds

[2020-12-18 00:12] bessgreen opened #17698 "Error | Address Recognition: Confirm Unit Number"
## User story
As a user, I want the app to inform me if the unit number on my my inputted-address cannot be verified.

## Acceptance Criteria
1. Create UI for when a user's inputted address cannot be confirmed with USPS because of some issue with the unit number
     - This screen should display after a user has entered an address on the edit screen and hits "Save".
     - Hide "Cancel" and "Save"

[2020-12-18 00:15] jason-gcio opened #17699 "Update Confirmation Page"
## Background
Currently the confirmation page indicates that applications are "**usually decided upon within a week**" and has some instructions in the event that that might not be the case.  However, because that information is relatively outdated, we should remove any mention of time as an expectation until we can explicitly say that it is the current turnaround time from the business.

There is

[2020-12-18 00:16] bessgreen opened #17700 "Error | Address Recognition: Add Unit Number"
## User story
As a user, I want the app to inform me if my inputted-address cannot be verified because I need to add a unit number.

## Acceptance Criteria
1. Create UI for when a user's inputted address cannot be confirmed with USPS because a unit number was not specified
     - This screen should display after a user has entered an address on the edit screen and hits "Save".
     - Hide "Cancel"

[2020-12-18 00:21] jason-gcio commented on #17676
Must 1/ - Confirming that the "Thank you..." has already been moved
Must 2/ - Ticket #17699 addresses this
Must 3/ - Confirming next action items for these alerts with team

[2020-12-18 00:21] digitalken commented on #16436
PASS 12/17/2020 - Hints look centered and matching fonts.  Closing.

[2020-12-18 00:21] #16436 closed

[2020-12-18 00:22] digitalken commented on #17599
Entering into TestRail and testing...

[2020-12-18 00:24] jason-gcio commented on #17561
Links are definitely a better idea...not sure why I submitted screenshots.  Content is always moving!
I'll see about switching those over to links, you shouldn't have to do that.

[2020-12-18 00:26] jason-gcio commented on #13167
Remaining items are to be resolved in this ticket: https://github.com/department-of-veterans-affairs/va.gov-team/issues/17693

[2020-12-18 00:26] cvalarida commented on #17593
I originally thought PostCSS was needed, but we definitely don't need it. I had seen [PurgeCSS](purgecss.com) as a PostCSS plugin, but it's also standalone. I just ran our production `style.css` against the built output of VA.gov and saw we can reduce the size of the CSS file by ~50%.

![image.png](https://images.zenhubusercontent.com/599c8bb68f62dc7798c3b1dc/21aecc74-2320-4c15-8914-033e252f6646)

[2020-12-18 00:28] cvalarida commented on #17593
Updated the original description with information from :point_up:.

[2020-12-18 00:34] denisecoveyduc commented on #16743
@srsuddath We discussed this has been completed. Just confirming that this is ready to move to validation?

[2020-12-18 00:34] jason-gcio commented on #17434
This all looks pretty straightforward, except for Question 3: do you mean the type of payments that will show up?  We did some discovery around where payments would come from that I would need to look for but this should be true.

[2020-12-18 00:36] jason-gcio commented on #17434
For Question 2: The landing page mentions a "Veterans Help Line" but I think I like your more agnostic "benefits assistance" piece more.  We will make that change.

[2020-12-18 00:40] jason-gcio commented on #17434
Question 1: The top funnel will be from the home page, to a landing page that holds more info.  I don't believe there have been any requests to make changes to that page, perhaps other than the note I made (above) about the "Veterans Help Line."

[2020-12-18 00:41] ala-yna commented on #13999
Marking this as closed. @joshkimux, any thoughts?

[2020-12-18 00:43] joshkimux commented on #13999
@ala-yna no thoughts!

[2020-12-18 00:49] #16226 closed

[2020-12-18 00:49] ala-yna commented on #17660
@shiragoodman, let me know if you need anything else!

[2020-12-18 00:51] esther-k commented on #17362
**12/17**
Pass - Accessibility issues are resolved on iOS and Android

[2020-12-18 00:52] #17362 closed

[2020-12-18 00:52] digitalken opened #17701 "Address Entry screens (Mailing and Residential) - Line 1 of address gets pushed off the screen by the keyboard on iOS"
## What happened?
Tapping into Line 1 of the address entry fields or using the down arrow of the country picker causes the keyboard on the iPhone to push the content up and the edited field goes off the screen, unable to be seen while editing.

## Specs:
- Device: iPhone 6s, iPhone SE, both latest OS.

## Steps to Reproduce
- Tap into Line 1 of the address entry fields or use the down arrow of the

[2020-12-18 00:55] peggygannon commented on #17434
HI, @jason-gcio for Question 3, I wanted to make sure that content (in bold below), which appears in the right rail is true. that updating information in your profile will also update across your VR&E and health care benefits? These 2 benefit types weren't in this content in the mockup I saw previously,  so am just confirming this addition is accurate.

Go to your profile to make updates to your c

[2020-12-18 00:55] cvalarida commented on #16887
# TL;DR
Our action items:
- Reduce the size of `style.css` by [removing unused styles with PurgeCSS](https://github.com/department-of-veterans-affairs/va.gov-team/issues/17593)
- Make a determination of whether we can render before we finish loading CSS
    - This will cause a flash of unstyled text

# The full story
## A broad look
According to [PageSpeed Insights](https://developers.google.com/s

[2020-12-18 00:57] jason-gcio opened #17702 "Adjust Content for View Payments"
## Background
Based on feedback from Staging Review, we need to make a few adjustments to View Payments so that its as easy to read as possible.

## Tasks

<details>

<summary>Change "1st" to "first"</summary>

![first.jpg](https://images.zenhubusercontent.com/5d4d9fbb3dcb5944ddb12282/d97e114a-70db-4605-9a54-0826e49f9db6)

</details>

- [x] Change text:
FROM "Returned payment information is availa

[2020-12-18 01:01] esther-k commented on #16459
**12/17**
Pass - Accessibility issues are resolved on iOS and Android

[2020-12-18 01:01] #16459 closed

[2020-12-18 01:01] jason-gcio commented on #17434
@peggygannon - Ah I see, ok.  I think that is meant to just be a general statement based on the fact that profile info is used everywhere but we can definitely verify that is the case.  Next iteration for this feature removes the right rail so if this is redundant or needs to be reworked we will check in on it again.  I will have an update on this question soon though.

[2020-12-18 01:02] jason-gcio commented on #17434
Ticket with content changes: https://github.com/department-of-veterans-affairs/va.gov-team/issues/17702

[2020-12-18 01:07] jason-gcio commented on #17434
@sporeboy - this is a reminder for me to remember this tomorrow \o/

[2020-12-18 01:23] denisecoveyduc commented on #16367
@srsuddath will be able to proceed with this once the platform team has completed the efforts in #17009. He is blocked until that has happened. Platform team anticipates this will wrap up in sprint 37 and the search and discovery team's goal would be to implement click tracking before code freeze if possible.

[2020-12-18 01:47] srsuddath commented on #16743
we can go ahead and move this to validation, any remaining issues have been captured in https://github.com/department-of-veterans-affairs/va.gov-team/issues/13494#issuecomment-747724130

[2020-12-18 01:51] tressaellen commented on #17307
Hello @Samara-Strauss (and @rtwell, @sshein )! (cc/@callen )

We'd like to schedule a call with you to walk you through what we have - but we wanted to give you a change to look over things before we chat. If you can meet in the morning, that would be preferable, to make sure we are all on the same page. A few thoughts about the screens below:

These are not meant to be visual designs yet - we rea

[2020-12-18 01:52] tressaellen commented on #17307
Also, for documentations sake, these are the cards (aka lego blocks) that we have for each of the sections.

![myVA card status.jpg](https://images.zenhubusercontent.com/5dfa65bbbd078d1699e52294/2a9aea12-148c-407c-892a-59fcc21ca17f)
![myVA card status blank.jpg](https://images.zenhubusercontent.com/5dfa65bbbd078d1699e52294/2b42f2e0-e4e0-4bd7-82cf-5b8b1714d263)

[2020-12-18 02:05] erikphansen opened #17703 "Show address validation screen if suggested `stateCode` does not match input `stateCode`"
We should make a small adjustment to the logic that determines if we show the user the address validation screen during address updates.

Make the user confirm their address if:

- [ ] the `stateCode` of the user-entered address does not match the `stateCode` of the single confirmed, high-confidence address that comes back from the address validation API

This stems from https://github.com/departm

[2020-12-18 02:07] erikphansen commented on #17658
Closing this in favor of #17703

[2020-12-18 02:07] #17658 closed

[2020-12-18 02:09] denisecoveyduc opened #17704 "Address Accessibility Issues related to 508 Defect Level 1"
## Description

As a result of an accessibility review for Type Ahead POC. A 508-defect-1 was identified and tracked in issue #16965. As a result, search and discovery team completed tasks to resolve issues and move forward with the Type Ahead POC implementation. This issue is to track the development efforts required and summarize the tasks involved.

---

## Tasks

- [x] Rebuilt the typeahead ex

[2020-12-18 02:37] erikphansen commented on #17572
I'm closing this one. Based on what we learned today, @sanlouise has [merged a fix](https://github.com/department-of-veterans-affairs/vets-website/pull/15411) that should resolve the majority of the 301 errors. Early next week we can take a fresh look at the types of save errors we are still seeing in GA and figure out which ones to attempt to resolve next.

[2020-12-18 02:37] #17572 closed

[2020-12-18 02:42] desireeturner opened #17705 "10203: Conduct Accessibility Audit"
As a member of the development team, I need to complete an Accessibility/508 audit regularly to ensure our applications are 508 compliant.

## Assumptions:
1. Tester has access to most common browsers including: Chrome, Safari, IE 11, Firefox (this could be using an external tool like Browserstack or a Virtual Machine)
2. Tester can access mobile simulation and desktop formats

## Acceptance Crite

[2020-12-18 02:43] desireeturner opened #17706 "0994: Conduct Accessibility Audit"
As a member of the development team, I need to complete an Accessibility/508 audit regularly to ensure our applications are 508 compliant.

## Assumptions:
1. Tester has access to most common browsers including: Chrome, Safari, IE 11, Firefox (this could be using an external tool like Browserstack or a Virtual Machine)
2. Tester can access mobile simulation and desktop formats

## Acceptance Crite

[2020-12-18 02:44] desireeturner opened #17707 "0993: Conduct Accessibility Audit"
As a member of the development team, I need to complete an Accessibility/508 audit regularly to ensure our applications are 508 compliant.

## Assumptions:
1. Tester has access to most common browsers including: Chrome, Safari, IE 11, Firefox (this could be using an external tool like Browserstack or a Virtual Machine)
2. Tester can access mobile simulation and desktop formats

## Acceptance Crite

[2020-12-18 02:45] desireeturner opened #17708 "1995: Conduct Accessibility Audit"
As a member of the development team, I need to complete an Accessibility/508 audit regularly to ensure our applications are 508 compliant.

## Assumptions:
1. Tester has access to most common browsers including: Chrome, Safari, IE 11, Firefox (this could be using an external tool like Browserstack or a Virtual Machine)
2. Tester can access mobile simulation and desktop formats

## Acceptance Crite

[2020-12-18 02:45] desireeturner opened #17709 "1990: Conduct Accessibility Audit"
As a member of the development team, I need to complete an Accessibility/508 audit regularly to ensure our applications are 508 compliant.

## Assumptions:
1. Tester has access to most common browsers including: Chrome, Safari, IE 11, Firefox (this could be using an external tool like Browserstack or a Virtual Machine)
2. Tester can access mobile simulation and desktop formats

## Acceptance Crite

[2020-12-18 02:46] desireeturner opened #17710 "5490: Conduct Accessibility Audit"
As a member of the development team, I need to complete an Accessibility/508 audit regularly to ensure our applications are 508 compliant.

## Assumptions:
1. Tester has access to most common browsers including: Chrome, Safari, IE 11, Firefox (this could be using an external tool like Browserstack or a Virtual Machine)
   a. Testing will be completed as an authenticated user and as an unauthentica

[2020-12-18 02:46] desireeturner opened #17711 "5495: Conduct Accessibility Audit"
As a member of the development team, I need to complete an Accessibility/508 audit regularly to ensure our applications are 508 compliant.

## Assumptions:
1. Tester has access to most common browsers including: Chrome, Safari, IE 11, Firefox (this could be using an external tool like Browserstack or a Virtual Machine)
2. Tester can access mobile simulation and desktop formats

## Acceptance Crite

[2020-12-18 02:47] desireeturner opened #17712 "1990e: Conduct Accessibility Audit"
As a member of the development team, I need to complete an Accessibility/508 audit regularly to ensure our applications are 508 compliant.

## Assumptions:
1. Tester has access to most common browsers including: Chrome, Safari, IE 11, Firefox (this could be using an external tool like Browserstack or a Virtual Machine)
2. Tester can access mobile simulation and desktop formats

## Acceptance Crite

[2020-12-18 02:48] desireeturner opened #17713 "1990n: Conduct Accessibility Audit"
As a member of the development team, I need to complete an Accessibility/508 audit regularly to ensure our applications are 508 compliant.

## Assumptions:
1. Tester has access to most common browsers including: Chrome, Safari, IE 11, Firefox (this could be using an external tool like Browserstack or a Virtual Machine)
2. Tester can access mobile simulation and desktop formats

## Acceptance Crite

[2020-12-18 02:49] desireeturner opened #17714 "5490: Cross-Browser Audit"
As a member of the development team, I need to conduct cross browser testing to ensure that our products work as expected in all browsers.

## Assumptions:
1. Tester has access to most common browsers including: Chrome, Safari, IE 11, Firefox. This could be using an external tool like Browserstack or a Virtual Machine
2. Tester can access mobile simulation and desktop formats
3. End to End test sc

[2020-12-18 02:49] desireeturner opened #17715 "5495: Cross-Browser Audit"
As a member of the development team, I need to conduct cross browser testing to ensure that our products work as expected in all browsers.

## Assumptions:
1. Tester has access to most common browsers including: Chrome, Safari, IE 11, Firefox. This could be using an external tool like Browserstack or a Virtual Machine
2. Tester can access mobile simulation and desktop formats
3. End to End test sc

[2020-12-18 02:50] desireeturner opened #17716 "1990e: Cross-Browser Audit"
As a member of the development team, I need to conduct cross browser testing to ensure that our products work as expected in all browsers.

## Assumptions:
1. Tester has access to most common browsers including: Chrome, Safari, IE 11, Firefox. This could be using an external tool like Browserstack or a Virtual Machine
2. Tester can access mobile simulation and desktop formats
3. End to End test sc

[2020-12-18 02:51] desireeturner opened #17717 "1990n: Cross-Browser Audit"
As a member of the development team, I need to conduct cross browser testing to ensure that our products work as expected in all browsers.

## Assumptions:
1. Tester has access to most common browsers including: Chrome, Safari, IE 11, Firefox. This could be using an external tool like Browserstack or a Virtual Machine
2. Tester can access mobile simulation and desktop formats
3. End to End test sc

[2020-12-18 02:52] #16823 closed

[2020-12-18 02:56] denisecoveyduc commented on #16822
@mgleo has completed all tasks related to collecting approvals for the research plans and we are moving forward with the conversation guide creation and approval process.

[2020-12-18 02:56] #16822 closed

[2020-12-18 02:58] denisecoveyduc commented on #12333
@mgleo has created initial draft of conversation guide and is moving to finalizations and gaining approvals. That effort is captured in #16886.

[2020-12-18 02:58] #12333 closed

[2020-12-18 03:01] denisecoveyduc commented on #16743
Since remaining work is captured in #13494. This issue has been addressed and will be closed.

[2020-12-18 03:01] #16743 closed

[2020-12-18 03:11] #16650 closed

[2020-12-18 03:13] denisecoveyduc commented on #16652
As a result of the type ahead POC and accessibility issues that were prioritized in sprint 36, the XML sitemap work has been deferred to sprint 37

[2020-12-18 03:19] denisecoveyduc commented on #14955
Accessibility issues for Type Ahead POC have once again taken priority as we are currently waiting on the Platform team to complete the back end development required to move forward with this issue. Once they have completed their portion (#17009) then @srsuddath can complete (#16367) once both are complete then this front end  will be addressed. Moving to Sprint 37.

[2020-12-18 03:23] denisecoveyduc commented on #16730
OKR and KPIs are being added to the unauthenticated pillar tracker and also copied into OKR + KPI Tracker

[2020-12-18 03:23] #16730 closed

[2020-12-18 03:25] denisecoveyduc commented on #16188
Initial set of KPIs have been identified and a meeting on December 21st will analytics team will allow us to better understand how they align with the creation standards for a DOMO Dashboard to provide an aggregated view of the data going forward.

[2020-12-18 03:25] #16188 closed

[2020-12-18 11:58] JenLJ commented on #16853
UX Review 1/2:  This checks out for me

[2020-12-18 12:52] #17032 closed

[2020-12-18 13:10] MarciMcGuireGCIO commented on #17678
@zacharymorel @ncksllvn @jenniferlee-dsva cc @johnhashva - thanks all for jumping on this, and I will make certain that we review proposed design changes with all the right folks prior to merging going forward.  I take full responsibility for not ensuring it was approved by all stakeholders, and am sorry for the trouble.

[2020-12-18 13:24] MarciMcGuireGCIO commented on #16644
Closing this.  Oct-Dec GA data due is being purged today due to to PII being collected in the Facility Search.  As a result, a Domo Dashboard will be required to avoid a two-month gap in analytics data.  It's my understanding that Domo Dashboards pull archived GA data from a different data source.

[2020-12-18 13:24] #16644 closed

[2020-12-18 13:39] lildziner commented on #17272
### Goal:
Incorporate a “Clear input” button on Facility locator’s location input field.

### **Problem to be solved:**
Today, if a user wants to change an inputted location, then the user must manually highlight all the text in the field. This happens when a user is geolocated. Geolocated addressed are very long so it’s cumbersome to highlight or delete all the text within the field.

![image.png

[2020-12-18 13:51] pjhill commented on #16472
- [ ] Peter to discuss the use of `babel-plugin-react-remove-properties` to remove `data-cy` attributes despite the lack of hard numbers on potential build size differences at the next Eng Leads Meeting.

[2020-12-18 13:53] watersemma commented on #17038
Takeaways have been documented in the mural board. https://app.mural.co/invitation/mural/bahdigitalexperience6902/1607448875956?sender=jonesjennifer26349&key=c360d65b-66dc-4b52-aeac-bca3fda82cbe

[2020-12-18 13:53] #17038 closed

[2020-12-18 14:20] pjhill commented on #15836
Resultant documentation is available [here](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/testing/end-to-end/cypress-best-practices-on-vsp.md).

[2020-12-18 14:22] #15836 closed

[2020-12-18 14:23] pjhill commented on #16854
Reviewed

[2020-12-18 14:23] #16854 closed

[2020-12-18 14:25] pjhill commented on #16884
Reviewed

[2020-12-18 14:25] #16884 closed

[2020-12-18 14:28] pjhill commented on #15835
MVP for this initiative is complete. Future helpers / extensions will be worked under a new initiative.

[2020-12-18 14:28] #15835 closed

[2020-12-18 14:36] LindseySaari commented on #17527
Tagged the current master branch with the tag of [oclif](https://github.com/department-of-veterans-affairs/vsp-toolkit/tags)

[2020-12-18 14:39] pjhill commented on #16338
Nice, these helpers have been relocated out of a specific product folder and into a more general use folder/file.  Reviewed

[2020-12-18 14:39] #16338 closed

[2020-12-18 14:46] pjhill commented on #16986
Initial creation of these test cases is complete. They likely need to be updated, but future efforts on these test cases will be worked under a new ticket.

[2020-12-18 14:46] #16986 closed

[2020-12-18 14:51] pjhill commented on #16855
@ddzz -- I take it that at this point you have verified your SOCKS access.  If you're good to go with the SOCKS proxy then please close this ticket when you can.

[2020-12-18 14:52] pjhill commented on #17099
@rjohnson2011  --Have you had a chance to verify SOCKS access?  If you're good to go with the SOCKS proxy then please close this ticket when you can.

[2020-12-18 14:55] joanneesteban commented on #16348
Changing the Title of this section on the dashboard to, "How Veterans are interested in the vaccine" since these aren't actual vaccine registrations yet.

[2020-12-18 14:58] #17099 closed

[2020-12-18 15:00] pjhill commented on #16975
Reviewed

[2020-12-18 15:00] #16975 closed

[2020-12-18 15:00] rroueche commented on #17458
@JasonTheBearded could you please:
- Make the updates per Joanne's and my comments
- Link the central BigQuery Systems Architecture cylindar to Google's documentation: https://lucid.app/users/registerOrLogin/free?showLogin=false&pseudoEditorTitle=BigQuery+Tech+Diagram&instructionParameter=i18nKey%23%3D%3Achart-web-controllers-invitations-document%23%40%3APN%23%3D%3Aname%23%40%3APV%23%3D%3ABigQuery

[2020-12-18 15:08] srsuddath commented on #16367
This is now more of a verification ticket due to the backend work being shifted to the platform team. The acceptance criteria are the same, but I will be validating rather than implementing.

[2020-12-18 15:09] srsuddath commented on #14955
I would like to further emphasize that this ticket cannot be validated until ticket (#17009) has been completed.

[2020-12-18 15:09] oragame commented on #15317
Question: cms and cms-test currently do not have a postgres DB - is this issue requesting for those 2 to simply add the variable to variables.tf for future potential usage of a postgres DB?
[code]

[2020-12-18 15:20] #16855 closed

[2020-12-18 15:20] mmiddaugh opened #17718 "Contact Center Review for Facilities Team: Facility Locator (map enhancement initiative)"
# Request the Contact Center Review

## What this form is for
Use this template to request a Contact Center review of your product.

Please review the Self service Product Guide Template [link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/contact-center/self-service-product-guide-template.md) and the Contact Center Review How to [link](https://github.com/depar

[2020-12-18 15:22] joanneesteban commented on #16348
@JasonTheBearded could you change the data labels in the Legend?

- `Successful Vaccine Registrations` to `Successful Vaccine Interest Registrations`
- `Unsuccessful Vaccine Registrations` to `Unsuccessful Vaccine Interest Registrations`

[2020-12-18 15:28] JasonTheBearded commented on #17458
@joanneesteban @rroueche I've made the requested changes to the tech diagram. I double checked and you both have edit permissions so I'm not sure why it is not letting you make updates. Let me know if there's anything else!

[2020-12-18 15:29] rroueche commented on #17458
@JasonTheBearded and @joanneesteban getting some great Qs from Faith to assist this diagram and our ATO:

- Which team will be manage the access of BigQuery? i.e. how to access it, how to get an account, how you approve ppl for access. Is that y'all or is it Operations?

[2020-12-18 15:32] joanneesteban commented on #17049
@JasonTheBearded - what's the difference between these two data points/labels on the 'Total jumplink clicks to COVID-19 FAQ Vaccine content` chart?

`Coronavirus vaccine`
`COVID-19 vaccine`

[2020-12-18 15:33] JasonTheBearded commented on #16348
@joanneesteban Done. Do you want me to make any changes for the research labels?

[2020-12-18 15:36] joanneesteban commented on #16348
Thanks! No need to change the research labels now. We may need to do some adjustments after our meeting with Lauren.

[2020-12-18 15:39] joanneesteban commented on #17458
Thanks, Jason! It looks like my lack of owning a LucidChart license is preventing me from editing the diagram.

This is the VSP Analytics & Insights team - unless, we _shouldn't_ be managing this access and it _should_ be Operations.

[2020-12-18 15:43] tskinn opened #17719 "Truncate Docker Tag in vets-website CI"
## Description
Docker tags can only be 128 characters long. Long branch names cause vets-website CI to fail due to docker refusing to use long tag names.

## Background/context/resources

Example: http://jenkins.vfs.va.gov/blue/organizations/jenkins/testing%2Fvets-website/detail/16963-Write-RTL-tests-to-check-order-of-facilities-when-sorting-by-current-location-and-residential/5/pipeline/

The bra

[2020-12-18 15:46] jenniferlee-dsva opened #17720 "General Analytics Request for PW"
# General Analytics Request

## What this form is for

Use this template to request one-off performance, usability, or outcomes va.gov metrics that is difficult to access or that needs analytics interpretation. If you have your KPIs set, please [request a KPI dashboard](https://github.com/department-of-veterans-affairs/va.gov-team/issues/new?assignees=joanneesteban&labels=analytics-insights%2C+ana

[2020-12-18 15:55] bsmartin-ep opened #17721 "Add missing data to VA311 DOMO dataset"
As discussed here:

https://dsva.slack.com/archives/C010AJ1L2EN/p1607707160004900

...we would like to switch from the [manual Contact Center webform](https://va-gov.domo.com/datasources/92581ecb-cd1b-4a65-94f6-ade5a00f36f9/details/overview?) to the [ETL OUTPUT version](https://va-gov.domo.com/datasources/6a0e9d9c-7a03-42bd-8e80-c6dd52a08723/details/overview) that uses the 3 base datasets.

I see

[2020-12-18 16:01] bridgethapner commented on #13681
Adding "COVID Vaccine Passport" here as something to look into -- @srmyers17 do you know if there's a specific person/team we should stay in touch with about Passport?

[2020-12-18 16:03] lwalsh617 commented on #17449
@bethpottsVADEPO @RLHecht -- SEO research attached. For COE, the keyword is "certificate of eligibility gi bill." For hurricane vs natural disaster there's no performing keyword. See Word doc for all variations that I tried. No monthly volume results until you get to the general term "school closings" and then it's related to snow days. You can see from the keyword suggestions that there's no volu

[2020-12-18 16:07] Samara-Strauss commented on #17307
Thanks for this! Let's definitely regroup early today. Let me know when you're in! In the meantime, a few preliminary thoughts:

**Information hierarchy**

I understand that in research, we heard that people wanted to have the most actionable items at the top, but the groupings of information in option 2 don't really make sense to me. I totally understand these aren't really communicating layout,

[2020-12-18 16:08] bethpottsVADEPO opened #17723 "Identify VA.gov pages where we could link to direct upload"
## Issue Description
We recently added a link to the direct upload tool in the first Q&A on this page: https://www.va.gov/disability/upload-supporting-evidence/
We need to identify other pages that talk about sending documents/evidence/etc. to VA. Here's what's already been discussed as possibilities:
- https://www.va.gov/decision-reviews/supplemental-claim/
- https://www.va.gov/pension/survivors-

[2020-12-18 16:08] mmiddaugh opened #17724 "Events display incorrect times on Outreach Hub"
## What happened?
When an Outreach Hub user selects a non-EST time zone for an event, it is incorrectly translated to EST on the FE.

[Drupal page](https://prod.cms.va.gov/outreach-and-events/events/philippine-and-pacific-islands-veterans-va-benefits-training-session)
![image](https://user-images.githubusercontent.com/55411834/102633830-35080e00-410e-11eb-8ae7-874a5b5b518e.png)

---
[Preview]( pre

[2020-12-18 16:16] johnhashva commented on #17720
@jenniferlee-dsva can I jump in to this request and get added to the dashboard as well?

[2020-12-18 16:27] watersemma commented on #16853
UX Review 2/2: Good to go!

[2020-12-18 16:31] joshkimux commented on #17342
@Mottie this should be addressed by @1Copenut 's [bug report here](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/357#issuecomment-743478883)

[2020-12-18 16:32] outerpress opened #17725 "Calendar truncated at smaller screen sizes"
The calendar is being cut off by the browser window at ~340px. Our smallest breakpoint is 320px so we should support that at a minimum.
Saw this on staging, Chrome Version 87.0.4280.88 (Official Build) (x86_64), zoom level 100%, cache cleared.

![staging.va.gov_health-care_schedule-view-va-appointments_appointments_new-appointment_request-date(iPhone 5_SE) (2).png](https://images.zenhubusercontent

[2020-12-18 16:33] luke-gcio commented on #17595
Added it to our backlog although it may end off moving to another team's backlog.

[2020-12-18 16:34] srsuddath commented on #17704
PRs have been merged and staging review is taking place. Planning to move this ticket to validation by COB

[2020-12-18 16:45] digitalken commented on #17494
Adding to TestRail...

[2020-12-18 16:51] joanneesteban opened #17726 "General Analytics Request for Covid Interest"
# Metrics Reporting Request

## What this form is for

Use this template to request one-off performance, usability, or outcomes va.gov metrics that is difficult to access or that needs analytics interpretation. If you have your KPIs set, please [request a KPI dashboard](https://github.com/department-of-veterans-affairs/va.gov-team/issues/new?assignees=joanneesteban&labels=analytics-insights%2C+ana

[2020-12-18 16:53] sonntag-adam commented on #16853
Closing story

[2020-12-18 16:53] #16853 closed

[2020-12-18 17:00] luke-gcio opened #17727 "Claim Source Addition to 526 Submissions"
## User Story
As a VBMS user, I want to be able to see the claim source distinguished between VA.gov and other sources.

## Expected Behavior
We pass a parameter (not required) down to EVSS on all 526 submissions.  This can be hardcoded.

**Info from the EVSS email describing this:**

The code changes to support a claim source element in 526 submissions is now ready in the EVSS Dev (INT) and Test

[2020-12-18 17:22] lexicalninja commented on #16984
Meli and I had a discussion today about how this will work.
https://docs.google.com/drawings/d/1EN1wyuBp-2WSB3uXP8QbKAbuXBj6Tjlfyz9xVn2-Kg8/edit?usp=sharing

currently, the choice is to use the app splash screen in the prototype for the first screen, then go to log in or unlock, then combine the token exchange and set up areas to one screen.

This screen would likely have the VA Seal and then some

[2020-12-18 17:24] lexicalninja commented on #16984
Here is a breakdown of how the whole process does its work:

On app start up, there are a number of things that have to happen before a user can get into the app. Some of these things, like auth, are required and some of them are to create a better Veteran experience by pre-calling some data. Here is a list of what needs to happen:

1. Authorization
	- The app needs to check if the user is logged

[2020-12-18 17:25] lildziner commented on #17272
![times-circle-solid.svg](https://images.zenhubusercontent.com/5c4895778d88074ab2c6ad18/67404b12-91d8-4342-981d-eb83df1469bf)

[2020-12-18 17:25] lexicalninja commented on #16984
Here is a look at what asana does on the web and in their app for this type of syncing:
![image](https://user-images.githubusercontent.com/7376126/102642723-bcac4780-4123-11eb-882c-941e20bb1e5f.png)

[2020-12-18 17:27] lexicalninja commented on #16984
This app changes images and text as it loads content in the background and automatically progresses
![image](https://user-images.githubusercontent.com/7376126/102642874-f2e9c700-4123-11eb-8c76-1a768cb85760.png)

[2020-12-18 17:28] lildziner commented on #17272
Regarding accessibility, from Josh:

"If you stick with the “X” icon, **I’d recommend using the screen reader only class and using aria-hidden on the svg.** Using aria-label on the svg itself has been documented to have some failures in some browser/screen reader combinations. [More on this technique in this article by Sara Soueidan](https://www.sarasoueidan.com/blog/accessible-icon-buttons/#techn

[2020-12-18 17:29] lexicalninja commented on #16984
this one just has an animated svg to show that it is still working
![image](https://user-images.githubusercontent.com/7376126/102643038-40feca80-4124-11eb-9278-8427fc8a6784.png)

[2020-12-18 17:35] #17272 closed

[2020-12-18 17:42] dillo commented on #17203
System to a system-auth document: https://dsva.slack.com/files/U01A62SN05P/F01HCLXLNR2/system-authorization.pdf

[2020-12-18 17:49] ddzz opened #17728 "Inconsistent formatting for View Payment History table"
## What happened?
When paginating through payments on the [View Payment History](https://staging.va.gov/va-payment-history/payments/?postLogin=true) page on staging with account `vets.gov.user+14@gmail.com`, the table formatting formatting and table length is inconsistent between pages, such as pages 5 and 6.

## Specs:
- Device: MacBook Pro
- Browser: Chrome
- Test User: vets.gov.user+14@gmail.co

[2020-12-18 17:51] Mottie commented on #16224
Verified that this has been fixed.

[2020-12-18 17:53] Mottie commented on #16203
These content updates have been merged and should be available in staging soon @joshkimux

[2020-12-18 17:54] mpelzsherman commented on #17256
Closing since https://github.com/department-of-veterans-affairs/va.gov-team/issues/17187 will make it possible to restore the dynamic side nav code without breaking the CI builds.

[2020-12-18 17:54] #17256 closed

[2020-12-18 17:56] MarciMcGuireGCIO commented on #14112
Making note of Laurel's discovery that no pattern for this feature currently exists in the design system.

[2020-12-18 17:56] joanneesteban opened #17729 "Analytics Covid dashboard request - Vaccine Information Hub iteration"
# Covid Dashboard - Vaccine Content iteration

Is this a new KPI dashboard request? Or is this an iteration? Please check the corrrect response.
- [ ] New dashboard
- [x] Iteration of current dashboard

## Description
### Iteration 1:
**Iterate on the `How Veterans are viewing vaccine content` section.**
- [x] Change the section title to `What vaccine topics Veterans are interest in`
- [x] Change

[2020-12-18 18:00] MarciMcGuireGCIO commented on #14112
@johnhashva given the above ^^ any objection to my converting this issue to a discovery item so that we can properly size the effort, and weight that against ROI before proceeding further?

[2020-12-18 18:02] cohnjesse opened #17730 "Scaffold component structure for Search form"
`Review LH call responses, review mockups ahead of larger iteration`

## Goal
In order to begin building the POA Search according to the mockups we need to first scaffold out any components that will be needed. These scaffolds do not need to include any logic, as that will be added in separate tickets, but it should reflect the basic structure the app architecture will follow. For the POA Search i

[2020-12-18 18:06] johnhashva commented on #14112
@MarciMcGuireGCIO no objection.

[2020-12-18 18:08] tressaellen commented on #17307
We met with @Samara-Strauss and landed on this. We still have some details to figure out around prescriptions. Next steps will be to design for each state of each section (someone with no claims, someone with no upcoming appointments etc.)

![MyVA Frankenstein.jpg](https://images.zenhubusercontent.com/5dfa65bbbd078d1699e52294/5d1bb9e0-2e95-47a2-9189-12379823a8f2)

[2020-12-18 18:09] ddzz opened #17731 "Copy mismatch for View Payment History when there are no payments"
## What happened?
The [prototype](https://xd.adobe.com/view/5f609803-b045-428a-510e-1754e404af3e-2951/screen/338e991f-d104-4bf4-b040-ced7f18617a0/specs/) for the [View Payment History](https://staging.va.gov/va-payment-history/payments/) page includes a contact phone number, but this phone number does not appear on staging.

## Specs:
- Device: MacBook Pro
- Browser: Chrome
- Test User: vets.gov.u

[2020-12-18 18:10] theodur commented on #16480
@drorva I've added a [Content Loading Time](https://github.com/department-of-veterans-affairs/va.gov-team/pull/17415/commits/d4035bd41944a9f0ccc8038cd84c6f7d1eb9176c) metric to the documentation which consists of the _download and transformation_ time for the CMS export build, and the _download_ time for the GraphQL build. Since the GraphQL build is running queries and the CMS build has the extra

[2020-12-18 18:11] MarciMcGuireGCIO opened #17732 "Find a VA Form - Add 'Sort by Form last updated' feature"
## Add a 'sort by form last updated' function on modern forms search

**User story:** As an external user of VA forms - such as a state Veterans benefit agency or a Veterans claims agent service - I need to access the full list of VA forms by the most recent form updated date.

Today, by doing a null search, users are able to get the full list of forms. However, users are not able to view the form

[2020-12-18 18:17] ddzz opened #17733 "QA Feedback - Staging Review - "Your VA payment history" - eBenefits"
## VFS acceptance criteria
- [ ] Let VSP know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
-

## Feedback
- **Must** = the feedback must be applied
- **Should** = the feedback is best practice
- **Consider** = suggestions/enhancements

**Must:**

**Should:**
- Include a TestRa

[2020-12-18 18:17] 1Copenut commented on #17542
Thank you @bethpotts . I'll pick this up for review on the 28th of December. I'll be able to do a fast first pass in the preview environment, and will finish with additional screen readers in production after you launch.

[2020-12-18 18:27] joanneesteban commented on #17049
Closing this issue. Additional Vaccine dashboard work will be on #17729

[2020-12-18 18:27] #17049 closed

[2020-12-18 18:27] #17050 closed

[2020-12-18 18:29] mnorthuis commented on #17379
FYI, there is no IA feedback in regards to this tool, however this issue does not include the static content page or entry point work needed to support the tool, so that work needs to be validated before this goes live to users to ensure that all navigation components (nav and breadcrumbs) and the user flow are accurate.

[2020-12-18 18:29] joanneesteban commented on #16348
Additional vaccine interest iterations to the dashboard to be tracked in #17729 . Thanks for the support, here, @JasonTheBearded & @bsmartin-ep !

[2020-12-18 18:29] #16348 closed

[2020-12-18 18:37] rroueche commented on #17458
Thanks @joanneesteban! Could you add information about your intake approval process for granting access to BigQuery, into the BigQuery documentation you already started? (This can be a separate issue, and is not urgent. We actually may want an epic for BigQuery ATO, bc there will be little questions like this that come up for your team as we attempt to get all the info over for approval)

[2020-12-18 18:37] bessgreen opened #17734 "Update a11y for Claims Alert & Step Table"
## Accessibility Acceptance Criteria

1. Everything on the page should be read by the screen reader.
     - If anything is being conveyed visually only (buttons, menu items, list, tables, images, headings, forms, etc) the component type needs to be announced by the screenreader. (Include name (title), role, value)
2. Each page should support text resizing based on the OS font scaling settings with

[2020-12-18 18:38] mmiddaugh commented on #17127
Privacy and security review was conducted on 12/18 and all feedback has been addressed.

[2020-12-18 18:38] #17127 closed

[2020-12-18 18:38] JasonTheBearded commented on #17726
@bsmartin-ep for capturing the auth difference should I be looking at the event actions for 'www.va.gov/health-care/covid-19-vaccine/stay-informed/form/' and 'www.va.gov/health-care/covid-19-vaccine/stay-informed/form?postlogin=true'?

[2020-12-18 18:39] jhouse-solvd commented on #17668
@dillo - Thanks for creating the issue for us. Can you give us an idea as to how soon these keys will be needed to support for the Clipboard Questionnaire app in integrating with Lighthouse PGD?

[2020-12-18 18:39] jason-gcio commented on #17379
@mnorthuis - do you mean the landing page?
https://staging.va.gov/va-payment-history/

[2020-12-18 18:43] allison0034 opened #17735 "Design Feedback - Staging Review - "Your VA payment history" - eBenefits"
## VFS acceptance criteria
- [ ] Let VSP know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
-

## Feedback
- **Must** = the feedback must be applied
- **Should** = the feedback is best practice
- **Consider** = suggestions/enhancements

**Must:**
- Add a top border to the table

[2020-12-18 18:44] mnorthuis commented on #17379
correct...I'm going to move the above comment to a feedback ticket.

[2020-12-18 18:45] luke-gcio commented on #17727
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/disability/disability-compensation-claim/bdd/form526_12.18.2020.xsd

[2020-12-18 18:45] jbritt1 opened #17736 "Make Room in vagov-utility VPC subnets for EKS cluster"
## Issue Description
In order to have an EKS cluster in vagov-utility, we will need more available IP addresses in one or more existing subnets (1a and 1b in particular). Currently there is a `1c` subnet that was created long after the VPC, but is still a bit under-utilized. We will have to shuffle some deployments around to balance the IP addresses being used / available.

Background:

- Tools li

[2020-12-18 18:49] mnorthuis opened #17737 "IA Feedback - Staging review - VA payment history"
## VFS acceptance criteria
- [ ] Let VSP know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
-

## Feedback
- **Must** = the feedback must be applied
- **Should** = the feedback is best practice
- **Consider** = suggestions/enhancements

**Must:**
FYI, there is no IA feedback in

[2020-12-18 18:49] SKasimow opened #17738 "<product/initiative/feature> x Release plan"
## Acceptance Criteria
- [ ] Make a copy of the [release plan template](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/product-management/release-plan-template.md) and add to the respective product folder
- [ ] Complete release plan for launch

## How to configure this issue
- [ ] **Attach to appropriate Epic**
- [ ] **Labeled with Team**

[2020-12-18 18:55] #16167 closed

[2020-12-18 18:56] Mottie commented on #16210
Hi @peggygannon!

These updates are now available in staging.

[2020-12-18 18:56] MarciMcGuireGCIO commented on #14112
Changing AC for this issue to capture discovery criteria only.  Other AC related to the actual solution has been captured in https://github.com/department-of-veterans-affairs/va.gov-team/issues/17732.

[2020-12-18 18:58] Samara-Strauss opened #17739 "[BE] Profile: Are we sending deprecated IDs to VA Profile?"
## Background

[Erik made the following comment in Slack](https://dsva.slack.com/archives/C909ZG2BB/p1608220731228000?thread_ts=1608216577.222500&cid=C909ZG2BB):

This came out of some investigation we were doing into why error counts were so high. As a result, we have a few questions:

- Why we are sometimes sending deprecated IDs to VA Profile?
- Is this a larger identity issue? And, if so, do w

[2020-12-18 18:59] jason-gcio commented on #17737
Here is the link to the landing page: https://staging.va.gov/va-payment-history/
We have a flipper component for this landing page that manages traffic to the new tool vs the old EBN one.

[2020-12-18 19:04] joshkimux opened #17740 "508-defect-3 [COGNITION]: Links SHOULD be written as links OR Buttons SHOULD be styled as buttons"
# [508-defect-3](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-3)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2020-12-18 19:08] SKasimow opened #17741 "Release plan | Translations | Spanish | Corona FAQs"
## Acceptance Criteria
- [x] Make a copy of the [release plan template](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/product-management/release-plan-template.md):

See: [https://app.zenhub.com/files/133843125/a2bf0d4d-cbf3-4299-a02a-5e1eee152a09/download](https://app.zenhub.com/files/133843125/a2bf0d4d-cbf3-4299-a02a-5e1eee152a09/download)

- [x] Complete rele

[2020-12-18 19:09] cohnjesse opened #17742 "Add basic logic to search form"
# Goal
Now that the basic structure has been set up for POA Search we need to begin adding the logic that will drive the functionality. This ticket is to add logic to the POA Search form component. The logic should only cover the scope of the following user story

## User Story
As a Veteran, I want to be able to specify the parameters by which I am searching for a POA so that I can find the best P

[2020-12-18 19:14] cohnjesse opened #17743 "Add Pagination for Search Results"
## Goal
We need to sync this in staging with what we have in design and then paginate results.

## User Story
As a Veteran, I want to see the results of my POA search so that I can determine which POA I want to go with

## Considerations
This functionality will require logic to do the following steps:

- [x] Search data is iterated over and each result is passed to the search result component
- [x

[2020-12-18 19:14] lunascoop commented on #17646
@RLHecht These pages are ready for review

- Should I refile my TSGLI claim if I think I’m entitled to more money?: http://preview-prod.vfs.va.gov/preview?nodeId=15061 (Here's the link to the TSGLI contact info @bethpottsVADEPO: https://www.benefits.va.gov/INSURANCE/forms/SGLV-8600_ed2013-06.pdf)
- Deciding how much life insurance to get: http://preview-prod.vfs.va.gov/preview?nodeId=15060
- Life

[2020-12-18 19:17] cohnjesse opened #17744 "Initial Redux Code for API Calls"
# Goal
We use Redux to manage the state of our apps across VA.gov and since the POA Search will use data from any of various sources we need to build out the redux code to support that. This initial build of the Redux code does not have to use live data if none is available yet, we can hard code mock data for the time being if needed.

## Tasks
- [x] Set up Action(s) file for POA Search
- [x] Set

[2020-12-18 19:21] #17738 closed

[2020-12-18 19:29] dginther opened #17745 "Create a Github Repo, ECR repo, and RDS database for the Identity Team's Test User Dashboard project."
## Issue Description
The Identity team is setting up a "test user dashboard" and will need a place to put their code, as well as a database to store the data in.
There will be a single database and application accessed via SOCKS proxy at this time.
We will host the application in an EKS cluster in either the staging or utility VPC.
We may need to assist with CircleCI/release management

---
## Tas

[2020-12-18 19:32] #17464 closed

[2020-12-18 19:33] joshkimux commented on #16047
@peggygannon flagging this again since it's popped up in this review too. Are you familiar with the process of updating this component's content across all forms?

## Current
<img width="667" alt="Screen Shot 2020-12-18 at 2 32 15 PM" src="https://user-images.githubusercontent.com/14154792/102654041-e70afe80-413d-11eb-8921-2114dd283842.png">

## Proposed
<img width="637" alt="Screen Shot 2020-12-1

[2020-12-18 19:35] SKasimow commented on #16923
@youngfreezyVA - can you close this?

[2020-12-18 19:40] shiragoodman commented on #17660
scheduled for 1/6/2021 at 11:30 am ET

[2020-12-18 19:41] jason-gcio commented on #17737
Can I call you?

[2020-12-18 19:47] kelsonic commented on #16915
PR is up for this 🙂 should be merged by EOD, able to validate on Monday

[2020-12-18 19:50] #16791 closed

[2020-12-18 19:50] #16923 closed

[2020-12-18 19:56] holdenhinkle commented on #16645
## Cypress tests that have failed in CI recently

Appear to have been resolved:
- `src/applications/healthcare/list/tests/e2e/02.bread.crumbs.cypress.spec.js`
- `src/applications/find-forms/tests/e2e/00-required.cypress.spec.js`
- `src/applications/facility-locator/tests/e2e/mobile.cypress.spec.js`

Might have been resolved (this test is flaky locally):
- `src/applications/personalization/profile/

[2020-12-18 19:58] srsuddath commented on #16965
Downshift component has been implemented, reviewed, and iterated over. ready to close this ticket

[2020-12-18 19:59] erikphansen commented on #17625
Closing this since Sandra merged in her fix. Will make a new ticket if 301s pop up again.

[2020-12-18 19:59] #17625 closed

[2020-12-18 20:05] srsuddath commented on #16965
This issue has been resolved and we are clear to launch on Monday, see slack thread : [slack](https://dsva.slack.com/archives/C011K1VSTC3/p1608320422293600?thread_ts=1608308729.281300&cid=C011K1VSTC3)

[2020-12-18 20:05] #16965 closed

[2020-12-18 20:05] #13343 closed

[2020-12-18 20:06] srsuddath commented on #13343
Now that the launch blocking issue has been rectified, this issue can be closed.

[2020-12-18 20:06] srsuddath commented on #17704
Now that the launch blocking issue has been rectified, this issue can be closed.

[2020-12-18 20:06] #17704 closed

[2020-12-18 20:07] srsuddath commented on #17181
All issues have been resolved from the staging review!

[2020-12-18 20:07] #17181 closed

[2020-12-18 20:08] holdenhinkle commented on #16645
PR for refactoring Cypress tests that either fail in CI or fail locally - https://github.com/department-of-veterans-affairs/vets-website/compare/16645_refactor_flakey_cypress_tests

Commands to run these locally, one at a time in headless mode:
- ` yarn cy:run --spec "src/applications/facility-locator/tests/e2e/mobile.cypress.spec.js"`
- `yarn cy:run --spec "src/applications/gi/tests/e2e/00-requir

[2020-12-18 20:09] srsuddath commented on #16944
@joshkimux Can you go ahead and close this ticket for me, so I can keep moving forward

[2020-12-18 20:11] srsuddath commented on #16914
All review work was completed by @joshkimux and any issues uncovered have been resolved!

[2020-12-18 20:11] #16914 closed

[2020-12-18 20:11] kristenmcconnell commented on #15535
I met with 10 research participants: 8 Veterans, one caregiver, and one service member/medical professional.

[2020-12-18 20:13] srsuddath commented on #17106
Staging review is complete, we have received the green light for phased roll out! closing this ticket!

[2020-12-18 20:13] #17106 closed

[2020-12-18 20:17] srsuddath commented on #13494
Waiting on a final PR which should be merged this afternoon, then @jonwehausen can review and we can finally close this ticket!

[2020-12-18 20:26] digitalken commented on #17295
Added to TestRail.

[2020-12-18 20:28] Samara-Strauss commented on #17625
Great, thanks! I'll check back in on the analytics on Monday.

[2020-12-18 20:29] starlow00 commented on #17681
@jwoodman5 , drafts with suggestions attached. Questions, let me know!
[https://app.zenhub.com/files/133843125/7fc70621-9c0a-475c-bac0-8a02144c29cf/download](https://app.zenhub.com/files/133843125/7fc70621-9c0a-475c-bac0-8a02144c29cf/download)

[https://app.zenhub.com/files/133843125/4511f9c3-3285-47f8-aa06-a7d155446d81/download](https://app.zenhub.com/files/133843125/4511f9c3-3285-47f8-aa06-a7d15

[2020-12-18 20:31] digitalken commented on #17322
Added to TestRail.

[2020-12-18 20:33] mmiddaugh opened #17746 "[DISCOVERY] Evaluate viability of dynamic solution code for VAMC side nav"
## Issue Description
A solution was found to dynamically add FACILITY_MENU_NAMES so the side nav component would be included in new facility builds (rather than using the previous method of hardcoding). A dynamic method is needed to support the increasing volume of new VISNs that are onboarding. The PR had to be rolled back due lack of network access to the Drupal API, causing the builds to fail.

[2020-12-18 20:35] mnorthuis commented on #17737
Per our conversation, just let me know once the Public Websites team has implemented the flipper on the static page and published it.  Thank you!

[2020-12-18 20:35] srsuddath commented on #16287
This work has been completed, and the R&S pages can be viewed on the sitemap at https://www.va.gov/sitemap.xml

[2020-12-18 20:35] #16287 closed

[2020-12-18 20:44] #17002 closed

[2020-12-18 20:50] dillo commented on #17668
@jhouse-solvd I'd like the **shared** keys as soon as possible since this will enable development work to continue without being blocked. The production key generation can be done at a future date that's deemed appropriate by both the Health Care and Lighthouse teams.

[2020-12-18 20:51] jonwehausen commented on #15196
Connected with @kelsonic on the above fix, PR on the way

[2020-12-18 20:53] rroueche commented on #17458
Thanks Jason! I'm assigning this issue now to @fowusu2 so she can add a few more technical details to the diagram, and then we can close this issue out. Thanks team!

[2020-12-18 20:55] kelsonic commented on #15196
PR is up: https://github.com/department-of-veterans-affairs/vets-website/pull/15437

[2020-12-18 20:56] #15535 closed

[2020-12-18 20:58] shiragoodman commented on #17148
@MarciMcGuireGCIO per your last comment, if you don't think the Usability Testing Prep is needed, ok. However, I would highly recommend and encourage you to reach out to Lauren Alexanderson (per the Research Plan Review) since you are planning to test with Veterans. She can assist with that.

[2020-12-18 20:59] jenniferlee-dsva commented on #17720
Sure! (I thought Brian had already added you, sorry.)

[2020-12-18 20:59] erluti opened #17747 "Document "Majestic Monolith" design goals"
Dror has requested we create a document that explains how/why vets-api would benefit from using the "Majestic Monolith" design pattern.  The main concerns are "what do we get?" and "what do we lose?"  How does this set us up for the goal of supporting 50 VFS teams?

### questions this should answer
* How does modularization support code isolation?
* How do engines provide code isolation?
* What ar

[2020-12-18 21:01] caw310 opened #17748 "Normalize of the behaviors of confirmation page"
## Issue Description
This issue is a follow up from a DC meeting about Print styling for confirmation page (#197). Decision was made for DST to normalize the behaviors of confirmation page, and define content guidelines for success page (include errors )

---
## Tasks
- [ ] Audit existing confirmation pages
- [ ] Define behavior of confirmation pages
- [ ] Define content guidelines
- [ ] Write up

[2020-12-18 21:02] caw310 commented on #17748
This is the ticket that was discussed in DC meeting for reference.
https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/197

[2020-12-18 21:04] jwoodman5 commented on #17681
Awesome. Thank you, @starlow00!

[2020-12-18 21:07] joshkimux commented on #16222
@Mottie added a new acceptance criteria for the error to be read out upon attempting to continue. Also added `aria-describedby` to the fieldset to associate the error of not making a selection to the fieldset as a whole.

[2020-12-18 21:08] caw310 opened #17749 "Normalize print style for for print this page"
## Issue Description
This issue is a follow up from a DC meeting about Print styling for confirmation page (#197). Decision was made for DST to do an audit and define a print style for print this page.

---
## Tasks
- [ ] Audit existing print this page style
- [ ] Define behavior of print this page
- [ ] Write up guidelines

## Acceptance Criteria
- [ ] Audit is complete
- [ ] A pattern / norm is

[2020-12-18 21:08] caw310 commented on #17749
This is the ticket that was discussed in DC meeting for reference.
https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/197

[2020-12-18 21:08] #17432 closed

[2020-12-18 21:09] mpeterz commented on #17262
Just a heads-up to @bmcgrady-ep and @jonwehausen that @aryeh-usds will be the point of contact for this while I'm out Dec 21 to Jan 1. Thanks so much!

[2020-12-18 21:09] #17323 closed

[2020-12-18 21:09] jwoodman5 commented on #17681
@jason-gcio The contact center team review is complete and suggestions are noted two comments above. I see the acceptance criteria mentions the Analytics & Insights team which is now separate from the contact center team. Do you mind if I update the A/C to reflect? Thanks.

[2020-12-18 21:13] mbmasuda commented on #16718
I got the response from OEHRM's Acting Director of Migration and Syndication Dr. Augie Turano.  Dr. Turano said that the VA's new EHR is rolling out to the 130 VAMCs but is planned to take until 2028 to get it to all of them.  The new EHR should have a better way to find the ICD codes than CPRS.

I wrote back to suggest a standalone lookup API that can be used by anyone (within VA or not) to decou

[2020-12-18 21:13] #16718 closed

[2020-12-18 21:39] 1Copenut commented on #13343
Thank you all for the hard work and quick turnaround on this issue!

[2020-12-18 21:46] cmaeng commented on #17724
Confirmed with the user that once published, it incorrectly shows as 9:00am EST on the Event List and Event Detail pages, even though the content in CMS is 9:00am Philippine time.

FE event list page: https://www.va.gov/outreach-and-events/events
![image](https://user-images.githubusercontent.com/60702623/102664248-57bb1680-4150-11eb-94b7-22f5d75484eb.png)

FE event detail page: https://www.va.gov

[2020-12-18 21:48] joanneesteban opened #17750 "Answer Questions for BigQuery ATO"
## Product Outline
[Link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/platform/data-warehouse/data-warehouse-product-outline.md)

## High Level User Story/ies
As a VSP Analytics & Insights team member, I need BigQuery to complete ATO so I can use the data warehouse to connect multiple sources of data.

## Hypothesis or Bet
**If** _we collect documentation and

[2020-12-18 21:51] joanneesteban commented on #17458
Thanks! Added this to a new [BigQuery ATO epic](https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/17750) so we can track this work.

[2020-12-18 21:54] joanneesteban opened #17751 "Document BigQuery intake approval process."
## Issue Description
Document the intake approval process for granting access to BigQuery.

---
## Tasks
- [ ] Create documentation for BigQuery's intake approval process

## Acceptance Criteria
- [ ] Faith & DEPO have finalized documentation for BigQuery access information

[2020-12-18 21:58] cmaeng opened #17752 "Offboarding of Daniel Miller"
# Instructions
Fill out name of individual and *Description* section below.

# Description
- Please provide the name of the individual needing offboarded.

- Please provide the name of their team, their role on that team, expected last day, and the name of the company they work for.

- Please provide any type of access they may have and their GitHub username.

## AC
 - [x] Remove global/config.yml

[2020-12-18 22:23] jason-gcio commented on #17681
Sure thing, go for it @jwoodman5!
Thanks for the feedback, glad to have your sets of eyes on this.  Here is the revised version:
[Contact-Center-Product-Guide-CH36_v12182020.pdf](https://github.com/department-of-veterans-affairs/va.gov-team/files/5718347/Contact-Center-Product-Guide-CH36_v12182020.pdf)

[2020-12-18 22:25] 1Copenut opened #17753 "Accessibility Feedback - Design Intent - View your representative for VA claims"
## VFS acceptance criteria
- [ ] Let VSP know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
-

## Feedback
- **Must** = the feedback must be applied
- **Should** = the feedback is best practice
- **Consider** = suggestions/enhancements

**Must:**

**Should:**

**Consider:**

##

[2020-12-18 22:25] Mottie commented on #16222
Actually adding the `aria-describedby` attribute to the `fieldset` would require platform code changes 😿

[2020-12-18 22:26] mnorthuis opened #17754 "IA Feedback - Staging review - Ch36/PCPG"
## VFS acceptance criteria
- [ ] Let VSP know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
-

## Feedback
- **Must** = the feedback must be applied
- **Should** = the feedback is best practice
- **Consider** = suggestions/enhancements

**Must:**
FYI, there is no IA feedback in

[2020-12-18 22:36] mmiddaugh opened #17755 "Location and Contact section of Facility Health Services is not to design spec"
## Issue Description
Location and Contact section of Facility Health Services is not to design spec.
When viewed on [Staging](https://staging.va.gov/pittsburgh-health-care/locations/pittsburgh-va-medical-center-university-drive/), some aspects of the design/UI implementation have deviated from the design spec.

**Extra padding/spacing between address lines (p tags) and between subsets of info**

<

[2020-12-18 22:37] jason-gcio commented on #15496
Request and artifacts are here: https://github.com/department-of-veterans-affairs/va.gov-team/issues/17681

[2020-12-18 22:37] #15496 closed

[2020-12-18 22:47] callen2563 commented on #17307
@Samara-Strauss @rtwell @sshein @tressaellen

Hi Samara,
Tressa and I just finished up defining the use cases of the status updates. We kept the prescription section simplistic for V1, some of the details are still subject to change in that section. Next steps when we get back from break will be to edit these and evaluate how to add in the additional links that you mentioned in slack. From there w

[2020-12-18 22:50] bmcgrady-ep commented on #17720
Hi @jenniferlee-dsva - Confirming receipt. Should I include Learning Center in the title of the KPI dashboard?

[2020-12-18 22:57] jason-gcio commented on #17754
- Static content page for PCPG that includes link to new online form
  - [eBenefit's flipper ticket](https://github.com/department-of-veterans-affairs/va.gov-team/issues/13129) for the main CH36 landing page, installed by PubWeb [here](https://github.com/department-of-veterans-affairs/va.gov-team/issues/13905)
- Left nav link in Careers to "apply now" for ch36
  - [Ticket for that work](https://gi

[2020-12-18 22:59] outerpress commented on #16519
@laurenernest this should be gtg, at least for V1. I figure we should consider V2 as a separate ticket after we get user feedback on V1.

[2020-12-18 23:02] msmanak commented on #17563
![Slice.png](https://images.zenhubusercontent.com/5faabf11b099434179a66d66/97dc8fe9-c915-4f3e-ac73-462e6eebc966)

For @bridgethapner review

[2020-12-18 23:03] desireeturner opened #17756 "CT Redesign: InVision Alignment & SOP"
Collaborate with developers to identify optimal use of InVision Inspect
Figure out whether to add team members to existing team or create new space, or 3rd unspecified option
Identify options for contractor access, if possible
Document general use guidelines in team Confluence for posterity

[2020-12-18 23:04] desireeturner opened #17757 "CT Redesign: Deliverable Prep"
Work with Leads to identify visuals to enhance  discovery deliverable
Create visuals
Gather feedback
Refine visuals

[2020-12-18 23:05] desireeturner opened #17758 "CT Redesign: Features Follow-up"
Identify outstanding questions on features & work with team and EDU to unearth resolutions

[2020-12-18 23:05] desireeturner opened #17759 "CT Redesign: UX Solution Working Session - LP & SRP"
UXers review concepts & inputs Discuss pros/cons
Identify any outstanding ""discovery"" questions blocking any solutions

[2020-12-18 23:06] desireeturner opened #17760 "CT Redesign: UX Solution Working Session - Follow-up"
Investigate any outstanding issues, get answers to key questions or identify who can provide answers

[2020-12-18 23:07] desireeturner opened #17761 "CT Redesign: Search Solution - Concepts Prototyping"
Draft solution concepts
Discuss options w UX team
Update / refine

[2020-12-18 23:08] desireeturner opened #17762 "CT Redesign: Compare Solution - Concepts Prototyping"
Draft solution concepts
Discuss options w UX team
Update / refine

[2020-12-18 23:08] #15843 closed

[2020-12-18 23:16] larrywest52 commented on #17451
All pages finalized and moved to our team's Google Drive.

[2020-12-18 23:23] digitalken opened #17763 "Common component - Capitalization error"
## What happened?
According to designs, Claim Received should be Claim received with a lower case 'r'.
Initial Review should be Initial review with a lower case 'r'.

See screen shots.

## Specs:
See screen shots.

## Steps to Reproduce
n/a

## Desired behavior
Should match designs.

## Acceptance Criteria
See screen shots.

## Bug severity
- 4 - low

## Linked story
https://app.zenhub.com/workspa

[2020-12-18 23:24] cvalarida commented on #17593
Took me a little while to think through the question of when to run this. What I came up with is the following

# The problem
`style.css` is used for site-wide styles, both on static pages and in React applications. To purge unused styles, we need to have access to both the HTML from the content build and the JS from the application build.

# The solution
Make each build (content & application) re

[2020-12-18 23:24] bethpottsVADEPO commented on #15088
@RLHecht Please copyedit the changes I made outlined in tasks 2 and 5 above. Then set to publish. Thanks!

[2020-12-18 23:24] digitalken commented on #17295
Passing with a minor capitalization bug. 12/18/2020 Moving to Design QA.

https://app.zenhub.com/workspaces/va-mobile-app-5f205eac3155a2000f422ecb/issues/department-of-veterans-affairs/va.gov-team/17763

[2020-12-18 23:27] digitalken commented on #17322
PASS 12/18/2020. Moving to design QA.

[2020-12-18 23:35] outerpress commented on #16093
@laurenernest here's that alert state.

Another way we could go is letting them enter provider info manually - if there's a less painful way to do it than the current experience. Like if it was just entering the provider's name and city/state in one or two form fields.

![VAOS-CC-NOADDR-02.png](https://images.zenhubusercontent.com/5f7ce3163782a585b910eaf3/7a864537-f1f0-465f-9d9c-be6f5f66c64e)

[2020-12-18 23:41] #13520 closed

[2020-12-18 23:42] #16597 closed

[2020-12-18 23:42] #17048 closed

[2020-12-18 23:43] #17029 closed

[2020-12-18 23:43] #17039 closed

[2020-12-18 23:44] #17040 closed

[2020-12-18 23:45] #17047 closed

[2020-12-18 23:45] #17041 closed

[2020-12-18 23:52] bessgreen opened #17764 "Data-driven info on Benefit Summary Letter page does not match .PDF content"
## What happened?
On the Benefit Summary & Service Verification Letter page, the data-driven ListItems do not match the data that appears in the .pdf download. Data-driven ListItems include:
     - Discharge type (this one matches the .pdf - "Honorable" - but may be coincidental)
          - Letter overview page: Honorable
          - .PDF: Honorable
     - Active dusty start:
          - Letter o

[2020-12-19 00:26] joshkimux opened #17765 "508-defect-1 ❗ Launchblocker [SEMANTIC MARKUP, COGNITION]: Grouped radio buttons MUST share a name"
# [508-defect-1 :exclamation: Launchblocker](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-1)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and a

[2020-12-19 00:36] joshkimux commented on #16224
@kevinstachura @Mottie @luke-gcio This page will most likely require a meeting for us to talk through as it's a bit complicated. Topics would include:

- Splitting up the page itself into two separate fieldsets OR moving the "same office" checkbox to its own separate page
- How to handle screen reader experience for the "same office" checkbox
- Ways to move forward with the error alert in consider

[2020-12-19 03:04] jsev-io commented on #14954
Credentials Provided

[2020-12-19 03:04] #14954 closed

[2020-12-19 21:30] joshkimux commented on #17765
@Mottie thanks for getting this fixed so quickly! This one is good to go!
<img width="473" alt="Screen Shot 2020-12-19 at 4 30 05 PM" src="https://user-images.githubusercontent.com/14154792/102700011-759f7e80-4217-11eb-8a89-9dad274e9aca.png">

[2020-12-19 21:30] #17765 closed

[2020-12-19 21:50] joshkimux commented on #16224
Some more context for that discussion below:

<img width="1792" alt="Screen Shot 2020-12-19 at 4 46 17 PM" src="https://user-images.githubusercontent.com/14154792/102700303-44747d80-421a-11eb-9d1e-2af128bdfb9a.png">

<img width="1075" alt="Screen Shot 2020-12-19 at 4 48 15 PM" src="https://user-images.githubusercontent.com/14154792/102700304-48080480-421a-11eb-89d8-d7955dc3e27a.png">

[2020-12-19 21:55] Mottie commented on #17740
Since interacting with "go back and answer questions" doesn't change the page URL, I thought it would be best to make it a button. All it does is clear a value within the `sessionStorage`. From my understanding, links (`a` tags) should take the user to a new page, and buttons should cause an action. If you think it needs to be an `a` link, then I can change it.

[2020-12-19 21:59] joshkimux commented on #17740
@Mottie Ohhh, I didn't notice that. Thanks for pointing that out! That's tricky then because the _signifier_ (the text itself) is telling the user that this is a link, yet the actual behavior and semantic affordance matches a button.

In this case, I still think we should still make it an `a`, because we should default to the user's mental model, not the system's. I've observed in the wizard resea

[2020-12-19 22:08] Mottie commented on #17740
So, because the action is to clear the `sessionStorage`, if I changed it to a link then I could set the `href` back to the introduction page (instead of the usual `#`), but then I would have to prevent it from reloading the page... I mean I guess it's okay if it actually does reload the page - I think some of the other wizards do that - but I didn't think it was necessary. Preventing it from worki

[2020-12-19 22:19] joshkimux commented on #17740
This is all good context. Let me get back to you on this. I'm curious to understand the original design intent a bit more. Also curious to get @1Copenut 's thoughts on this too.

[2020-12-19 23:14] Mottie commented on #17740
Here is the IA flow documentation - https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/information-architecture/ia-reviews/websites-apply-wizard.md#userpage-flows-

And the design - https://vsateams.invisionapp.com/share/W5U21BDFTQK#/screens/404076958

Neither explicitly says that the wizard and the introduction page content have to be on the same URL, but unlike HL

[2020-12-20 21:24] joshkimux commented on #17740
Thank you for sharing this! The IA flow documentation states "When the user clicks this option, it should function like the browser 'Back' button - they should be returned to the original /introduction page with the wizard completely reset (i.e. their previous answers are cleared)." In which case, reloading the page would match the original (at least written) intent.

Since I didn't design the wiz

[2020-12-20 21:47] joshkimux commented on #16224
I need to dig around a bit more as Safari/Voiceover announces the error + "and one more item, group" which may be related to this conversation.

<img width="782" alt="Screen Shot 2020-12-20 at 4 40 28 PM" src="https://user-images.githubusercontent.com/14154792/102725187-ccbe5580-42e2-11eb-9dbc-8fe57de86bc1.png">

[2020-12-20 22:27] joshkimux opened #17766 "Fully deprecate Wizard pattern - sitewide 508-defect-1 ❗ Launchblocker [KEYBOARD]: Radio options MUST be navigable using the keyboard"
# [508-defect-1 :exclamation: Launchblocker](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-1)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and a

[2020-12-20 23:01] joshkimux opened #17767 "508-defect-3 [COGNITION]: Links should not be styled as other buttons on the page"
# [508-defect-3](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-3)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2020-12-20 23:09] joshkimux commented on #16047
@luke-gcio Would we be able to explore alternative ways of handling reviewing information for this page? The mobile experience in particular may be particularly difficult.

https://user-images.githubusercontent.com/14154792/102726641-63dcda80-42ee-11eb-9eb9-1c41425822e4.mov

[2020-12-21 12:35] delli-gatti-michael commented on #14424
local testing complete

[2020-12-21 13:26] desireeturner opened #17768 "STEM AD: Store application with applicant identifier"
As a developer, I need to store the form 22-10203 details on VA.gov for business logic to determine routing for future submissions.

## Assumptions:
1. This work is to be completed behind the feature flag `stem_automated_decision`.

## Acceptance Criteria
1. A table is created to store form 22-10203 submissions of VA.gov authenticated users.
2. Form details are stored in encrypted format.
3. Appli

[2020-12-21 13:27] desireeturner opened #17769 "STEM AD: Delete stale applications"
As a developer, I need to delete form 22-10203 applications, so they are no longer processed.

## Assumptions:
1. Form submission storage includes the form submission and data saved as part of #17768.
2. DEPO has approved storage solution.

## Acceptance Criteria
1. This story is completed behind feature flag `stem_automated_decision`.
2. Form 22-10203 application submissions with a `processed_at`

[2020-12-21 13:28] desireeturner opened #17770 "STEM AD: Email Applicant 10203 Decision Ready"
As a STEM applicant, I need to be notified when a decision has been made regarding my application for the STEM scholarship so that I can review the details of the claim..

## Assumptions:
1. This story is completed behind feature flag `stem_automated_decision`.
2. A preview version is available at [http://localhost:3000/rails/mailers](http://localhost:3000/rails/mailers) that either uses fake data

[2020-12-21 13:29] desireeturner opened #17771 "STEM AD: Queue solution"
As a developer, I need to create a job to process form 22-10203 for automated decision, so that form are processed during EVSS service uptime hours.

## Assumptions:
1. This work is completed behind a feature flag as outlined in AC1.
2. The job being referenced here is a sideqik job.
3. For unauthenticated users, the submission is not added to the automated denial queue.

## Acceptance Criteria
1.

[2020-12-21 13:30] desireeturner opened #17772 "STEM AD: TIMS Work"
As a developer, I need to create a new TIMS doc type and corresponding spool file to record a permanent record of the STEM automated decision.

## Assumptions:
1. The new TIMS doc type name has been socialized and approved by the TIMS team.

## Acceptance Criteria
1. The new doc type "10203DNY" is created and supported in vets-api.
2. A spool file is created to support the new doc type.
3. The spo

[2020-12-21 13:30] MarciMcGuireGCIO commented on #17148
Thank you, Shira!  Will do!

[2020-12-21 13:30] desireeturner opened #17773 "STEM AD: Add POA to 10203 Spool Documents"
As a VCE, I need to be notified when the applicant has a POA and is denied by automated decision, so I can notify the POA of the decision.

## Assumptions:
1. This work is completed behind a feature flag as outlined in AC1.

## Acceptance Criteria
1. This story is completed behind feature flag `stem_automated_decision`.
2. Power of Attorney (POA) field is added to table for [22-10203 form](https:/

[2020-12-21 13:52] #16927 closed

[2020-12-21 13:52] MarciMcGuireGCIO commented on #16927
Completed on 12/18/2020

[2020-12-21 14:23] DanielleThierryUSDSVA opened #17774 "Intro audits"
## Issue Description
Since the VA.gov relaunch in 2018, we've made some updates to our approach to intros on the page (the top paragraph on each page that appears in a larger font - see image below for example).

![image.png](https://images.zenhubusercontent.com/5e8b13016a4378a604f5e799/0914ac58-291f-4c82-a7a1-2b1b60990a74)

- We've worked to shorten our intros across new pages because usability r

[2020-12-21 14:23] #17579 closed

[2020-12-21 14:24] mshea0606 commented on #16507
Thanks @sanlouise !

[2020-12-21 14:25] DanielleThierryUSDSVA commented on #17774
Hi @3obryandogs. Please review this ticket and let me know if you have any questions.

@brianalloyd @RLHecht FYSA Current writing needs on the debt management site are winding down, so @bethpottsVADEPO and I have discussed having Susan work on some of our backburner needs such as auditing intros for length for a bit.

[2020-12-21 14:41] clantosswett commented on #15516
We have received approval from VEO and Joint Task Force. They are targeting to record this week.

[2020-12-21 14:43] jenniferlee-dsva commented on #16915
Thank you @kelsonic - will you add here or slack me the staging link where I can validate it?

[2020-12-21 14:48] JasonTheBearded commented on #17729
@joanneesteban @bsmartin-ep are we tracking scroll depth on the Vaccine Hub page? I'm not seeing any events for the page, www.va.gov/health-care/covid-19-vaccine/

[2020-12-21 14:48] RLHecht commented on #17723
@lunascoop Here's the ticket. Let me know if you have questions. I didn't add it into a sprint yet but we can once you've started working on it.

[2020-12-21 14:51] elder-joseph commented on #17374
Associated PR:

https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/vets-website/15438

[2020-12-21 14:53] DanielleThierryUSDSVA commented on #17169
Hi @RLHecht. Can we model content after existing sign-in modals like:

![image.png](https://images.zenhubusercontent.com/5e8b13016a4378a604f5e799/b1ea6a43-cfe2-4eb5-9ec8-fe02474b4d96)

![image.png](https://images.zenhubusercontent.com/5e8b13016a4378a604f5e799/b5ac8233-a651-41c3-b66f-181809d61348)

[2020-12-21 14:56] mshea0606 commented on #17552
Thanks @bmcgrady-ep !

[2020-12-21 14:57] johnhashva commented on #17648
I completed an initial build of a CLP for VA Solid Start (https://benefits.va.gov/transition/solid-start.asp).

The node ID is: prod.cms.va.gov/node/15068

I'm capturing questions/issues in this [shared doc here](https://docs.google.com/document/d/1s1nKP5pNp68SN6_euUeUX2aI5lfSfFNfynd-gFBRdJo/edit?usp=sharing).

[2020-12-21 14:59] jbalboni commented on #16093
I can check and see if we're required to provide the whole address on the backend. I don't think we are, but I'm don't remember for sure. If not, then providing just provider name, city, and state would be technically doable (or some other combination).

[2020-12-21 15:02] mshea0606 commented on #17530
@Samara-Strauss ok, yeah that makes sense.

[2020-12-21 15:02] Jeff-Hayter commented on #13495
@alexandervalencia I have not heard back from your COR regarding eQIP status.  If you have a copy of your eQIP acceptance email that can speed things along.

[2020-12-21 15:05] laurenernest opened #17775 "Facility Selection v2.2 - Move placement of facilities not listed"
## Issue Description
_What details are necessary for understanding the specific work or request tracked by this issue?_

---
## Tasks
- [ ] DESIGN - All desktop, tablet, and mobile designs match the specs: **_Link TBD_**

## Acceptance Criteria
- [ ] Update is behind feature flag

[2020-12-21 15:05] MarciMcGuireGCIO commented on #11625
Updated title since this is not an error message per se, but rather a message to inform the user that a form no longer exists in our database.

[2020-12-21 15:07] laurenernest commented on #16519
@outerpress Great! Do you have the InVision link to the spec that looks like the last screenshot in the comments?

Here's the dev placeholder for v2 #17775

[2020-12-21 15:09] Samara-Strauss commented on #17307
Thanks for this! I think this is most of the way there, but some tweaks are needed.

### Claims & appeals status

**A user who has multiple claims in progress**

- Is the CTA going to be "View 3 more updates?" If so, I think this could be confusing to users because it is unclear what "updates" means. And remember, regardless of what the updates are, we are going to link to the same place for all o

[2020-12-21 15:17] shiragoodman commented on #15055
@jason-gcio could you please follow up with us when this work launches in production? We'd like to verify the full flow at that time. Thanks!

[2020-12-21 15:18] RLHecht commented on #14282
I've archived this page. Will close ticket after today's deploy. FYSA @brianalloyd @mnorthuis

[2020-12-21 15:19] Jeff-Hayter commented on #16905
@jbritt1 Approved for AWS.

[2020-12-21 15:20] #17444 closed

[2020-12-21 15:26] #17547 closed

[2020-12-21 15:28] #16522 closed

[2020-12-21 15:34] RLHecht commented on #17169
@jason-gcio See Danielle's comment above. Can we please change the language in the widget to the following:

H3 Please sign in to view your VA payment history
Try signing in with your DS Logon, My HealtheVet, or ID.me account. If you don't have any of those accounts, you can create one now.

Then the button should be:
Sign in or create an account

[2020-12-21 15:46] joshkimux commented on #16222
@Mottie hmm, would it be possible to insert the error message within the legend itself?

[2020-12-21 15:47] RLHecht opened #17776 "Update URL on mental health services page to avoid broken link"
## Issue Description
A SiteImprove report showed that there was a broken link on our [VA mental health services page](https://www.va.gov/health-care/health-needs-conditions/mental-health/). The last link in the last accordion on the page was pointing to http://www.mentalhealthamerica.net/. MHA recently changed their URL to https://www.mhanational.org/ and the redirects weren't put in place yet.

W

[2020-12-21 15:48] RLHecht commented on #17776
This ticket was created after the work was done. Created for tracking purposes. Moving to validate and will close after deploy. FYSA @brianalloyd

[2020-12-21 15:49] timwright12 commented on #7953
Update:
All tests passing in Jenkins, merged into master
A placeholder in Circle has also been added to run a test hourly

To Do:
Move tests from Jenkins in to CircleCI
 - Link checker should work fine
 - nightwatch tests will need some work, but should be installed in the placeholder job that's set to run hourly on master (hourly-content-validation)

[2020-12-21 15:49] bmcgrady-ep commented on #17262
Thanks for the update @mpeterz!

[2020-12-21 15:57] joanneesteban commented on #17556
Hello! Checking in here to see if/where you might need support from VSP Analytics?

[2020-12-21 16:02] brianalloyd commented on #15196
Thanks @kelsonic and @jonwehausen for working these details, greatly appreciated.

[2020-12-21 16:03] brianalloyd commented on #16915
Thanks @kelsonic looking forward to reviewing.

[2020-12-21 16:04] brianalloyd commented on #17776
Thanks @RLHecht for putting in the ticket for tracking, much appreciated.

[2020-12-21 16:05] brianalloyd commented on #17251
Thanks @RLHecht great work.

[2020-12-21 16:05] Mottie commented on #17766
This requires changes to the platform code... It was a simple change in this PR - https://github.com/department-of-veterans-affairs/vets-website/pull/15443

[2020-12-21 16:05] #17576 closed

[2020-12-21 16:07] #13862 closed

[2020-12-21 16:07] #13885 closed

[2020-12-21 16:07] #13902 closed

[2020-12-21 16:07] #13950 closed

[2020-12-21 16:07] #14015 closed

[2020-12-21 16:07] #14163 closed

[2020-12-21 16:07] #14164 closed

[2020-12-21 16:07] #15200 closed

[2020-12-21 16:07] #15443 closed

[2020-12-21 16:07] #15445 closed

[2020-12-21 16:07] #15446 closed

[2020-12-21 16:07] #15988 closed

[2020-12-21 16:07] #13895 closed

[2020-12-21 16:07] #13907 closed

[2020-12-21 16:07] #14016 closed

[2020-12-21 16:07] #15442 closed

[2020-12-21 16:07] #13892 closed

[2020-12-21 16:07] #13894 closed

[2020-12-21 16:07] #13896 closed

[2020-12-21 16:07] #13897 closed

[2020-12-21 16:07] #14384 closed

[2020-12-21 16:07] #14706 closed

[2020-12-21 16:07] #15198 closed

[2020-12-21 16:07] #15441 closed

[2020-12-21 16:07] #13962 closed

[2020-12-21 16:07] #14714 closed

[2020-12-21 16:07] #15097 closed

[2020-12-21 16:07] #15444 closed

[2020-12-21 16:07] #15622 closed

[2020-12-21 16:07] #15946 closed

[2020-12-21 16:07] #15960 closed

[2020-12-21 16:07] #15989 closed

[2020-12-21 16:07] #15991 closed

[2020-12-21 16:07] #15995 closed

[2020-12-21 16:07] #13893 closed

[2020-12-21 16:07] #13940 closed

[2020-12-21 16:07] #13994 closed

[2020-12-21 16:07] #15058 closed

[2020-12-21 16:07] #15059 closed

[2020-12-21 16:07] #16132 closed

[2020-12-21 16:07] #13941 closed

[2020-12-21 16:07] #13947 closed

[2020-12-21 16:07] #13971 closed

[2020-12-21 16:07] #14725 closed

[2020-12-21 16:07] #14803 closed

[2020-12-21 16:07] #16349 closed

[2020-12-21 16:07] #16438 closed

[2020-12-21 16:08] jenniferlee-dsva opened #17777 "Test ideas for form detail landing pages to increase conversion, and increase SEO traffic"
## Test ideas for form detail landing pages to increase conversion, and increase SEO traffic

Now that the form detail pages have robust period of analytics data, it's a good time to start using the data to find ways we can improve the performance of these pages.

A couple of testing ideas for form detail landing pages. Looking at the history/archived data from Oct 12 - Dec 2, we can see that:

##

[2020-12-21 16:08] zurbergram commented on #17363
https://github.com/department-of-veterans-affairs/vets-api/pull/5555

[2020-12-21 16:09] 3obryandogs commented on #17774
Will do!

From: Danielle Thierry <notifications@github.com>
Sent: Monday, December 21, 2020 8:24 AM
To: department-of-veterans-affairs/va.gov-team <va.gov-team@noreply.github.com>
Cc: Susan O’Bryan <ObryanS@twd.com>; Assign <assign@noreply.github.com>
Subject: [department-of-veterans-affairs/va.gov-team] Intro audits (#17774)

Issue Description

Since the VA.gov relaunch in 2018, we've made some u

[2020-12-21 16:11] Mottie commented on #16222
Yes

[2020-12-21 16:13] SKasimow commented on #17741
@DanielleThierryUSDSVA Hi Danielle - can you review the link to the Release Plan and let me know if this looks ok?

cc: @youngfreezyVA

[2020-12-21 16:14] ala-yna opened #17778 "Research: Automate reporting on the 10-10CG"
## Product goals:
- Automate running the query
- Finding a better long-term storage solution
- How could individuals run the report themselves?

## Technical goals:

---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an Epic** (what body of work is this a part of?)
- [ ] **Labeled with Team** (`product support`, `analytics-insigh

[2020-12-21 16:29] #13864 closed

[2020-12-21 16:29] #13942 closed

[2020-12-21 16:29] #14155 closed

[2020-12-21 16:29] #14699 closed

[2020-12-21 16:29] #15074 closed

[2020-12-21 16:29] #15763 closed

[2020-12-21 16:29] #13995 closed

[2020-12-21 16:29] #15713 closed

[2020-12-21 16:29] #15714 closed

[2020-12-21 16:29] #15741 closed

[2020-12-21 16:29] #16046 closed

[2020-12-21 16:29] #16577 closed

[2020-12-21 16:29] #15738 closed

[2020-12-21 16:29] #15739 closed

[2020-12-21 16:29] #15742 closed

[2020-12-21 16:29] #15754 closed

[2020-12-21 16:29] #15761 closed

[2020-12-21 16:29] #16576 closed

[2020-12-21 16:29] #13958 closed

[2020-12-21 16:29] #13967 closed

[2020-12-21 16:29] #14477 closed

[2020-12-21 16:29] #15089 closed

[2020-12-21 16:29] #16424 closed

[2020-12-21 16:29] #16698 closed

[2020-12-21 16:29] #16699 closed

[2020-12-21 16:29] #16777 closed

[2020-12-21 16:29] #17129 closed

[2020-12-21 16:29] #17263 closed

[2020-12-21 16:29] #13966 closed

[2020-12-21 16:29] #16035 closed

[2020-12-21 16:29] #16706 closed

[2020-12-21 16:29] #16785 closed

[2020-12-21 16:29] #16790 closed

[2020-12-21 16:29] #17138 closed

[2020-12-21 16:29] #14707 closed

[2020-12-21 16:29] #14886 closed

[2020-12-21 16:29] #15439 closed

[2020-12-21 16:29] #16700 closed

[2020-12-21 16:29] #17185 closed

[2020-12-21 16:29] #17295 closed

[2020-12-21 16:29] #17322 closed

[2020-12-21 16:29] #17398 closed

[2020-12-21 16:29] #17599 closed

[2020-12-21 16:31] jenniferlee-dsva commented on #17777
Additional info/thoughts:

Because these pages are templated, I recommend first testing on 1 or 2 high traffic form landing pages. And then, based on test results, making FE template updates if warranted.

Another high traffic form page with a CTA tool is the 10-10CG. The tool launched only recently, so it has lower numbers than the 526, but it does have a tool and enough traffic to be able to run

[2020-12-21 16:34] jason-gcio commented on #15055
You bet!

[2020-12-21 16:34] johnhashva commented on #17678
@zacharymorel and @MarciMcGuireGCIO works for me.   To recap where we landed today:

- @MarciMcGuireGCIO to talk to Shira about how we get Josh Kim's time (ideally by Weds this week) to get his POV on the solution we prefer to implement (as recommended by @ncksllvn): _the Form name: needs to be wrapped in a tag expressing that it is text for screenreaders-only (because visually it is clear that it

[2020-12-21 16:37] MarciMcGuireGCIO commented on #17678
Thank you for the recap. I messaged Shawna (had her mixed up with Shira) already to request time from Josh.

[2020-12-21 16:40] mpelzsherman commented on #17366
Closing since @indytechcook is working on a [solution](https://github.com/department-of-veterans-affairs/va.gov-cms/issues/3805).

[2020-12-21 16:40] #17366 closed

[2020-12-21 16:41] zacharymorel commented on #16352
Self note => https://dsva.slack.com/archives/C52CL1PKQ/p1608149421373200

[2020-12-21 16:46] RLHecht commented on #17169
The widget has been added to the page. New language is being merged today so after deployment should be live on site. Moving to validate and will close later today. FYSA @jason-gcio @brianalloyd

[2020-12-21 16:49] jenniferlee-dsva opened #17779 "Bug: Articles listings and RS search listings are showing weird html tag text"
## Bug: Articles listings and RS search listings are showing weird html tag text

This might be a content only bug on the `Get a Premium My HealtheVet account` article or it might be a FE bug. It's hard to tell, so need both Randi and Nick/Kelson to assess.

**Severity: Low.**

**What's happening?**
On the 'All articles in/tagged' list pages & on the RS search results listings, the intro text exce

[2020-12-21 16:49] camerontesterman opened #17780 "Split postal code for burial form"
## Issue Description
On the burial form PDF there are two boxes for a postal code, a 5 digit box followed by a hyphen and then a 4 digit box. 9 digit postal codes currently submitted aren't being split between the two boxes. The API instead tries to push the entire 9 digit postal code into the first 5 digit box.

When postal codes that are longer than a 5 digit postal code are submitted, the API w

[2020-12-21 16:51] zurbergram commented on #17363
https://github.com/department-of-veterans-affairs/vets-website/pull/15446

[2020-12-21 16:52] #17421 closed

[2020-12-21 16:52] #17702 closed

[2020-12-21 16:53] #17423 closed

[2020-12-21 16:53] #17699 closed

[2020-12-21 16:53] digitalken commented on #17494
PASS - Hidden for DD not in their authorized services list.  Hidden for no current DD info from service.  Visible otherwise.  Moving to Design QA.

[2020-12-21 16:56] camerontesterman opened #17781 "Add FSR PDF download route, controller method, and service method"
## Issue Description
Completed financial status report PDFs will be available to download for the veteran's records; we need to expose that in the API.

---
## Tasks
- [x] Add controller method
- [x] Add route
- [x] Add service method
- [x] Add tests

## Acceptance Criteria
- [x] Generated PDFs will be available to download

[2020-12-21 16:56] joanneesteban commented on #17726
@bsmartin-ep to send over info.

[2020-12-21 16:58] joanneesteban commented on #16667
@bmcgrady-ep to meet with Sharon & team on 12/23.

[2020-12-21 16:59] jenniferlee-dsva commented on #17779
@brianalloyd - I connected this to the 1.1 learning center epic, but you can triage this for a post-1.1 sprint or a future bug sprint.

[2020-12-21 16:59] shawkey-daniel commented on #17768
As a developer, I need to store the form 22-10203 details on VA.gov for business logic to determine routing for future submissions.

## Assumptions:
1. N/A

## Acceptance Criteria
1. A table is created to store form 22-10203 submissions.
2. Form details are stored in encrypted format.
3. One way hash of the applicant SSN is stored as an identifier for retrieval.
4. Controller method is available t

[2020-12-21 16:59] joanneesteban commented on #15335
@LeKeve thanks for the info. Can your team reach out to the appropriate people in Public Websites to get this implemented?

[2020-12-21 17:00] jenniferlee-dsva commented on #17779
@RLHecht - If this is a content bug, you might be able to fix this anytime.

[2020-12-21 17:02] joanneesteban commented on #17683
@mmiddaugh we've started work on this; will be linking our issue here.

[2020-12-21 17:04] dmccurdybah commented on #13361
PR: https://github.com/department-of-veterans-affairs/vets-api/pull/5551

[2020-12-21 17:08] brianalloyd commented on #17779
Thanks @jenniferlee-dsva for the find.  @RLHecht @kelsonic can you both take a look and advise if this is a FE or Content issue or both?  Please provide an estimate in support of grooming.  Thanks.

[2020-12-21 17:08] jenniferlee-dsva commented on #17678
All - there is no need to churn on this. The above solution that @ncksllvn provided is the standard way we incorporate screen reader text. I was the  content designer on this, so I know what the layout and design of this page is supposed to be. FWIW, this page template had already gone through Design Intent with the platform team.

All that is needed is implementing the FE code update that Nick ha

[2020-12-21 17:12] tlei123 commented on #17142
@srsuddath , we're expecting the tab-focus to move from the field to the magnifier button on the right.  Sorry for the late reply!

[2020-12-21 17:22] johnhashva commented on #17678
@jenniferlee-dsva we got this.  No worries.

[2020-12-21 17:24] brianalloyd commented on #17169
Awesome, @RLHecht and @DanielleThierryUSDSVA for the quick turn on this, thanks.

[2020-12-21 17:24] Jeff-Hayter commented on #16896
@jbritt1 Approved for AWS.

[2020-12-21 17:25] Jeff-Hayter commented on #15190
@jsev-io Evangeline Garreau approved for AWS.

[2020-12-21 17:26] Jeff-Hayter commented on #15187
@jsev-io Approved for AWS.

[2020-12-21 17:26] Jeff-Hayter commented on #14281
@jsev-io Approved for AWS.

[2020-12-21 17:26] mmiddaugh opened #17782 "Add max number of result returned from PPMS"
## Issue Description
Sentry monitoring indicates someone is hitting our endpoint hard with PPMS requests, using multiple specialty codes and receiving 300+ results. As a result,  we need to cap the number of results we will return from PPMS.

Note: the front end caps results at 10. Currently, no max set on backend.

---
## Tasks
- [x] Cap max number of results to 50.

## Acceptance Criteria
- [x]

[2020-12-21 17:27] sonntag-adam commented on #17374
![Screen Shot 2020-12-21 at 12.27.11 PM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/2dcb1db8-2b85-4d4a-9876-123b67ea3333)

[2020-12-21 17:30] denisecoveyduc opened #17783 "General Type Ahead Usability Improvements"
## Description

Type Ahead POC has been launched on VA.gov on December 21, 2020 to 5% of audience and will run for 4 weeks (~Jan 19). During that time general usability improvements will be captured and considered for integrated as part of Type Ahead 1.0

---

## Tasks

- [x] Search and Discovery team will collect potential improvements or changes that should be considered to make type ahead bette

[2020-12-21 17:36] RLHecht commented on #15088
The pages in task 2 and 5 have now been published.

[2020-12-21 17:40] MarciMcGuireGCIO opened #17784 "Find a VA Form - [Discovery] Determine tasks required to automate addition of Online Tools links to Find a VA Form search results/form detail pages"
## User Story

As a Product team, we would like to determine what options are available for automating the process by which a new VA Form online tool analog is detected, and a link to that online tool is added to the search results and/or form detail page.

## Expected Behavior

The solution defined in this discovery task will include:
 - Determining any new metadata that would be required to auto

[2020-12-21 17:44] alexpappasoddball commented on #17670
@kfrz Looks like this is blocking the final pieces, any update on this one?

[2020-12-21 17:52] erikphansen commented on #17556
@joanneesteban no help needed! This one is actually done.

[2020-12-21 17:52] #17556 closed

[2020-12-21 17:55] digitalken commented on #17137
Closing this one as it is no longer applicable for new requirements surrounding up/down arrows in picker.  12/21/2020.

[2020-12-21 17:56] #17137 closed

[2020-12-21 18:02] brianalloyd commented on #15649
@kelsonic Please shift priority to this ticket for today, would like to get this unblocked for the content team prior to 'code freeze' as advised.  The empty carat issue is baked into AC on this ticket.  Image shown below;
![image](https://user-images.githubusercontent.com/70410912/102807489-f8414e80-437b-11eb-8f77-37c1cd81183a.png)

[2020-12-21 18:05] bessgreen opened #17785 "Integration for Benefit Summary Letter page"
## User Story / Task
Integration for the Benefit Summary & Service Verification letter page. This page contains service-driven content.

## Acceptance Criteria
1. Benefit Summary & Service Verification letter page contains service-driven content in the following 5 sections:
     - Discharge type
     - Active duty start
     - Separation date
     - Monthly award
     - Service-connected rating
2.

[2020-12-21 18:11] Samara-Strauss opened #17786 "[Analytics] My VA: Looking into what ""Dashboard - Navigation - Continue Button" is actually tracking"
## Description
**Who is this request for?**

Ben McGrady

**What team/project is this work for?**

This request is for authenticated experience, specifically related to the My VA redesign project.

**What type of analytics support are you looking for?**
  - [ ] one time metrics report (this is not a KPI dashboard, but a temporary or a one time report)
  - [x] metrics clarification (verification th

[2020-12-21 18:12] shawkey-daniel commented on #17770
As a STEM applicant, I need to be notified of the automated decision to deny my application for the STEM scholarship so that I am informed about my benefits.

## Assumptions:

1. This work is completed behind a feature flag as outlined in AC1.

## Acceptance Criteria

1. This story is completed behind feature flag `stem_automated_decision`.
2. When automated decision is made, an email populated us

[2020-12-21 18:17] erluti commented on #17747
After chatting with Michael, his emphasis isn't on a larger monolith pattern, but the code isolation features.  There's additional benefits to engines controlling platform code.  We discussed https://guides.rubyonrails.org/engines.html#hooking-into-an-application and building something into the platform that allows engines to be mounted based on env variables, so engines can be shut down with a va

[2020-12-21 18:19] mmiddaugh opened #17787 "Appointment content model transformer"
## Issue Description
A new `field_health_service_appt_leadin plain text field` has been added to the content type for Facility health services and will need a transformer before it can be implemented in the front end.

Tasks
- [ ] add `field_health_service_appt_leadin` to Transformer output

## Acceptance Criteria
- [ ] Dynamic text is displayed when cms export builds (consistent with text in CMS)

[2020-12-21 18:23] MarciMcGuireGCIO commented on #17273
@joanneesteban @jonwehausen updating to advise that the Lighthouse API should be modified today or tomorrow to expose the links we want to track, and the addition of the links to the UI should be deployed behind a feature flag today or tomorrow as well.

cc: @zacharymorel @johnhashva

[2020-12-21 18:29] rtwell commented on #17755
1. Spacing between the phone number and "Referral required?"
   • the spacing between subsets of things should be equal in order for users to group content by proximity. It looks like there is more space below the phone numbers and "Referral required", and should be shortened to match the space below "Referral required"

2. Spacing of the appointment button
   • same as 1 above, the spacing should

[2020-12-21 18:30] U-DON commented on #14718
Closing as dupe of #11510.

[2020-12-21 18:30] #14718 closed

[2020-12-21 18:30] bridgethapner commented on #15980
Solid draft on GH, we can fine tune as needed next year.

[2020-12-21 18:30] #15980 closed

[2020-12-21 18:31] bridgethapner commented on #16947
Solid draft of GitHub, can fine-tune as needed based on recruiter feedback if they have any when we submit next year.

[2020-12-21 18:31] outerpress commented on #17548
@laurenernest digging into this one, we should consider better instructions for phone appointments. A couple questions on that front:

* Are Veterans expected to call, or will the facility call them?
* If the Veteran's calling, are we providing an extension/name of the person to contact?
* What other info/instructions should we provide them - like if the number's busy, or if they don't receive a c

[2020-12-21 18:32] shawkey-daniel commented on #17772
As a developer, I need to create a new TIMS doc type and corresponding spool file to record a permanent record of the STEM automated decision.

## Assumptions:
1. The new TIMS doc type name has been socialized and approved by the TIMS team.

## Acceptance Criteria
1. The new doc type "10203DNY" is created and supported in vets-api.
2. A spool file is created to support the new doc type.
3. The spo

[2020-12-21 18:42] pnwstevan opened #17788 "Migration of Loki (Dev) ECS/Fargate->EKS"
## Description
Loki for dsva-vagov DEV had originally been deployed on ECS/Fargate.

New direction is to use EKS for these types of services, so migrate existing Loki infrastructure in DEV to an EKS-based Loki solution.

## Background/context/resources
Depencencies:
* EKS cluster in dev is available and stable for app deploys
* Loki is installed, tested and stable on EKS cluster
* There is a mecha

[2020-12-21 18:45] joshkimux opened #17789 "508-defect-2 [COGNITION]: Content MUST be legible to users on all viewports and up to 400x zoom"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2020-12-21 18:47] SgardnerPMP opened #17790 "[VAMC] Reassociate orphan Facility Health Services to System Health Services that were previously duplacates and that were deleted [PM]"
## Issue Description
All orphan facility health services have to be re-associated, due to Duplicates at the System Health Service level, all Facility health service associated to those duplicates when they were deleted created orphans, so there are no more orphan health services.

---
## Tasks
Resolve all orphan facility health services for the following Systems:
- [x] Altoona
- [x] Erie
- [x] Fin

[2020-12-21 18:48] pnwstevan opened #17791 "Solution for managing DNS in K8/EKS"
## Description
Since platform tools will be managed with EKS/K8 clusters, there will be a need to manage DNS records associated with services and apps deployed there.  Currently, DNS is managed by Terraform but Terraform has little/no visibility to changes at the K8 level.

## Background/context/resources
External DNS looks promising, and will focus efforts on that:

https://github.com/kubernetes-

[2020-12-21 18:50] Jeff-Hayter commented on #16681
@jbritt1 Approved for AWS access.

[2020-12-21 18:52] Jeff-Hayter commented on #13495
@alexandervalencia Can you please confirm the COR and team listed above is correct?  Crystal is not seeing your name in her roster.

[2020-12-21 18:56] srsuddath commented on #17142
@tlei123 no worries at all, can you check something in your local settings for me? if you go to: Select Safari > Preferences > Advanced is the 'Press tab to select each item on the webpage" selected?

[2020-12-21 19:03] jhouse-solvd commented on #17009
@denisecoveyduc - I've spoken with Taylor (@tskinn) from our team, and he has a few questions for Sam (@srsuddath). Taylor will be following up in the comments below to continue the conversation and clarify requirements.

[2020-12-21 19:05] jbalboni opened #17792 "Bug: incorrect distances listed in provider selection list"
The distances are not correct for the providers in the provider list.

[2020-12-21 19:13] jhouse-solvd commented on #17668
@dillo - I am following up with the Ops team today to get some information for you and help set timeline and expectation for next steps. Thank you for your patience!

[2020-12-21 19:18] tskinn commented on #17009
Hey @srsuddath we try to fill out some documentation whenever we add a backend to the forward proxy. [Here](https://github.com/department-of-veterans-affairs/devops/blob/master/docs/External%20Service%20Integrations/external-service-template.md) is a template. If you could copy that and make a PR to the devops repo that would be great.

Don't sweat too much about it but do the best you can. Honest

[2020-12-21 19:25] peggygannon commented on #16210
Hi, @Mottie what test user should I use to review the updates?

[2020-12-21 19:28] pnwstevan opened #17793 "Decommission and remove old Loki ECS/Fargate Infrastructure in DEV"
## Description
Loki in the DEV environment for dsva-vagov was originally deployed on ECS/Fargate.

New direction is to deploy these services on EKS.  Once Loki has been deployed on EKS and all hosts/services in DEV are logging to the new Loki deployment, clean-up and decommission the old ECS/Fargate infrastructure and all associated AWS resources.

## Background/context/resources
Dependencies:
* `

[2020-12-21 19:30] jonwehausen commented on #13494
## QA Testing

### Bug Correction
Description of Use Case | Data Layer Screenshot | GTM Tag Screenshot | Test Status
------------ | ------------- | ------------- | -------------
Total search result pages | ![image](https://user-images.githubusercontent.com/48527022/102814557-d609f980-4398-11eb-8912-50e79d9c54c9.png) | ![image](https://user-images.githubusercontent.com/48527022/102814610-e5894280-4

[2020-12-21 19:34] erluti opened #17794 "alarm on sidekiq retries queue"
there's an alarm for when the sidekiq queue is too big, but there's not one for the retry queue.

For example, we had a db issue and our workers couldn't start. When we got them starting again, the jobs failed and went  into the retry queue.

Our dashboards and alarms showed everything was good but we had thousands of jobs failing and retrying over and over. This wasn't obvious until viewing the /

[2020-12-21 19:35] youngfreezyVA opened #17795 "investigate if removing filter for unpublished entities allows for preview server support in review instances"

[2020-12-21 19:38] #17005 closed

[2020-12-21 19:41] denisecoveyduc commented on #16104
@mgleo @srsuddath Any outstanding onboarding things that need to be captured in this epic? I feel like we have wrapped up our official onboarding and have now moved into learning on the job. If you agree I will close this epic.

[2020-12-21 19:42] omgitsbillryan opened #17796 "Optimize Sentry 10 EBS Volume Disk Usage"
## The Problem
Sentry 10 is continuously running out of disk space.

## Extra Context
- The `kafka` volume is suspiciously using 95 GB of data which doesn't seem right
[code]
- [Slack conversation](https://dsva.slack.com/archives/CJYRZK2HH/p1608578651498100?thread_ts=1608572324.496500&cid=CJYRZK2HH)
- [Initial slack alertmanager alert](https://dsva.slack.com/archives/C24RH0W11/p1608484349177100)

[2020-12-21 19:43] srsuddath commented on #17009
@tskinn I will check this out and get it edited / pushed up shortly

[2020-12-21 19:47] denisecoveyduc opened #17797 "Spell Check API Exploration"
## Description

This is an exploration effort to review the API from Search.gov that improves the experience when a spelling error is made during a query.

## Background/Context/Resources

- Open GSA refers to spell corrections as an API - https://open.gsa.gov/api/searchgov-results/

- When requesting info from the Search.gov team they stated "our spelling suggestions aren't available as an API -

[2020-12-21 19:47] ksantiagomorgan6 commented on #17619
PR: https://github.com/department-of-veterans-affairs/vets-website/pull/15453

[2020-12-21 19:49] jonwehausen commented on #15757
@cohnjesse Could I have you adjust the product prefix here to be `careers-employment` as well as for chapter 36? Thanks in advance

[2020-12-21 19:57] ltrombley commented on #17408
Task Complete: Create new Health Services content "LIST & PLAYBOOK" for VA Bay Pines MC [BA]#17408

[2020-12-21 20:02] digitalken opened #17798 "iOS drop down picker with arrows - VoiceControl sees more controls than UI shows as being available (show numbers)"
## What happened?
Too many numbers showing on the iOS drop down picker arrows.
With VoiceControl enabled and "show numbers" command said, iOS shows more controls available than the UI shows.  For example, if there is a single arrow, VoiceControl shows there are two controls (with show numbers).  If there are two arrows, VoiceControl shows 3 numbers.  In my example screen shot, the number '2' doesn

[2020-12-21 20:02] joshkimux commented on #16047
Minor spacing problem exists on Safari

<img width="826" alt="Screen Shot 2020-12-21 at 3 01 00 PM" src="https://user-images.githubusercontent.com/14154792/102817265-73ffc300-439d-11eb-953c-21dff4ffb8a7.png">

[2020-12-21 20:04] #17306 closed

[2020-12-21 20:05] digitalken commented on #17094
Added to TestRail.

[2020-12-21 20:09] omgitsbillryan commented on #17054
Looks like the metrics are working properly in `prod` - [link](http://prometheus-prod.vetsgov-internal:9090/prometheus/graph?g0.range_input=1h&g0.expr=sum(nginx_http_request_duration_seconds_count%7Bcomponent%3D~%22health_quest%7Cvaos%7Ccovid-research%7Cmobile%7Ccovid_vaccine%22%7D)%20by%20(component)&g0.tab=1)

Ticket looks good to close to me. @patrickvinograd - do you see any additional work to

[2020-12-21 20:13] digitalken commented on #17633
Added to TestRail.

[2020-12-21 20:14] JasonTheBearded commented on #16643
Non-Prod PII Scrub complete

[2020-12-21 20:15] srsuddath commented on #16104
I agree we have moved into the On The Job Training portion of our onboarding experience!

[2020-12-21 20:19] digitalken commented on #15762
Added to TestRail.

[2020-12-21 20:21] shawkey-daniel commented on #17771
As a developer, I need to create a job to process form 22-10203 for automated decision, so that form are processed during EVSS service uptime hours.

## Assumptions:
1. This feature flag was created in #12467.
2. UAT has been completed for this effort as of 11/09.
3. The new functionality is live in production with no need remaining need for the toggle.
4. The limited production rollout is complet

[2020-12-21 20:30] outerpress commented on #16519
Yep yep, I just added the specs to that ticket @laurenernest

[2020-12-21 20:35] mmiddaugh opened #17799 "Displaying the Call Center phone number (Vet Center)"
## Issue Description

As a Veteran, I need to know how to contact someone representing my local Vet Center.

**Current protocol**

- As of 12/21, the Vet Center call center only does warm handoffs to the crisis line.
- The Call center gives the local Vet Center contact info to the Veteran and sends an email to the relevant local Vet Center about the Veteran's call (generally within a few hours)
-

[2020-12-21 20:36] kelsonic commented on #15649
PR is up for #1:
[code]

https://github.com/department-of-veterans-affairs/vets-website/pull/15455

[2020-12-21 20:38] shawkey-daniel commented on #17769
As a developer, I need to delete form 22-10203 applications, so they are no longer processed.

## Assumptions:
1. This work is completed behind a feature flag as outlined in AC1.

## Acceptance Criteria
1. This story is completed behind feature flag stem_automated_decision.
2. A job is created to delete stale form 22-10203 applications.
   a.  Job will find saved form 22-10203 with created date of

[2020-12-21 20:39] digitalken commented on #17734
Added to TestRail.

[2020-12-21 20:39] starlow00 commented on #17718
@jwoodman5 Attached Product Guide with suggested edits
[17718_Facility-Locator-product-guide_12.17.2020_ST_122120.pdf](https://github.com/department-of-veterans-affairs/va.gov-team/files/5726408/17718_Facility-Locator-product-guide_12.17.2020_ST_122120.pdf)

[2020-12-21 20:39] delli-gatti-michael commented on #17675
[Testrail test run](https://dsvavsp.testrail.io/index.php?/runs/view/1123&group_by=cases:section_id&group_order=asc)

[2020-12-21 20:39] jason-gcio commented on #15757
@cohnjesse and @micahchiang are out this week but I will make a note to be sure we look at this next week.  We don't anticipate CH36 getting any traffic until next week

[2020-12-21 20:40] delli-gatti-michael commented on #17677
[Testrail test run](https://dsvavsp.testrail.io/index.php?/runs/view/1124&group_by=cases:section_id&group_order=asc)

[2020-12-21 20:52] jwoodman5 commented on #17718
@mmiddaugh Can you please take a look at our suggested edits in the previous comment and let us know what you think? Thank you!

[2020-12-21 21:10] miabecker opened #17800 "Full Accessibility & 508 Office Audit [T]VANotify - Email Template]"
## Context:

VANotify is a new notifications platform at the VA whose mission is to improve the overall experience and quality of communications with veterans using modern digital technology, by building a centralized and self-service platform through which business lines and development teams can send communications to veterans.

Over the past few months, VANotify has been working with Trevor Pie

[2020-12-21 21:16] #17545 closed

[2020-12-21 21:16] #16296 closed

[2020-12-21 21:16] #17472 closed

[2020-12-21 21:16] #17412 closed

[2020-12-21 21:17] RLHecht commented on #14282
This work is completed. Closing ticket.

[2020-12-21 21:17] #14282 closed

[2020-12-21 21:27] srsuddath commented on #17009
@tskinn I just started the pull request. I am going to reach out to search.gov to see if I can get more answers to some of the questions you posed, as everything I have on the endpoint is captured in the document tagged above

[2020-12-21 21:32] zacharymorel commented on #17273
@MarciMcGuireGCIO @markgreenburg the feature flag has been deployed on vets-website to prod. You can now remove the serializer flags.

[2020-12-21 21:32] pnwstevan commented on #17791
This work is complete and currently working/deployed on the `platform-tools` cluster in DEV:
[code]

[2020-12-21 21:37] pnwstevan commented on #17791
Example manifest for above has been checked into the "vsp-infra-application-manifests" repo here: https://github.com/department-of-veterans-affairs/vsp-infra-application-manifests/blob/main/k8s/external-dns-vagov.yaml

Will include a section in the EKS docs specifically for this, but once external-dns has been deployed on a cluster with the above manifest, you can create a DNS CNAME by annotating

[2020-12-21 21:39] digitalken commented on #16858
Added to TestRail.

[2020-12-21 21:41] pnwstevan commented on #17788
This work is complete; associated PRs:

- https://github.com/department-of-veterans-affairs/devops/pull/8244
- https://github.com/department-of-veterans-affairs/devops/pull/8238
- https://github.com/department-of-veterans-affairs/devops/pull/8246
- https://github.com/department-of-veterans-affairs/devops/pull/8247
- https://github.com/department-of-veterans-affairs/devops/pull/8266

Grafana using

[2020-12-21 21:41] bosawt opened #17801 "Add error message logging to login_stats in the session_controllers"
When we log a failed request in the session_controllers, specifically for the rails log: `Rails.logger.info("LOGIN_STATUS_FAILURE, tags: #{tags_and_error_code}")`, we don't give very good information when the error doesn't have a code (and is given the 'unknown error code', or '007'. We should add an `error_message` field to this, something like:

`Rails.logger.info("LOGIN_STATUS_FAILURE, tags: #{

[2020-12-21 21:44] digitalken commented on #16860
Added to TestRail.

[2020-12-21 21:44] pnwstevan commented on #17793
This work has been completed; associated PR:

https://github.com/department-of-veterans-affairs/devops/pull/8250

Confirmed:
* PR merged
* Terraform plan/apply run in DEV and state is in sync.
* Verified via AWS console all associated resources have been removed

[2020-12-21 21:46] RLHecht commented on #17776
This broken link is fixed on the site. Closing ticket. FYSA @DanielleThierryUSDSVA

[2020-12-21 21:46] #17776 closed

[2020-12-21 21:46] pnwstevan commented on #17793
Terraform plan for record keeping:

[code]

[2020-12-21 21:49] RLHecht commented on #17169
widget is live on site. Closing ticket. FYSA @jason-gcio

[2020-12-21 21:49] #17169 closed

[2020-12-21 21:51] digitalken commented on #16709
Added to TestRail.

[2020-12-21 21:53] bessgreen opened #17802 "Loading screen for Direct Deposit"
## User story
As a user, I want to know that my bank account information is saving.

Note for dev: loading screen for Letters is already built. original ticket: [#14725](https://app.zenhub.com/workspaces/va-mobile-app-5f205eac3155a2000f422ecb/issues/department-of-veterans-affairs/va.gov-team/14725)

## Acceptance Criteria
1. Selecting the "Save" button on the Direct Deposit edit page triggers a lo

[2020-12-21 21:54] Mottie commented on #16210
Hi Peggy! I usually test with user 233 or 239 - see https://dsva.slack.com/archives/C5AGLBNRK/p1601069669025200?thread_ts=1601069567.024300&cid=C5AGLBNRK

[2020-12-21 21:54] bosawt opened #17803 "Preliminary Spike - Determine questions and context necessary before we can scope User Roles feature"

[2020-12-21 21:57] digitalken commented on #17369
Added to TestRail.

[2020-12-21 22:01] bmcgrady-ep commented on #17497
Finished the BQ DOMO dataset audit with the results [here](https://docs.google.com/spreadsheets/d/1Ki-GcuNrk58-UPSnRYjIxI0OFHJtEFTs5ulg0RywFu0/edit?usp=sharing). I am now going through and updating each dataset to remove the 2020 in the table and replace it with 20.

[2020-12-21 22:03] pnwstevan commented on #17177
This was completed and Loki has been deployed in microservices mode on the `platform-tools` EKS cluster in DEV:

[code]

[2020-12-21 22:04] pnwstevan commented on #17177
All hosts in DEV are now logging to this new Loki instance per this PR:

https://github.com/department-of-veterans-affairs/va.gov-team/issues/17788

[2020-12-21 22:09] esther-k commented on #16512
**12/21**

Pass - on iOS and Android. The back button a11yHint is now using the general a11yHint.

[2020-12-21 22:09] #16512 closed

[2020-12-21 22:13] esther-k commented on #17133
**12/21**

Pass - on iOS and Android. The back button a11yHint is now using the general a11yHint

[2020-12-21 22:13] #17133 closed

[2020-12-21 22:17] kristenmcconnell opened #17804 "[UI] Filtering and Sorting Questionnaire List"
## User Story
- As a Veteran, I want to be able to quickly get to my completed questionnaire of interest. I need to sort and filter through my historical record of all completed questionnaires.

## Related Documentation
 - [MVP: Visit Intro Initiative (Proof of Concept)](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/initiatives

[2020-12-21 22:18] bmcgrady-ep commented on #16233
@brianalloyd - The dashboard has been shared out. Also, if you want to filter the date range, you can apply a date range filter across the entire dashboard by applying the filter bar at the top of the dashboard.
![image](https://user-images.githubusercontent.com/66263904/102827219-69462d80-439f-11eb-8d7d-b16c96c45ed4.png)

Additionally, you can apply individual filters to the card by dragging the

[2020-12-21 22:23] 3obryandogs commented on #17774
@DanielleThierryUSDSVA - please look at the first sheet. Let me know if this is what you have in mind.

[audit 1.xlsx](https://github.com/department-of-veterans-affairs/va.gov-team/files/5726808/audit.1.xlsx)

[2020-12-21 22:23] kristenmcconnell opened #17805 "[UI] Appointment Status on Questionnaire List"
## User Story
- As a Veteran, I am interested in viewing the different statuses of my questionnaires, such as...
  - in-progress questionnaires for canceled appointments, because it might help with rescheduling and filling out the questionnaire for the rescheduled appointment.
  - no shows
  - in-progress versus new
  - any other statuses (engineering will look into statuses more)

Questionnaire R

[2020-12-21 22:38] mchelen-gov commented on #17618
meeting notes 12/18:
[code]

[2020-12-21 22:39] joanneesteban commented on #16233
@brianalloyd

Here are some other Domo onboarding links as you get acclimated to using Domo:

- [How to view charts](https://knowledge.domo.com/Training/Self-Service_Training/Onboarding_Resources/Analyzer_Card_(KPI_Card)_Basics)
- [Filtering & exporting charts video](https://www.domo.com/help-center/videos/watch/n9mcuvbDkf4)
- [Filtering charts article](https://knowledge.domo.com/Visualize/Adding_

[2020-12-21 22:41] dillo commented on #17668
@jhouse-solvd Thank you very much!

[2020-12-21 22:41] DanielleThierryUSDSVA commented on #17774
Hi @3obryandogs. Yep, this looks like it's on the right track. Thanks!

[2020-12-21 22:43] joanneesteban commented on #16233
@bmcgrady-ep can you do a couple of layout changes?
- [ ] Edit each chart to be its own layout so that the dashboard can export
- [ ] Add the 'Resources & Support - KPIs' as a title to the dashboard itself
- [ ] Add a link to the team's KPIs to the dashboard

[2020-12-21 22:44] #16641 closed

[2020-12-21 22:44] kevinmirc opened #17806 "[Research] New process for viewing Sidekiq Dashbord in production"
Slack thread: https://dsva.slack.com/archives/CBU0KDSB1/p1607983142281200

**Description**
Accessing the production Sidekiq dashboard requires breaking off a production ec2 instance from the autoscaling group serving users. The dashboard then needs to be spun up in the instance and the port it's served on needs to be forwarded for the developer to view on their device.

There are a couple of probl

[2020-12-21 22:49] bosawt opened #17807 "Update spec files so they can run with arbitrary parallel threads"
For various reasons, there are a number of specs that don't pass properly when running them with parallel threads. With this issue, these should be fixed so that they can run appropriately with a `bundle exec parallel:spec` run

[2020-12-21 22:50] kevinmirc commented on #17538
In order to release in production, we need access to see the status of the Sidekiq jobs queued by this work. We are currently being blocked from releasing this because I don't have access to Sidekiq Dashboard in production.

1) I've asked for elevated permission in order to spin up a sidekiq dashboard on a prod ec2 (since this is the current process for viewing sidekiq): https://github.com/departm

[2020-12-21 22:52] pnwstevan commented on #17486
This is being worked on here:

https://vfs.atlassian.net/wiki/spaces/VI/pages/871202823/Create+and+deploy+a+Kubernetes+EKS+Cluster+in+VSP

[2020-12-21 22:57] pnwstevan commented on #16158
I think you can close this as we've gotten the CloudPosse EKS module to work.  CC: @jhouse-solvd @dginther

[2020-12-21 23:00] SKasimow opened #17808 "Add Link from Spanish Corona FAQ Page to English Corona FAQ Page"
## **User Story**

As a spanish speaking vet or caretaker seeking information on the Coronavirus, I would like to be able to view the Corona FAQ page  in spanish.

## **Scenario 1:**

Given I am viewing the Coronavirus FAQ page in spanish ( http://www.va.gov/coronavirus-veteran-frequently-asked-questions-esp/ )
AND
I click the link for english "Read this page in English"
THAN
I should be taken to

[2020-12-21 23:20] peggygannon commented on #16210
Thanks, @mottie For both of these users, I got a message (see screenshot below) that there were no eligible issues. As such, I wasn't able to review all the screens:

I've noted a few things on the screens I was able to see:

Wizard screen
This content is set as a link *Send the completed form to the benefit office**

Where does it take users?

-------

Form intro page
Cap the I in If here: *if yo

[2020-12-21 23:45] ala-yna opened #17809 "Backend - distinguish between mailing and residential address to the health care application"
Schema Change: https://github.com/department-of-veterans-affairs/vets-json-schema/pull/557

## User Story

As a Veteran
I want to be able to distinguish between my mailing and home address on my health care application
While logged in or unauthenticated
So that I can be contacted in the best way by the VA.

See: https://github.com/department-of-veterans-affairs/va.gov-team/issues/17618

## Expecte

[2020-12-22 00:34] anitadewitt-va commented on #15947
@shiragoodman This was intended to be a staging review. Please let me know if you would like me to create this card again with the correct issue template.

[2020-12-22 00:42] kathleencrawford opened #17810 "[UNPLANNED] 686c Set Child Previously Married Indicator Flag and Relationship Type"
## Background
During testing, we discovered that when reporting the marriage of a child under 18, the child previously married indicator must be set to `Y` and the relationship type must be set to `Biological`.

## Considerations
- The child previously married indicator flag needs to be set manually (instead of from the form data payload) for this specific workflow (report the marriage of a child

[2020-12-22 01:10] SKasimow opened #17811 "Accessibility Staging Prep Work Needed"
##Needed for staging review ticket:

Link to a doc in product folder ( https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/content-localization/README.md ) that indicates all required checks from the accessibility staging review prep doc are complete.

Note: this ticket is a dependency to requesting the staging review collaboration checkpoint: https://app.zenhub.com/

[2020-12-22 01:21] SKasimow commented on #17811
@DanielleThierryUSDSVA fyi

[2020-12-22 01:25] #16104 closed

[2020-12-22 01:40] digitaldrk commented on #17571
PR: https://github.com/department-of-veterans-affairs/vets-api/pull/5554

[2020-12-22 02:15] youngfreezyVA commented on #17808
@SKasimow this looks great, thanks for putting it together!
Let me know when this is ready for development

[2020-12-22 05:22] #16392 closed

[2020-12-22 11:45] sonntag-adam commented on #17374
This is now in staging. Testing passes QA

[2020-12-22 11:46] #17374 closed

[2020-12-22 12:29] jonwehausen commented on #13494
### Edge Case

@srsuddath Here is another edge case I found we will want to correct:

_When the user starts typing and is given their options, if the user uses only the keyword and arrow keys down to navigate to their search option and selects one with enter, multiple `view_search_results` events will fire_

Let me know if you need me to demo / reproduce this for you

Thanks again for all of your

[2020-12-22 12:32] ksantiagomorgan6 commented on #13829
FE PR: https://github.com/department-of-veterans-affairs/vets-website/pull/15459
BE PR: https://github.com/department-of-veterans-affairs/vets-api/pull/5561

[2020-12-22 13:21] sonntag-adam commented on #13829
![Screen Shot 2020-12-22 at 8.21.24 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/82dd1566-c56e-4958-8c73-3231c3be4ca1)
##
![Screen Shot 2020-12-22 at 8.21.29 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/a88b3bf4-fea1-4ca9-803d-86ae36728d72)

[2020-12-22 13:30] johnhashva commented on #13494
@jonwehausen thanks for the deep diving here to make sure we have everything in place and working.   Can you point me/us to how to see Type Ahead clicks in GA?  I know we don't have a dashboard quite yet -- but just looking for raw data collection, if available.

[2020-12-22 14:12] MarciMcGuireGCIO commented on #17678
Josh Kim just reviewed this code snippet and says it's good to go from an accessibility perspective.

[2020-12-22 14:16] johnhashva commented on #17678
Just to confirm my understanding (something I do a lot!): This means we can go with the Nick Sullivan recommended approach and hide the label from the UX -- but still achieve Accessibility requirement of enabling the screen-reader to detect -- right?

[2020-12-22 14:18] MarciMcGuireGCIO commented on #17678
@johnhashva that's correct.  Our goal is to show this to you and get it into today's deployment before tomorrow's code freeze.

[2020-12-22 14:25] MarciMcGuireGCIO opened #17812 "Find a VA Form post-launch MVP x Release plan"
## Acceptance Criteria
- [x] Make a copy of the [release plan template](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/product-management/release-plan-template.md) and add to the respective product folder
- [x] Complete release plan for launch

## How to configure this issue
- [x] **Attach to appropriate Epic**
- [x] **Labeled with Team**

[2020-12-22 14:27] shawkey-daniel commented on #17773
As a VCE, I need to be notified when the applicant has a POA and is denied by automated decision, so I can notify the POA of the decision.

## Assumptions:
1. This work is completed behind a feature flag as outlined in AC1.

## Acceptance Criteria
1. This story is completed behind feature flag stem_automated_decision.
2. POA field is added to table for [22-10203 form](https://app.zenhub.com/worksp

[2020-12-22 14:28] MarciMcGuireGCIO opened #17813 "Find a VA Form post-launch MVP: Release Plan"
## Guidance

_This Release Plan Template is intended to help ensure your new VSP product or feature is ready for launch and will deliver the desired user outcomes._
* _In Phase 1, you will test your product to learn how it'll actually be used, what problems it might create, and then fix/adjust if necessary prior to going live._
* _In Phase 2, you will define the launch communications plan and post

[2020-12-22 14:39] shiragoodman commented on #15947
thanks @anitadewitt-va . No worries, it's fine as-is and you do not need to change a thing. For future reference, basic rule of thumb is pre-launch=staging, post-launch=508 audit. :)

[2020-12-22 14:44] joshkimux opened #17814 "508-defect-2 [COGNITION, SCREEN READER]: Screen reader users SHOULD hear alerts when they appear on the page"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2020-12-22 14:46] #2232 closed

[2020-12-22 14:54] #17148 closed

[2020-12-22 15:04] joshkimux commented on #16261
@Mottie I've updated the ticket to bring one more fieldset to your attention 🙇
If we can handle multiple fieldsets on this page and add `aria-describedby` to the radio selections as documented in this ticket, then we shouldn't need to split this into separate pages.

[2020-12-22 15:04] zacharymorel commented on #17678
Just a warning, this most likely not go out before the code freeze.
VSP has a 24-hour review process where we need to wait 24 hours before we ask them to peer review a pull request.

[2020-12-22 15:07] MarciMcGuireGCIO commented on #17678
Thank you for the heads-up, @zacharymorel

[2020-12-22 15:11] jbalboni commented on #16093
Verified that I'm able to submit a request which just includes provider name, city, and state and it shows up in the appointment list as you'd expect.

[2020-12-22 15:21] alexpappasoddball commented on #17670
@kfrz seeing this is done [here](https://github.com/department-of-veterans-affairs/vtk) if you are good we can close this ticket!

[2020-12-22 15:25] #17670 closed

[2020-12-22 15:26] LinnJS opened #17815 "Remove no-index from 1010CG"
## User Story

As a user I would like to find pages I need via search engines. Please remove the no-index clause not he 1010CG so users can find the 1010CG via search engines.

## Expected Behavior

Search engines will index the 1010CG

## Acceptance Criteria

- [x] no-index is removed form 10-10CG

[2020-12-22 15:29] LinnJS commented on #17815
Work done in this PR

https://github.com/department-of-veterans-affairs/vets-website/pull/15460

[2020-12-22 15:33] DanielleThierryUSDSVA commented on #17741
Hi @SKasimow. I looked at the link above. What I see looks good, but it looks like an image of only part of a page so I'm not sure if there's more I should be reviewing?

[2020-12-22 15:35] mshea0606 opened #17816 "IA Request [Authenticated Experience, Direct Deposit for Edu]"
## What this is:
Work with VSP Information Architecture experts to finalize the IA of your product for VA.gov

## When to use this:
After completion of usability/protyping, prior to moving to development

## Required Inputs:
- [Link to product outline](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/direct-deposit/edu-direct-deposit/READM

[2020-12-22 15:37] anitadewitt-va commented on #15947
@shiragoodman thanks for letting me know. Do you have an estimate on when this may be picked up?

[2020-12-22 15:39] msmanak commented on #16984
![Slice-splash screen.png](https://images.zenhubusercontent.com/5faabf11b099434179a66d66/646e746a-4854-4f57-96de-a4409ffc93ce)

[2020-12-22 15:51] jenniferlee-dsva commented on #15649
@kelsonic Thank you! For awareness, @RLHecht. After Kelson's PR above is merged (for empty carat issue), we should be able to publish additional articles listings on the RS homepage.

Note: this pr is only to address the empty carat. We won't have the other parts of the RS homepage update until after the freeze. But feel free to start adding more categories of articles when they're ready.

CC @bet

[2020-12-22 15:52] sporeboy commented on #16694
Recommendations from research readout: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/public-websites/how-to-apply-wizards/discovery/research/wizard-migration-synthesis.md#recommendations

- [Fraud box](https://xd.adobe.com/view/532272b2-b423-4e1b-a8c6-d1a583da3d37-0671/screen/a1932025-1803-4eda-8b32-e0684fd2453c) suggestion
- [Success text](https://xd.adobe.com

[2020-12-22 15:57] SKasimow commented on #17808
@youngfreezyVA Thanks! Per @DanielleThierryUSDSVA she expects to be able to publish the FAQs on Jan 8th and is checking on the Volunteer Research page. In the meantime though you should be able to work on the English pages/adding links and breadcrumbs in preview instance, right?

[2020-12-22 16:01] SKasimow commented on #17741
@DanielleThierryUSDSVA Hi - yes your are correct. The full page is here:https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/product-management/release-plan-template.md

I deleted what I thought wasn't applicable but take a look and let me know if I should add anything else from the template's outline for our release. Thx!

[2020-12-22 16:01] Clark-W-Griswold commented on #17187
Eugene:
Tried various approaches to resolving the dynamic requires, but it got convoluted. Most of them were for transforming CMS export data, which the compiled script wouldn’t need to do. Skipped the require that pulls in CMS transformation code and got the compiled script to work.

[2020-12-22 16:02] delli-gatti-michael commented on #14424
@department-of-veterans-affairs/uxbah This is on staging and ready for review

[2020-12-22 16:05] MarciMcGuireGCIO commented on #14112
We discussed this feature and currently don't believe that user testing is needed since this is for a secondary audience

[2020-12-22 16:08] #14891 closed

[2020-12-22 16:12] MarciMcGuireGCIO commented on #17732
Converting to epic so we can bundle up the discovery, design, testing work inside.  Also breaking this apart from the [Post-Launch MVP work ](https://github.com/department-of-veterans-affairs/va.gov-team/issues/10758)since this involves creating a new component not yet in the design system.

[2020-12-22 16:14] digitalken commented on #17785
Added to TestRail.

[2020-12-22 16:19] joshkimux opened #17817 "508-defect-2 [COGNITION, SCREEN READER]: Important alerts should be announced to screen reader users"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2020-12-22 16:24] shiragoodman opened #17818 "New Team VSP Orientation"
## User Story
As a new VA.gov team member, I need to complete onboarding activities so I can successfully work on my project.

## Acceptance Criteria
- [ ] Each team member has completed each item in the orientation checklist below.

## Onboarding Checklist

- [x] PM: Attend intro meeting with product support PM
- [x] Attend general orientation meeting
- [x] [Request Access to Tools](https://githu

[2020-12-22 16:26] digitalken commented on #16863
Added to TestRail.

[2020-12-22 16:26] jenniferlee-dsva commented on #16915
### After sorting update:

**For "change of address"**
![image.png](https://images.zenhubusercontent.com/5bb2975c143b4d2ee7a35ef6/805e6395-8424-4760-9a6b-38c070a8a04e)

**For "claim status" - the numbers = full intro text count of query instances**
![image.png](https://images.zenhubusercontent.com/5bb2975c143b4d2ee7a35ef6/c0c3ca68-6d9c-454b-b831-f1db7d60ce35)

[2020-12-22 16:29] jenniferlee-dsva commented on #16915
Also checked "discharge status." Here are the results differences btn prod (non-sort/ranked logic) and with sort/ranking logic.

Non sort/ranked:

[2020-12-22 16:30] digitalken commented on #17296
Added to TestRail.

[2020-12-22 16:34] shiragoodman commented on #15947
@anitadewitt-va our accessibility specialists (@1Copenut and @noahgelman) are both out of office this week. I will have to discuss availability with them next week when they return.

[2020-12-22 16:37] digitalken commented on #16857
Added to TestRail.

[2020-12-22 16:39] digitalken commented on #17130
Was added to TestRail.

[2020-12-22 16:40] #13274 closed

[2020-12-22 16:43] digitaldrk commented on #17806
the #vsa-ebn-migration team has a few features in flight that make heavy use of jobs.

1. 686/674 Form has 3 jobs IIRC. One for BGS 686 submission, another for BGS 674 submission, and then another for PDF creation.
2. We also fire a job off for CH36 form
3. We'll likely need a job for CH31 form but we're trying to mitigate that to keep code simple

[2020-12-22 16:45] kevinmirc opened #17819 "Update bad link in 10-10EZ"
**Description**:
A link on the 10-10EZ is directing users to a strange URL that doesn't resolve.

See: https://dsva.slack.com/archives/CMJ2V70UV/p1608653782131800?thread_ts=1608649525.130600&cid=CMJ2V70UV

**Reproduce**
- Start the 10-10EZ
- Navigate to Financial Information section
- Select “yes” to enter financial information
- See link

**Acceptance Criteria**:
Update link to direct to: https:/

[2020-12-22 16:47] kevinmirc opened #17820 "Investigate how bad link was introduced on 10-10EZ"
Pre-req: https://github.com/department-of-veterans-affairs/va.gov-team/issues/17819

[2020-12-22 16:47] jhouse-solvd opened #17821 "PACT Broker - TIC issues making pact broker inaccessible"
## Description
Intermittent connectivity issues through the TIC have resulted in PACT broke being inaccessible via their URL / web portal. Demian is in touch with Gateway Ops and they've asked that he also submit a Service Now ticket.

## Background/context/resources
None

## Technical notes
None

---
## Tasks
- [ ] Create a root cause analysis document
- [ ] Update documentation in va.gov-team re

[2020-12-22 16:54] joshkimux opened #17822 "508-defect-2 [COGNITION, SCREEN READER]: Edit buttons SHOULD have accessible labels when editing inline data on Review screen"
## [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

The Edit buttons for contact information and iss

[2020-12-22 16:56] jhouse-solvd opened #17823 "Activate Holiday Code Freeze on COB December 23, 2021"
## Description
A member of the Ops team needs to follow the Holiday Code Freeze procedures at close of business (COB) on December 23, 2021

## Background/context/resources
[Holiday Code Freeze standard operating procedures](https://github.com/department-of-veterans-affairs/devops/blob/8daa049cba3cf57753f750fb0274a9f1d98057d4/docs/StandardOperatingProcedures/HolidayCodeFreeze.md)

## Technical note

[2020-12-22 16:57] LinnJS commented on #17819
Link to where this is located on VA.gov
http://localhost:3001/health-care/apply/application/household-information/financial-disclosure

[2020-12-22 16:58] LinnJS commented on #17819
Link that is in the application
https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/applications/hca/helpers.jsx#L273

[2020-12-22 16:59] JenLJ commented on #14424
UX Review 1/2: This checks out for me

[2020-12-22 17:00] jenniferlee-dsva commented on #16915
Other queries I checked against prod - the sort logic didn't show any effect on these queries.

`"can't log in"` <-- this was interesting. both prod and sorted had same results in same order, but both were missing all of the signing in articles bc our sign in articles don't use the words "log in." I think they would have come up if we included searching tags. (We have a tag called "Sign in.") So t

[2020-12-22 17:00] #16915 closed

[2020-12-22 17:01] joshkimux opened #17824 "508-defect-2 [COGNITION, SCREEN READER]: Edit buttons SHOULD have accessible labels when editing inline data on Review screen"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2020-12-22 17:06] youngfreezyVA commented on #17808
yup, i can work on polishing up the appearance of the link against the mocks, the breadcrumbs come from the CMS.

[2020-12-22 17:08] LinnJS commented on #17819
PR: https://github.com/department-of-veterans-affairs/vets-website/pull/15463

[2020-12-22 17:11] lealester commented on #15464
moving into validate; items highlighted in green were in Drupal but not reflected on worksheet

[2020-12-22 17:18] LinnJS commented on #17820
This link was introduced in this [PR](https://github.com/department-of-veterans-affairs/vets-website/pull/5456/files#diff-cd33826c40e2829da2e8fe3d0af464a5a4e0c2c9358bdf8f94aad6c101d9b226R96) on May 10, 2017

[2020-12-22 17:20] bradl3yC commented on #17820
@kevinmirc the domain vaftl.us expired and it was purchased by someone outside of the US.
[code]

[2020-12-22 17:29] tlei123 commented on #17809
@ala-yna  @kevinmirc , just in case this really is post-Staging-Review copy-validation, I've just added the key QA-requirement [per our post-mortem mtg] item to the top of this ticket's AC checklist.

IF this is actually before Staging Review, please just remove me from this ticket, and make sure requirements are updated before tasks are assigned to Engineers, then at least 2 Sprints before Stagin

[2020-12-22 17:29] lealester commented on #15465
moved into in progress 12.22.2020

[2020-12-22 17:33] RLHecht commented on #17646
@lunascoop @bethpottsVADEPO I did a copyedit on these pages. Here are my comments and questions:

**Should I refile my TSGLI claim if I think I’m entitled to more money?**
- Should we add the TSGLI VA.gov page to either the related links or as a second CTA button?
- I think this is already in the works but putting here to keep track of: We need to list the contact info for the branch of service TS

[2020-12-22 17:34] LinnJS commented on #17819
Follow vsp-opertions chats [here](https://dsva.slack.com/archives/CJYRZK2HH/p1608657197013400)

[2020-12-22 17:35] LinnJS commented on #17820
Follow vsp-opertions chats [here](https://dsva.slack.com/archives/CJYRZK2HH/p1608657197013400)

[2020-12-22 17:38] joanneesteban commented on #16547
## Content & Usability Review

Thanks for pulling this together, @JasonTheBearded ! Looks good, just made some edits on the titles for consistency.

A couple other things for this dashboard as well:

- [ ] The filters between all the charts and the ForeSee chart aren't coordinating (when the ForeSee chart is filtered, the other charts don't filter, and vice-versa)
- [ ] For this metric: `How does

[2020-12-22 17:39] jason-gcio commented on #17754
The feature toggle was successfully implemented on both the [main page](https://www.va.gov/careers-employment/education-and-career-counseling/) and [dependent benefits page](https://www.va.gov/careers-employment/dependent-benefits/) but will not be widely seen until next week as we begin UAT.

[2020-12-22 17:44] jason-gcio commented on #17379
The feature toggle was successfully implemented on the [landing page](https://www.va.gov/va-payment-history/) but will not be widely seen until next week as we begin UAT.

For context:
- Here is [our ticket for building the flipper component](https://github.com/department-of-veterans-affairs/va.gov-team/issues/16302)
- Here is [the intake request for PW to implement it](https://github.com/departme

[2020-12-22 17:50] kelsonic commented on #17819
PR is up: https://github.com/department-of-veterans-affairs/vets-website/pull/15465

[2020-12-22 17:52] short000 commented on #17820
Security related POCs: @joeniquette, @f1337.
RE from @joeniquette: "This likely should be reported up through DEPO so they can coordinate a comprehensive review of all links within va.gov and our forms... POCs are Fleet, myself, then probably Andrea (filling in for Nancy), Dror, Kevin, and Rachel."

[2020-12-22 17:57] mnorthuis commented on #17816
@mshea0606 @sporeboy Can you drop a link to the Public Websites ticket here for reference and so we can connect the work?

[2020-12-22 18:01] kelsonic commented on #17819
Whoops, sorry, closing my PR in favor of Justin's PR that was already up + approved: https://github.com/department-of-veterans-affairs/vets-website/pull/15463

[2020-12-22 18:03] JenLJ commented on #17363
UX Review 1/2:  This checks out for me

[2020-12-22 18:21] brianalloyd commented on #15309
Adding in @johnhashva to the ticket in support.  @lalexanderson-dsva any luck in obtaining a complete facility ID list in support of Cerner?  TIA.

[2020-12-22 18:23] johnhashva commented on #15309
@brianalloyd Will put in a calendar reminder to follow up with Lauren in early Jan.

[2020-12-22 18:32] shiragoodman commented on #2838
@andreahewitt-odd @pjhill is this epic still in use? Can we close it?

[2020-12-22 18:32] drorva commented on #16480
@theodur looks good.

[2020-12-22 18:34] mmiddaugh commented on #16586
I see this change in Staging but not Prod

[2020-12-22 18:35] jsev-io commented on #15190
@egarreau provided aws credentials. Closing ticket.

[2020-12-22 18:35] #15190 closed

[2020-12-22 18:35] joshkimux opened #17825 "508-defect-2 [KEYBOARD]: Focus MUST be returned to the Edit button when Update page is pressed or clicked"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2020-12-22 18:42] #2838 closed

[2020-12-22 18:43] laurenernest commented on #17419
@jbalboni Was a solution for this determined in the FE meeting?

[2020-12-22 18:52] jenniferlee-dsva commented on #17273
Hi @MarciMcGuireGCIO @jonwehausen - just a quick note of clarification. The Find a VA form GA dashboard does not currently track clicks to online tool CTA buttons.

When we launched the find forms page, online tool CTAs were not yet available (bc the CMS had not yet been hooked up for form page rich meta data).

So in any case, for the dashboard update, I believe @jonwehausen, it would need to inc

[2020-12-22 19:00] #10359 closed

[2020-12-22 19:01] joshkimux commented on #17789
https://user-images.githubusercontent.com/14154792/102923656-1a130200-445e-11eb-9084-261e4126f80e.mov

[2020-12-22 19:04] MarciMcGuireGCIO commented on #17273
@jenniferlee-dsva thank you for clarifying.  I will add the link to the online tool CTA to our current analytics request since work on that has not yet been started.

[2020-12-22 19:05] jsev-io commented on #15187
Credentials provided

[2020-12-22 19:05] #15187 closed

[2020-12-22 19:06] mshea0606 commented on #17816
[Content for Direct Deposit Landing Page #14367](https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/14367) [Mock](https://xd.adobe.com/view/532272b2-b423-4e1b-a8c6-d1a583da3d37-0671/screen/72860e86-bed9-4e10-8794-223ebb03794f/)

[2020-12-22 19:09] jbalboni commented on #17419
@laurenernest We're still doing some research on the approach Narin did a spike on, so it probably shouldn't hold up this ticket. I think we could go ahead and work on this ticket with our normal Redux caching approach.

[2020-12-22 19:11] mmiddaugh commented on #17682
[VAMC_Systems_InProgress.xlsx](https://github.com/department-of-veterans-affairs/va.gov-team/files/5731599/VAMC_Systems_InProgress.xlsx)

[2020-12-22 19:13] #16845 closed

[2020-12-22 19:13] #17305 closed

[2020-12-22 19:13] #15839 closed

[2020-12-22 19:13] #16095 closed

[2020-12-22 19:13] #16259 closed

[2020-12-22 19:17] mmiddaugh commented on #16513
![image](https://user-images.githubusercontent.com/55411834/102924895-a79b2580-444f-11eb-8aa2-ad01e85b01af.png)

[2020-12-22 19:19] DanielleThierryUSDSVA commented on #16492
@leahkeeler @rebeccawalsh We've received JTF/OPIA approval on the following content for this alert. Please note that they've asked us to check in with DMC stakeholders to make sure their legal folks have reviewed. I will follow up with Jill on this and cc you Leah.

## We’re collecting again on VA debt

On April 3, 2020, we paused collections on new VA debt. On **January 1, 2021**, we started to s

[2020-12-22 19:20] amyknox commented on #17363
It looks like the alert box is too wide. Per artifact 2, it should be the same width as the text fields.

![image](https://user-images.githubusercontent.com/41081945/102925058-b3dbae80-4460-11eb-8800-daeb1c5ccc7d.png)

[2020-12-22 19:21] jason-gcio opened #17826 "Content Updates from Authenticated Experience/eBenefits [WIP: Due date TBD]"
## Why you're here

### Content support for:
- Unauthenticated (static) VA.gov pages
- Apps or tools
- Other writing or editing requests

### Engineering support for:
- Redirects that have **first been vetted by the VSP IA team**
- REACT sign-in widgets or feature flags (flipper)
- Other engineering support

**Note:** Apps teams engineers are responsible for flipper implementation related to their

[2020-12-22 19:26] mmiddaugh opened #17827 "[CONSIDER] Add thumbnail facility fascade image to Facility Locator search results"
## Issue Description
As a Veteran, I want to see the facility's facade so I can more easily find the location when I visit.
As a Veteran, I want to see the facility's facade presented in the search results so I can differentiate facilities with similar names or addresses.

---
## Tasks
- [ ] Incorporate the facility thumbnail image into the Facility Locator search experience

## Acceptance Criteri

[2020-12-22 19:29] mmiddaugh opened #17828 "[CONSIDER] Facility images available via Lighthouse"
## Issue Description
As a Veteran, I want to see the facility's facade so I can more easily find the location when I visit.
As a Veteran, I want to see the facility's facade presented in the search results so I can differentiate facilities with similar names or addresses.

To make this possible, we will need the images to be available via Lighthouse API

---
## Tasks
- [ ] Work with Lighthouse to

[2020-12-22 19:29] mshea0606 commented on #17816
https://github.com/department-of-veterans-affairs/va.gov-team/issues/17826

[2020-12-22 19:32] laurenernest opened #17829 "[POC] Add flow CTA to homepage"
## Issue Description
Update homepage with CTA to enter appointment flow.

---

## Acceptance Criteria
- [ ] Behind va_online_scheduling_cheetah feature flag

- [ ] DESIGN - "Home" screen in project https://adhoc.invisionapp.com/d/main#/projects/prototypes/20944807

[2020-12-22 19:34] watersemma commented on #14424
UX Review 2/2: looks good to me!

[2020-12-22 19:35] jason-gcio commented on #17826
@mshea0606 - next steps for this should be to:

1. Determine when you would like PW to implement this update.
2. To engage PubWeb, we will need to link this ticket to them in their channel and possibly set up a meeting per the instructions above.

[2020-12-22 19:35] MarciMcGuireGCIO opened #17830 "Request access to Google Analytics and/or Domo"
# Request Google Analytics and/or Domo access

## What this form is for
Use this template to request access to Google Analytics and/or Domo

## User Email Address
Please link this issue to the DSVA Slack channel [#vfs-platform-support](https://dsva.slack.com/channels/vfs-platform-support), add VSP Analytics & Insights to your message, and provide the email address(es) for user(s) requesting access

[2020-12-22 19:37] lildziner commented on #16513
This was a response from a while back when I inquired about whether or not this functionality already exists
![image](https://user-images.githubusercontent.com/4960080/102926462-061dcf00-4463-11eb-8b89-8301a0ec176e.png)

[2020-12-22 19:40] lildziner commented on #16513
A old thread with some discussion on this  - may or may not be useful. https://dsva.slack.com/archives/C0NGDDXME/p1598280780011700

[2020-12-22 19:51] erluti commented on #17249
This PR is still weirdly not getting noticed by dangerfile https://github.com/department-of-veterans-affairs/vets-api/pull/5468

[2020-12-22 19:55] jason-gcio opened #17831 "Adjust Applicant Information Post Login"
## Background
After logging in, the personal info the VA knows about is shared and the Veteran is able to continue on if correct, or call a number to get the info corrected.  If you log in without any info, nothings shows.

## Considerations

<details>

<summary>Expand to see blank info screen</summary>

![image.png](https://images.zenhubusercontent.com/5d4d9fbb3dcb5944ddb12282/4b4a7a0b-3761-4e47-

[2020-12-22 20:01] joanneesteban opened #17832 "Annotate GA for missing Event Action data"
## Issue Description
With the GA Event Action data scrub, data that many of our VFS teams look at will be missing. VSP Analytics & Insights should add annotations reflecting the scrub to GA so that our users can understand how to read the data.

---
## Tasks
- [ ] Add annotation marking the missing data in Google Analytics

## Acceptance Criteria
- [ ] Users going into GA understand that the data

[2020-12-22 20:05] sporeboy commented on #16694
Copy revisions given to Peggy for review. Design changes implemented across mockups: https://xd.adobe.com/view/532272b2-b423-4e1b-a8c6-d1a583da3d37-0671/

[2020-12-22 20:08] joanneesteban opened #17833 "Redirect GA sources in VA.gov/performance-dashboard"
## Issue Description
With the GA Event Action data scrub, Google Analytics data that pulls into VA.gov/performance-dashboard will be missing. To alleviate this missing data, we can reconnect this site to pull data from BigQuery.

VA.gov/performance-dashboard saw[ 990 sessions in November 2020, approximately .01% of VA.gov usage](https://analytics.google.com/analytics/web/?authuser=0#/report/conten

[2020-12-22 20:12] jonwehausen commented on #13494
Hi @johnhashva ,

Please see the below table for several custom reports for your exploratory analysis.

Some of this may look messy in GA, it gives us the opportunity to structure this data more effectively in BigQuery and increasing our analysis capabilities.

You will notice some rows of the event action have `|` instead of `~` this was because we changed the delimiter to `~` in order to make th

[2020-12-22 20:12] joanneesteban opened #17834 "Flag missing GA data in the Covid Dashboard"
## Issue Description
With the GA Event Action data scrub, data in the historical Covid dashboard will be missing since many of those charts are not pointing to BigQuery instead of Google Analytics. While this is a historical dashboard, we have data to suggest that folks are viewing the dashboard.

How might we ensure that people who are viewing the historical Covid dashboard know the status of the

[2020-12-22 20:13] joanneesteban opened #17835 "Flag missing GA data in Covid Dashboard"
## Issue Description
With the GA Event Action data scrub, data in the historical Covid dashboard will be missing since many of those charts are not pointing to BigQuery instead of Google Analytics. While this is a historical dashboard, we have data to suggest that folks are viewing the dashboard.

How might we ensure that people who are viewing the historical Covid dashboard know the status of the

[2020-12-22 20:32] #13351 closed

[2020-12-22 20:40] joanneesteban opened #17836 "Redirect GA dashboards to Domo"
## Issue Description
With the GA Event Action data scrub, we anticipate VFS teams to have custom reports and dashboards in Google Analytics that they'll want recreated with the missing data. We believe that we can redirect these dashboards to Domo, and that this can serve as an opportunity for VFS teams to look at their analytics on a more strategic level and point them to requesting KPI dashboard

[2020-12-22 20:47] bridgethapner opened #17837 "Asking a user to add biometrics"
## User Story
As a user, I will allow VA mobile app to use biometrics on my device.

## Context
The app start up is tricky, because of that biometrics part. Flow will be: spalsh screen -> log in -> get tokens -> ask for biometrics -> store token -> sync profile stuff & we need to iterate on what this flow looks like.

[2020-12-22 20:52] johnhashva commented on #13494
Thanks @jonwehausen for this quick work.  Will have time tomorrow to take a deeper look with the team.   Great to have an initial view of usage.

[2020-12-22 20:57] msmanak opened #17839 "Benefit Summary letter - accessibility corrections"
## What happened?

1. iOS (voiceover): profile letter page under  "benefit summary and service verification letter"

- discharge type and description read as two different announcements
- active duty start and description read as two different announcements
- separation date and description read as two different announcements
![IMG_8243.PNG](https://images.zenhubusercontent.com/5faabf11b099434179a

[2020-12-22 21:04] #17465 closed

[2020-12-22 21:05] msmanak commented on #14364
posting this for reference.`title={`We couldn't cancel your ${typeText}`}

      {isBadRequest ? (
        <p>
          We're sorry. You can't cancel your {typeText} on the VA appointments
          tool. Please contact your local VA medical center to cancel this
          appointment:
        </p>
      ) : (
        <p>
          Something went wrong when we tried to cancel this {typeText}. Ple

[2020-12-22 21:07] #17446 closed

[2020-12-22 21:11] msmanak commented on #14364
![Screen Shot 2020-12-22 at 3.09.48 PM.png](https://images.zenhubusercontent.com/5faabf11b099434179a66d66/9e2b64a9-c55a-425d-bd9a-c140fc1fd0a8)

[2020-12-22 21:16] mmiddaugh commented on #6158
This issue is ready to be validated @joshkimux @tlei123, whenever you are able.

[2020-12-22 21:17] mmiddaugh commented on #6892
The attribution has significantly improved with our version upgrade. This issue is ready for validation by @joshkimux @tlei123 whenever you are able

[2020-12-22 21:27] mpelzsherman commented on #17724
Confirmed in prod.

[2020-12-22 21:27] #17724 closed

[2020-12-22 21:29] jhouse-solvd commented on #5106
@kevinmirc - quick question - I see the comment on August 28 requesting the role to view logs? Did you ever get that? If not, do you still need it?

also, I'm following up with the ops team regarding your request from Dec16.

we will follow up through this ticket in the very near future. thank you for your patience! :)

[2020-12-22 21:35] #17409 closed

[2020-12-22 21:35] #17792 closed

[2020-12-22 21:38] jwoodman5 commented on #17681
@jason-gcio I made that update to the A/C and checked out items off then assigned back to you for the final A/C item. Please let me know if we can do anything further to help. Thanks.

[2020-12-22 21:39] bridgethapner commented on #16984
@lexicalninja sent me a .gif of this & it looks like you guys implemented the design in the top left with the addition of a check icon. It looks good!

I have a couple of questions:
- We have [this loading state](https://adhoc.invisionapp.com/share/GTZ1ESFF6BN#/screens/438292718_Homescreen_Loading_State) for the home screen too. It seems like the UI in this ticket is covering step 2 in the sign in

[2020-12-22 21:41] bridgethapner commented on #17563
@msmanak Thank you for this! I like the use of the outlined style of the Large Button CCs rather than 'Edit address' as a link in text. When you finalize can you add to the Invision & link to where the screens are in the prototype here?

[2020-12-22 21:56] #17655 closed

[2020-12-22 21:56] #17317 closed

[2020-12-22 22:03] jhouse-solvd commented on #17668
@dillo - Would you be able to generate the keys and send them to us using keybase / onceler? It is generally better for Ops if application teams create the auth keys / tokens that they need. Ops can then ensure that they are properly installed using credstash.

If so, I can message you a team member's keybase account name. Thank you, sir!

[2020-12-22 22:18] amyknox commented on #17363
UX 2/2 = We're good.

Thanks for [the additional info](https://bah-ssp.slack.com/archives/C01DEL71Q11/p1608669668148300?thread_ts=1608565880.142800&cid=C01DEL71Q11), Matt.

[2020-12-22 22:29] oragame commented on #15317
@pnwstevan - Let me know what you think about my previous comment ^

[2020-12-22 22:29] peggygannon commented on #14109
Hi, @narin @laurenernest  Uploaded below are my content edits/recommendations for the in-flow VAOS alerts. Please let me know if you have any questions. Thx!

[https://app.zenhub.com/files/133843125/cc067c54-0f9b-4be8-bff0-5669b0da8c0f/download](https://app.zenhub.com/files/133843125/cc067c54-0f9b-4be8-bff0-5669b0da8c0f/download)

[2020-12-22 22:30] bmcgrady-ep commented on #17497
All of the BigQuery DOMO datasets have now been updated. Closing out this ticket.

[2020-12-22 22:30] #17497 closed

[2020-12-22 22:30] oragame commented on #15319
Duplicate task listed for vets-api (staging) - I think we are all finished here.

[2020-12-22 22:32] SKasimow commented on #17414
@DanielleThierryUSDSVA Hi Danielle - assigning you this ticket per our discussion. You were going to check with your contact on how they handle spanish language callers so we can determine what to add to the in-language pages.

Also, check to see whether they needed any type of info/slides for this effort.

[2020-12-22 22:37] mmiddaugh commented on #16945
@chrisdlogan @lildziner will you please add a recommendation for the appropriate error message to display if no results are found? (with content input as needed)

[2020-12-22 22:40] laurenernest commented on #17616
The page is working as designed so technically not a bug, but keeping for potential improvements. The background on what's visible in VistA is helpful!

[2020-12-22 23:02] #16832 closed

[2020-12-22 23:32] tlei123 commented on #6158
@joshkimux , I'll leave this one to you, but feel free to ping me if you get swamped.

[2020-12-22 23:52] msmanak commented on #14364
![Slice-cancelation.png](https://images.zenhubusercontent.com/5faabf11b099434179a66d66/1fc577e5-eab7-4113-b41e-62ccae4f2b65)

[2020-12-23 00:48] tlei123 commented on #17305
@mpelzsherman , all failed test-cases re-run, and 100% Passed.  Re-run include failed cases for both this bug and the copy-bug #17261.

[Post-Staging-Review Summary (Defects) report](https://dsvavsp.testrail.io/index.php?/reports/view/179)

Sorry for the late response!

cc @pjhill

[2020-12-23 00:51] tlei123 commented on #17261
New post-Staging-Review test-run just completed, incl. all failed test-cases for the 2 defects found (this one and #17305:

[New Summary (Defects) report](https://dsvavsp.testrail.io/index.php?/reports/view/179) (no defects).

[2020-12-23 00:55] #13602 closed

[2020-12-23 00:56] tlei123 commented on #17537
@pjhill , post-Staging-Review test-run completed.  Failed test-cases all Passed:
[Post-Staging-Review Summary (Defects)](https://dsvavsp.testrail.io/index.php?/reports/view/179) report [empty, naturally]

@mmiddaugh , feel free to Close this ticket.

[2020-12-23 02:02] tlei123 opened #17843 "[QA] eBenefits - View Payment History - Integrate Cypress E2E test w/ TestRail"
Per View Payment History Staging Review Feedback #17733 > 1st "Should" item, integrated the app's Cypress E2E testing with TestRail.

**NOTE: This is a pilot.**  I'll be improving the Cypress-TestRail reporting workflow through iterations like this task. Although VSP's implemented cypress-testrail-reporter in vets-website repo, no formal VSA Cypress-TestRail reporting process is ready just yet.

[2020-12-23 02:09] tlei123 commented on #17733
@ddzz , it's still early days as far as an official VSA Cypress-TestRail integration/process goes, but I'm gonna pilot for this product: #17843

@micahchiang , FYI, as part of Cypress-TestRail integration, I'll be prepending TestRail test-case IDs to your Cypress test-descriptions (the strings inside the `it(...)`s), and requesting your review & approval of my upcoming PR when ready.

cc @jason-gc

[2020-12-23 02:30] tlei123 commented on #17733
@jason-gcio @micahchiang , I need some further info/guidance please on one of the E2E tests I'm seeing...

Per [our Slack convo](https://adhoc.slack.com/archives/D01201KKDHC/p1607637446006300), I thought my manual TestRail test-case for [this specific test](https://github.com/department-of-veterans-affairs/vets-website/blob/06da7951195a25da85db6cd05d754526f22edf0f/src/applications/disability-benef

[2020-12-23 02:35] tlei123 commented on #17843
@jason-gcio @micahchiang , I need some further info/guidance please on one of the E2E tests I'm seeing...

Per [our Slack convo](https://adhoc.slack.com/archives/D01201KKDHC/p1607637446006300), I thought my manual TestRail test-case for [this specific test](https://github.com/department-of-veterans-affairs/vets-website/blob/06da7951195a25da85db6cd05d754526f22edf0f/src/applications/disability-benef

[2020-12-23 03:35] denisecoveyduc opened #17844 "Integrating canned suggestions for Type Ahead"
## Description

Initial Type Ahead POC launched using suggestions generated from search.go algorythm. At the time there was a bug which was preventing suggestions from falling off after 30 days. Search.gov addressed that bugs which removed suggestions and motivated us to pivot back to creating a list of suggestion terms that will be hardcoded onto the suggestion database that search.gov will use i

[2020-12-23 04:42] mpelzsherman commented on #16945
@mmiddaugh I removed this item from the AC since it isn't an acceptance criteria.

- [ ] Flyover animation is not necessary for the secondary search map display

We can discuss next week.

[2020-12-23 05:00] jsev-io commented on #16896
Closing as user has been provided credentials

[2020-12-23 05:00] #16896 closed

[2020-12-23 05:28] jsev-io commented on #14281
Credentials provided to user.

[2020-12-23 05:28] #14281 closed

[2020-12-23 09:19] #14766 closed

[2020-12-23 12:17] sonntag-adam commented on #13361
Closing story, in staging and prod

[2020-12-23 12:17] #13361 closed

[2020-12-23 12:23] delli-gatti-michael commented on #17363
Closing this out

[Testrail test case](https://dsvavsp.testrail.io/index.php?/tests/view/32654&group_by=cases:section_id&group_order=asc&group_id=51)

[2020-12-23 12:23] #17363 closed

[2020-12-23 12:48] delli-gatti-michael commented on #17619
local testing complete

[2020-12-23 12:49] delli-gatti-michael commented on #17619
[Testrail test case](https://dsvavsp.testrail.io/index.php?/tests/view/32667&group_by=cases:section_id&group_order=asc&group_id=51)

[2020-12-23 14:22] joshkimux commented on #6158
@mmiddaugh Validated 👍

A couple of questions though:
- I remember that you mentioned the possibility of removing the mapbox icon from the tab order, is that still in the pipeline? It may be a better alternative given that it eliminates the chance of being ejected from the experience.
- The "search this area of the map" button only manages focus on the first time the user uses the zoom in and zoom

[2020-12-23 14:28] joshkimux commented on #6892
@mmiddaugh Was the attribution removed? I followed the steps to recreate it, but nothing appears for me. Was it replaced by the information icon?

Also, while testing on mobile (in devtools), the search button can block out a good chunk of the page. Would it be possible to place it above or below the map as opposed to directly on top of it? (see video)

https://user-images.githubusercontent.com/14

[2020-12-23 14:29] #16944 closed

[2020-12-23 14:36] delli-gatti-michael commented on #14424
@1Copenut This is on Staging and ready for your review

[2020-12-23 15:23] amyknox commented on #17756
Booz Sharepoint resource: [UX Staging Review activities](https://boozallen.sharepoint.com/:w:/r/teams/benefitsintegrationplatform/education/VAGov%20Document%20Library/Working%20documents/UX%20Assets/Process%20Docs/Initial%20draft%20of%20UX%20Staging%20Review%20Activities%20v2.docx?d=w72b93f5b8573404bac054aaebda1cc78&csf=1&web=1&e=lZQhLI)

[2020-12-23 15:28] mnorthuis opened #17845 "IA Feedback - Design intent - View representative"
## VFS acceptance criteria
- [ ] Let VSP know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
-

## Feedback
- **Must** = the feedback must be applied
- **Should** = the feedback is best practice
- **Consider** = suggestions/enhancements

**Must:**

**Should:**

**Consider:**

##

[2020-12-23 15:43] mlighdc commented on #16874
This will not be done as part of Sprint 37.

[2020-12-23 15:44] mlighdc commented on #17071
This will not be done in Sprint 37.

[2020-12-23 15:54] joshkimux opened #17846 "508-defect-2 [COGNITION]: Heading levels SHOULD increase by one in a logical order"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2020-12-23 16:12] davidconlon commented on #6009
@mmiddaugh @mpelzsherman

Want to emphasize/repoint this issue:
The problem we need to solve is not necessarily this one Legionella table but is more
"If a VAMC editor uses a table for their website, the table does not create zoom issues for veterans"

We can't do bespoke tables on this product.
This has to be a scalable, sustainable solution.
We will be unable to monitor.

[2020-12-23 16:19] peggygannon opened #17847 "Content - Design Intent - Your VA representative"
## User story

VSP content feedback during design intent for VA representative;
Prototype link: https://xd.adobe.com/view/e27b7e71-d920-4bcd-9e81-dc62a9665d5e-b728/

## VFS acceptance criteria
- [ ] Let VSP know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
-

## Feedback
- **M

[2020-12-23 16:33] RLHecht commented on #17648
@johnhashva I think now that we've both built our prototypes we can close this ticket out. Just want to confirm.

[2020-12-23 16:36] jonathanjnelson opened #17848 "[FE] Typo on Intro Page"
## What happened?
_A typo was discovered on Intro page of the 10-10CG_

## Steps to Reproduce
- URL: https://staging.va.gov/family-member-benefits/apply-for-caregiver-assistance-form-10-10cg/introduction

![Typo on Intro Page](https://user-images.githubusercontent.com/58444931/103017933-59028f80-4512-11eb-98d7-edd93fc1b3ea.png)

## Desired behavior
_Content should be updated to "10-10EZ"_

<img wi

[2020-12-23 16:41] bessgreen opened #17849 "UI Styling update | Nav bar"
## Acceptance Criteria
Make the following global styling changes to the top nav bar:

1. Center the page header in the top nav bar to give equal padding between top and bottom
2. Increase size of the Back button text by 3pts
3. Center the icon fa-chevron-left to the midline of 'Back'

## Mockups
![Screen Shot 2020-12-23 at 11.36.57 AM.png](https://images.zenhubusercontent.com/5f64e41291069a617acc1

[2020-12-23 16:46] bessgreen opened #17850 "UI update | Increase type styles"
## Acceptance Criteria
Make the following global changes across the app:

1. Increase **Bitter Bold** type style from 20px/26px to 24px/30px
2. Increase **Mobile Body** and **Mobile Body Bold** from 17px/26px to 20px/30px

## Mockups
![Screen Shot 2020-12-23 at 11.45.37 AM.png](https://images.zenhubusercontent.com/5f64e41291069a617acc1b47/e599bfb3-7a89-4fd3-9dd0-261dc3c444b6)

[2020-12-23 16:47] laurenernest opened #17851 "Footer - Update VVC support hours to 24/7."
## Issue Description

Note from OCCHD

![Screen Shot 2020-12-23 at 8.41.43 AM copy.jpg](https://images.zenhubusercontent.com/5f7dd2dad6b9a9301bbab94e/5478a97b-1723-4054-a7a0-f2fad77f2f60)

---
## Acceptance Criteria
- [ ] CONTENT - Last sentence in footer copy reads

[2020-12-23 16:49] mdewey commented on #16938
` [DELIGHTER]: create it in such a way to be a hidden form field and maybe contributed to the forms system.` Not possible until we update to the latest version of redux (v7.X) to use `useSelector` to query the store dynamically.

[2020-12-23 16:49] laurenernest opened #17852 "Footer - Misrouted VAOS calls to VA Mobile Help Desk"
## Issue Description

Note from Help Desk

![Screen Shot 2020-12-23 at 8.41.43 AM.jpg](https://images.zenhubusercontent.com/5f7dd2dad6b9a9301bbab94e/6c5bb6d0-8fe2-4b59-a11f-e954e2aa7994)

---
## Tasks
- [ ] Update first two sections of footer. Swap the lines.

## Acceptance Criteria
- [ ] CONTENT - Copy matches the following guidance:

If you need help scheduling an appointment, please call your V

[2020-12-23 16:53] bessgreen opened #17853 "UI update | Misc. padding changes"
## Acceptance Criteria

1. On the Contact VA page, reduce padding between the elements in the ListItem **by half**
2. On Step 3 of the Active Claims Step Table, **double** the padding between “You have 2 file requests from VA” and the Large Button CC

## Mockups
![Screen Shot 2020-12-23 at 11.50.59 AM.png](https://images.zenhubusercontent.com/5f64e41291069a617acc1b47/c87159c1-8a73-4d44-968c-77fc40

[2020-12-23 16:54] kristenmcconnell commented on #15536
@abuckley3385 @mlighdc For review. I also set up a meeting to discuss this research when we return in the New Year.

Research report (PDF): [https://app.zenhub.com/files/133843125/1f96c5e0-8804-4595-8149-518d321a9cd1/download](https://app.zenhub.com/files/133843125/1f96c5e0-8804-4595-8149-518d321a9cd1/download)

You can find all research documentation on GitHub at: https://github.com/department-of

[2020-12-23 16:55] #15536 closed

[2020-12-23 16:55] kristenmcconnell commented on #16063
On Dec. 17 met with a Whole Health clinician.

[2020-12-23 16:59] laurenernest commented on #17851
@peggygannon Is there a standard way we use "24/7" across va.gov?

[2020-12-23 17:00] peggygannon commented on #17847
Hi, @jason-gcio @sporeboy Please see below content thoughts/feedback for View representative. Let me know if you have any questions!

 ## Thoughts/questions

- What will users see on this screen if they don't have a selected representative?

- Will we be providing content to users about how to find a representative if they don't have one?

- Can users have more than 1 representative?

- Is this pa

[2020-12-23 17:01] kristenmcconnell commented on #16063
@abuckley3385 My documentation of these interviews can be found at https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/health-care/questionnaire/discovery/stakeholder-interviews/clinician-interviews/november-2020. I'm still working on the documentation/report though.

[2020-12-23 17:03] #16063 closed

[2020-12-23 17:06] kevinmirc commented on #5106
Hi @jhouse-solvd, I did receive access to logs, thanks for following up on that. Thanks for the update.

[2020-12-23 17:06] yakschuss opened #17854 "Access for Jack Schuss"
# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please Provide your email.

- Please provide the name of your team, your role on that team, and the name of the company you work for.

- Requesting SSH key authorization?

   - (Have SSH access already)

- Grant AWS Console access?

  - What AWS services do you need access to and wh

[2020-12-23 17:06] jonathanjnelson opened #17855 "[FE] Signature box title should be sentence case"
## What happened?
_The title in Secondary Family Caregiver signature box needs to be sentence case_

## Steps to Reproduce
- URL: https://staging.va.gov/family-member-benefits/apply-for-caregiver-assistance-form-10-10cg/review-and-submit

<img width="430" alt="Screen Shot 2020-12-23 at 12 01 51 PM" src="https://user-images.githubusercontent.com/58444931/103020594-b1d42700-4516-11eb-93a6-76d48f773c

[2020-12-23 17:08] yakschuss commented on #17854
@department-of-veterans-affairs/vsp-operations  - tagging here for notification

[2020-12-23 17:31] alexandervalencia commented on #13495
Hi @Jeff-Hayter I've learned my COR is actually Cecellia Lam. Please let me know where I can send my eQIP acceptance email.

[2020-12-23 17:34] bessgreen commented on #17849
@bridgethapner AC #2 specifies increasing the size of the Back button text (and the Cancel/Save text).

I'm attaching some screenshots from the current build on the iPhone SE, which is one of the smallest devices on the testing matrix. On certain pages with longer headers, the top nav bar is pretty tight.

Should we still proceed with AC #2?

![image (9).png](https://images.zenhubusercontent.com/5

[2020-12-23 17:40] denisecoveyduc commented on #13494
Removed the S+D Milestone since this isn't actually an issue for the Search & Discovery team but more for analytics.

[2020-12-23 17:45] tlei123 commented on #17457
@jason-gcio , in the interest of earlier QA involvement in our product lifecycles...

Pls. work w/ your team to start developing your View-feature use-cases in this draft [Use-Cases doc](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/ebenefits/features/view-update-POA/use-cases-view.md) in your product folder.  You'll notice the doc's format take much les

[2020-12-23 17:45] denisecoveyduc commented on #17534
Sprint 38 we will begin this work knowing that it will likely roll over into Sprint 39 given the size of the effort

[2020-12-23 17:55] Clark-W-Griswold commented on #7971
Open PR here:
https://github.com/department-of-veterans-affairs/devops/pull/8218

[2020-12-23 17:56] jason-gcio commented on #17681
@jwoodman5 - thank you!

[2020-12-23 18:07] jason-gcio opened #17856 "Implement design intent feedback for View Representative"
### Goal
Review and implement feedback from design intent meeting. Areas to review include Design, Content and Accessibility. Update mockups to reflect feedback.

### Considerations
- View tool built to conform to design council recommendations
- May need to reconcile feedback from design intent call with current patterns and new "view tool" layout
- Some discussion needed around placement of tool

[2020-12-23 18:11] jason-gcio opened #17857 "Refine Process Flow for Search for a VA Representative"
### Goal
Design initial user and process flows for representative search.

### Considerations
- Review current search tools and patterns on VA.gov
- Determine search parameters and filtering criteria
- Position search tool in context of View/Search/Appoint process flow

### Tasks
- [x] Include team in discussion
- [x] Revise and refine current usecase and process flow diagrams
- [x] Revise and ref

[2020-12-23 18:12] jhouse-solvd commented on #17485
We will want to have our Argo deployment pipelines solidified before writing these migration plans.

[2020-12-23 18:13] omgitsbillryan commented on #13282
Looks good to close for me. 👍

[2020-12-23 18:13] #13282 closed

[2020-12-23 18:14] alexpappasoddball opened #17858 "Facilities API Issue"
## Description

See thread [here](https://dsva.slack.com/archives/CBU0KDSB1/p1605895009424800)

## Goals
Determine the path forward to solve the issues outlined in the thread.

[2020-12-23 18:15] alexpappasoddball commented on #17858
@kfrz Do mind diving into this next week if you have some time and document in this ticket how you think we can best move forward with this?

[2020-12-23 18:17] alexpappasoddball commented on #17858
@drorva @davem-va @rtravitz @tskinn Unable to tag Adam and Peter on this, if anyone wants to forward it over.

Just for clarity, we will only have 1 team member around until the new year.  We will try and get it looked into but based on available resources no promises.

[2020-12-23 18:20] bessgreen opened #17859 "Add loading screen for pages w/ API-driven data"
## Context for this task
Patrick created a generic loading screen component for screens that are pulling data from the API, so it doesn't flash a blank screen.

## Acceptance Criteria
1. Make a sweep across the app and add the loading screen component to areas that are displaying API-driven data. This includes:
     - Appointments
     - Claims
     - Profile
     - Personal & contact information

[2020-12-23 18:27] jason-gcio opened #17860 "Add Content to CH31 Orientation Module"
### Goal
Add several "chapters and slides" to CH31 orientation module on 28-1900 intro screen.

### Considerations
- [Orientation PDF](https://dsva.slack.com/files/U7721SMFG/F01J8BRHWC8/vr_e_turbo_mockup.pdf?origin_team=T03FECE8V&origin_channel=DNDN2C66N)
- [Turbo Orientation]()

Content outline per orientation PDF:
1. Basic benefit information (6 bullet points)
2. VR&E Process Overview (5 sentenc

[2020-12-23 18:29] erikphansen commented on #17703
Closing this. I confirmed on prod that you are asked to confirm your address if the suggested state does not match the state that you entered.

[2020-12-23 18:29] #17703 closed

[2020-12-23 18:36] omgitsbillryan commented on #11286
@alexpappasoddball Nope.

Just took a quick look and we are still duplicating data in `prod` across 2 redis elasticache instances 🤦 . Looks like [I got cold feet when I attempted this back in August](https://github.com/department-of-veterans-affairs/devops/pull/7357), since it wasn't clear that sidekiq wasn't still using this old redis instance.

Probably want to revisit this at some point lest we

[2020-12-23 18:37] annaswims commented on #17806
I'd gladly see this grow into a "we need an admin environment" epic.  The feature toggle auth was meant to be MVP/ "good enough for now".

I'd like to see it used for
* feature toggles
* sidekiq admin
* pghero (database stats/health)

[2020-12-23 18:37] digitalken commented on #16863
Testing...

[2020-12-23 18:38] bessgreen opened #17861 "UI update | Center buttons on web-view nav bar"
## Acceptance Criteria

1. Center all the elements in the Web View nav bar to give equal padding between top and bottom

## Mockups
![Screen Shot 2020-12-23 at 1.33.55 PM.png](https://images.zenhubusercontent.com/5f64e41291069a617acc1b47/926c8eb3-6e0d-4294-83b4-16b31369da0a)

[2020-12-23 18:40] laurenernest commented on #17548
Answers to your questions below. We should split this into 2 pieces of work: 1) Adjust the labeling on the card (since we can do that without additional info), 2) Update with better instructions

The facility will call them

n/a

Kay's going to ask about this

[2020-12-23 18:43] jason-gcio opened #17862 "Meet with LH to Discuss Specific Integration Steps for OGC Access"
Schedule and conduct a meeting to discuss the specifics of how we might integrate with LH's API

## Considerations
- A Veteran submits a request to a potential rep who then confirms that they will be the rep for that Veteran
- Some representatives have their own software, others log in to SEP, still others get a paper 2122a form that gets accepted or rejected.

[2020-12-23 18:50] komaly15 commented on #17802
please use the `LoadingComponent` common component for this loading screen

[2020-12-23 18:50] jason-gcio opened #17863 "Describe LoE for making changes to diary web entries"
## Background
A large part of the dependency verification is to make a change in the VA's system and we need to understand how to WRITE to that system.

## Consider
- We should be asking for verification on dependents if they are stale for more than a year
- Upon a WRITE to the diary entry, we need to submit a Form 538 on behalf of the Veteran and save it in the eFolder.
  - Bio info and a check b