[2021-03-29 13:15] LindseySaari opened #22271 "rails production gem minor version update"
## Issue Description
As a more cautious approach to update our production gems, the upgrade path was split into three sub-steps. It was discussed to break out each gem into a ticket individually, as the risk level increases. This ticket details the upgrade of the rails gem (production group) to it's latest minor version

---
## Tasks
- [x] CI make target passing locally
- [x] Reviewed gem change l

[2021-03-29 13:16] LindseySaari opened #22272 "rails_semantic_logger production gem minor version update"
## Issue Description
As a more cautious approach to update our production gems, the upgrade path was split into three sub-steps. It was discussed to break out each gem into a ticket individually, as the risk level increases. This ticket details the upgrade of the rails_semantic_logger gem (production group) to it's latest minor version

---
## Tasks
- [ ] CI make target passing locally
- [ ] Revie

[2021-03-29 13:17] LindseySaari opened #22273 "redis production gem minor version update"
## Issue Description
As a more cautious approach to update our production gems, the upgrade path was split into three sub-steps. It was discussed to break out each gem into a ticket individually, as the risk level increases. This ticket details the upgrade of the redis gem (production group) to it's latest minor version

---
## Tasks
- [ ] CI make target passing locally
- [ ] Reviewed gem change l

[2021-03-29 13:17] LindseySaari opened #22274 "redis-namespace production gem minor version update"
## Issue Description
As a more cautious approach to update our production gems, the upgrade path was split into three sub-steps. It was discussed to break out each gem into a ticket individually, as the risk level increases. This ticket details the upgrade of the redis-namespace gem (production group) to it's latest minor version

---
## Tasks
- [ ] CI make target passing locally
- [ ] Reviewed ge

[2021-03-29 13:18] LindseySaari opened #22275 "ruby-saml production gem minor version update"
## Issue Description
As a more cautious approach to update our production gems, the upgrade path was split into three sub-steps. It was discussed to break out each gem into a ticket individually, as the risk level increases. This ticket details the upgrade of the ruby-saml gem (production group) to it's latest minor version

---
## Tasks
- [ ] CI make target passing locally
- [ ] Reviewed gem chan

[2021-03-29 13:19] LindseySaari opened #22276 "rubyzip production gem minor version update"
## Issue Description
As a more cautious approach to update our production gems, the upgrade path was split into three sub-steps. It was discussed to break out each gem into a ticket individually, as the risk level increases. This ticket details the upgrade of the rubyzip gem (production group) to it's latest minor version

---
## Tasks
- [ ] CI make target passing locally
- [ ] Reviewed gem change

[2021-03-29 13:19] LindseySaari opened #22277 "sidekiq-pro production gem minor version update"
## Issue Description
As a more cautious approach to update our production gems, the upgrade path was split into three sub-steps. It was discussed to break out each gem into a ticket individually, as the risk level increases. This ticket details the upgrade of the sidekiq-pro gem (production group) to it's latest minor version

---
## Tasks
- [ ] CI make target passing locally
- [ ] Reviewed gem ch

[2021-03-29 13:20] LindseySaari opened #22278 "typhoeus production gem minor version update"
## Issue Description
As a more cautious approach to update our production gems, the upgrade path was split into three sub-steps. It was discussed to break out each gem into a ticket individually, as the risk level increases. This ticket details the upgrade of the typhoeus gem (production group) to it's latest minor version

---
## Tasks
- [ ] CI make target passing locally
- [ ] Reviewed gem chang

[2021-03-29 13:21] LindseySaari opened #22279 "will_paginate production gem minor version update"
## Issue Description
As a more cautious approach to update our production gems, the upgrade path was split into three sub-steps. It was discussed to break out each gem into a ticket individually, as the risk level increases. This ticket details the upgrade of the will_paginate gem (production group) to it's latest minor version

---
## Tasks
- [ ] CI make target passing locally
- [ ] Reviewed gem

[2021-03-29 13:24] joshkimux opened #22280 "508-defect-2 [HEADINGS]: "What you should know" on the sign up page should be a heading level 2"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2021-03-29 13:26] annaswims opened #22281 "Handle EVSS rated disabilities error in disability_compensation_in_progress_forms_controller"
http://grafana.vfs.va.gov/d/000000066/form-526-disability-compensation?orgId=1&from=now-7d&to=now
<img width="1555" alt="Screen Shot 2021-03-29 at 9 21 34 AM" src="https://user-images.githubusercontent.com/19188/112843109-3ed7d080-9070-11eb-98b6-c58ba0907421.png">

As a follow-up to https://github.com/department-of-veterans-affairs/vets-api/pull/6098, if we are unable to get rated disabilities fro

[2021-03-29 13:27] #22188 closed

[2021-03-29 13:29] johnhashva commented on #20170
@denisecoveyduc and @srsuddath I've going to break this ticket into two -- one focused on the non-canonical URLs "issue" and the other on structured markup since they are two very different potential problems.    For non-canonical URLs report -- I've done some probing and here is what I've come up with: https://github.com/department-of-veterans-affairs/va.gov-team/issues/22242

[2021-03-29 13:40] joshkimux opened #22282 "508-defect-3 [COGNITION]: "Sign up now" link should be styled as a link using the Action Link component"
# [508-defect-3](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-3)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2021-03-29 13:41] U-DON commented on #21722
- Modified the linting step to output a JSON file and used a different action to produce a summary from that file.
- Seems to be much more efficient than using the action that uses JUnit to create that summary (only took a second).

[2021-03-29 13:44] timwright12 commented on #20211
Work has been merged. Will continue to monitor Sentry, but closing out

[2021-03-29 13:44] #20211 closed

[2021-03-29 13:44] joshkimux opened #22283 "508-defect-3 [COGNITION, SEMANTIC MARKUP]: Link text should make sense when taken out of context"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2021-03-29 13:51] joeniquette opened #22284 "DSlogon monitoring script"
Boris has a monitoring script for DSLogin he would like help getting updated and taken over. Ping him in the SRE channel of slack when ready.

[2021-03-29 13:51] ajakabcin opened #22285 "Collaboration Cycle Kickoff [VSA Authenticated Experience, Preferred Medical Facilities in the VA.gov profile]"
## Steps to complete Collaboration Cycle Kickoff
- [ ] VFS Product Manager: Create this issue and fill in your team and feature name in the title.
- [ ] VFS: Answer the questions below.
- [ ] VFS: Link to this issue once created in vfs-platform-support in Slack; tag @vsp-product-support-members.
- [ ] VFS: Attach any available artifacts.
- [ ] VSP: Review the responses and comment in ticket with r

[2021-03-29 13:52] joshkimux opened #22286 "508-defect-0 ❗️ Launchblocker: Smooth scroll should not be used with accordions"
# [508-defect-0 :exclamation: Launchblocker](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-0)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and a

[2021-03-29 14:09] #21489 closed

[2021-03-29 14:14] ajakabcin opened #22287 "Collaboration Cycle Kickoff [VSA Authenticated Experience, Communication Permissions (Notification Preferences)]"
## Steps to complete Collaboration Cycle Kickoff
- [ ] VFS Product Manager: Create this issue and fill in your team and feature name in the title.
- [ ] VFS: Answer the questions below.
- [ ] VFS: Link to this issue once created in vfs-platform-support in Slack; tag @vsp-product-support-members.
- [ ] VFS: Attach any available artifacts.
- [ ] VSP: Review the responses and comment in ticket with r

[2021-03-29 14:17] pjhill opened #22288 "Create a Smoke Test to Monitor Platform Login Functionality in Production"
## Bet
Smoke tests executed on a schedule, monitored in a dashboard, alerted in Slack, targeting core aspects of the platform, and executed in production are an effective way of monitoring for emerging issues in production.

## User Story

As platform support personnel, I need to monitor the functionality of the platform in production in order to be aware of emerging issues.

## Expected Behavior

[2021-03-29 14:20] holdenhinkle commented on #10658
This can be implemented after we move to GitHub Actions.

[2021-03-29 14:23] #22204 closed

[2021-03-29 14:37] bethpottsVADEPO commented on #21872
@tressaellen Re: #21543 -- If you made this edit, then it should be good now: "Continue your application"
Want to share the latest screen shot here?

Re: #21370 Looks good!

[2021-03-29 14:41] rtwell commented on #21847
ok last question regarding image behavior: let's say we go max width (like the [mock you posted](https://github.com/department-of-veterans-affairs/va.gov-team/issues/21847#issuecomment-806155393) a few days ago). how are the smaller images not fitting the full width the way the wider images above it?

[2021-03-29 14:41] digitaldrk commented on #22041
[ch31_diagram.pdf](https://github.com/department-of-veterans-affairs/va.gov-team/files/6222499/ch31_diagram.pdf)

[2021-03-29 14:44] bethpottsVADEPO commented on #21934
For tracking purposes, I wanted to note here that I took an initial pass at content to address the main content needs. There's still some refining to do to adhere to our content standards, and I'll address the remaining issues at the next stage of content review.

@kevinstachura I'm going to keep this ticket open for the next round of changes to come from stakeholders.

[2021-03-29 14:45] Samara-Strauss commented on #21183
Validated! Thank you for the fast turnaround on this, all. I really appreciate it.

Are we good to close this? When we're ready to launch/put My VA in the unauth nav, do we need to come back to your team, or is this something that will automatically go out with the rest of the functionality that is behind the My VA feature flag?

[2021-03-29 14:49] andaleliz commented on #13246
Thanks @erikphansen! Excellent info and sleuthing.

Maybe a dumb question but how does the data come in so that we know this is a country code and not an area code? Why is it not (501)622-0000? I'd be curious to see how that's structured, just for my own knowledge.  I see in staging her number is `null622000` - is the 501 still somewhere in the database that we're just not exposing?

Yes, I agree

[2021-03-29 14:50] jonwehausen commented on #20785
Hi @Samara-Strauss,

Thank you for your patience on this request.

To update you -- I have made the requested labeling adjustments within the [direct deposit for comp & pen GA dashboard](https://analytics.google.com/analytics/web/#/dashboard/naG_-UneTxy50WvvIH0GGQ/a50123418w177519031p176188361/).

That said, I wanted to make you aware I noticed the filtering within some of the widgets included bot

[2021-03-29 15:02] kelsonic commented on #21847
So while there is no `max-height` on the images, the images try to match their aspect ratio and it looks like the height and width of the images are set in drupal as `entity.image.height` and `entity.image.width`

[2021-03-29 15:05] shiragoodman opened #22289 "Training Materials - QA Training Support"
## Problem Statement
Testing Tools Team will be launching new testing capabilities for cross platform testing. These capabilities will be enforced and communicated through the Collaboration Cycle.

HMW provide training and support to VFS teams to get them oriented and trained efficiently and effectively?

## Hypothesis or Bet
*How will this initiative impact the quality of VFS or VSP teams' work?*

[2021-03-29 15:06] rjohnson2011 opened #22290 "Create AWS Credentials for Github Actions Self-Hosted Runner"
## Description
Testing Tools Team wants to use a Github Action self-hosted runner on a private, internal team repo. We need a testing-tools-team repo set up with AWS credentials for an AWS IAM team with permissions to access EKS & AWS parameter store.

## Background/context/resources
This ticket helps fulfill https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veter

[2021-03-29 15:11] jhonnyoddball commented on #21638
All errors have been fixed and the deploy is completing successful

[2021-03-29 15:13] laurenernest commented on #20309
The path started events should be showing now.

[2021-03-29 15:13] shiragoodman commented on #22155
What is our process when 2 VFS teams are involved in the completion of the work - 1 team for static content (most likely Sitewide Content team), and the other team for the functional work?

[2021-03-29 15:17] erikphansen commented on #13246
Where are you seeing `null622000` on staging? I see it show up as `6220000`.

The raw data for this phone number is below (note the `countryCode`):
[code]

FWIW you can view this data by checking your browser's network tab and inspecting the response from the `GET user` API call. I'm happy to help with that if needed.

We could probably ask VA Profile to do a query of their database to see if they

[2021-03-29 15:18] JasonTheBearded commented on #14969
@mmiddaugh apologies for the delay on this ticket and thank you for your patience. Since reinstating our 'fl-search-results' event, due to privacy and security concerns, all distance and location based values were stripped out. So we are no longer capable of tracking or reporting on any related metrics.

I also confirmed that there is no tracking on the tabs, as the particular code running those t

[2021-03-29 15:19] digitalken commented on #22122
PASS 3/29/2021 - Sounds good on Android and iOS.  Closing.

[2021-03-29 15:19] #22122 closed

[2021-03-29 15:23] digitalken commented on #22147
PASS 3/29/2021 - Sounds good on Samsung, closing.

[2021-03-29 15:23] #22147 closed

[2021-03-29 15:24] digitalken commented on #22148
PASS 3/29/2021 - Looks good on Samsung, closing.

[2021-03-29 15:24] #22148 closed

[2021-03-29 15:33] shanemelliott opened #22291 "Text in to create vaccine appointment - Veteran Initiated Messages"
### Notes
Similar to Vax / pass

Different approaches:

request type with parameters for message
whatever cohorts are active
automated approach where VEText looks for availability for any clinics associated with that site, hard coded end date?

default to last center where the vet had an appt?
return a message with facilities they've been to in the past

different request type - cohort section is

[2021-03-29 15:33] zurbergram commented on #21244
https://github.com/department-of-veterans-affairs/vets-api/pull/6336

[2021-03-29 15:34] joshkimux opened #22292 "508-defect-1 ❗️ Launchblocker [SCREENREADER]: Focus must be managed for single-page applications"
# [508-defect-1 :exclamation: Launchblocker](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-1)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and a

[2021-03-29 15:39] lianilychee commented on #21642
- Newsletter was sent!
- We can bring up sending the Slack copy as well (ownership)

[2021-03-29 15:39] #21642 closed

[2021-03-29 15:40] jonwehausen commented on #20155
Hi @laurenernest ,

I wanted to jump in here as I haven't seen any data/events to-date that indicate we're collecting the provider language.

That said, I would recommend we add a DL variable or separate event indicating the user's language selection. Looking at `vets-website`, it looks like we are currently firing an event for provider clicks [(`vaos-choose-provider-click`)](https://github.com/de

[2021-03-29 15:41] andaleliz commented on #13246
It shows up as `null` when you open it in edit mode:
![image.png](https://images.zenhubusercontent.com/5d9def68b6de6d00018d50f2/46df0bb4-e43d-41e5-bc77-522072ca8e6b)

Thanks for the tip on the network tab, that's cool!

I think that'd be worthwhile to ask VA Profile so we can see if this is really a problem or some random one-off instance in our staging DB.  I see there's also an `isInternational`

[2021-03-29 15:41] lianilychee commented on #21643
Today:
- Add remaining examples and experiment w formatting them w info panels
- Will spend Tues and Weds developing all blurbs and intro, and explaining why we did what we did

[2021-03-29 15:41] joshkimux opened #22293 "508-defect-4 [SEMANTIC MARKUP]: Use <p> for paragraphs, not <span>"
# [508-defect-4](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-4)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2021-03-29 15:42] delli-gatti-michael commented on #22023
Form is now present at https://staging.va.gov/vrrap/introduction

Closing this issue

[2021-03-29 15:42] #22023 closed

[2021-03-29 15:43] SKasimow opened #22294 "Addition of "Back to Top" Option | Covid Pages | English, Spanish, Tagalog"
## Background

When pages such as our Covid-19 related pages are long and encompass multiple scrolls to get from the top to the bottom, it becomes tedious to scroll back up through screens and screens of content. To help users navigate more efficiently we would like to add the "Back to Top" shortcut  button and enable users to quickly navigate to the top of the page.

## Issue Description

As a pr

[2021-03-29 15:46] 1Copenut commented on #21791
@mmiddaugh I went through the list of updates this morning. There are 4 pages with links still missing discernible text:
* https://www.va.gov/salt-lake-city-health-care/locations/
* https://www.va.gov/salt-lake-city-health-care/locations/cache-valley-va-clinic/
* https://www.va.gov/eastern-oklahoma-health-care/news-releases/eastern-oklahoma-va-begins-covid-19-vaccine-distribution/
* https://www.va

[2021-03-29 15:48] bessgreen opened #22295 "Common component: Unread message count tag"
## Acceptance Criteria
1. Create common component for the unread message count tag
     - This is used in the Messages button on the Health screen to show the unread message count
2. This component will ultimately be inserted into card button
3. Specs:
     - Background-color: gray-dark #323a45
     - Color: #fff
     - Text: Mobile Body Bold
     - Padding:
          - top/bottom: 5px;

[2021-03-29 15:48] erikphansen commented on #13246
Ohhh... that ☝️ is a bug I didn't know about. Can you make a ticket for that? Something like "edit phone number form does not handle prefilling `null` area codes"

I'll ask VA Profile if they can run that query. I do suspect that this is likely a non-issue in prod.

[2021-03-29 15:55] jefflbrauer commented on #19215
@mchelen Per slack chat, the team continues to support the above recommendation, with the one clarification on #4.  The broken link alerts should be in the same channel as content release failure notifications (currently #cms-notifications), and a broken link alert must distinguish whether or not it has broken the build. According to our criteria, this would happen if the broken link was either:

[2021-03-29 15:56] digitalken opened #22296 "Delete Contact Information CC - Large buttons are all missing accessibility hints"
## What happened?
All of the large buttons for this (Remove [phone] button, Confirm and Cancel) are missing their accessibility hints.

## Specs:
- Device: Android and iOS with screen reader on

## Steps to Reproduce
- Visit phone pages and read buttons for removal with screen reader on.

## Desired behavior
Accessibility Implementation Guidelines

Remove [page name] button:
accessibilityLabel= “R

[2021-03-29 15:59] artsymartha68 commented on #22286
Related? https://github.com/department-of-veterans-affairs/va.gov-team/issues/6844

[2021-03-29 15:59] artsymartha68 commented on #22286
Also related? https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/312

[2021-03-29 16:01] annaswims opened #22297 "Form 526 reserve date validation - Back End"
In addition to https://github.com/department-of-veterans-affairs/va.gov-team/issues/21792 the back end needs to make a change to allow future separation dates for reservists.

related sentry error: http://sentry.vfs.va.gov/organizations/vsp/issues/20804/?environment=production&project=3&query=is%3Aunresolved+assigned%3Ame+url%3Ahttps%3A%2F%2Fapi.va.gov%2Fv0%2Fdisability_compensation_form%2Fsubmit_

[2021-03-29 16:05] #22120 closed

[2021-03-29 16:07] 1Copenut commented on #21871
@outerpress I like this streamlined flow a lot. There's a clear call to action and I can focus on the next one thing. I'd like to see if the front-end devs can update the button's accessible label based on `[disabled]` state. Thinking:

[code]

[code]

[2021-03-29 16:07] zurbergram commented on #21244
Merging note because of the order of work done, PR for https://github.com/department-of-veterans-affairs/va.gov-team/issues/22084 will have to be merged before this story's PR

[2021-03-29 16:07] #21192 closed

[2021-03-29 16:08] digitalken commented on #20334
PASS 3/29/2021 - (GUI only.)  Accessibility fails as all accessibility hints for the big buttons are missing.  Logged the bug so I'm going to close this ticket out.

https://app.zenhub.com/workspaces/va-mobile-app-5f205eac3155a2000f422ecb/issues/department-of-veterans-affairs/va.gov-team/22296

[2021-03-29 16:08] #20334 closed

[2021-03-29 16:14] elder-joseph commented on #22198
Associated PR: https://github.com/department-of-veterans-affairs/vets-website/pull/16561

[2021-03-29 16:15] digitalken commented on #21779
PASS 3/29/2021 - Sounds like a regular phone number now!  Closing.

[2021-03-29 16:15] #21779 closed

[2021-03-29 16:18] artsymartha68 commented on #22286
@bkjohnson offered to grab this one.

Slack discussion for reference, in case it helps.
https://dsva.slack.com/archives/C8E985R32/p1591299017158700?thread_ts=1591298527.158400&cid=C8E985R32

@Mottie said:
Tell your devs to add this setting when the component initializes (ComponentDidMount if you're using Classes)

window.VetsGov.scroll = {
  duration: 0,
  delay: 0,
  smooth: false
};

[2021-03-29 16:22] micahchiang commented on #21478
@joshkimux @jason-gcio - I've created a draft PR [here](https://github.com/department-of-veterans-affairs/vets-website/pull/16564) to incorporate as many of the a11y fixes suggested in this ticket as possible. Hoping to use that PR as a place to gain an extra pair of eyes from @joshkimux for feedback and collaboration as the work progresses.

[2021-03-29 16:24] joshkimux opened #22298 "508-defect-2 [SCREENREADER]: Error messages must be announced when tabbing through fields"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2021-03-29 16:36] 1Copenut commented on #22155
@shiragoodman
Not sure this belongs here, but putting it out there for reaction. I'm interested in starting to socialize the Accessibility Test Plan as part of Collab Cycle kickoffs. I've captured the work and the communication in the two following tickets:
* https://github.com/department-of-veterans-affairs/va.gov-team/issues/21174
* https://github.com/department-of-veterans-affairs/va.gov-team/i

[2021-03-29 16:36] tressaellen commented on #21872
@bethpottsVADEPO thanks so much for your help! Here's the screenshot for #21543. If there's nothing else then I think we're good to go on this ticket.

![My VA Desktop Everything.jpg](https://images.zenhubusercontent.com/5dfa65bbbd078d1699e52294/cb0e566b-da12-4a5e-8f4d-a5098835ce74)

[2021-03-29 16:37] johnhashva commented on #21183
@Samara-Strauss if you are months away from My VA 2.0 launch, I say let's close this.   One other question: Are you signed off on the Analytics instrumentation for this -- basic event click -- as noted by @jonwehausen -> https://github.com/department-of-veterans-affairs/va.gov-team/issues/21183#issuecomment-807264813.

[2021-03-29 16:44] shanemelliott opened #22299 "Community Care USe Case #2: Generate Report"
Add report somewhere (Super USer) with sits that have 669 enabled.

Or via Power BI

[2021-03-29 16:45] shanemelliott opened #22300 "Community Care USe Case #1"
Add URL to message (shortened)
https://www.va.gov/communitycare/#:~:text=The%20VHA%20Office%20of%20Community%20Care%20administers%20health,family%20member%E2%80%94like%20health%20care%2C%20disability%2C%20education%2C%20and%20more.

- [x] need to create shortened url.
- [ ] julia to determine how to include url in content - text change.

[2021-03-29 16:45] shanemelliott opened #22301 "Community Care Use Case #1"
- [x] Review conversational flow research with Community Care team.

Possible need to add URL to message (shortened)
https://www.va.gov/communitycare/#:~:text=The%20VHA%20Office%20of%20Community%20Care%20administers%20health,family%20member%E2%80%94like%20health%20care%2C%20disability%2C%20education%2C%20and%20more.

[2021-03-29 16:47] shanemelliott opened #22302 "Community Care Use Case #1: Reporting"
Add SCheduled?

[2021-03-29 16:51] joshkimux opened #22303 "508-defect-2 [SCREEN READER]: Notes should be programatically linked with aria-describedby to their relevant fields"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2021-03-29 16:55] tlei123 commented on #20822
Currently, this use-case has not been implemented in front-end yet.  Team will notify VSA-QA when it is.

[2021-03-29 16:55] #19941 closed

[2021-03-29 16:55] AngelaFowler82 opened #22304 "508-defect-4, health services, list under "mental health care" not complete."
Label: 18928

    - [508-defect-4]

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-4

Issue Title: Defect level 4, health services, list under "mental health care" not complete.
Point of Contact: Angela Fowler
**VFS Point of Contact:** _First name only: Angela

User Story or Problem Statement:

<h2>Deta

[2021-03-29 17:00] narin opened #22305 "Get list of user facilities to determine Cerner status"

[2021-03-29 17:02] tlei123 commented on #21365
Just checked Slack, and **test_scheduled** workflow's fail-only Slack-notification worked. [See screenshot of Slack-message from last night's scheduled-run.]
<img width="600" alt="slack-notification-scehduled-workflow-210329" src="https://user-images.githubusercontent.com/587583/112872729-9167bb80-9075-11eb-82b6-c97953e9adfa.png">

[2021-03-29 17:13] tressaellen commented on #21872
@bethpottsVADEPO I have one more piece of content that needs to be approved.

In the first time user experience screen we have some blurbs for the benefits that are highlighted. I made some changes to the education blurb so it aligns a little better with what we have on the homepage.  Let me know if you have any thoughts/changes.

**Education benefits**

With VA education benefits you or your qual

[2021-03-29 17:14] ltrombley commented on #22012
Task #22012 - Prepare Southeast-Louisiana-health-care for Dual-state is Complete and moved to Validate.

[2021-03-29 17:14] AngelaFowler82 opened #22306 "508-defect-4: health services, duplicate links for Erie VA Medical Center"
Label: 18928

    - [508-defect-4]

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-4

Issue Title: Defect level 4, health services, duplicate links for Erie Health care
Point of Contact: Angela Fowler
**VFS Point of Contact:** _First name only: Angela

User Story or Problem Statement:

<h2>Details</h2>

[2021-03-29 17:20] jenniferlee-dsva opened #22307 "Find a VA Form: FE design bug: double underline in blue Frequently Used VA Forms boxes"
## What happened?
_The line is rendering as dashed double lines in Edge. On Chrome, it is rendering as an extra thick, bolded line. Both are bugs. Per Ryan Thurlwell, both should look like how it is rendering in Firefox, as a simple 1 px rule. This is not affecting functionality as far as I can tell, so please triage accordingly. _

## Specs:
- Device: (Mac and HP)
- Browser: (e.g. Firefox, Edge,

[2021-03-29 17:24] #20098 closed

[2021-03-29 17:25] #21033 closed

[2021-03-29 17:28] Samara-Strauss commented on #20785
THANK YOU, @jonwehausen!! The updates look great.

This dashboard should only be pulling in direct deposit for C&P data, as [this dashboard was put together to track direct deposit for edu data](https://analytics.google.com/analytics/web/?authuser=0#/dashboard/UJwvqguWQMqJaGySJWq1VQ/a50123418w177519031p176188361/). Is this something you would take a look at to make sure we're pulling in the right

[2021-03-29 17:36] ncksllvn commented on #21183
@Samara-Strauss This was implemented to use the same Flipper feature flag as the My VA 2.0 application - `dashboard_show_dashboard_2`, meaning that if My VA 2.0 is enabled for a certain user, so will the `My VA` link in the navbar. (Thanks @kelsonic for doing the implementation!)

[2021-03-29 17:37] ajakabcin opened #22308 "Design intent [VSA Authenticated Experience, Preferred Medical Facilities in the VA.gov profile]"
## Steps to complete Design Intent Collaboration
- [ ] VFS Product Manager or Designer: Create this issue and fill in your team and feature name in the title.
- [ ] VFS: Link to this issue once created in #design in Slack; tag @vsp-product-support-members.
- [ ] VSP: Schedule meeting with VSP reviewers and VFS team attendees (listed below).
- [ ] VFS: At least 2 days before scheduled meeting/revie

[2021-03-29 17:37] ncksllvn commented on #21183
^ my point being that no further coordination with Pub Web should be necessary and you should be able to confirm this behavior by toggling the feature flag on Staging

[2021-03-29 17:39] Samara-Strauss commented on #13246
Sorry, this ticket was poorly defined in the first place. I'm actually wondering if we need any design on this problem at all given the following:

- People can not save an international phone numbers in our profile, and we (1) already tell them that and (2) reject phone numbers that aren't 10 digits (US area code + 7-digit phone number). So, while we could add some sort of non-editable country co

[2021-03-29 17:40] micahchiang commented on #21478
Addressed point number 2 in [this commit](https://github.com/department-of-veterans-affairs/vets-website/pull/16564/commits/563d7c65736e903d398f0553f22549e50239485d)

[2021-03-29 17:42] ajakabcin opened #22309 "Design intent [VSA Authenticated Experience, Communication Permissions (Notification Preferences)]"
## Steps to complete Design Intent Collaboration
- [x] VFS Product Manager or Designer: Create this issue and fill in your team and feature name in the title.
- [x] VFS: Link to this issue once created in #design in Slack; tag @vsp-product-support-members.
- [x] VSP: Schedule meeting with VSP reviewers and VFS team attendees (listed below).
- [x] VFS: At least 2 days before scheduled meeting/revie

[2021-03-29 17:43] shiragoodman opened #22310 "Process for writing and communicating issue tickets"
## Issue Description
Product Support has defined "platform standards" or "platform review criteria" (name still TBD) - in essence, this is the criteria that VFS teams will be evaluated on/assessed against as they bring their work through the Collaboration Cycle. Product support now needs to determine how we will move from the current [Collab Cycle Feedback template](https://github.com/department-o

[2021-03-29 17:46] erikphansen commented on #13246
It _is_ possible someone could enter a 10 digit international phone number. Belize has a country code of 501 and does not have area codes. So 5015551234 might be a valid phone number in Belize that our system would accept; it would just set the area code as 501 (which is in Arkansas).

Just throwing that out there!

[2021-03-29 17:46] Samara-Strauss commented on #21183
Yep, this sounds good.

Got it! We're *so close* to having My VA ready for staging, so I will confirm this is working as intended once the feature flag is flipped for staging. Thank you!

Otherwise, closing! Doesn't seem like any other work is needed here.

[2021-03-29 17:46] #21183 closed

[2021-03-29 17:47] 1Copenut commented on #7347
@vhenry07 I'm making another pass through our end-to-end tests to verify if teams are using Cypress for current testing where possible, and have `cy.axeCheck()` calls in those tests. If your team has a few minutes, would you mind taking a look at this issue and follow up with me? Thank you.

[2021-03-29 17:48] ncksllvn commented on #21799
@1Copenut Could you describe how I can recreate it this? I can't seem to recreate the failure locally (the e2e test passes w/o error) and I don't see the output in CI.

[2021-03-29 17:49] bcastoe commented on #21622
#21622 Create new Health Services "LIST & PLAYBOOK" for VA Poplar Bluff health care [BA] - Completed and moved to Validate; Playbook created and Health Services matched up to 95 Health Service list.

[2021-03-29 17:50] AngelaFowler82 opened #22311 "Defect-level-2: Register for care, address of facility is missing"
Label: 18928

    - [508-defect-2]

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2

Issue Title: Defect level 2, Register for care, address of facility is missing.
Point of Contact: Angela Fowler
**VFS Point of Contact:** _First name only: Angela

<h2>User Story or Problem Statement:</h2>
As a user wi

[2021-03-29 17:51] 1Copenut commented on #7349
@mattpointzxer0 I'd like to revisit this issue when things are settled a bit with COVID related work. I'm taking another look at the e2e test coverage for accessibility checks with recent work to make the Cypress axeCheck helper more robust and easier to modify. Thank you!

[2021-03-29 17:51] ncksllvn commented on #21183
Thank you @Samara-Strauss !

[2021-03-29 17:51] 1Copenut commented on #7348
@mattpointzxer0 I'd like to revisit this issue when things are settled a bit with COVID related work.

[2021-03-29 17:53] Samara-Strauss commented on #13246
Got it. Then I think we could potentially add a read-only country code as an additional signal to users, but I don't know if there's any way to make the profile totally fool-proof against this edge case without potentially making things more confusing to our main users (people with US phone numbers). Admittedly, I haven't thought through all potential design solutions, so let me know if you can th

[2021-03-29 17:54] 1Copenut commented on #7320
Hi @brianalloyd. I'm taking a sweep through our e2e tests again to ensure good accessibility coverage. I wanted to check in briefly and see if the Disability Calculator had tests, or was being evaluated by axe in our static content page check. Thank you!

[2021-03-29 17:54] U-DON commented on #21722
- Linting seems to work as expected in the `circleci-to-gha` branch.
- Confirmed that it reports errors by adding a `console.log` to a file without disabling linting; observed the failure in the linting step and its summary.

[2021-03-29 17:54] #21722 closed

[2021-03-29 17:55] brianalloyd commented on #21183
Thanks @Samara-Strauss please reach out if you need anything else in support.  Greatly appreciated.

[2021-03-29 17:56] tressaellen commented on #21372
Meeting scheduled with Erik and Sandra on April 1st to go over this. :)

[2021-03-29 17:59] andaleliz opened #22312 "Profile: edit phone number form does not handle prefilling null area codes"
## What happened?
We have a user on staging (`judy.morrison@id.me`) with a null area code and a country code other than `+1`.  When you attempt to edit the phone number, the null area code isn't handled correctly:

![image.png](https://images.zenhubusercontent.com/5d9def68b6de6d00018d50f2/46df0bb4-e43d-41e5-bc77-522072ca8e6b)

## Specs:
- Device: Macbook
- Browser: Chrome
- Test User _(if applicab

[2021-03-29 18:05] 1Copenut commented on #21799
@ncksllvn Hm, the best option I could offer r/n is to checkout my feature branch https://github.com/department-of-veterans-affairs/vets-website/tree/feature/nightwatch-axeCheck and run the Nightwatch accessibility tests again on your local machine.

With the tests failing silently, I opted to rewrite the Nightwatch `axeCheck` helper to test all the major rulesets and allow developers to pass in a

[2021-03-29 18:05] mpelzsherman commented on #20480
I have confirmed that the `og:image` tags are being generated directly from Drupal data, specifically the `entityMetatags`.
This data is inserted directly into the page via the [metatags.drupal.liquid](https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/site/includes/metatags.drupal.liquid) template. The data that populates this particular page is using the wrong URL, as

[2021-03-29 18:16] elder-joseph commented on #22194
Associated PR: https://github.com/department-of-veterans-affairs/vets-website/pull/16566

[2021-03-29 18:25] JenLJ commented on #22127
Noting - PW and sitewide content teams are also involved in this effort.  They're creating the content for the introduction page to the VRRAP form (the page the user will go to before entering the form).

[2021-03-29 18:34] digitalken commented on #21448
PASS 3/29/2021 - Looks good, button is always active, error shows as expected when submitted unchecked.  Closing.

[2021-03-29 18:34] #21448 closed

[2021-03-29 18:37] joshkimux opened #22313 "508-defect-1❗️Launchblocker [SCREEN READER]: Lang attribute must be accurate to language of page/parts"
# [508-defect-1 :exclamation: Launchblocker](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-1)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and a

[2021-03-29 18:43] AGarcia-Clarity commented on #20659
From conversations within the team this ticket will be closed out from the research conducted.  The RFC ticket #21595 will take precedence for the optimizations recommended.

[2021-03-29 18:44] AGarcia-Clarity commented on #20145
Update:
Sent to PM Review for close out.

[2021-03-29 18:45] AGarcia-Clarity commented on #20163
Update:
Spoke with Amanda for closing out this ticket until required at a later date.

[2021-03-29 18:45] digitalken commented on #21985
PASS 3/29/2021 - Looks good on Android and iOS.  Closing.

[2021-03-29 18:45] #21985 closed

[2021-03-29 18:53] #20720 closed

[2021-03-29 18:54] #21636 closed

[2021-03-29 18:57] bessgreen opened #22314 "App-wide copy changes (Part 2 of 2)"
## Acceptance Criteria
1. Using the spreadsheet linked below, implement all copy changes that have been approved by the DEPO team and do not require a follow-up:
     - In Column A, all rows marked "Yes" should be implemented. Any rows that are marked "No" can be omitted for this story

**Notes**
- See Column E for additional notes about text placement, font weight, etc.
- Optional: use Column H a

[2021-03-29 18:57] #20659 closed

[2021-03-29 18:58] #20145 closed

[2021-03-29 19:00] #20163 closed

[2021-03-29 19:01] dneel-bah opened #22315 "VRRAP: Create form"
As a veteran, I need a way to apply for the Veteran Rapid Retraining Assistance Program so that I can receive benefits for additional training to increase my ability to try and find new employment opportunities.

## Assumptions:
1. N/A

## Acceptance Criteria
1. The form page is located at the URL: https://[environment].va.gov/vrrap/form
2. The breadcrumb of the page is: Home > Education and train

[2021-03-29 19:01] brianalloyd commented on #7320
@1Copenut thanks for circling back, TBH I will need to dig deeper into this and validate the Disability Calculator test activities.  I'll follow back up with you once we've done a quick assessment.  Thanks.

[2021-03-29 19:09] #21618 closed

[2021-03-29 19:10] #17352 closed

[2021-03-29 19:13] ncksllvn commented on #21799
1. I pulled your branch `feature/nightwatch-axeCheck`
2. I started the website via `yarn watch --env.entry=static-pages`
3. I ran `BUILDTYPE=vagovdev yarn test:e2e -- src/site/tests/home/00-required.e2e.spec.js`
4. I observed the output below -

![image](https://user-images.githubusercontent.com/1915775/112887387-216f2a80-90a1-11eb-9830-4b17299a39a1.png)

I am thinking that somehow the Chromium lo

[2021-03-29 19:14] SKasimow opened #22316 "Research Existing Translated Content and Usage | C&L"
## User Story

As a product manager, I would like to have an updated report of existing translated content and usage. This will aid in determining whether the pages are still useful and up-to-date and should be included in the Language Assistance and Resource Pages.

## Acceptance Criteria

[ ] Updated excel file containing URLs and pageviews for translated content on both Teamsite and Drupal.

[2021-03-29 19:15] leahkeeler opened #22317 "DebtRes FSR Moderated UAT"
In order to QA the online FSR in production we need to have Veterans who can log into VA.GOV log in, fill out and submit FSR form.

Number of Veterans -

Veteran Criteria -

[2021-03-29 19:15] mpelzsherman commented on #22099
Code is in `vet_center_spike`

[2021-03-29 19:16] lianilychee opened #22318 "Platform Website — Determine content migration order"
## Problem Statement
The Platform Website currently has a mixture of backend development documentation and links pointing to GitHub pages.  We want to populate the Platform Website with information written in Confluence, but we need to determine the order in which info is populated.  That way, we can provide a minimum reading experience to a VFS team member.

_HMW populate the Platform Website in

[2021-03-29 19:18] 1Copenut commented on #21799
Thanks for taking a closer look @ncksllvn. I'm fresh out of ideas. I'll keep an eye on it when I push my next WIP commit. I appreciate you taking extra time to troubleshoot.

[2021-03-29 19:19] lianilychee opened #22319 "Determine content migration order: Release Plan"
## Phase I: User Acceptance Testing
*Test real-world user scenarios to ensure your product or feature performs as expected.*

### Planning:

- Desired date range or test duration: [date - date] or [duration]
- Desired number of users: x
- The group(s) from which you'll recruit test users: VFS/VSP/DEPO
- How you'll recruit test users: lorem ipsum
- How you'll give test users access to the product:

[2021-03-29 19:20] kelsonic commented on #21788
These are issues that need to be fixed in Drupal, not `vets-website`. Beth Potts and I are collaborating atm to resolve these duplicate `id` issues, you can follow the thread here if you'd like! 🙂 https://dsva.slack.com/archives/C52CL1PKQ/p1617045145306200

[2021-03-29 19:20] lianilychee opened #22320 "Platform Website — Create templates and style guide"
## Problem Statement
Platform Teams do not know how to populate the Platform Website.  From our 2020 Q4 pilot with Backend Tools, we learned that providing templates:

- eased writer's block
- helped them present the right pieces of facts so that the value prop was clear, and the document actionable

_HMW give Platform Teams the tools they need to self-serve and create their own VFS-facing documen

[2021-03-29 19:21] leahkeeler opened #22321 "DebtRes FSR - add feature flag"
Add feature flag to fsr form for UAT testing

[2021-03-29 19:21] lianilychee opened #22322 "Create templates and style guide: Release Plan"
## Phase I: User Acceptance Testing
*Test real-world user scenarios to ensure your product or feature performs as expected.*

### Planning:

- Desired date range or test duration: [date - date] or [duration]
- Desired number of users: x
- The group(s) from which you'll recruit test users: VFS/VSP/DEPO
- How you'll recruit test users: lorem ipsum
- How you'll give test users access to the product:

[2021-03-29 19:21] bethpottsVADEPO commented on #21872
@tressaellen 21543 looks great, except I think I see another extra space between "all" and "your" in "Manage all your claims and appeals."

Thanks for sending this latest request along to me! Two things:

1/ Re: the link label for additional text/helper text "What benefits does the VA offer?"
Please delete the word "the" before VA.
Where's the text that answers that question? Want to post that her

[2021-03-29 19:25] jonwehausen commented on #20785
Hi @Samara-Strauss ,

No problem -- I took another look at each of the dashboards and the tracking on the site to get all the ducks in a row.

After further review I can confirm we're actively tracking both cnp & edu to-date and each dashboard is filtered to reflect each DD product distinctly.

I believe what happened was when we initially provisioned the _newly_ renamed C&P dedicated dashboard, w

[2021-03-29 19:25] lianilychee opened #22323 "Platform Website — Configure Scroll Viewport"
## Problem Statement
Long term, the Platform wants to host the Platform Website on Confluence Data Center (vs. Cloud) to make achieving ATO easier.  Sometime in Q2, the Content Team will begin to have access to Confluence Data Center.  However, we will achieve look and feel parity between Data Center and Cloud.

_HMW set up Data Center for easy, long-term use?_

## Hypothesis or Bet
If we spend ti

[2021-03-29 19:26] laurensimpson14 commented on #21701
@jonwehausen the doc is complete: https://github.com/department-of-veterans-affairs/va.gov-team/blob/b7ba80bb0f7a93eac5cfb2b599007379f5c59859/teams/vsp/teams/insights-analytics/ga-events-data-dictionaries.md

@jonwehausen to complete GTM QA

[2021-03-29 19:26] lianilychee opened #22324 "Configure Scroll Viewport: Release Plan"
## Phase I: User Acceptance Testing
*Test real-world user scenarios to ensure your product or feature performs as expected.*

### Planning:

- Desired date range or test duration: [date - date] or [duration]
- Desired number of users: x
- The group(s) from which you'll recruit test users: VFS/VSP/DEPO
- How you'll recruit test users: lorem ipsum
- How you'll give test users access to the product:

[2021-03-29 19:27] laurensimpson14 commented on #21698
@jonwehausen to QA

Here is a link to the document: https://github.com/department-of-veterans-affairs/va.gov-team/blob/b7ba80bb0f7a93eac5cfb2b599007379f5c59859/teams/vsp/teams/insights-analytics/ga-events-data-dictionaries.md

[2021-03-29 19:27] lianilychee opened #22325 "Platform Website — Define and begin delivering KPIs"
## Problem Statement
We want to be able to gauge the Platform Website's usage and success, and opportunities for growth.

_HMW understand more about the Platform Website's product health?_

## Hypothesis or Bet
If we use quant data (delivered by Google Analytics) to augment our qual data (delivered by Service Design's research), then we have a holistic picture of the product's usage, success, and

[2021-03-29 19:28] joshkimux opened #22326 "508-defect-2 [HEADINGS]: Headings must be ordered logically on Step 1 of 5: Make sure you’re eligible"
#  [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2021-03-29 19:29] lianilychee opened #22327 "Define and begin delivering KPIs: Release Plan"
## Guidance

_This Release Plan Template is intended to help ensure your new VSP product or feature is ready for launch and will deliver the desired user outcomes._
* _In Phase 1, you will test your product to learn how it'll actually be used, what problems it might create, and then fix/adjust if necessary prior to going live._
* _In Phase 2, you will define the launch communications plan and post

[2021-03-29 19:32] MarciMcGuireGCIO commented on #21758
@johnhashva - here's the latest data mashup of top Find a Form searches, top Search.gov searches, CMS status, "When to Use" descriptions, and Best Bets text.  The total searches figure combines Jul 1 2020- Mar 1 2020 on Find a VA Form and Search.gov.

First tab highlights info currently lacking.   Keep in mind that some terms are partial or non-VA
form names, which would account for them not being

[2021-03-29 19:33] andaleliz commented on #13246
I noticed in other areas of the profile we offer hint text in parentheses within the label - how about something like that here?  I do like the read only example (especially compared to some of the other solutions I've seen in the wild), but there are some a11y considerations that might make things a little more complicated we need to for this particular problem.   Having this information with the

[2021-03-29 19:33] Samara-Strauss commented on #20785
THANK YOU! This saved me another request :D I really appreciate it.

We should be good to close this! Thank you again!

[2021-03-29 19:36] jonwehausen commented on #20785
Excellent! @Samara-Strauss Thank you for your quick response.

You have a great rest of your week.

[2021-03-29 19:36] #20785 closed

[2021-03-29 19:37] erikphansen commented on #19611
@joshkimux this can be validated on staging now!

[2021-03-29 19:39] callen2563 commented on #21180
I dug into the website and chatted with Ryan, and Shawna and found these areas that use social media links but nothing for a share feature / component for articles.

https://www.va.gov/health-care/ (in the right rail)

https://www.va.gov/outreach-and-events/events/psycharmor-conversations-with-caregivers-the-importance-of-sleep/

I will mock up a few options for a share article component with thes

[2021-03-29 19:41] andaleliz commented on #3459
Hey @joshkimux , @brianalloyd and @johnhashva  - this is an old a11y ticket I came across from when Jennifer Strickland was on the team.  I think it'd be good for our new a11y expert to confirm whether or not this is an issue and if it is - I believe Pub Websites would be the team to address it. Feel free to close if this is no longer a concern.

[2021-03-29 19:44] andaleliz commented on #6461
Hey @joshkimux, @johnhashva and @MarciMcGuireGCIO! I opened this issue a while back and it looks like it never got an assignee.  I believe this falls into the decision tools portfolio, but if another team is responsible, please feel free to re-assign.

Josh, including you on this in case you disagree with me that it is a problem and it can be closed with no action.

[2021-03-29 19:45] MarciMcGuireGCIO commented on #6461
Hey @Liz, I will find out who this should get assigned to.  Currently we are managing Find a VA Form and Find a Yellow Ribbon School.

[2021-03-29 19:46] dneel-bah opened #22328 "VRRAP: Wire up complete form submission experience"
As a veteran, I need to receive a confirmation that my application has successfully been submitted so that I have an artifact to reference if I need to contact the VA.

## Assumptions:
1. N/A

## Acceptance Criteria
1. The submission confirmation page is located at the URL: https://[environment].va.gov/vrrap/confirmation
2. The user is provided a confirmation number.
3. The breadcrumb of the page

[2021-03-29 19:47] callen2563 commented on #21975
I found an inconsistency after looking over the component tracker with regard to the R&S search bar. Mainly that R&S has a different UI style for search from Find a Form and other search tools and the search bar and radio buttons get hidden under a filter icon on the mobile view of the page. I discussed this inconsistency with Megan, Leyda, Ryan, Shawna and Josh.

We determined that R&S search sho

[2021-03-29 19:48] ncksllvn commented on #21788
Heading IDs are generated in this build step, if they are explicitly added in the CMS editor, https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/site/stages/build/plugins/modify-dom/add-id-to-subheadings.js. Sounds like it could be a bug with that plugin? this is a weird issue.

On this page, https://www.va.gov/burials-memorials/memorial-items/headstones-markers-medalli

[2021-03-29 19:49] Samara-Strauss commented on #13246
I'd be open to that!

These are all really good points. If we add the in-label helper text, I think we can safely get rid of the alert box above the form.

This also sounds good to me!

Unless @erikphansen has any objections, these all sound good to me, and I think we can update the first comment in this ticket to reflect the new objectives 😃

[2021-03-29 19:50] pjhill opened #22329 "Discover Gaps in vets-api integration coverage"

[2021-03-29 19:51] ncksllvn commented on #21788
Ohh I see, the CMS content actually does include `enlisted-personnel-who-served-` and `enlisted-personnel-who-served--100`. So the issue is that a couple IDs are hardcoded; a couple are generated. Maybe we can just remove the two from the CMS content.

[2021-03-29 19:51] billfienberg commented on #22164
GitHub actions brainstorming 🤔 💡

Workflow: `main`

Jobs: build, test, and deploy

- build
- test
   - steps: `facility-locator`, `hca`, `edu-benefits`, etc
   - Use [`jobs.<job_id>.steps[*].if`](https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idstepsif) to conditionally run tests for a specific app
- deploy

[2021-03-29 19:51] pjhill opened #22330 "Research Existing Tools and how they might be enhanced to cover gaps"
## Issue Description
_What details are necessary for understanding the specific work or request tracked by this issue?_

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---

[2021-03-29 19:52] ncksllvn commented on #21799
Thanks for your help @1Copenut!

[2021-03-29 19:53] andaleliz commented on #22036
Hi! Just checking in to see if there are any questions about this request.  I'm here if you need me :)

[2021-03-29 19:54] JoeTice opened #22331 "QA Dashboard: Discovery - Accessibility Metrics"
## Issue Description
As a VFS Team member, I'd like to understand how well the product I'm developing is scoring based on platform QA standards, specifically in the area of: Accessibility Testing.

---
## Tasks
- [x] Survey the industry to determine what other organizations track in these areas
- [x] Look into what metrics are available through our current set of tools
   - [x] Look into what othe

[2021-03-29 19:55] DanielleThierryUSDSVA commented on #22313
HI @SKasimow @youngfreezyVA. Could you please review this ticket asap? Thank you!

[2021-03-29 19:57] micahchiang commented on #21478
Added step counter, updated button text, and added persistent H2 in [this commit](https://github.com/department-of-veterans-affairs/vets-website/pull/16564/commits/1e7075a45917d446c0be2c8e08de829ec7ccded5)

[2021-03-29 19:58] holdenhinkle commented on #20706
Mature APIs are so popular and well documented, and are consumed by so many applications that the likelihood of an API version being changed is practically nonexistent; if they were changed, the change would break many integrations.

Examples of mature APIs:

- GitHub
- Google’s Services
- Stripe
- Etc.

On the other hand, some APIs are relatively new, change without notice, and their documentatio

[2021-03-29 19:59] JoeTice opened #22332 "QA Dashboard: E2E Metrics"
## Issue Description
As a VFS Team member, I'd like to understand how well the product I'm developing is scoring based on platform QA standards, specifically in the area of: E2E Testing.

---
## Tasks
- [x] Survey the industry to determine what other organizations track in these areas
- [x] Look into what metrics are available through our current set of tools
   - [x] Look into what other tools ma

[2021-03-29 19:59] joshkimux opened #22333 "508-defect-1 ❗️ Launchblocker [SCREENREADER]: Radio options must have a legend on Step 5 of 6"
# [508-defect-1 :exclamation: Launchblocker](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-1)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and a

[2021-03-29 20:01] JoeTice opened #22334 "QA Dashboard: Discovery - Manual Functional Testing Metrics"
## Issue Description
As a VFS Team member, I'd like to understand how well the product I'm developing is scoring based on platform QA standards, specifically in the area of: Manual Functional Testing.

---
## Tasks
- [x] Survey the industry to determine what other organizations track in these areas
- [x] Look into what metrics are available through our current set of tools
   - [x] Look into what

[2021-03-29 20:02] digitalken commented on #20173
PASS 3/29/2021 - Used 51 Weber Rd, Columbus, OH, 43202 to get multiple radio buttons available.  Looks good on Android and iOS.  Closing.

[2021-03-29 20:02] #20173 closed

[2021-03-29 20:04] allison0034 commented on #22309
@ajakabcin Friday @ 2 is already booked. Do you have another time preference?

[2021-03-29 20:04] kjduensing commented on #20797
Mockups and workflow drafts shared this morning

[2021-03-29 20:05] meganhkelley opened #22335 "Frontend App Architecture — Discovery: Frontend solution that will enable autonomous VFS deploys"
## Problem Statement
VFS teams all use the same repository for the FE apps `vets-website`, which means that there are a significant number of interdependencies between more than a dozen teams working in the same repo. For example, when one team's unit test fails, the entire website deploy is blocked.

How might we (determine an approach that will) reduce interdependencies between VFS teams and ena

[2021-03-29 20:05] allison0034 commented on #22308
@ajakabcin this has been scheduled for Thursday 4/1 at 1:30

[2021-03-29 20:07] kjduensing commented on #20797
Paras will schedule meeting w/ Julia next week.

[2021-03-29 20:08] meganhkelley commented on #1099
Closing in favor of #22335

[2021-03-29 20:08] #1099 closed

[2021-03-29 20:08] meganhkelley commented on #22335
Initial ticket for micro-frontends (closed to reduce noise for people who have left the Platform): https://github.com/department-of-veterans-affairs/va.gov-team/issues/1099

[2021-03-29 20:09] #21613 closed

[2021-03-29 20:10] #20807 closed

[2021-03-29 20:10] joshkimux opened #22337 "508-defect-2 [SCREENREADER]: Location of medical centers are not being announced by AT on step 5 of 6"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2021-03-29 20:11] kjduensing commented on #21573
Discuss naming conventions (currently mostly database work).

[2021-03-29 20:12] brianalloyd commented on #3459
Thanks @andaleliz I completely agree, in fact I've compiled all our older a11y tickets into one epic and shared that with @joshkimux to review and validate, some of these we think might have been addressed and need help validating what still needs to be actioned.  @joshkimux I'll assign you on that epic shortly for review.  Thanks again.

[2021-03-29 20:13] dneel-bah opened #22338 "VRRAP: Add two new fields to schema"
As a developer, I need to update the schema for the VRRAP application so that UI and spool file development can begin in parallel.

## Assumptions:
1. This work does not need to be completed behind a prod or feature flag.
2. All data collected will need to be available for inclusion in the spool file.

## Acceptance Criteria:
The schema supports capturing the following data elements with the corre

[2021-03-29 20:14] kjduensing commented on #21573
Discuss roles and use cases Wednesday

[2021-03-29 20:16] kjduensing commented on #21575
Discussed shifting to add current clipboard feature before AVS refactors & updates

[2021-03-29 20:17] joshkimux opened #22339 "508-defect-2 [COGNITION, SCREENREADER]: Edit and update page buttons SHOULD have accessible labels on Review screen"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2021-03-29 20:17] shiragoodman commented on #22285
Hi @ajakabcin. Thanks for completing this Collaboration Cycle Kickoff ticket! Based on your responses, we are recommending the following Collaboration Cycle touchpoints:

- [Design Intent](https://github.com/department-of-veterans-affairs/va.gov-team/issues/22308) - already scheduled
- Information Architecture (IA) Request
- Research Plan Review
- Analytics Request
- Midpoint Review
- Contact Cent

[2021-03-29 20:20] joshkimux commented on #22249
<img width="720" alt="Screen Shot 2021-03-29 at 4 20 00 PM" src="https://user-images.githubusercontent.com/14154792/112895121-b6c2ec80-90aa-11eb-9ffb-93aff6fff4a9.png">
Not accessibility related, but question for @artsymartha68

[2021-03-29 20:21] kjduensing commented on #21381
Reduced # of servers to accomplish this.

[2021-03-29 20:21] #21381 closed

[2021-03-29 20:21] cohnjesse commented on #22298
@joshkimux I totally agree that this needs to be fixed however this is a form system issue and therefore should not be a launch blocker for anyone. This should be fixed at the platform level and should not block anyone from launching before it is fixed there, fixing it at the app level only creates further complications in the codebase that will need to be cleaned up by the platform team later. @b

[2021-03-29 20:21] cohnjesse commented on #22292
@joshkimux I totally agree that this needs to be fixed however this is a form system issue and therefore should not be a launch blocker for anyone. This should be fixed at the platform level and should not block anyone from launching before it is fixed there, fixing it at the app level only creates further complications in the codebase that will need to be cleaned up by the platform team later. @b

[2021-03-29 20:22] joshkimux commented on #22298
@cohnjesse Thanks for the context, I'll bump this down to a level 2 to make way for launch. Do we have a sitewide ticket made for this?

[2021-03-29 20:22] shiragoodman commented on #22287
Hi @ajakabcin. Thanks for completing this Collaboration Cycle Kickoff ticket! Based on your responses, we are recommending the following Collaboration Cycle touchpoints:

- [Design Intent](https://github.com/department-of-veterans-affairs/va.gov-team/issues/22309)
- Information Architecture (IA) Request
- Research Plan Review
- Analytics Request
- Midpoint Review
- Contact Center Review
- Staging

[2021-03-29 20:23] bethpottsVADEPO commented on #21788
@kelsonic @1Copenut @ncksllvn @brianalloyd I fixed the headstones page and Selina fixed the after you apply for an eligibility determination page. The headstones one should be live today--I think that one made it into deployment. The other one will be live tomorrow.

[2021-03-29 20:24] brianalloyd commented on #21180
Thanks @callen2563 for the update, not sure any of the above fit as you've noted and would love to see your ideas via mock ups for the share component.  Thanks for your efforts on this, excited to see this idea take shape.

[2021-03-29 20:24] jwoodman5 commented on #21560
ForeSee CSAT scoring:

References:
- ForeSee website - https://www.foresee.com/blog/better-together-nps-csat/
- ForeSee white paper - http://www.foresee.com/assets/foresee-cxa-methodology-white-paper.pdf
- VA ForeSee CSAT Report

Notes:
- Seems to be based primarily on a 0-100 scoring model.
- ForeSee satisfaction (intercept) survey has 24 questions; most are rated 1-10.
- I have not been able to

[2021-03-29 20:24] #20795 closed

[2021-03-29 20:27] #20752 closed

[2021-03-29 20:27] kjduensing commented on #21727
closed (duplicate)

[2021-03-29 20:29] kjduensing commented on #20781
per Shane probably not gonna get to this for a while

[2021-03-29 20:30] johnhashva commented on #2422
Closing as I sent an email to Josh Tuscher to tackle this legacy VA domain/TeamSite issue.

[2021-03-29 20:30] #2422 closed

[2021-03-29 20:31] joshkimux commented on #22292
@1Copenut for awareness on focus related tickets.

@cohnjesse To clarify, is this in response to solution A or B that I've documented in the ticket? Solution B was written in reflection on how the form system currently manages focus (consistent h1, but focus is sent to the h2 which is unique to each page).

Would we be able to find an alternative way of closing out the ticket that is in the best i

[2021-03-29 20:32] shiragoodman commented on #22155
@1Copenut re: the accessibility plan, great. I'm on board. We can talk later on how best to communicate this to teams... not sure if every team completing a kickoff needs to be made aware of the accessibility outline (for example, teams not making visible changes to their product).

Re: the functional and technical doc, let's discuss elsewhere. not sure this is relevant to the CC Kickoff changes..

[2021-03-29 20:32] kjduensing commented on #20685
duplicate

[2021-03-29 20:33] joshkimux commented on #3459
@brianalloyd Could you assign our new accessibility specialist @AngelaFowler82 to it as well?

[2021-03-29 20:33] meganhkelley opened #22340 "Application Build Pipeline (CI) — Migrate frontend pipeline process to GitHub Actions (GHA)"
## Problem Statement
vets-website is currently deployed from Jenkins, but parts of the CI pipeline use Circle. Platform Operations recently announced a move away from CircleCI due in part to security concerns.

How might we consolidate CI tools while improving functionality for an improved developer experience?

## Hypothesis or Bet
* If we replace Jenkins and Circle with GitHub Actions, developer

[2021-03-29 20:35] meganhkelley commented on #13757
Closing in favor of Application Build Pipeline (CI) — Migrate frontend builds and deploys to GitHub Actions (GHA) #22340

[2021-03-29 20:35] #13757 closed

[2021-03-29 20:35] kjduensing commented on #21419
For refinement

[2021-03-29 20:39] artsymartha68 commented on #22339
Interesting! It's my understanding this is another standard platform component operating OOTB.

@cohnjesse do you happen to know if we can customize the aria labels here?

[2021-03-29 20:41] kjduensing commented on #21512
Currently: not everyone using SSO. Telling users it's in testing - switch to telling users it's in prod. Discuss when/how to force everyone to using it.

[2021-03-29 20:42] kjduensing commented on #21512
Talk through Wed

[2021-03-29 20:43] laurensimpson14 commented on #21931
@laurenernest
When I try to load the link to the dashboard that you sent I see a "Security problem" error popup. If you'd like to try to resend a shared link then I can take a look at it, however, everything in your note sounds good. I think what you have for the Total Vaccine Submission Breakdown Widget is perfect for what you're trying to achieve.

Please let me know if you'd like me to take one

[2021-03-29 20:46] joshkimux commented on #22339
@artsymartha68 We write this ticket for almost every audit that includes a review page:

https://github.com/department-of-veterans-affairs/va.gov-team/issues/17824
https://github.com/department-of-veterans-affairs/va.gov-team/issues/17822
https://github.com/department-of-veterans-affairs/va.gov-team/issues/13014

[2021-03-29 20:47] psanders86 commented on #21686
The issue is fixed and this ticket is ready to validate.

[2021-03-29 20:50] shanemelliott opened #22341 "Second Dose: COVID-19 Vaccine Scheduling"
[PDF of Two Possible Workflows](https://app.zenhub.com/files/133843125/1926ac19-1111-4eee-816c-ac8264489f59/download)
This pdf includes two possible workflows for scheduling the second dose at the same time as the 1st dose is scheduled.
* The workflow in the purple box allows Vets to schedule any available time on the day +28 days after their first dose
* The workflow in the orange box offers Vets

[2021-03-29 20:51] youngfreezyVA commented on #22313
@joshkimux the only lang attributes that can be updated programmatically by the `i18Select` component are the `html` tags and the `div id=content`. looking at [your comment](https://github.com/department-of-veterans-affairs/vets-website/pull/16570#issuecomment-809700362) I think you are saying that all parts of the page need to have the lang attributes updated, including the side nav? that sounds

[2021-03-29 20:54] youngfreezyVA commented on #22313
for the breadcrumbs, the logic is determined by the url suffix:
[code]

[2021-03-29 20:54] bcastoe commented on #21621
#21621 Create new Health Services "LIST & PLAYBOOK" for VA Marion health care [BA] - Completed and moved to Validate; Playbook created and Health Services matched up to 95 Health Service list.

[2021-03-29 20:55] kevinmirc commented on #19321
@mlighdc and I had a discussion today about allowing the user to retry submission when CARMA times out.

Doing so would of course increase the chance/number of duplicates. We can add a limit for retries (one reattempt perhaps) but based on previous research (_insert ticket number_), of the 10 submissions we looked at, less than 50% of resubmissions actually went through - so this is not a great so

[2021-03-29 20:58] #22330 closed

[2021-03-29 21:01] jonwehausen commented on #21701
Thanks @laurensimpson14 !

Please find my QA of the Products Content Groupings here:

### Products
Page visited for test case | Product name | Page Path(s) RegEx within GTM lookup table | Test Screenshot | Test Status | Notes
| -- | -- | -- | -- | -- | -- |
www.va.gov/pittsburgh-health-care<br>www.va.gov/erie-health-care<br>https://www.va.gov/lebanon-health-care/ | VAMC | `^.*-health-care` | ![ima

[2021-03-29 21:01] #21727 closed

[2021-03-29 21:01] #21167 closed

[2021-03-29 21:01] #20782 closed

[2021-03-29 21:01] #20855 closed

[2021-03-29 21:02] #21418 closed

[2021-03-29 21:02] #21420 closed

[2021-03-29 21:02] #21421 closed

[2021-03-29 21:02] #21433 closed

[2021-03-29 21:03] brianalloyd commented on #3459
Absolutely, thanks for the heads up @joshkimux.

[2021-03-29 21:05] laurenernest commented on #16972
@jonwehausen @JasonTheBearded Here's where we added the language preference in the CC submission. Can you double check it's going through?

[2021-03-29 21:07] laurenernest commented on #20155
@jonwehausen @JasonTheBearded We might've missed something in our tracking. [Tagged](https://github.com/department-of-veterans-affairs/va.gov-team/issues/16972#issuecomment-809713669) you both in the ticket where we added it.

I'm essentially trying to answer the question of how many CC submissions don't have English as the preference. Similar to how we look at submission totals by type of care.

[2021-03-29 21:09] ajakabcin commented on #22309
How about 11am on Tuesday 4/6?

[2021-03-29 21:10] ajakabcin commented on #22308
Great thank you!

[2021-03-29 21:13] meganhkelley commented on #16715
Work still relevant/will be completed, but will not be tracked as a FE Tools team initiative

[2021-03-29 21:13] #16715 closed

[2021-03-29 21:14] SKasimow commented on #21107
@mnorthuis Hi Mikki - thanks for your feedback; this is helpful. Would like to schedule time for Danielle and I to meet with you and have a working session on options. Are you available Wed (3/31) at 3 or 3.30pm?

cc @DanielleThierryUSDSVA

[2021-03-29 21:17] mpelzsherman commented on #20480
Closing since the CMS team will be handling this.

[2021-03-29 21:17] #20480 closed

[2021-03-29 21:19] laurensimpson14 commented on #20168
@denisecoveyduc I've created a custom report to show popularity/usage by the number of pageviews of each of the tools. The only tool that I was not able to include was the Grave Locator tool. Unfortunately, I'm not able to get data for that page since we don't attach it to our GA property.

Here is a link to the report: https://analytics.google.com/analytics/web/template?uid=0-uCbBC2T0WTT4mIQ3iXSQ

[2021-03-29 21:21] mnorthuis commented on #21107
4 or after would work better, but I can make that time work if that is what
you have free

On Mon, Mar 29, 2021 at 4:14 PM SharonK ***@***.***> wrote:

--
Mikki Northuis
IA Design & Strategy

[2021-03-29 21:21] #20757 closed

[2021-03-29 21:22] jwoodman5 opened #22342 "User Surveys - Medallia CSAT Score"
## High Level User Story
As a VA leader, I need a VA.gov(wide) user satisfaction score so I can better understand directional satisfaction of VA.gov users.

## Goals
_Define and implement a satisfaction (CSAT) score for Medallia which is meaningful for understanding and reporting on directional VA.gov user satisfaction_

[2021-03-29 21:25] joshkimux commented on #22286
Just tested the accordions and this looks like it's been fixed!
Thank you @bkjohnson 🥳
https://user-images.githubusercontent.com/14154792/112902192-c85cc200-90b3-11eb-8843-8bf163f68ccc.mov

[2021-03-29 21:25] #22286 closed

[2021-03-29 21:28] kristenmcconnell opened #22343 "[Research] In-person Digital Check-in Research Plan and Assets"
## Product Links

## Description
Finalized plan for how we will synthesize the in-person research findings. Create assets needed to complete synthesis, probably a Mural board.

## Tasks
- [X] Create new folder for this specific test: https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/health-care/checkin/research/in-person-discovery
- [X] Add [research plan/conversat

[2021-03-29 21:29] jonwehausen commented on #21701
### QA Content Groupings - Benefit Hubs

@laurensimpson14

**Other than below changes, benefit hub page paths were verified & confirmed **

### Content Grouping Changes
- [ ] Add a lookup BEFORE existing `^health-care.*` to be `^health-care/get-medical-records.*` --> To include Medical Records within "Records" rather than "Health Care"
- [ ] Remove `^/profile.*` completely -- we've got this granul

[2021-03-29 21:36] erikphansen commented on #13246
Yeah that all sounds fine. I think that the static `+1` at the front of the input field would be extra cool, but I'm not even sure how I'd do that within the confines of the form system.

[2021-03-29 21:38] DanielleThierryUSDSVA opened #22344 "3.29.21 new kmi flow content updates"
## 1

![image.png](https://images.zenhubusercontent.com/5e8b13016a4378a604f5e799/140e161b-449f-45d3-b837-f2c43ab1dfff)

- Bold question?

## 2

![image.png](https://images.zenhubusercontent.com/5e8b13016a4378a604f5e799/9b822099-a7d7-42bf-84f8-e087368932ad)

- Need to put the 711 inside the parentheses. (TTY: 711).

## 3

![image.png](https://images.zenhubusercontent.com/5e8b13016a4378a604f5e799/6f

[2021-03-29 21:39] DanielleThierryUSDSVA opened #22345 "3.29.21 new kmi flow content updates"
## 1

![image.png](https://images.zenhubusercontent.com/5e8b13016a4378a604f5e799/140e161b-449f-45d3-b837-f2c43ab1dfff)

- Bold question?

## 2

![image.png](https://images.zenhubusercontent.com/5e8b13016a4378a604f5e799/9b822099-a7d7-42bf-84f8-e087368932ad)

- Need to put the 711 inside the parentheses. (TTY: 711).

## 3

![image.png](https://images.zenhubusercontent.com/5e8b13016a4378a604f5e799/6f

[2021-03-29 21:48] jonwehausen commented on #21701
Latest comments on commit: https://github.com/department-of-veterans-affairs/va.gov-team/commit/1ee95d998d08a2ed6565c74374f285b046fffa3d

[2021-03-29 21:49] jwoodman5 opened #22346 "Run ForeSee and Medallia Intercept Surveys in Tandem"
## Issue Description
_In an effort to develop the most meaningful, understandable, and relatable Medallia CSAT score we plan to analyze similarities and differences of ratings and scoring from users on the same or similar VA.gov pages._

---
## Tasks
- [x] _Explore ways to run ForeSee and Medallia intercept surveys in tandem_
- [x] _Document proposed approach and present to VA Account Experience l

[2021-03-29 21:56] digitalken commented on #19671
PASS 3/29/2021 - These items are the ones that I've been able to verify as of this date on QA.  Part 2 of 2 are items that QA is blocked from verifying at this time.  Closing.

[2021-03-29 21:56] #19671 closed

[2021-03-29 22:01] joshkimux commented on #22313
@youngfreezyVA I think I may have a way forwards that can work to bump this down to a 508-defect-2. Let me know if this sounds fair!

There's three regions on this page that we need to address:
- the div with class="interior"
- the in this section component with links to each of the translated pages
- the i18-select links above the h1

Current state:

[code]

Start by correcting the tags in the i1

[2021-03-29 22:07] sshein commented on #21964
Updated copy based on the "single document" requirement:

[2021-03-29 22:10] lunascoop commented on #21725
The react widget has been added and the updated page is live: https://www.va.gov/change-direct-deposit/

[2021-03-29 22:24] sshein commented on #21964
latest copy based on the fact that users will only upload a single document. Will update the UXPin once we get feedback from the program team
![Screen Shot 2021-03-29 at 3.23.44 PM.png](https://images.zenhubusercontent.com/5d4c59b26a82cc000106fdf0/7a2e5b7f-f162-4ef1-9341-b46e58cc4444)

[2021-03-29 22:45] digitalken opened #22347 "Getting a generic error/refresh when we should maybe be getting a loading page (not clearing out error states on load?)"
## What happened?
Most noticed on the profile page while trying various users.  A consistent user where this happens is user 366.  If the generic error appears, one can get to the profile page by visiting a claim or appointment detail page then going back to the profile page.

Per John: " whether or not it fails to load we should be showing a loading screen if its loading
so this is probably a bug

[2021-03-29 22:45] ltrombley commented on #22006
Task #22006 -  Prepare va-central-arkansas-health-care for Dual-state [VAMC] is Complete and moved to Validate.

[2021-03-29 23:03] andreahewitt-odd opened #22348 "[BE Tools] Application Build Pipelines (CI) - Implement GitHub Actions for vets-api"
## Problem Statement

Currently, the build times for vets-api are around 20 minutes but with the current BRD process, there is not much room for improvement and easy parallelization. Additionally, Jenkins has security issues that are hard to resolve. As a result the full platform is migrating away from Jenkins to Github actions at the Ops team recommendation.

_We will be working closely with Ops

[2021-03-29 23:04] cindymerrill commented on #22143
Here's my working spreadsheet in Google Sheets: https://docs.google.com/spreadsheets/d/1bg5v4uxwFVNR9bIC5nsnJ9cdrdTNjXet8d-ONYTjeCE/edit?usp=sharing

I'm currently reviewing resources listed in **Next Steps** worksheet and collecting Veteran tasks in the **Tasks** worksheet, pain points in the **Pain Points** worksheet, and relevant research findings in the **Past Research Findings** worksheet.

[2021-03-29 23:10] brianalloyd commented on #21665
@kelsonic I talked with @johnhashva today concerning the promote to staging for the CLP build in support of Analytics and when you're ready lets promote and trigger us to validate in staging (with password) and ensure everything is working correctly.  Once validated we'll need to follow up with the CLP Analytics ticket so we can check all data layers with insights team to ensure everything is work

[2021-03-29 23:11] #22333 closed

[2021-03-29 23:13] bcastoe commented on #21623
#21623 Create new Health Services "LIST & PLAYBOOK" for VA St Louis health care [BA] - Completed and moved to Validate; Playbook created and Health Services matched up to 95 Health Service list.

[2021-03-29 23:40] tlei123 opened #22349 "[Bug] Financial Status Report - Content/Styling anomalies"
## What happened?
On Staging, **[Request help with VA debt (VA Form 5655)](https://staging.va.gov/manage-va-debt/request-debt-help-5655/)** (FSR) form, the following content/styling anomalies were found:

### Device-/browser-agnostic:
- **Step 2 of 7: Household Income > Your spouse information**: Form-page subtitle content didn't match prototype.

### Mobile:
- **Step 4 of 7: Household expenses >

[2021-03-29 23:41] bessgreen commented on #21083
.svgs:

### Compose a Message:
![edit.svg](https://images.zenhubusercontent.com/5f64e41291069a617acc1b47/c0739b9e-d851-4c31-a8a6-0902d624bae8)

### Reply:
![reply.svg](https://images.zenhubusercontent.com/5f64e41291069a617acc1b47/5c8ffca1-9b38-4ba8-8a64-e2f9ded1fa1d)

[2021-03-29 23:46] laurenernest commented on #21931
Oops! Here's the template link https://analytics.google.com/analytics/web/template?uid=VE2aH7bFREav_BKN-UI1Gw

Traffic from VEText is a new section to track when we get traffic specifically from that outreach.

[2021-03-29 23:57] stephenBarrs commented on #22345
I fixed 1 and 2 with this PR: https://github.com/department-of-veterans-affairs/vets-website/pull/16576

3 appears to be complete already.

1 was also fixed [with this PR](https://github.com/department-of-veterans-affairs/vets-website/pull/16556/commits/0af770a087043fab1b584ec15f26a6db2d3701b7) but appears to have been overwritten at some point.

[2021-03-30 00:15] andreahewitt-odd opened #22350 "[BE Tools] Next gen BE http request handling (Discovery)"
## Problem Statement
HTTP requests handling, both form submissions and data fetching requests, on VA.gov is leading to lackluster stability, security, scalability and consistency on VA.gov. The following doc shows the suggested new architecture change to the [VA.gov request handling](https://vfs.atlassian.net/wiki/spaces/VI/pages/1100021768/Next+generation+form+handling). There are many moving pie

[2021-03-30 00:30] andreahewitt-odd opened #22351 "[BE Tools] Infrastructure Monitoring - Time boxed effort for finding and resolving slow database queries"
## Problem Statement
Currently, there isn’t an easy way for us to see database query times and therefore it is difficult for us to know what queries are the slowest and need to be optimized.

This work needs to be timeboxed just to 1 sprint. If we don’t have the tools to built this dashboard quickly, we should identify what tool could solve our problem and talk with Dror and Michael about acquirin

[2021-03-30 00:31] patrickvinograd opened #22352 "Configure accurate list of suggested facilities for covid vaccine expansion API."
For the expanded covid vaccine eligibility signup tool, there is an API that suggests facilities near the user (based on a zipcode query). The user can pick one and they will get enrolled in the corresponding VistA instance. We don't want to suggest every single VHA facility - some are not open to the public (e.g. care homes, sites on barracks), and not all clinics are providing vaccines. We more

[2021-03-30 00:35] jason-gcio opened #22353 "Add Relationship Question to 674"
## Background
In testing the 674, it was discovered that there is a critical question missing around whether the Veteran applying is the parent or guardian of the school age child.  The criticality of this is that if they are: the parent/guardian's name is populated in the "parent" field and the application could move on to be automatically completed.  If not, the application is moved to manual co

[2021-03-30 01:00] andreahewitt-odd opened #22354 "[BE Tools] Security & Compliance - Developer Tool Authentication (Sidekiq)"
## Problem Statement
Sidekiq doesn’t have any authentication and there isn’t a “platform wide solution” to add authentication for a developer tool.

We first need to come up with a platform recommended authentication approach for tools that don’t come out of the box with authentication. Then we need to implement that auth solution for Sidekiq.

[More details about problem statement](https://vfs.at

[2021-03-30 01:21] tlei123 opened #22355 "[Bug] Financial Status Report - Review page - Spouse subsection updates auto-scroll up to Vet's subsections"
## What happened?
On Staging, **[Request help with VA debt (VA Form 5655)](https://staging.va.gov/manage-va-debt/request-debt-help-form-5655/introduction)** (FSR) form, **Review application** page, editing some Spouse employment/income subsections auto-scrolled away from edited subsections, back up to Veteran's corresponding subsections upon clicking **Update**:
- Spouse employment [current] > Pay

[2021-03-30 03:24] bessgreen opened #22356 "AccessibilityValue missing from list pages"
## What happened?
AccessibilityValues are not being announced on the following pages in the app:
     - Appointments list pages (Upcoming/Past)
     - Claims & Appeals list pages (Active/Closed)

We should be using the accessibilityValue for each ListItem so that the item's position in the list (i.e. "2 of 6") is announced.

## Specs:
- Device: iPhone 11 (VoiceOver), Samsung Galaxy S9 (Voice Assis

[2021-03-30 04:43] bessgreen opened #22357 "Folders list page displays empty content"
## What happened?
On the **Folders** tab of the Messages page, the page content doesn't always load/appear as expected. It loads when navigating to the **Inbox** tab, then back to **Folders**. However - when I go back to **Inbox** and back to **Folders**, the content disappears again.

See attached video.

## Specs:
- Device: iPhone 11
- Test user: vets.gov.user+261@gmail.com

## Steps to Reproduc

[2021-03-30 04:44] bessgreen opened #22358 "Samsung phone not respecting right margin on certain pages"
## What happened?
1. On the Direct Deposit form, the checkbox field error touches the right edge of the screen. Should be seeing a line-wrap on "correct".
2. On the Claims Decision form, the checkbox field error touches the right edge of the screen. Should be seeing a line-wrap on "is correct".

## Specs:
- Device: Samsung Galaxy S9
- Claims Decision issues: vets.gov.user+366@gmail.com

## Steps t

[2021-03-30 11:57] dneel-bah opened #22359 "0994: Update spool file to include form field updates"
As a RPO processor, I need the new information gathered during the application process included in the spool file so that I can effectively process the application.

## Assumptions:
1. This is behind the 0994 spool file feature flag (edu_form_omb_and_expiration #18293).

## Acceptance Criteria:
1. The question "Enter the date you expect to be released from active duty:" is included in the spool fi

[2021-03-30 12:06] allison0034 commented on #22309
@ajakabcin this has been scheduled for Tuesday 4/6 at 11am.

[2021-03-30 12:28] zurbergram commented on #22068
Refactor PR (unrelated to actual changes just cleanup and tweaks related to overall form)
https://github.com/department-of-veterans-affairs/vets-website/pull/16559

[2021-03-30 12:44] 1Copenut commented on #22298
@joshkimux We don't have a ticket for this fix specifically. I did create one for handling IE11 + JAWS reading errors twice: https://github.com/department-of-veterans-affairs/va.gov-team/issues/314

There's a question of how much runway IE11 still has, but that's outside the scope of your question. Please go ahead and open a new ticket and tag it with `vsp-design-system-team` and the regular label

[2021-03-30 12:59] #22049 closed

[2021-03-30 13:01] 1Copenut commented on #22155
Sounds good @shiragoodman . I'm working on our accessibility testing plan today. Probably won't be done yet, but moving fast. If teams aren't making visible changes or aren't working on new features, you're on point the testing plan may not make sense for them. We can figure out the details when the first draft is posted.

[2021-03-30 13:15] k80bowman commented on #21533
[PR](https://github.com/department-of-veterans-affairs/vets-website/pull/16473) merged

[2021-03-30 13:15] #21533 closed

[2021-03-30 13:17] joanneesteban opened #22360 "KPI Dashboards: Standardize KPI Dashboards"
## Problem Statement
Right now, Platform Analytics is taking a long time to deliver KPI dashboards. VFS teams don’t receive requested dashboards fast enough. Platform Analytics is overwhelmed with delivering both dashboarding & initiatives.

How might we scale analytics value for current customer needs?

## Hypothesis or Bet
If we develop our data and dashboarding infrastructure, then we expect to

[2021-03-30 13:23] jonwehausen commented on #20889
## QA

Hi @srsuddath -- here are the final QA results, thank you again for all of your collaboration and efforts here.

| Description of Interaction | Data Layer | GTM Tagging | Test Status | Notes
| -- | -- | -- | -- | -- |
Repeat/duplicate/back-to-back search of "forms" from /search | ![image](https://user-images.githubusercontent.com/48527022/112994914-b8d38c80-9138-11eb-90f8-298a58cfd2f7.png)

[2021-03-30 13:35] annaswims commented on #22056
EVSS says they'll send a document with changes.  We'll need that to get stared.
https://dsva.slack.com/archives/C1VBAHWQL/p1617111243045700?thread_ts=1616600744.033100&cid=C1VBAHWQL

[2021-03-30 13:42] joanneesteban opened #22361 "KPI Dashboard Standardization: Release Plan"
## Guidance

_This Release Plan Template is intended to help ensure your new VSP product or feature is ready for launch and will deliver the desired user outcomes._
* _In Phase 1, you will test your product to learn how it'll actually be used, what problems it might create, and then fix/adjust if necessary prior to going live._
* _In Phase 2, you will define the launch communications plan and post

[2021-03-30 13:48] andaleliz commented on #13246
@erikphansen glad you're good with this - added you as an assignee.  Do we need to update the estimate, or should the FE work be it's own ticket? I have spent 2 points on this already.

[2021-03-30 13:52] laurensimpson14 commented on #21701
@jonwehausen I think the proper benefit hub for ^decision-reviews is **Records** since it can help with disability compensation, education, health care, burial benefits, etc. Does this also need to be added to the products index table?

[2021-03-30 13:56] Samara-Strauss commented on #21725
Great, thank you so much, @lunascoop!

[2021-03-30 13:57] Samara-Strauss commented on #21725
@erikphansen I'm gonna close this. Feel free to reopen if necessary.

[2021-03-30 13:58] jhonnyoddball opened #22362 "Prep src/site/assets for content separation"
## Problem Statement
We need to trace when and how `src/site/assets` works and find out if we can eliminate this path from the content repo

---
## Tasks
- [x] Trace origins and affiliations
- [ ] Differentiate between Drupal assets and Application assets
- [ ] Remove the path from the content repo

## Acceptance Criteria
- [x] Content build should still work after `src/site/assets` has been remov

[2021-03-30 13:59] Samara-Strauss commented on #19611
@joshkimux can you prioritize validating this? We have a go/no-go for launch later today, so it would be really helpful to know if we're squared away on this or not. Thank you!

[2021-03-30 14:04] jwowk opened #22363 "Ability for Site Admins to Toggle Appointment Reminders On or Off"
Sites would like the ability to view and toggle whether appointment reminders are turned on or off. Additional suggestion is to color code General Settings choices for features if turned on or off (Green = Yes and Red= No) like the Site Management tab.

[2021-03-30 14:05] Samara-Strauss commented on #19562
@ajakabcin for awareness — this ticket has been removed from Sprint 44 (I also removed from the epic) since it doesn't require any more design work. Moved to next sprint for FE implementation.

[2021-03-30 14:06] ncksllvn commented on #21799
@brianalloyd I think we can mark this as blocked, until we are instructed on how to recreate. It passes in CI and on my computer.

[2021-03-30 14:08] annaswims commented on #20556
We have a report from Barry of two veterans experiencing this bug in prod.

[2021-03-30 14:09] brianalloyd commented on #21799
@ncksllvn sounds good, thanks for working the details, shifting this into blocked until we can recreate.  Appreciate it.

[2021-03-30 14:11] Samara-Strauss commented on #13246
@andaleliz I removed @erikphansen as an assignee. This is still yours for now. Please do the following (and I have updated the top comment to reflect this):

- Produce a mockup that removes the info box telling people we only accept US phone numbers AND adds the helper text about only accepting US phone numbers to the label field.
- Produce a mockup with the new proposed error copy for invalid pho

[2021-03-30 14:12] zacharymorel commented on #19170
Moving this in to progress since we've chatted about it and now curating a best bets list.

[2021-03-30 14:14] Samara-Strauss commented on #13246
Also, @andaleliz, I did see you already had put some new stuff in the top comment (thank you), but I still modified. I think the final mocks can be clearer, and we should work with content before handing anything off to FE.

[2021-03-30 14:16] ncksllvn commented on #22226
This gave me a laugh. Here is how Zenhub handles whitespace for their tags.

![image.png](https://images.zenhubusercontent.com/59cb9de1b0222d5de47953d8/ec3f8a41-c45e-4210-abb0-d2b2730a7a52)

[2021-03-30 14:17] meganhkelley opened #22364 "Application Build Pipeline (CI) — Iterate on frontend app builds to improve developer experience"
## Problem Statement
The frontend application build pipeline is slow, and is not optimized for a scalable, positive developer experience. FE Tools has separate initiatives to improve particular parts of the process including unit tests (#16716) and CI tooling (#22340), and has long term plans to significantly iterate on frontend app architecture to increase autonomy (#22335).

How might we improve

[2021-03-30 14:23] MarciMcGuireGCIO commented on #22111
@zacharymorel yep!

[2021-03-30 14:25] johnhashva commented on #22111
@MarciMcGuireGCIO can you re-open -- and include screenshots to validate that this has been resolved then re-close?  I just like to have visual record, when possible, of the fix in place.   Thanks!

[2021-03-30 14:29] laurensimpson14 commented on #21931
@laurenernest
Traffic from VEText widget: I'd recommend setting it to "Containing" rather than "Exactly matching" since it is possible that other UTMs could get added on to the end of the URL.

Total Vaccine Submission Breakdown widget: I'd recommend adding a .* to the end of the regular expression to ensure it picks up both the successful and failed labels, so it would look like ^vaos-covid19-sub

[2021-03-30 14:30] kevinmirc commented on #22116
Reports can now be generated with this link:

http://sentry.vfs.va.gov/organizations/vsp/discover/?aggregations=%5B%5D&conditions=%5B%5B%22environment%22%2C%22%3D%22%2C%22production%22%5D%2C%5B%22controller_name%22%2C%22%3D%22%2C%22caregivers_assistance_claims%22%5D%2C%5B%22issue.id%22%2C%22%3D%22%2C6552%5D%2C%5B%22timestamp%22%2C%22%3E%22%2C%222021-03-01T00%3A00%3A00%22%5D%5D&end=null&fields=%5B%

[2021-03-30 14:30] MarciMcGuireGCIO commented on #22111
**Issue before this fix was implemented:**
![image](https://user-images.githubusercontent.com/73354907/113005967-ef160980-9142-11eb-8f9d-6fe5dc62d8fa.png)

**After fix was implemented:**
![image](https://user-images.githubusercontent.com/73354907/113005948-e9b8bf00-9142-11eb-9e55-954b950f1b5b.png)

[2021-03-30 14:30] #22111 closed

[2021-03-30 14:34] Samara-Strauss commented on #21725
LOOKS GREAT! Consider it validated.

We can close this, but @ajakabcin, you should still check this out since you'll normally be the point person for validating work!

[2021-03-30 14:34] #21725 closed

[2021-03-30 14:34] meganhkelley opened #22365 "[Ongoing Service] Content Build Pipeline Maintenance and Improvements"
## User Story

As a VA.gov CMS stakeholder, I need to be able to publish an increasing number of nodes and see my changes on the website, so that I can publish and maintain content for the VA products that I own.

Content build pipeline goals:
* Maintain scalability in parallel with node publishing timeline from CMS team

## Artifacts
- To come

## TODOs
- [x] Convert this issue to an epic
- [x] A

[2021-03-30 14:34] Samara-Strauss commented on #21725
@erikphansen will you add me on prod? Samara.Strauss@va.gov

[2021-03-30 14:36] meganhkelley commented on #22365
Current approach is that 1 VSP FE Tools developer works on content build pipeline improvements indefinitely.

[2021-03-30 14:36] andaleliz commented on #13246
Sounds good- we have our suite content office hours on Thursday, so I'll review this with them there and then update the mock-ups (thought I had added some above, but maybe removing them was part of your modification? Or they didn't save properly?).  Thanks @Samara-Strauss !

[2021-03-30 14:36] Mottie commented on #20556
I was hoping https://github.com/department-of-veterans-affairs/vets-website/pull/16228 would have fixed it... are there any more details about the error? Were they filling out a BDD? Did they restart the form at any point?

[2021-03-30 14:37] elder-joseph commented on #22051
Bug was found to only be present when using a virtual machine to run Internet Explorer and is not an issue for Windows host machines.

[2021-03-30 14:37] erikphansen commented on #21725
@Samara-Strauss Done. Give it a shot.

[2021-03-30 14:38] annaswims commented on #22056
It looks like there are no mandatory schema changes, though some may be "nice to have"[https://app.zenhub.com/files/133843125/f7a72da4-3de0-4ef1-97e7-41dc2cc77175/download](https://app.zenhub.com/files/133843125/f7a72da4-3de0-4ef1-97e7-41dc2cc77175/download)

[2021-03-30 14:39] sonntag-adam commented on #22198
@department-of-veterans-affairs/uxbah ready for review

[2021-03-30 14:41] amyknox commented on #22224
[https://app.zenhub.com/files/133843125/ce3991fe-88a5-4fb5-b466-ea1835fcdcf3/download](https://app.zenhub.com/files/133843125/ce3991fe-88a5-4fb5-b466-ea1835fcdcf3/download)

[2021-03-30 14:41] Samara-Strauss commented on #13246
Sounds good! And yes, I removed the initial mock to remove any confusion that it wasn't totally finalized. Hope that's OK. Feel free to add it back if it helps you track your progress.

[2021-03-30 14:42] JasonTheBearded commented on #20155
@laurenernest Thanks for this! While we work through the language issue, I added a submission breakdown of provider preferences to the dash. It's currently checking all of community care, but if it needs to just look at users who received the new page let me know and I will filter the data down.

Thanks again for your help and your patience!

[2021-03-30 14:43] timwright12 commented on #20764
@alexandec @meganhkelley  I think we should spin up tickets for all the things you had to do in order to get the 48k build running (Split the cache, Use a JS Set instead of an array, Split the "Apply layouts" step) - that would be an easy win for us. No need to sit and wait for that to break.

For further work I would set priorities as:
1. Parse a virtual DOM from every .html file and perform a va

[2021-03-30 14:43] amyknox commented on #22219
Notes from Education Service on VET TEC form updates

[https://app.zenhub.com/files/133843125/dbe4348c-9c5d-4453-b357-c9c7588ac238/download](https://app.zenhub.com/files/133843125/dbe4348c-9c5d-4453-b357-c9c7588ac238/download)

[2021-03-30 14:44] ajakabcin commented on #21860
Design Intent [ticket](https://github.com/department-of-veterans-affairs/va.gov-team/issues/22309) submitted and meeting scheduled for 4/6 at 11:00 am ET

[2021-03-30 14:55] laurenernest commented on #21931
Traffic from VEText widget: Updated

Total Vaccine Submission Breakdown widget: Updated

Exit Link Clicks widget: For this one, I'm trying to capture clicks from the covid flow (has /new-covid-19-vaccine-booking in the URL) to outside VAOS and not include anything in VAOS. In thinking about this table maxing out at 10 possible URLs and I am mainly looking at Facility Locator and the COVID-19 hub,

[2021-03-30 14:57] jonwehausen commented on #22184
New event name has merged in -- closing this issue

[2021-03-30 14:57] #22184 closed

[2021-03-30 14:57] Mottie opened #22366 "Bug fixes reported to Sentry"
## What happened?

Was reported to Sentry. This appears to be a JS error preventing the Veteran from continuing the form.

http://sentry.vfs.va.gov/organizations/vsp/issues/24505/

## Specs:
- Device: Mac OS X
- Browser: Chrome
- Test User _(if applicable)_:

## Steps to Reproduce
- URL: https://www.va.gov/disability/file-disability-claim-form-21-526ez/new-disabilities/add
- Test User _(if applica

[2021-03-30 15:00] dmccurdybah commented on #22359
PR: https://github.com/department-of-veterans-affairs/vets-api/pull/6353

[2021-03-30 15:04] zurbergram commented on #22315
Refactor PR (unrelated to actual changes just cleanup and tweaks related to overall form)
https://github.com/department-of-veterans-affairs/vets-website/pull/16559

This will resolve AC2 and AC3.

[2021-03-30 15:05] laurensimpson14 commented on #21931
Because you've added in "Only show" Pages to the exit link clicks widget, you can delete the second line with "Don’t show". Once there are "Only show" entries then all other URLs besides the "Only show" URLs are automictically filtered out.

Rather than add all three pages to individual lines, which can sometimes cause issues, I'd recommend adding them all to one line with Regular Expression (like

[2021-03-30 15:09] JasonTheBearded commented on #19880
All files loaded, closing ticket.

[2021-03-30 15:09] #19880 closed

[2021-03-30 15:14] shiragoodman opened #22367 "Orientation for new Caregivers desginer/researcher"
## Orientation User Story
Dene Gabaldon is a new designer/researcher on Caregivers. They need support to get up and running. This epic contains the tasks our team will perform to support them through their orientation stage.

## Goal
Get Dene Gabaldon up and running in their workflow as quickly as possible._

## Issues to create within this Epic

[code]

## How to configure this issue
- [ ] **Labe

[2021-03-30 15:15] kelsonic commented on #21665
PR merged, should go out with daily deploy today 👍

[2021-03-30 15:24] jenniferlee-dsva commented on #22242
Also - I do notice that when the CMS generates URLs, it does so without the trailing / . And I wonder if that is one of the sources of this issue -- the discrepancy between sitemap using URLs with the  / but the CMS publishing pages without the /.

So possibly 2 issues?
- 1/ missing rel="canonical" tags  -- ?
- 2/ the CMS publishing URLs without the trailing /  --?

Example - CMS URL:
![image](htt

[2021-03-30 15:27] andaleliz commented on #13246
@bethpotts and @DanielleThierryUSDSVA, we're making this update to profile and would appreciate your input on the content.  I'll bring this up in office hours on Thursday, but wanted to give you a heads up now in case you have time to review and give it some thought in preparation for that meeting.

Here's the current status of a phone number section in profile (edit mode). This shows you the aler

[2021-03-30 15:34] rjohnson2011 commented on #20422
To invoke Github Actions inside the staging security perimeter we were directed towards the `notifications-api` repo by Ops team - https://dsva.slack.com/archives/CJYRZK2HH/p1616448430055900?thread_ts=1616173359.044200&cid=CJYRZK2HH.
This can be done via `aws ssm run-command` in a repo set up with proper AWS credentials.

Our current course of action is creating a private `testing-tools-team` repo

[2021-03-30 15:39] micahchiang commented on #21478
Went with the recommendation to add `aria-roledescription="carousel"` as opposed to fiddling with the browser back button. Effort there doesn't seem feasible right now, but possibly moreso if we end up exploring a separate page for the orientation at some point.

[2021-03-30 15:53] erikphansen commented on #19779
@andaleliz @Samara-Strauss @ajakabcin  I was about to push up a PR for this change, and then realized I said I was gonna put this behind a feature flag so that we could test it with users before pushing it out to all users in prod. Did you still want to hide this change behind a feature flag so that we can control the rollout?

[2021-03-30 15:59] caw310 commented on #19674
@Mottie , we're going to work on this in the next sprint.

[2021-03-30 15:59] Samara-Strauss commented on #19779
I thought we said we didn't need to do additional testing on this for the profile specifically, though whoever is managing larger sitewide changes should consider testing. Is that accurate, @andaleliz?

[2021-03-30 16:02] mdewey commented on #13597
Want to get this PR in staging to test the events and go from there

[2021-03-30 16:04] laurenernest commented on #21931
Great! Thanks so much! Good to close this ticket.

[2021-03-30 16:06] johnhashva commented on #22242
Update w/next steps:

- John will set a meeting with CMS team to dig deeper (with @denisecoveyduc and @srsuddath participating)
- @srsuddath and @denisecoveyduc will set-aside time in upcoming sprint to understand this topic better via SEMRush and Google and other resources.  One more for read-in:
Canonical URLs: A Beginner's Guide to Canonical Tags in 2021 -  https://www.semrush.com/blog/canonica

[2021-03-30 16:08] #21261 closed

[2021-03-30 16:10] bessgreen opened #22368 "Display "Letters - Empty" UI when it's an unauthorized service"
## User story
As a user, if I don't have permission to access Letters & Documents, I want to see a screen informing me that  I'm unable to access this feature, along with guidance on what to do next.

_Note for dev: currently, it looks like the app displays a Generic Error State w/ Refresh on the Letters List page if the letters service is 'false'. This ticket will replace that._

## Acceptance Cr

[2021-03-30 16:10] annaswims commented on #20556
I've forwarded an email with PII to your va email, @Mottie, but there's a screenshot from 3/24 where someone puts 5/9/2021  (46 days away) day in to the separation date for the navy.

Is the problem that we arent' handling 0-90 days properly?  They should still be able to submit a standard claim from 0-90 days before discharge, right?

[2021-03-30 16:17] bessgreen commented on #22368
Hi @bridgethapner, wanted to review this with you: if a user doesn't have permission to access Letters, how do we want the app to handle this? Here are a few options:

1. Hide the Letters feature completely from the app (including the button on the Home page). We're doing something similar for Direct Deposit & Contact Information.
2. Keep the Home page button & the ListItem button on the Profile p

[2021-03-30 16:17] Mottie commented on #20556
Oh, I get it... when they are between 0 and 90 days, they aren't eligible for BDD, but the date is still in the future. Ok, I'll work on this today.

[2021-03-30 16:17] andaleliz commented on #19779
Yes, that's mostly accurate - we said we would release w/out testing, since this is how it works on VAMC and neither VAMC OR the sticky profile were ever tested with people (so we're not explicitly going against any data). I think we have to do this ASAP anyway, as the `defect-2` issues are supposed to be resolved within a month and we're overdue on this.

I'm hopeful we can add a research questio

[2021-03-30 16:24] Cgfor3 opened #22369 "Access for Calvin Gonzalez"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Do not remove `operations` label; this will notify the VSP Operations team of your request
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Pleas

[2021-03-30 16:27] ashley-matthews opened #22370 "Co-Branding Screen Design and Research"
Create card sort.
Two separate card sorts to be sent to two different groups.
Design screens in support of the co-branding research effort.

Screen 1 = co-branding w/ MHV small logo
Screen 2= only VA Branding (no new design needed)
Screen 3= co-branding w/ MHV large logo
Screen 4= dummy screen

Survey Questions:
https://docs.google.com/document/d/1OrFHv8UqHYlDGFBmGqh2LoJl2ZZD8iW3o2KIkMtt5PU/edit?t

[2021-03-30 16:29] narin opened #22371 "Enable Mobile API testing on Review Instances"
Review instances need SSL certs set up in order for us to test out the `/mobile/v0` endpoints there.

[2021-03-30 16:37] jhouse-solvd commented on #21228
@dginther - when you get a chance, if you can update the checklist, add any relevant PRs and/or notes and possibly move this to review/qa, that would be awesome!

[2021-03-30 16:38] cindymerrill commented on #21745
I would like to request training in Google Analytics and DOMO, which I was told was available by my Product Manager.

[2021-03-30 16:38] artsymartha68 commented on #22249
Hoping this is fixed now that #16574 has been fixed?

[2021-03-30 16:39] cindymerrill commented on #22141
I just logged into Google Analytics and DOMO, but I don't know where to start. I submitted a request for training in both, but I'm wondering where the VA.gov dashboards are for starters. Can you please point me to them, @brianalloyd ?

[2021-03-30 16:45] tressaellen commented on #21872
Thank you @bethpotts ! That works just fine, here's the screenshot for the education benefits section. Also, I removed that extra space in "Manage all your claims and appeals" and 'the' from the additional text/helper text.

<img width="1112" alt="Screen Shot 2021-03-30 at 12 40 34 PM" src="https://user-images.githubusercontent.com/58752772/113025041-eec24200-9133-11eb-9ecc-9de2f1ede87d.png">

**E

[2021-03-30 16:46] tlei123 commented on #21365
FYI, now that we know CircleCI-Slack integration's working, I changed test_scheduled workflow chrontabs in both test-branches to weekly, to avoid exhausting my CircleCI free-tier monthly credits.

[2021-03-30 16:49] sshein opened #22372 "10-10CG: Improve user experience of indicating whether users are applying for primary and secondary caregivers"
# Background
In the usability studies we've done on the 10-10CG, Caregivers have been confused about the primary and secondary caregiver language.

# User Story
As a Caregiver/Veteran
I want to confidently choose primary or secondary caregivers
So that Veterans and Caregivers can receive the best support.

# Acceptance Criteria
Design created
Prototype updated
Testing tickets created
Front end/bac

[2021-03-30 16:53] sshein commented on #22372
design thoughts include having a single page where we explain primary and secondary caregivers and ask users there what types they are applying for - e.g. initial sketch
![Screen Shot 2021-03-30 at 9 53 22 AM](https://user-images.githubusercontent.com/3856611/113026321-ca6b6300-913d-11eb-83cb-0d2a5534ca70.png)

[2021-03-30 16:57] theodur commented on #21520
The [PR](https://github.com/department-of-veterans-affairs/vets-website/pull/16494) for fixing the nightwatch and Cypress tests has been merged. The `scaffoldRegistry` and `facilitySidebar` paths will need to updated before the content build release. This should be added to the launch checklist ticket when created.

[2021-03-30 16:57] sshein opened #22373 "10-10CG Representative: Research Plan and Conversation Guide"
# Background
We've made some changes to the copy where users choose whether or not they want to upload representative documentation. We need to make sure these changes work better for veterans/caregivers than our previous round of designs

# User Story
As a Caregiver/Veteran
I want to confidently choose whether or not I want to upload representative documentation
So that Veterans and Caregivers ca

[2021-03-30 16:57] Samara-Strauss commented on #19779
@erikphansen sounds like you don't need to launch behind a feature flags, but thanks for checking in on that!

[2021-03-30 16:59] pjhill opened #22374 "Migrate Pact CI Hosting to GitHub Actions"
## Issue Description
As a platform stakeholder, I need to see the results of the execution of Pact tests as part of the CI pipeline in the new GHA-hosted pipelines for both `vets-website` and `vets-api`.

---
## Tasks
- [ ] Leverage existing CircleCI configuration to re-create a similar configuration in GitHub Actions.
- [ ] Verify configuration in GHA is functioning as intended.
- [ ] Migrate `ve

[2021-03-30 17:04] leahkeeler opened #22375 "Analytics KPI dashboard request for Debt Resolution - FSR Form"
# Request a KPI Dashboard

## What this form is for
Use this template to request a KPI dashboard on Domo for your product.

## Instructions for the VFS team
- [ ] For additional info, read through the [How to Request a KPI Dashboard Documentation](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/analytics/kpi-dashboard-request.md)
- [ ] Your KPIs are clearly linke

[2021-03-30 17:08] ajakabcin commented on #21826
Successfully completed go/no-go meeting - we're proceeding with launch as planned.

[2021-03-30 17:08] #21826 closed

[2021-03-30 17:15] snyderje opened #22376 "Use of unsupported browsers for VEText portal results in unnecessary support emails"
### Issue
Currently, users are not notified that they may have a subpar experience and limited access to functionality when using IE. Users contact VEText team to resolve issues causes by use of unsupported browser.

### Next Steps

- [ ] Julia to sketch possible methods to nudge users towards recommended browsers.
- [ ] Research: What are current trends of browser use? Do most folks use Chrome or

[2021-03-30 17:18] vhenry07 opened #22377 "Staging Review - Claims & Appeals - 526 Wizard updates"
## Steps to complete Staging Review:

- [x] VFS Product Manager: Create this issue and fill in your team and feature name in the title.
- [ ] VFS: Link to this issue once created in [#vfs-platform-support](https://dsva.slack.com/channels/vfs-platform-support) in Slack; tag @vsp-product-support-members.
- [ ] VSP: Schedule meeting with VSP reviewers and requesting team attendees (as listed below)
-

[2021-03-30 17:18] vhenry07 opened #22378 "Staging Review - Claims & Appeals - 526 Wizard updates"
## Steps to complete Staging Review:

- [x] VFS Product Manager: Create this issue and fill in your team and feature name in the title.
- [ ] VFS: Link to this issue once created in [#vfs-platform-support](https://dsva.slack.com/channels/vfs-platform-support) in Slack; tag @vsp-product-support-members.
- [ ] VSP: Schedule meeting with VSP reviewers and requesting team attendees (as listed below)
-

[2021-03-30 17:28] delli-gatti-michael commented on #22359
![Screen Shot 2021-03-30 at 1.26.46 PM.png](https://images.zenhubusercontent.com/5c07f000391a6f6357adc430/2654ef80-6417-487a-a8d2-c84675d007cf)

[2021-03-30 17:28] laurenernest commented on #20155
The table you have on the dashboard is great! If I wanted to look at breakdown by old vs new versions of the page in GA, could you leave a note here for what I would need to set up so I can reference later.

[2021-03-30 17:29] delli-gatti-michael commented on #22359
Local testing complete

[2021-03-30 17:31] #21585 closed

[2021-03-30 17:31] SKasimow opened #22379 "Enterprise Translation Recommendation | C&L Team"
## Product Outline

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/content-localization/product-outline-working-drafts/markdown-version.md

## High Level User Story/ies

As an English-as-a-second-language (ESL) or limited-English-proficiency (LEP) Veteran, family member beneficiary or family caregiver I need access to plain language health and benefit content th

[2021-03-30 17:31] snyderje opened #22380 "VEText system status indication for portal users"
### Issue:
As a staff member, I can't easily tell if the VEText systems are up and running and messages are being sent as expected, or if there is a system error. Unknown system status leads to support questions about message sending timing, volume, errors, etc.

### Next steps:
- [ ] Schedule brainstorming meeting to discuss possible ways to show system health (Julia to lead)

[2021-03-30 17:37] snyderje opened #22381 "Help documentation not searchable in SharePoint"
### Issue:
Help documentation not searchable, leading to many support requests that redirect back to the SharePoint site.

### Next Steps:
- [ ] Justin research feasibility of adding search bar.

[2021-03-30 17:40] #22051 closed

[2021-03-30 17:40] alexandec commented on #20764
Thanks Tim! I agree on those priorities. We could create tickets for everything, or initially just for those first three tasks which prevent the build from breaking. @meganhkelley lmk if that's something I should do.

#1 I like that idea of removing the link checker from the build itself. It feels like something that makes more sense as a standalone CI thing anyway. The only thing I'm not sure of

[2021-03-30 17:41] snyderje opened #22382 "COVID-19 Cohort Request UI affordance for editing"
### Issue:
Editable and not editable mass-messaging cohorts look the same in the request table. As a user I may not know that I can edit my cohort request.

### Proposed fix
For editable records - add enabled modify button to first column.
For uneditable records - add disabled modify button to first column.

![ModifyButton.png](https://images.zenhubusercontent.com/602c49961617aa4bd4216173/71bda6b5

[2021-03-30 17:51] #21733 closed

[2021-03-30 17:53] alexandec commented on #20764
Links from @mchelen-gov on JSON streaming which we can test/benchmark and compare to the caching approach described above:
- https://www.npmjs.com/package/stream-json
- https://ckhconsulting.com/parsing-large-json-with-nodejs/

[2021-03-30 17:55] snyderje opened #22383 "In-context link to help content for cohort request"
### Issue:
In context link to sharepoint site for cohort request process only visible on record of historical requests, not request modal itself.

### Recommendation
- [x] Add link to 'Get help with this feature' on the cohort request modal header.
- [x] Link to cohort request help content should drop users in the New Request section of the sharepoint help site

[2021-03-30 17:58] mpelzsherman commented on #22105
@brangi and I are working on breaking this into separate stories. See [architecture doc](https://docs.google.com/document/d/1aJfja1dVPl7kzChWvbncZj5XOMOnr48ejxv2dY3B74Y/edit#) for details.

[2021-03-30 17:59] billfienberg commented on #22163
💡

Set up separate npm scripts for each app, and use [`npm-run-all`](https://github.com/mysticatea/npm-run-all) to run them in parallel.

Kent C Dodds uses `npm-run-all` in his [Cypress Testing Workshop](https://github.com/kentcdodds/cypress-testing-workshop/blob/2113c0fafd48868bd420cebb9f5a762b17698a32/package.json#L25).

[2021-03-30 18:03] vhenry07 commented on #22378
Closing as duplicate.

[2021-03-30 18:06] kristenmcconnell commented on #22343
Here is a spreadsheet that researchers can use to capture raw notes and observations if they find this method helpful. They aren't required to utilize this.

[https://app.zenhub.com/files/133843125/0d1db740-2ef3-4787-af94-c586f07c357a/download](https://app.zenhub.com/files/133843125/0d1db740-2ef3-4787-af94-c586f07c357a/download)

[2021-03-30 18:09] batemapf commented on #22249
The preferredFacility issue has been fixed!

[2021-03-30 18:13] larrywest52 commented on #22016
All pages written, cross-checked, revised as needed, and uploaded to our team's Google Drive.

[2021-03-30 18:16] Mottie commented on #20556
Fix merged in, not sure if it made it in time for production build today

[2021-03-30 18:17] mnorthuis commented on #22142
@JenLJ @amyknox Draft IA recommendations are here:
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/information-architecture/ia-reviews/bah-vrrap.md

cc @bethpottsVADEPO @peggygannon

A few open items yet:
- Breadcrumbs and URLs will be finalized once content and H1s are finalized.
- Is there an official VA form number for this new form?
- Entry points are still T

[2021-03-30 18:18] cindymerrill commented on #22141
Scheduled 1:1's with @brianalloyd , Denise, and Marci to learn about the dashboards they use.

[2021-03-30 18:22] dneel-bah opened #22384 "EDU: VA.gov Education Maintenance and Usability Enhancements [PI10]"
## High Level User Story/ies
As a EDU development team member, I need to address maintenance and usability issues as they arise so that unforeseen issues are addressed in a timely manner.

## Assumptions:
1. The stories linked to this EPIC have been agreed upon by reps from OIT, DSVA and EDU.

## Acceptance Criteria
1. All linked stories have been implemented and tested

## Supporting Artifacts
1.

[2021-03-30 18:26] jenniferlee-dsva opened #22385 "Make deep anchor link #path unique but informative"
# Make deep anchor link #path unique but informative

When generating the # path of the URL for the deep anchor link, use a combination of the first 30 characters of heading/accordion text _plus_ the ~component~ `entity `ID #.

AC:
FE should generate the anchor link path by:
- [x]  Using the first 30 (?) characters of the heading/accordion text
- [x]  And appending to it, a unique ID #, generated

[2021-03-30 18:32] stephenBarrs commented on #22292
@joshkimux @artsymartha68 we could add the h2 and force focus on it when the page loads.  Does that have to be a new h2 or could we focus on `To get started, tell us about your experience with VA health care. We'll then guide you to the right form.` which is currenlty in a `<span>`

[2021-03-30 18:33] kristenmcconnell commented on #22343
@mlighdc - Review the about spreadsheet and Mural board.

I was thinking that the spreadsheet could be used by the researchers to gather notes and observations. They don't have to use it though. I can send is out to the group of you that will be researching if you think it is valuable.

As for the Mural board, I was thinking that we could fill out the Mural board as a group during an afternoon wor

[2021-03-30 18:34] bethpottsVADEPO commented on #21788
@lunascoop Can you put a note here once the "After you apply for an eligibility determination" edits you made yesterday are live? That will close the loop on this work.

I see that the other edits to the headstones page are live already. So we just have to validate the other page, then can close this ticket.

[2021-03-30 18:36] lunascoop commented on #21788
The updates to the After you apply for an eligibility determination are live. https://www.va.gov/burials-memorials/pre-need-eligibility/after-you-apply/

[2021-03-30 18:40] laurensimpson14 commented on #21931
I hope you have a wonderful day!

[2021-03-30 18:40] #21931 closed

[2021-03-30 18:42] pjhill opened #22386 "QA Dashboard: MVP - Manual Functional Testing Dashboard"
## Issue Description
Given the information uncovered as part of the research into [relevant metrics](https://app.zenhub.com/workspace/o/department-of-veterans-affairs/va.gov-team/issues/22334) on the platform, develop a scheme for collecting and displaying information from TestRail.

---
## Tasks
- [x] Manually collect baseline metrics for the MVP.
- [x] Devise a method for automatically collectin

[2021-03-30 18:42] pjhill opened #22387 "QA Dashboard: MVP - E2E Testing Dashboard"
## Issue Description
Given the information uncovered as part of the research into [relevant metrics](https://app.zenhub.com/workspace/o/department-of-veterans-affairs/va.gov-team/issues/22332) on the platform, develop a scheme for collecting and displaying information from the Cypress when it is executed as part of the CI pipeline.

---
## Tasks
- [x] Manually collect baseline metrics for the MVP.

[2021-03-30 18:43] delli-gatti-michael commented on #22359
[Testrail test run](https://dsvavsp.testrail.io/index.php?/runs/view/1584&group_by=cases:section_id&group_order=asc)

[2021-03-30 18:43] pjhill opened #22388 "QA Dashboard: MVP - Accessibility Testing Dashboard"
## Issue Description
Given the information uncovered as part of the research into [relevant metrics](https://app.zenhub.com/workspace/o/department-of-veterans-affairs/va.gov-team/issues/22334) on the platform, develop a scheme for collecting and displaying information from the relevant sources (TestRail, Cypress, Nightwatch sitemap test, other sources???).

---
## Tasks
- [x] Manually collect base

[2021-03-30 18:50] jonwehausen commented on #20155
Hi @laurenernest ,

I wanted to provide an update on your request to expose analytics for the community care provider language selection -- After taking a look at Google Tag Manager, it looks as though at the time the `'vaos-number-of-preferred-providers'` data layer variable was configured for data collection, `'vaos-community-care-preferred-language'` was not.

I greatly apologize for the miss h

[2021-03-30 18:50] jonwehausen commented on #16972
Hi @laurenernest ,

Thanks for this -- please see my comment [here](https://github.com/department-of-veterans-affairs/va.gov-team/issues/20155#issuecomment-810495811)

[2021-03-30 18:58] ksantiagoBAH commented on #22338
PR: https://github.com/department-of-veterans-affairs/vets-json-schema/pull/575

[2021-03-30 18:58] brangi opened #22389 "Vet Center main page - On This Page section"
Implement table of contents

- [ ] use liquid <nav id="table-of-contents"

[2021-03-30 19:06] dneel-bah opened #22390 "EDU Form: Education form updates due to legislation"
## High Level User Story
As an Education stakeholder, I need the Education Services forms on VA.gov updated so that veterans have a consistent experience when completing the forms on paper or digitally and the forms are up to date with recent legislative updates.

## Assumptions:
1. The stories linked to this EPIC have been agreed upon by reps from OIT, DEPO and EDU.

## Acceptance Criteria
1. All

[2021-03-30 19:09] brangi opened #22391 "Vet Center main page - Locations and contact information section"
Implement Locations and contact information section

## Design preview - https://preview.uxpin.com/0a5eaacdf411fde0cb3abf4932010c29fbccb7de#/pages/136042527/simulate/sitemap?mode=i

[2021-03-30 19:11] brangi opened #22392 "Vet Center main page - How different than a clinic section"

[2021-03-30 19:16] brangi opened #22393 "Vet Center main page - Hours section"
Implement Hours section

[2021-03-30 19:21] laurenernest opened #22394 "Cheetah-Update facility phone number to covid scheduling line"
## Description
Some facilities have specific phone numbers set up for COVID-19 vaccine scheduling instead of routing Veterans through their main facility line.

Facility Locator ticket #23095

---
## Tasks
- [ ] Contact Facility - none online

- [ ] Contact Facility - dose received

- [ ] Confirmation

## Acceptance Criteria
- [ ] Changes are behind the `va_online_scheduling_cheetah` feature flag

[2021-03-30 19:21] brangi opened #22395 "Vet Center main page - Prepare for your visit section"
Implement Prepare for your visit

- [ ] Use new va-accordion component
https://design.va.gov/storybook/?path=/docs/components-va-accordion--bordered

[2021-03-30 19:23] snyderje opened #22396 "Support for VAOS direct scheduling link in vaccine outreach messages"
Add a new template for scheduling via VAOS, will follow one-way logic.

Message Template Draft:

Removed STOP to reduce opt-out for first time VEText recipients, and removed 'More info' link to not draw attention from scheduling link, or add confusion that the links look similar but go different places. If the links are quite distinct, we could consider including both.
Just received some feedback

[2021-03-30 19:24] brangi opened #22397 "Vet Center main page - In The Spotlight section"
CC featured content

[2021-03-30 19:28] brangi opened #22398 "Vet Center main page - vet center services section"
Implement Services into accordions

-  [ ] Use new va-accordion component
https://design.va.gov/storybook/?path=/docs/components-va-accordion--subheader

- Mural
https://app.mural.co/t/vagov6717/m/vagov6717/1614274642123/3509c33494d6dbc74e362cfe458dc5f2a517ec39

[2021-03-30 19:29] laurenernest opened #22399 "VAOS for Distribution (Cheetah) Pilot Iterations"
## Summary
This epic houses work resulting from pilot feedback and other updates not required for pilot launch, but required or recommended for national roll-out.

Pilot Epic #21626

### Product Documentation

- [Product Outline](https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob/master/products/health-care/covid-vaccine-distro/vaos-for-distribution-initiative/vaos-for-di

[2021-03-30 19:33] brangi commented on #22106
@mmiddaugh we are closing this in favor to individual stories - https://github.com/department-of-veterans-affairs/va.gov-team#workspaces/vft-59c95ae5fda7577a9b3184f8/board?labels=vsa-facilities,frontend,vet-center&epics=133843125_20783&repos=133843125

[2021-03-30 19:33] #22106 closed

[2021-03-30 19:33] ambikaroos commented on #22396
FYI @laurenernest

[2021-03-30 19:40] laurenernest commented on #20309
Thanks for confirming! Good to close.

[2021-03-30 19:47] bessgreen opened #22400 "Update toolbar button CC w/ design specs"
## Acceptance Criteria
1. Update the specs for the toolbar button (né: footer button) common component:
     - Text: Mobile Body Bold
     - Background color: #F9F9F9
     - Text color: #0071BC
     - SVG fill: #0071BC
     - Height: 44px;
     - Width: 100%;
     - Border-top: 1px solid gray-light #aeb0b5
     - Active state:
          - Color: primary-darkest #112e51
          - SVG fill: #FFFFF

[2021-03-30 19:47] vhenry07 commented on #22377
Yes, that works for me.
Veronica Henry | PMP
Sr. Product Manager
| *mobile* 702-509-6192
| *e.* ***@***.***

On Tue, Mar 30, 2021 at 3:46 PM shiragoodman ***@***.***>
wrote:

[2021-03-30 19:52] msmanak commented on #20887
added spreadsheet: https://docs.google.com/spreadsheets/d/1laJaAA69DLcozAuxCwBq74Itl8oPhxD270FV4877ppE/edit#gid=1651462990

[2021-03-30 19:52] callen2563 commented on #21975
After meeting with Megan and Leyda yesterday we made the decision to remove the grey container box behind the search bar due to the redesign for Search that features a [new left rail menu for tools](https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/21376) across all tool pages with the exception of Find a Facility, which contains more

[2021-03-30 19:54] #21476 closed

[2021-03-30 19:58] tressaellen commented on #22185
@Samara-Strauss @ajakabcin  @erikphansen @sanlouise here is the[ updated test cases document.](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/my-va/2.0-redesign/qa/MyVA%20-%20test%20cases.md) Let me know if you have any feedback or changes that you suggest. Thank you!

[2021-03-30 20:08] ksantiagoBAH commented on #22338
vets-api pr: https://github.com/department-of-veterans-affairs/vets-api/pull/6362

vets-website pr: https://github.com/department-of-veterans-affairs/vets-website/pull/16594

[2021-03-30 20:09] DanielleThierryUSDSVA commented on #21101
Hi @1Copenut @artsymartha68! Following up from slack thread. Here's the super epic that's capturing our different streams of content standards work. And here's a parallel content community of practice epic that also captures related work: https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/9325.

As I mentioned, we'll be reaching out as

[2021-03-30 20:12] digitalken opened #22401 "Accordion CC accessibility issues"
## What happened?
1.  Samsung phones pronounce VA as "vah" on file upload page (accordion page) "You have 2 file requests from VA"

2. Keyboard is unable to tab through accordion page on iOS.  (up/down arrows work, though.)

3. Keyboard can tab through, but it seems like it must be tabbing through the previous page(s) first before it tabs through the current page. It must tab through 40+ times bef

[2021-03-30 20:16] digitalken commented on #21984
PASS 3/30/2021 - UI passes on both Android and iOS.  Accessibility issues noted in bug #22401 but I'm closing this story since the bug is tracked.

[2021-03-30 20:19] #20309 closed

[2021-03-30 20:19] shiragoodman commented on #22377
@vhenry07 - scheduled for Monday 4/5 at 3:30 pm ET.

@Mottie  - Ronnie said you'd be helping to supply the artifacts. Please provide the link to staging, as well as other artifacts requested, as soon as possible. We prefer to have these 4 days in advance of the review which would be today. Thank you!

[2021-03-30 20:20] vhenry07 opened #22402 "Form 526 update - Program Selection"
## Issue Description
Program selection has been changed and now contains radio buttons and allows for only 1 selection.
---
## Tasks
- [ ] Modify form - checkboxes change to radio buttons

## Acceptance Criteria
- [ ] Updated form
---

[2021-03-30 20:20] brianalloyd commented on #21975
Thanks @callen2563 I've got this on the tracker to review during team grooming session so we can discuss next step and ticketing needs for action items.  Appreciate the work on this, excited to see the results and user feedback from the refinement.

[2021-03-30 20:24] vhenry07 opened #22403 "Form 526 Update - Phone Number"
## Issue Description
New form requires phone numbers be split into separate fields for area code, and exchange
---
## Tasks
- [ ] Update form to reflect phone number submission requirement

## Acceptance Criteria
- [ ] Form updated with separate fields.
---

[2021-03-30 20:28] kjduensing opened #22404 "Copy entire COVID Vaccine table"
Per discussion with @shanemelliott, in order to make sure we know the data in the SQL Server table is accurate, we want to be able to copy the entire relevant mongo collection over, after it's been translated appropriately

We'll know we're done when:
1. the number of rows in the SQL Server table and the mongo collection are equal
2. each row in the SQL server table has a subset of information in

[2021-03-30 20:29] Mottie commented on #22377
Hi @shiragoodman!

The link to the start of form 526 is https://staging.va.gov/disability/file-disability-claim-form-21-526ez/introduction

In addition to the artifacts linked above, here are:
- wizard flow: https://staging.va.gov/disability/file-disability-claim-form-21-526ez/introduction
- outline & alerts: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/public

[2021-03-30 20:33] kjduensing opened #22405 "Synchronize only "recently updated" records in COVID vaccine collection"
In order to reduce the number of rows the synchronization application must process, we want to synchronize only the records that have been recently updated.

"Recently updated" means the records whose `updated_date` field is within the configurable date.

We'll know we're done when:
1. the number of identified records in the mongo collection matches the number of newly updated & added records in t

[2021-03-30 20:33] vhenry07 opened #22406 "Form 526 Update - Treatment Date Form Fields"
## Issue Description
Form 526 treatment dates are now split into separate fields.

---
## Tasks
- [x] Schema change - treatment start date no longer required (option to select "do not have date radio button"). Treatment end date will no longer be used.

## Acceptance Criteria
- [x] Treatment end date field no longer required
- [x] Remove treatment end date field.
---

[2021-03-30 20:40] jonwehausen commented on #16010
## Update
Hi @craigwheeler ,

Thank you for taking the time to read my note here. I have a couple updates for you:

- In my latest testing of the form submission below, I did not see a `--submission-successful` (or `--submission-failed`) event per our standard forms library event taxonomy, would you have any initial reason for this? You can find our current non-production FSR events [here](https:/

[2021-03-30 20:43] jonwehausen commented on #16164
Hi @dneel-bah ,

Thank you very much for this information.

We look forward to QAing your work here.

[2021-03-30 20:47] jbalboni opened #22407 "Add Cypress tests to cover both contact facilities page variations in vaccine flow"
We need to run axe checks on both variations of the contact facilities page in the vaccine flow. We could probably work one of these into the existing test, but one of them will need a new test

AC
- Cypress test covers when a user chooses "Yes" on the have you received a dose page and the axe check is run on the contact facilities page
- Cypress test covers when vaccine schedule is not available

[2021-03-30 20:49] craigwheeler commented on #16010
Hi @jonwehausen I believe there is still some work ongoing with the form submission that maybe affecting this so ill have to look into it once changes have been completed and get back to you if its still failing. Also, ill make sure to implement the wizard analytics according to this most recent specification ... thanks for the update

[2021-03-30 20:50] #20842 closed

[2021-03-30 20:50] #18093 closed

[2021-03-30 20:50] #18123 closed

[2021-03-30 20:50] #18122 closed

[2021-03-30 20:53] holdenhinkle commented on #20706
I spoke with Lindsey and she really likes the idea of re-recording VCR Cassettes. This is something that people have been wanting for a long time.

Some things we talked about:

It might be better to submit separate PRs for each updated cassette that resulted in an error (instead of one PR for all cassettes that need updating). This way, only one code-owner will be required to approve each PR. Thi

[2021-03-30 20:54] lildziner commented on #18660
This file contains prototype iterations as follows:

If the phone number goes to a generic number use: "Call us to schedule" call to action, as seen in [iteration V11](https://preview.uxpin.com/da6f3cf6f92a6ce39fa2cc6d510534b5329f86db#/pages/137873897). This language was proposed by Beth Potts and Danielle T. .

[2021-03-30 20:57] jonwehausen commented on #15757
Hi @jason-gcio ,

When you have a moment, I wanted to connect with you as we've had #13167 and #15757 opened for a bit for the same DL tweak needed.

This should be a small change to the tracking prefix to ensure our `submission` events have a double dash (`--`) before `submission` rather than triple dash (`---`) as they mistakenly do now. This doesn't/hasn't inhibited any data collection, but it

[2021-03-30 20:57] timwright12 opened #22408 "Prepare Review Instance Script for Content Separation"
Ops has requested that we update the review entrypoint script at `script/review-entrypoint.sh` to be prepared for the content separation. This script can be updated right now to check for the content-build sibling directory, if the directory exists, use it, otherwise, do what we're doing right now.

This way, the script can be merged and should just work when Ops updated the review instance docker

[2021-03-30 20:58] #19687 closed

[2021-03-30 21:07] timwright12 opened #22409 "Diagram the content build separation for Ops"
Ops has request a diagram of the content build separation work in order to help facilitate a production release.

**Tasks**:
[ ] System diagram for the Ops team
[ ] Should include the repository processes (vets-website to apps, content-build to content)
[ ] Should include deployment information
[ ] Should include proxy information
[ ] Should be reviewed by @dginther

[2021-03-30 21:07] lianilychee opened #22410 "Conduct pair-writing sessions (Publish Monthly Newsletter)"
# User story
- As the Newsletter editor,
- I want to quickly extract submissions' value props and reduce jargon,
- so that I can produce the Newsletter quickly and with minimal back-and-forth with SMEs.

# Tasks
- [ ] Refine questions list.
- [ ] Talk to Service Design about getting a technical backup.

also,

- [x] Get submitters' names.
- [x] Schedule with submitters.
- [ ] Copywrite/edit.

# Ac

[2021-03-30 21:08] jason-gcio commented on #15757
Hey @jonwehausen - so sorry about this, it totally fell off my radar.  I will bring these up with the team and see when we can get these straightened out.

[2021-03-30 21:08] amyknox commented on #22198
Text spacing issues are still present in body content

![image.png](https://images.zenhubusercontent.com/5b51ea398c1a7628d9218a42/8b2dcd0c-dade-4cf4-be2a-4625f738d945)

[2021-03-30 21:11] U-DON commented on #21750
![github-actions-jenkins-split](https://user-images.githubusercontent.com/1067024/113055641-d1fc2d80-9178-11eb-8a16-15542f469e3a.png)
*Imagine the dashed line moving to the right as the steps get moved to GitHub Actions.*

TLDR: Carry on and work on configuring GitHub Actions to kick off the Jenkins job.

--

Initially, I had envisioned the possibility of having the GitHub Actions and Jenkins part

[2021-03-30 21:12] U-DON commented on #21750
For reference, the GHA pipeline is WIP in department-of-veterans-affairs/vets-website#16516.

[2021-03-30 21:12] amyknox commented on #21747
Jon – double check user 220.  There are multiple denied STEM claims for that user.

Link to claims status tool in staging: https://staging.va.gov/track-claims/your-stem-claims/8512/status

You can find log-in info for user 220 here:
https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob/master/Administrative/vagov-users/mvi-staging-users.csv

Amy Knox
Email: ***@***.******@**

[2021-03-30 21:14] ffafara-tw opened #22411 "General Analytics Request for VANotify"
# Google Account setup help request

## Description
Who is this request for?
- VANotify team (@ffafara-tw)

We want to use gmail postmaster tool (https://gmail.com/postmaster/) to manage reputation of the domains VANotify uses to send email notifications to veterans.
The 2 domains that are currently being used are:
- notifications.va.gov (via AWS Simple Email Service)
- messages.va.gov (via Granic

[2021-03-30 21:16] jonwehausen opened #22412 "Data Layer Variable Clearing"
## Description
Today, with www.va.gov being a single page app, there are cases where a data layer variable may persist to a subsequent event where its context/meaning/definition is not necessarily needed.

With our design system standardization, it would be great time  to do some discovery around the best method to clear data layer variables immediately following their usage within an event.

## A

[2021-03-30 21:21] lianilychee opened #22413 "Improve design sprint guidelines (Operational docs hub)"
# User story
- As a Platform Team member
- I want consistent, concise, clear guidelines to follow
- so that I can properly populate my team's space within the Platform's Operational Docs Hub

# Tasks
- [x] Gretchen to give 10-min brain dump to Amy during timebox.
- [ ] Amy to improve guidelines!

# Acceptance criteria
- I have spent 3-hrs (timeboxed) on editing the guidelines.
- I have delivered t

[2021-03-30 21:23] mpelzsherman opened #22414 "Integrate Centralized Content for Vet Centers"
The following vet center fields are centralized content:

- fieldCcNonTraditionalHours
- fieldCcVetCenterCallCenter
- fieldCcVetCenterFeaturedCon
- fieldCcVetCenterFaqs

Once the CMS team makes these available, we need to add them to our graphql query so we can include this data in our templates.

See [Slack](https://dsva.slack.com/archives/C0FQSS30V/p1617131714329900?thread_ts=1617128551.328900&c

[2021-03-30 21:24] lianilychee opened #22415 "Instrument our Scroll Viewport sites with analytics (define KPIs)"
# User story
As a Content Team member, I want to understand VFS teams' usage patterns of the Platform Website, so that we can optimize* the Platform Website.

.* "Optimize" could include but is not limited to: Identifying which pages to transform, adjusting the IA for a smoother user experience, etc.

# Tasks
- [x] Secure support from Analytics regarding #18746
- [x] Implement GT tracking ID in Sc

[2021-03-30 21:27] bethpottsVADEPO commented on #21872
Thanks @tressaellen --just a few more edits I see. Then I think this is good to go!
1/ For the Education benefits blurb, can you please change "or" to "and" here?: With VA education benefits, you **and** your qualified family members...
2/ For that Education header, I realized you should remove "benefits" to be consistent with the others there. Also, please add "and training" to match the name of

[2021-03-30 21:30] jason-gcio commented on #15757
@jonwehausen - we chatted real quick and it seems like we just need to remove a hyphen from these...can we confirm its that simple?

[2021-03-30 21:31] lianilychee opened #22416 "Deliver three-slide deck for async review of design artifacts (Confluence migration plan)"
# User story
As a Content Team member, I want to deliver a small artifact* to OCTO-DE, so that our partners have visibility into how Platform Teams will populate the Platform Website.

As an OCTO-DE member, I want to understand the progress that the Content Team has made, so that I have confidence in the Content Team's ability to guide other Platform Teams.

*Small artifact = three-slide deck (abb

[2021-03-30 21:33] lildziner commented on #18660
These designs were vetted via the #Design channel. Decisions and input from SMEs:

• Action link (the link with the preceding blue circle icon) is ok to use as shown in the iterations above (per Crystabel and Allison).
See Design System [guidance](https://design.va.gov/components/action-links) and [code example](https://design.va.gov/storybook/?path=/docs/components-action-link--page).

• Per Trev

[2021-03-30 21:35] lianilychee opened #22417 "Get OCTO-DE consensus on content buckets for Platform Website (Confluence migration plan)"
# User story
As a Content Team member, I want to secure OCTO-DE consensus on content buckets, so that we mitigate future confusion as Platform Teams populate the Platform Website.

# Tasks
- [ ] Set up meeting with Rachael Roueche, Dror, Content Team, Andrea Hewitt
  - Optional: Michael Fleet, Mike Chelen, Naomi
- [ ] Synthesis analysis in #21666
- [ ] Turns synthesis into recommendations

# Accep

[2021-03-30 21:37] lianilychee opened #22418 "Publish proposed product list and Platform Website structure (Confl migration plan)"
# User story
As a Content Team member, I need to map out what Platform Website info goes in which Conf spaces, so that Platform teams have a "map" they can follow.

As a Platform Team member, I need to know in which Conf spaces to put my team's documentation, so that I can populate the Platform Website following the Content Team's guidance.

# Tasks
- [ ] Pre-req: Product list from product worksho

[2021-03-30 21:38] lianilychee opened #22419 "Consolidate Platform products list (Develop IA)"
# User story
As a Content team member, I want to consolidate the various product lists we've encountered*, so that we can present a comprehensive experience to OCTO-DE.

*Product lists included in the last section.

# Tasks
- [x] Secure buy-in from Rachael Roueche
- [ ] Schedle and secure buy-in from Andrea Hewitt
- ~Schedule and secure buy-in from PMs~ no longer needed, as outlined in [this slack

[2021-03-30 21:40] jonwehausen commented on #15757
Hi @jason-gcio ,

It's no problem -- Thank you for your response here. Yes this should be just that simple.

[2021-03-30 21:42] lildziner commented on #18660
**Regarding facility status:**

If scheduling appointments ahead of time is mandatory, a status would be less useful and relevant and clutters the results cards.

However, if/when walk-ins become available, just-in-time messaging like facility statuses could be more important to users. In this scenario, would online scheduling still be preferred? If not, [consider V10](https://preview.uxpin.com/da

[2021-03-30 21:42] #21956 closed

[2021-03-30 21:42] kathleencrawford commented on #22167
PR submitted here: https://github.com/department-of-veterans-affairs/vets-api/pull/6361

[2021-03-30 21:42] lianilychee opened #22420 "Validate list of Platform products (Develop IA)"
# User story
As a Content Team member, I want to secure OCTO-DE and VSP PMs signoff on the consolidated list of Platform products, so that the Platform Website maintains a comprehensive reading experience while being iteratively populated.

# Tasks
- [ ] Prereq work https://github.com/department-of-veterans-affairs/va.gov-team/issues/22420
- [ ] Formalize outcome of workshop with OCTO-DE.

# Accep

[2021-03-30 21:52] jason-gcio opened #22421 "Remove Extra Hyphen (CH36/31 GA Events)"
## Goal
Clean up the event names for standard event names per GA Insights Team.

## Considerations
Currently the event names look like this, with an extra hyphen:
![image](https://user-images.githubusercontent.com/48527022/110994088-42681980-8346-11eb-8b0c-b3f6d3380bca.png)

Each full event name should look like this, with only two hyphens:
- `careers-employment-28-1900--submission`
- `careers-emp

[2021-03-30 21:53] lianilychee commented on #21650
Not completed within Sprint 48.  Created a new ticket for Sprint 49: https://github.com/department-of-veterans-affairs/va.gov-team/issues/22417

[2021-03-30 21:59] joanneesteban commented on #21697
Added in the ticket above:

Use the [VA.gov Product Directory ](https://docs.google.com/spreadsheets/d/1U0InrpgnX0pvrZ-lDbkMuc9Qg7dnPLbcnKXpzpVR8zM/edit#gid=913478450)as the source of truth. OCTODE uses "products" and "features" interchangeably. We can align our KPI dashboards to the products listed here, and roll them up into Benefit Hubs.

[2021-03-30 22:09] joanneesteban commented on #21698
@jonwehausen @laurensimpson14 This is looking AWESOME. Do y'all need more time next sprint to finish up, or is this good to go? There's some plain language that we should add here (i.e. "benefit hub" as a column title in lieu of "output"), but that's lower priority for now.

CC: @JasonTheBearded check out Lauren & Jon's work above.

[2021-03-30 22:17] digitalken commented on #21898
Added to TestRail.

[2021-03-30 22:48] DanielleThierryUSDSVA commented on #21814
Hi @Samara-Strauss! I've been going over the "sign in to save time" component a review as part of the health care intro page. I wanted to check in on the content we created together way back for this and get your thoughts on potential changes to streamline. Let me know what's best - comments in ticket or having a call to go over. Thanks!

# Save time and save your work in progress

You can sign in

[2021-03-30 22:48] digitalken commented on #19521
Added to TestRail.

[2021-03-30 23:10] digitalken commented on #21899
Added to TestRail.

[2021-03-30 23:15] SKasimow opened #22423 "[RESEARCH] Internal Stakeholder Interviews | C&L Team"
## User Story

As a Product Owner, I would like to gain a better understanding of our internal stakeholder's experience with translation services and/or software and identify the key content needs for each group. This will help inform and shape our recommendation for an enterprise translation solution.

## Acceptance Criteria

- [x] List of internal stakeholders to interview, prioritized and group

[2021-03-30 23:17] digitalken commented on #21038
Added to TestRail.

[2021-03-30 23:21] digitalken commented on #21278
Added to TestRail.

[2021-03-30 23:26] digitalken commented on #21074
Added to TestRail.

[2021-03-30 23:33] digitalken commented on #21082
Added to TestRail.

[2021-03-30 23:38] digitalken commented on #21081
Added to TestRail.

[2021-03-30 23:40] bessgreen opened #22424 "Form wrapper to take in radio buttons"
## Acceptance Criteria
1. Update the form wrapper component to take in radio buttons
     - This change is required for the **Compose a Message** form
2. Add specs to ReadMe

## Designs
https://adhoc.invisionapp.com/share/YM10HVPXJE7V#/screens/447364867

[2021-03-30 23:43] bessgreen opened #22425 "Large button CC: display icon"
## Acceptance Criteria
1. Update the Large Button common component to take in an optional icon
     - This will be applied to the **Add files** button on the Compose a Message form
2. Update ReadMe

## Designs
https://adhoc.invisionapp.com/share/YM10HVPXJE7V#/screens/447364867
.svg:
![paperclip--$color-link-default.svg](https://images.zenhubusercontent.com/5f64e41291069a617acc1b47/c2c4185f-a739-42

[2021-03-30 23:48] digitalken commented on #21194
Added to TestRail.

[2021-03-30 23:49] bessgreen opened #22426 "Common component: Text entry box"
## Acceptance Criteria
1. Create common component for the text entry box
2. This component will ultimately be inserted into a form wrapper
3. UI details:
     - Border: 1px solid gray #5B616B
     - Background: white
     - Text: Mobile Body
     - Helper text (optional): Source Sans Pro, 16/22px #323A45
4. When there is a required label:
     - Red secondary dark, #CD2026
     - UI when field is

[2021-03-30 23:53] digitalken commented on #21195
Added to TestRail.

[2021-03-30 23:54] ajmagdub commented on #21603
[Pull Request 6368](https://github.com/department-of-veterans-affairs/vets-api/pull/6368)

[2021-03-30 23:57] bessgreen opened #22427 "Apply different types of ListItems throughout the app"
## Dev task
1. Sweep the app and apply the following types of ListItems to the relevant buttons:
     - Simple list item
     - Expanded list item

[2021-03-30 23:59] digitalken commented on #21380
Added to TestRail.

[2021-03-31 00:03] jason-gcio opened #22428 "Staging Review eBenefits - VRE CH31"
## Steps to complete Staging Review:

- [x] VFS Product Manager: Create this issue and fill in your team and feature name in the title.
- [x] VFS: Link to this issue once created in [#vfs-platform-support](https://dsva.slack.com/channels/vfs-platform-support) in Slack; tag @vsp-product-support-members.
- [ ] VSP: Schedule meeting with VSP reviewers and requesting team attendees (as listed below)
-

[2021-03-31 00:13] digitalken commented on #22086
Added to TestRail.

[2021-03-31 00:19] digitalken commented on #21279
Added to TestRail.

[2021-03-31 00:22] digitalken commented on #22109
Added to TestRail.

[2021-03-31 00:26] digitalken commented on #21083
Added to TestRail.

[2021-03-31 00:30] digitalken commented on #22424
Added to TestRail.

[2021-03-31 00:43] jason-gcio commented on #22041
@micahchiang or @cohnjesse - would one of you be able to answer any of the FE questions?

[2021-03-31 01:39] andreahewitt-odd opened #22429 "Tools BE VFS Support - Sprint 49"
As you review PRs, please add this epic to the issue so the business has visibility into our time spent supporting VFS teams.

[2021-03-31 01:40] andreahewitt-odd opened #22430 "Utility Developer Support Rotation - Sprint 49"
## Goal

The Backend Tools team utilizes a single resource each sprint to be the point person for a number of different things the entire team is responsible for.  This single resource will be responsible for items listed below and will have a lighter work load towards sprint objectives during the sprint in which they are assigned Utility Developer.

# Areas of Focus

## Triage Process
Monitoring

[2021-03-31 02:01] bethpottsVADEPO commented on #21531
@mmiddaugh Attaching rewritten descriptions and Vet Center service names (only 2 needed editing, so I called those out in red font) here in the excel spreadsheet. Let me know if you have any questions or want to talk through any of them. I wasn't sure what to do with the Veteran-facing names since a lot of those were missing. I can revisit that content if it would be helpful.

Also, @DanielleThier

[2021-03-31 02:53] rroueche commented on #22360
@joanneesteban this write up looks awesome - thank you for sharing!

Chris J and I were discussing this effort and we'd like to also include in the goals for this work (along the same lines as what you wrote in the Definition of Done around having the datasets align with the KPI Framework Themes) is:
thing we'd like to vet the solution design against is OCTO-DE's high level metrics to gauge whethe

[2021-03-31 03:14] rroueche commented on #22361
@joanneesteban Phase I looks great!

[2021-03-31 04:38] #10927 closed

[2021-03-31 04:39] #11257 closed

[2021-03-31 10:11] andaleliz commented on #20221
Adding some mock-ups to review in discussion with content team tomorrow (4/1).

side note: the content inside the "how will you use my contact information" FAQ is different than what's on the change your address page but it still feels like there may be bit of redundancy. will get content teams take on this.

![profile - desktop FAQ open](https://user-images.githubusercontent.com/55992116/11312843

[2021-03-31 10:15] andaleliz commented on #3117
Closing this out since this design has changed and this is a duplicate of #19562

[2021-03-31 10:15] #3117 closed

[2021-03-31 10:17] #11617 closed

[2021-03-31 10:33] andaleliz commented on #19562
@Samara-Strauss and @sanlouise there is a related problem on Profile that doesn't have an open issue yet, but I'm sure will get called out in the upcoming a11y audit - the styling of the `Please add your [missing contact information]` buttons has the same problem of material dishonesty.

Here are the current buttons (you can see one with and one without the hover state):
![image.png](https://image

[2021-03-31 12:14] ala-yna opened #22431 "VSA Onboarding - Dené Gabaldón"
## Welcome to the VSA Program

Welcome! This issue will be used to track your onboarding to the VSA Program.

---

## Pre-Onboarding

**Operation Lead Tasks**

- [x] Send Welcome email to New Hire (request GitHub Username)

*Send Notifications with New Hire details (name, position, start date) to:*

- [x] Admin Analyst
- [x] VA Leadership
- [x] VA PO
- [x] Practice Lead
- [ ] VSP Onboarding

**Acc

[2021-03-31 12:17] sonntag-adam commented on #22084
Closing story.

[2021-03-31 12:17] #22084 closed

[2021-03-31 13:04] davidconlon commented on #21531
thanks @bethpotts !
This is fantastic.  We'll proceed and if/when @DanielleThierryUSDSVA gets some air/bandwidth we would love a future iteration.

[2021-03-31 13:07] JasonTheBearded commented on #21700
@joanneesteban I think I have everything. I finished pulling all the fields for each BQ dataset so my work on the audit is done.

[2021-03-31 13:07] dmccurdybah commented on #22214
Can be tested locally on vets-website branch `update-schema-version`

[2021-03-31 13:08] dmccurdybah commented on #22214
vets-json-schema PR: https://github.com/department-of-veterans-affairs/vets-json-schema/pull/573

[2021-03-31 13:14] johnhashva commented on #21665
@kelsonic is the password clp123?  clp1234?   No reason not to post here.

[2021-03-31 13:16] JasonTheBearded commented on #21698
This is WONDERFUL. Thank you @jonwehausen and @laurensimpson14 for your work on this!

[2021-03-31 13:17] joshkimux commented on #22292
@stephenBarrs If we want to be consistent with the form system, focus should be set on that new `h2` rather than the `p` below. It might be a little odd because usually the `h2`s are steppers e.g. "Step 1 of X, Determine the right form."

Might be worth wrapping folks with experience with the form system + content in here

[2021-03-31 13:18] meganhkelley commented on #21014
Document best practices for app architecture. May be out of scope for this docs updating initiative.

Mike Chelen (he/him)  8 hours ago
is it possible to describe some of these use cases and current architecture? that would help inform implementation options & tradeoffs

https://dsva.slack.com/archives/C01512KN35G/p1617121257178100?thread_ts=1617048921.136400&cid=C01512KN35G

[2021-03-31 13:19] joshkimux commented on #21478
@micahchiang Thank you :D
Fingers crossed a separate page will happen in the near future as it's the most accessible option

[2021-03-31 13:20] johnhashva commented on #22307
@MarciMcGuireGCIO + @zacharymorel when you tackle this one, could you also align the Read more > and Apply online > links to the bottom of the blue box -- as seen here in the Campaign Landing page.
<img width="849" alt="Screen Shot 2021-03-31 at 9 17 26 AM" src="https://user-images.githubusercontent.com/63107147/113150521-2dbec900-9202-11eb-9e30-109a0198637b.png">

[2021-03-31 13:22] MarciMcGuireGCIO commented on #22307
@johnhashva Thank you for adding the addition info!

[2021-03-31 13:24] Samara-Strauss commented on #18815
If we pursue this, note that it would be a link, not a button, per the final My VA design.

[2021-03-31 13:24] Samara-Strauss commented on #2265
Closing this. VA Profile doesn't have immediate plans to add international phone numbers. If/when this happens, we will open a new ticket.

[2021-03-31 13:24] #2265 closed

[2021-03-31 13:25] Samara-Strauss commented on #2266
Closing this. VA Profile doesn't have immediate plans to add international phone numbers. If/when this happens, we will open a new ticket.

[2021-03-31 13:28] zacharymorel commented on #8279
@joshkimux This is live on staging, can you give it a look?

[2021-03-31 13:33] joanneesteban commented on #21700
Great! Thanks, @JasonTheBearded feel free to close when you're ready!

[2021-03-31 13:34] joshkimux commented on #8279
@zacharymorel Confirmed! Great work! 😄

[2021-03-31 13:34] #8279 closed

[2021-03-31 13:37] shiragoodman commented on #22428
scheduled for 4/9 at 2pm ET

[2021-03-31 13:39] lealester commented on #21768
System added from VAST: vha_508QB	East Point VA Clinic

[2021-03-31 13:40] joshkimux commented on #19611
@Samara-Strauss I was out on PTO! I've just reviewed this now and it requires one more little tweak.
@erikphansen could we add `role="img"` to the `img` of the check? This will negate the screen reader from reading out all the contents within the svg and treating it as a group.

See below for why:

### Without `role="img"` on an svg

https://user-images.githubusercontent.com/14154792/113153410-0fa

[2021-03-31 13:40] JasonTheBearded commented on #21700
Thanks @joanneesteban! Audit complete, closing ticket.

[2021-03-31 13:40] #21700 closed

[2021-03-31 13:42] MarciMcGuireGCIO commented on #8279
Documenting fix.

Before change:
![image](https://user-images.githubusercontent.com/73354907/113153629-49779e80-9205-11eb-9bf7-0903ab05bf44.png)

After change (no focus on/yellow box around the number of results):
![image](https://user-images.githubusercontent.com/73354907/113153769-6a3ff400-9205-11eb-9cd0-2debce1f07b8.png)

[2021-03-31 13:45] ncksllvn commented on #21665
the password is `clptest123`!

[2021-03-31 13:47] Samara-Strauss commented on #19611
Thank you! Yes, AJ let me know you were out yesterday. I don't have visibility into the contractor calendar, so I didn't know! But thank you for getting to this so quickly this morning.

[2021-03-31 14:02] Samara-Strauss commented on #21814
Hey @DanielleThierryUSDSVA! This looks great. One question:

Should we be more specific about "part of your information" so people know what that means? Idk if pre-fill is always consistent, so if we can't be more specific there, no worries. This is great otherwise.

[2021-03-31 14:07] #14488 closed

[2021-03-31 14:09] timwright12 commented on #22409
Slide deck that contains a very high level system diagram: https://docs.google.com/presentation/d/1bGcQ1baPFrins5cxxjgtVr4XHSdsBL_5pIeQxTdKVIM/edit?usp=sharing

[2021-03-31 14:10] Samara-Strauss commented on #19562
@andaleliz thanks for bringing this up! Here are my thoughts:

- I think the general pattern of copy explaining we don't have information/button to update works well in terms of clarity and consistency with the current profile patterns.
- Personally, I think keeping all the buttons as "Edit" makes more sense given the wall of buttons. As for the "blank state" copy explaining we don't have a specif

[2021-03-31 14:18] mviterna commented on #17484
We had many discussions with various stakeholders on this issue. We have completed all code change over to row_id. There are several 21-9060 DBQ forms that are no longer "Forms". These are also present in the local postgres DB, but not Drupal. Per our conversation with the VA, we will be removing these, along with the handful of records that were duplicated as a result of changing the VA From Numb

[2021-03-31 14:18] mviterna commented on #17484
"10-10EZ (pdf)"
"VA4637"
"10-0484"
"VA0927a"
"VA0927b"
"VA0927d"
"VA0927e"
"VA10002"
"VA0927c"
"10-0485"
"10-0137B"
"VA4670"
"VA8"
"VA0880b"
"VA3215"
"VA646"
"VA4667c"
"VA0862"
"VA Form 22-8979"
"VA0880a"
"21-0960J-3"
"21-0960M-9"
"21-0960N-2"
"21-0960P-2"
"21-0960A-3"
"21-0960C-9"
"21-0960E-1"
"21-0960G-1"
"21-0960G-2"
"21-0960K-2"
"21-0960C-4"
"21-0960I-5"
"21-0960C-10"
"21-0960J-1"
"21-0960C-8"

[2021-03-31 14:19] #14489 closed

[2021-03-31 14:21] kelsonic commented on #21784
PR is up: https://github.com/department-of-veterans-affairs/vets-website/pull/16602

[2021-03-31 14:23] vhenry07 opened #22432 "Form 526 Updates - Branch of Service"
## Issue Description
On the new form, Branch of Service is now a radio button, allowing only 1 selection.

---
## Tasks
- Update to remove check boxes and add radio buttons

## Acceptance Criteria
- [ ] Completed form update.
---

[2021-03-31 14:28] joshkimux commented on #15244
I've just tested and confirmed that this issue still needs to be fixed. @brianalloyd could we prioritize this asap? This was flagged by the VA 508 office half a year ago 🙇

[2021-03-31 14:30] johnhashva commented on #6461
@MarciMcGuireGCIO just a reminder: you should check with @leahkeeler and @vhenry07 to confirm this tool fits in one of their portfolio/suites (that was the guidance I received from @mattpointzxer0 few days ago).

[2021-03-31 14:30] joshkimux commented on #14432
@MarciMcGuireGCIO given the recent work with handling multiple languages, is there any chance we could unblock this ticket? @SKasimow for awareness 🙇

[2021-03-31 14:30] erikphansen commented on #19611
PR is up. But it requires disabling an ESLint rule which gives me pause. https://github.com/department-of-veterans-affairs/vets-website/pull/16603

[2021-03-31 14:32] joshkimux commented on #14432
I've updated this to a 508-defect-1 to maintain consistency with other `lang` related tickets. This is a real blocker as Spanish screen reader users may not be able to understand any content pronounced in an English accent.

[2021-03-31 14:35] bethpottsVADEPO commented on #21788
@1Copenut I think we're good to close this ticket, but wanted to check with you to make sure you don't also need to validate before we do so!

[2021-03-31 14:35] brianalloyd commented on #15244
@joshkimux we will prioritize and place in this sprint for action.  Thanks for following up.

[2021-03-31 14:37] joshkimux commented on #9967
@batemapf was this ticket addressed in #9608(https://github.com/department-of-veterans-affairs/va.gov-team/issues/9608)? If so, could we close it out? Otherwise, who could we assign this too? 🙇

[2021-03-31 14:38] MarciMcGuireGCIO commented on #14432
@joshkimux I will set up some time to meet with @SKasimow to discuss and then will have a better idea of whether this is truly unblocked now. Thx!

[2021-03-31 14:39] ltrombley commented on #22007
Task #22007 - Prepare va-fayetteville-arkansas-health-care for Dual-state [VAMC] - is Complete and moved to Validate

[2021-03-31 14:40] MarciMcGuireGCIO commented on #17484
I've compared the list above and those specific form names do not currently appear in the CMS.

[2021-03-31 14:40] amyknox commented on #22068
Per 3/31 [slack convo](https://bah-ssp.slack.com/archives/C01DEL71Q11/p1617199472025400), SaveInProgressIntro will be updated to say: “After 60 days, we’ll delete the **application** and you’ll need to start over.”

[2021-03-31 14:44] Samara-Strauss commented on #19611
☝️ @joshkimux any thoughts?

[2021-03-31 14:45] joshkimux commented on #7877
This will be addressed in [#21957](https://github.com/department-of-veterans-affairs/va.gov-team/issues/21957), so I'll close this out!

@1Copenut for awareness

[2021-03-31 14:45] #7877 closed

[2021-03-31 14:53] lexicalninja commented on #20774
@msmanak for this part `1 new appointment scheduled, review your appointment (link to appointments)` we can't actually know if there is a new appt scheduled. We are getting a notification that there is an upcoming appt and don't know a number. We can probably consider just a notification dot without any numbers as an option here. What do you think?

[2021-03-31 14:56] joshkimux commented on #19611
@erikphansen , ESLint is calling out a redundant role since we're using the `<img>` tag along with a `role="img"`. [This is perfectly OK in the case of SVGs though as documented on deque.](https://deque.com/blog/creating-accessible-svgs/)

[2021-03-31 14:59] denisecoveyduc commented on #20168
@laurensimpson14 Thank you! This is very valuable information for us and exactly what we were looking for. Ok to close out this issue now.

cc: @MarciMcGuireGCIO I will DM you but worth looking at this information from your perspective as well. If you change the data range for the FY 2020 you can see form related searches appear on rows 7,11,13,15 and 16

cc: @johnhashva FYI - We anticipate using

[2021-03-31 15:01] joshkimux commented on #19611
One more note, could we replace the `alt` with `aria-labelledby="id-here"` ? @erikphansen
e.g.

[code]

[2021-03-31 15:04] jenniemc commented on #21809
documentation for confirmation card can be found on https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/appointments/va-online-scheduling/design/confirmation-cards.md

cc: @jbalboni @laurenernest

[2021-03-31 15:05] #21809 closed

[2021-03-31 15:08] mviterna commented on #17484
@MarciMcGuireGCIO  Please confirm staging

[2021-03-31 15:10] tressaellen commented on #21872
@bethpottsVADEPO I've made all the updates. Let me know if you see any last changes - if there's nothing else, then I think we're good to go! Thank you so much for your help! I really appreciate it!

![Screen Shot 2021-03-31 at 11.09.07 AM.png](https://images.zenhubusercontent.com/5dfa65bbbd078d1699e52294/7f215443-779f-47f4-9de8-7f2bb60e2cc7)

[2021-03-31 15:12] mnorthuis commented on #19821
A few thoughts/recommendations based on the screenshots provided.  You are welcome to close this issue at your discretion once you have the information you need.

- For the breadcrumb, consider adding the word "appointment" to the last segment of the breadcrumb and the small caps above the H1.   Home > Health care > Schedule and view appointments > VA online scheduling > New COVID-19 vaccine appoi

[2021-03-31 15:14] andreahewitt-odd opened #22433 "Update Production Gem: activerecord-postgis-adapter"
## Issue Description
As a more cautious approach to update our production gems, the upgrade path for our production gems should be split into three sub-steps, with increasing risk level. **_This step includes updating the activerecord-postgis-adapter gem._**

In the case of regression caused by a gem update, gems should be updated in isolation. It would be best to commit each update in isolation t

[2021-03-31 15:16] lunascoop opened #22434 "Update Keep in touch copy for disability rating page"
## Issue Description
The below page needs updating at the bottom where it says: Keep in touch.
https://www.va.gov/disability/about-disability-ratings/after-you-get-a-rating/

![Screen Shot 2021-03-31 at 11.13.38 AM.png](https://images.zenhubusercontent.com/5d5ab731409ffe1c4506543b/8d3fdcc6-51e1-4f3d-8403-17fdceb311d1)

Rewrite that text and point the user to these pages (and see if there are any o

[2021-03-31 15:16] joshkimux commented on #19611
@erikphansen Ignore the previous comment I deleted! 🙇
After testing on a screen reader, I think it would be more appropriate if the alt text was simply `alt="A personal check"` along with an `aria-describedby` pointing to the `p` below to avoid repetition/verbosity.

[2021-03-31 15:18] k80bowman commented on #21571
PR: https://github.com/department-of-veterans-affairs/vets-design-system-documentation/pull/416

[2021-03-31 15:19] MarciMcGuireGCIO commented on #17484
@mviterna confirmed on Staging.

[2021-03-31 15:21] craigwheeler opened #22435 "Update list loop component to render add item by default on review page"
## Issue Description
For the list loop component on the review page when a user updates the yes/no question from no -> yes it should display the add item by default

---
## Tasks
- [ ] update list loop to show add item by default
- [ ] verify correct item titles

## Acceptance Criteria
- [ ] list loop should show add item by default on the review page
- [ ] item titles should render correctly
---

[2021-03-31 15:22] bethpottsVADEPO commented on #21872
Perfecto! Thanks for implementing all the rounds of edits, @tressaellen!

[2021-03-31 15:25] bsmartin-ep commented on #18746
@laurensimpson14 -

As discussed, this is ready for your QA:

GTM

- Renamed GTM container to VSP - GitHub TOC and Platform Docs
- Created [this workspace](https://tagmanager.google.com/#/container/accounts/144676348/containers/30787921/workspaces/5) which adds a trigger to load PVs for depo-platform-documentation.scrollhelp.site

GA

- Renamed [this property](https://analytics.google.com/analytic

[2021-03-31 15:28] andreahewitt-odd opened #22436 "Migrate linting from CircleCI/Jenkins to Github Actions"
As a VFS team, I want a more stable and fast release process so that I can rely on builds and get my code out quickly.

As part of the effort to stabilize and speed up the deployment process, we want to move all the parts of the BRD process to github actions. To kick off this effort, we want to start with migrating linting to using Github Actions.

AC:
- [x] Get Rubocop to work in Github Actions
-

[2021-03-31 15:29] brianalloyd commented on #21665
Thanks @ncksllvn

[2021-03-31 15:35] #21868 closed

[2021-03-31 15:36] cindymerrill commented on #22144
I've shared my high-level research idea with John, and he was supportive. The research plan is targeted to complete by April 9, which will be next sprint, not this one. So should this ticket be moved out of this sprint and into the next one, @brianalloyd ?

[2021-03-31 15:37] andreahewitt-odd opened #22437 "Implement Github Auth for Sidekiq"
As a security engineer on VSP, I want Sidekiq to be behind an authentication so that not just everyone can access it.

AC:
- [x] Create oauth application in GH at organization level
- [x] Make sure it works for sidekiq
- [x] Socialize this change to anyone using Sidekiq
- [x] Figure out who we want to have access to Sidekiq
- [ ] Implement audit logging if that's built in (if not we can figure out

[2021-03-31 15:42] drorva commented on #22350
These should really be two separate epics.
* Discovery on next generation backend form handling
* Prototype separate backend into two: queue and processor

[2021-03-31 15:45] MarciMcGuireGCIO commented on #17484
@mviterna cc @johnhashva @zacharymorel @NCHLiberty confirmed that the duplicates are no longer visible on Production! 🎉

[2021-03-31 15:45] #17484 closed

[2021-03-31 15:49] laurensimpson14 commented on #20168
Wonderful, I hope you have a great rest of your day!

[2021-03-31 15:49] brianalloyd opened #22438 "R&S Mobile Search bar update [Grey Box]"
## Issue Description
_R&S had the correct search bar UI on desktop but the mobile UI needed an update. Mainly the grey box / filter menu that was hiding the search bar and radio buttons was removed and adjusted to the grid width to create consistency with other mobile tool UI._

[R&S mobile update design mockups](https://vsateams.invisionapp.com/share/8Y10IE2JN2J4#/screens/448630358_Resources_-_Su

[2021-03-31 15:51] joanneesteban commented on #22411
@ffafara-tw 👋🏻

On Analytics, we need people to have Google Accounts to give them Google Analytics access. We have folks create a Google Account/Gmail and have them [associate those emails](https://support.google.com/accounts/answer/176347?co=GENIE.Platform%3DDesktop&hl=en) to their VA.gov emails. These emails are generally owned by the individual VA person, but you can probably use a Google Group

[2021-03-31 15:54] tressaellen commented on #21872
Yay! I'll update all the documentation and then close this ticket.

[2021-03-31 15:59] MarciMcGuireGCIO commented on #14432
@joshkimux - @SKasimow and I are meeting tomorrow.  I will call the Forms API and update the description to include all of the impacted pages as more have been added since this was first opened in October.

[2021-03-31 16:01] SKasimow commented on #21582
@youngfreezyVA Hi Fareez - can you let us know what the recommendation is after you speak with @Yuffster-usds and platform team?  Thanks, Sharon

cc: @DanielleThierryUSDSVA

[2021-03-31 16:02] erikphansen commented on #19611
@joshkimux Updated! This also seemed like the perfect time to use a `figure` and `figcaption` so I made that change as well. Had to override some styles to make that work, but it still looks right:

<img width="381" alt="Screen Shot 2021-03-31 at 9 00 07 AM" src="https://user-images.githubusercontent.com/20728956/113174976-c9026f00-91ff-11eb-9c2e-403a2e367942.png">

[2021-03-31 16:02] bethpottsVADEPO commented on #21872
@tressaellen Noticed something that isn't urgent, but that we should make consistent:

#21369 "couldn't" in the header and the body text should be "can't" as we have it with other error messages.

We **couldn’t** access your appointment information

We’re sorry. Something went wrong on our end, and we **couldn’t** access your appointment information. Please try again later or go to the appointment

[2021-03-31 16:02] sshein commented on #21975
hiya @callen2563 can you all have a design intent with platform or meet with Ryan regarding where you're aligning with all the search consistency patterns before implementing just to make sure they are aware?

[2021-03-31 16:06] MarciMcGuireGCIO commented on #19170
@zacharymorel I am almost done with ranking (rank is based on a combination of detail page views and PDF downloads), and will now start filling in which forms are relevant to each term.  I will probably only do the first 50 for now, until we decide on next steps (i.e., are we doing this on the FE or working with the Lighthouse team on it).

| Unique Search Term

[2021-03-31 16:10] annaswims opened #22439 "Form 526 - Va210781a bug"
if in form
FORM 21-0781A  CLAIM FOR SERVICE CONNECTION FOR POSTTRAUMATIC STRESS DISORDER (PTSD) SECONDARY TO PERSONAL ASSAULT

http://sentry.vfs.va.gov/organizations/vsp/issues/30812/?query=SubmitForm0781+job%3AEVSS%3A%3ADisabilityCompensationForm%3A%3ASubmitForm0781+transaction%3ASidekiq%2FEVSS%3A%3ADisabilityCompensationForm%3A%3ASubmitForm0781&statsPeriod=14d

- [x] fix bug
- [x] quantify impac

[2021-03-31 16:13] jason-gcio commented on #22041
@micahchiang  - Thanks!
For the last question ('**Think like a malicious actor and answer "How could this interface be abused?"**'), is there anything above and beyond the regular things a bad actor could do on VA.gov within this form?  I can't imagine its doing anything different so there might not be anything to note here....

[2021-03-31 16:14] sporeboy commented on #17857
Discussed Search Rep with Josh and Beth. Redesigned Search Rep tool with mobile-first strategy. Took wizard-like step-by-step approach.

New mockups: https://xd.adobe.com/view/b80b0931-826b-413a-9b07-1efff71cae16-ed58/

[2021-03-31 16:16] ajakabcin commented on #21861
We went live with this feature to 10% of users today at 11:00 am et. Closing this issue

[2021-03-31 16:16] #21861 closed

[2021-03-31 16:17] leahkeeler opened #22440 "MCP- BE Integration Set up"
As a Veteran logging into expanded Debt Portal I want to see my Medical copay debt displayed

- [ ] Determine Integration method with BE data (Dynamo db?) Will this be integrated through vets API or another integration point

- [ ] If not Vets API, determine what security implications there are and determine what Ops requires (SSL certs, ports etc)

- [ ] Determine all per-prod environments and te

[2021-03-31 16:19] peggygannon opened #22441 "Content Feedback - Staging review - STEM automated decision"
## User story
Staging review for STEM automated denial
staging links:
STEM Scholarship Application on Staging: https://staging.va.gov/education/other-va-education-benefits/stem-scholarship/apply-for-scholarship-form-22-10203/introduction
Claim Status Tool on Staging: https://staging.va.gov/claim-or-appeal-status/

## VFS acceptance criteria
- [ ] Let VSP know when the **Must** feedback has been in

[2021-03-31 16:33] johnhashva opened #22442 "[Off-site Search] Structured Markup Entity Field Issue"
## Why you're here

SEO Audit/crawl reports from SEMRush -- and reported by Jen Lee --  have revealed issues that appear to be rooted in our site template structured markup for FAQs.  Details:

- attached report has identified 17 of our modernized pages as missing the mainEntity field value in structured data (schema markup).

[va.gov_structured_data_that_contains_markup_errors_20210218.xlsx](http

[2021-03-31 16:35] johnhashva commented on #20170
@denisecoveyduc I've just broken this one out with a second ticket Structured Markup Entity Field Issue #22442 -- so closing this "catch-all" version.

[2021-03-31 16:35] #20170 closed

[2021-03-31 16:36] tressaellen commented on #21872
I'll update that! Great catch, @bethpotts !

<img width="1072" alt="Screen Shot 2021-03-31 at 12 35 54 PM" src="https://user-images.githubusercontent.com/58752772/113179499-23013580-91fc-11eb-9b87-8845c9208b2f.png">

[2021-03-31 16:36] billfienberg opened #22443 "Benchmark Nightwatch sitemap a11y tests"

[2021-03-31 16:37] amyknox commented on #21747
Just verified 220 has denied STEM applications.  Yep - 4 of them.

![image](https://user-images.githubusercontent.com/41081945/113179639-d75f8380-921d-11eb-8058-6971c49b6af4.png)

[2021-03-31 16:38] zurbergram commented on #22315
https://github.com/department-of-veterans-affairs/vets-api/pull/6379

[2021-03-31 16:45] shanemelliott opened #22444 "Pharmacy RX Notifications"
- [x] Rob needs to change the lookup to t-2 days to look for Tracking numbers

- [x] Shane needs to modify Query for RX tracking.

[2021-03-31 16:49] ajakabcin commented on #22308
I'd like to add @laurenernest and @outerpress as optional attendees tomorrow. Thank you!

[2021-03-31 16:50] billfienberg opened #22445 "Parallelize Nightwatch A11y Sitemap Tests to Speed Up Execution"
Explore the idea of reconfiguring Nightwatch to leverage parallelization when executing the already 'chunked' sitemap.

[2021-03-31 16:52] billfienberg opened #22446 "Parallelize Cypress tests (without using Cypress Dashboard)"
# Description
Timebox the effort to parallelize tests without using Cypress Dashboard to 2 sprints. We should be wrapping up this effort by the end of sprint 50 (4/27/2021).

[2021-03-31 16:58] #22353 closed

[2021-03-31 17:07] allison0034 commented on #22308
@ajakabcin I sent them invites.

[2021-03-31 17:08] meganhkelley opened #22447 "Tools FE VFS Support - PR Reviews Sprint 49"
## Details

Add PRs to this epic during Sprint 48. Any time you ...
* Approve a PR
* Leave comments on a PR
* Request changes on a PR

Add PRs from ...
* VFS teams
* Other VSP or Platform Crew teams

DO NOT add PRs from ...
* FE Tools team

[2021-03-31 17:09] meganhkelley commented on #21659
Closing, end of sprint.

Next sprint tracked here: https://app.zenhub.com/workspaces/vsp---frontend-tools-5fc9325744944e0015ed1861/issues/department-of-veterans-affairs/va.gov-team/22447

[2021-03-31 17:09] #21659 closed

[2021-03-31 17:16] meganhkelley opened #22448 "Use a JS Set instead of an array in the replacePathInData() function"
## Details

Recommended in #20764

"Use a JS Set instead of an array in the replacePathInData() function. This will already save about 40 seconds with the current build. As the node count increases, this change will become more important, and eventually critical. It makes sense to tackle this first due to the immediate benefit to build time."

Make the change and test for regressions and issues.

[2021-03-31 17:18] cindymerrill commented on #20168
@denisecoveyduc I appreciate you sharing the links to these analytics reports with me (during a meeting yesterday), but I'm unable to see the reports. When I click on the link, I get taken to the "Welcome to Google Analytics" page instead. Is there something not set up correctly in my account, or do I need to have some additional access or privilege?

[2021-03-31 17:22] meganhkelley opened #22450 "Move debug stringification to template"
## Details

Recommended in #20764

Currently before piping data into metalsmith we take each page object, stringify it, and add the string to the corresponding file object. Then later in the Apply Layouts step we include the string in a liquid template to help with debugging. However, all those strings use a large amount of extra memory and slow down the build process. To save memory and time we c

[2021-03-31 17:23] tressaellen commented on #21372
Hi @bethpottsVADEPO I have something else for My VA for you when you have the time. Currently on My VA, the Claims and Appeals section loads way slower than the rest of the content. We have a spinner at the top, but if it determines that the user doesn't have any claims or appeals to show then we don't show the claims section at all. Which means a user could potentially see a spinner at the top th

[2021-03-31 17:23] zacharymorel commented on #19170
@MarciMcGuireGCIO Thank you!

[2021-03-31 17:25] lianilychee commented on #17376
@lianilychee move the checklist to the existing separate initiative

[2021-03-31 17:26] zacharymorel commented on #19170
So is there a common keyword search that people use to get to **21-4138** instead of using the number?

[2021-03-31 17:28] MarciMcGuireGCIO commented on #19170
@zacharymorel probably; that's what I'm working on now -- cross-referencing search terms against forms.

[2021-03-31 17:30] ncksllvn commented on #7320
Seems like we just need to add an Axe Check to this test and fix any a11y errors that may surface as a result, https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/applications/disability-benefits/disability-rating-calculator/tests/00-all-fields.e2e.spec.js

[2021-03-31 17:30] ncksllvn commented on #7320
FYSA that the calculator lives at `/disability/about-disability-ratings/`

[2021-03-31 17:31] meganhkelley opened #22451 "Launch checklist for content build separation"
Things we need to do for a content build separation release to prod

# Launch Checklist

## Blockers

- [x] [Review Instances are working](https://app.zenhub.com/workspaces/vsp---frontend-tools-5fc9325744944e0015ed1861/issues/department-of-veterans-affairs/va.gov-team/22158)
- [x] [Pakagist webhook is set up](https://app.zenhub.com/workspaces/vsp---frontend-tools-5fc9325744944e0015ed1861/issues/de

[2021-03-31 17:34] brianalloyd commented on #5390
@DanielleThierryUSDSVA do you think this ticket can be closed as it's been over a year and question if its still relevant.  I picked up as it had Public Website label but have limited context on this ticket.  LMK what you think.  Thanks.

[2021-03-31 17:35] MarciMcGuireGCIO opened #22452 "Find a VA Form: Implement new UI/UX Standards on Staging"
## User Story

As a user of the Find a VA Form Search, I would like this tool to have a consistent appearance and functionality with the other search tools on VA.gov

## Expected Behavior

Search box, search button and calls to action are updated as shown in the mockups created as part of the Search UI Consistency [Design Intent](https://github.com/department-of-veterans-affairs/va.gov-team/issues

[2021-03-31 17:35] peggygannon commented on #22441
Content feedback for STEM denial staging review is below:

**SHOULD**

STEM application:

1. QUESTION:  Will denied applicants receive a letter and an email? If so, I recommend replacing "or" with "and"  rewriting the sentence under "Decision" subhead to the following to be active voice, more succinct, and PL:

If we don’t approve your application, we’ll notify you by mail and email.

2. Recommend

[2021-03-31 17:37] meganhkelley opened #22454 "Discovery on replicating the content release auto-deploy schedule in content-build repo"
## Details

There is a schedule for automated content releases ("content only deploys") in vets-website. This functionality needs to be replicated in content-build.

## Acceptance Criteria
- [ ] Finalize & approve approach for replicating the schedule in content-build repo
   - [ ] 1 peer review minimum
- [ ] Create tickets for implementation

[2021-03-31 17:39] joshkimux commented on #19611
@erikphansen Even better! 🥳
Let me know when this goes up on staging and I'll validate + close accordingly 👍

[2021-03-31 17:40] meganhkelley opened #22455 "Daily accessibility scans in content-build need to alert Slack"
## Details

There are daily accessibility scans (sitemap nightwatch tests) in the content-build repo that seem to be running correctly but are not alerting in Slack as they should be.

## Acceptance Criteria
- [ ] Scheduled a11y tests in content-build repo are running correctly
- [ ] Output of scheduled tests alerts in `#-daily-accessibility-scan` correctly

[2021-03-31 17:41] caw310 opened #22456 "Create an Experimental Design section on design.va.gov"
## Issue Description
Create an Experimental Design section on design.va.gov
Include the usual subsections on the page.

---
## Tasks
- [ ]Create an Experimental Design section on design.va.gov

## Acceptance Criteria
- [ ] Experimental section is on design.va.gov

[2021-03-31 17:46] meganhkelley commented on #21724
Duplicative of Testing Tools team ticket, will link and close

[2021-03-31 17:49] CrystabelReiter opened #22457 "Migrate sketch templates to starter page in Sketch cloud"
Templates to bring over

- [x] Blank templates

- [x] Sign in templates

- [x] Modal templates

- [x] Blank form templates

- [x] Benefit templates - eligibility

- [x] Benefit templates - how to apply

- [x] Benefit templates - apply now

- [x] Benefit templates - after you apply

[2021-03-31 17:51] MarciMcGuireGCIO opened #22458 "Find a VA Form: Work with Lighthouse and VA on removing "ghost" forms from Forms API database"
## User Story

As a supporter of the Find a VA Form product, I would like for the records returned by the Forms API to exclude forms that were previously deleted in the VA Forms database -- "ghost" forms.

## Expected Behavior

When a request is made against the Forms API, the only records that are returned are those that are in the CMS and the VA Forms database.

## Acceptance Criteria

- [ ] For

[2021-03-31 17:52] denisecoveyduc commented on #20168
@laurensimpson14 Can you advice? Will Cindy or others require special permission to access this report? Thanks in advance.

[2021-03-31 17:53] caw310 opened #22459 "Documentation for contributing to the design system"
## Product Outline
[Link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/product-management/product-outline-template.md)

## High Level User Story/ies
As a VFS team member, I want to know how to contribute to the Design System so that I can add or update patterns and components to the DS.

## Hypothesis or Bet
**If** _we make this change_ **then** _we expect thi

[2021-03-31 17:53] lianilychee commented on #22417
Closing.  Modifying https://github.com/department-of-veterans-affairs/va.gov-team/issues/22418

[2021-03-31 17:53] #22417 closed

[2021-03-31 17:58] bessgreen commented on #22426
@drjecker i took a first pass at the specs and leveraged what we did for the input field CC #19584. the main open question is about the dimensions of the box and whether or not it needs to scale, or if it is a fixed height/width.

[2021-03-31 18:02] #22389 closed

[2021-03-31 18:03] MarciMcGuireGCIO opened #22460 "Find a VA Form: Add online tool link to form 5565"
## User Story
PM - Leah Keeler
_As a user I would like to have this feature because it would help me with this pain point_

## Expected Behavior

_Add expected behavior of the described feature here_

## Acceptance Criteria

- [ ] _Add bulleted list of all the task that bust be finished for the feature to be consider finished & ready to merge_

[2021-03-31 18:07] #20419 closed

[2021-03-31 18:08] peggygannon commented on #22308
Hi, @andaleliz have you sync'd with sitewide content on the content? If not, I am going to hold off providing feedback until the content is more developed. Please advise. thx!

Cc @shiragoodman @allison0034

[2021-03-31 18:09] ayushchak opened #22461 "Appointments Pagination"

[2021-03-31 18:10] ayushchak commented on #22461
This will require us to refactor the appt caching process as well.

[2021-03-31 18:12] #22458 closed

[2021-03-31 18:17] kevinmirc commented on #21215
@sshein, @ala-yna, @LinnJS, and I met to discuss the future error states.

We all agreed that we should have the three states [as documented](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/caregivers/ux-capture/future.md) (and only use without retry for 503 API error).

We also noted that showing the Data Error state for backend data validation made sense but: (

[2021-03-31 18:18] erikphansen commented on #19779
Merged! The un-sticky Profile menu will be on staging later today for validation by... @ajakabcin I guess?

[2021-03-31 18:29] shiragoodman commented on #20443
Sprint 49 objectives:
1. define the high level topic
2. specify if feedback is applicable for Design Intent, Midpoint Review and/or Staging Review
3. Review practice areas and confirm that the issues is applicable to the practice area
4. flag and overlap / duplicates
5. merge/roll up like/similar issues into broader "review criteria"

[2021-03-31 18:36] Samara-Strauss commented on #19779
Yep! And @andaleliz can also validate.

[2021-03-31 18:36] amyknox commented on #22142
@mnorthuis - VA form number has been assigned. :drum: : 1990s

Agree there's a question about whether this is an education or careers form.  It's training so that says "education" but applicants will have lost their job so "careers" makes sense, too.

Either way, it's not likely users are going to find it clicking through the site.  We designed and built the STEM application and I still have no id

[2021-03-31 18:40] kevinmirc opened #22462 "Use semver in vets-website to reference vets-json-schema"
**Description**
vets-website currently references [vets-json-schema](https://github.com/department-of-veterans-affairs/vets-json-schema) versions with a [commit hash](https://github.com/department-of-veterans-affairs/vets-website/blob/master/package.json#L366). This may cause confusion when multiple teams are updating the reference. If multiple developers have `vets-website` PRs open with differen

[2021-03-31 18:41] MarciMcGuireGCIO commented on #16632
@zacharymorel we already had this discovery issue related to that 508 language-related issue (#14432), so I'll put this into the current sprint instead of the actual 508 ticket.

[2021-03-31 18:48] bessgreen opened #22463 "Hide Drafts & Deleted folders"
## Acceptance Criteria
1. On the Folders list page, hide the following ListItems from the UI, as they are out-of-scope for app store launch:
     - Drafts
     - Deleted

Note: we will add these back in at a later date. For app store launch, we’re not offering the ability to edit drafts or delete messages, which is why we are hiding these folders in the interim.

## Reference
![IMG_0140.jpeg](http

[2021-03-31 18:48] bessgreen commented on #22463
Blocked: awaiting content from VA

[2021-03-31 18:50] #19532 closed

[2021-03-31 18:51] ajakabcin opened #22464 "Authenticated Experience: Sprint 45 (4/7 - 4/20)"
## Priorities

1. Continue with direct deposit for edu launch
2. Finish My VA design (if not done already) and My VA build
3. Continue work on preferred facility and communications preferences
4. Profile tickets

## Profile

**PM**
- [ ] Design and documentation familiarization #22575

**Design**
- [ ] Create confirmation email for when contact information is updated on VA.gov #8383

From Previous

[2021-03-31 18:51] ala-yna opened #22465 "Request access to Google Analytics and/or Domo"
# Request Google Analytics and/or Domo access

## What this form is for
Use this template to request access to Google Analytics and/or Domo

## User Email Address
Please link this issue to the DSVA Slack channel [#vfs-platform-support](https://dsva.slack.com/channels/vfs-platform-support), add VSP Analytics & Insights to your message, and provide the email address(es) for user(s) requesting access

[2021-03-31 18:52] bessgreen commented on #20999
Blocked: awaiting content from VA

Open questions:
1. should this alert also display on the File Upload flow?

[2021-03-31 19:00] #18215 closed

[2021-03-31 19:00] #9789 closed

[2021-03-31 19:00] #9791 closed

[2021-03-31 19:00] #7547 closed

[2021-03-31 19:00] #13271 closed

[2021-03-31 19:14] andaleliz commented on #22308
@peggygannon I did sync with Danielle to get the content in the current state, but I have a formal ticket out there that I'm waiting to hear back on for final recommendations from the team.

[2021-03-31 19:17] MarciMcGuireGCIO commented on #14432
I've reviewed the data returned from the Forms API, and it appears that the language tag is not being set correctly.  All forms that are denoted as Spanish in their `form_name` have a value of "en" in the `language` field as shown below.

| Column1.attributes.form_name | Column1.attributes.language |
|------------------------------|-----------------------------|
| 10-0137 (espanol)            | en